<form ng-submit="update()" name="form.billing" id="billingForm" novalidate>
  <confirmations-personal alert-data="contactNotification"></confirmations-personal>
  <div class="modal-body modal-body-members" ng-class="{'blurred-bg': contactNotification.message}">
    <h3>{{'label.alignRightColumn.AccountSettings' | translate}}</h3>
    <fs-tabset update-parent-scope="true">
      <fs-tab class="contact-tab" is-open="tabs.contactTab" ng-click="tabs.contactTab =  true; tabs.paymentTab = false">
        <tab-heading>{{'label.align.accountSettings.Contact' | translate}}</tab-heading>
        <div ng-include="'app/main/align/accountSettings/contact.html'"></div>
      </fs-tab>
      <fs-tab class="payment-tab" is-open="tabs.paymentTab" ng-click="tabs.contactTab =  false; tabs.paymentTab = true">
        <tab-heading>{{'label.align.accountSettings.Payment' | translate}}</tab-heading>
        <div ng-include="'app/main/align/accountSettings/payment.html'"></div>
      </fs-tab>
    </fs-tabset>
    <div class="login-error-block fadein" ng-if="account.activeSubscription.errorCode === 'DECLINED'" style="height: 2.2em;">
      <h4 class="error-message">{{'label.align.accountSettings.Errorwhilechargingyourcard' | translate}}</h4>
    </div>
    <div class="login-error-block fadein" ng-if="errorMessage">
              <span style="cursor: pointer; font-weight: bold; float: right; color:white; margin-right: 8px; margin-top: 3px;"
                    ng-click="clearErrorMessage();">x</span>
      <h4 class="error-message account-error-message" style="display: inline-block;">{{errorMessage}}</h4>
    </div>
  </div>
  <div class="modal-footer modal-members-footer">
    <button class="btn-solid btn-outline" type="button" ng-disabled="processing" class="pull-right" ng-click="removeBillingInfo($event)" ng-if="tabs.paymentTab && account.billing.number && account.billing.number.indexOf('XXXXXX') !== -1 && isFreePlan">{{'label.align.accountSettings.Removepaymentinfo' | translate}}</button>
    <button class="btn-solid btn-primary" type="submit" ng-disabled="processing || (!form.billing.$valid && tabs.paymentTab)">{{'label.align.accountSettings.Update' | translate}}</button>
  </div>
</form>
