.american-express, .diners-club, .jcb, .master, .paypal, .visa, .discover{
  background: url(../assets/images/cards.png) no-repeat;
  width: 80px;
  height: 49px;
  margin-top: 13px;
}

.american-express{
  background-position: -80px -50px;
}
.diners-club{
  background-position: 0 -50px;
}
.discover{
  background-position: -160px -50px;
}
.jcb{
  background-position: 0 0;
}
.master{
  background-position: -160px 0;
}
.paypal{
  background-position: -240px 0;
}
.visa{
  background-position: -80px 0;
}

.account-settings-modal .ngdialog-content {
  min-width: 60em;
}

.subscribe-to-plan-modal .ngdialog-content {
  min-width: 50em;
}

.current-plan-info {
  padding: 20px;
  background-color: #ffffff;
}

.plan-switched-to {
  margin-top: 20px;
}

.error-plan-close {
  cursor: pointer;
  font-weight: bold;
  float: right;
  color:white;
  margin-right: 8px;
  margin-top: 3px;
}

.plan-message {
  display: inline-block;
}

.plan-message-update {
  display: inline-block;
  margin-left: 10px;
}

.plan-button {
  margin-left: 5px;
}

.choose-plan-margin {
  margin-bottom: 15px;
}

.main-price {
  margin-left: 1.4em;
  margin-right: 0;
}

.price {
  padding-bottom: 1.2em;
  text-align: center;
  padding-top: 0.75em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.price ul {
  height: 500px;
  width: 90%;
  list-style: none;
  float: left;
  margin: 0;
  border: 1px solid @mono-light;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: @white;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.price ul:hover {
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -o-transform: scale(1.015);
  opacity: .9;
}

.price ul li {
  border-bottom: 1px dashed @mono-light;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.25em;
}

.price ul li:first-child {
  font-size: 19px;
  font-weight: bold;
}

.price ul li:nth-child(1) {
  color: @mono-medium;

  .description {
    margin-top: 10px;
    line-height: normal;
    word-wrap: break-word;
    text-align: center;
    font-family: inherit;
    min-height: 300px;
    font-size: 14px;
  }
}

.price ul li:last-child {
  border-bottom: none;
  bottom: 0;
  position: absolute;
  font-size: 19px;
  font-weight: bold;
  left: 0;
  color: @white;
  width: 100%;
  background-color: @mono-medium;
}

.price {
  li {
    &.ad-item {
      font-weight: bold;
      border-bottom: none;
    }
  }
}

.ad-spend-margin {
  margin-top: -20px;
}

.plan-selected {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;

  ul {
    border: 1px solid @nature-heavy;
    -moz-box-shadow: 0 0 6px rgba(119, 159, 121, 1);
    -webkit-box-shadow: 0 0 6px rgba(119, 159, 121, 1);
    box-shadow: 0 0 6px rgba(119, 159, 121, 1);
    li:last-child {
      color: @white;
      background-color: @nature-heavy;
    }
    li:nth-child(1) {
      color: @nature-heavy;
    }
    &:hover {
      -moz-box-shadow: 0 0 6px rgba(119, 159, 121, 1);
      -webkit-box-shadow: 0 0 6px rgba(119, 159, 121, 1);
      box-shadow: 0 0 6px rgba(119, 159, 121, 1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
    }
  }
}
.custom-ng-invalid {
  border: 1px solid;
  border-color: red !important;
}

.aster-invalid {
  float: right;
  color: red;
  text-transform: none;
  &.empty {
    float: none;
  }
}
.account-error-message {
  color: @white;
}
