<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="form-group">
        <h4>{{'label.align.accountSettings.CompanyName' | translate}}
          <span ng-if="!isFreePlan" class="aster-invalid" ng-class="{'empty': account.companyName}">*
            <span ng-show="!account.companyName">{{'label.align.accountSettings.CompanyName' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
          <input type="text" ng-class="{'custom-ng-invalid': !account.companyName}" name="contactcompanyName"
               placeholder="Fractal Sciences" ng-model="account.companyName" class="form-control" required ng-minlength="2" ng-maxlength="64">
      </div>
      <div class="form-group">
        <h4>{{'label.align.accountSettings.FirstName' | translate}}
          <span ng-if="!isFreePlan" class="aster-invalid" ng-class="{'empty': account.firstName}">*
            <span ng-show="!account.firstName">{{'label.align.accountSettings.FirstName' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="text" ng-class="{'custom-ng-invalid': !account.firstName}" name="contactFirstName"
               placeholder="John" ng-model="account.firstName" class="form-control" required>
      </div>
      <div class="form-group">
        <h4>{{'label.align.accountSettings.LastName' | translate}}
          <span ng-if="!isFreePlan" class="aster-invalid" ng-class="{'empty': account.lastName}">*
            <span ng-show="!account.lastName">{{'label.align.accountSettings.LastName' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="text" ng-class="{'custom-ng-invalid': !account.lastName}" name="contactLastName"
               placeholder="Doe" ng-model="account.lastName" class="form-control" required>
      </div>
      <div class="form-group">
        <h4>{{'label.align.accountSettings.Emailaddress' | translate}}
          <span ng-if="!isFreePlan" class="aster-invalid" ng-class="{'empty': account.emailAddress}">*
            <span ng-show="!account.emailAddress">{{'label.align.accountSettings.Emailaddress' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="email" name="contactEmailAddress" placeholder="company@email.com"
               ng-model="account.emailAddress" class="form-control" required>
      </div>
      <div class="form-group">
        <h4>{{'label.align.accountSettings.Phone' | translate}}
          <span ng-if="!isFreePlan" class="aster-invalid" ng-class="{'empty': account.phone}">*
            <span ng-show="!account.phone">{{'label.align.accountSettings.Phone' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="tel" placeholder="{{'label.align.accountSettings.Phone' | translate}}"
               ng-model="account.phone" class="form-control" ng-required="!isFreePlan">
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 2em;">
    <div ng-if="account.activeSubscription" class="current-plan-info">
      <div>{{'label.align.accountSettings.YourCurrentPlan' | translate}}</div>
      <span>{{'label.align.accountSettings.Plan' | translate}}: </span>{{account.activeSubscription.subscriptionPlan.planName}}
      <div><span>{{'label.align.accountSettings.MonthlyFee' | translate}}: </span>{{account.activeSubscription.subscriptionPlan.amount / 100 | currency:undefined:0 }}/month</div>
      <div ng-if="false">{{'label.align.accountSettings.Event' | translate}}: {{account.activeSubscription.trackedEvents | number }}/{{account.activeSubscription.subscriptionPlan.trackedEventsLimit >= 0 ? (account.activeSubscription.subscriptionPlan.trackedEventsLimit | number) : 'label.align.accountSettings.Unlimited' | translate}} </div>
      <div>{{'label.align.accountSettings.Spendthisbillingcycle' | translate}}: {{account.activeSubscription.adSpent | currency:undefined:0 }}/{{account.activeSubscription.subscriptionPlan.adSpentLimit >= 0 ? (account.activeSubscription.subscriptionPlan.adSpentLimit | currency:undefined:0) : 'label.align.accountSettings.Unlimited' | translate}} </div>
      <div><span>{{'label.align.accountSettings.BillingRenewalDate' | translate}}: </span>{{account.activeSubscription.endsAt | date }}</div>
      <div ng-if="account.pendingSubscription" style="margin-top: 10px;">{{'label.align.accountSettings.Startingfromyouwillbeswitchedto' | translate:{ from: (account.activeSubscription.endsAt | date), planName: account.pendingSubscription.subscriptionPlan.planName } }}</div>
      <button ng-if="!futurePlan" style="margin-top: 15px; width: 100%;" class="btn-solid btn-outline" ng-disabled="processing" ng-click="subscribeToPlan()">{{'label.align.accountSettings.Changeyourplan' | translate}}</button>
    </div>
    <div ng-if="!account.activeSubscription" class="current-plan-info">
      <button style="margin-top: 15px; width: 100%;" class="btn-solid btn-outline" ng-disabled="processing" ng-click="subscribeToPlan()">{{'label.align.accountSettings.Chooseyourplan' | translate}}</button>
    </div>
  </div>
</div>
