<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="form-group">
        <h4>{{'label.paymentInfo.Address1' | translate}} <font ng-if="!isFreePlan" color="red">*</font>
          <span ng-if="!isFreePlan" class="aster-invalid" >
            <span ng-show="!account.address1">* {{'label.paymentInfo.Address1' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="text" placeholder="{{'label.paymentInfo.Address1' | translate}}" ng-model="account.address1" class="form-control" ng-required="!isFreePlan">
      </div>
      <div class="form-group">
        <h4>{{'label.paymentInfo.Address2' | translate}}</h4>
        <input type="text" placeholder="{{'label.paymentInfo.Address2' | translate}}" ng-model="account.address2" class="form-control">
      </div>
      <div class="form-group">
        <h4>{{'label.paymentInfo.City' | translate}} <font ng-if="!isFreePlan" color="red">*</font>
          <span ng-if="!isFreePlan" class="aster-invalid">
            <span ng-show="!account.city"> *{{'label.paymentInfo.City' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="text" placeholder="{{'label.paymentInfo.City' | translate}}" ng-model="account.city" class="form-control" ng-required="!isFreePlan">
      </div>
      <div class="form-group">
        <h4>{{'label.paymentInfo.State' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
          <span ng-if="!isFreePlan" class="aster-invalid">
            <span ng-show="!account.state">* {{'label.paymentInfo.State' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <fs-select fs-options="state.key as state.label for state in statesView" ng-model="account.state" ng-required="!isFreePlan"></fs-select>
      </div>
      <div class="form-group">
        <h4>{{'label.paymentInfo.Zip' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
          <span ng-if="!isFreePlan" class="aster-invalid">
            <span ng-show="!account.zip">* {{'label.paymentInfo.Zip' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input type="text" placeholder="{{'label.paymentInfo.Zip' | translate}}" ng-model="account.zip" class="form-control" ng-required="!isFreePlan">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <div class="form-group">
        <h4>{{'label.paymentInfo.FirstName' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
          <span ng-if="!isFreePlan" class="aster-invalid">
            <span ng-show="!account.billing.firstName">* {{'label.paymentInfo.FirstName' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input data-recurly="first_name" type="text" ng-required="!isFreePlan" placeholder="John" ng-model="account.billing.firstName" class="form-control">
      </div>
      <div class="form-group">
        <h4>{{'label.paymentInfo.LastName' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
          <span ng-if="!isFreePlan" class="aster-invalid">
            <span ng-show="!account.billing.lastName">* {{'label.paymentInfo.LastName' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
          </span>
        </h4>
        <input data-recurly="last_name" type="text" ng-required="!isFreePlan" placeholder="Doe" ng-model="account.billing.lastName" class="form-control">
      </div>
      <div class="row">
        <div class="col-md-15">
          <div class="form-group" style="margin: 0;">
            <h4>{{'label.paymentInfo.Cardnumber' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
              <span ng-if="!isFreePlan" class="aster-invalid">
                <span ng-show="!account.billing.number">* {{'label.paymentInfo.Cardnumber' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
              </span>
            </h4>
            <input fs-card-validation="number" data-recurly="number" type="text" ng-required="!isFreePlan" placeholder="4111-1111-1111-1111" ng-model="account.billing.number" class="form-control">
          </div>
        </div>
        <div class="col-md-8 col-md-offset-1" ng-if="true || account.billing.number && cardValid && account.billing.number.indexOf('XXXXXX') == -1">
          <div class="form-group" style="margin: 0;">
            <h4>{{'label.paymentInfo.CVV' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
                    <span ng-if="!isFreePlan" class="aster-invalid">
                      <span ng-show="!account.billing.cvv">* {{'label.paymentInfo.CVV' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
                    </span>
            </h4>
            <input fs-card-validation="cvv" data-recurly="cvv" type="text" ng-required="!isFreePlan" placeholder="123" ng-model="account.billing.cvv" ng-change="onCvvChange()" class="form-control">
          </div>
        </div>
        <!--<div class="col-md-8">-->
          <!--<div class="form-group" style="margin: 0;">-->
            <!--<div ng-class="cardType"></div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="row">
        <div class="col-md-24">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <h4>{{'label.paymentInfo.Month' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
                    <span ng-if="!isFreePlan" class="aster-invalid">
                      <span ng-show="!account.billing.month">* {{'label.paymentInfo.Month' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
                    </span>
                  </h4>
                  <input fs-card-validation="month" name="month" data-recurly="month" type="number" ng-required="!isFreePlan" min="1" max="12" placeholder="1" ng-model="account.billing.month" class="form-control">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <h4>{{'label.paymentInfo.Year' | translate}}<font ng-if="!isFreePlan" color="red">*</font>
                    <span ng-if="!isFreePlan" class="aster-invalid">
                      <span ng-show="!account.billing.year">* {{'label.paymentInfo.Year' | translate}} {{'label.align.accountSettings.isrequired' | translate}}</span>
                    </span>
                  </h4>
                  <input fs-card-validation="year" name="year" data-recurly="year" type="number" ng-required="!isFreePlan" min="14" max="2100" ng-model="account.billing.year" placeholder="2015" class="form-control">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="recurly-token" data-recurly="token" ng-model="account.billing.token">
  </div>
</div>
