<div class="row">
  <div class="col-md-24 main-links-manager-block">
    <div class="links-header">
      <h3>{{ 'label.act.linksManager.LinksManager' | translate }}</h3>
      <button class="btn-solid btn-primary create-link" ng-click="createNewLink()"><i class="fa fa-play-circle-o"></i> {{ 'label.act.linksManager.CreateNewLink' | translate }}</button>
    </div>
  </div>
  <div class="col-md-24 header-choose-options">
    <div class="row">
      <div class="col-md-6">
        <div class="fs-dropdown default new-project">
          <div class="fs-dropdown-link" on-state="click">
            <i class="fa fa-caret-down"></i>
            <span>{{ selectedProject.name ? selectedProject.name : 'Select Project' | translate }}</span>
          </div>
          <ul class="fs-dropdown-menu projects-align-menu">
            <li ng-repeat="project in fractalAccountInfo.currentTeam.projects | orderBy:'name'" ng-click="updateProjectLinks(project)">{{ project.name }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-8">
        <daterange-picker class="project-report-daterangepicker" options="daterangePickerOpts" ng-model="timeFrame" ng-change="updateTimeframe(timeFrame)">
        </daterange-picker>
      </div>
    </div>
  </div>
  <div class="col-md-24 links-table-parent" ng-if="gridOptions.data && gridOptions.data.length >= 1">
      <div ui-grid="gridOptions"
           ui-grid-selection
           ui-grid-pagination
           class="grid links-manager-grid"></div>

  </div>
  <div class="col-md-24" ng-if="!gridOptions.data || gridOptions.data.length < 1">
    <div class="col-md-24 no-project-selected">
      <span ng-if="!gridOptions.data">{{ 'label.act.linksManager.SelectProjectToShowLinksForIt' | translate }}</span>
      <span ng-if="gridOptions.data && gridOptions.data.length < 1">{{ 'label.act.linksManager.ThereNoLinksCreated' | translate }}</span>
    </div>
  </div>
</div>
