.main-links-manager-block {
  width: 99.5%;
 .links-header {
   border-bottom: 3px solid @mono-light;
   .create-link {
     float: right;
     margin-top: -50px;
     i {
       margin-right: 5px;
     }
   }
 }
}
.header-choose-options {
  margin-top: 1em;
  width: 99.5%;
}

.no-project-selected {
  margin-top: 2em;
  background-color: @pale-medium;
  border: 1px solid @mono-light;
  padding: 1.5rem;
  text-align: center;
}

.link-more-info {
  margin-top: 2em;
  background-color: @pale-medium;
  border: 1px solid @mono-light;
  padding: 1rem;
  width: 99.5%;
  .link-first-row {
    margin-top: .5em;
    h3, span {
      margin: 0;
      font-weight: bold;
    }
  }
  .link-second-row {
    margin-top: 1.5em;
    span {
      font-weight: bold;
      font-size: .85em;
    }
    h4 {
      color: @mono-heavy;
    }
  }
}

.links-table-parent {
  margin-top: 2em;
  width: 99.5%;
  margin-bottom: 2em;
  .url-description-mod {
    font-size: 1.3em;
    font-weight: bold;
    height: 100%;
    padding: 0.95em;
    padding-left: 0.3em;
  }
  .url-hash-mod {
    padding: 1.25em;
  }
  .url-copy-mod {
    padding: 1em;
    padding-left: 0.3em;
    .copy-link {
      margin-right: 5px;
      color: @nature-heavy;
    }
  }
}

.url-parent-mod {
  padding: 1em;
  padding-left: 0.3em;
}

.url-hash-header {
  padding-left: 1em;
}

.links-manager-grid {
  height: 35em;
  .ui-grid-viewport {
    overflow-x: hidden !important;
  }
  .ui-grid-top-panel {
    background: none;
    background-color: @pale-light;
  }

  .ui-grid-pager-panel {
    button {
      font-family: inherit;
      font-size: 0.7rem;
      padding: @padding-base-vertical @padding-base-horizontal;
      border-radius: @base-border-radius;
      text-align: center;
      border: 1px solid @mono-light;
      transition: all 0.3s ease 0s;
      &:hover,
      &:active,
      &.active,
      .open > .dropdown-toggle& {
        opacity: 1;
        text-decoration: none;
        background-color: @nature-heavy;
      }
    }
  }

  [class^="ui-grid-icon"]:before,
  [class*=" ui-grid-icon"]:before {
    color: @nature-heavy;
    font-family: FontAwesome;
    content: "\f058";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .25em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .15em;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
  .ui-grid-icon-up-dir:before {
    color: @mono-medium;
    font-family: FontAwesome;
    content: '\f0d8' !important;
  }
  .ui-grid-icon-down-dir:before {
    color: @mono-medium;
    font-family: FontAwesome;
    content: '\f0d7' !important;
  }
  .ui-grid-row-header-cell {
    border: none;
  }
  .ui-grid-row, .ui-grid-cell {
    cursor: pointer;
  }
  .ui-grid-row:hover {
    .ui-grid-cell {
      background-color: @nature-light;
    }
  }
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border: none;
    background-color: @white !important;
  }
  .ui-grid-cell {
    border: none;
    input {
      margin-top: 1em;
      padding-top: .4em;
      padding-bottom: .4em;
    }
  }
  .ui-grid-header-cell {
    border: none;
  }
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border: none;
  }
  .ui-grid-viewport::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    background-color: @pale-light;
  }

  .ui-grid-viewport::-webkit-scrollbar
  {
    width: 8px;
    background-color: @pale-medium;
  }

  .ui-grid-viewport::-webkit-scrollbar-thumb
  {
    background-color: @nature-heavy;
    border: 2px solid transparent;
  }
}
