<div class="row">
  <div class="col-md-24 main-links-manager-block">
    <div class="links-header">
      <h3>{{ 'label.act.linksManager.LinksManager' | translate }}</h3>
      <button class="btn-solid btn-primary create-link" ng-click="createNewLink()"><i class="fa fa-play-circle-o"></i> {{ 'label.act.linksManager.CreateNewLink' | translate }}</button>
    </div>
  </div>

  <div class="col-md-24 header-choose-options">
    <div class="row">
      <div class="col-md-6">
        <button class="btn-solid btn-primary create-link" ng-click="backToLinks()">{{ 'label.act.linksManager.BackToAllLinks' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="col-md-24">
    <div class="col-md-24 link-more-info">
      <div class="row link-first-row">
        <div class="col-md-8">
          <h3 fs-click-to-edit="groupDetails.description" style="font-size: 1.2em;">{{groupDetails.description}}</h3>
        </div>
        <div class="col-md-16">
          <span>{{ 'label.act.linksManager.OriginalUrl' | translate }} {{detailedInfo[0].originalUrl}}</span>
        </div>
      </div>

      <div class="row link-second-row">
        <div class="col-md-5">
          <h4>{{ 'label.act.linksManager.Types' | translate }}</h4>
          <span ng-repeat="paid in detailedInfo.displayPaid">
            {{paid}}<span ng-if="!$last">, </span>
          </span>
        </div>
        <div class="col-md-5">
          <h4>{{ 'label.act.linksManager.Channels' | translate }}</h4>
          <span ng-repeat="channel in detailedInfo.displayChannels">
            {{channel | channelMap}}<span ng-if="!$last">, </span>
          </span>
        </div>
        <div class="col-md-5">
          <h4>{{ 'label.act.linksManager.SubLinks' | translate }}</h4>
          <span>{{detailedInfo.length}}</span>
        </div>
        <div ng-class="{'col-md-9': (!detailedInfo[0].shortUrl && !detailedInfo[0].multiLinkPrefix && !(gridOptions.data.length > 1)), 'col-md-5': gridOptions.data.length > 1}">
          <h4 ng-if="detailedInfo[0].shortUrl && !(gridOptions.data.length > 1)">{{ 'label.act.linksManager.ShortUrl' | translate }}</h4>
          <h4 ng-if="!detailedInfo[0].shortUrl && !detailedInfo[0].multiLinkPrefix && !(gridOptions.data.length > 1)">{{ 'label.act.linksManager.LongUrl' | translate }}</h4>
          <span ng-if="detailedInfo[0].shortUrl && !detailedInfo[0].multiLinkPrefix && !(gridOptions.data.length > 1)">{{detailedInfo[0].shortUrl}}</span>
          <span ng-if="!detailedInfo[0].shortUrl && !detailedInfo[0].multiLinkPrefix && !(gridOptions.data.length > 1)">{{detailedInfo[0].longUrl}}</span>
          <span ng-if="detailedInfo[0].multiLinkPrefix && !(gridOptions.data.length > 1)">{{detailedInfo[0].multiLinkPrefix}}</span>
        </div>
        <div class="col-md-4">
          <button class="btn-solid btn-outline" ng-click="exportShortUrls()"
                  ng-if="gridOptions.data && gridOptions.data.length > 1">{{ 'label.act.linksManager.DownloadAllCSV' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-24 links-table-parent" ng-if="gridOptions.data && gridOptions.data.length > 1">
    <div ui-grid="gridOptions"
         ui-grid-selection
         ui-grid-pagination
         ui-grid-exporter
         ui-grid-edit
         ui-grid-row-edit
         class="grid links-manager-grid"></div>

  </div>
</div>
