<div class="col-md-12 welcome-message">
    <h1>{{ 'label.register.Joinnowtogetstartedwithaccomplice' | translate }} </h1>
    <h3>{{ 'label.register.WehelpyoumakemanageandmeasureyourdigitalmarketingactivitiesAndweoptimizeforyourbusinessoutcomesthatmatterEngageyouraudiencewithrelevantmessagingandinvestintheeffortsthatperformbest' | translate }} </h3>
    <div>
        <h3>{{ 'label.register.Letsgetgoing' | translate }} </h3>
    </div>
</div>


<div class="col-md-10 container">
    <div class="forms signup">
        <form name="form.billing" ng-submit="processRegisterUser()" novalidate>
            <h3>{{'label.register.SignUp' | translate}}</h3>
            <div id="registerForm">
                <div class="row">
                    <div class="col-md-24">
                        <div class="form-group">
                            <h4>{{'label.register.CompanyName' | translate }}</h4>
                            <input class="form-control" type="text" name="companyName" placeholder="{{'label.register.CompanyName' | translate }}" ng-model="account.companyName" required ng-minlength="2" ng-maxlength="45"/>
                            <div ng-show="form.billing.companyName.$error.minlength"><font color="red">Account Name needs to be at least 2 characters long.</font></div>
                            <div ng-show="form.billing.companyName.$error.maxlength"><font color="red">Account Name is limited to 45 characters long.</font></div>
                        </div>
                        <div class="form-group">
                            <h4>{{'label.register.Email' | translate }}</h4>
                            <input class="form-control" type="email" name="emailAddress" placeholder="{{'label.register.Email' | translate }}" ng-model="account.emailAddress" required/>
                            <span ng-show="form.billing.emailAddress.$invalid && !form.billing.emailAddress.$pristine"><font color="red">Please enter your email address</font></span>
                        </div>
                        <div class="form-group">
                            <h4>{{'label.register.FirstName' | translate }}</h4>
                            <input class="form-control" type="text" name="accountFirstName" placeholder="{{'label.register.FirstName' | translate }}" ng-model="account.accountFirstName" ng-required="!isFreePlan"/>
                        </div>
                        <div class="form-group">
                            <h4>{{'label.register.LastName' | translate }}</h4>
                            <input class="form-control" type="text" name="accountLastName" placeholder="{{'label.register.LastName' | translate }}" ng-model="account.accountLastName" ng-required="!isFreePlan"/>
                        </div>
                        <div class="form-group">
                            <!-- <div class="form-group">
                              <h4>{{'label.register.Phone' | translate}}<font ng-if="!isFreePlan" color="red">*</font></h4>
                              <input type="tel" placeholder="{{'label.register.Phone' | translate}}" ng-model="account.phone" class="form-control" ng-required="!isFreePlan">
                            </div> -->
                            <div class="form-group">
                                <h4>{{'label.register.Password' | translate }}</h4>
                                <input class="form-control" placeholder="{{'label.register.Password' | translate }}" type="password" id="newPassword" name="newPassword" ng-model="account.newPassword" ng-minlength="6" required/>
                            </div>
                            <div class="form-group">
                                <h4>{{'label.register.ConfirmPassword' | translate }}</h4>
                                <input class="form-control" placeholder="{{'label.register.ConfirmPassword' | translate }}" type="password" id="confirmPassword" name="confirmPassword" ng-model="account.confirmPassword" ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" required fs-pw-check="newPassword"/>
                            </div>
                            <div ng-show="form.billing.$error">
                                <div ng-show="form.billing.confirmPassword.$error.pwmatch">Passwords don't match.</div>
                                <div ng-show="form.billing.newPassword.$error.minlength">Password needs to be at least 6 characters long.</div>
                            </div>
                        </div>
                        <div vc-recaptcha tabindex="3" theme="clean" key="publicKey" lang="en" ng-show="publicKey"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-16 margin-top10">
                            <input type="checkbox" required ng-model="tosAccepted" ng-change="acceptTos()" id="accept-tos" />
                            <label for="accept-tos" >
                                {{ 'label.register.Accept' | translate }}<a ng-click="openTermsAndConditions()"> {{'label.register.TermsOfService' | translate }}</a>
                            </label>
                            {{'label.register.AlreadyRegistered' | translate }} <a href="#/login">{{'label.register.Login' | translate }} </a>
                        </div>
                        <div class="col-md-8 margin-top10">
                            <button class="btn btn-solid btn-primary login-button" type="submit" ng-disabled="!form.billing.$valid" ng-click="dataLayerSubmit()"> {{'label.register.SignUp' | translate}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
