<div class="col-md-21 container">
  <div class="forms" style="width: 75%">
    <form name="form.billing" ng-submit="processRegisterUser()" novalidate>
      <h4>{{'label.register.SignUp' | translate}}</h4>
      <div class="row">
        <div class="col-md-offset-1 col-md-21">
          <div style="width: {{100 / availablePlans.length}}%;" class="pull-left" ng-repeat="plan in availablePlans">
            <div ng-class="{ selected: plan.selected, plan: true, disabled: !plan.enabled, beta: plan.planCode === 'b101' }" style="cursor: inherit;" >
              <div class="name">{{ plan.planName }}</div>

              <div class="tracked-events">
                <div ng-if="plan.trackedEventsLimit >= 0">{{plan.trackedEventsLimit | number}}</div>
                <div ng-if="plan.trackedEventsLimit < 0">Unlimited</div>
                <div class="lbl">Tracked Events</div>
              </div>
              <div class="ad-spend">
                <div ng-if="plan.adSpentLimit >= 0">{{plan.adSpentLimit | currency:undefined:0 }}</div>
                <div ng-if="plan.adSpentLimit < 0">Unlimited</div>
                <div class="lbl">Ad Spend</div>
              </div>
              <pre ng-bind-html="trustAsHtml(plan.description)" class="description">
              </pre>

              <div class="price" ng-if="plan.amount > 0">{{plan.amount / 100 | currency:undefined:0}}</div>
              <div class="price" ng-if="plan.amount === 0">Free</div>

              <div class="signup" style="margin-top: 10px;">
                <button ng-click="selectPlan(plan)" class="btn btn-solid btn-primary" type="button">{{'label.register.SignUp' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="registerForm" ng-if="selectedPlan">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <h4>{{'label.register.CompanyName' | translate }}<font color="red">*</font></h4>
                <input class="form-control" type="text" name="companyName" placeholder="{{'label.register.CompanyName' | translate }}" ng-model="account.companyName" required ng-minlength="2" ng-maxlength="64"/>
                <div ng-show="form.billing.companyName.$error.minlength"><font color="red">Account Name needs to be at least 2 characters long.</font></div>
                <div ng-show="form.billing.companyName.$error.maxlength"><font color="red">Account Name is limited to 64 characters long.</font></div>
            </div>
            <div class="form-group">
                <h4>{{'label.register.Email' | translate }}<font color="red">*</font></h4>
                <input class="form-control" type="email" name="emailAddress" placeholder="{{'label.register.Email' | translate }}" ng-model="account.emailAddress" required/>
                <span ng-show="form.billing.emailAddress.$invalid && !form.billing.emailAddress.$pristine"><font color="red">Please enter your email address</font></span>
             </div>
            <div class="form-group">
                <h4>{{'label.register.FirstName' | translate }}<font ng-if="!isFreePlan" color="red">*</font></h4>
                <input class="form-control" type="text" name="accountFirstName" placeholder="{{'label.register.FirstName' | translate }}" ng-model="account.accountFirstName" ng-required="!isFreePlan"/>
            </div>
            <div class="form-group">
                <h4>{{'label.register.LastName' | translate }}<font ng-if="!isFreePlan" color="red">*</font></h4>
                <input class="form-control" type="text" name="accountLastName" placeholder="{{'label.register.LastName' | translate }}" ng-model="account.accountLastName" ng-required="!isFreePlan"/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <h4>{{'label.register.Phone' | translate}}<font ng-if="!isFreePlan" color="red">*</font></h4>
              <input type="tel" placeholder="{{'label.register.Phone' | translate}}" ng-model="account.phone" class="form-control" ng-required="!isFreePlan">
            </div>
            <div class="form-group">
                <h4>{{'label.register.Password' | translate }}<font color="red">*</font></h4>
                <input class="form-control" placeholder="{{'label.register.Password' | translate }}" type="password" id="newPassword" name="newPassword" ng-model="account.newPassword" ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" required/>
            </div>
            <div class="form-group">
                <h4>{{'label.register.ConfirmPassword' | translate }}<font color="red">*</font></h4>
                <input class="form-control" placeholder="{{'label.register.ConfirmPassword' | translate }}" type="password" id="confirmPassword" name="confirmPassword" ng-model="account.confirmPassword" ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" required fs-pw-check="newPassword"/>
              </div>
            <div ng-show="form.billing.$error">
                <div ng-show="form.billing.confirmPassword.$error.pwmatch"><font color="red">Passwords don't match.</font></div>
                <div ng-show="form.billing.newPassword.$error.minlength"><font color="red">Password needs to be at least 6 characters long.</font></div>
            </div>
          </div>
        </div>
        <h4 ng-if="!isFreePlan" style="margin-top: 20px;">{{'label.paymentInfo.PaymentInfo' | translate }}</h4>
        <div ng-if="!isFreePlan" ng-include="'app/main/align/accountSettings/payment.html'"></div>
        <div vc-recaptcha tabindex="3" theme="clean" key="publicKey" lang="en" ng-show="publicKey"></div><hr>
        <button class="btn btn-solid btn-primary" type="submit" ng-disabled="!form.billing.$valid">{{'label.register.SignUp' | translate}}</button>
        </div>
    </form>
  </div>
</div>
