<div class="col-md-12 welcome-message">
	<div>
 		<h1><b>{{ 'label.register.Success' | translate }}</b></h1>
	</div>
 	<div>
 		<h1>{{ 'label.register.Loadingtheplatform' | translate }}</h1>
 	</div>
</div>

<div class="col-md-10 container">

</div>