<h4>{{'label.act.CallToAction' | translate}}</h4>
<div class="fs-dropdown default" ng-class="{'form-control ng-invalid' :form.creative.submitted  && !newCreative.creative.tweetCardCallToAction}" name="call-to-action">
    <div id="call-to-action" class="fs-dropdown-link" on-state="click">
        <span>{{ newCreative.creative.tweetCardCallToAction ? (newCreative.creative.tweetCardCallToAction | formatCallToAction:'twitter') : 'Choose Call To Action'}}</span>
        <i class="fa fa-caret-down"></i>
    </div>
    <ul class="fs-dropdown-menu">
        <li ng-repeat="callToAction in websiteCallsToAction" ng-click="selectCallToAction(callToAction)">{{callToAction | formatCallToAction:'twitter'}}</li>
    </ul>
</div>
<div ng-if="form.creative.submitted && !newCreative.creative.tweetCardCallToAction" class="error-message">{{ 'label.act.Pleaseselectacalltoaction' | translate }}</div>