<h4>{{'label.act.CardName' | translate}}</h4>
<input class="form-control" type="text" name="cardName" placeholder="card name" ng-model="newCreative.creative.tweetCardName" ng-required="true" ng-maxlength="80"/>
<div ng-messages="form.creative.cardName.$error"
    ng-if="form.creative.cardName.$touched || form.creative.submitted"
    ng-messages-include="campaign-creation-messages">
</div>