<div class="form-group tooltipped tooltipped-e" aria-label="{{ 'label.act.Sendpeopletoaspecificlocation' | translate }}">
  <h4 class="inline-block">{{ 'label.act.FullAndroiddeeplink' | translate }}</h4>
  <input type="text"
         name="url"
         ng-model="newCreative.creative.deeplinkURL"
         placeholder="example://gizmos/toys/1234"
         class="form-control"/>
</div>
