
<div class="col-md-12">
  <span>{{ 'label.act.twitter.Tweetingas' | translate}}</span>
  <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Ifthisisnotthehandlethatyouwishtouse' | translate }}">
      <div class="false-fs-select">
          @{{ newCreative.twitterHandle.screenName }}
      </div>
  </div>
</div>
<div class="clearfix"></div>
