<h4 class="pull-left">{{'label.act.Headline' | translate}}</h4>
<span class="pull-right">{{70 - form.creative.headline.$viewValue.length}}</span>
<input class="form-control" type="text" placeholder="" name="headline" ng-model="newCreative.creative.tweetCardHeadline" ng-maxlength="70" ng-required="true"/>
<div ng-messages="form.creative.headline.$error"
    ng-if="form.creative.headline.$touched || form.creative.submitted"
    ng-messages-include="campaign-creation-messages">
</div>
