<h4 class="inline-block">{{ 'label.act.Image' | translate }}</h4>
<div id="twImage" class="form-group content-white centered" ng-class="{'form-control ng-invalid' :form.creative.submitted  && !newCreative.creative.image && campaign.settings.goal.goal.name !== 'GROW_FOLLOWERS' && campaign.settings.goal.goal.name !== 'TWEET_ENGAGEMENT'}" name="twImage">
    <img class="creative-image"
         ng-src="{{apiUrl + '/api/v2/image/get?guid=' + newCreative.creative.image}}"
         ng-if="newCreative.creative.image"/>
    <button type="button" ng-click="loadImageFromLibrary()" class="btn btn-outline" ng-show="!newCreative.creative.image">{{
        'label.act.UploadfromLibrary' | translate }}
    </button>
    <a ng-click="newCreative.removeImage()" ng-show="newCreative.creative.image">{{
        'label.act.Remove' | translate }}</a>
    <div ng-if="form.creative.submitted && !newCreative.creative.image && newCreative.creative.isCard && campaign.settings.goal.goal.name !== 'GROW_FOLLOWERS' && campaign.settings.goal.goal.name !== 'TWEET_ENGAGEMENT'" class="error-message">{{ 'label.act.Pleaseselectanimage' | translate }}</div>
    <div ng-if="newCreative.creative.image && imageErrorWidthOrHeight" class="error-message">{{ 'label.act.Imagemustbe800pixelswideand' | translate }}
        <div>{{ 'label.act.Theselectedimageis' | translate }} {{picWidth}} {{ 'label.act.pixelswideand' | translate }} {{picHeight}} {{ 'label.act.pixelshigh' | translate }}</div>
    </div>
</div>
