<div class="post-list-header">Select a tweet</div>
<div class="post-list-container" id="twitterLoadMore">
  <ul>
    <div infinite-scroll="loadMoreTweets()" infinite-scroll-container="'#twitterLoadMore'" infinite-scroll-distance="1"
         infinite-scroll-disabled="loadingPosts" infinite-scroll-parent="true" infinite-scroll-immediate-check="false">
      <li class="post-box" ng-repeat="tweet in campaign.api.tweets track by $index" ng-click="selectTweetForCreative(tweet)" ng-class="{'post-selected': newCreative.selectedTweet.tweetId === tweet.tweetId }">
        <i class="selected-icon fa fa-check-circle"></i>
        <div>
          {{ 'label.act.TweetId' | translate }}: {{  tweet.tweetId }}
        </div>
        <div ng-repeat="media in tweet.listMedia track by $index ">
          <img ng-src="{{media.mediaUrl}}" alt="twitter">
        </div>
        <div>
          {{ 'label.act.Message' | translate }}: {{ tweet.tweetText }}
        </div>
      </li>
    </div>
    <div ng-show="!campaign.api.tweets.length">
      {{ 'label.act.Notweetstoshow' | translate }}
    </div>
    <div ng-show='loadingPosts' class="loading-posts-block">
      <div class="sp sp-bars"></div>
      {{ 'label.act.LoadingTweets' | translate }}...
    </div>
  </ul>
</div>
<span class="note">* {{ 'label.act.Newtweetsnote' | translate }} </span>
<span class="error-message" ng-if="form.creative.submitted && !newCreative.facebookPage">{{ 'label.act.Pleaseselectatweet' | translate }}</span>
