<span class="pull-right tooltipped tooltipped-n" aria-label="{{'label.act.ImagesAndLinksAre22Characters' | translate }}">{{ determineTweetTextLength() }}</span>
<span class="tracking-in-url fleft"
      ng-if="newCreative.trackingScriptStateInTweetUrl === 'processing'">
      <img class="tracking-verify-loading" ng-src="assets/images/ajax-loader.gif">
    </span>
<span class="tracking-in-url found fleft"
      ng-if="newCreative.trackingScriptStateInTweetUrl === 'pass'">
      {{ 'label.act.TrackingValidated' | translate }}
    </span>
<textarea
    class="tweet-textarea form-control"
    ng-model="newCreative.creative.tweetText"
    name="text"
    ng-change="urlInTweetCheck()"
    placeholder="Write your Tweet here."
    ng-required="true"
    fs-tw-maxlength="newCreative.creative.isCard || newCreative.creative.image ? 116 : 140"
    ng-class="{'ng-pristine': !form.twPostSubmitted, 'loading': view.fetchingImages, 'ng-invalid': newCreative.isTweetUrlDomainTypedDifferentFromGoalDomain || newCreative.trackingScriptStateInCardUrl === 'fail'}">
</textarea>
<div ng-if="newCreative.creative.tweetURL === -1" class="error-message">{{ 'label.act.Pleaseenteravalidurlintweet' | translate }}</div>
<div ng-messages="form.creative.text.$error" ng-if="form.creative.text.$touched || form.creative.submitted" ng-messages-include="campaign-creation-messages"></div>

<div class="error-message"
     ng-if="!newCreative.creative.isCard && newCreative.isTweetUrlDomainTypedDifferentFromGoalDomain">{{ 'label.act.urlDomaintoGoalDomainValidationMessage' | translate }}
</div>
<div class="error-message"
     ng-if="!newCreative.creative.isCard && newCreative.trackingScriptStateInTweetUrl === 'fail'">
    {{ 'label.act.Unabletovalidatetracking' | translate }}
</div>
