<div class="form-group">
  <h4 class="inline-block">{{ 'label.act.DestinationUrl' | translate }}</h4>
    <span class="tracking-in-url"
          ng-if="newCreative.trackingScriptStateCardInUrl === 'processing'">
      <img class="tracking-verify-loading" ng-src="assets/images/ajax-loader.gif">
    </span>
    <span class="tracking-in-url found"
          ng-if="newCreative.trackingScriptStateCardInUrl === 'pass' && !form.creative.url.$invalid">
      {{ 'label.act.TrackingValidated' | translate }}
    </span>
  <input type="text"
         name="url"
         ng-model="newCreative.creative.tweetCardURL"
         ng-model-options="urlModelOptions"
         placeholder="http://www.mysite.com/thankyou"
         required class="form-control"
         ng-pattern="fullUrlRegex"
         ng-change="validateCardUrl(); checkIfCardUrlContainsTrackingScript()"
         ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid': newCreative.isCardUrlDomainTypedDifferentFromGoalDomain || newCreative.trackingScriptStateCardInUrl === 'fail'}"/>

  <div ng-messages="form.creative.url.$error"
       ng-if="form.creative.url.$touched || form.creative.submitted"
       ng-messages-include="campaign-creation-messages">
  </div>
  <div class="error-message"
       ng-if="form.creative.url.$invalid && form.creative.url.$viewValue.length > 0 ">
    {{ 'label.act.Theurlisnotvalid' | translate }}
  </div>
  <div class="error-message"
       ng-if="!form.creative.url.$invalid && newCreative.isCardUrlDomainTypedDifferentFromGoalDomain">{{
    'label.act.urlDomaintoGoalDomainValidationMessage' |
    translate }}
  </div>
  <div class="error-message"
       ng-if="newCreative.trackingScriptStateCardInUrl === 'fail'">
    {{ 'label.act.Unabletovalidatetracking' | translate }}
  </div>
</div>