<h4 class="inline-block">{{ 'label.act.Video' | translate }}</h4>
<div class="form-group content-white centered"
     ng-class="{'form-control ng-invalid' :form.creative.submitted && !newCreative.creative.video}">
    <img ng-src="{{apiUrl + '/api/v2/image/get?guid=' + newCreative.creative.image}}"
         ng-if="newCreative.creative.video" class="creative-image"/>
    <button type="button" ng-click="loadVideoFromLibrary()" class="btn btn-outline" ng-show="!newCreative.creative.video">{{
        'label.act.UploadfromLibrary' | translate }}
    </button>
    <a ng-click="newCreative.removeVideo()" ng-show="newCreative.creative.video">{{
        'label.act.Remove' | translate }}</a>
    <div ng-if="form.creative.submitted && !newCreative.creative.video" class="error-message">{{ 'label.act.Pleaseselectavideo' | translate }}</div>
</div>
