<div class="modal-header" ng-show="!view.postLaunchedSuccessfully">
    <div class="row">
        <div class="col-md-24">
            <h3>{{ 'label.act.post.CreateaPost' | translate }}</h3>
        </div>
    </div>
</div>

<div ng-show="!view.postLaunchedSuccessfully">
    <div class="form-control">
        <fs-tabset>
            <fs-tab ng-show="true"
                    is-open="channel.name === 'facebook'"
                    ng-click="channel.name = 'facebook'"
                    class="fb-tab">
                <tab-heading >{{ 'Facebook' | translate }}</tab-heading>
                <div ng-include="'app/main/act/createPost/fbPost/fbPost.html'"></div>
            </fs-tab>
            <fs-tab ng-show="true"
                    is-open="channel.name === 'twitter'"
                    ng-click="channel.name = 'twitter'"
                    class="tw-tab">
                <tab-heading >{{ 'Twitter' | translate }}</tab-heading>
                <div ng-include="'app/main/act/createPost/twPost/twPost.html'"></div>
            </fs-tab>
        </fs-tabset>
    </div>
</div>

<!-- TODO: Channels need to be displayed only if they have been selected -->
<div ng-show="view.postLaunchedSuccessfully">
    <i class="fa fa-check-circle fa-5x post-success-check-circle"></i>
    <div class="post-success-message">{{ 'label.act.post.Yourposthasbeenscheduled' | translate }}</div>
    <div class="post-success-social-networks">
        <i class="fa fa-facebook post-success-facebook-icon fa-2x"></i>
        <!--<i class="fa fa-twitter post-success-twitter-icon fa-2x"></i>-->
    </div>
</div>


<div class="modal-footer" ng-show="!view.postLaunchedSuccessfully">
    <div class="row">
        <div class="col-md-24 text-right">
            <input id="post-another" ng-model="view.isPostAnother" type="checkbox"/>
            <label for="post-another">{{ 'label.act.post.PostAnother' | translate }}</label>
            <button type="button" ng-click="publish()" class="btn btn-solid btn-primary">{{view.buttonTitle}}</button>
        </div>
    </div>
</div>
