<div class="creative-main-block">
  <h4 class="header-name">{{ card.name }}</h4>
  <div class="creative-info-block">
    <div class="col-md-24 card-separate">
      <p class="page-name">{{ 'label.library.Headline' | translate }}: {{ card.page.creative.headline }}</p>
      <p>{{ 'label.library.DescriptionLine1' | translate }}: {{ card.page.creative.descriptionLine1 }}</p>
      <p>{{ 'label.library.DescriptionLine2' | translate }}: {{ card.page.creative.descriptionLine2 }}</p>
      <p>{{ 'label.library.DisplayURL' | translate }}: {{ card.page.creative.displayUrl }}</p>
      <p>{{ 'label.library.DestinationURL' | translate }}: {{ card.page.creative.destinationUrl }}</p>
    </div>
  </div>
  <i class="fa small fa-google"></i>
</div>
