<div class="card creative-card card-set-underline" ng-class="{ selected:  containsObject(card, selectedCards) }"
     sglclick="selectCard(card, $event)" ng-dblclick="loadOnDblClick(card, $event)">
  <i ng-show="containsObject(card, selectedCards)" class="selected-icon fa fa-check-circle"></i>
  <div ng-if="card.channel === 'FACEBOOK'" ng-include="'app/main/library/creative/fbCreative.html'"></div>
  <div ng-if="card.channel === 'ADWORDS'" ng-include="'app/main/library/creative/awCreative.html'"></div>
  <div ng-if="card.channel === 'TWITTER'" ng-include="'app/main/library/creative/twCreative.html'"></div>
  <i class="fa fa-trash fright" ng-click="deleteObject(card, $index); $event.stopPropagation();" title="Delete"></i>
  <i class="fa fa-pencil-square-o" ng-click="editObjectName(card)" title="Edit Name"></i>
</div>

