<div class="creative-main-block">
  <h4 class="header-name">{{ card.name }}</h4>
  <div class="creative-info-block">
    <div class="col-md-17 card-separate">
      <p class="page-name">{{ 'label.library.Page' | translate }}: {{ card.page.facebookPage.pageName }}</p>
      <p ng-if="card.headline">{{ 'label.library.Headline' | translate }}: {{ card.headline }}</p>
      <p ng-if="card.text">{{ 'label.library.Text' | translate }}: {{ card.text }}</p>
      <p ng-if="card.page.selectedPost.message">{{ 'label.library.Text' | translate }}: {{ card.page.selectedPost.message }}</p>
      <p>Ad Type:
        <span ng-if="card.adType === 'pagePost'">{{ 'label.library.PagePost' | translate }}</span>
        <span ng-if="card.adType === 'video'">{{ 'label.library.Video' | translate }}</span>
        <span ng-if="card.adType === 'multiProduct'">{{ 'label.library.MultiProduct' | translate }}</span>
      </p>
      <p>{{ 'label.library.PlacementType' | translate }}:
        <span ng-if="card.page.placement === 'newsfeed'">
          {{ 'label.library.Newsfeed' | translate }} ({{ displayPlacement(card.page.platform) }})
        </span>
        <span ng-if="card.page.placement === 'rightColumn'">{{ 'label.library.RightColumn' | translate }}</span>
      </p>
      <p ng-if="card.page.selectedPost.link">
        {{ 'label.library.DestinationURL' | translate }}: <a ng-href="{{card.page.selectedPost.link}}" target="_blank">View on Facebook</a>
      </p>
      <p ng-if="card.page.creative.post === 'existing'" class="existing-post">{{ 'label.library.ExistingPost' | translate }}</p>
    </div>
    <div class="col-md-7 card-separate">
      <img ng-if="card.image" class="card-creative-image" ng-src="{{apiUrl + '/api/v2/image/get?guid=' + card.image}}"/>
      <img ng-if="card.page.selectedPost.picture" class="card-creative-image" ng-src="{{card.page.selectedPost.picture}}"/>
    </div>
  </div>
  <i class="fa small fa-facebook"></i>
</div>
