<div class="creative-main-block">
  <h4 class="header-name">{{ card.name }}</h4>
  <div class="creative-info-block">
    <div class="col-md-17 card-separate">
      <p class="page-name">{{ 'label.library.Page' | translate }}: {{ card.page.twitterHandle.screenName }}</p>
      <p ng-if="card.page.creative.tweetText && !card.page.selectedTweet.tweetText">{{ 'label.library.Text' | translate }}: {{ card.page.creative.tweetText }}</p>
      <p ng-if="card.page.selectedTweet.tweetText">{{ 'label.library.Text' | translate }}: {{ card.page.selectedTweet.tweetText }}</p>
      <p ng-if="card.page.creative.tweetCardURL && card.page.creative.isCard">
        {{ 'label.library.DestinationURL' | translate }}: <a ng-href="{{card.page.creative.tweetCardURL}}" target="_blank">{{ card.page.creative.tweetCardURL }}</a>
      </p>
      <p ng-if="card.page.creative.tweetCardHeadline && card.page.creative.isCard">
        {{ 'label.library.Headline' | translate }}: {{ card.page.creative.tweetCardHeadline }}
      </p>
      <p ng-if="card.page.creative.tweetCardCallToAction && card.page.creative.isCard">
        {{ 'label.library.CallToAction' | translate }}: {{ card.page.creative.tweetCardCallToAction }}
      </p>
      <p ng-if="card.page.creative.post === 'existing'" class="existing-post">{{ 'label.library.ExistingPost' | translate }}</p>
    </div>
    <div class="col-md-7 card-separate">
      <img ng-if="card.image && !card.page.selectedTweet.listMedia[0].mediaUrl" class="card-creative-image" ng-src="{{apiUrl + '/api/v2/image/get?guid=' + card.image}}"/>
      <img ng-if="card.page.selectedTweet.listMedia[0].mediaUrl" class="card-creative-image" ng-src="{{card.page.selectedTweet.listMedia[0].mediaUrl}}"/>
    </div>
  </div>
  <i class="fa small fa-twitter"></i>
</div>
