<div class="modal-header">
    <h2>{{campaign.settings.goal.formattedGoalName }} </h2>
    <!-- <h2> {{ 'label.act.twitter.creative.TwitterCreative' | translate }}</h2> -->
</div>

<form name="form.creative" id="creativeForm" novalidate>

    <!-- Import creative template according to the choosen placement type -->
    <div ng-switch on="campaign.settings.goal.goal.name">
        <div ng-switch-when="TWEET_ENGAGEMENT">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweet.html'"></div>
        </div>
        <div ng-switch-when="GROW_FOLLOWERS">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweet.html'"></div>
        </div>
        <div ng-switch-when="WEBSITE_CLICKS">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweetWebsiteCard.html'"></div>
        </div>
         <div ng-switch-when="VIDEO_VIEWS">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/videoViews.html'"></div>
        </div>
        <div ng-switch-when="WEBSITE_CONVERSIONS">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweetWebsiteCard.html'"></div>
        </div>
        <div ng-switch-when="MOBILE_APP_INSTALLS">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweetAppCard.html'"></div>
        </div>
        <div ng-switch-when="MOBILE_APP_ENGAGEMENT">
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweetAppCard.html'"></div>
        </div>
        <div ng-switch-default>
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/goal/tweet.html'"></div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-24 text-right">
                <!-- Show a message to let the user know the tracking validation is in progress-->
                 <!-- <input id="save-to-library" ng-click="saveCreativeToLibraryCheckbox = !saveCreativeToLibraryCheckbox" type="checkbox"/>
                <label for="save-to-library">{{'label.act.SaveCreativeasTemplate' | translate }}</label> -->
                <!-- Save and Close Modal-->
                 <!-- <button ng-click="loadCreativeFromLibrary();" onclick="this.blur();" class="btn-solid btn-tertiary">Load Creative From Library</button> -->
                <button type="button"
                        ng-click="saveCreative(form.creative, saveCreativeToLibraryCheckbox);"
                        class="btn btn-solid btn-primary"
                        ng-disabled="newCreative.trackingScriptStateInUrl === 'processing' || metadata.displayWaitMessage > 0">
                    {{ 'label.act.SaveCreative' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div ng-init="setForm(form.creative, newCreative.isValid);"></div>
</form>
<!--{{newCreative}}-->
