<div class="accordion-group" ng-class="{ open : !!isOpen }">
	<div class="accordion-header" accordion-transclude="heading" ng-click="toggleOpen()" ng-class="{'accordion-header-geographical': percentage !== undefined}">
    <div class="pull-left" ng-if="numOfSelected !== undefined">
      <input class="rounded"
             type="checkbox"
             ng-checked="numOfSelected > 0"
             ng-model="numOfSelected"
        >
      <label class="rounded accordion-radio-btn-align" ng-click="radioBtnClick(); $event.stopPropagation();"></label>
    </div>
    <div class="pull-left">
		  {{header}}
      <small ng-if="numOfSelected > 0">({{numOfSelected===totalAvailable ? 'All ' : numOfSelected}} selected)</small>
    </div>
    <i class='fa fa-caret-down' ng-show="isOpen"></i><i class='fa fa-caret-left' ng-show="!isOpen"></i>
    <div class="clearfix"></div>
	</div>
  <div class="accordion-header-geographical-right" ng-if="percentage !== undefined">
    <div class="accordion-header-row">
      <div class="col-md-20 col-lg-20 accordion-header-title" >
        <p class="text-center" style="font-size: 17pt">{{percentageTitle}}</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <p class="pull-right accordion-header-percentages"> {{percentage | metricPercentage }}</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="accordion-meter-bar" ng-style="{'width': percentage*100 +'%'}">&nbsp;</div>
  </div>
	<div class="accordion-body" ng-transclude ng-show="isOpen" ng-class="{'accordion-border': percentage !== undefined}">

	</div>
</div>

