.accordion{
	.accordion-group{

		.accordion-header{

			padding: 0.5em;
			// margin-bottom: 0.25em;
			background-color: @pale-light;
			cursor: pointer;
			i {
				float: right;
			}
      > .negate-padding {
        margin: -0.5em -0.5em;
      }
		}
		.accordion-body{
			background-color: @pale-light;

		}
	}
}


.accordion-body {
  opacity:1;
  padding:10px;
}

.accordion-body.ng-hide-add.ng-hide-add-active,
.accordion-body.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
}

.accordion-body.ng-hide {
  opacity:0;
  padding: 0px 10px;
}

.accordion-header-geographical {
  width: 25%;
  float:left;
  background: #4c4c4c !important;
  color: #fff;
  text-align: center;
}

.accordion-header-geographical-right {
  width: 75%;
  float:left;
  background: #ffffff;
  padding: 0;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
}

.accordion-header-row {
  padding: .45em 0
}

.accordion-header-title {
  padding: 0 .1em
}

.accordion-header-percentages {
  font-size: 19pt;
}

.accordion-meter-bar {
  height: .3em;
  background: @nature-heavy;
}

.accordion-border {
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
}

.accordion-radio-btn-align {
  top: 5px
}

.sub-accordion .accordion-header {
  background: #FBFBFB !important;
}
