//textarea loading bar
.loading{
  background: url(/assets/images/ajax-loader.gif) no-repeat center;
}

textarea.form-control[disabled] {
  background-color: #c3c3c3;
}

// Preview

.link-preview{
  background-color: @white;
  padding: 1em;
  margin: 1.85em;
  font-size: 0.75em;

  .thumbnail-container{
    float: left;
  }

  .metadata-preview-container{
    .headline{
      margin-bottom: 1em;
      padding: 0.5em;
      font-weight: bold;
    }

//    .description{
//      padding: 0em;
//      &:hover{
//        background-color: darken(@white, 10%);
//      }
//    }
  }

  img{
    width: 7em;
  }

}
.campaign-submitted-modal {
  padding: 4em;
}
// ----------------------- CREATE POST MODAL ----------------------------------
.post-success-check-circle {
  color: @nature-heavy;
  width: 1em;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.post-success-social-networks {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  &.three-channels {
    width: 8.25em;
  }
  &.two-channels {
    width: 5.75em;
  }
  &.one-channel {
    width: 3.75em;
  }
}

.post-success-facebook-icon {
  color: @facebook-heavy;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.post-success-twitter-icon {
  color: @twitter-blue;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.post-success-google-icon {
  color: @adwords-heavy;
  // Little more largin left for Adwords because the png doesn't have padding (whereas the FA does)
  margin-left: 0.35em;
  margin-right: 0.25em;
}

.post-success-message {
  text-align: center;
  font-family: Source Sans Pro Regular;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-apply-best-time {
  font-size: 10pt;
  margin-top: 1.5em;
}

.post-promote-checkbox {
  margin-right: 0 !important;
}

.post-right-column {
  margin-top: 1.2em;
  // display:none;
}

.form-control.ng-pristine {
  border-color: #899999;
}

.post-textarea {
  width: 100%;
  height: 9em;
  resize: none;
}

.preview-container {
  margin-top: -1em;
}

.post-input {
  width: 100%;
}

.inline {
  display: inline !important;
}

.post-age-range-input {
  width: 45%;
}

.post-ad-account-warning {
  font-family: 'Source Sans Pro Light';
  font-style: Italic;
  font-size: 9.6pt;
  color: @cherry-heavy;
}

.error-message {
  color: @cherry-heavy;
  overflow-wrap: break-word;
}

label.error-checkbox:before {
  border-color: @cherry-heavy !important;
}

.post-image-margin-top {
  margin-top: 1em;
}

// ----------------------- END CREATE POST MODAL ----------------------------------

// ---Tweet specific stuff---

.tweet-textarea {
  width: 100%;
  height: 6em;
  resize: none;
}

.loading-posts-block {
  text-align: center;
  margin-top: 1em;
}

.notice-color {
  color: @citrus-medium;
}

.load-keywords-btn {
  margin-top: .5em;
  margin-bottom: 1em;
}
