<div style="background: #C7C7C7;">
    <div class="pointer" ng-click="prevPage()" style="width: 2%;background-color: #524F4F;float: left;color: #fff;font-weight: bold;padding: 3.5em 5px;">
        &lt;
    </div>
    <div style="width: 96%; float:left; height: 144px; overflow: hidden">
        <div class="col-md-8 my-repeat-animation boxy" ng-repeat="img in filteredImages">
            <div fs-back-img url="getImageLocation(img)" class="card" ng-click="selectImage($index)" ng-class="img.selected === true ? 'selected' : null">
              <div class="card-header" style="padding:0">
                <i class="selected-icon fa fa-check-circle" ng-show="img.selected === true"></i>
              </div>
            </div>
        </div>
    </div>
    <div class="pointer" ng-click="nextPage()" style="width: 2%; background-color: #524F4F;float: left;color: #fff;font-weight: bold;padding: 3.5em 5px;">
        &gt;
    </div>
</div>

