<!-- This is the card's description -->
<h4 class="inline-block">{{ 'label.act.ProductDescription(optional)' | translate }}</h4>
<span class="pull-right">{{30 - productCardForm.description.$viewValue.length}}</span>
<input type="text" name="description" ng-model="productCard.description" ng-maxlength="30" class="form-control">
<div ng-messages="productCardForm.description.$error" ng-if='productCardForm.description.$touched || form.creative.submitted' ng-messages-include="campaign-creation-messages"></div>
