<!-- This is the image associated with the card -->
<div class="form-group content-white margin-top-4 centered" ng-class="{'form-control ng-invalid' :form.creative.submitted  && !productCard.image}">
    <img height="60" width="60"
         ng-src="{{apiUrl + '/api/v2/image/get?guid=' + productCard.image}}"
         ng-if="productCard.image"/>
    <button type="button" ng-click="loadImageFromLibrary(productCard)" class="btn btn-outline" ng-show="!productCard.image">{{
        'label.act.UploadfromLibrary' | translate }}
    </button>
    <a ng-click="removeImage(productCard)" ng-show="productCard.image">{{
        'label.act.Remove' | translate }}</a>
    <div ng-if="form.creative.submitted && !productCard.image" class="error-message">{{ 'label.act.Pleaseselectanimage' | translate }}</div>
</div>
