<!-- This is the card name -->
<h4 class="inline-block">{{ 'label.act.ProductName(optional)' | translate }}</h4>
<span class="pull-right">{{35 - productCardForm.name.$viewValue.length}}</span>
<input type="text" name="name" ng-model="productCard.name" ng-maxlength="35" class="form-control">
<div ng-messages="productCardForm.name.$error" ng-if='productCardForm.name.$touched || form.creative.submitted' ng-messages-include="campaign-creation-messages"></div>
