<!-- This is the see more URL for the multi product ad-->
<div class="form-group">
    <h4 class="inline-block">{{ 'label.act.SeeMoreURL' | translate }}</h4>
      <span class="tracking-in-url"
            ng-if="newCreative.trackingScriptStateInUrl === 'processing'">
        <img class="tracking-verify-loading" ng-src="assets/images/ajax-loader.gif">
      </span>
      <span class="tracking-in-url found"
            ng-if="newCreative.trackingScriptStateInUrl === 'pass' && !form.creative.seeMoreUrl.$invalid">
        {{ 'label.act.TrackingValidated' | translate }}
      </span>
    <input type="text"
           name="seeMoreUrl"
           ng-model="newCreative.creative.seeMoreUrl"
           ng-model-options= "urlModelOptions"
           ng-required="true"
           ng-maxlength="1024"
           class="form-control"
           ng-pattern="shortUrlRegex"
           ng-change="validateProductSeeMoreUrl(); checkIfUrlContainsTrackingScriptSeeMoreUrl()"
           ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid': newCreative.isSeeMoreUrlDifferentFromGoalDomain || newCreative.trackingScriptStateInUrl === 'fail' }"/>

    <div ng-messages="form.creative.seeMoreUrl.$error"
         ng-if='form.creative.url.$touched && form.creative.seeMoreUrl.$invalid && form.creative.seeMoreUrl.$viewValue.length > 0 || form.creative.submitted'
         ng-messages-include="campaign-creation-messages">

    </div>
    <div class="error-message"
          ng-if="form.creative.seeMoreUrl.$invalid && form.creative.seeMoreUrl.$viewValue.length > 0 ">
        {{ 'label.act.Theurlisnotvalid' | translate }}
    </div>
    <div class="error-message"
          ng-if="!form.creative.seeMoreUrl.$invalid && newCreative.isSeeMoreUrlDifferentFromGoalDomain">{{ 'label.act.urlDomaintoGoalDomainValidationMessage' | translate }}
    </div>
    <div class="error-message"
          ng-if="newCreative.trackingScriptStateInUrl === 'fail'">
      {{ 'label.act.Unabletovalidatetracking' | translate }}
    </div>
</div>