<!-- This is the see more display- URL for the multi product ad-->
<div class="form-group">
  <h4 class="inline-block">{{ 'label.act.SeeMoreDisplayURL' | translate }}</h4>
  <input type="text"
         name="seeMoreDisplayUrl"
         ng-model="newCreative.creative.seeMoreDisplayUrl"
         class="form-control"
         ng-pattern="shortUrlRegex"/>
</div>
<div ng-messages="form.creative.seeMoreDisplayUrl.$error"
     ng-if='form.creative.seeMoreDisplayUrl.$touched || form.creative.submitted'
     ng-messages-include="campaign-creation-messages">
</div>

