<!-- This is the text for the card -->
<div class="form-group">
  <h4 class="inline-block">{{ 'label.act.text' | translate }}</h4><span class="pull-right">{{90 - form.creative.text.$viewValue.length}}</span>
  <input
    type="text"
    name="text"
    ng-model="newCreative.creative.text"
    placeholder="Enter text..."
    ng-required="true"
    ng-maxlength="90"
    class="form-control"
    ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid':metadata.isCreativeTextInvalid}">
  <div ng-messages="form.creative.text.$error" ng-if="form.creative.text.$touched || form.creative.submitted" ng-messages-include="campaign-creation-messages"></div>
  <span ng-class="{'error-message': metadata.isCreativeTextInvalid}" ng-if="form.creative.text.$viewValue.length > 0 && metadata.isCreativeTextInvalid">{{ 'label.act.Thetextofyouradcantcontaintwopunctuationmarksinarow.' | translate }}</span>
</div>

