<!-- This is the URL for the card -->
<div class="form-group">
  <h4 class="inline-block">{{ 'label.act.DestinationUrl' | translate }}</h4>
    <span class="tracking-in-url"
          ng-if="productCard.trackingScriptStateInUrl === 'processing'">
      <img class="tracking-verify-loading" ng-src="assets/images/ajax-loader.gif">
    </span>
    <span class="tracking-in-url found"
          ng-if="productCard.trackingScriptStateInUrl === 'pass' && !productCardForm.url.$invalid">
      {{ 'label.act.TrackingValidated' | translate }}
    </span>

  <input type="text"
         name="url"
         ng-model="productCard.url"
         ng-model-options="urlModelOptions"
         ng-required="true"
         class="form-control"
         ng-pattern="shortUrlRegex"
         ng-change="validateUrlForMultiProductCard(productCard); checkIfCardUrlContainsTrackingScript(productCard)"
         ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid': productCard.isDomainTypedDifferentFromGoalDomain || productCard.trackingScriptStateInUrl === 'fail' }"/>

  <div ng-messages="productCardForm.url.$error"
       ng-if="productCardForm.url.$touched && productCardForm.url.$invalid && productCardForm.url.$viewValue.length > 0 || form.creative.submitted"
       ng-messages-include="campaign-creation-messages">
  </div>
  <div class="error-message"
       ng-if="productCardForm.url.$invalid && productCardForm.url.$viewValue.length > 0 ">
    {{ 'label.act.Theurlisnotvalid' | translate }}
  </div>
  <div class="error-message"
       ng-if="!productCardForm.url.$invalid && productCardForm.url.$viewValue.length > 0 && productCard.isDomainTypedDifferentFromGoalDomain">{{
    'label.act.urlDomaintoGoalDomainValidationMessage' | translate }}
  </div>
  <div class="error-message"
       ng-if="productCard.trackingScriptStateInUrl === 'fail'">
    {{ 'label.act.Unabletovalidatetracking' | translate }}
  </div>
</div>