.tw-tweet-wrapper{

}
.tw-content{
	padding-left: 72px;
	color: #292f33;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 594px;
  background-color: #f6f6f6;
  padding-top: 1em;
  padding-bottom: 1em;
}
.tw-avatar{
  float: left;
  margin-top: 3px;
  margin-left: -58px;
  width: 48px;
  height: 48px;
  border-radius: 5px;
}
.tw-fullname{
	font-weight: bold;
}
.tw-username{
	font-size: 13px;
  color: #8899a6;
}
.tw-time{
	font-size: 13px;
  color: #8899a6;
}
.tw-time:before{
	content: "\00b7  ";
}
.tw-tweet-text{
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 18px;
  font-size: 14px;
  width: 504px;
}
.tw-image{
  float: left;
  clear: both;
  border-radius: .43em;
  width: 508px;
  height: 254px !important;
  background: center center;
  background-color: #E1E8ED;
}
.tw-card-container{
	float: left;
  width: 504px;
  clear: both;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: .42857em;
  border-width: 1px;
  border-style: solid;
  border-color: #E1E8ED;
  background-color: #fff;
  margin-bottom: 1em;
  margin-top: 10px;
}
.tw-card-image{
	float: left;
  margin-right: 1em;
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e1e8ed;
  height: 202px!important;
  border-top-left-radius: .43em;
  border-top-right-radius: .43em;
  background-color: #E1E8ED;
  border-style: solid;
  border-color: inherit;
  border-width: 0;
  border-bottom-width: 1px;
}
.tw-card-content-container{
	display: block;
  margin-right: 0;
  float: left;
  clear: both;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  width: 100%;
  padding: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}
.tw-card-title{
	white-space: normal;
	max-height: 2.6em;
	overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  margin: 0 0 .15em;
  padding-right: 1em;
}
.tw-card-destination{
	display: block;
	text-transform: lowercase;
  color: #8899A6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.3em;
}
.tw-card-button{
	display: block;
	float: right;
  margin-top: .25em;
  background-color: #f5f8fA;
  background-image: linear-gradient(0rad,#f5f8fA,#fff);
  border: 1px solid #e1e8ed;
  border-radius: .25em;
  font-weight: 700;
  padding: .5em 1em;
  outline-offset: -4px!important;
}
.tw-footer{
  clear: both;
	height: 25px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
	background-image: url(/assets/images/twFooter.png);
  margin-bottom: 5px;
  margin-left: -8px;
}
.tw-grey-arrow{
  clear: both;
	height: 14px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
	background-image: url(/assets/images/twPromotedG.png);
}
.tw-yellow-arrow{
  clear: both;
  height: 14px;
  margin-top: 5px;
  vertical-align: top;
  float: left;
}
.tw-context{
  font-size: 13px;
  color: #8899a6;
  margin-top: 1em;
}
// APP CARD SPECIFIC
.tw-app-content{
  margin-left: 58px;
  color: #292f33;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 320px;
  padding-right: 1em;
}
.tw-app-card-content-container{
  position: relative;
  margin-top: 12px;
}
.tw-app-name{
  color: @twitter-blue;
  line-height: 20px;
  display: block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tw-ratings{
  display: block;
  clear: left;
  color: #aab8c2;
  font-weight: 300;
}
.tw-app-card-button{
  display: block;
  float: right;
  //margin-top: .5em;
  margin-left: 20px;
  border: 1px solid @twitter-blue;
  color: @twitter-blue;
  border-radius: 5px;
  font-weight: 400;
  padding: .4em 1em;
}
.tw-app-image{
  float: left;
  clear: both;
  border-radius: .42857em;
  width: 100%;
  height: 122px !important;
  margin-top: .75em;
  margin-bottom: .75em;
  background: center center;
  background-color: #E1E8ED;
}
.tw-app-card-container{
  float: left;
  width: 100%;
  clear: both;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
}
