
details.accordion{
	
	// font-size: 0.85em;
	line-height: 125%;
	&[open] summary{
		background-color: transparent;
		outline: none;
		border-top: 2px solid @slate-short;
	}

}

summary{
	
	outline: 1px solid #d1d1d1;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	position: relative;
	&::-webkit-details-marker {
		float: left;
		position:absolute;
		transform: scale(-1, 1);
		top:40%;
		right: .75rem;

	}
	& .row{
		padding: 0.5rem 1rem;
	}
	& ~ .row{
		padding: 0.5rem 1rem;

	}
}