// The mixin for buttons
// .button-variant(@color; @background; @border)

a.btn, a.btn:hover {
  text-decoration: none!important;
}

.btn-fix-width {
  min-width: 4em;   
}

.btn-solid,.btn-outline{
	font-family: inherit;
	font-size: 1rem;
  // font-weight: bold;
	// padding: @padding-base-vertical @padding-base-horizontal;
  padding: 0.2rem 0.75rem;
	border-radius: @base-border-radius;
	text-align: center;
	border: 1px solid @gray-dark;
  transition: all 0.3s ease 0s;
  &.btn-tertiary{
    background-color: @pale-dark;
    color: @tin-heavy;
    border: 1px solid @pale-dark;
  }

	&:hover,
	&:active,
	&.active,
	.open > .dropdown-toggle& {
	  // color: @@color;
	  // background-color: darken(@background, 10%);
	  //     border-color: darken(@border, 12%);
    text-decoration: none;
    &.btn-tertiary{
      color: @pale;
      background-color: @mono-medium;
      border: 1px solid @mono-medium;
    }

	}
	&:active,
	&.active,
	.open > .dropdown-toggle& {
	  background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
	  &,
	  &:hover,
	  &:active,
	  &.active {
	    // background-color: @background;
	    //     border-color: @border;
	    border: 1px solid @mono-light;
	    background-color: @mono-light;
	    opacity: .5;
	    cursor: not-allowed;
	    color: @white;
	  }


	}
	&.btn-block{
	  display: block;
	  width: 100%;

	  & + &{
	  	margin-top: 0.25em;
	  }
	}
  cursor:pointer;
}

.btn-solid{
  &.btn-secondary{
    transition: all 0.3s ease 0s;
    border-color: @mono-light;
    color: @pale;
    margin-inside: 0.5em;
    background-color: @mono-light;
    &:hover,
    &:active,
    &.active,
    .open > .dropdown-toggle& {
      // color: @@color;
      // background-color: darken(@background, 10%);
      //     border-color: darken(@border, 12%);
      background-color: @mono-light;
      border-color: @mono-light;
      color: @white;
      .attach-files-coloring *{
        fill: @smoke-white;
        stroke: @sage-short;
      }
    }
  }
  cursor:pointer;
}

.btn-outline{
  transition: all 0.3s ease 0s;
	background-color: transparent;
  border-color: @nature-heavy;
  color: @nature-heavy;
  margin-inside: 0.5em;
	&:hover,
	&:active,
	&.active,
	.open > .dropdown-toggle& {
	  // color: @@color;
	  // background-color: darken(@background, 10%);
	  //     border-color: darken(@border, 12%);
	  background-color: @nature-heavy;
    border-color: @nature-heavy;
    color: white;
    .attach-files-coloring *{
      fill: @smoke-white;
      stroke: @sage-short;
    }
	}

  &.btn-secondary{
    transition: all 0.3s ease 0s;
    background-color: transparent;
    border-color: @nature-heavy;
    color: @nature-heavy;
    margin-inside: 0.5em;
    &:hover,
    &:active,
    &.active,
    .open > .dropdown-toggle& {
      // color: @@color;
      // background-color: darken(@background, 10%);
      //     border-color: darken(@border, 12%);
      background-color: @mono-light;
      border-color: @mono-light;
      color: @white;
      .attach-files-coloring *{
        fill: @smoke-white;
        stroke: @sage-short;
      }
    }



  }
  &.btn-outline.cherry{ //  Used in Campaign Creation
    background-color: transparent;
    color: @cherry-heavy;
    border: 1px solid @cherry-heavy;
  }
  cursor:pointer;
}

.btn-primary{
  transition: all 0.3s ease 0s;
  background-color: @nature-heavy;
  border-color: @nature-heavy;
  color: @white;
  // padding: 0.375rem 0.75rem;
  padding: 0.2rem 0.75rem;
  &:hover,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    // color: @@color;
    // background-color: darken(@background, 10%);
    //     border-color: darken(@border, 12%);
    background-color: @tin-light;
    border-color: @tin-light;
    color: @white;
    .attach-files-coloring *{
      fill: @smoke-white;
      stroke: @sage-short;
    }
  }
  &.btn-primary.cherry{ //  Used in Campaign Creation
    background-color: @cherry-heavy;
    border: 1px solid @cherry-heavy;
    color: white;
  }
  cursor:pointer;
}

.btn-short-url{
  transition: all 0.3s ease 0s;
  background-color: dodgerblue;
  border-color: steelblue;
  color: @white;
  margin-inside: 0.5em;
  font-weight: bold;
  font-size: 0.9em;
  &:hover,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    // color: @@color;
    // background-color: darken(@background, 10%);
    //     border-color: darken(@border, 12%);
    background-color: steelblue;
    color: white;
  }
  cursor:pointer;
}

.btn-nav-user-menu{
  transition: all 0.3s ease 0s;
  background-color: @slate-short;
  border-color: @smoke-white;
  border-radius: 3px;
  color: white;
  margin-inside: 0.5em;
  margin-top: -8px;
  float: right;
  margin-right: 6px;
  &:hover,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    // color: @@color;
    // background-color: darken(@background, 10%);
    //     border-color: darken(@border, 12%);
    background-color: @slate-long;
    color: white;
  }
  cursor:pointer;
}

.btn-facebook-account {
  border: 1px;
  background-color: @facebook-blue;
  color: @smoke-white;
  margin-inside: 0.5em;
  font-size: 11px;
  span {
    margin-left: 6px;
    margin-right: 3px;
  }
  &:hover,
  &:active,
  &.active {
    background-color: @tin-light;
  }
  cursor:pointer;
}
.btn-twitter-account {
  border: 1px;
  background-color: @twitter-blue;
  color: @smoke-white;
  margin-inside: 0.5em;
  font-size: 11px;
  span {
    margin-left: 6px;
    margin-right: 3px;
  }
  &:hover,
  &:active,
  &.active {
    background-color: @tin-light;
  }
  cursor:pointer;
}

.btn-google-account {
  border: 1px;
  background-color: @adwords-heavy;
  color: @smoke-white;
  margin-inside: 0.5em;
  font-size: 11px;
  span {
    margin-left: 6px;
    margin-right: 3px;
  }
  &:hover,
  &:active,
  &.active {
    background-color: @adwords-light;
    color: @adwords-heavy;
  }
  cursor:pointer;
}

.btn-outline{
	.-(@i: length(@color-variables-names)) when (@i > 0){
		@name: e(extract(@color-variables-general, @i));
		&.btn-@{name}{
			.button-variant("secondary"; extract(@color-variables-names, @i);extract(@color-variables-names-inverted, @i);)
		}
		.-((@i - 1))
	} .-;
  cursor:pointer;
}

.btn-lg{
	.button-size(@padding-large-vertical; @padding-large-horizontal; @base-font-size-h3; @line ; @base-border-radius; )
}
.btn-sm{
	.button-size(@padding-small-vertical; @padding-small-horizontal; @base-font-size-h5; @line ; @base-border-radius; )
}

.btn-group {
  padding: 0 2px;
  > .btn {
    margin: 0 -2px;
    border-radius: 0;
  }
  > .btn:first-child {
    border-radius : ~"@{base-border-radius} 0 0 @{base-border-radius}";
  }
  > .btn:last-child {
    border-radius : ~"0 @{base-border-radius} @{base-border-radius} 0";
  }
}
