.form-group{
	margin: .5rem 0rem;
}

.form-control{
	outline: none;
	border: 1px solid @smoke-mid;
    background-color: @white-half;
    font-size: 1rem;
	padding: @padding-base-vertical @padding-base-horizontal;
	width: 100%;
	font-family: inherit;
    font-weight: 300;
	border-radius: @base-border-radius;
	line-height: inherit;

    &::-webkit-input-placeholder{
        font-style: italic;
    }

	&:focus{
		outline: 0;
		outline: thin dotted \9; /* IE6-9 */
		border-color: @smoke-short;
        background-color: @white !important;
	}
    &.ng-invalid, &.failure, &.error{
        border-color: @diary-short;
    }
    &.ng-valid, &.success{
        border-color: @nature-heavy;
    }
	&[disabled]{
		cursor: not-allowed;
		background-color: @mono-heavy;
		color: @brand-primary;
	}

    select&{
        height: 2.375rem;
    }

    input[type="search"]& {
        border-radius: 16px;
        box-sizing: border-box;
        background: @white-half url(//cdn.flaticon.com/png/256/25313.png) no-repeat right 6px center;
        background-size: 25px;

        // -webkit-transition: all .5s;
        // -moz-transition: all .5s;
        transition: width .5s, box-sizing 0s;

        &.alt{
            width: 2.5rem;

            color: transparent;
            cursor: pointer;
            box-sizing: content-box;
            box-sizing: border-box;
            border-radius: 10em;

            &:hover{
                background-color: @white-half;
            }
            &:focus{
                width: 100%;
                box-sizing: border-box;
                padding-right: 32px;
                color: #000;
                background-color: #fff;
                cursor: auto;
                border-radius: 16px;
            }
            &::-webkit-input-placeholder{
                color: transparent;
            }
        }
    }

}

.input-lg{
    .input-size(2.875rem; @padding-large-vertical; @padding-large-horizontal; @base-font-size-h3; @line; @base-border-radius;)

}



/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
    padding: .25em .5em;
    display: inline-block;
    border: 1px solid @gray;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}





input[type="checkbox"],
input[type="radio"] {
    display: none;

    & + label{
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: inherit;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:before{
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 4px;
            background-color: transparent;
            border: 1px solid @nature-heavy;
            border-radius: 2px;
        }
    }
    &:checked{
        & + label:before{
            color: @pale;
            background-color: @nature-heavy;
        }
        & + label[button]{
            background-color: @nature-heavy;
            color: @pale;
            border: 1px solid transparent;
            &:before{
                content: none;
            }

        }
    }
    & + label[button]{
        color: @nature-heavy;
        background-color: transparent;
        font-family: inherit;
        font-size: 1rem;
        padding: .5rem .5rem .5rem 0.5rem;
        border: 1px solid @nature-heavy;
        border-radius: @base-border-radius;
        min-height: 32px;
        & + &{
            margin-top: 0.25em;
        }
        &:before{
            content: none;
        }
        &:hover{
            opacity: 0.8;
            &:before{
                visibility: visible;
                opacity: 1;
            }
        }



    }



}

input[type="checkbox"]{
	&:checked{
        & + label[button]{
            background-color: @nature-heavy;
            border: 1px solid transparent;
            padding: .5rem 1.2rem .5rem 1.2rem;
            &:before{
                content: "\2713" ;
                visibility: visible;
                opacity: 1;
                color: @pale;
            }

        }
        & + label:before{
            content: "\2713";
            // content: "\f00c"; // This will use font awesome's check icon, which is better than the unicode standard
            font-size: 15px;
            text-align: center;
            line-height: 15px;

        }
    }

    & + label[button]{
        // padding: .5rem .5rem .5rem 0.5rem;
        padding: .5rem 1.2rem .5rem 1.2rem;
        transition: padding 0.3s;
        &:before{
            content: "\2713" ;
            background-color: transparent;
            border: none;
            color: @nature-heavy;
            bottom: .6rem;
            left: 0.2rem ;
            line-height: 15px;
            font-size: 15px;
            text-align: center;
            line-height: 15px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s;
        }
        &:hover{
            padding: .5rem 1.2rem .5rem 1.2rem;
        }
    }
}

input[type="radio"] {
	& + label:before{
		border-radius: 8px;
	}

    &:checked + label:before{
        content: "\00B7";
        font-size: 45px;
        text-align: center;
        line-height: 12.5px;
        padding-left: .5px;
    }

}
