.label{
	display: inline-block;
	font-size: @base-font-size * 0.75 * 1px;
	border-radius: @base-border-radius;
	padding: 0.15rem 0.5rem;
	margin: 0.5%;
	color: white;
	font-weight: 300;
	
	&.label-default{
		background-color: @nature-heavy;
	}
    &.label.grey { //  Used in Campaign Creation
      background-color: @pale-heavy;
      color: @tin-medium;
    }
  &.label.dark-grey { //  Used in Campaign Creation
    background-color: @mono-heavy;
    color: @white;
    border: 2px solid @mono-light;
  }
    &.label.grey.bold { //  Used in Campaign Creation
      .label.grey;
      font-weight: bold;
    }
	&.label-solid{
		background-color: @nature-heavy;
	}
	&.label-outline{
		background-color: transparent;
		color: @nature-heavy;
		border: 1px solid @nature-heavy;
	}
    &.label-outline.grey{ //  Used in Campaign Creation
           background-color: transparent;
           color: @mono-light;
           border: 1px solid @mono-light;
     }
  &.normal {
    font-size: @base-font-size;
  }
}
