//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  // display: none;
  // overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal;
  -webkit-overflow-scrolling: touch;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 1em;
}

// Actual modal
.modal-content, .ngdialog-content {
  position: relative;
  border: 1px solid @modal-content-border-color;
  border-radius: @modal-content-border-radius;
  background-color: @modal-content-bg;
  background-clip: padding-box;
  margin: 5% auto;
  outline: 0;
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  width: 60%;
  z-index: 9999; // Fix for issue (invisible part of dialog) in chrome while scrolling ngDialog


  .modal.modal-small &{
    width: 40%;
  }
  .modal.modal-large &{
    width: 75%;
  }
  .modal.modal-invite &{
    margin: 5% auto;
    width: 45%;
    border: 1px solid @pebble-long;
    border-radius: @modal-members-border-radius;
    background-color: @smoke-white;
    .modal-footer.modal-members-footer {
      padding: 0.35em;
      background-color: @modal-content-bg;
      border-bottom-left-radius: @modal-members-border-radius;
      border-bottom-right-radius: @modal-members-border-radius;
    }
    .modal-body.modal-body-members {
      margin-top: 6px;
      h3 {
        font-size: @base-font-size-h3 / @unitem;
        margin: (@line/@base-font-size-h3 * 0.32em) 0 (@line/@base-font-size-h3 * 0.32em);
      }
      background-color: @modal-content-members-bg;
      position: relative;
      padding: @modal-body-padding;
      padding-top: @modal-body-padding / 2;
      border-top-left-radius: @modal-members-border-radius;
      border-top-right-radius: @modal-members-border-radius;
    }
    .modal-header.modal-header-members {
      background-color: @smoke-white;
    }
  }
  .modal.modal-members &{
    margin: 5% auto;
    width: 40%;
    border: 1px solid @pebble-long;
    border-radius: @modal-members-border-radius;
    background-color: @pale-medium;
    .modal-footer.modal-members-footer {
      padding: 0.35em;
      background-color: @modal-content-bg;
      border-bottom-left-radius: @modal-members-border-radius;
      border-bottom-right-radius: @modal-members-border-radius;
    }
    .modal-body.modal-body-members {
      margin-top: 6px;
      h3 {
        font-size: @base-font-size-h3 / @unitem;
        margin: (@line/@base-font-size-h3 * 0.32em) 0 (@line/@base-font-size-h3 * 0.32em);
      }
      background-color: @modal-content-members-bg;
      position: relative;
      padding: @modal-body-padding;
      padding-top: @modal-body-padding / 2;
      border-top-left-radius: @modal-members-border-radius;
      border-top-right-radius: @modal-members-border-radius;
    }
    .modal-header.modal-header-members {
      background-color: @smoke-white;
    }
  }
  .modal.modal-links-new &{
    margin: 5% auto;
    width: 55%;
  }

  .modal-header .close, .ngdialog-close {
    display: block !important;
  }
}

.ngdialog-closing.modal .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}


// Modal background
.ngdialog.modal {
  box-shadow: inset -25px 0 0px -10px rgba(102, 102, 102, 0.8);  
}

.modal-backdrop, .ngdialog-overlay {
  position: fixed;
  top: 0;
  right: 15px;
  left: 0;
  background-color: @modal-backdrop-bg;
  // &.fade { .opacity(0); }
  // &.in { .opacity(@modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: @modal-header-padding;
  padding-bottom: @modal-header-padding / 2;
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
  .modal-title {
    &:extend(.huge);
  }
  min-height: @modal-header-padding * 1.5 + (@line*2/@unitem);
  .modal-header .close, .ngdialog-close {
    display: block;
  }
}
// Close icon

.modal-header .close, .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  &:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
  }
  &:hover:before{
    color: #777;
  }
  &.btn-outline, &.btn-solid{
    position: relative;
    .btn-outline();
    &:before{
     content: none;
    }
  }
}


// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  > div{
    padding: @modal-body-padding;
    // padding-top: @modal-body-padding / 2;
  }
}

// Footer (for actions)
.modal-footer {

  background-color: @pale;
  padding: @modal-footer-padding;
  text-align: right; // right align buttons
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: @modal-footer-btn-spacing;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}




