//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}


// Body reset

html {
  font-size: @base-rem-size;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*
*
* Zoomable baseline grid
* type size presets
*   https://github.com/jonikorpi/Golden-Grid-System/blob/master/GGS.less
*   Renamed a few variables
*/

body {
    /* 16px / 24px */
    font-size: @base-font-size * 1px;
    line-height: @line / @unitem;
    color: @gray-darker;
    font-family: @font-family-base;
    background-color: @body-bg;
    -webkit-font-smoothing: antialiased;
}

.small {
    font-size: @font-size-small / @unitem;
    line-height: @line-small / @font-size-small * 1em;
}

.base {
    /* 16px / 24px */
    font-size: @base-font-size / @unitem;
    line-height: @line / @unitem; /* 24 */
}

.large, h2, h1 {
    /* 24 / 36px */
    font-size: @base-font-size-h2 / @unitem;
    line-height: (@line*1.5) / @base-font-size-h2 * 1em;
}

.huge {
    /* 32px / 48px */
    font-size: @base-font-size-h1 / @unitem;
    line-height: (@line*2) / @base-font-size-h1 * 1em;
}

.massive {
    /* 68px / 72px */
    font-size: 36 / @unitem;
    line-height: (@line*3) / 72 * 1em;
}

.gigantic {
    /* 110px / 120px */
    font-size: 110 / @em;
    line-height: (@line*5) / 110 * 1em;
}

h1,h2{
  font-family: @font-family-headline;
  margin: 0;
  color: @tin-heavy;
}

h4{
  font-family: @font-family-raleway;
  margin: 0;
  font-weight: normal;
  color: @mono-medium;
}

h3,h5,h6{
  font-family: @font-family-metadata;
  margin: 0;
  color: @tin-heavy;
}

h1, h2 {
  margin: (@line/@base-font-size-h2 * 1em) 0 (@line * 1.5 /@base-font-size-h2 * 1em);
}

h3 {
  /* 19px / 24px */
  font-size: @base-font-size-h3 / @unitem;
  font-weight: normal;
  margin: (@line/@base-font-size-h3 * 1em) 0 (@line/@base-font-size-h3 * 1em);
}

h4 {
  /* 13px / 24px */
  font-size: @base-font-size-h4 / @unitem;
  text-transform: uppercase;
}
h5 {
  /* 13px / 24px */
  font-size: @base-font-size-h5 / @unitem;
  font-weight: bold;
}

h6 {
  font-size: @base-font-size-h6 / @unitem;
}


ul, ol {
  margin: @line/@unitem 0;
  padding-left: 2.5em;
}
ul ul, ul ol, ol ul, ol ol {
  margin: 0;
}
p {
  font-size: @font-size-small / @unitem;
  line-height: @line-small / @font-size-small;
  margin-bottom: @line-small/ @font-size-small;
}

@media screen and (min-width: @screen-sm) {

  h1 {
    .huge();
    margin: (@line * 2 / @base-font-size-h1 * 1em) 0 (@line / @base-font-size-h1 * 1em);
  }

}

@media screen and (min-width: @screen-hg) {

  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: (@base-font-size + 1) / @unitem;
  }

}



// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: @link-color;
  text-decoration: none;
  font-weight: bold;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: underline;
    cursor:pointer;
  }

  &:focus {
    .tab-focus();
  }
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images

img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}

// Horizontal rules

hr {
  margin: .5em 0;
  padding: none;
  border-top: solid 1px @tin-medium;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}



.content{
  background-color: @content-bg;
  border-radius: @base-border-radius;
  padding: 1.25rem;
  margin-top: 1rem;
}

.content-empty {
  border-radius: @base-border-radius;
  margin-top: 1rem;
}

.content-white{
  background-color:white;
  border-radius: @base-border-radius;
  padding: 1.25rem;
  margin-top: 1rem;
  margin-bottom: -1rem;

}

.content-white-2 {
  background-color:white;
  border-radius: @base-border-radius;
  padding: 0.75em;
  margin-bottom: 1em;
}

.content-transparent{
  border-radius: @base-border-radius;
  padding: 1.25rem;
  margin-top: 1rem;
}
