@line-height-base : 1.5em;
@table-cell-padding: .125em .25em;
@table-cell-padding-negate: -.125em -.25em;
@table-border-color: rgba(104, 121, 103, .05); 
@table-head-background-color: @pale-heavy;
@table-row-odd-background-color: transparent;
@table-row-even-background-color: rgba(104, 121, 103, .025);

th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse:collapse;
  margin-bottom: @line-height-base;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    font-weight: bold;
    background-color: @table-head-background-color;
    vertical-align: bottom;
    // border-bottom: 2px solid @table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // odd and even rows styling
  > tbody > tr:nth-child(odd) > td {
    background-color: @table-row-odd-background-color;
  }
  > tbody > tr:nth-child(even) > td {
    background-color: @table-row-even-background-color;
  }
  
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }

  // Nesting
  .table {
    // background-color: @body-bg;
  }
}

