.fs-tabset-nav {
  padding: 0;
  margin: 0;
  border-bottom: ~"@{tab-nav-bottom-border-width} solid @{tab-nav-bottom-border-color}";
  margin-bottom: 1em;

  //fix to eliminate the firefox dotted box on links, which shows up on our tabs
  :focus {
    outline:none;
  }
  ::-moz-focus-inner {
    border:0;
  }

  > li {
    list-style-type: none;
    outline : 0;
    display: inline-block;
    padding: @tab-nav-padding;
    margin-bottom: -@tab-nav-bottom-border-width;
    border-bottom: ~"@{tab-nav-bottom-border-width} solid transparent";
    color: @tab-nav-font-color;
    margin-left: -0.2em;
    &:hover {
      background-color: @leaf-light;
    }

    &.nav-item{
      margin-left: 0;
    }

    &.fb-tab{
      &.active{
        background-color: @facebook-light;
        color: @facebook-heavy;
        border-bottom: ~"@{tab-nav-bottom-border-width} solid @{facebook-heavy}";
      }
      &:hover{
        color: @facebook-heavy;
        background-color: @facebook-light;
      }
    }

    &.aw-tab{      
      &.active{
        background-color: @adwords-light;
        color: @adwords-heavy;
        border-bottom: ~"@{tab-nav-bottom-border-width} solid @{adwords-heavy}";
      }
      &:hover{
        color: @adwords-heavy;
        background-color: @adwords-light;
      }
    }

    &.tw-tab{      
      &.active{
        background-color: @twitter-light;
        color: @twitter-heavy;
        border-bottom: ~"@{tab-nav-bottom-border-width} solid @{twitter-heavy}";
      }
      &:hover{
        color: @twitter-heavy;
        background-color: @twitter-light;
      }
    }

    > a {
      padding: @tab-nav-padding-a;
      margin: @tab-nav-padding-a-negate;
      text-decoration: none;
      color: inherit;
    }
    h5 {
      color: @tab-nav-font-color;
    }
  }
}
.fs-tabset-nav.justified {
  display: table;
  width: 100%;
  border-bottom: 0;
  > li {
    display: table-cell;
    margin-bottom: 0;
    border-bottom: ~"@{tab-nav-bottom-border-width} solid @{tab-nav-bottom-border-color}";
  }
}
.fs-tabset-nav > li.active {
  h5 { color: @tab-nav-active-font-color; }
  background-color: @leaf-light;
  border-bottom: ~"@{tab-nav-bottom-border-width} solid @{tab-nav-active-border-color}";
}
.fs-tabset-nav .italic {
  font-weight: normal;
  font-style : italic;
}
.fs-tab-content {
  .tab-pane {
    border: 0;
  }
}
