@toggle-scale-factor : @font-size-small / @base-font-size;

.btn.toggle {
  display: inline-block;
  background-color: #000;
  color: @smoke-white;
  font-size: (@font-size-small / @base-font-size) * 1rem;
  font-weight: bold;
  line-height: 1.5em;
  padding-left: 1.5em;
  padding-right: 0.15em;
  border-radius: 2em;
  text-align: left;
  .pointer;
  //width: 3.1em;
}
.btn.toggle > iconic {
  display:inline-block;
  position: relative;
  top: 2 / @font-size-small * 1em;
  border-radius: 2em;
  padding: 0;
  margin-left: 6 / @font-size-small * 1em;
  width: 19 / @font-size-small * 1em;
  height: 19 / @font-size-small * 1em;
  line-height: 28 / @font-size-small * 1em;
  background-color: @smoke-white;
  text-align: center;
  > svg {
    position: relative;
    top: 40%;
    transform: ~"scale(@{toggle-scale-factor}) translateY(-50%)";
  }
}

.btn.toggle:hover {
  color: #fff;
  > iconic {
    background-color: #fff;
  }
}

.btn.toggle.facebook.on {
  background-color: @facebook-blue;
  > iconic {
    svg path { fill: @facebook-blue; stroke: @facebook-blue; }
  }
}
.btn.toggle.google.on {
  background-color: @adwords-heavy;
  > iconic {
    svg path { fill: @adwords-heavy; stroke: @adwords-heavy; }
  }
}
.btn.toggle.twitter.on {
  background-color: @twitter-blue;
  > iconic {
    svg path { fill: @twitter-blue; stroke: @twitter-blue; }
  }
}
.btn.toggle.off {
  padding-left: 0.15em;
  padding-right: 1.5em;
  background-color: @smoke-short;
  > iconic {
    margin-left: 1px;
    margin-right: 6 / @font-size-small * 1em;
    svg path { fill: @smoke-short; stroke: @smoke-short; }
  }
}
