//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.pointer {
  cursor: pointer;
}


// Clear fix
// -------------------------
.clear-fix {
  .clearfix();  
}

// Virtical Center
.align-middle {
  .vertical-center();  
}

// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

// Vertical Positioning and Margins for rows
// --------------------------------

.loop-pushed-rows(5, @line / @unitem);
.loop-pushed-rows(5, @line-small / @unitem, sm);

.loop-pulled-rows(2, @line / @unitem);
.loop-pulled-rows(2, @line-small / @unitem, sm);

// Text Alignments
// --------------------------

.text-left {
  text-align: left;  
}
.text-right {
  text-align: right;  
}
.text-center {
  text-align: center;  
}

// Error Color
// ------------------------------
.text-error {
  color: @cherry-dark;  
}

// Clear a tag underline 
// ------------------------------

.clear-underline, .clear-underline:hover {
  text-decoration: none!important;
}
