//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #333333;
@gray-darker:            rgba(63, 62, 61, 1); 		@smoke-long: @gray-darker;	//Smoke long
@gray-darker-half:       rgba(63, 62, 61, .5); 		@smoke-long-half: @gray-darker-half;	//Smoke long half
@gray-dark:              rgba(208, 204, 199, 1);  	@smoke-short: @gray-dark;		//Smoke short
@gray:                   rgba(227, 224, 221, 1);  	@smoke-mid: @gray;			//Smoke Mid
@gray-light:             rgba(256, 255, 254, 1);  	@smoke-white: @gray-light;	//Smoke white
@gray-light-half:        rgba(255, 255, 255, .5);   @white-half: @gray-light-half;			//White Half
@white:					         #fff;
@black:                  #000;

//  ------  V2 COLOR SCHEME ------ //


@nature-heavy:						rgba(119, 159, 121, 1);
@nature-light:						rgba(222, 243, 226, 1);

@tin-light:						    rgba(92, 95, 98, 1);
@tin-medium:						  rgba(70, 74, 79, 1);
@tin-medium-lighten:			lighten(@tin-medium, 5%);
@tin-heavy:						    rgba(54, 61, 67, 1);

@mono: 								    rgba(237, 237, 237, 1);
@mono-light:						  rgba(204, 204, 204, 1);
@mono-medium:						  rgba(155, 155, 155, 1);
@mono-heavy:						  rgba(102, 102, 102, 1);

@pale-heavy:						  rgba(237, 237, 237, 1);
@pale-medium:						  rgba(246, 246, 246, 1);
@pale-light:						  rgba(251, 251, 251, 1);
@pale-dark: 						  rgba(218, 219, 219, 1);
@pale:						        rgba(255, 255, 255, 1);

@cherry-dark:                       rgba(220, 75, 56, 1);
@cherry-heavy:                      rgba(220, 75, 56, 1);
@cherry-medium:                     rgba(231, 146, 135, 1);
@cherry-light:                      rgba(231, 170, 160, 1);
@cherry:                            rgba(240, 210, 206, 1);

@citrus-medium:                      rgba(247, 151, 29, 1);
@citrus-medium-half:                 rgba(247, 151, 29, .5);
@citrus-heavy:                       rgba(222, 243, 226, 1);
@citrus-dark:                        rgba(150, 89, 43, 1);

@leaf-medium:   					rgba(108, 191, 107, 1);
@leaf-soft:   						rgba(108, 191, 107, 0.5);
@leaf-light:   						rgba(108, 191, 107, 0.2);
@leaf-heavy: rgba(108, 191, 107, 1);
@sea-heavy: rgba(43, 174, 205, 1);


@R1:            rgba(219, 76, 83, 1);
@R2:            rgba(47, 155, 238, 1);

//  ------------------------------ //




@brand-primary:          @nature-heavy;
// @brand-primary:          @slate-short;
@slate-short:            rgba(137, 153, 153, 1);
@slate-short-half:       rgba(137, 153, 153, .5);


@brand-secondary:		     @nature-light;
// @brand-secondary:		     @slate-long;
@slate-long:             rgba(74, 80, 80, 1);
@slate-long-half:        rgba(144, 157, 144, .5);

@brand-inverted:         @gray-darker;
@smoke-long:             @brand-inverted;


// Errors & Exceptions
@brand-warning:          @diary-long;
@diary-long:             rgba(112, 80, 80, 1);
@diary-long-half:        rgba(112, 80, 80, .5);
@diary-short:            rgba(96, 32, 48, 1);
@diary-short-half:       rgba(96, 32, 48, .5);

// Warnings
@brand-danger:          @leather-long;
@leather-long:          rgba(153, 92, 60, 1);
@leather-long-half:     rgba(153, 92, 60, .5);
@leather-short:         rgba(85, 32, 32, 1);
@leather-short-half:    rgba(85, 32, 32, .5);

// Recommendations & Align
@sage-short:            rgba(144, 157, 144, 1);
@sage-short-half:       rgba(144, 157, 144, .5);
@sage-long:             rgba(104, 120, 104, 1);
@sage-long-half:        rgba(104, 120, 104, .5);

// Teams
@pebble-long:           rgba(101, 85, 85, 1);
@pebble-long-half:      rgba(101, 85, 85, .5);
@pebble-short:          rgba(64, 64, 64, 1);
@pebble-short-half:     rgba(64, 64, 64, .5);

// Navigation
@gimbal-short:          rgba(68, 58, 68, 1);
@gimbal-short-half:     rgba(68, 58, 68, .5);
@gimbal-long:           rgba(19, 17, 17, 1);
@gimbal-long-half:           rgba(19, 17, 17, .5);

// Social
@adwords-heavy: rgba(66, 133, 244, 1);
@adwords-light: rgba(66, 133, 244, .2);
@facebook-blue: #3B5999;
@twitter-blue: #55ACEE;

@color-variables-general: "primary", "error", "recommend";
@color-variables-names: "nature-heavy",  "nature-light",  "mono-light";
@color-variables-names-inverted:  "mono-light",  "nature-light",  "nature-heavy";



// Base components

@base-border-radius: 2px;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
// @body-bg:               @smoke-mid;
@body-bg: @pale-heavy;

//** Global text color on `<body>`.
@text-color:            @gray-darker;

//** Global textual link color.
@link-color:            @gray-darker;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);

//** The content background color
// @content-bg: @white-half;
@content-bg: @pale-medium;



//** Fonts
@font-family-headline:    'Source Sans Pro', Verdana, "Verdana Ref", sans-serif;
@font-family-sans-serif: 'Source Sans Pro', sans-serif;
@font-family-raleway: 'Raleway', Verdana;
@font-family-metadata: Verdana, "Verdana Ref", sans-serif;
@font-family-base:        @font-family-sans-serif;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Font Baseline Variables
// GGS-based: https://github.com/jonikorpi/Golden-Grid-System/blob/master/GGS.less
@base-font-size: 16;
@font-size-large:         ceil((@base-font-size * 1.5)); // ~24px
@font-size-small:         ceil((@base-font-size * 0.8)); // ~13px
@line: @base-font-size * 1.5;
@line-small: @font-size-small * 1.1;
@unitem: @base-font-size*1em;
@base-rem-size: unit(@base-font-size, px);

@base-font-size-h1: ceil((2 * @base-font-size));
@base-font-size-h2: ceil((1.5 * @base-font-size));
@base-font-size-h3: ceil((1.17 * @base-font-size));
@base-font-size-h4: ceil((.8 * @base-font-size));
@base-font-size-h5: ceil((.8 * @base-font-size));
@base-font-size-h6: ceil((.6 * @base-font-size));

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

//Raw Bootstrap uses pixel based measurements, we convert all to em based

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  30em;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  64.5em;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  62em;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  75em;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// Huge screen
@screen-hg:                  117em;
@screen-hg-min:              @screen-hg;

// So media queries don't overlap when required, provide a maximum
// the maximum is expressed in min - 1px, and converted to em values
.convert2em(1px);
@screen-xs-max:              (@screen-sm-min - @em);
@screen-sm-max:              (@screen-md-min - @em);
@screen-md-max:              (@screen-lg-min - @em);
@screen-lg-max:              (@screen-hg-min - @em);


//== Grid system
//
//## Define your custom responsive grid.

// ** Content layout.

// ** Left column width
// This is based on 5 columns in a 24 column width screen.
@left-column-width-sm: percentage(12/24);
// This is based on 3 columns in a 24 column width screen.
@left-column-width: percentage(3/24);
// This is based on 2 columns in a 24 column width screen.
@left-column-width-hg: percentage(2/24);

@nav-max-width: 9em;
@main-width: 100% - @left-column-width;
@gray-lighter: @gray-light-half;
//** Number of columns in the grid.
@grid-columns:              24;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         1em;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
//** @em = 1 / @base-rem-size em
@grid-float-breakpoint-max: (@grid-float-breakpoint - @em);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             ((45em + @grid-gutter-width));
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((58.75em + @grid-gutter-width));
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((72em + @grid-gutter-width));
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
@padding-base-vertical:     6px/16px * 1rem;
@padding-base-horizontal:   12px/16px * 1rem;

@padding-large-vertical:    8px/16px * 1rem;
@padding-large-horizontal:  16px/16px * 1rem;

@padding-small-vertical:    5px/16px * 1rem;
@padding-small-horizontal:  10px/16px * 1rem;

@padding-xs-vertical:       1px/16px * 1rem;
@padding-xs-horizontal:     5px/16px * 1rem;


//== Dropdown
@dropdown-bg: #F0EFED;
@dropdown-border: @slate-short;

//==Modal
@modal-content-border-color: @mono-light;
@modal-content-border-radius: 2px;
@modal-content-bg: @pale-medium;
@modal-content-members-bg: rgba(227, 224, 221, 0.15);;


@modal-header-padding: 1em;
@modal-body-padding: 1em;
@modal-footer-padding: @modal-body-padding; // Was .25em, changed it to be same as body.

@modal-footer-btn-spacing: .25em;

@modal-backdrop-bg: fade(@mono-heavy, 80%);

@modal-members-border-radius: 4px;


// ==Panels
@panel-bg: @pale-light;
@panel-footer-bg: @mono-medium;


// ==Tabs and Tabset
@tab-nav-padding: .5rem 1rem;
@tab-nav-padding-negate: -.5rem -1rem;
@tab-nav-padding-a: .5rem 1rem 0.75rem;
@tab-nav-padding-a-negate: -.5rem -1rem -0.75rem;
@tab-nav-font-color: @tin-heavy;
@tab-nav-bottom-border-width: 0.25rem;
@tab-nav-bottom-border-color: @mono-light;
@tab-nav-active-font-color: @tin-heavy;
@tab-nav-active-border-color: @nature-heavy;


// UI KIT social colors
@facebook-heavy: rgba(60, 90, 153, 1);
@facebook-light: rgba(60, 90, 153, 0.2);
@adwords-heavy: rgba(66, 133, 244, 1);
@adwords-light: rgba(66, 133, 244, 0.2);
@twitter-heavy: rgba(85, 172, 238, 1);
@twitter-light: rgba(85, 172, 238, 0.2);



