.vertical-nav {
  .nav-item {
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: -1px 0 0 0;
    padding: ~"@{padding-small-vertical} @{padding-small-horizontal}";
    min-height: @padding-small-vertical * 2 + 1em;
    border-right: 1px solid @pebble-long;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 3px solid transparent;
    &.active {
      border-right: 1px solid transparent;
      border-left: 1px solid @pebble-long;
      border-bottom: 1px solid @pebble-long;
      border-top: 3px solid @slate-long;
      font-weight: bold;
    }
  }
}
