<div class="row">
  <div class="col-md-18">
    <div class="number-bubble" ng-class="{completed: usernameDataType }">
      1
    </div>

    <h3 class="add-audience-step-header">Select the market you want to target</h3>

    <div class="fs-dropdown default">
        <div id="education-type" class="fs-dropdown-link" on-state="click">
            <span>{{ targetCountry ? targetCountry : 'Choose Target Country'}}</span>
            <i class="fa fa-caret-down"></i>
        </div>
        <ul class="fs-dropdown-menu">
            <li ng-click="selectTargetCountry('United States')">{{'label.act.highSchool' | translate }}</li>
            <li ng-click="selectTargetCountry('Peru')">{{'label.act.highSchoolGrad' | translate }}</li>         
            <li ng-click="selectTargetCountry('Argentina')">{{'label.act.undergrad' | translate }}</li>              
        </ul>
    </div>    

    <div class="number-bubble" ng-class="{completed: usernameDataType }">
      2
    </div>
    <h3 class="add-audience-step-header">Add Shows</h3>

    At any time the campaign is live
    <div class="" ng-if="tv.list.length">
      <fs-variant type="tv" no-add-variant="true" ng-model="view.tv"></fs-variant>
    </div>

    At any time the show is on air
    <div class="" ng-if="tv.list.length">
      <fs-variant type="tv" no-add-variant="true" ng-model="view.tv"></fs-variant>
    </div>    


    <input class="form-control step-one-input" type="text" ng-model="search" placeholder="Search for shows">
    <div class="spec-type-button-container">
      <div class="spec-type-button">At any time the campaign is live</div>
      <div class="spec-type-button">Only when the show is on the air</div>
    </div>


    <h3>Networks</h3>
    <input class="form-control step-one-input" type="text" ng-model="search" placeholder="Search for shows">

    <h3>Genres</h3>
    <div class="" ng-if="tv.list.length">
      <fs-variant type="tv" no-add-variant="true" ng-model="view.tv"></fs-variant>
    </div>
    <div style="clear: both;">
      <div fs-radio-btn-list=""
             available-options="view.availableTvOptions"
             ng-model="tv.list"
             ></div>
    </div>
  </div>
</div>
