<div class="modal-body modal-body-members">
  <h3 ng-if="!allAccounts">{{ 'label.align.support.accountReport.AccountReportFor' | translate: { accountName: selectedAccount.name } }}</h3>
  <h3 ng-if="allAccounts">{{ 'label.align.support.accountReport.AllAccountsReport' | translate }}</h3>
  <div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-12">
        <div class="form-group">
          <h4>{{ 'label.align.support.accountReport.DateRange' | translate }}</h4>
          <div style="margin-right: 10px; display: inline-block;">
            <input type="text" datepicker-popup="MM/dd/yyyy" ng-model="startDate" is-open="startOpen"
                   ng-required="true" close-text="Close" ng-click="$event.preventDefault(); $event.stopPropagation(); startOpen = !startOpen; endOpen = false;"
                   datepicker-options="{showWeeks:'false'}" required class="btn-outline btn-primary" />
          </div>
          <div style="display: inline-block;">
            <input type="text" datepicker-popup="MM/dd/yyyy" ng-model="endDate" is-open="endOpen"
                   ng-required="true" close-text="Close" ng-click="$event.preventDefault(); $event.stopPropagation(); endOpen = !endOpen; startOpen = false;"
                   datepicker-options="{showWeeks:'false'}" required class="btn-outline btn-primary" />
          </div>
          <div style="display: inline-block;">
            <button ng-disabled="!startDate || !endDate" class="btn-solid btn-outline" style="margin-left: 5px;" ng-click="reloadReport()">{{'label.align.support.accountReport.ReloadReport' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{'label.align.support.accountReport.AccountInfo' | translate}}
      </div>
      <div class="col-md-3">
        {{'label.align.support.accountReport.FullName' | translate}}
      </div>
      <div class="col-md-5">
        {{'label.align.support.accountReport.EmailAddress' | translate}}
      </div>
      <div class="col-md-6">
        {{'label.align.support.accountReport.ChannelAccountInfo' | translate}}
      </div>
      <div class="col-md-2">
        {{'label.align.support.accountReport.AdSpend' | translate}}
      </div>
      <div class="col-md-2">
        {{'label.align.support.accountReport.TrackedEvents' | translate}}
      </div>
    </div>
    <hr>
    <div class="scrolled-report-block">
      <div class="row" ng-repeat="reportItem in reportData" style="min-height: 40px; margin-bottom: 15px; display: block; word-break: break-all;">
        <div class="col-md-6">
          {{'label.align.support.accountReport.AccountName' | translate}}: {{reportItem.accountName}}<br />
          {{'label.align.support.accountReport.PlanName' | translate}}: {{reportItem.planName ? reportItem.planName : '-'}}<br />
          {{'label.align.support.accountReport.UsersCount' | translate}}: {{reportItem.userCount}} / {{reportItem.userLimit}}
        </div>
        <div class="col-md-8">
          <div class="row" ng-repeat="user in reportItem.users" style="min-height: 40px; margin-bottom: 15px;">
            <div class="col-md-9">
              {{ user.fullName ? user.fullName : '-'}}
            </div>
            <div class="col-md-15">
              {{ user.emailAddress }}
            </div>
          </div>
          <div ng-if="reportItem.users | isEmpty" class="row" style="min-height: 40px; margin-bottom: 15px;">
            <div class="col-md-9">
              -
            </div>
            <div class="col-md-15">
              -
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row" ng-repeat="account in reportItem.accounts" style="min-height: 40px; margin-bottom: 15px;">
            <div class="col-md-16">
              {{'label.align.support.accountReport.AccountName' | translate}}: {{account.name}}<br />
              {{'label.align.support.accountReport.AccountId' | translate}}: {{account.id}}<br />
            </div>
            <div class="col-md-8">
              {{ account.amountSpent }}
            </div>
          </div>
          <div ng-if="reportItem.accounts | isEmpty" class="row" style="min-height: 40px; margin-bottom: 15px;">
            <div class="col-md-18">
              -
            </div>
            <div class="col-md-6">
              -
            </div>
          </div>
        </div>
        <div class="col-md-2">
          {{ reportItem.trackedEvents }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-members-footer">
    <div class="col-md-24">
      <button ng-disabled="!startDate || !endDate" class="btn-solid btn-primary" ng-click="downloadCSV()">{{'label.align.support.accountReport.DownloadCSV' | translate}}</button>
    </div>
</div>
