<div class="row">
	<div class="col-md-8">
		<div class="number-bubble" ng-class="{completed: dataType }">
			1
		</div>

		<h3 class="add-audience-step-header">{{ 'label.align.ChooseaDataType' | translate }}</h3>
		<div class="radio-selection-container">
			<div class="row">
				<div class="radio-container col-md-23">
					<input type="radio" name="emails" id="emails" value="EMAIL_SHA256" ng-model="dataType" ng-click="selectDataType(dataType)"/>
			        <label style="font-size: 0.79em;" for="emails">
			        	{{ 'label.align.Ihavealistofemails' | translate }}
			        </label>
				</div>

				<div class="radio-container col-md-23">
			        <input type="radio" name="phoneNumbers" id="phoneNumbers" value="PHONE_SHA256" ng-model="dataType" ng-click="selectDataType(dataType)"/>
			        <label style="font-size: 0.79em;" for="phoneNumbers">
			        	{{ 'label.align.Ihavealistofphonenumbers' | translate }}
			        </label>
			    </div>
			    <!-- <div class="radio-container col-md-23">
		        	<input type="radio" name="userIds" id="userIds" value="UID" ng-model="dataType" ng-click="selectDataType(dataType)"/>
		        	<label style="font-size: 0.79em;" for="userIds">
		        		{{ 'label.align.IhavealistofUserIDsfrommyFacebookApp' | translate }}
		        	</label>
		        </div> -->
		       <!--  <div class="radio-container col-md-23">
		        	<input type="radio" name="mobileIds" id="mobileIds" value="MOBILE_ADVERTISER_ID" ng-model="dataType" ng-click="selectDataType(dataType)"/>
		        	<label style="font-size: 0.79em;" for="mobileIds">
		        		{{ 'label.align.IhavealistofMobileAdvertiserIDs' | translate }}
		        	</label>
		        </div> -->
	        </div>
        </div>
	</div>
	<div class="col-md-8">
		<div class="number-bubble" ng-class="{completed: format }">
			2
		</div>
		<h3 class="add-audience-step-header">{{ 'label.align.ChooseFormat' | translate }}</h3>
		<div class="radio-selection-container">
			<div class="row">
				<div class="radio-container col-md-24">
					<input type="radio" name="csv" id="csv" value="csv" ng-model="format" ng-click="selectFormat()"/>
			        <label style="font-size: 0.79em;" for="csv">
			        	{{ 'label.align.IwanttouploadaCSVorTXT' | translate }}
			        </label>
				</div>

				<div class="radio-container col-md-24">
			        <input type="radio" name="copyPaste" id="copyPaste" value="copyPaste" ng-model="format" ng-click="selectFormat()"/>
			        <label style="font-size: 0.79em;" for="copyPaste">
			        	{{ 'label.align.Iwanttocopyandpastefromalist' | translate }}
			        </label>
			    </div>

			    <div class="fright margin-top10">
					<a ng-show="dataType === 'EMAIL_SHA256' && format === 'csv'" href="emailSample.csv">
	        			<button type="button" class="btn-solid btn-tertiary">{{'label.memberManagement.downloadCSVSample' | translate}}</button>
	      			</a>

	      			<a ng-show="dataType === 'PHONE_SHA256' && format === 'csv'" href="phoneSample.csv">
	        			<button type="button" class="btn-solid btn-tertiary">{{'label.memberManagement.downloadCSVSample' | translate}}</button>
	      			</a>			    	
			    </div>
	        </div>
        </div>
	</div>
	<div class="col-md-8">
		<div class="number-bubble" ng-class="{completed: false }">
			3
		</div>
		<h3 class="add-audience-step-header">{{ 'label.align.UploadorPasteList' | translate }}</h3>
     	 <div class="radio-selection-container" ng-show="dataType && format">
     	 	<form name="customAudienceForm" novalidate ng-submit="saveCustomAudienceCopyPaste(customAudienceName, customAudienceData, dataType, 'CUSTOM_AUDIENCE')">
	     	 	<span class="entry-counter" ng-class="{'too-small': audienceTooSmall || audienceTooLarge, 'ok-size': !audienceTooSmall && !audienceTooLarge && audienceData, 'copy-paste': format === 'copyPaste', 'csv': format === 'csv'  }">{{0 + numberOfTargets}} <span ng-if="numberOfTargets <= 20">/ 20 </span></span>

		     	<div ng-show="format === 'csv'">
			  		<fs-csv-import ng-disabled="format != 'csv'" class="upload-button-container pull-left"
			  		  button-name="'label.align.UploadCSV' | translate"
			  		  on-change="onCsvImport"
			  		  header="'CAcsv'"
			  		  separator="','">
			  		</fs-csv-import>
				</div>
		     	<div  ng-show="format === 'copyPaste'">
	     	 		<div class="upload-button-container">
					  	<textarea name="data" class="paste-data-area form-control" placeholder="Paste your customer list here" ng-model="customAudienceData.copyPaste" ng-required="customAudienceData.copyPaste" ng-change="changeCopyPaste()"></textarea>
				  	</div>
					</div>
					<div class="save-button-container">
						<div class="clear-fix"></div>
				  		<input type="text" class="form-control" ng-show="editingMode !== 'add' && editingMode !== 'remove'" name="name" ng-required="true" placeholder="Name your custom audience" ng-model="customAudienceName"/>
				  		<input type="submit" ng-disabled="processing" class="btn btn-primary fright" value="{{ 'label.align.Save' | translate }}" ng-class="{'btn-solid': customAudienceData && customAudienceName, 'btn-outline': !customAudienceData || !customAudienceName }"/>
				  	</div>
			  	</div>
		  
		  		<div class="error-message" ng-show="customAudienceForm.name.$invalid && !customAudienceName.length && submitted">
					{{ 'label.align.Pleaseenteraname' | translate }}
				</div>

				<div class="error-message" ng-show="audienceTooSmall">
					{{ 'label.align.AudienceTooSmallAtleast20' | translate }}
				</div>

				<div class="error-message" ng-show="audienceTooLarge">
					{{ 'label.align.AudienceTooLargeMustBeLessThan10000' | translate }}
				</div>

				<div class="error-message" ng-show="audienceWrongType">
					{{ 'label.align.Theaudienceyouuploaded' | translate }}
				</div>
			</form>
			<div class="tos-container" ng-if="tosError">	
	     	 	You must accept Facebook Terms of Service (TOS) before creating your first custom audience through Accomplice. Accept the terms <a href="//www.facebook.com/customaudiences/app/tos" target="_blank">HERE</a> to continue.
     	 	</div>
     	 </div>
	</div>
</div>