<div class="row">
	<div class="col-md-8">
		<div class="number-bubble" ng-class="{completed: selectedCustomAudience }">
			1
		</div>

		<h3 class="add-audience-step-header" style="font-size: 0.9em">{{ 'label.align.ChooseaCustomAudience' | translate }}</h3>
		<div class="radio-selection-container">
			<div class="row">
				<div class="col-md-23">
					<div class="fs-dropdown default" style="margin-bottom: 1em;">
				      <div class="fs-dropdown-link" on-state="click">
				        <i class="fa fa-caret-down"></i>
				        <span class="ng-binding">{{ selectedCustomAudience ? selectedCustomAudience.audienceName : 'label.align.ChooseaCustomAudience' | translate  }} </span>
				      </div>
				      <ul class="fs-dropdown-menu projects-align-menu">
				        <li ng-repeat="audience in acceptedCustomAudiences" ng-click="selectCustomAudience(audience)">{{ audience.audienceName }} Size: {{ audience.fbAudienceSize }}</li>	
				      </ul>
				    </div>					
				</div>
	        </div>
        </div>
	</div>
	<div class="col-md-8">
		<div class="number-bubble" ng-class="{completed: country }">
			2
		</div>
		<h3 class="add-audience-step-header" style="font-size: 0.9em">{{ 'label.align.ChooseaCountry' | translate }}</h3>
		<div class="radio-selection-container">
			<div class="row">
				<div class="col-md-23">
					<div ng-atp="country" ng-atp-config="countryAtpConfig">
	                  <input id="country_value" placeholder="Search for countries and select" ng-atp-input type="text" class="form-control form-control-small" />
	                  <ul ng-atp-suggestions></ul>
			  		</div>	
		  		</div>
	        </div>
        </div>
	</div>
	<div class="col-md-8">
		<div class="number-bubble" ng-class="{completed: true }">
			3
		</div>
		<h3 class="add-audience-step-header" style="font-size: 0.9em">{{ 'label.align.ChooseanAudienceSize' | translate }}</h3>		
		<div class="row slider-block">
			<div class="col-md-12 size-ratio-slider-container">
				<input ng-model="sizeRatio.value" type="text" id="sizeRatioSlider" slider options="sizeRatioOptions"/>
			</div>
		</div>

     	<div class="save-button-container" ng-show="country && sizeRatio">
		  	<div class="btn btn-solid btn-primary lookalike-save fright" ng-disabled="processing" ng-click="saveLookalikeAudience(selectedCustomAudience, country, sizeRatio)">
		  		{{ 'label.align.Save' | translate }}
		  	</div>
     	</div>
    </div>
</div>