<div class="audience-card-header ellipsis">
	<span title="{{audience.audienceName}}">
	<!-- <h5> -->{{audience.audienceName}}<!-- </h5> -->
	</span>
</div>

<div class="audience-card-body">
	<div class="row status-container" ng-class="{'accepted': audience.audienceStatus === 'ACCEPTED', 'pending': audience.audienceStatus === 'PENDING', 'failed': audience.audienceStatus === 'REJECTED' }">
		{{audience.audienceStatus}}		
	</div>

	<div class="row headers">
		<div class="col-md-8 col-md-offset-2" style="padding-bottom: 1.475em;">
			{{ 'label.align.Country' | translate }}
		</div>
		<div class="col-md-8 col-md-offset-4">
			{{ 'label.align.AudienceSize' | translate }}
		</div>
	</div>

	<div class="row values">
		<div class="col-md-8 col-md-offset-2">
			{{ audience.lookalikeSpec.country }}
		</div>
		<div class="col-md-8 col-md-offset-4" ng-if="audience.audienceStatus === 'PENDING'">
			{{audience.audienceStatus}}
		</div>
		<div class="col-md-8 col-md-offset-4" ng-if="audience.audienceStatus !== 'PENDING'">
			{{ audience.fbAudienceSize }}
		</div>

	</div>
</div>

<div class="audience-card-footer">
	<span ng-show="audience.synced">{{ 'label.align.ImportedOn' | translate }}</span>
	<span ng-show="!audience.synced">{{ 'label.align.CreatedOn' | translate }}</span>: {{ moment(audience.creationDate).format("MMMM Do YYYY, h:mm a") }}
	<i class="fa fa-trash-o pointer" ng-click="deleteLookalikeAudience(audience, $index)"></i>
</div>