<div class="ad-account-container">
	<div class="row">
		<div class="col-md-8">
			<h4>{{ 'label.align.SelectAdAccount' | translate }}</h4>
			<div class="fs-dropdown default">
				<div class="fs-dropdown-link" style="cursor: pointer;" on-state="click" >
				    <span>{{selectedAdAccount.name ||selectedAdAccount.accountId  ?  selectedAdAccount.name ||selectedAdAccount.accountId : 'Choose Ad Account' }}</span>
				    <i class="fa fa-caret-down"></i>
				</div>
				<ul class="fs-dropdown-menu">
				    <li ng-click="selectAdAccount(account); closeSavingView();" ng-repeat="account in facebookAdAccounts">
				    	{{ account.name || account.accountId }}
				    </li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="add-audience-container">
	<div class="row">
		<fs-accordion>
		   	<fs-accordion-group is-open="true" header="{{threeStepsMessage}}" is-disabled='false'>
				<div class="row">
					<div class="col-md-24" ng-if="!showSavingView">
						<div ng-include="'app/main/align/addSocialAccount/facebookCustomAudiences/addCustomAudience.html'"></div>
					</div>
					<div class="col-md-24 saving-view-container" ng-if="showSavingView">
						<div class="checkmark-container">
							<i class="fa fa-check-circle fa-5x"></i>
						</div>
						<div class="saving-view-header-container">
							<h5>
							<span ng-if="editingMode === 'new'">{{ 'label.align.New' | translate }}</span>
							{{ 'label.align.CustomAudiencecalled' | translate }}{{customAudienceName}}{{ 'label.align.isnowsavedandpending' | translate }}
							</h5>
						</div>
						<div class="saving-view-body-container">
							{{ 'label.align.WehavesentyourcustomaudiencetobereviewedbyFacebookScrolldowntofindoutthecurrentstatusofyourcustomaudiences' | translate }}

							{{ 'label.align.WhenthelistisapprovedbyFacebookyoucanuseitinthetargetingtab' | translate }}
						</div>
						<div ng-click="closeSavingView()" class="btn-outline btn-secondary">
							<a href=""> {{ 'label.align.addSocialAccount.CreateNewCustomAudience' | translate }}</a>
						</div>
					</div>
					<div class="clear-fix"></div>
					<div class="editing-existing-message" ng-if="editingMode !== 'new' && !showSavingView">
						{{ 'label.align.addSocialAccount.YouareeditinganexistingcustomaudienceTocreateanewone' | translate }}<b><a href="" ng-click="closeSavingView()"> {{ 'label.align.addSocialAccount.ClickHere' | translate }}</a></b>
					</div>
				</div>
			</fs-accordion-group>
		</fs-accordion>
	</div>
</div>

<div class="your-audiences-container row">

	<h1 style="margin-left: 0.1em;">{{ 'label.align.YourCustomAudiences' | translate }}</h1>
 	<h1 class="refresh-audiences" ng-click="forceSyncAudiences()"><i class="fa fa-refresh" ng-class="{'fa-spin': spinRefresh}"></i> {{ 'label.align.addSocialAccount.SyncWithFacebook' | translate }}</h1>

	<div infinite-scroll="getNextCustomGroup()" infinite-scroll-disabled="doneFetchingCustom || fetchingCustom" infinite-scroll-container="'.ngdialog'" infinite-scroll-parent="true" infinite-scroll-immediate-check="false" infinite-scroll-distance="1">
		<div class="col-md-7 audience-card-container" ng-repeat="audience in customAudiences">
			<div ng-include="'app/main/align/addSocialAccount/facebookCustomAudiences/customAudienceCard.html'"></div>
		</div>		
		<div class="spacer" style="clear: both;"></div>
	</div>

	<div ng-show="fetchingCustom" class="loading-posts-block">
	  <div class="sp sp-bars"></div>
	</div>

	<div class="empty-audiences-container" ng-show="!customAudiences.length && !fetchingCustom">
    {{ 'label.align.addSocialAccount.YourCurrentlyDontHaveAnyCustomAudiencesAssociatedWithThisAdAccount' | translate }}
	</div>


<!-- 	<div class="btn btn-tertiary btn-solid more-audiences" ng-if="!doneFetchingCustom" ng-click="getNextCustomGroup()">
		More
	</div> -->
</div>
<div class="modal-footer facebook-modal-footer">
  <button class="btn-solid btn-primary" style="float: right; margin-left: 5px;"ng-click="closeThisDialog()">{{ 'label.align.addSocialAccount.Done' | translate}}</button>
</div>
