<div class="ad-account-container">
	<div class="row">
		<div class="col-md-8">
			<h4>{{ 'label.align.SelectAdAccount' | translate }}</h4>
			<div class="fs-dropdown default">
				<div class="fs-dropdown-link" style="cursor: pointer;" on-state="click" >
				    <span>{{selectedAdAccount.name ||selectedAdAccount.accountId ?  selectedAdAccount.name ||selectedAdAccount.accountId : 'Choose Ad Account' }}</span>
				    <i class="fa fa-caret-down"></i>
				</div>
				<ul class="fs-dropdown-menu">
				    <li ng-click="selectAdAccount(account)" ng-repeat="account in facebookAdAccounts">
				    	{{ account.name || account.accountId }}
				    </li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="add-audience-container">
	<div class="row">
		<fs-accordion>
		   	<fs-accordion-group is-open="true" header="Add your lookalike audience in 3 easy steps:" is-disabled='false'>
				<div class="row">
					<div class="col-md-24" ng-show="!showSavingView">
						<div ng-include="'app/main/align/addSocialAccount/facebookCustomAudiences/addLookalikeAudience.html'"></div>
					</div>
					<div class="saving-view-container col-md-24" ng-show="showSavingView">
						<div class="checkmark-container">
							<i class="fa fa-check-circle fa-5x"></i>
						</div>
						<div class="saving-view-header-container">
							<h5>
							{{ 'label.align.NewLookalikeAudiencecalled' | translate }}

							{{ selectedCustomAudience.audienceName }}

							{{ 'label.align.isnowsavedandpending' | translate }}
							</h5>
						</div>
						<div class="saving-view-body-container">
							{{ 'label.align.WehavesentyourlookalikeaudiencetobereviewedbyFacebookScrolldowntofindoutthecurrentstatusofyourlookalikeaudiences' | translate }}

							{{ 'label.align.WhenthelistisapprovedbyFacebookyoucanuseitinthetargetingtab' | translate }}
						</div>
						<div ng-click="closeSavingView()" class="btn-outline btn-secondary">
							<a href=""> {{ 'label.align.addSocialAccount.CreateNewLookalikeAudience' | translate }}</a>
						</div>
					</div>
				</div>
			</fs-accordion-group>
		</fs-accordion>
	</div>
</div>

<div class="your-audiences-container row">
	<h1 style="margin-left: 0.1em;">{{ 'label.align.YourLookalikeAudiences' | translate }}</h1>
  	<h1 class="refresh-audiences" ng-click="forceSyncAudiences()"><i class="fa fa-refresh" ng-class="{'fa-spin': spinRefresh}"></i> {{ 'label.align.addSocialAccount.SyncWithFacebook' | translate }}</h1>

  	<div infinite-scroll="getNextCustomGroup()" infinite-scroll-disabled="doneFetchingLookalike || fetchingLookalike" infinite-scroll-container="'.ngdialog'" infinite-scroll-parent="true" infinite-scroll-immediate-check="false" infinite-scroll-distance="1">
  		<div class="col-md-7 audience-card-container" ng-repeat="audience in lookalikeAudiences">
  			<div ng-include="'app/main/align/addSocialAccount/facebookCustomAudiences/lookalikeAudienceCard.html'"></div>
  		</div>		
  		<div class="spacer" style="clear: both;"></div>
  	</div>
  	
	<div class="spacer" style="clear: both;"></div>


	<div ng-show="fetchingLookalike" class="loading-posts-block">
	  <div class="sp sp-bars"></div>
	</div>


	<div class="empty-audiences-container" ng-show="!lookalikeAudiences.length">
		{{ 'label.align.addSocialAccount.YouCurrentlyDontHaveAnyLookalikeAudiencesWithUs' | translate }}
	</div>

	<!-- <div class="btn btn-tertiary btn-solid more-audiences" ng-if="lookalikeAudiences.length >= 20 && !doneFetchingLookalike" ng-click="getNextLookalikeGroup()">
		More
	</div> -->
</div>

<div class="modal-footer facebook-modal-footer">
  <button class="btn-solid btn-primary" style="float: right; margin-left: 5px;"ng-click="closeThisDialog()">{{ 'label.align.addSocialAccount.Done' | translate}}</button>
</div>
