<div class="col-md-24">
  <div class="forms toc-container">
    <i ng-if="!view.showAcceptButton" ng-click="closeThisDialog()" class="fa fa-times pointer fright"></i>
    <h4>{{ 'label.register.TermsOfService' | translate}}</h4>
    <div class="scroll-area form-group" ng-include="'app/anonymous/termsAndConditions/termsAndConditionsContent.html'">
    </div>
    <div ng-if="view.showAcceptButton">
      <div class="form-group">
        <input ng-model="termsCheckbox" id="terms" required type="checkbox">
        <label for="terms">{{ 'label.register.TermsOfServiceAgreement' | translate}}</label>
      </div>
      <div class="fright">
        <button class="btn-solid btn-outline" ng-click="cancelTerms()">{{ 'label.register.Cancel' | translate}}</button>
        <button class="btn btn-solid btn-primary" ng-disabled="!termsCheckbox" ng-click="acceptTerms()">{{ 'label.register.Accept' | translate}}</button>
      </div>
    </div>
  </div>
</div>

