<div class="col-md-24">
  <div class="forms toc-container">
    <i ng-if="!view.showAcceptButton" ng-click="closeThisDialog()" class="fa fa-times pointer fright"></i>
    <h4>{{ 'label.login.TermsOfService' | translate}}</h4>
    <div class="scroll-area form-group" ng-include="'app/anonymous/termsAndConditions/termsAndConditionsContent.html'">
    </div>
  </div>
</div>

