THESE TERMS OF SERVICE (THE “TERMS“ OR THE “AGREEMENT“) BETWEEN YOU (“CLIENT“ OR “YOU“) AND ACCOMPLICE, INC., A DELAWARE CORPORATION (“ACCOMPLICE“ OR “US“ OR “OUR“ OR “WE“) (EACH A “PARTY“ AND COLLECTIVELY, THE “PARTIES“) GOVERN YOUR USE OF ALL THE TEXT, DATA, INFORMATION, SOFTWARE, GRAPHICS, PHOTOGRAPHS AND MORE (ALL OF WHICH WE REFER TO AS “MATERIALS“) WE MAY PROVIDE THROUGH THE SITE LOCATED AT THE URL: ACCOMPLICE.IO, DASHBOARD.ACCOMPLICE.IO, AND APP.ACCOMPLICE.IO AS WELL AS ALL ASSOCIATED SITES LINKED TO ACCOMPLICE.IO BY ACCOMPLICE, ITS SUBSIDIARIES AND AFFILIATED COMPANIES (COLLECTIVELY, THE “SITE“) AND ANY AND ALL SERVICES, TOOLS, SOFTWARE, CONTENT AND FUNCTIONALITIES AS MAY BE PROVIDED BY ACCOMPLICE FROM TIME TO TIME THROUGH THE SITE, INCLUDING ACCESS TO AND USE OF OUR PROPRIETARY SOFTWARE-AS-A-SERVICE MARKETING OPTIMIZATION PLATFORM (THE “SERVICES“).
BY USING THIS SITE OR USING THE SERVICES, YOU ARE AGREEING TO ALL THE TERMS; IF YOU DO NOT AGREE WITH ANY OF THESE TERMS, DO NOT ACCESS OR OTHERWISE USE THIS SITE, THE SERVICES OR ANY INFORMATION CONTAINED ON THIS SITE.  BY ACCEPTING THESE TERMS, OR BY ACCESSING OR USING THE SITE OR THE SERVICES, OR AUTHORIZING AN END USER TO ACCESS OR USE THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS.  IF YOU ACCEPT OR AGREE TO THESE TERMS ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT AND WARRANT THAT YOU HAVE THE AUTHORITY TO BIND SUCH COMPANY OR  OTHER LEGAL ENTITY TO THESE TERMS, AND IN SUCH EVENT, “YOU“ AND “YOUR“ WILL REFER AND APPLY TO SUCH COMPANY OR OTHER LEGAL ENTITY.
<br><br>
<b>1.   Change to the terms</b>
<br><br>
We may alter the Materials and Services We offer You and/or choose to modify, suspend or discontinue this Site at any time and without notifying You. Accomplice reserves the right to update and change the terms and conditions of this Agreement from time to time without notice. Any new product features released by Accomplice shall be subject to this Agreement and continued use of the Site and Services after any such changes shall constitute Client consent to such changes. If You object to any such modifications, Your sole recourse shall be to cease using this Site.  Continued use of this Site following notice of any such modifications indicates You acknowledge and agree to be bound by the modifications.
<br><br>
<b>2.	General Use of the Site.</b>
<br><br>
We invite You to use this Site for individual purposes ("Permitted Purposes").
<br><br>
In these Terms we are granting You a limited, personal, non-exclusive and non-transferable license to use and to display the Materials; Your right to use the Materials is conditioned on Your compliance with these Terms.  You have no other rights in this Site or any Materials and You may not modify, edit, copy, reproduce, create derivative works of, reverse engineer, alter, enhance or in any way exploit any of this Site or Materials in any manner.  If You make copies of any of this Site while engaging in Permitted Purposes then We ask that You be sure to keep on the copies all of Our copyright and other proprietary notices as they appear on this Site.  Unfortunately, if You breach any of these Terms the above license will terminate automatically and You must immediately destroy any downloaded or printed materials (and any copies thereof).
<br><br>
<b>3.	Use of the Site and the Services.</b>
<br><br>
We appreciate You visiting this Site and allow You to do just that – stop by and leisurely check it out without even registering with Us!  However, in order to access certain password-restricted areas of this Site and to use certain Services and Materials offered on and through this Site, You must successfully register an account with Us.
<br><br>
If You desire to register for an Account with Accomplice, You must submit the following information through the Account registration page on the Site:  Name, email, mailing address, billing address, and payment information.  Once You have submitted Your Account registration information, Accomplice shall have the right to approve or reject the requested registration, in Accomplice’s sole discretion.  If Your Account is approved by Accomplice, You will be sent an e-mail that contains the necessary password (“Account Password“) and network links or connections (“Access Protocols“) that will allow You to log-on and access the Services using that password for the first time though the Site.  You will have the ability to revise Your Account Password through the settings within the Services.  All the information that You provide when registering for an Account through the Site must be accurate, complete and up to date.  You may change, correct or remove any information from Your Account by either logging into Your account directly and making the desired changes or contacting Accomplice using the contact information at the end of these Terms requesting that we make the change.
<br><br>
Subject to the terms and conditions contained in these Terms, Accomplice grants to Client a limited, non-exclusive, non-transferable right to access and use the Services during the Subscription Term solely for Client’s legitimate business use and pursuant to the terms of this Agreement. Client shall not use the Services for, or on behalf of, third parties that are not authorized under this Agreement. We shall also provide You text and/or graphical documentation, whether in electronic or printed format, that describe the features, functions and operation of the Services, which materials are designed to facilitate use of the Services (the “Documentation“) to be used by You in accessing and using the Services.  Subject to these Terms, Accomplice hereby grants to You a non-exclusive, non-transferable right and license to use the Documentation during the Subscription Term for Your internal purposes in connection with Your use of the Services as contemplated herein.
<br><br>
Client acknowledges that its right to use the Services will be web-based only pursuant to the terms of this Agreement and Accomplice’s software will not be installed on any servers or equipment owned or controlled by Client.
<br><br>
In the event that You require professional services from Us to assist with the integration, implementation, or configuration of the Services, You may contract for such Services pursuant to a separate Professional Services Agreement with Us.
<br><br>
<b>4.	Restrictions on Use.</b>
<br><br>
You agree that You will not, and will not permit any Authorized End Users to, (i) copy or duplicate any of the Materials or Services; (ii) decompile, disassemble, reverse engineer or otherwise attempt to obtain or perceive the source code from which any software component of any of the Materials or Services is compiled or interpreted, or apply any other process or procedure to derive the source code of any software included in the Materials or Services, or attempt to do any of the foregoing, and You acknowledge that nothing in these Terms will be construed to grant You any right to obtain or use such source code; (iii) modify, alter, tamper with or repair any of the Materials or Services, or create any derivative product from any of the foregoing, or attempt to do any of the foregoing, except with Our prior written consent; (vi) interfere or attempt to interfere in any manner with the functionality or proper working of any of the Materials or Services; (v) remove, obscure, or alter any notice of any intellectual property or proprietary right appearing on or contained within any of the Materials or Services; (vi) use any Public Software (as defined below) in connection with any of the Materials or Services in any manner that requires, pursuant to the license applicable to such Public Software, that any of the Materials or Services be (a) disclosed or distributed in source code form, (b) made available free of charge to recipients, or (c) modifiable without restriction by recipients; or (iv) assign, sublicense, sell, resell, lease, rent or otherwise transfer or convey, or pledge as security or otherwise encumber, Your rights granted hereunder.  Client agrees that its use of the Services will be in a manner consistent with this Agreement and with all applicable laws and regulations. “Public Software“ means any software, documentation or other material that contains, or is derived (in whole or in part) from any software, documentation or other material that is distributed as free software, open source software (e.g., Linux) or similar licensing or distribution models, including, but not limited to software, documentation or other material licensed or distributed under any of the following licenses or distribution models, or licenses or distribution models similar to any of the following:  (a) the GNU General Public License (GPL); Lesser/Library GPL (LGPL), or Free Documentation License; (b) the Artistic License (e.g., PERL); (c) the Mozilla Public License; (d) the Netscape Public License; (e) the Sun Community Source License (SCSL);(f) the Sun Industry Standards License (SISL); (g) the BSD license; and (h) the Apache License.
<br><br>
You acknowledge and agree that, as between You and Us, You shall be responsible for all acts and omissions by You or any of Your individual employees, agents, or contractors accessing or using the Services (“Authorized End Users“), and any act or omission by an Authorized End User which, if undertaken by You, would constitute a breach of this Agreement, shall be deemed a breach of this Agreement by You.  You shall undertake reasonable efforts to make all Authorized End Users aware of the provisions of these Terms as applicable to such Authorized End User’s use of the Services, and shall cause Authorized End Users to comply with such provisions.
<br><br>
In addition to our cancellation rights as set forth in Section 12, Accomplice reserves the right, in Our reasonable discretion, to temporarily suspend Your access to and use of the Services: (i) during planned downtime for upgrades and maintenance to the Services (of which We will use commercially reasonable efforts to notify You in advance); (ii) during any unavailability caused by circumstances beyond Our reasonable control, such as, but not limited to, acts of God, acts of government, acts of terror or civil unrest, technical failures beyond our reasonable control (including, without limitation, inability to access the Internet), or acts undertaken by third parties; or (iii) if We suspect or detect any malicious software connected to Your account or use of the Services by You or Your Authorized End Users.
<br><br>
<b>5.	Intellectual Property and Client Information.</b>
<br><br>
All right, title, and interest in and to the Material and Services (including, but not limited to, codes, sequences, derivative works, organization, structure, interfaces, any documentation, data, trade names, trademarks, or other related materials) is, and at all times shall remain, the sole and exclusive property of Accomplice. Accomplice retains all ownership and intellectual property rights to any technology developed or delivered under this Agreement. Except for the right to use the Materials and Services, as expressly provided herein, this Agreement does not grant to Client any rights to, or in, patents, copyrights, database rights, trade secrets, trade names, trademarks (registered or unregistered) or any other rights or licenses with respect to the Materials or Services. Accomplice shall have the right to use Client’s trademarks for the purpose of marketing the Services. Client acknowledges that insights generated through Client’s use of the Services may be used for case studies or other publications. Accomplice shall have a royalty-free, worldwide, transferable, sublicenseable, irrevocable, perpetual license to use or incorporate into the Services or other Accomplice technology any suggestions, enhancement requests, recommendations or other feedback provided by Client or Client’s users regarding the Services.  We acknowledge that You retain all right, title and interest in and to the data, media and content provided by You and/or any Authorized End Users through the Services (“Your Content“).  You grant to Us the right to use Your Content for purposes of making available the Services to You.
<br><br>
<b>6.	Indemnification.</b>
<br><br>
You agree to indemnify and hold Accomplice and its officers, directors, employees, affiliates, agents, licensors, and business partners harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys’ fees and costs of defense) Accomplice or any other indemnified party suffers in relation to or arising from: (i) Your negligence or willful misconduct; or (ii) Your or any Authorized End User’s use of the Site or Services in breach of these Terms.
<br><br>
<b>7.	Warranties; Disclaimer of Warranties.</b>
<br><br>
NOTWITHSTANDING ANYTHING TO THE CONTRARY, THE SITE, THE SERVICES AND THE MATERIALS MADE AVAILABLE TO CLIENT HEREUNDER ARE PROVIDED “AS IS“, “WITH ALL FAULTS“ AND WITHOUT ANY WARRANTY OF ANY KIND. ACCOMPLICE EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. Without limiting the generality of the foregoing, We make no warranty that this Site will meet Your requirements or that this Site will be uninterrupted, timely, secure, or error free or that defects in this Site will be corrected. We make no warranty as to the results that may be obtained from the use of this Site or as to the accuracy or reliability of any information obtained through this Site. No advice or information, whether oral or written, obtained by You through this Site or from Us or Our subsidiaries/other affiliated companies shall create any warranty. We disclaim all equitable indemnities.
<br><br>
<b>8.	Limitation of Liability.</b>
<br><br>
IN NO EVENT SHALL ACCOMPLICE BE LIABLE TO CLIENT OR ANY THIRD PARTY FOR ANY INDIRECT, SPECIAL, INCIDENTAL, RELIANCE, CONSEQUENTIAL, OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION LOST PROFITS, SAVINGS OR REVENUES, WHETHER BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE, PRODUCT LIABILITY AND STRICT LIABILITY) OR OTHERWISE, REGARDLESS OF THE NATURE OF THE CLAIM OR WHETHER ACCOMPLICE KNEW OR HAD REASON TO KNOW OF THE POSSIBILITY OF SUCH DAMAGES. THE MAXIMUM AGGREGATE LIABILITY OF ACCOMPLICE TO YOU FOR ALL CLAIMS ARISING FROM OR RELATING TO THESE TERMS, INCLUDING, WITHOUT LIMITATION, ANY CAUSE OF ACTION SOUNDING IN CONTRACT, TORT, OR STRICT LIABILITY SHALL NOT EXCEED THE AMOUNT ACTUALLY PAID BY CLIENT TO ACCOMPLICE HEREUNDER IN THE SIX MONTHS BEFORE THE DATE THE CAUSE OF ACTION AROSE. ACCOMPLICE SHALL NOT BE LIABLE FOR ANY DELAY OR FAILURE TO PERFORM DUE TO FORCE MAJEURE. In the event applicable law does not permit such limitation or exclusion of liability, the subject limitation or exclusion of liability shall be deemed modified so as to be effective to the greatest extent permitted.
<br><br>
<b>9.	Term</b>
<br><br>
The initial term of this Client’s subscription to the Services will be set forth on the applicable form entered into between Client and Accomplice (the “Service Form“) and will automatically renew for a successive term as defined in the Service Form unless either Party notifies the other prior to the expiration of the current term of its intention not to renew (the “Subscription Term“).
<br><br>
<b>10.	Campaign Modification.</b>
<br><br>
Accomplice will use commercially reasonable efforts to deliver media on the requested campaign start date. Unless otherwise specified by this Agreement, Client media will be placed until the end date noted on the Services Form. Accomplice reserves the right to extend a campaign in order to best deliver media in accordance with this Agreement.
<br><br>
<b>11.	Invoicing and Guaranteed Payment.</b>
<br><br>
The Parties agree to the payment and invoicing provisions set forth on the applicable Service Form. Except for termination by Client for cause and unless otherwise set forth in the applicable Service Form, if the Subscription Term is terminated prior to the end of the term set forth on the applicable Service Form, the entire balance of unpaid fees for the remainder of the initial term shall accelerate and become due and payable immediately in a lump sum.
<br><br>
<b>12.	Cancellation or Termination.</b>
<br><br>
Unless otherwise set forth in the applicable Service Form, Client may terminate Client’s subscription to the Services at any time for convenience by thirty (30) days prior written notice.  If You terminate Your subscription to the Services or cancel Your account prior to the end of Your then effective Subscription Term or if We effect such termination or cancellation pursuant to these Terms, in addition to other amounts You may owe Us, You must immediately pay any then unpaid fees associated with the remainder of such Subscription Term.  No refunds of credits for fees or other payments will be provided if You elect to terminate Your subscription to the Services or cancel Your account prior to the end of Your then effective Subscription Term.  Following the termination or cancellation of Your subscription to the Services and/or account, Accomplice shall provide You thirty (30) days to download or otherwise remove Your Content.  Thereafter, Accomplice reserves the right to delete all Your Content and any other data in the normal course of operation.
<br><br>
Accomplice reserves the right to modify, suspend or terminate the Services (or any part thereof), Your account and/or Your Authorized End User’s rights to access and use the Services, and remove, disable and discard any of Your Content if we believe that You or Your Authorized End Users have violated these Terms.  Unless legally prohibited from doing so, We will use commercially reasonable efforts to contact You directly via email to notify You when taking any of the foregoing actions.  Accomplice shall not be liable to You, Your Authorized End Users or any other third party for any such modification, suspension or discontinuation of Your rights to access and use the Services.
<br><br>
<b>13.	Tracking.</b>
<br><br>
At Accomplice’s direction, Client may elect to install Javascript code (“Accomplice Conversion Script“ or “Script“), which Accomplice will program with the criteria to track valid events. Client is responsible for installation and use of any Script and may not make any modification to the Script. Installations will be deemed valid as tracked by the Script. In the event that a Script is not properly installed or any unauthorized modifications are made to the Script, Client agrees to immediately notify Accomplice of any such occurrence, as Script functionality is critical to campaign optimization.
<br><br>
<b>14.	Confidential Information.</b>
<br><br>
“Confidential Information“ means all written or oral information, disclosed by Accomplice to You or by You to Accomplice related to the operations of either party or a third party that has been identified as confidential or that by the nature of the circumstances surrounding disclosure ought reasonably to be treated as confidential.  Each Party (“Receiving Party“) acknowledges that it may receive Confidential Information from other Party (“Disclosing Party“). Accomplice Confidential Information includes the algorithms, logic, design, and coding methodology embodied in the Services, Accomplice’s website, and all software and technology We use in conjunction with the Services. Client Confidential Information includes the information Client provides in use of the Site or Services, including without limitation, Non-Public Personal information (defined below). The Disclosing Party exclusively owns all rights, title and interest in and to all of its Confidential Information. “Non-Public Personal Information“ means any of the following information received by Accomplice from Client: any identifier that permits physical or online contacting of a specific individual person, including without limitation, any one or more of (i) first and last name, (ii) home or physical address, (iii) email address, (iv) telephone number, or (v) social security number.  The Receiving Party agrees that it will not use in any way, for its own account or the account of any third party, except as expressly permitted by, or required to achieve the purposes of, this Agreement, nor disclose to any third party (except as required by law or to that Party’s attorneys, accountants and other advisors as reasonably necessary who are bound by similar confidentiality agreements), any of the Disclosing Party’s Confidential Information and will take reasonable precautions to protect the confidentiality of such information in at least the same manner as is necessary to protect its own Confidential Information.  Confidential Information will not include information that: (i) is known to the Receiving Party prior to receipt from the Disclosing Party, whether directly or indirectly, from a source other than one having an obligation of confidentiality to the Disclosing Party; (ii) becomes known (independently of disclosure by the Disclosing Party) to the Receiving Party, whether directly or indirectly, from a source other than one having an obligation of confidentiality to the Disclosing Party; (iii) becomes publicly known or otherwise ceases to be secret or confidential, except through a breach of this Agreement by the Receiving Party; (iv) is independently developed by the Receiving Party or (v) is approved for release or disclosure by the Disclosing Party without restriction. The Receiving Party may disclose Confidential Information pursuant to the requirements of a governmental agency or by operation of law, provided that such Receiving Party gives the Disclosing Party written notice thereof as soon as practicable and reasonably cooperates with the Disclosing Party to contest such disclosure.
<br><br>
<b>15.	Privacy; Security.</b>
<br><br>
Client consents to the disclosure and use of information in accordance with the Privacy Policy (http://accomplice.io/privacy-policy/).  Client will be solely responsible for acquiring and maintaining technology and procedures for maintaining the security of Client’s link to the Internet. Accomplice will implement reasonable and adequate security procedures consistent with prevailing industry standards, to protect Client’s Confidential Information and data from unauthorized access; provided, however, unless resulting from our failure to perform the forgoing obligations, Client agree that Accomplice shall not, under any circumstances, be held responsible or liable for situations (i) where Client’s Confidential Information, data or transmissions are accessed by third parties through illegal or illicit means, or (ii) where Client’s Confidential Information, data, or transmissions are accessed through the exploitation of security gaps, weaknesses, or flaws unknown to Accomplice at the time. Accomplice will report to Client any unauthorized access to Client data promptly upon discovery by Accomplice, and Accomplice will use diligent efforts to promptly remedy any breach of security that enabled such unauthorized access. In the event notification to persons included in Client data is required, Client will be solely responsible for any and all such notifications at Client’s expense; however, Accomplice will provide reasonable assistance.
<br><br>
You are responsible for maintaining the confidentiality of Your Account Passwords, and You are responsible for all activities that occur using your Account Passwords. You agree not to share Your Account Passwords, let others access or use Your Account Passwords or do anything else that might jeopardize the security of Your Account Passwords.  You agree to notify Accomplice if Your Account Passwords are lost, stolen, if You are aware of any unauthorized use of Your Account Passwords on this Site or if You know of any other breach of security in relation to this Site.  You acknowledge and agree that Account Passwords assigned to individual Authorized End Users shall not be shared with anyone other than the original assignee of such Account Password.
<br><br>
To the extent that You and any Authorized End User, through or in connection with use of the Services, collects, uses, stores or discloses data from any other party, You and/or each Authorized End User shall accurately and adequately disclose, either through a privacy policy or otherwise, how You and/or each such Authorized End User collects, uses, stores or discloses such data, and where necessary You shall obtain consent to such.  You shall comply with all applicable laws, rules and regulations regarding Your use of the Services, including all applicable laws, rules and regulations related to the collection, use, disclosure, storage and security of the information that You collect.  You shall adopt and make Your customers aware of Your privacy practices and shall prominently display such privacy policy on Your own Site and online offerings.
<br><br>
<b>16.	Notice.</b>
<br><br>
All notices under this Agreement shall be in writing and either hand delivered, e-mailed, sent by fax with electronic acknowledgement, overnight courier, or deposited in the U.S. mail (registered or certified), in each case to the contact information provided to the other party in writing.
<br><br>
By using the Site and/or the Services provided on or through the Site, You consent to receiving electronic communications from Accomplice.  These electronic communications may include notices about applicable fees and charges, transactional information and other information concerning or related to the Site and/or Services provided on or through the Site.  These electronic communications are part of Your relationship with Accomplice.  You agree that any notices, agreements, disclosures or other communications that we send You electronically will satisfy any legal communication requirements, including that such communications be in writing.
<br><br>
<b>17.	Force Majeure.</b>
<br><br>
The failure of either Party hereto to comply with its obligations hereunder shall be excused to the extent such Party’s performance hereunder has been rendered impossible as the result of: an act of God, strike, labor dispute, war, fire earthquake, act of public enemies, acts of terrorism, action of federal, state, or local governmental authorities, a substantial interruption in, or substantial delay or failure of, facilities or systems or for any other reason beyond the reasonable control of the Party claiming protection by reason of such a force majeure event. In the event of such a Force Majeure, the time for performance or cure shall be extended for a period equal to the duration of the Force Majeure.
<br><br>
<b> 18.	Links to Third Party Sites.</b>
<br><br>
We think links are convenient, and We sometimes provide links on his Site to third-party Sites.  If You use these links, You will leave this Site. We are not obligated to review any third-party Sites that You link to from this Site, We do not control any of the third-party Sites, and We are not responsible for any of the third-party Sites (or the products, services, or content available through any of them). Thus, We do not endorse or make any representations about such third-party Sites, any information, software, products, services, or materials found there or any results that may be obtained from using them. If You decide to access any of the third-party Sites linked to from this Site, You do this entirely at Your own risk and You must follow the privacy policies and terms and conditions for those third-party Sites.
<br><br>
<b>19.	Unauthorized Activities.</b>
<br><br>
To be clear, We authorize Your use of this Site only for Permitted Purposes.  Any other use of this Site beyond the Permitted Purposes is prohibited and, therefore, constitutes unauthorized use of this Site.  This is because as between You and Us, all rights in this Site remain Our property.
<br><br>
Unauthorized use of this Site may result in violation of various United States of America and international copyright laws.  Because We prefer keeping this relationship drama-free, We want to give You examples of things to avoid.  So, unless You have written permission from Us stating otherwise, You are not authorized to use this Site in any of the following ways (these are examples only and the list below is not a complete list of everything that You are not permitted to do):
<br><br>
•	For any public or commercial purpose which includes use of this Site on another site or through a networked computer environment;
•	In a manner that modifies, publicly displays, publicly performs, reproduces or distributes any of this Site;
•	In a manner that violates any local, state, national, foreign, or international statute, regulation, rule, order, treaty, or other law;
•	To stalk, harass, or harm another individual;
•	To impersonate any person or entity or otherwise misrepresent Your affiliation with a person or entity;
•	To interfere with or disrupt this Site or servers or networks connected to this Site;
•	To use any data mining, robots, or similar data gathering or extraction methods in connection with this Site; or
•	Attempt to gain unauthorized access to any portion of this Site or any other accounts, computer systems, or networks connected to this Site, whether through hacking, password mining, or any other means.
You also agree and understand that as pertaining those sections of the Site that may allow you to publicly post comments or content, You as the author are entirely responsible for the content of, and any harm resulting from, any public content posted or uploaded by you. That is the case regardless of whether Your Content in question constitutes text, graphics, audio files, information, or computer software. By making Your Content publicly available, you represent and warrant that:
(i)	The posting, downloading, copying and use of Your Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
(ii)	Your Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
(iii)	Your Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
(iv)	Your Content does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;
(v)	Your Content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;
(vi)	Your Content is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your URL or name is not the name of a person other than yourself or company other than your own;
(vii)	You Content does not include racially, ethnically, obscene, sexually explicit or otherwise offensive language or use the Website to discuss, incite illegal activity or promote hatred against individuals or groups based on race, ethnic origin, religion, disability, gender, age, veteran status, sexual orientation, or gender identity.
You agree to hire attorneys to defend Us if You violate these Terms and that violation results in a problem for Us.  You also agree to pay any damages that We may end up having to pay as a result of Your violation.  You alone are responsible for any violation of these Terms by You.  We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by You and, in such case, You agree to cooperate with Our defense of such claim.
<br><br>
20.	Intellectual Property Infringement.
<br>
We respect the intellectual property rights of others and encourage You to do the same. Accordingly, We have a policy of removing any of  Your Content that violate intellectual property rights of others, suspending access to this Site (or any portion thereof) to any user who uses this Site in violation of someone’s intellectual property rights, and/or terminating in appropriate circumstances the account of any user who uses the this Site in violation of someone’s intellectual property rights.
<br><br>
Pursuant to Title 17 of the United States Code, Section 512, We have implemented procedures for receiving written notification of claimed copyright infringement and for processing such claims in accordance with such law. If You believe Your copyright or other intellectual property right is being infringed by a user of this Site, please provide written notice to Our agent for notice of claims of infringement:
<br><br>
Attn: Accomplice CTO
Email: support@accomplice.io
<br><br>
To be sure the matter is handled immediately, Your written notice must:
•	Contain Your physical or electronic signature;
•	Identify the copyrighted work or other intellectual property alleged to have been infringed;
•	Identify the allegedly infringing material in a sufficiently precise manner to allow Us to locate that material;
•	Contain adequate information by which We can contact You (including postal address, telephone number, and e-mail address);
•	Contain a statement that You have a good faith belief that use of the copyrighted material or other intellectual property is not authorized by the owner, the owner's agent or the law;
•	Contain a statement that the information in the written notice is accurate; and
•	Contain statement, under penalty of perjury, that You are authorized to act on behalf of the copyright or other intellectual property right owner.
Unless the notice pertains to copyright or other intellectual property infringement, the agent will be unable to address the listed concern.
<br><br>
Submitting a DMCA Counter-Notification
<br><br>
We will notify You that We have removed or disabled access to copyright-protected material that You provided, if such removal is pursuant to a validly received DMCA take-down notice. In response, You may provide Our agent with a written counter-notification that includes the following information:
<br><br>
1.	Your physical or electronic signature;
2.	Identification of the material that has been removed or to which access has been disabled, and the location at which the material appeared before it was removed or access to it was disabled;
3.	A statement from You under the penalty of perjury, that You have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled; and
4.	Your name, physical address and telephone number, and a statement that You consent to the jurisdiction of a court for the judicial district in which Your physical address is located, or if Your physical address is outside of the United States, for any judicial district in which We may be located, and that You will accept service of process from the person who provided notification of allegedly infringing material or an agent of such person.
Termination of Repeat Infringers
<br><br>
We reserve the right, in Our sole discretion, to terminate the account or access of any user of this Site or Service who is the subject of repeated DMCA or other infringement notifications.
<br><br>
<b>21.	Local Laws; Export Control.</b>
<br><br>
We control and operate this Site from Our headquarters in the United States of America and the entirety of this Site may not be appropriate or available for use in other locations.  If You use this Site outside the United States of American, You are solely responsible for following applicable local laws.
<br><br>
<b>22.	General.</b>
<br><br>
We think direct communication resolves most issues – if We feel that You are not complying with these Terms, We will tell You.  We will even provide You with recommended necessary corrective action(s) because We value this relationship.
<br><br>
However, certain violations of these Terms, as determined by Us, may require immediate termination of Your access to this Site without prior notice to You.  The Federal Arbitration Act, California state law and applicable U.S. federal law, without regard to the choice or conflicts of law provisions, will govern these Terms.  Foreign laws do not apply.  Except for disputes subject to arbitration as described above, any disputes relating to these Terms or this Site will be heard in the courts located in San Francisco County, California.  If any of these Terms are deemed inconsistent with applicable law, then such term(s) shall be interpreted to reflect the intentions of the parties, and no other terms will be modified.  By choosing not to enforced any of these Terms, We are not waiving Our rights.  These Terms are the entire agreement between You and Us and, therefore, supersede all prior or contemporaneous negotiations, discussions or agreements between Everyone about this Site.  The proprietary rights, disclaimer of warranties, representations made by You, indemnities, limitations of liability and general provisions shall survive any termination of these Terms.
<br><br>
<b>23.	Contact Us.</b>
<br><br>
If You have any questions about these Terms or otherwise need to contact Us for any reason, You can reach Us at Accomplice, Inc., 611 Mission St., 6th Floor, San Francisco, CA 94105.
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
This page was last updated on September 11, 2015.