<div class="variants-container" ng-show="view[variantType].variants.length">
	<div ng-repeat="variant in view[variantType].variants | reverse track by $index">

	<!-- Each Variant -->
		<div ng-click="selectVariant(variantType, view[variantType].variants.indexOf(variant))"
         ng-class="{ selectedVariant: variant.selected }" class="variant col-md-19">
      <div class="remove-variant"
           ng-click="removeVariant(variantType, view[variantType].variants.indexOf(variant)); stopEventProp($event);">
				&times;
			</div>
			<div class="no-pills-label" ng-show="variant.pills.length < 1">
				{{ 'label.act.enterAValueToSaveThisVariant' | translate }}
			</div>
	<!-- Each pill in each variant -->
			<div class="variant-pill" ng-repeat="pill in variant.pills track by $index">
				<div class="remove-pill" ng-click="removeTargetingSpecFromVariant(variantType,variant, $index)">
					&times;
				</div>
				{{ pill.value }}
			</div>
		</div>
    <div class="col-md-4 add-variant-container" ng-if="$first && !noAddVariant">
      <a href="" class="add-variant btn-outline btn-primary tooltipped tooltipped-n tooltipped-multiline" ng-click="addVariant(variantType)" aria-label="{{ 'label.act.tooltip.IfyouwanttoABtestbetweendifferenttargetinggroups' | translate }}">
        <i class="fa fa-plus"></i>
      </a>
    </div>
	</div>
</div>
