<div class="modal-header audience-modal-header">
	<h3>{{'label.act.Keywords' | translate }}</h3>
</div>
<div class="modal-body keywords-container">
	<div class="row">

		<div class="col-md-14">
			<div class="kw-header-container">
				<div>
					{{'label.act.Enterawordorphrasetoseekeywordsuggestions' | translate}}
				</div>
				<div>
					{{'label.act.Youcanaddsuggestedkeywordstothelistontheright' | translate}}
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row kw-header-container">
				{{'label.act.TypecopyandpasteoruploadCSVtoaddkeywordsonseparatelinesClickSavetocontinue' | translate }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-14">
			<h4>{{'label.act.KeywordSearch' | translate}}</h4>
			<div class="suggestions-container">
				<div class="suggestions-header">
					<form class="keyword-form" ng-submit="getKeywordSuggestions(keys)">
						<input type="text" placeholder="Type a keyword and press enter" class="keyword-search" name="keyword" ng-model="keys"/>
						<i class="fa fa-search" ng-click="getKeywordSuggestions(keys)"></i>
						<input type="submit" id="submitKeyword" style="display:none;" value="Search"/>
					</form>
					<div class="add-all-container" ng-if="suggestions.length">
						<a href="" ng-click="addAllSuggestions()">{{'label.act.AddAllSuggestions' | translate }}</a>
					</div>
				</div>
				<div class="row" ng-show="suggestionsLoading">
					<h4>{{'label.act.FetchingKeywordSuggestions' | translate }}</h4>
				</div>
				<div class="row" ng-show="noSuggestionsFound && !suggestionsLoading">
					<h4>{{'label.act.NoSuggestionsWereFound' | translate }}</h4>
					<div class="keyword-error-container" ng-show="authError">
						{{ authError }}
					</div>
				</div>
				<div class="row" ng-show="suggestions.length > 0">
					<div class="col-md-11">
						<h4>{{'label.act.Keywords' | translate }}</h4>
					</div>
					<div class="col-md-9">
						<h4>{{'label.act.MonthlySearchVolumes' | translate }}</h4>
					</div>
					<div class="col-md-4">
						<h4>{{'label.act.CPC' | translate }}</h4>
					</div>
				</div>
				<div class="row keyword-suggestion" ng-repeat="suggestion in suggestions" ng-click="addSuggestion(suggestion, $index)">
					<div class="col-md-11">
						<i class="fa fa-plus-circle"></i>
						{{suggestion.keyword}}
					</div>

					<div class="col-md-9">
						{{suggestion.searchVolume | nrFormat }}
					</div>

					<div class="col-md-4">
						${{suggestion.cpc / 1000000 | number: 2 }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<h4 style="display: inline-block;">{{ 'label.act.KeywordList' | translate }}</h4>
			<textarea ng-class="{'placeholder': placeholder}" class="selected-keywords-container" ng-focus="removePlaceholder()" ng-model="selectedKeywords"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-24 text-right">

		  	<fs-csv-import ng-disabled="processing" class="fleft"
		      button-name="'Upload CSV'"
		      on-change="onCsvImport"
		      header="'name'"
		      separator="','">
		    </fs-csv-import>
<!-- 			<input id="save-to-library" ng-click="saveKeywordToLibraryCheckbox = !saveKeywordToLibraryCheckbox" type="checkbox"/> -->
			<!-- <label for="save-to-library">{{'label.act.SaveKeywordsasTemplate' | translate }}</label> -->
			<!-- Save and Close Modal-->
<!-- 			<button ng-click="loadKeywordFromLibrary();" onclick="this.blur();" class="btn-solid btn-tertiary">Load Keyword From Library</button> -->
            <div class="btn btn-solid btn-primary fright" style="margin-left: 1em;" ng-click="saveKeyword(saveKeywordToLibraryCheckbox)">Save</div>
		</div>
	</div>
</div>
