<form name="form.fbPost" id="fbPostForm" novalidate ng-controller="FbpostCtrl">

<!------------------------------------------------------ Top Part ------------------------------------------------------->
<div class="row">
    <!-- Facebook Page Selection-->
    <div class="col-md-12">
        <div class="form-group">
            <div class="fs-dropdown default page" ng-class="{'form-control ng-invalid' : form.fbPostSubmitted  && !fbPost.facebookPage}">
                <!-- Dropdown to allow the user to choose the page. Becomes hidden once the user has selected it -->
                <div class="fs-dropdown-link" on-state="click">
                    <div ng-hide="fbPost.facebookPage">
                        <span class="pointer error-message" ng-click="redirectToAlign()">{{ 'label.act.post.PleaseClicktoRegisteraFacebookPageinSetup' | translate }}</span>
                    </div>
                </div>
                <ul class="fs-dropdown-menu">
                    <li ng-if="!page.flagged" ng-repeat="page in api.facebookPages" ng-click="selectFacebookPage(page)">
                        <img ng-src="{{page.image || page.social.image}}" alt="facebook image">
                        {{ page.name || page.pageName || page.groupName }}
                    </li>
                </ul>
                <!-- When the user has selected a page, display the page chosen -->
                <div class="fs-dropdown-link" on-state="click">
                    <div ng-show="fbPost.facebookPage">
                        <iconic data-src="caret" data-direction="bottom" class="iconic-sm goals-caret-coloring"></iconic>
                        <img ng-src="{{fbPost.facebookPage.image}}" alt="facebook image">
                        <span>{{ fbPost.facebookPage.pageName }}</span>

                    </div>
                </div>
            </div>
            <span class="error-message" ng-if="form.fbPostSubmitted && !fbPost.facebookPage">{{ 'label.act.Thisfieldisrequired' | translate }}</span>
        </div>
    </div>
    <!-- End Facebook Page Selection -->
    <div class="col-md-12">
        <div class="form-group">
            <div daterange-picker options="view.daterangePickerOpts" ng-change="changeDate(fbPost.startDate)" ng-model="fbPost.startDate"></div>
        </div>
    </div>
    <!-- Apply Best Time -->
    <div class="col-md-12">
        <button type="button"
                class="btn btn-outline btn-secondary"
                ng-click="applyBestTime()"
                ng-disabled="view.isBestTimeApplied">
            {{ 'label.act.post.ApplyBestTime' | translate }}
        </button>
        <span ng-if="view.displayNoMoreBestTimeAvailableMessage">{{ 'label.act.post.Nomorebesttimeavailablefortoday' | translate }}</span>
        <span ng-if="view.isBestTimeApplied">{{ 'label.act.post.Besttimeapplied' | translate }}</span>
    </div>
    <!-- End Apply Best Time-->

</div>
<!------------------------------------------------------ End Top Part ------------------------------------------------------->
<div class="row">
    <!------------------------------------------------------  Left Part ------------------------------------------------------->
    <div class="col-md-24">
        <div class="form-group">
            <span class="pull-right">{{400 - form.fbPost.text.$viewValue.length}}</span>
            <textarea
                    class="post-textarea form-control"
                    ng-model="fbPost.text"
                    ng-paste="checkForUrl($event.originalEvent)"
                    name="text"
                    placeholder="Type your content here"
                    ng-required="true"
                    ng-maxlength="400"
                    fs-focus-input="true"
                    ng-disabled="view.fetchingImages"
                    ng-class="{'ng-pristine': !form.fbPostSubmitted, 'loading': view.fetchingImages}">
            </textarea>
            <div ng-messages="form.fbPost.text.$error" ng-if='form.fbPost.text.$pristine === false || form.text' ng-messages-include="fbPost-messages"></div>
        </div>
        <!-- if facebook and url is present do link preview -->
        <div ng-show="fbPost.preview.headline" class="preview-container">
            <div class="link-preview">
                <div class="row">
                    <i ng-click="removePreview()" class="fa fa-times pointer fright"></i>
                    <div ng-show="fbPost.preview.thumbnail" class="thumbnail-container col-md-6">
                        <a target="_blank">
                            <img ng-if="!fbPost.preview.thumbnail.id" ng-src="{{ fbPost.preview.thumbnail }}"/>
                            <img ng-if="fbPost.preview.thumbnail.id" ng-src="{{ apiUrl + '/api/v2/image/get?guid=' + fbPost.preview.thumbnail.fullGuid }}"/>
                        </a>
                    </div>
                    <div class="metadata-preview-container col-md-18">
                        <div class="headline"> {{ fbPost.preview.headline }} </div>
                        <div class="description" > {{ fbPost.preview.description }} </div>
                        <h4>{{ fbPost.preview.url }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pointer" ng-click="loadImageFromLibrary('Images')">
                    <i class="fa fa-image"></i>
                    {{ 'label.act.post.AddImage' | translate }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-10" ng-show="fbPost.url">
                {{ 'label.act.post.URLTrackingApplied' | translate }}
            </div>
            <div ng-show="view.hasLoadMetadataFailed">
                <i class="fa fa-exclamation-triangle"></i>
                {{ 'label.act.post.loadingMetadaFailedMessage' | translate }}
            </div>

        </div>

        <!-- Image slider -->
        <div class="row" ng-if="fbPost.images.length && fbPost.url">
            <div class="col-md-24">
                <fs-image-slider images="fbPost.images"></fs-image-slider>
            </div>
        </div>
        <div class="row post-image-margin-top" style="width: 150px" ng-if="fbPost.image">
            <!--<div fs-back-img url="apiUrl + '/api/v2/image/get?guid=' + fbPost.image.fullGuid" class="card selected">-->
            <!--<div class="card-header">-->
            <!--<i class="selected-icon fa fa-check-circle"></i>-->
            <!--</div>-->
            <!--</div>-->
            <div class="col-md-24">
                <img height="150" width="150" ng-src="{{apiUrl + '/api/v2/image/get?guid=' + fbPost.image.fullGuid}}" />
            </div>
            <div class="col-md-24 pointer">
                <i ng-click="deleteImage()" class="fa fa-trash-o">{{ 'label.act.post.DeleteImage' | translate }}
                </i>
            </div>
        </div>
    </div>
    <!--
        <div class="col-md-6 post-right-column">
            <div class="form-group">
                <input id="promote-post"
                       ng-click="togglePromotePost()"
                       type="checkbox"
                       ng-model="fbPost.isPromoted"
                       ng-disabled="!fbPost.facebookPage"
                       ng-class="{'error-message' : view.isMissingAdAccountWarning}"/>
                <label for="promote-post" class="post-promote-checkbox" ng-class="{'error-checkbox' : view.isMissingAdAccountWarning}" style="margin-bottom: -7px"></label>
                <h4 class="inline-block" ng-class="{'error-message' : view.isMissingAdAccountWarning}">{{ 'label.act.post.PromotePost' | translate }}</h4>
                <div class="post-ad-account-warning" ng-show="view.isMissingAdAccountWarning">{{ 'label.act.post.PleaseaddanAdaccountintheFacebookmanagementarea,inAlign' | translate }}</div>
            </div>
            <div class="form-group">
                <h4>{{ 'Choose Ad Account' | translate }}</h4>
                <select
                        name="fbAdAccount"
                        ng-model="fbPost.adAccount"
                        ng-options="facebookAdAccount as facebookAdAccount.name for facebookAdAccount in api.facebookAdAccounts"
                        class="post-input"
                        ng-class="{'ng-pristine': !form.fbPostSubmitted}"
                        ng-required="fbPost.isPromoted"
                        ng-disabled="!fbPost.isPromoted">
                    <li>{{ 'label.act.ChooseAdAccount' | translate }}</li>
                </select>
                <div ng-messages="form.fbPost.fbAdAccount.$error" ng-if='form.fbPost.fbAdAccount.$pristine === false || form.postSubmitted' ng-messages-include="fbPost-messages"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">

                        <h4>{{ 'label.act.Budget' | translate }}</h4>
                        <input type="number"
                               name="budget"
                               ng-model="fbPost.budget"
                               min="0"
                               class="post-input form-control"
                               ng-required="fbPost.isPromoted"
                               ng-disabled="!fbPost.isPromoted"
                               placeholder="{{fbPost.channels.facebook.adAccount.currency}}"
                               ng-class="{'ng-pristine': !form.fbPostSubmitted}">
                    </div>
                    <div ng-messages="form.fbPost.budget.$error" ng-if='form.fbPost.budget.$pristine === false || form.fbPostSubmitted' ng-messages-include="fbPost-messages"></div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>{{ 'label.act.Duration' | translate }}</h4>
                        <select name="duration"
                                ng-model="fbPost.duration"
                                ng-options="duration.name for duration in view.durations"
                                class="post-input"
                                ng-required="fbPost.isPromoted"
                                ng-disabled="!fbPost.isPromoted">
                        </select>
                    </div>
                    <div ng-messages="form.fbPost.duration.$error" ng-if='form.fbPost.duration.$pristine === false || form.fbPostSubmitted' ng-messages-include="fbPost-messages"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <h4>{{ 'label.act.post.Audience' | translate }}</h4>
                    <div class="fs-dropdown default check-box-initial-members-block" close-dropdown="closeDropdown" disable-dropdown="!fbPost.isPromoted" ng-class="{'form-control ng-invalid': view.connectionsTargetingError}">
                        <div class="fs-dropdown-link" on-state="click" >
                            <div class="inline-block full-width">
                                <i class="fa fa-caret-left"></i>
                                <span class="inline" ng-show="fbPost.audience.connections.myFans.selected">{{fbPost.audience.connections.myFans.display}}</span>
                                <span class="inline" ng-show="fbPost.audience.connections.myFans.selected && fbPost.audience.connections.fansFriends.selected">, </span>
                                <span class="inline" ng-show="fbPost.audience.connections.fansFriends.selected">{{fbPost.audience.connections.fansFriends.display}}</span>
                            </div>
                        </div>
                        <ul class="fs-dropdown-menu" click-stay>
                            <li>
                                <input type="checkbox" ng-checked="fbPost.audience.connections.myFans.selected" ng-click="toggleConnectionsSelection('myFans')" id="audience-fans" value="My Fans">
                                <label class="full-width" for="audience-fans">{{ 'label.act.post.MyFans' | translate }}</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-checked="fbPost.audience.connections.fansFriends.selected" ng-click="toggleConnectionsSelection('fansFriends')" id="audience-fans-friends" value="Fans' Friends">
                                <label class="full-width" for="audience-fans-friends">{{ 'label.act.post.FansFriends' | translate }}</label>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="view.connectionsTargetingError" class="error-message">{{ 'label.act.post.Pleaseselectatleastoneaudience' | translate }}</div>
                </div>
                <div class="form-group">
                    <h4>{{ 'label.act.post.AdvancedTargeting' | translate }}</h4>
                    <div class="fs-dropdown default check-box-initial-members-block" close-dropdown="closeDropdown" disable-dropdown="!fbPost.isPromoted" ng-class="{'form-control ng-invalid': view.advancedTargetingError && form.fbPostSubmitted}">
                        <div class="fs-dropdown-link" on-state="click">g
                            <i class="fa fa-caret-left"></i>
                            <span class="inline">{{ 'label.act.post.SelectTargeting' | translate }}</span>
                        </div>
                        <ul class="fs-dropdown-menu" click-stay>
                            <li>
                                <input type="checkbox" ng-checked="fbPost.audience.gender.male.selected" ng-click="toggleGenderSelection('male')" id="gender-male" value="Male">
                                <label class="full-width" for="gender-male">{{ 'label.act.post.Male' | translate }}</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-checked="fbPost.audience.gender.female.selected" ng-click="toggleGenderSelection('female')" id="gender-female" value="Female">
                                <label class="full-width" for="gender-female">{{ 'label.act.post.Female' | translate }}</label>
                            </li>
                            <li>
                                <input type="number"
                                       name="minAge"
                                       ng-model="fbPost.audience.ageRange.min"
                                       min="13"
                                       max="64"
                                       class="post-age-range-input form-control"
                                       placeholder="13"
                                       ng-class="{'ng-pristine': !form.fbPostSubmitted}"
                                       ng-required="fbPost.audience.ageRange.max">
                                -
                                <input type="number"
                                       name="maxAge"
                                       ng-model="fbPost.audience.ageRange.max"
                                       min="14"
                                       max="65"
                                       class="post-age-range-input form-control"
                                       placeholder="65"
                                       ng-class="{'ng-pristine': !form.fbPostSubmitted}"
                                       ng-required="fbPost.audience.ageRange.min">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
</div>
</form>


<script type="text/ng-template" id="fbPost-messages" class="error-message">
    <div ng-message="required" class="error-message"> {{ 'label.act.Thisfieldisrequired' | translate }}</div>
    <div ng-message="url" class="error-message"> {{ 'label.act.Theurlneedstobefullyformatted' | translate }}</div>
    <div ng-message="minlength" class="error-message"> {{ 'label.act.Inputtooshort' | translate }}</div>
    <div ng-message="maxlength" class="error-message"> {{ 'label.act.Exceededmaxlength' | translate }}</div>
    <div ng-message="number" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
    <div ng-message="min" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
</script>

