<div class="fs-custom-role-inline">
  <div ng-hide="view.editorEnabled">
    {{value}}
    <span class="button btn-project-custom" ng-click="enableEditor()">{{naming}}</span>
  </div>
  <div ng-show="view.editorEnabled" class="input-part-app" ng-form="appIdForm">
    <input type="text" ng-pattern="numbersRegex" name="appId" class="small-12.columns" placeholder="999 9999 999" ng-model="view.editableValue">
    <div class="save-team-block" ng-if="view.editorEnabled">
      <button class="team-button" ng-click="disableEditor()">
        <span class="fa fa-times"></span>
      </button>
      <button class="team-button" ng-click="saveProject()">
        <span class="fa fa-check"></span>
      </button>
    </div>
  </div>
  <div class="create-new-project-li fadein fadeout" style="padding: .4em;" ng-show="appIdForm.appId.$dirty && appIdForm.appId.$invalid">
    <p style="font-weight: bold;">{{ 'label.alignProjects.InvalidAppId' | translate }}</p>
  </div>
</div>
