<div class="fs-project-inline">
  <div ng-hide="view.editorEnabled">
    {{value}}
    <button class="btn-solid btn-outline spacing-btn" ng-click="enableEditor()">{{naming}}</button>
  </div>
  <div ng-show="view.editorEnabled" class="input-part">
    <input ng-disabled="disabled" maxlength="64" ng-maxlength="64" ng-blur="disableEditor()"
           type="text" class="small-12.columns form-control" placeholder="My Project Name" ng-model="view.editableValue">
    <p ng-if="!disabled" class="save-button-input" ng-click="saveProject()">| Save</p>
  </div>
</div>
