.btn-project-custom-new {
  display: block;
  clear: both;
  color: @mono-medium;
  font-weight: bold;
  font-size: 15px;
  line-height: inherit;
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: @nature-heavy;
  }
}
.input-part {
  input {
    width: 100%;
    padding: 0.20rem 0.75rem;
  }
  .save-button-input {
    display: inline-block;
    min-width: 40px;
    height: 16px;
    position: relative;
    margin-top: -26px;
    margin-right: 10px;
    float: right;
    font-size: 1em;
    cursor: pointer;
    color: @mono-light;
    background-color: @white;
    &:hover {
      color: @tin-heavy;
    }
  }
}
