
  <div class="row" style="overflow: scroll;">
    <div class="col-md-24">

      <!-- Variant box -->
      <fs-variant type="carrier" no-add-variant="true" ng-model="view.carrier"></fs-variant>

      <!-- tabs -->
      <div style="clear: both;">
        <fs-tabset tabs-type="vertical-tabs">
          <fs-tab ng-repeat="country in allCarriers" ng-click="browseCountry(country)">
            <tab-heading>
              <h5>{{country}}</h5>
            </tab-heading>
            <div>
              <!-- <ul class="countries"> -->
                <b class="fa fa-spinner fa-spin" ng-if="browseCarrierLoading"></b>
                <div ng-repeat="carrier in carriers">
                  <input class="rounded" type="checkbox" ng-checked="carrier.selected" id="{{carrier.name}}" value="{{carrier.name}}" ng-click="toggleTargetingSpec('carrier', makeCarrierPill(carrier))">
                  <label class="full-width rounded" for="{{carrier.name}}">{{carrier.name}}</label>
                </div>
              <!-- </ul> -->
            </div>
          </fs-tab>
        </fs-tabset>
      </div>

    </div>
  </div>