<div class="library-modal-container">
	<div class="modal-body">
		<div class="row">
			<div class="lib-section-view">
				<div class="library-header">
					<h3 ng-show="metadata.currentCombo">
						{{'label.library.Selectthe' | translate }} Keywords {{'label.library.youwanttoadd' | translate}}
					</h3>
				</div>

				<div class="tabs-container">
					<div class="cards-container">
						<div class="col-md-8" ng-repeat="card in keywordCards track by $index">
							<div ng-include="'app/main/library/keyword/keywordCard.html'"></div>
						</div>

						<div class="no-data-available" ng-show="!keywordCards.length > 0 && !loadingLibraryCards">
							<h2>{{ 'label.library.No' | translate }} Keywords {{'label.library.Available' | translate}}</h2>
						</div>

						<!-- if library cards are loading -->
						<div class="no-data-available" ng-show="loadingLibraryCards">
							<div class="sp sp-bars"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="lib-footer">
		<div ng-show="selectedCards.length > 0" >
			<div class="lib-button btn-solid btn-primary" ng-show="!disableLoadSelected" ng-click="loadSelectedCards(selectedCards)">
				{{ 'label.library.loadSelected' | translate}} ( {{ selectedCards.length }} )
			</div>
		</div>
	</div>
</div>
