<div class="card audience-card card-set-underline" ng-class="{ selected:  containsObject(card, selectedCards) }"
     sglclick="selectCard(card, $event)" ng-dblclick="loadOnDblClick(card, $event)">
  <i ng-show="containsObject(card, selectedCards)" class="selected-icon fa fa-check-circle"></i>
  <h4>{{ card.name }}</h4>

  <div class="card-body-segments">
     <div class="segment-container">
       <div class="segment" ng-repeat="pill in card.pills">
         {{ pill.value }}
       </div>
        <span ng-show="card.numKeywords >= 10">...</span>
     </div>
  </div>

  {{ card.numKeywords }} Keywords
  <i class="fa fa-trash fright" ng-click="deleteObject(card, $index); $event.stopPropagation();" title="Delete"></i>
  <i class="fa fa-pencil-square-o" ng-click="editObjectName(card)" title="Edit Name"></i>
</div>

