<div class="form-group">
    <h4 class="inline-block">{{ 'label.act.appurl' | translate }}</h4>
    <input type="text" name="appUrl" ng-model="newCreative.creative.appUrl" placeholder="App Store Link" ng-required="isRequired.appUrl" class="form-control" ng-class="{'ng-pristine': !form.creative.submitted}">
    <span ng-if="form.creative.url.$touched && form.creative.appUrl.$invalid || form.creative.submitted && form.creative.appUrl.$invalid">{{ 'label.act.Theurlisnotvalid' | translate }}</span>
</div>