<h4>{{'label.act.CallToAction' | translate}}</h4>
<div class="fs-dropdown default" ng-class="{'form-control ng-invalid' :form.creative.submitted && !newCreative.creative.callToAction}">
    <div id="call-to-action" class="fs-dropdown-link" on-state="click">
        <span>{{ newCreative.creative.callToAction ? (newCreative.creative.callToAction | formatCallToAction:'facebook') : 'Choose Call To Action'}}</span>
        <i class="fa fa-caret-down"></i>
    </div>
    <ul class="fs-dropdown-menu">
        <li ng-repeat="callToAction in callsToActionList" ng-click="selectCallToAction(callToAction)" ng-required="true">{{callToAction | formatCallToAction:'facebook'}}</li>
    </ul>
</div>
<div ng-if="form.creative.submitted && !newCreative.creative.callToAction" class="error-message">{{ 'label.act.Pleaseselectacalltoaction' | translate }}</div>
