<div class="form-group">
    <h4 class="inline-block">{{ 'label.act.FacebookAppID' | translate }}</h4><span class="pull-right"></span>
    <input type="text" name="facebookAppId" ng-model="newCreative.creative.facebookAppId"
           placeholder="Enter your Facebook App ID #" required class="form-control" ng-class="{'ng-pristine': !form.creative.submitted}">
    <div ng-messages="form.creative.facebookAppId.$error" ng-if="form.creative.facebookAppId.$touched || form.creative.submitted" ng-messages-include="campaign-creation-messages"></div>
</div>