<div class="form-group">
    <h4 class="inline-block">{{ 'label.act.headline' | translate }}</h4>
    <input
            type="text"
            name="headline"
            ng-model="newCreative.creative.headline"
            placeholder="Enter your headline"
            ng-required="isRequired.headline"
            ng-maxlength="255"
            class="form-control"
            ng-class="{'ng-pristine': !form.creative.submitted}">
  <div ng-if="newCreative.creative.headline.length > 25" class="warning-message">
    {{'label.act.headlineCharacterCountWarning' | translate}}
  </div>
  <div ng-messages="form.creative.headline.$error" ng-if="form.creative.headline.$touched || form.creative.submitted" ng-messages-include="campaign-creation-messages"></div>
</div>
