<h4 class="inline-block">{{ 'label.act.Image' | translate }}</h4>
<div class="form-group content-white centered" ng-class="{'form-control ng-invalid' :form.creative.submitted  && newCreative.isImageRequired && !newCreative.creative.image}">
    <img class="creative-image" ng-src="{{apiUrl + '/api/v2/image/get?guid=' + newCreative.creative.image}}"
         ng-if="newCreative.creative.image"/>
    <button type="button" ng-click="loadImageFromLibrary()" class="btn btn-outline" ng-show="!newCreative.creative.image">{{
        'label.act.UploadfromLibrary' | translate }}
    </button>
    <a ng-click="newCreative.removeImage()" ng-show="newCreative.creative.image">{{
        'label.act.Remove' | translate }}</a>
    <div ng-if="form.creative.submitted && newCreative.isImageRequired && !newCreative.creative.image" class="error-message">{{ 'label.act.Pleaseselectanimage' | translate }}</div>
    <div ng-if="newCreative.creative.image && imageErrorWidthOrHeight" class="error-message">{{ 'label.act.Imagemustbe600pixelswide' | translate }}
        <div>{{ 'label.act.Theselectedimageis' | translate }} {{picWidth}} {{ 'label.act.pixelswide' | translate }} </div>
    </div>
</div>
