<div class="fs-dropdown default page" ng-class="{'form-control ng-invalid' :form.creative.submitted  && !newCreative.facebookPage}">
  <!-- Dropdown to allow the user to choose the page. Becomes hidden once the user has selected it -->
  <div class="fs-dropdown-link" on-state="click">
      <div ng-hide="newCreative.facebookPage">
          <i class="pull-right fa fa-caret-down"></i>
          <!-- <img src="" alt="facebook image" class="select-page-dropdown-image"> -->
          <span>{{'label.act.PleaseselectaFacebookpage' | translate }}</span>
      </div>
  </div>
  <ul class="fs-dropdown-menu">
      <li ng-repeat="page in campaign.api.facebook.pages" ng-click="selectFacebookPageForCreative(page)">
            <img ng-src="{{page.image || page.social.image}}" alt="facebook image">
            {{ page.name || page.pageName || page.groupName }}
      </li>
  </ul>
  <!-- When the user has selected a page, display the page chosen -->
  <div class="fs-dropdown-link" on-state="click">
    <div ng-show="newCreative.facebookPage">
        <iconic data-src="caret" data-direction="bottom" class="iconic-sm goals-caret-coloring"></iconic>
        <img ng-src="{{newCreative.facebookPage.image}}" alt="facebook image">
        <span>{{ newCreative.facebookPage.pageName }}</span>
    </div>
  </div>
</div>
<span class="error-message" ng-if="form.creative.submitted && !newCreative.facebookPage">{{ 'label.act.Thisfieldisrequired' | translate }}</span>
