<!-- Choose Placement -->
<div class="form-group">
    <div>
        <h4 class="inline-block">{{ 'label.act.PlaceOn' | translate }}</h4>
    </div>
    <fs-radio-toggle ng-model="newCreative.placement" option1="placementRadioToggle.option1" option2="placementRadioToggle.option2"></fs-radio-toggle>
</div>
<div class="clearfix"></div>
