<!-- Select Platform -->
<div class="form-group" ng-click="clickOnPlatformOption()">
    <input
            type='checkbox'
            id="desktop"
            value="desktop"
            fs-checkbox-value="'desktop'"
            fs-checkbox-model="newCreative.platform"
            ng-checked="false"
            ng-disabled="true"
            >
    <label for="desktop" class="disabled" button >{{ 'label.act.Desktop' | translate }}</label>

    <input
            type='checkbox'
            id="mobile"
            value="mobile"
            fs-checkbox-value="'mobile'"
            fs-checkbox-model="newCreative.platform"
            ng-checked="true"
            disabled
            >
    <label for="mobile" button >{{ 'label.act.Mobile' | translate }} </label>
</div>
<div class="error-message" ng-show="metadata.hasClickedOnPlatformOption">
  {{ 'label.act.Thisadtypesupportsmobileplatformsonly' | translate }}
</div>