<!-- Select Platform -->
<div class="form-group">
    <input
            type='checkbox'
            id="desktop"
            value="desktop"
            fs-checkbox-value="'desktop'"
            fs-checkbox-model="newCreative.platform"
            ng-checked="newCreative.platform[0] == 'desktop' || newCreative.platform[1] == 'desktop'"
            >
    <label for="desktop" button >{{ 'label.act.Desktop' | translate }}</label>

    <input
            type='checkbox'
            id="mobile"
            value="mobile"
            fs-checkbox-value="'mobile'"
            fs-checkbox-model="newCreative.platform"
            ng-checked="newCreative.platform[0] == 'mobile' || newCreative.platform[1] == 'mobile'"
            >
    <label for="mobile" button >{{ 'label.act.Mobile' | translate }} </label>

    <!-- Manual validation-->
    <div ng-if="form.creative.submitted && newCreative.platform.length === 0" class="error-message">
        {{ 'label.act.Pleaseselectaplatofrm' | translate }}
    </div>
</div>