<div class="post-list-header">{{'label.act.Selectapost' | translate}} </div>
<div class="post-list-container" id="facebookLoadMore">
  <ul>
    <div infinite-scroll="loadMorePostsFacebook()" infinite-scroll-container="'#facebookLoadMore'" infinite-scroll-distance="1"
         infinite-scroll-disabled="loadingPosts" infinite-scroll-parent="true" infinite-scroll-immediate-check="false">
      <li class="post-box" ng-repeat="post in newCreative.$$facebookPosts | filter:filterNonBoostablePosts(post)" ng-click="selectPostForCreative(post)" ng-class="{'post-selected': newCreative.selectedPost.feedId === post.feedId }">
        <i class="selected-icon fa fa-check-circle"></i>
        <div>
          {{ 'label.act.PostId' | translate }}: {{  post.feedId }}
        </div>
        <div>
          <img ng-src="{{post.picture || post.image}}" alt="facebook">
        </div>
        <div>
          {{ 'label.act.Message' | translate }}: {{ post.message }}
        </div>
      </li>
    </div>
    <div ng-show="!newCreative.$$facebookPosts.length && !newCreative.creative.facebookSponsoredPageId">
      {{ 'label.act.PleaseselectaFacebookpagefromthedropdowntotheleft' | translate }}
    </div>
    <div ng-show="!newCreative.$$facebookPosts.length && newCreative.creative.facebookSponsoredPageId && !loadingPosts">
      {{ 'label.act.Nopoststoshow' | translate }}
    </div>
    <div ng-show='loadingPosts' class="loading-posts-block">
      <div class="sp sp-bars"></div>
      {{ 'label.act.LoadingPosts' | translate }}...
    </div>
  </ul>
</div>
<span class="note">* {{ 'label.act.Newpostsnote' | translate }} </span>
<span class="error-message" ng-if="form.creative.submitted && !newCreative.selectedPost">{{ 'label.act.Thisfieldisrequired' | translate }}</span>
