<h4 class="inline-block">{{ 'label.act.newsfeedlinkdescription(optional)' | translate }}</h4><span class="pull-right">{{200 - form.creative.siteDescription.$viewValue.length}}</span>
<input type="text" name="siteDescription" ng-model="newCreative.creative.siteDescription" placeholder="Description of the website..." ng-maxlength="200" class="form-control">
<div ng-messages="form.creative.siteDescription.$error" ng-if='form.creative.url.$touched || form.creative.submitted' ng-messages-include="campaign-creation-messages"></div>