<div class="form-group">
  <h4 class="inline-block">{{ 'label.act.text' | translate }}</h4>
    <textarea
        name="text"
        ng-model="newCreative.creative.text"
        placeholder="Enter text..."
        ng-required="isRequired.text"
        class="form-control"
        ng-keydown="preventDefaultEnterKeyPressed($event)"
        ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid':metadata.isCreativeTextInvalid}">
      </textarea>

  <div ng-messages="form.creative.text.$error" ng-if="isRequired.text && (form.creative.text.$touched || form.creative.submitted)"
       ng-messages-include="campaign-creation-messages"></div>
  <span ng-class="{'error-message': metadata.isCreativeTextInvalid}"
        ng-if="form.creative.text.$viewValue.length > 0 && metadata.isCreativeTextInvalid">{{ 'label.act.Thetextofyouradcantcontaintwopunctuationmarksinarow.' | translate }}</span>
</div>

