<div class="form-group">
  <h4 class="inline-block">{{ 'label.act.DestinationUrl' | translate }}</h4>
  <span class="tracking-in-url"
        ng-if="newCreative.trackingScriptStateInUrl === 'processing'">
    <img class="tracking-verify-loading" ng-src="assets/images/ajax-loader.gif">
  </span>
  <span class="tracking-in-url found"
        ng-if="newCreative.trackingScriptStateInUrl === 'pass' && !form.creative.url.$invalid">
    {{ 'label.act.TrackingValidated' | translate }}
  </span>
  <input type="text"
         name="url"
         ng-model="newCreative.creative.url"
         ng-model-options="urlModelOptions"
         placeholder="www.mysite.com/thankyou"
         ng-required="isRequired.url"
         class="form-control"
         ng-pattern="shortUrlRegex"
         ng-change="validateUrlForPagePostCreative(); checkIfUrlContainsTrackingScriptPagePostCreative()"
         ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid': newCreative.isDestinationDomainTypedDifferentFromGoalDomain || newCreative.trackingScriptStateInUrl === 'fail' }"/>

  <div ng-messages="form.creative.url.$error"
       ng-if='form.creative.url.$touched && form.creative.url.$viewValue.length > 0 || form.creative.submitted'
       ng-messages-include="campaign-creation-messages">

  </div>
  <div class="error-message"
      ng-if="form.creative.url.$invalid && form.creative.url.$viewValue.length > 0 ">
    {{ 'label.act.Theurlisnotvalid' | translate }}
  </div>
  <div class="error-message"
      ng-if="!form.creative.url.$invalid && form.creative.url.$viewValue.length > 0 && newCreative.isDestinationDomainTypedDifferentFromGoalDomain">{{
    'label.act.urlDomaintoGoalDomainValidationMessage' | translate }}
  </div>
  <div class="error-message"
      ng-if="newCreative.trackingScriptStateInUrl === 'fail'">
    {{ 'label.act.Unabletovalidatetracking' | translate }}
  </div>
</div>