<h4>{{'label.act.CallToAction' | translate}} {{ 'label.act.(Optional)' | translate }}</h4>
<div class="fs-dropdown default">
    <div id="call-to-action" class="fs-dropdown-link" on-state="click">
        <span>{{ newCreative.creative.callToAction ? (newCreative.creative.callToAction | formatCallToAction:'facebook') : 'Choose Call To Action'}}</span>
        <i class="fa fa-caret-down"></i>
    </div>
    <ul class="fs-dropdown-menu">
        <li ng-repeat="callToAction in callsToActionList" ng-click="selectCallToAction(callToAction)">{{callToAction | formatCallToAction:'facebook'}}</li>
    </ul>
</div>
