
<input type="number" ng-model="radius"/>

<fs-chart-engine-test></fs-chart-engine-test>

<div style="width: 400px; margin:50px;">
  <input type="number" ng-model="ratio" />
  <fs-slider value="ratio" realtime="true"></fs-slider>
</div>

<div ng-repeat="dts in datesChangeLog track by dts.id" class="small">
  {{ dts.dates }}
</div>
<daterange-picker class="project-report-daterangepicker" options="dateOpts" ng-model="dates" ng-change="changedDates(dates)">
</daterange-picker>

<div>
  <input ng-model="datesString" ng-change="parseDates(datesString)" class="col-md-24"/>
</div>

<fs-vis-cohort
  fs-vis-config 
  data = "cohort" 
  labels = "cohortLabels" 
  time-field="'time'" 
  value-fields= "['aw', 'fb', 'ad', 'ig', 'tw']"
>
  <div class="row one-line-margin-bottom">
    <div class="col-md-16">
      <div class="chart-legend" append-after>
        <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData" ng-click="actionCreator.toggleCohort($index)">
          <span class="chart-legend-icon" style="background: {{ series.color }}"></span> 
          <span>{{ series.name }}</span> 
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="btn-group pull-right">
        <button class="btn btn-solid btn-lg" ng-class="{ 'btn-primary' : dataStore.getAccumulativeMode() === 'NON_ACCUMULATIVE' }" ng-click="actionCreator.toggleAccumulative(false)"><i class="fa fa-bar-chart"></i></button>
        <button class="btn btn-solid btn-lg" ng-class="{ 'btn-primary' : dataStore.getAccumulativeMode() === 'ACCUMULATIVE' }" ng-click="actionCreator.toggleAccumulative(true)"><i class="fa fa-line-chart"></i></button>
      </div>
      <div class="btn-group pull-right" style="margin-right: 1.2em;">
        <button class="btn btn-solid btn-lg" ng-class="{ 'btn-primary' : dataStore.getStackMode() === 'STACK_ZERO' }" ng-click="actionCreator.stack()"><i class="fs-icon chart-bar"></i></button>
        <button class="btn btn-solid btn-lg" ng-class="{ 'btn-primary' : dataStore.getStackMode() === 'STACK_NORM' }" ng-click="actionCreator.normalize()"><i class="fs-icon chart-bar-normalize"></i></button>
      </div>
    </div>
  </div>
</fs-vis-cohort>


<div>
  <span>value-fields: {{ metricKeys }}</span>
  <button class="btn btn-solid" ng-click="metricKeys.length === 1 ? metricKeys = ['clicks', 'impressions'] : metricKeys = ['clicks']">Toggle One/Two</button>
</div>
<div>
  <button class="btn btn-solid" ng-click="metrics = getMetrics()">Get New Data</button>
</div>
<div>
  <input ng-model="formatter.string" />
  <button class="btn btn-solid" ng-click="changeFormatter(formatter.string)">change date format</button>
</div>

<fs-vis-double-axis
  fs-vis-config
  data = "metrics" 
  labels = "metricLabels"
  time-field = "timeField" 
  format-x="dateFormat"
  y-format = "formatInt"
  y1-format = "formatInt"
  value-fields = "metricKeys"  
>
  <div class="row one-line-margin-bottom">
    <div class="col-md-8 col-md-offset-16">
      <div class="chart-legend" append-after>
        <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData" ng-click="actionCreator.toggleCohort($index)">
          <span class="chart-legend-icon" style="background: {{ series.color }}"></span> 
          <span>{{ series.name }}</span> 
        </div>
      </div>
    </div>
  </div>
</fs-vis-double-axis>

<fs-data-grid data="tableData" column-defs="defs">

</fs-data-grid>

