.dropdown {
  &:extend(.fs-dropdown.default);
  position: relative;
  .dropdown-menu {
    position: absolute;
    top: 100%;
    border: 1px solid @mono-light;
    display: none;
    .calendar.right {
      position : relative;
      // left: -153%;
      margin-top: -0.25em;
    }
    .calendar.left {
      position : relative;
      // left: -306%;
      margin-top: -0.25em;
    }

    .calendar-date{
      border-radius: 0;
    }

    tbody{
      td{
        border-radius: 0;

        &.off{
          background-color: @pale-medium;
        }
        &.week{
          background-color: @pale-medium;
          color: @mono-medium;
        }

        &.available{
          background-color: @pale;
          &:hover{
            background-color: @nature-light;
          }

          &.in-range{
            background-color: @nature-light;
          }
          &.active{
            background-color: @nature-heavy!important;
          }
        }
      }
    }
  }

  .calendar-time{
    background-color: @pale;
    margin: 0;
  }
  &.pull-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  &.open .dropdown-menu{
    display: block;
  }
}

.daterangepicker .left .daterangepicker_input {
  padding-right: 0;  
}

//campaign creation specific positioning
.campaign-creation-daterangepicker{
  .dropdown{
    min-width: 24em!important;
    .daterangepicker{
      .calendar tbody {
        background: @pale!important;
      }
      .calendar.right{
        position: relative;
        margin: 0;
        padding: 0.5em 0 0.5em 0.5em;
        min-width: 18em;
        &:extend(.col-sm-12);
      }
      .calendar.left{
        position: relative;
        margin: 0;
        padding: 0.5em 0.5em 0 0.5em;
        min-width: 18em;
        &:extend(.col-sm-12);
      }
      .ranges { 
        .clearfix();
        float: right;
        padding-right: 0.375em; 
        padding-bottom: 0.25em;
        .applyBtn, .cancelBtn {
          font-size: 1rem;
        }
      }
    }
    .dropdown-menu{
      &:extend(.row);
      min-width: 37.2em;
      padding-top: 1em;
      @media (max-width: @screen-sm-max) {
        min-width: 0;
        max-width: 19em;
        .daterangepicker_input fa:after { display: none; }
      }
      @media (max-width: 106em) {
        right: auto!important;
        left: 7px!important;
        &:before { 
          right: auto!important;
          left: 9px!important;
        }
      }
    }
    .daterangepicker.opensleft:after {
      left: auto;
      right: 10px;
    }
    @media (max-width: 106em) {
      .daterangepicker.opensleft:after {
        right: auto!important;
        left: 10px!important;
      }
    }
  }
  .daterangepicker_input {
    margin-bottom: 0.5rem;
    background: @pale-heavy;
    border-right: 1px solid @nature-heavy;
    border-left: 1px solid @nature-heavy;
    position: relative;
  }
  .left .daterangepicker_input .fa:after {
    content: ' - ';
    display: inline;
    width: 3em;
    height: 1em;
    position: absolute;
    left: 16.75em;
    top: -0.15em;
    border: 0;
  }
  .daterangepicker_input input {
    border: 0;
    background: @pale-light;
    border-top: 1px solid @nature-heavy;
    border-bottom: 1px solid @pale-dark;
    outline: 0;
    border-radius: 2px;
    &.active {
      border: 0;
      border-top: 1px solid @nature-heavy;
      border-bottom: 1px solid @nature-heavy;
      background: @pale;
      outline: 2px solid @nature-heavy;
    }
  }
  .calendar-time {
    background: transparent;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid @nature-heavy;
  }
}

//campaign manager specific positioning
.campaign-manager-daterangepicker{
  .dropdown{
    .daterangepicker{
      .calendar.left{
        position: absolute;
        top: 100%;
        right: 0;
      }
      .calendar.right{
        position: absolute;
        top: 100%;
        margin-top: 15.5rem;
        bottom: 0;
        right: 0;
      }
      @media (min-width: @screen-md-min) {
        .calendar.right{
          left: 28.5rem;
          top: 0;
          margin-top: 0;
          right: auto;
        }
        .calendar.left{
          top: 0;
          left: 11rem;
          right: auto;
        }
      }
    }
    .dropdown-menu{
      right: 0;
      width: 11rem!important;
    }
  }
}

//site tracking specific positioning
.site-report-daterangepicker{
  .dropdown{
    .daterangepicker{
      .calendar.right{
          margin-top: -0.3em;
          margin-left: -16.9em;
      }
      .calendar.left{
          margin-top: -0.3em;
          margin-left: -33.25em;
      }
    }
    .dropdown-menu{
      left: 6em !important;
    }
  }

}

//project report specific positioning
.project-report-daterangepicker{
  .dropdown{
    .daterangepicker{
      .calendar.right{
          margin-top: -0.3em;
          margin-left: -16.9em;
      }
      .calendar.left{
          margin-top: -0.3em;
          margin-left: -33.25em;
      }
    }
    .dropdown-menu{
      width: 11em!important;
      right: 0;
    }
  }
}

//
.campaign-creation-summary-data-picker {
  .daterange-span {
    font-size: 1rem;  
    .fa-calendar {
      margin-right: 0.0625em;  
      margin-left: -0.6125em;
    }
  }  
}

.daterange-span {
  background: #fff;
  border-radius: @base-border-radius; 
  padding: 0.125rem 0;
  .fa {
    margin: ~"0 @{padding-base-horizontal}";
  }
  .fa-caret-down {
    margin-top: 0.25em;  
  }
}
.daterange-span .fa-calendar {
  display: inline-block;
  margin-left: -0.5em;  
  margin-top: -0.5625em;  
  margin-bottom: -0.625em;  
  margin-right: @padding-base-horizontal;  
  padding: 0.8125em 1em 0.9325em;
  color: @pale;
  background: @pale-dark;
}

.daterangepicker .ranges {
  li {
    border-radius: @base-border-radius;
    border: 1px solid transparent;
    background: @pale-light;
    &.active, &:hover {
      background: @nature-heavy;  
      border-color: @nature-light;
    }
  }  
}

.fs-daterange.dropdown {
  outline: none;
  border: 1px solid @pale-dark;
  padding-top: 0.3125em;
  padding-bottom: 0.4375em;
  min-width: 22em;
}

.calendar-table {
  .start-date.off, .end-date.off{
    color: @pale-dark!important;
  }  
}

