.fs-dropdown-link{
  border: none;
  &.align-link {
    border: 1px solid @pebble-long;
  }
}
.disabled-dropdown {
  .fs-dropdown.default{
    background-color: lighten(@mono-light, 10%);
    .fs-dropdown-link{
      i{
        color: lighten(@mono-light, 10%);
      }
    }
  }

}
.disabled-dropdown > * {
  pointer-events: none;
}

.fs-dropdown{
  &.library {
    padding: 0 !important;
    outline: none !important;
  }
  &.new-project {
    > ul {
      border: 1px solid @pale-heavy;
    }
  }
  &.default{
    width: 100%;
    position: relative;
    display: inline-block;
    // margin-top: 0.5em;
    padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
    background-color: @white;
    outline: 1px solid @pale-dark;
    &.links {
      background-color: transparent !important;
    }
  }
  &.select {
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
	  padding: @padding-base-vertical @padding-base-horizontal;
	  border-radius: @base-border-radius;
	  border: 1px solid #ccc;
    background-color: @white-half;
  }
  &.open > .fs-dropdown-menu{
    display: block;
    opacity: 1;
    overflow-y: auto;
    max-height: 12em;
	  border: 1px solid @smoke-mid;
    width: 100%;
    width: calc(~"100% + 2px");
    margin-left: -1px;
  }
  &.open, &:focus{
    outline: 0;
    opacity: 1;
    background: @white;
  }
  button {
    &.fs-dropdown-link {
      span {
        display: inline;
      }
    }
  }
  .fs-dropdown-link{
    color: @tin-light;
    // padding: 0.5em;
    cursor: pointer;
    //pointer-events: none;
    &.inherit-line-height{
      line-height: inherit;
    }
    line-height: 0;
    &.align-link {
      color: @pebble-long;
      i {
        margin-left: 0;
      }
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color: @white;
        i {
          color: @white;
          margin-left: 0;
        }
      }
    }
    &.dropdown-button-link {
      color: @white;
      overflow: inherit;
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color: @white;
      }
    }

    span {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 80%;
      // margin-left: 0.5em;
      line-height: 150%;
    }
    i, iconic{
      float: right;
      margin-top: 0.3em;
      // margin-left: 0.5em;
      // margin-right: 0.5em;
      color: @mono-light;
      &.fa-2x{
        margin-top: 0;
      }
    }
    iconic[data-src="caret"][data-direction="bottom"] {
      .iconic-sm .iconic-property-fill {
        fill: darken(@body-bg, 20%);
      }
    }
  }
  ul{
    width: 100%;
    padding: 0.4em;
    background-color: @pale;
    // outline: 1px solid lighten(@body-bg, 5%);
    border: none;
    color: @tin-heavy;


    li {
      &:hover{
        background-color: @leaf-light;
        border-radius: 2px;
      }
    }
  }

  a:hover{
    text-decoration: none;
  }

  //Page Dropdowns

  &.page{
    padding: 0.25em;
    img{
      height: 1.85em;
      width: 1.85em;

    }

    .fs-dropdown-link{
      padding: 0.1em;
      img{
        margin-top: -0.85em;
      }
      span{
        width: 60%;
      }
    }

    .fs-dropdown-menu{
      img{
        margin-right: 0.25em;
      }
    }
  }



  &.link{
    background-color: inherit;
    outline: none;
    .fs-dropdown-menu{
      &.drop-right{
        top: 0;
        left: 105%;
      }
      li{
        color: darken(@body-bg, 10%);
      }
    }
  }

  &.goal-dropdown{
    background-color: inherit;
    outline: none;
    position:relative;
    .fs-dropdown-menu{
      li{
        color: darken(@body-bg, 10%);
      }
    }
    &.open > .fs-dropdown-menu{
      display: block;
      position: absolute;
      margin-left: -10px;
    }
    &.open{
      opacity: 1;
    }
    .fs-dropdown-link {
      white-space: nowrap;
    }
  }


}

.fs-dropdown-menu{
  display: none;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0px;
  padding: .25rem 0px;
  position:absolute;
  background-color: @pale;
  float: left;
  z-index: 100;
  &.library-drop {
    border: 1px solid @mono-light;
    margin-top: -18px;
    &.show-s {
      display: block !important;
    }
    &.hide-s {
      display: none !important;
    }
  }
  &.projects-align-menu {
    > li {
      cursor: inherit;
      color: @mono-heavy !important;
      overflow: hidden;
      &:hover{
        background-color: darken(@nature-light, 5%);
      }
    }
  }
  &.goals-menu {
    &.links-download {
      top: 2.5em;
      max-width: 180px;
      min-width: 180px;
      .disable-option {
        pointer-events: none;
        color: @mono-light!important;
      }
    }
    min-width: 230px;
    max-width: 250px;
    top: inherit;
    border: 1px solid @pale-heavy;
    font-size: 0.9em;
    &.choose-appid {
      width: 210px;
      margin-left: 85px;
    }
    > li {
      cursor: pointer;
      color: @mono-heavy !important;
      overflow: hidden;
      &.on-hovered {
        &:hover {
          background-color: transparent;
        }
      }
      &.off-hovered {
        &:hover {
          background-color: darken(@nature-light, 5%);
        }
      }
      &:hover{
        background-color: darken(@nature-light, 5%);
      }
    }

    .create-new-property {
      border-top: 1px solid @mono-light;
      clear: both;
      color: @nature-heavy !important;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      line-height: inherit;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
    }

    &.conversion-pixels {
      max-height: 18em !important;
      overflow: visible;
      .conversion-scrollable {
        overflow-y: scroll;
        max-height: 14em;
      }
      .custom-pixels {
        height: 4em;
        padding-top: .5em;
        cursor: pointer;
        padding-left: .3em;
        color: @mono-heavy;
        .pixel-name {
          margin-top: .15em;
          color: @mono-medium;
        }
      }
    }
  }
  > li, .fs-select-default > li {
    color: @tin-light !important;
    text-decoration: none;
    padding: 0.20em;
    &:hover{
      background-color: @nature-light;
    }
  }

  li:last-child > a{
    border-bottom: none;
  }

  &.align-drop {
    width: 200px;
    cursor: pointer;
    word-break: break-all;
    a {
      color: darken(@body-bg, 20%) !important;
    }
    &.drop-left {
      left: -165px;
    }
    &.drop-right {
      left: 40px;
    }
    &.text-button-drop {
      top: 110%;
      left: 50%;
    }
    &.project-drop {
      //top: 10%;
      left: 55%;
    }
  }
  &.dropdownn-button-drop {
    text-align: center;
    a {
      color: darken(@body-bg, 20%) !important;
    }
    width: 180px;
    cursor: pointer;
    word-break: break-all;
    &.drop-left {
      left: -165px;
    }
    &.drop-right {
      left: 40px;
    }
  }

}
