<div class="anonymous-footer-container">
	<div class="left-footer">
		&copy; Copyright 2015 Accomplice, Inc
	</div>
	<div class="right-footer" >
		<a ng-click="openTermsAndConditions()" >{{ 'label.login.TermsOfService' | translate}}</a>
        |
        <a ng-click="openPrivacyPolicy()" >{{'label.login.PrivacyPolicy' | translate }}</a>
	</div>
</div>
