.btn-custom-role {
  display: block;
  clear: both;
  color: @nature-heavy;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: inherit;
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  text-decoration: none;
  cursor: pointer;
}
.input-part {
  input {
    width: 100%;
  }
}
.save-role-block {
  background-color: @mono-light;
  border: 1px solid @mono-light;
  border-top: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 6px rgba(111,111,111,0.2);
  outline: none;
  padding: .1em;
  position: relative;
  right: 0;
  top: 100%;
  z-index: 1;
  float: right;
  padding-bottom: 1px;
  padding-top: 0;
  .role-button {
    box-sizing: border-box;
    background: @pale-heavy;
    border: 1px solid @mono-light;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-variant: normal;
    font-weight: normal;
    height: 1.35em;
    width: 1.35em;
    line-height: 0.5;
    margin: 0;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    span {
      color: @mono-light;
    }
    &:hover {
      background: @pale-light;
    }
  }
}
