<div class="fs-custom-role-inline">
  <div ng-hide="view.editorEnabled">
    {{value}}
    <span class="button btn-custom-role" ng-click="enableEditor()">+ Custom Role</span>
  </div>
  <div ng-show="view.editorEnabled" class="input-part" ng-form="customRoleForm">
    <input ng-pattern="alphanumericRegex" name="customRole" type="text" maxlength="45" ng-maxlength="45"
           class="small-12.columns" placeholder="Custom Role Name" ng-model="view.editableValue">
    <div class="save-role-block" ng-if="view.editorEnabled">
      <button class="role-button" ng-click="disableEditor()">
        <span class="fa fa-times"></span>
      </button>
      <button class="role-button" ng-click="saveCustomRole()">
        <span class="fa fa-check"></span>
      </button>
    </div>
  </div>
  <div class="create-new-project-li fadein" style="padding: .4em;" ng-show="customRoleForm.customRole.$dirty && customRoleForm.customRole.$invalid">
    <p style="font-weight: bold;">{{ 'label.memberManagement.InvalidCustomRoleName' | translate }}</p>
  </div>
</div>
