<div class="row">
    <div class="col-md-24">
      <div style="clear:both">
          <div class="number-bubble" ng-class="{completed: usernameDataType }">
            1
          </div>

          <h3 class="add-audience-step-header">{{ 'label.act.twitter.audiences.Selectamethodtoaddkeywords' | translate }}</h3>
          <div class="audience-header-child">
            <div class="radio-selection-container">
                <div class="row">
                    <div class="radio-container col-md-23">
                      <input type="radio" name="keywordSearchBar" id="keywordSearchBar" value="searchBar" ng-model="keywordDataType" ng-click="selectKeywordDataType(keywordDataType)"/>
                          <label style="font-size: 0.79em;" for="keywordSearchBar">
                            {{ 'label.act.twitter.audiences.Typeinthesearchbar' | translate }}
                          </label>
                    </div>
        <!--             <div class="radio-container col-md-23">
                        <input type="radio" name="keywordCsv" id="keywordCsv" value="csv" ng-model="keywordDataType" ng-click="selectKeywordDataType(keywordDataType)"/>
                        <label style="font-size: 0.79em;" for="keywordCsv">
                          Upload CSV
                        </label>
                    </div> -->
                    <div class="radio-container col-md-23">
                      <input type="radio" name="keywordCopyPaste" id="keywordCopyPaste" value="copyPaste" ng-model="keywordDataType" ng-click="selectKeywordDataType(keywordDataType)"/>
                          <label style="font-size: 0.79em;" for="keywordCopyPaste">
                            {{ 'label.act.twitter.audiences.Copyandpastefromalist' | translate }}
                          </label>
                    </div>
                </div>
            </div>
          </div>

      <!-- Search bar -->
      <div ng-show="keywordDataType === 'searchBar' ">

        <div class="number-bubble" ng-class="{completed: true}">
          2
        </div>
        <h3 class="add-audience-step-header">{{ 'label.act.twitter.audiences.Typeinthesearchbartoaddkeywords' | translate }}</h3>

        <div class="form-group">
          <div class="col-md-13">
            <div ng-atp="keyword" ng-atp-config="twKeywordAtpConfig">
              <input id="keyword_value" placeholder="Search for keywords and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
              <ul ng-atp-suggestions></ul>
            </div>
          </div>
          <div class="spec-type-button-container row">
              <div class="btn-outline btn-secondary col-md-11" ng-class="{'active': kwSpecType === 'Broad Match'}" ng-click="selectSpecType('Broad Match')">{{ 'label.act.twitter.audiences.BroadMatch' | translate }}</div>
              <div class="btn-outline btn-secondary col-md-11" ng-class="{'active': kwSpecType === 'Exclude Broad Match'}" ng-click="selectSpecType('Exclude Broad Match')">{{ 'label.act.twitter.audiences.ExcludeBroadMatch' | translate }}</div>
              <div class="btn-outline btn-secondary col-md-11" ng-class="{'active': kwSpecType === 'Exact Match'}" ng-click="selectSpecType('Exact Match')">{{ 'label.act.twitter.audiences.PhraseMatch' | translate }}</div>
              <div class="btn-outline btn-secondary col-md-11" ng-class="{'active': kwSpecType === 'Exclude Exact Match'}" ng-click="selectSpecType('Exclude Exact Match')">{{ 'label.act.twitter.audiences.ExcludePhraseMatch' | translate }}</div>
          </div>
        </div>
      </div>

      <!-- CSV -->
  <!--     <div ng-show="keywordDataType === 'csv' ">
          <div class="number-bubble" ng-class="{completed: keywordDataType }">
            2
          </div>

          <h3 class="add-audience-step-header">Upload CSV to add keywords</h3>
          <div style="clear:both">
            <fs-csv-import class="upload-button-container pull-left"
                button-name="'Upload'"
                on-change="onCsvKeywordImport"
                header="'keywordCsv'"
                separator="','">
            </fs-csv-import>
          </div>
      </div> -->

      <!-- Copy and Paste -->
      <div ng-show="keywordDataType === 'copyPaste' ">
          <div class="number-bubble" ng-class="{completed: keywordDataType }">
            2
          </div>
          <h3 class="add-audience-step-header">{{ 'label.act.twitter.audiences.Copyandpasteintheboxtoaddkeywords' | translate }} </h3>
          <div class="form-group">
            <!-- <div>
              <button class="btn btn-solid btn-tertiary load-keywords-btn" ng-click="loadKeywordsForTwitter()">
                {{ 'label.act.LoadKeywordfromLibrary' | translate }}
              </button>
            </div> -->
            <textarea name="data" class="paste-data-area form-control text-copy-paste" placeholder="Paste your keywords here" ng-model="twKeywords.copyPaste" ng-required="twKeywords.copyPaste" ng-keypress="changeCopyPaste($event)"></textarea>
            <div class="btn btn-solid btn-tertiary btn-text-modal" ng-click="applyCopyPaste()">
              {{ 'label.act.Apply' | translate }}
            </div>
          </div>
      </div>

      <!-- Errors from Twitter -->
      <div class="clearfix"></div>
      <div class="error-message" ng-show="twitterOverloaded">
        {{ 'label.act.twitter.Twitterseemstobeexperiencing' | translate }}
      </div>
      <div class="error-message" ng-show="twitterUnhappy">
        {{ 'label.act.twitter.Twitterseemstobeexperiencing' | translate }}
      </div>
      <div class="error-message" ng-show="noKeywordsToRecommend">
        {{ 'label.act.twitter.Pleaseaddatleastonekeyword' | translate }}
      </div>
      <div class="error-message" ng-show="moreThan1000">
        {{ 'label.act.twitter.TwitterlimitsthenumberofKeywords' | translate }}
      </div>

      <!-- Recommended keywords -->
      <input type="checkbox" id="recommended_keywords" ng-model="showRecommendations.check" ng-click="showRecommendationsClick(showRecommendations.check)"/>
      <label class="full-width" for="recommended_keywords">Recommended keywords</label>

      <div style="clear: both;" ng-if="showRadioList">
        <label class="full-width" for="recommended_keywords">{{ 'label.act.twitter.audiences.RecommendedKeywords' | translate }}</label>
      </div>

      <div style="clear: both;" ng-if="showKeywordList && showRecommendations.check">
        <div fs-radio-btn-list=""
           available-options="radioBtn.data"
           config="radioBtn.config"
           add-fn="addFn(allValues)"
           ng-model="keyword.list"
         ></div>
      </div>
    </div>
      <fs-variant type="keyword" no-add-variant="true" ng-model="view.keyword"></fs-variant>
  </div>
</div>

