<div ng-init="initFacebook()">
  <div class="row" style="border-top: 1px solid #ededed; margin-top: 1em;">
    <!-- <div class="tos-container">
      Facebook requires that you accept their Terms of Service (TOS) before creating your first custom audience through Accomplice. Accept the terms at <a href="https://www.facebook.com/customaudiences/app/tos" target="_blank">facebook.com/customaudiences/app/tos</a>  to continue.
    </div> -->
    <div class="col-md-offset-1 col-md-23" ng-show="accountName" style="margin-bottom: 15px;">
      <p>{{'label.align.addSocialAccount.AuthenticatedBy' | translate}} {{accountName}}</p>
    </div>
    <div class="col-md-11 col-md-offset-1" ng-show="facebookAdAccounts">
      <div style="margin-top: .6em; margin-bottom: .6em;">
        <h4>{{'label.align.addSocialAccount.AdAccounts' | translate}}
          <span class="tooltipped tooltipped-e tooltipped-multiline tooltip-icon" aria-label="{{'label.align.tooltip.AdAccountsareused' | translate}}">
            <i class="fa fa-info-circle"></i>
          </span>
        </h4>
      </div>
      <div ng-repeat="adAccount in facebookAdAccounts track by $index">
        <input ng-disabled="adAccount.disabled" type="checkbox" id="{{adAccount.id}}" ng-model="adAccount.selected" ng-click="adAccountClicked(adAccount)"/>
        <label for="{{adAccount.id}}" style="margin-top: 10px;" ng-class="{ disabled: adAccount.flagged }">{{adAccount.name ? adAccount.name + ' (' + adAccount.currency + ')' : adAccount['account_id'] + ' (' + adAccount.currency + ')' }}</label>
        <span ng-if="adAccount.flagged" class="tooltipped tooltipped-e tooltip-icon" aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
            <i class="fa fa-info-circle"></i>
        </span>
      </div>
    </div>
    <div class="col-md-11" ng-show="facebookPages">
      <div style="margin-top: .6em; margin-bottom: .6em;">
        <h4>{{'label.align.addSocialAccount.Pages' | translate}}
          <span class="tooltipped tooltipped-e tooltipped-multiline tooltip-icon" aria-label="{{'label.align.tooltip.AFacebookpageisapublic' | translate}}">
            <i class="fa fa-info-circle"></i>
          </span>
        </h4>
      </div>
      <div class="facebook-pages-container" ng-repeat="page in facebookPages track by $index">
        <input ng-if="page.disabled" ng-checked="disabledPage" type="checkbox" id="{{page.id}}" ng-model="disabledPage" ng-click="disabledPage = true; pageClicked(page)"/>
        <input ng-if="!page.disabled" ng-disabled="page.disabled" type="checkbox" id="{{page.id}}2" ng-model="page.selected" ng-click="pageClicked(page)"/>
        <label ng-if="page.disabled" for="{{page.id}}" style="margin-top: 10px;" ng-class="{ disabled: page.flagged }">
          <img ng-src="https://graph.facebook.com/{{page.id}}/picture" style="height: 37px; width: 37px;">
          {{page.name}}
        </label>
        <label ng-if="!page.disabled" for="{{page.id}}2" style="margin-top: 10px;" ng-class="{ disabled: page.flagged }">
          <img ng-src="https://graph.facebook.com/{{page.id}}/picture" style="height: 37px; width: 37px;">
          {{page.name}}
        </label>
        <span ng-if="page.flagged" class="tooltipped tooltipped-e tooltip-icon" aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
            <i class="fa fa-info-circle"></i>
        </span>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-22" ng-show="replaceAccount && flaggedAccountExist" style="margin-top: 20px;">
      <p>{{'label.align.addSocialAccount.PreviouslyReferencedAccount' | translate}} {{ selectedSocialAccount.name }}</p>
    </div>
    <div class="col-md-offset-1 col-md-22" ng-show="replaceAccount && flaggedAccountExist" style="margin-top: 10px;">
      <p>{{'label.align.addSocialAccount.DimmedAdAccountsAndFacebookPagesWillBeFlagged' | translate}}</p>
    </div>
  </div>
  <div class="row" ng-show="!facebookPages && !facebookAdAccounts">
    <div class="col-md-offset-1 col-md-22">
      {{'label.align.addSocialAccount.Logginginandcheckingpermissions' | translate}}
    </div>
  </div>
  <div class="row" ng-show="!facebookPages && !facebookAdAccounts" style="margin-top: 20px;">
    <div class="col-md-offset-1 col-md-22">
      {{'label.align.addSocialAccount.PleasemakesureFacebook' | translate}}
    </div>
  </div>
</div>
<div class="modal-footer facebook-modal-footer">
  <button class="btn-solid btn-outline" ng-disabled="accountProcessing" ng-if="facebookData" style="float: left;margin-left: 40px;" ng-click="switchFacebookAccount()">{{ 'label.align.addSocialAccount.SwitchFacebookAccount' | translate}}</button>
  <button class="btn-solid btn-outline" ng-if="!facebookData" style="float: left;margin-left: 40px;" ng-click="initFacebook()">{{ 'label.align.addSocialAccount.Connect' | translate}}</button>
  <button class="btn-solid btn-primary" style="float: right; margin-left: 5px;" ng-disabled="accountProcessing || !facebookData || !facebookPages || !facebookAdAccounts" ng-click="addSocialAccount()">{{ 'label.align.addSocialAccount.Done' | translate}}</button>
</div>
