<script src="https://apis.google.com/js/client:platform.js?onload=googleLoaded"></script>
<div class="modal-body modal-body-members" ng-init="initGoogle()">
  <div class="row" style="border-top: 1px solid #ededed;">
    <div class="col-md-24" ng-show="googleAdWordsCustomers">
      <div style="margin-top: .6em; margin-bottom: 2.5em;">
        <h4>{{'label.align.addSocialAccount.googleAdWordsAcc' | translate}}</h4>
      </div>
      <div class="accounts-block-scrolled" ng-class="{'scroll-block': googleAdWordsCustomers.length > 9}">
        <div class="col-md-8 google-block-manage" ng-repeat="customer in googleAdWordsCustomers track by $index">
          <input ng-if="!customer.disabled" ng-disabled="customer.disabled" type="checkbox" id="{{customer.customerId}}" ng-model="customer.selected" ng-click="adAccountClicked(customer)" />
          <label ng-if="!customer.disabled" for="{{customer.customerId}}" style="width: 100%;" ng-class="{ disabled: customer.flagged }">
            <p class="acc-naming">{{(customer.name ? customer.name : customer.descriptiveName) + (customer.canManageClients ? ' - MCM' : '') }}</p><br/>
            <p class="acc-number">{{'label.align.addSocialAccount.Acct' | translate}}: {{customer.customerId}}</p><br/>
            <p class="acc-number">{{'label.align.addSocialAccount.Currency' | translate}}: {{customer.currencyCode}}</p>
            <span ng-if="customer.flagged" class="tooltipped tooltipped-e tooltip-icon" aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}" style="right: 20px; top: 5px; position: absolute;">
              <i class="fa fa-info-circle"></i>
            </span>
          </label>
          <input ng-if="customer.disabled" ng-checked="disabledCustomer" type="checkbox" id="{{customer.customerId}}2" ng-model="disabledCustomer" ng-click="disabledCustomer = true; adAccountClicked(customer)" />
          <label ng-if="customer.disabled" for="{{customer.customerId}}2" style="width: 100%;" ng-class="{ disabled: customer.flagged }">
            <p class="acc-naming">{{(customer.name ? customer.name : customer.descriptiveName) + (customer.canManageClients ? ' - MCM' : '') }}</p><br/>
            <p class="acc-number">{{'label.align.addSocialAccount.Acct' | translate}}: {{customer.customerId}}</p><br/>
            <p class="acc-number">{{'label.align.addSocialAccount.Currency' | translate}}: {{customer.currencyCode}}</p>
          </label>
          <span ng-if="customer.flagged" class="tooltipped tooltipped-e tooltip-icon" aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}" style="right: 20px; top: 5px; position: absolute;">
            <i class="fa fa-info-circle"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-22" ng-show="googleErrorMessage">
      {{googleErrorMessage}}
    </div>
    <div class="col-md-offset-1 col-md-22" ng-show="replaceAccount && flaggedAccountExist" style="margin-top: 20px;">
      <p>{{'label.align.addSocialAccount.PreviouslyReferencedAccount' | translate}} {{ selectedSocialAccount.name }}</p>
    </div>
    <div class="col-md-offset-1 col-md-22" ng-show="replaceAccount && flaggedAccountExist" style="margin-top: 10px;">
      <p>{{'label.align.addSocialAccount.DimmedAdAccountsWillBeFlagged' | translate}}</p>
    </div>
    <div class="col-md-offset-1 col-md-22" ng-show="!googleAdWordsCustomers && !googleErrorMessage" style="margin-top: 10px;">
      {{'label.align.addSocialAccount.PleasemakesureAdWords' | translate}}
    </div>
  </div>
</div>
<div class="modal-footer modal-members-footer">
  <button class="btn-solid btn-primary" style="float: right; margin-left: 5px;" ng-disabled="accountProcessing || !googleAdWordsCustomers" ng-click="addSocialAccount()">{{ 'label.align.addSocialAccount.Done' | translate}}</button>
</div>
