.acc-number {
  margin-left: 2.5em;
  color: @mono-medium;
  display: inline;
  margin-top: -.5em;
}
.acc-naming {
  margin-left: .4em;
  font-weight: bold;
  word-break: break-all;
  display: inline;
}

.promotable-user{
	margin-top: 0.5em;
}

.accounts-block-scrolled {
  max-height: 25em;
  &.scroll-block {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .google-block-manage {
    margin-bottom: 2em;
    input[type=checkbox] + label {
      padding-left: 0;
      margin-right: 0;
    }
    input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      bottom: 0;
      position: relative;
    }
    input[type=checkbox]:checked + label:before {
      font-family: FontAwesome;
      content: "\f14a" ;
      color: @nature-heavy;
      background-color: transparent;
      font-size: 1.15em;
      text-align: center;
    }
  }
}

.facebook-pages-container{
	input[type="checkbox"] + label:before {
	  top: 4px;
	}	
}


.accounts-block-scrolled::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  background-color: @pale-light;
}

.accounts-block-scrolled::-webkit-scrollbar
{
  width: 8px;
  background-color: @pale-medium;
}

.accounts-block-scrolled::-webkit-scrollbar-thumb
{
  background-color: @nature-heavy;
  border: 2px solid transparent;
}

.tos-container{
	line-height: 20px;
	padding: 0.5em;
	background-color: @pale;
	outline: 1px solid @cherry-heavy;
	// margin: 0 auto;
	// margin-bottom: 1em;
	font-size: 0.75em;
	margin-top: 2em;
	a{
		color: @cherry-heavy;
	}
}

.entry-counter{

	&.csv{
		float: right;
		// margin-right: 0.05em;
	}

	&.copy-paste{
		font-size: 0.75em;
		position: absolute;
	  	top: 25px;
	  	right: 10px;
	}
  	&.too-small{
  		color: @cherry-heavy;
  	}

  	&.ok-size{
  		color: @nature-heavy;
  	}


}

.no-ad-account{
	padding: 5em;
	padding-bottom: 7em;
	text-align: center;
}

.add-audience-container{
	margin-top: 2em;
	.accordion-header{
		font-weight: normal;
		font-size: 1.75em;
		background-color: lighten(@pale-dark, 7%) !important;
		padding: 1em !important;
	}

	.accordion-body{
		padding: 1.5em;
	}

	.upload-button-container{
		// padding: 1em;

		margin-bottom: 1em;
		button{
			width: 205%;
			.btn-primary;

			i{
				margin-right: 1em;
			}
		}

		.fa-check{
			color: @nature-heavy;
			margin-left: 2em;
		}


	}
	.paste-data-area{
		height: 10em;
	  	resize: none;
	  	width: 100%;
	}

	.save-button-container{
		input[type="text"]{
			width: 75%;
			// height: 2.4em;
		}
		.lookalike-save{
			margin-top: 1em;
			margin-right: 0.5em;
		}
	}
}

.facebook-modal-footer{
	padding: -2em;
	width: 101.75%;
	margin-left: -0.5em;
	margin-bottom: -0.95em;
	margin-top: 1em;
}

.jslider-pointer{
	width: 1em !important;
	height: 1em !important;
	margin-top: -3px !important;
}

.ad-account-container{
	margin-top: 1em;
}

// .infinite-scroll-container{
// 	 height: 500px; 
// 	 overflow: auto;
// }

.more-audiences{
	margin-top: 1em;
	margin-right: 2em;
	width: 5em;
	float: right;
}

.your-audiences-container{
	padding-left: 1.25em;
	border-top: 1px solid @pale-dark;
	// height: 500px;
	// overflow: scroll;
	// height: 500px;
	// overflow: auto;
	h1 {
	font-weight: normal;
	display: inline-block;
	}
	.refresh-audiences {
		cursor: pointer;
		border: 1px solid @mono-light;
		border-radius: 3px;
		padding-right: 10px;
		margin-left: 10px;
		i {
			margin-left: 0.5em;
		}
		&:hover{
			color: darken(@tin-heavy, 10%);
			background-color: @nature-light;
		}
	}
	.empty-audiences-container{
		text-align: center;
		background-color: @pale;
		outline: 1px solid @pale-dark;
		padding: 3em;
		margin: 0 auto;
		width: 85%;
	}
}

.slider-block{
	background-color: @pale;
	height: 2.4em;
	margin-top: 3em;
	margin-left: 0.55em;
	width: 95%;
	outline: 1px solid @pale-heavy;
}

.size-ratio-slider-container{
	width: 45%;
	margin-top: 0.5em;
	margin-left: 4em;
}

.saving-view-container{
	text-align: center;
	.checkmark-container{
		margin: 0 auto;
		width: 30%;
		color: @nature-heavy;
	}
  .btn-secondary {
    margin: 1em 36%;
  }

	.saving-view-body-container{
		padding-left: 10em;
		padding-right: 10em;
	}
}

.audience-card-container{
	background-color: @pale;
	outline: 1px solid @pale-heavy;
	margin: 0.25em;
	width: 31.85%;
	text-align: center;
	.audience-card-footer, .audience-card-body{
		margin: 0.5em;
		padding: 0.5em;
	}

	.audience-card-footer{
		font-size: 0.75em;
	}

	.audience-card-header{
		border-bottom: 2px solid @pale-heavy;
		padding: 0.5em;
		font-weight: bold;
		// width: 250px;
		// h5{
		// 	overflow: none;
		// 	white-space: nowrap;
		// 	text-overflow: ellipsis;			
		// }
	}

	&:hover{
		outline: 2px solid @nature-light;
	}
	.headers{
		margin-top: 1em;
		div{
			border-top: 2px solid @pale-heavy;
			border-bottom: 2px solid @pale-heavy;
		}
	}

	.status-container{
		color: @pale;
		width: 50%;
		margin: 0 auto;

		&.pending{
			background-color: @tin-light;
		}

		&.failed{
			background-color: @cherry-heavy;
		}

		&.accepted{
			background-color: @nature-heavy;
		}
	}

  .audience-card-buttons {
    border-top: 2px solid #ededed;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: table;
    width: 100%;
    .audience-button {
      cursor: pointer;
      display: table-cell;
      &:hover{
        color: @nature-heavy;
      }
    }
    .divider {
      border-right: 2px solid #ededed;
    }
    .trash {
      padding-left: 0.5em;
    }
  }
}


.number-bubble{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	float: left;
	background-color: @pale-heavy;
	&.completed{
		background-color: @leaf-light;
	}
}

.radio-selection-container{
	margin-top: 3em;
	margin-left: 0.5em;
	.radio-container{
		outline: 1px solid @mono-light;
		background-color: @pale;
		padding: 0.5em;
    input[type=radio] + label {
          padding-left: 0;
          margin-right: 0;
    }
    input[type=radio] + label:before {
      font-family: FontAwesome;
      content: "\f1db";
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      border-radius: 10px;
      position: relative;
      color: @nature-heavy;
      font-size: 1.6em;
      background-color: transparent;
      text-align: left;
      line-height: 22px;
      border: none;
    }
    input[type=radio]:checked + label:before {
      font-family: FontAwesome;
      content: "\f058" ;
      color: @nature-heavy;
      background-color: transparent;
      border-color: @nature-light;
      font-size: 1.6em;
      text-align: left;
    }
	}
}

.add-audience-step-header{
	float: left;
	margin: 0;
	margin-left: 1em;
}

.editing-existing-message {
  clear: both;
  padding-top: 1em;
  border-top: 1px solid @pale-heavy;
  margin-top: 2em;
}
