<div class="modal-header">
  <h3 class="fleft">Twitter</h3>
</div>
<div class="modal-body" ng-init="initTwitter()">
  <div class="col-md-24" style="border-top: 1px solid #ededed; margin-top: 1em;">
    <!-- <h3 ng-show="selectedSocialAccount.social">{{'label.align.addSocialAccount.editTwitterAccount' | translate}}</h3>
    <h3 ng-show="!selectedSocialAccount.social">{{'label.align.addSocialAccount.addTwitterAccount' | translate}}</h3> -->
    <div class="col-md-offset-1 col-md-23" ng-show="accountName" style="margin-bottom: 15px;">
      <img ng-if="selectedSocialAccount.social.image" ng-src="{{selectedSocialAccount.social.image}}" style="margin-right: 10px;">
      <span>{{'label.align.addSocialAccount.AuthenticatedBy' | translate}} @{{accountName}}</span>
    </div>
    <!-- <h4 class="col-md-offset-1 col-md-22">
    Authenticated By: {{ accountName }}</h4> -->
    <div class="col-md-offset-1 col-md-8" ng-show="twitterAdAccounts">
      Ad Accounts
      <div ng-repeat="adAccount in twitterAdAccounts">
        <input ng-disabled="adAccount.disabled" type="checkbox" id="{{adAccount.id}}" ng-model="adAccount.selected"/>

        <label for="{{adAccount.id}}" style="margin-top: 10px;" ng-class="{ disabled: adAccount.flagged }">{{ adAccount.name || adAccount.id }}</label>
        <span ng-if="adAccount.flagged" class="tooltipped tooltipped-e tooltip-icon" aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
          <i class="fa fa-info-circle"></i>
        </span>

      </div>
    </div>
    <div class="col-md-offset-1 col-md-8" ng-show="twitterAdAccounts">
      Promotable Users
      <div ng-repeat="adAccount in twitterAdAccounts">
        <div class="promotable-user" ng-repeat="user in adAccount.promotable_users track by $index">
          @{{ user.screen_name }}
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-22" ng-show="replaceAccount && flaggedAccountExist" style="margin-top: 20px;">
    <p>{{'label.align.addSocialAccount.PreviouslyReferencedAccount' | translate}} {{ selectedSocialAccount.name }}</p>
  </div>
  <div class="col-md-offset-1 col-md-22" ng-show="replaceAccount && flaggedAccountExist" style="margin-top: 10px;">
    <p>{{'label.align.addSocialAccount.DimmedAdAccountsWillBeFlagged' | translate}}</p>
  </div>
  <div class="col-md-offset-1 col-md-22" ng-show="!twitterAdAccounts" style="margin-top: 20px;">
    {{'label.align.addSocialAccount.PleasemakesureTwitter' | translate}}
  </div>
</div>
<div class="modal-footer modal-members-footer" style="margin-top: 50px;">

  <!-- This feature is not implemented well so I'm just hidding it for now. TODO: FIX IT. -->
  <button class="btn-solid btn-outline" ng-disabled="accountProcessing" ng-if="twitterAccount && false" style="float: left;margin-left: 40px;" ng-click="switchTwitterAccount()">{{ 'label.align.addSocialAccount.SwitchTwitterAccount' | translate}}</button>


  <button class="btn-solid btn-primary" style="float: right;margin-left: 5px;" ng-disabled="accountProcessing || !twitterAccount" ng-click="addSocialAccount()">
    <span ng-show="selectedSocialAccount.social">{{ 'label.align.addSocialAccount.Done' | translate}}</span>
    <span ng-disabled="accountProcessing" ng-show="!selectedSocialAccount.social">{{ 'label.align.addSocialAccount.addAccount' | translate}}</span>
  </button>

</div>
