<div class="modal-header">
	<h3 class="fleft">Facebook</h3>	
</div>
<div class="modal-body">
	<div class="row">
		<fs-tabset>
	        <fs-tab ng-show="!openCustomAudiences">
	            <tab-heading >{{ 'label.align.Pages&AdAccounts' | translate }}</tab-heading>
	            <div class="row">
	                <div class="col-md-24" ng-controller="AddsocialaccountCtrl" >
			            <div ng-include="'app/main/align/addSocialAccount/addFacebookSocialAccount.html'"></div>
	                </div>
	            </div>
	        </fs-tab>
	        <fs-tab is-open="openCustomAudiences">
	            <tab-heading>{{ 'label.align.CustomAudience' | translate }}</tab-heading>
	            <div class="row">
	                <div class="col-md-24" ng-controller="ManageCustomAudiencesCtrl">
	                	<div class="ad-account-container" ng-if="!selectedAdAccount">
	                		<div class="no-ad-account">
	                			<h3>
		                			You need to add an ad account to your team before creating Custom Audiences	                			
		                		</h3>
	                		</div>
	                		<div class="modal-footer facebook-modal-footer">
  								<button class="btn-solid btn-primary" style="float: right; margin-left: 5px;"ng-click="closeThisDialog()">{{ 'label.align.addSocialAccount.Done' | translate}}</button>
							</div>
	                	</div>
	                    <div ng-if="selectedAdAccount" ng-include="'app/main/align/addSocialAccount/facebookCustomAudiences/manageCustomAudience.html'"></div>
	                </div>
	            </div>
	        </fs-tab>
	        <fs-tab>
	            <tab-heading>{{ 'label.align.LookalikeAudience' | translate }}</tab-heading>
	            <div class="row">
	                <div class="col-md-24" ng-controller="ManageLookalikeAudiencesCtrl">
		            	<div class="ad-account-container" ng-if="!selectedAdAccount">
		            		<div class="no-ad-account">
	                			<h3>
	                				You need to add an ad account to your team before creating Lookalike Audiences
	                			</h3>
	                		</div>
	                		<div class="modal-footer facebook-modal-footer">
  								<button class="btn-solid btn-primary" style="float: right; margin-left: 5px;"ng-click="closeThisDialog()">{{ 'label.align.addSocialAccount.Done' | translate}}</button>
							</div>
		                </div>
	                    <div ng-if="selectedAdAccount" ng-include="'app/main/align/addSocialAccount/facebookCustomAudiences/manageLookalikeAudience.html'"></div>
	                </div>
	            </div>
	        </fs-tab>
    	</fs-tabset>
	</div>
</div>