<div class="card combos-card card-set-underline" ng-class="{ selected:  containsObject(card, selectedCards) }"
     sglclick="selectCard(card, $event)" ng-dblclick="loadOnDblClick(card, $event)">
  <i ng-show="containsObject(card, selectedCards)" class="selected-icon fa fa-check-circle"></i>
  <h4 title="{{ card.name }}">{{ card.name }}</h4>
  <div class="card-body">
    <p>{{ card.channel }}</p>
    <p>{{ card.goal }}</p>
    <p>{{ card.numberAudiences }} {{ 'label.library.audiences' | translate }}</p>
    <p>{{ card.numberCreatives }} {{ 'label.library.creatives' | translate }}</p>
    <p class="card-goal">{{card.goalName}}</p>
  </div>
  <i class="fa fa-trash-o fright" ng-click="deleteObject(card, $index); $event.stopPropagation();" title="Delete"></i>
  <i class="fa fa-pencil-square-o" ng-click="editObjectName(card)" title="Edit Name"></i>
</div>
