.analyze-header{
	float: left;
}

.fright{
	float: right;
}

.no-data-tooltip-container{
	float: right;
	.na{
		background-color: #FBEDED;
		height: 1.5em;
		width: 1.5em;
		margin-top: 1em;
	}
	div{
		display: inline-block;
	}
}


.events-timeseries{
	margin-top: 4em;
	padding: 0.5em;
}
#trackedEvents{
	background-color: @white;
}

.filter-container{
	margin-top: 2.5em;
}

.analyze-tooltip{
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	min-width: 12.5em;
	margin: 0.5em;
	outline: 1px solid darken(#BDBDE0, 10%);
	&.event-report{
		top: 18em;
		margin-right: 1.5em;
	}
}

.analyze-search-container{
	float: right;
	margin: 1em;
	input{
		margin-left: 1em;
		width: 22.5em !important;
	}
	div{
		cursor: pointer;
		float: left;
	}
}
.analyze-container{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	.filter-row {
		display: none;
	}

}

.dashboard-container{
	margin-top: 1em;
}

.report-stats-container{
	background-color: lighten(@body-bg, 5%);
	height: 486px;
	.report-tile{
		height: 5em;
		width: 5em;
		margin: 0.75em;
		float: left;
		padding-top: 1em;
		text-align: center;
		background-color: lighten(@body-bg, 10%);
		cursor: pointer;
		&:hover{
			background-color: @white;
			outline: 1px solid darken(#BDBDE0, 10%);
		}
		&.tileSelected{
			background-color: @white;
			outline: 1px solid darken(#BDBDE0, 10%);
		}
	}
}

.goalName, .activityName{
	display:inline-block;
	min-width:30em;
}
.goalColumn, .activityColumn{
	display:inline-block;
	min-width:5em;
}

.currency, .commaNumber, .percentage{
	text-align: right;
}

.non-dotted{
	list-style:none;
	padding-left:0;
}

.project-date{
	width: 20em;
	font-weight:700;
	margin-top:1em;
}

.project-drop-down{
	width: 20em;
}

.dashboard-loading{
	text-align: center;
	vertical-align: middle;
	// height: 100%;
	margin-top: 14em;
	margin-bottom: 14.4em;
}

.report-chart-container{
	background-color: @white;
}

.download-csv-button{
	position: absolute;
	top: 1em;
	right: 20em;
}

.channel-report-dashboard-container{
	margin-top: 1em;
}

.selected-metric  {
  border: 3px solid;
}






.filter-field {
  background: @pale-medium;
  padding: 1em .5em;
}
.filter-field-active {
  color: #ccc !important;
}

.filter-field-active button {
  background-color: #ccc !important;
}

.drilldown-field-active td.title {
  background-color: #645e69;
  color:#fff;
}

.drilldown-field-active:hover td.others {
  background: #fff;
}

.filter-field:hover {
  cursor: pointer;
  background: @nature-light;
  color: #000;
}

.selected-table-row td.drilldown {
  background-color: #645e69 !important;
  color:#fff;
}

section.site-tracking {
  margin: 1em 0;
  padding: 1.5em;
  background: @pale-medium;
  border: 1px solid #ccc;
}

section.site-tracking .chart-wrapper {
    background-color: @pale-medium;
    .chart-cover {
      &.left-cover,
      &.right-cover {
        fill : @pale-medium;
      }
    }
}

.device-header {
  margin-bottom: .5em;
}

.device-icons {
  color:@nature-heavy;
  padding-left: .5em;
}

.device-icons-gray {
  color: #ccc;
  padding-left: .5em;
}


/*.device-icons-size {
  font-size: 60pt !important;
}*/

@media all and (min-width: 1500px) and (max-width: 1600px) {
  .device-percents {
    font-size: 22pt;
    padding-top: 1.5em;
  }

  .device-icons-size {
    font-size: 50pt !important;
  }

  .source-percentages {
    font-size: 22pt;
  }
}

@media all and (min-width: 1400px) and (max-width: 1500px) {
  .device-percents {
    font-size: 20pt;
    padding-top: 1.5em;
  }

  .device-icons-size {
    font-size: 45pt !important;
  }

  .source-percentages {
    font-size: 20pt;
  }
}

@media all and (min-width: 1300px) and (max-width: 1400px) {
  .device-percents {
    font-size: 20pt;
    padding-top: 1.5em;
  }

  .device-icons-size {
    font-size: 45pt !important;
  }

  .source-percentages {
    font-size: 20pt;
  }
}

@media all and (max-width: 1300px) {
  .device-percents {
    font-size: 19pt;
    padding-top: 1.5em;
  }

  .device-icons-size {
    font-size: 40pt !important;
  }

  .source-percentages {
    font-size: 19pt;
  }
}

@media all and (min-width: 1600px) {
  .device-percents {
    font-size: 24pt;
    padding-top: 1.5em;
  }

  .device-icons-size {
    font-size: 60pt !important;
  }

  .source-percentages {
    font-size: 24pt;
  }
}



.os-group {
  background-color: #fff;
  padding: 5px 0px;
  border:1px solid #c3c3c3;
  min-height:135px;
}

.os-title-row {
  padding:0 .5em;
}

.os-title-percentages {
  font-size:13pt;
  font-weight: bold;
}

.filter-field-active .os-percenteges-bar {
  background: #ccc;
}

.os-percenteges-bar {
  background: @nature-heavy;
  height: .125em;
}

button.btn-device {
  background: @mono-heavy;
  height: 2.5em;
  text-align: center;
  color: #fff;
  width: 100%;
  border: 1px solid #ccc !important;
  border-width: 1px 0 1px 1px !important;
}

.chart-loading {
  width: 100%;
  z-index: 100;
  position: absolute;
  background-color: rgba(255,255,255,.35);
  opacity: 0.6;
  text-align:center;
  height: 100%;
  margin-top: -1.5em;
  margin-left: -1.5em;
}

.platform-loading {
  width: 100%;
  z-index: 100;
  position: absolute;
  background-color: rgba(255,255,255,.35);
  opacity: 0.6;
  text-align:center;
  height: 100%;
  margin-top: -1.5em;
  margin-left: -1.5em;
}

.source-direct-icon-padding {
  padding: 0 .2em;
}

.source-no-padding {
  padding: 0;
}

button.source {
  width: 100%;
  border: 1px solid #ccc !important;
  border-width: 1px 0 1px 1px !important;
  background: @mono-heavy;
  color: #fff;
  text-align: center;
  border: 0;
}

.source-filter-field {
  padding: .7em .5em;
  background: @pale-medium;
}

.source-filter-field:hover {
  background: @nature-light;
}

.source-meter-bar {
  background: #779f79;
  height: .6em;
  margin-top: 1em;
  float:left;
}

.filter-field-active .source-meter-bar{
  background-color: #ccc !important;
}

.site-tracking-kpi-row {
    max-width: 62em; 
    float: none;
    @media (min-width: 1496px) {
      float : left;
      padding: 0;
      width: 50%;
      max-width: 100%; 
    }
}

