<div class="col-md-22">
	<div class="row">
		<div class="analyze-header">
			<h3>Current Status</h3>			
		</div>
		<div class="analyze-search-container col-md-12">		
			<!-- <input type="search" class="form-control alt" placeholder="Search..." ng-model="searchText"/> -->
		</div>
	</div>
	<div class="row">
		<fs-tabset update-parent-scope="true">
			<fs-tab>
				<tab-heading><h5>Site Report</h5></tab-heading>
				<div ng-controller="WebanalyticsCtrl">			
					<!-- Implement Download csv when ready -->
					<!-- <div class="btn-solid btn-primary download-csv-button" ng-click="downloadCSV()">
						Download CSV
					</div>		 -->	
					<div ng-include="'app/main/analyze/templates/webAnalytics.html'"></div>
				</div>
			</fs-tab>
			<fs-tab>
				<tab-heading><h5>Event Report</h5></tab-heading>
				<div ng-controller="TrackedeventsCtrl">
					<div ng-include="'app/main/analyze/templates/trackedEvents.html'"></div>
				</div>
			</fs-tab>
			<!-- Implement FB Channel Report when ready -->
			<!-- <fs-tab>
				<tab-heading><h5>Channel Report</h5></tab-heading>
				<div ng-controller="ChannelreportCtrl">
					<div ng-include="'app/main/analyze/templates/channelReport.html'"></div>
				</div>
			</fs-tab> -->
		</fs-tabset>		
	</div>	
</div>

