<section class="site-tracking">
  <div class="row">
    <div class="col-md-7 col-lg-6">
      <div class="fs-dropdown default">
        <div class="fs-dropdown-link" on-state="click">
          <i class="fa fa-caret-down"></i>
          <span class="ng-binding">{{ selectedSite.host }}</span>
        </div>
        <ul class="fs-dropdown-menu">
          <li ng-repeat="site in sites | orderBy:'host'" ng-click="changeSite(site)">{{ site.host }}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-lg-8" ng-if="selectedSite">
      <daterange-picker class="site-report-daterangepicker" options="daterangePickerOpts" ng-change="changeDateRange(selectedPeriod)" ng-model="selectedPeriod"></daterange-picker>
    </div>
    <div class="col-md-6 col-lg-5 pull-right" ng-if="hasFilterOrDrilldown">
      <button class="btn-solid btn-outline spacing-btn" style="width: 100%" ng-click="clearAllFiltersAndDrilldown()">{{'label.siteTracking.clearAll' | translate}}</button>
    </div>
  </div>
</section>
<div ng-controller="TrafficMetricsController">
  <div ng-include="'app/main/analyze/templates/traffic.site.metrics.html'"></div>
</div>
<div ng-controller="TrafficChartController">
  <div ng-include="'app/main/analyze/templates/traffic.site.chart.html'" style="position: relative"></div>
</div>
<div>
<section class="row ">
  <div class="col-md-12 col-lg-12" ng-controller="TrafficPlatformChartController">
    <div ng-include="'app/main/analyze/templates/traffic.site.platform.html'" style="position: relative"></div>
  </div>
  <div class="col-md-12 col-lg-12" ng-controller="TrafficSourcesChartController">
    <div ng-include="'app/main/analyze/templates/traffic.site.sources.html'" style="position: relative"></div>
  </div>
</section>
</div>
<div ng-controller="TrafficGeographicalChartController">
  <div ng-include="'app/main/analyze/templates/traffic.site.geographical.html'" style="position: relative"></div>
</div>
<div ng-controller="TrafficEventTableController">
  <div ng-include="'app/main/analyze/templates/traffic.site.events.html'" style="position: relative"></div>
</div>
