<div class="modal-header audience-modal-header">
  <h3 class="fleft">Audiences</h3>
</div>
<div class="modal-body audience-container">
  <div class="row">

    <form novalidate name="segmentForm">
      <!-- Left side of the form -->
      <div class="col-md-11">

        <div class="row"
             ng-if="campaign.settings.goal.goal.name === 'MOBILE_APP_INSTALLS' || campaign.settings.goal.goal.name === 'MOBILE_APP_ENGAGEMENT' ">
          <div class="col-md-24">
            <div class="form-group">
              <div
                  ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/mobileOs.html'"></div>
            </div>
          </div>
        </div>

        <!-- Location -->
        <div class="row">
          <div class="col-md-24">
            <div class="form-group">
              <div
                  ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/location.html'"></div>
            </div>
          </div>
        </div>

        <!-- Language -->
        <div class="row">
          <div class="col-md-24">
            <div class="form-group">
              <div
                  ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/language.html'"></div>
            </div>
          </div>
        </div>

        <!-- Age Range -->
        <div class="row">
          <div class="col-md-24">
            <div class="form-group">
              <div
                  ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/ageRange.html'"></div>
            </div>
          </div>
        </div>

        <!-- Gender  -->
        <div class="row">
          <div class="col-md-24">
            <div
                ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/gender.html'"></div>
          </div>
        </div>
      </div>

      <!-- ///////////////////////// -->

      <!-- Right side of the form -->
      <div class="col-md-13">
        <fs-accordion>

          <!-- Custom and Lookalike Audiences -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group ng-class="{'ex-filled': (view['customAudiences'].variants.length > 0  || view['excludedCustomAudiences'].variants.length > 0) &&
							!view['customAudiences'].isOpen }" is-open="view['customAudiences'].isOpen"
                                  header="Custom & Lookalike Audiences" is-disabled='false'>

                <!-- Custom Audiences -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/audiencesToInclude.html'"></div>
                  </div>
                </div>

                <!-- Lookalike Audiences -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/audiencesToExclude.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

          <!-- Interests -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['preciseInterests'].variants.length > 0) && !view['preciseInterests'].isOpen }"
                  is-open="view['preciseInterests'].isOpen" header="Interests" is-disabled='false'>

                <!-- Precise Interests -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/preciseInterests.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

          <!-- Behaviors -->

          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['behavior'].variants.length > 0) && !view['behavior'].isOpen }"
                  is-open="view['behavior'].isOpen" header="Behaviors" is-disabled='false'>

                <!-- Behavior -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/behavior.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

          <!-- More Demographics -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['advancedDemographics'].variants.length > 0) && !view['advancedDemographics'].isOpen }"
                  is-open="view['advancedDemographics'].isOpen" header="More Demographics" is-disabled='false'>

                <!-- Advanced Demographics -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/advancedDemographics.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>


          <!-- Relationships -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['interestedIn'].variants.length > 0 || view['relationshipStatus'].variants.length > 0) && !view['interestedIn'].isOpen }"
                  is-open="view['interestedIn'].isOpen" header="Relationships" is-disabled='false'>

                <div class="row">
                  <div class="col-md-24">
                    <!-- Interested In -->
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/interestedIn.html'"></div>

                    <!-- Relationship Status -->
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/relationshipStatus.html'"></div>

                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

          <!-- Education -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['education'].variants.length > 0) && !view['education'].isOpen }"
                  is-open="view['education'].isOpen" header="Education" is-disabled='false'>

                <!-- Education -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/education.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

          <!-- Workplace -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['workEmployer'].variants.length > 0 || view['workPosition'].variants.length > 0)  && !view['workEmployer'].isOpen }"
                  is-open="view['workEmployer'].isOpen" header="Workplace" is-disabled='false'>

                <!-- Work Employer -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/workEmployer.html'"></div>
                  </div>
                </div>

                <!-- Job Description -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/workPosition.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

          <!-- Connections -->
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-class="{'ex-filled': (view['connections'].variants.length > 0) && !view['connections'].isOpen }"
                  is-open="view['connections'].isOpen" header="Connections" is-disabled='false'>

                <!-- Connections -->
                <div class="row">
                  <div class="col-md-24">
                    <div
                        ng-include="'app/main/act/campaignCreation/facebook/fbAudience/templates/components/connections.html'"></div>
                  </div>
                </div>

              </fs-accordion-group>
            </div>
          </div>

        </fs-accordion>
      </div>
    </form>
  </div>

  <!-- Show ads with a reach estimate too small -->
  <div class="row" ng-if="metadata.currentCombo.audience.lowReachAdsList.length > 0">
    <h4>{{'label.act.Adswithlowaudiencereach' | translate}}</h4>
    <!-- Display Audience info only for review page-->
    <div ng-repeat="ad in metadata.currentCombo.audience.lowReachAdsList" class="col-md-6 panel-body fixed-height warning-border">
      <div ng-repeat="audience in ad.adInfo.audience | toArray | orderBy:audienceSort"
           class="audience-label">
        <h4>{{audience.$key | unCamelCase}}</h4>
        <div class="label-variant label-outline grey">
          <span class="label grey" ng-repeat="label in audience">
              {{ label.subSegment.displayValue || label.subSegment.value }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer audience-container">
  <div class="row">
    <!--<div class="col-md-24">-->
    <!--{{ newAudience }}-->
    <!--</div>-->
    <div class="col-md-24 text-right">
      <input id="save-to-library" ng-click="saveAudienceToLibraryCheckbox = !saveAudienceToLibraryCheckbox"
             type="checkbox"/>
      <label for="save-to-library">{{'label.act.SaveAudienceasTemplate' | translate }}</label>
      <button ng-click="loadAudienceFromLibrary()" class="btn-solid btn-tertiary">{{'label.act.LoadAudienceTemplate' |
        translate }}
      </button>
      <button
          ng-click="saveAudience(saveAudienceToLibraryCheckbox); newAudience.saveToLibrary(saveAudienceToLibraryCheckbox, campaign, finishSaveToLibrary);"
          onclick="this.blur();" class="btn-solid btn-primary">{{'label.act.Save' | translate}}
      </button>
    </div>
  </div>
</div>
