<div class="container">

	<!-- Buttons -->
	<div class="row">
		<div class="col-md-24">
			<h2>Buttons</h2>
		</div>
		<div class="col-md-10">
			<button class="btn-solid">.btn-solid </button>
			<button class="btn-outline">.btn-outline </button>
			<button class="btn-solid btn-primary">.btn-solid .btn-primary</button>

			<button class="btn-outline btn-primary">.btn-outline .btn-primary</button>
			
			<input type="submit" class="btn-solid btn-error">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12 col-md-offset-2">
					<button class="btn-solid btn-block btn-sage-short">.btn-block </button>
					<button class="btn-solid btn-block btn-error">.btn-block</button>
				</div>
				
			</div>
			
		</div>
	</div>


	<!-- Inputs -->
	<div class="row">
		<div class="col-md-24">
			<h2>Inputs</h2>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input type="text" class="form-control" placeholder=".form-group .form-control">
				<input type="text" class="form-control" placeholder=".form-group .form-control" disabled>
			</div>
			<div class="form-group">
				<textarea name="something" id="" cols="30" rows="10" class="form-control"></textarea>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Some input</label>
				<input type="text" class="form-control ng-invalid"  placeholder="I am failing atm">

				<label for="">Some input</label>
				<input type="text" class="form-control ng-valid" placeholder="Awesome job">
			</div>
			<div class="form-group">
				<label for="">Enter email</label>
				<input type="email" class="form-control" placeholder=".form-group .form-control">
			</div>
			<div class="form-group">
				<label for="">Enter password</label>
				<input type="password" class="form-control" placeholder=".form-group .form-control">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Enter date</label>
				<input type="date" class="form-control">
			</div>
			<div class="form-group">
				<input type="search" class="form-control" placeholder="Search me!">
				<input type="search" class="form-control alt" placeholder="Search me!">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input type="radio" id="radio1" name="example">
				<label for="radio1">Radio button</label>
				<input type="radio" id="radio2" name="example">
				<label for="radio2">Radio button</label>
			</div>
			<div class="form-group">
				<input type="checkbox" id="checkbox1" name="example">
				<label for="checkbox1">checkbox button</label>
				<input type="checkbox" id="checkbox2" name="example">
				<label for="checkbox2">checkbox button</label>
			</div>
			<div class="form-group">
				
				<input type="checkbox" id="checkbox22" name="example" >
				<label for="checkbox22" button>checkbox button</label>
			</div>
			<div class="form-group">
				<input type="radio" id="radio22" name="example">
				<label for="radio22" button>Radio button</label>
				<input type="radio" id="radio23" name="example">
				<label for="radio23" button>Radio button</label>
			</div>
		</div>
	</div>

	<!-- Labels -->
	<div class="row">
		<div class="col-md-24">
			<h2>Labels</h2>
		</div>
		<div class="col-md-10">
			<span class="label label-default">.label.label-default</span>
			<span class="label label-solid">.label.label-primary</span>
			<span class="label label-outline">.label.label-primary</span>
		</div>
	</div>




</div>
