.fs-kpi-row {
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;
  &.tight {
    margin-left: -@grid-gutter-width/8;
    margin-right: -@grid-gutter-width/8;
  }
}

.first-active {
    border: 6pt solid @sea-heavy;
   // background: @sea-heavy;
}
.second-active {
    border: 6pt solid @leaf-heavy;
    //background: @leaf-heavy;
}


.tight [fs-kpi-cell] {
  padding: @grid-gutter-width/8;
  border: 1px solid transparent;
  &.active {
    border: 1px solid @pale-medium;
    background: @leaf-medium;
  }
  &.first-active {
    border: 2.5pt solid @sea-heavy;
    background: @sea-heavy;
  }
  &.second-active {
    border: 2.5pt solid @leaf-heavy;
    background: @leaf-heavy;
  }
}

[fs-kpi-cell] {
  float: left;
  cursor : pointer;
  padding: @grid-gutter-width/2;
  &.active {
    background: @smoke-mid;
  }
  &.active.disabled {
    background: transparent;
  }
  &.disabled {
    cursor: auto;
  }
  &.disabled .square-cell {
    background: @pale-heavy;
  }
  @media all and (min-width: 1300px) and (max-width: 1600px) {
    .value {
      font-family: @font-family-headline;
      .large();
      font-weight: bold;
      font-size: 1.3em;
    }
  }
  @media all and (min-width: 1600px) {
    .value {
      font-family: @font-family-headline;
      .large();
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  @media all and (max-width: 1300px) {
    .value {
      font-family: @font-family-headline;
      .large();
      font-weight: bold;
      font-size: 1.1em;
    }
  }
  .name {
    padding-bottom: @padding-base-vertical;
    @media (min-width: @screen-hg-min) {
      padding-left: @padding-base-horizontal;
      padding-right: @padding-base-horizontal;
    }
    width: 100%;
    text-align: center;
    font-family : @font-family-headline;
    font-size: @font-size-small / @unitem;
    font-weight: light;
    color: @mono-medium;
    line-height: 110%;
  }
  .clearfix();
}
.tight [fs-kpi-cell] {
  &:extend([fs-kpi-cell].tight);
}

.absolute-bottom {
  position : absolute;
  bottom : 0;
}



// loading
.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}


/* Spinner Bars */
.sp-bars {
  position: relative;
  width: 5px;
  height: 18px;
  border: 1px solid rgba(43, 174, 205, .5);
  background-color: @nature-light;
  -webkit-animation: spBars 1s infinite linear;
  animation: spBars 1s infinite linear;
}

.sp-bars:after, .sp-bars:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border: inherit;
  background-color: inherit;
  top: -1px;
}

.sp-bars:before {
  left: -16px;
  -webkit-animation: spBarsBefore 1s infinite linear;
  animation: spBarsBefore 1s infinite linear;
}

.sp-bars:after {
  right: -16px;
  -webkit-animation: spBarsAfter 1s infinite linear;
  animation: spBarsAfter 1s infinite linear;
}

@keyframes spBarsBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.25);
  }
  50% {
    transform: scale(1, 0.75);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes spBars {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.25);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes spBarsAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.75);
  }
  75% {
    transform: scale(1, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}
