<div class="kpi-cell-wrapper">
  <div class="square-wrapper content">
    <div class="square">
      <div class="square-cell act-cm-bordered">
        <div class="absolute-middle full-width text-center">
          <div id="loading">
            <div class="sp sp-bars"></div>
          </div>
          <div class="value">
          </div>
        </div>
        <div class="absolute-bottom full-width text-center">
          <div class="name">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
