<div ng-click="removeRow($index)" style="cursor:pointer; float: left;">x</div>

<div class="row">
	<div class="fs-dropdown default">
	    <div class="fs-dropdown-link" on-state="click">
	        <span>{{ row.selectedEndpoint ? row.selectedEndpoint : 'Choose Endpoint' }}</span>
	        <iconic data-src="caret" data-direction="bottom" class="iconic-sm goals-caret-coloring"></iconic>
	    </div>
	    <ul class="fs-dropdown-menu">
	        <li ng-click="selectEndpoint(endpoint, row)" ng-repeat="endpoint in row.endpoints">{{ endpoint }}</li>
	    </ul>
	</div>
</div>

Endpoint Url:
<div class="row endpoint-container">
  <div class="col-md-12">
	  <input type="text" ng-model="row.selectedEndpoint" class="full-width"/>
  </div>
  <div class="col-md-4">
    <fs-select ng-model="row.method" fs-options="method for method in ['GET', 'POST']"></fs-select>
  </div>
</div>

JSON:
<div class="row">
	<div class="col-md-6 test-json-textarea full-width">
	    <textarea ng-model="row.json"></textarea>
	</div>
	<div class="btn btn-solid btn-primary col-md-4 col-md-offset-4" ng-click="sendJson(row.json, row)">
	    Send
	</div>

	<div class="col-md-6" ng-show="row.response">
	    {{ row.response }}
	</div>
</div>
