<!-- Workaround for backend to start testing -->
<div class="col-md-24 test-json-container">
	Current Team / Projects / Goals:
	<div class="row">
		{{ accountInfo }}
	</div>
	<div class="row" ng-repeat="row in rows">
    	<div ng-include="'app/main/act/testCampaignCreation/sendJson.html'"></div>		
    	<hr></hr>
	</div>
	<div class="row add-row-container">
		<div class="col-md-4 btn btn-primary btn-solid" ng-click="addRow()">Add Row+</div>
	</div>
</div>