.test-json-textarea {
	textarea{
		height: 200px;
		width: 400px;		
	}
}

.test-json-container{
	margin: 2em;
	margin-left: 0;
}

.endpoint-container{
	margin-left: 0.05em;

}

.add-row-container{
	margin: 5em;
	margin-left: 0;
}