<div class="modal-body">
    <div class="row">
    	<div class="col-md-24">
            <div class="form-group">
                <div ng-if="campaign.settings.goal.tracker !== 'ACCOMPLICE' && campaign.settings.goal.tracker !== 'ACCOMPLICE_CONVERSION_PIXEL'">
                    <fs-radio-toggle ng-model="newCreative.creative.post" option1="newOrExistingPostRadioToggle.option1" option2="newOrExistingPostRadioToggle.option2"></fs-radio-toggle>
                </div>
                <div class="clearfix"></div>
                <div ng-if="newCreative.creative.post === 'new'">
                    <input  class="form-control" type="checkbox" ng-model="isCard" id="website-card" ng-click="changeIsWebsiteCard()"/>
                    <label for="website-card" >
                        {{'label.act.WebsiteCardOptional' | translate}}
                    </label>                    
                </div>
            </div>
            <!-- Twitter handle -->
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/handle.html'"></div>

            <div ng-if="newCreative.creative.post === 'new'">
                <div class="form-group">
                

                    <!-- Tweet Text -->                    
                    <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/textarea.html'"></div>

                    <!-- Url -->
                    <div ng-if="newCreative.creative.isCard">
                        <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/url.html'"></div>
                    </div>

                    <!-- Image -->
                    <div ng-if="newCreative.creative.isCard" class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.RequiredSize800x320' | translate }}">
                        <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/image.html'"></div>
                    </div>

                    <div ng-if="!newCreative.creative.isCard" ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/image.html'"></div>

                    <div ng-if="newCreative.creative.isCard">
                        <div class="form-group">

                            <!-- headline -->
                            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/headline.html'"></div>

                            <!-- Call to action -->
                            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/callToAction.html'"></div>

                            <!-- Card name -->
                            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/cardName.html'"></div>
                        </div>
                    </div>
                </div>
            </div>


    		<div ng-if="newCreative.creative.post === 'existing'">
                <div class="form-group">
                    <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/postDropdown.html'"></div>

                    <!-- Manual validation as fs-dropdown can't be validated with the required attribute -->
                    <div ng-if="form.creative.submitted && !selectedPost.feedId">{{
                        'label.act.Pleaseselectatweet' | translate }}
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
