<div class="modal-body">
    <div class="row">
    	<div class="col-md-24">
    		<fs-radio-toggle ng-model="newCreative.creative.post" option1="newOrExistingPostRadioToggle.option1" option2="newOrExistingPostRadioToggle.option2"></fs-radio-toggle>

    		<div ng-if="newCreative.creative.post === 'new'">
    			<div class="form-group">

            <!-- Tweet text -->
	    			<div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/textarea.html'"></div>

            <!-- Image -->
            <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.RequiredSize800x320' | translate }}" ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/image.html'"></div>

            <!-- Deeplink Url -->
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/deeplink.html'"></div>

            <!-- App Call to Action -->
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/appCallToAction.html'"></div>

            <!-- Card name -->
            <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/cardName.html'"></div>

	            </div>
    		</div>

    		<div ng-if="newCreative.creative.post === 'existing'">
                <div class="form-group">
                    <div ng-include="'app/main/act/campaignCreation/twitter/twCreative/templates/components/postDropdown.html'"></div>

                    <!-- Manual validation as fs-dropdown can't be validated with the required attribute -->
                    <div ng-if="form.creative.submitted && !selectedPost.feedId">{{
                        'label.act.Pleaseselectatweet' | translate }}
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
