<div class="card audience-card card-set-underline" ng-class="{ selected:  containsObject(card, selectedCards) }"
     sglclick="selectCard(card, $event)" ng-dblclick="loadOnDblClick(card, $event)">
  <i ng-show="containsObject(card, selectedCards)" class="selected-icon fa fa-check-circle"></i>
  <h4 title="{{ card.name }}">{{ card.name }}</h4>
  Targeting Specifications:
  <div class="card-body-segments">
    <div class="segment-container">
      <div class="segment" ng-repeat="pill in card.pills">
        <i class="fa {{ targetingSpecIconMapping[pill.type] }}"></i>
        {{ pill.value || pill.displayValue }}
      </div>
    </div>
  </div>
  <i class="fa fa-pencil-square-o" ng-click="editObjectName(card)" title="Edit Name"></i>
  <i class="fa fa-trash-o fright" ng-click="deleteObject(card, $index); $event.stopPropagation();" title="Delete"></i>
</div>

