<section class="project-report-section row-push-1">
  <h3>{{ 'label.statusReport.TopMedia' | translate}}</h3>
  <!-- facebook posts are of 1.9 / 1 aspect ratio -->
  <fs-gallery aspect-ratio="1.9 * 3" circular ng-show="topMediaBreakdown.length">

    <fs-gallery-item ng-repeat="post in topMediaBreakdown" aspect-ratio="1.9">
      <div class="container-fluid media-wrapper">
        <img ng-if="post.picture" ng-src="{{post.picture}}" alt="" style="width: 100%; height: 100%"/>
        <img ng-if="!post.picture" ng-src="assets/images/no-photo.png" alt="" style="width: 100%; height: 100%"/>
        <div class="media-hover">
          <p class="post-body">{{ post.message | stringLimiter:max:200}}</p>
          <p class="data">{{ post.createdAt | date:"MM/dd/yy 'at' h:mma"}}</p>
          <hr />
          <p class="data info-right-column">Impressions: {{ post.reachCount }}</p>
          <p class="data info-right-column">Shares: {{ post.sharesCount }}</p>
          <p class="data info-right-column">Comments: {{ post.commentsCount }}</p>
          <p class="data info-right-column">Likes: {{ post.likesCount }}</p>
          <p class="data info-right-column">Clicks: {{ post.postConsumptions }}</p>
        </div>
      </div>
    </fs-gallery-item>

  </fs-gallery>
  <div ng-if="topMediaBreakdown.length === 0">
    <table class="table table-striped bordered audience-gender">
      <thead>
      <tr>
        <th ng-if="topMediaBreakdown.length === 0">
          <span>No data available.</span>
        </th>
      </tr>
      </thead>
    </table>
  </div>
</section>
