<section class="project-report-section row-push-1" ng-controller="StatusReportActivityBreakdownCtrl">
  <h3>{{ 'label.statusReport.ActivityBreakdown' | translate}}</h3>
  <div ui-grid="activityBreakdownOptions"
         class="grid activity-grid"></div>
</section>
