<div class="row row-push-1">
  <div class="col-md-4">
    <div class="status-report-summary-card">
      <h3>{{ 'label.statusReport.TotalFans' | translate }}</h3>
      <span class="stat">{{ totalFans | metricVolumeCompact }}</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="status-report-summary-card">
      <h3>{{ 'label.statusReport.BestTimeToday' | translate }}</h3>
      <div ng-if="bestTimes.length" class="best-time">
        <fs-gallery aspect-ratio="5" items-per-page="1" circular hide-pager="true">
          <fs-gallery-item ng-repeat="time in bestTimes" aspect-ratio="5">
            <div class="text-center">
              <span class="date">{{ now | date: 'longDate' }}</span>
              <span class="time">{{ time }}</span>
            </div>
          </fs-gallery-item>
        </fs-gallery>
      </div>
      <div ng-if="bestTimes.length === 0">
        <div class="text-center">
          <span class="date">{{ now | date: 'longDate' }}</span>
          <span class="time">{{ 'label.statusReport.BestTimeNA' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-14">
    <div class="status-report-summary-card boost-post" ng-click="boostPost(postToBoost)">
      <h3 class="left">{{ 'label.statusReport.PostToBoost' | translate }}</h3>
      <div class="row post-to-boost" ng-if="postToBoost">
        <div class="col-md-9 col-md-8">
          <div class="img-wrapper">
            <img ng-if="postToBoost.picture" ng-src="{{ postToBoost.picture }}" alt="" style="width: 100%; height: 100%;"/>
            <img ng-if="!postToBoost.picture" ng-src="assets/images/no-photo.png" alt="" style="width: 100%; height: 100%;"/>
          </div>
        </div>
        <div class="col-md-15 col-lg-16">
          <p class="post-body">{{ postToBoost.message }}
          <hr>
          <span class="small">
            {{ postToBoost.date | date:"MM/dd/yy 'at' h:mma"}}
          </span>
        </div>
      </div><!-- end post-to-boost -->
      <div ng-if="!postToBoost">
        <section class="project-report-section">
          <div class="row">
            <div class="no-pages-message">
              {{ 'label.statusReport.YouHaveNoPosts' | translate}}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
