<section class="row row-push-1">
  <div class="col-md-14">
    <section class="project-report-section">
      <h3>{{ 'label.statusReport.EngagementByLocation' | translate}}</h3>
      <!-- Location Breakdown -->
      <div ng-if="countryBreakdown.length === 0 && cityBreakdown.length === 0">
        <table class="table table-striped bordered audience-gender">
          <thead>
          <tr>
            <th ng-if="genderBreakdown.length === 0">
              <span>No data available.</span>
            </th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="bordered">
        <fs-accordion close-others='true' ng-if="countryBreakdown.length || cityBreakdown.length">
          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-if="countryBreakdown.length"
                  is-open="true"
                  percentage="calculatePercentage(geographicalTable.countries[0].eventcount, geographicalTable.totalPageViews)"
                  percentage-title="geographicalTable.countries[0].country">
                <fs-accordion-heading>
                  <div class="header-border-bottom negate-padding header-toggle">
                    <table class="table top-location-table-header clear-margin-bottom">
                      <thead>
                        <tr>
                          <td class="left header-padding">
                            Top Country
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-right"></i>
                          </td>
                          <td class="right header-padding">
                            <div class="top-location-wrapper" ng-if="countryBreakdown.length">
                              <fs-meter title="{{ countryBreakdown[0].country | lowercase | capitalizeWords }}" meter-title="countryBreakdown[0].country | trunc | lowercase | capitalizeWords" percentage="countryBreakdown[0].percentage"></fs-meter>
                              <span class="large top-stat">{{ countryBreakdown[0].percentage | metricPercentage:'remove%' }}<sup>%</sup></span>
                            </div>
                          </td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </fs-accordion-heading>
                <div class="row">
                  <div class="col-md-24" style="margin-top: -8px;">
                    <div style="overflow-y: scroll; overflow-x:hidden; height: 306px" class="negate-padding">
                      <table class="table table-striped clear-bottom-margin fix-header status-report-location">
                        <thead>
                        <tr>
                          <th>
                            &nbsp;
                            <div class="header-row-bg">&nbsp;</div>
                          </th>
                          <th>
                            {{ 'label.statusReport.PageLikes' | translate }}
                            <div>{{ 'label.statusReport.PageLikes' | translate }}</div>
                          </th>
                          <th>
                            %
                            <div>%</div>
                          </th>
                        </tr>
                        <tr>
                          <td>TOTAL</td>
                          <td>{{ countryBreakdownTotal | metricVolumeCompact }}</td>
                          <td>100%</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in countryBreakdown" ng-if="row.value >= 0"
                          class="filter-field"
                          ng-click="filterPageByCountry(row.country, row.countrycode)"
                            >
                          <td class="title" title="{{ row.country | lowercase | capitalizeWords }}">{{row.country | trunc | lowercase | capitalizeWords }}</td>
                          <td class="others">{{row.value | metricVolumeCompact }}</td>
                          <td class="others">{{row.percentage | metricPercentage }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fs-accordion-group>
            </div>
          </div>

          <div class="row">
            <div class="col-md-24">
              <fs-accordion-group
                  ng-if="cityBreakdown.length"
                  is-open="false">
                <fs-accordion-heading>
                  <div class="header-border-bottom negate-padding header-toggle">
                    <table class="table top-location-table-header clear-margin-bottom">
                      <thead>
                        <tr>
                          <td class="left header-padding">
                            Top City
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-right"></i>
                          </td>
                          <td class="right header-padding">
                            <div class="top-location-wrapper" ng-if="cityBreakdown.length">
                              <fs-meter title="{{ cityBreakdown[0].city | lowercase | capitalizeWords }}" meter-title="cityBreakdown[0].city | trunc | lowercase | capitalizeWords" percentage="cityBreakdown[0].percentage"></fs-meter>
                              <span class="large top-stat">{{ cityBreakdown[0].percentage | metricPercentage:'remove%' }}<sup>%</sup></span>
                            </div>
                          </td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </fs-accordion-heading>
                <div class="row">
                  <div class="col-md-24" style="margin-top: -8px;">
                    <div style="overflow-y: scroll; overflow-x:hidden; height: 306px" class="negate-padding">
                      <table class="table table-striped clear-bottom-margin fix-header status-report-location">
                        <thead>
                        <tr>
                          <th>
                            &nbsp;
                            <div class="header-row-bg">&nbsp;</div>
                          </th>
                          <th>
                            {{ 'label.statusReport.PageLikes' | translate }}
                            <div>{{ 'label.statusReport.PageLikes' | translate }}</div>
                          </th>
                          <th>
                            %
                            <div>%</div>
                          </th>
                          </th>
                        </tr>
                        <tr>
                          <td>TOTAL</td>
                          <td>{{ cityBreakdownTotal | metricVolumeCompact }}</td>
                          <td>100%</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in cityBreakdown" ng-if="row.value >= 0"
                          class="filter-field"
                            >
                          <td class="title" title="{{ row.city | lowercase | capitalizeWords }}">{{row.city | trunc | lowercase | capitalizeWords }}</td>
                          <td class="others">{{row.value | metricVolumeCompact }}</td>
                          <td class="others">{{row.percentage | metricPercentage }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fs-accordion-group>
            </div>
          </div>
        </fs-accordion>
      </div>
    </section>
  </div>
  <div class="col-md-10">
    <!-- Media Breakdown -->
    <section class="project-report-section">
      <h3>{{ 'label.statusReport.EngagementByMediaType' | translate}}</h3>
        <table class="table top-media-table-header clear-margin-bottom">
          <thead>
            <tr ng-repeat="media in mediaBreakdown">
              <td class="left header-padding">
                {{ media.key | capitalizeWords}}
              </td>
              <td class="center">
                <div class="bordered top-media-wrapper">
                  <fs-meter meter-title="" percentage="media.percentage"></fs-meter>
                </div>
              </td>
              <td class="right">
                <span class="large top-stat">{{ media.percentage | percentageFilter:2 }}</span>
              </td>
            </tr>
          </thead>
        </table>
    </section>
    <!-- Gender Breakdown -->
    <section class="project-report-section row-push-1">
      <h3>{{ 'label.statusReport.AudienceBreakdown' | translate}}</h3>
      <table class="table table-striped bordered audience-gender">
        <thead>
        <tr>
          <th ng-repeat="value in genderBreakdown" ng-class="{'uni-cells': genderBreakdown.length === 3}">
            <span class="header-main">{{value.gender}}</span>
            <span class="header-description">{{ 'label.statusReport.TotalFanBase' | translate}}</span>
            <span class="header-percentage">{{value.percentage | percentageFilter}}</span>
          </th>
        </tr>
        <tr>
          <th ng-if="genderBreakdown.length === 0">
            <span>No data available.</span>
          </th>
        </tr>
        </thead>
      </table>
    </section>
  </div>
</section>
