<section class="project-report-section row-push-1" ng-controller="StatusReportEngagementBreakdownCtrl">
  <h3>{{ 'label.statusReport.EngagementBreakdown' | translate}}</h3>
  <div class="row row-pull-1">
    <div class="col-md-24 col-lg-14">
      <h3> </h3>
      <div class="fs-kpi-row tight">
        <div fs-kpi-cell
          ng-repeat="kpi in fbKPIs"
          label="kpi.label" kpi="kpiToDate[kpi.key] | metricPicker:kpi.summaryFormat ? kpi.summaryFormat : kpi.format"
          width-percentage="1 / fbKPIs.length"
          ng-click = "!kpi.disabled && activeEntities.selectedKPIs.toggle(kpi)"
          ng-class="{ 'first-active' : activeEntities.selectedKPIs.get(0).key === kpi.key, 'second-active' : activeEntities.selectedKPIs.get(1).key === kpi.key, disabled : kpi.disabled }">
        </div>
      </div>
    </div>
    <div class="col-md-16 col-lg-8 col-lg-offset-2">
    </div>
  </div>
  <div>
  </div>
  <div ng-show="useStackChart()">
    <fs-vis-stacked
      ng-if="timeseries.length"
      fs-vis-config
      chart-title = "stackChartKPI().label"
      data="timeseries"
      time-field="'date'"
      y-format="getFormatter(stackChartKPI())"
      labels="labelForStackChart(stackChartKPI())"
      value-fields="fieldsForStackChart(stackChartKPI())"
      colors="greenColorsRev" 
      secondary-colors="greenColors"
      opacity="0.65" 
      margin="{ top: 15, left: 55, right: 55, bottom: 60}"
    >
      <div>
        <h3 class="inline-block">{{ 'label.statusReport.Breakdown' | translate}} </h3>
        <span class="legend-label" ng-repeat="series in legendData" style="background: {{ series.color }}; color: {{ series.colorSecondary }}">{{ series.name }}</span>
      </div>
    </fs-vis-stacked>
    <fs-vis-missing-data
     ng-hide="timeseries.length"
     margin="{ top: 32, left: 0, right: 0, bottom: 0}"
     message="'Data currently missing of unavailable'"
     fs-vis-config
     >
    </fs-vis-missing-data>
  </div>
  <div ng-show="useLineChart()">
    <fs-vis-multiseries
      ng-if="timeseries.length"
      fs-vis-config
      chart-title = "lineChartKPI().label"
      data="timeseries"
      y-format="getFormatter(lineChartKPI(), true)"
      y1-format="getFormatter(lineChartKPI(), false)"
      time-field="'date'"
      labels="labelForLineChart(lineChartKPI())"
      value-fields="fieldsForLineChart(lineChartKPI())"
      colors="fanGrowthColors"
      margin="{ top: 15, left: 55, right: 55, bottom: 60}"
    >
      <div ng-show="activeEntities.selectedKPIs.get(0).key === 'fanGrowth'">
        <h3 class="inline-block">{{ 'label.statusReport.Breakdown' | translate}} </h3>
        <span class="legend-label disabled" style="background-color: {{ fanGrowthColors[1] }};color: #fff;">{{ 'label.statusReport.PageLikes' | translate }}</span>
        <span class="legend-label disabled" style="background-color: {{ fanGrowthColors[2] }};color: #fff;">{{ 'label.statusReport.PageUnlikes' | translate }}</span>
      </div>
    </fs-vis-multiseries>
    <fs-vis-missing-data
     ng-hide="timeseries.length"
     margin="{ top: 32, left: 0, right: 0, bottom: 0}"
     message="'Data currently missing of unavailable'"
     fs-vis-config
     >
    </fs-vis-missing-data>
  </div>
  <div ng-show="useComparisonChart()">
    <fs-vis-double-axis
      ng-if="timeseries.length"
      fs-vis-config
      data="timeseries"
      y-format="getFormatter(comparisonChartKPIs()[0])"
      y1-format="getFormatter(comparisonChartKPIs()[1])"
      time-field="'date'"
      labels="labelForComparisonChart(comparisonChartKPIs()[0], comparisonChartKPIs()[1])"
      value-fields="fieldsForComparisonChart(comparisonChartKPIs()[0], comparisonChartKPIs()[1])"
      margin="{ top: 15, left: 55, right: 55, bottom: 60}"
    >
      <div>
        <h3 class="inline-block">{{ 'label.statusReport.Comparison' | translate}} </h3>
        <span class="legend-label" ng-repeat="series in legendData" style="background: {{ series.color }};">{{ series.name }}</span>
      </div>
    </fs-vis-double-axis>
    <fs-vis-missing-data
     ng-hide="timeseries.length"
     margin="{ top: 32, left: 0, right: 0, bottom: 0}"
     message="'Data currently missing of unavailable'"
     fs-vis-config
     >
    </fs-vis-missing-data>
  </div>
</section>
