<div class="row">
  <div class="col-md-24">
    <!-- page selection and date range -->
    <div ng-if="activeEntities.facebookPages.length > 0" ng-include="'app/main/analyze/statusReport/templates/statusReport.header.html'">
    </div>
    <!-- summary cards -->
    <div ng-if="activeEntities.facebookPages.length > 0" ng-include="'app/main/analyze/statusReport/templates/statusReport.summary.html'">
    </div>
    <div ng-if="activeEntities.facebookPages.length > 0">
      <!-- engagement breakdown -->
      <div ng-if="activeEntities.facebookPage" ng-include="'app/main/analyze/statusReport/templates/statusReport.engagementBreakdown.html'">
      </div>
      <!-- activity breakdown -->
      <div ng-if="activeEntities.facebookPage" ng-include="'app/main/analyze/statusReport/templates/statusReport.activityBreakdown.html'">
      </div>
      <!-- topmedia breakdown -->
      <div ng-if="activeEntities.facebookPage" ng-include="'app/main/analyze/statusReport/templates/statusReport.topMedia.html'">
      </div>
      <!-- audience breakdown: by geo, gender and media type -->
      <div ng-if="activeEntities.facebookPage" ng-include="'app/main/analyze/statusReport/templates/statusReport.audienceBreakdown.html'">
      </div>
    </div>

    <div ng-if="activeEntities.facebookPages.length === 0" ng-include="'app/main/analyze/statusReport/templates/statusReport.noPages.html'">
    </div>
  </div>
</div>
