<section class="project-report-section">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="fs-dropdown default page"> 
        <!-- Dropdown to allow the user to choose the page. Becomes hidden once the user has selected it -->
        <div class="fs-dropdown-link" on-state="click">
            <div ng-hide="activeEntities.facebookPage">
                <i class="pull-right fa fa-caret-down"></i>
                <span>Select Facebook Page</span>
            </div>
        </div>
        <!-- When the user has selected a page, display the page chosen -->
        <div class="fs-dropdown-link" on-state="click">
          <div ng-show="activeEntities.facebookPage">
              <i class="pull-right fa fa-caret-down"></i>
              <img ng-src="{{activeEntities.facebookPage.image}}" alt="facebook image">
              <span>{{ activeEntities.facebookPage.pageName }}</span>
          </div>
        </div>
        <ul class="fs-dropdown-menu">
            <li ng-repeat="page in activeEntities.facebookPages" ng-click="selectFacebookPage(page)">          
                  <img ng-src="{{page.image || page.social.image}}" alt="facebook image">
                  {{ page.name || page.pageName || page.groupName }}
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-lg-9 col-lg-offset-7">
      <daterange-picker class="project-report-daterangepicker" options="daterangePickerOpts" ng-model="activeEntities.timeFrame" ng-change="updateTimeframe(activeEntities.timeFrame)">
      </daterange-picker>
    </div>
  </div>
</section>
