/* Table Sorter */

.tablesorter {
  text-align: left;
  border-spacing: 0;
  border-collapse: separate;
  background: #fff;
  font-size: @font-size-small / @base-font-size * 1em;
  border: 1px solid @sage-long-half; 
  th, td {
    overflow: hidden;
    white-space: nowrap;
  }
  th, thead td {
    padding: 1px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    font-weight: bold;
    white-space: normal;
  }
  .header,
  .header-extra,
  .tablesorter-header {
    padding: 4px 4px;
    white-space: normal;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    background: #f5f5f5 url(data:image/gif;base64,R0lGODlhBwAJAJEAAAAAAP///7u7u////yH5BAEAAAMALAAAAAAHAAkAAAINnGUpq8sOk4Ru0IZmKgA7) no-repeat right 5px center;
  }
  .header.no-sort {
    background-image: none;
    cursor: auto;
  }
  th.headerSortAsc,
  th.tablesorter-headerSortAsc {
    color: #333;
    background: #f5f5f5 url(data:image/gif;base64,R0lGODlhBwAJAKIAAAAAAP///wADM7u7u////wAAAAAAAAAAACH5BAEAAAQALAAAAAAHAAkAAAMRSCra8u5BSZsdOA+it8oW1yQAOw==) no-repeat right 5px center;
  }
  th.headerSortDesc,
  th.tablesorter-headerSortDesc {
    color: #333;
    background: #f5f5f5 url(data:image/gif;base64,R0lGODlhBwAJAKIAAAAAAP///wADM7u7u////wAAAAAAAAAAACH5BAEAAAQALAAAAAAHAAkAAAMRSDra8+5BSZsVOAuit8oW1yQAOw==) no-repeat right 5px center;
  }
  tbody > tr:hover > td {
    background: #DEEEDF;
  }
  tbody > tr.filter-row > td {
    background: #fff;
  }
  tbody > tr.row-checked > td {
    color: #000;
    background: #DDEAF9;
  }

  input[type=checkbox] + label {
    margin: 0!important;
    padding: 0!important;
    height: 16px!important;
    top:3px!important;
  }
  input[type=checkbox] + label:before {
    margin: 0!important;
    padding: 0!important;
    height: 16px!important;
    position:relative!important;
    bottom: 0!important;
    font-size: 15px!important;
    line-height: 15px!important;
  }
  input[type=checkbox]:indeterminate + label:before {
    content: "\2212";
    background: rgba(137, 153, 153, 0.2);
  }
  th.checkbox > span, td.checkbox > span {
    height: 24px!important;
    display: inline-block;
  }
  th.checkbox, td.checkbox {
    text-align:center!important;
    width: 3rem!important;
  }
  .empty-cell {
    background: #d5d5d5;
  }
  .filter-row td input {
    width: 100%;
  }
  .filter-row .select-wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 2px 0;
    border: 1px solid #aaa
  }
  .filter-row select {
    width: 100%;
    height: 100%;
    background: #fff;
    outline: 0;
    border: 0;
  }
  .filter-row td {
    border-bottom: 1px solid #ccc;
    padding: 2px 1px;
  }
  .filter-row td:first-child {
    text-align:center;
    cursor: pointer;
    color: @smoke-mid;
  }
  .filter-row.has-filters td:first-child {
    color: @smoke-long;  
  }
}
