<div ng-init="$parent.fadeLoggedTeam()" class="row fadein" ui-view ng-show="!loggedInAsTeam && teamSwitchProccess">
  <div class="col-md-17" ui-view="alignMain">
  </div>
  <div class="col-md-6 col-md-offset-1" ui-view="alignSidebar">
  </div>
</div>
<div ng-show="loggedInAsTeam && teamSwitchProccess" class="fadein fadeout">
  <div class="overall-position">
    <div class="loggedin-message">
      <h3 class="team-label">Team</h3><h3>{{ fractalAccountInfo.currentTeam.name }}</h3>
    </div>
  </div>
</div>
