.pad-both{
	padding: 1em 0 0.5em 0;
}
.card{
	font-weight: 100;
	margin: 0.75em 0em;

	.card-header{
		text-align: center;

		padding: .75em .75em;
	}

	.card-divide {
	    text-align: center;
	}

	.card-divide.background {
	    position: relative;
	    z-index: 1;

	    &:before {
	        border-top: 1px solid @mono-medium;
	        content:"";
	        margin: 0 auto; /* this centers the line to the full width specified */
	        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
	        top: 50%; left: 0; right: 0; bottom: 0;
	        width: 100%;
	        z-index: -1;
	    }

	    span {
	        /* to hide the lines from behind the text, you have to set the background color the same as the container */
	        background: #fff;
	        padding: 0 10px;
	    }
	}
	.card-body{
		ul{
			list-style: none;
			padding-left: 0px;
			li{
				details{
					background: #e1e1e1;
					font-size: 0.85em;
					line-height: 125%;

					.row:last-child{
						padding-top: 0.5em;
					}
				}

				summary{

					background: #fff;
					cursor: pointer;
					padding-top: 0.5em;padding-bottom: 0.5em;
					outline: none;
					&::-webkit-details-marker {
						float: right;
						transform: scale(-1, 1);
						padding-top: 10px;

					}
				}

			}
		}

		.current-traction{
			color: green;
			text-align: center;
			font-size: 3em;
			font-weight: 100;
			margin: 0.35em 0;
		}
	}

	.card-footer{
		border-top: 1px solid @mono-medium;
	}

}

button.close{
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
.close{
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
.caret{
	@caret-size: 6px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-right: @caret-size solid transparent;
	border-left: @caret-size solid transparent;
}

.caret-down{
	.caret();
	border-top: @caret-size solid;
}
.caret-up{
	.caret();
	border-bottom: @caret-size solid;
}

.align-right-column{
  //border-left: 1px solid @black;
  height: 100vh;
}

.accordion-pill{
  cursor: pointer;
  margin-bottom: 1em;
  .member-picture-container{
    border: 1px solid @slate-short;
    height: 2.75em;
    width: 2.62em;
    margin-left: 0.6em;
    img {
      width: 2.5em;
      height: 2.65em;
    }
  }
  .member-no-picture {
    border: 1px solid @pebble-long;
    background-color: @pebble-long;
    height: 2.75em;
    width: 2.62em;
    margin-left: 0.6em;
    .member-no-image-label {
      color: @smoke-white;
      font-weight: bold;
      padding-top: 36%;
      //text-align: center;
    }
  }
  p {
    padding: 0;
    margin-left: 1em;
  }
  &:hover{
    background-color: darken(@body-bg, 10%)
  }

  &.on{
    background-color: darken(@body-bg, 10%)
  }
}
.show-more-members {
  padding-left: 1em;
  padding-right: 1em;
  button {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 0.5em;
  }
}
.show-more-pixels {
  padding-left: 0.5em;
  padding-right: 0.5em;
  button {
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}
.social-authorize-align {
  padding-left: 0.5em;
  padding-right: 0.5em;
  button {
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
}
.social-properties-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: @smoke-mid;
  margin-left: 0.5px;
  margin-right: 0.5px;
  .header {
    background-color: @smoke-mid;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .items {
    background-color: @smoke-white;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.default-team-main-header {
  h4 {
    vertical-align: middle;
    height: 3em;
    padding: 0.5em;
    color: @smoke-long;
  }
  .open-team-library {
    padding-left: 1em;
    padding-right: 1em;
    background-color: @smoke-short;
    button {
      margin-top: 1em;
      margin-bottom: 1em;
      width: 100%;
    }
  }
  .fs-dropdown {
    float:right;
  }
}

.social-pills{
  cursor: pointer;
  margin-bottom: 0.3em;
  span {
    padding: 0;
  }
  &:hover{
    background-color: darken(@body-bg, 10%)
  }

  &.on{
    background-color: darken(@body-bg, 10%)
  }
}

.overall-position {
  margin-top: 130px;
  margin-left: 33%;
}
.loggedin-message{
  width: 350px;
  height: 100px;
  text-align: center;
  padding: 37px;
  padding-left: 0;
  padding-right: 0;
  border: 2px solid @mono-light;
  border-radius: 4px;
  background-color: @pale-medium;
  margin-inside: 0.5em;
  -webkit-box-shadow: 0 2px 1px 0 @mono-medium;
  -moz-box-shadow: 0 2px 1px 0 @mono-medium;
  box-shadow: 0 2px 1px 0 @mono-medium;
  h3 {
    color: @tin-light;
    font-weight: bold;
    margin: 0;
    display: inline;
    &.team-label {
      font-weight: normal;
      margin-right: 7px;
      color: @mono-heavy;
    }
  }
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
  -webkit-transition: 500ms ease-in-out all;
  -moz-transition: 500ms ease-in-out all;
  -o-transition: 500ms ease-in-out all;
  transition: 500ms ease-in-out all;
  display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.create-new-project-block{
  background-color: transparent;
  border: 1px solid @sage-long;
  border-radius: 2px;
  color: @sage-long;
  height: 7em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: auto;
  .new-project-coloring *{
    fill: @sage-long;
    stroke: @sage-short;
  }
}
.create-new-project-block:hover {
  background-color: @pebble-long;
  color: white;
  .new-project-coloring *{
    fill: @smoke-white;
    stroke: @sage-short;
  }
}
.create-new-project-block-active {
  background-color: @pebble-long;
  color: white;
}

.create-new-project-label-init {
  display: block;
}
.create-new-project-input-init {
  display: none;
}
.create-new-project-label-action {
  display: none;
}
.create-new-project-input-action {
  display: block;
}
.no-team-image {
  color: @smoke-white;
  font-size: 1em;
  font-weight: bold;
  padding-top: 25%;
  text-align: center;
}
.admin-dashboard-team-no-image {
  height: 12.074em;
  border: 1px solid @pebble-long;
  width: auto;
  background-color: @pebble-long;
  .admin-dashboard-no-team-image-label {
    color: @smoke-white;
    font-size: 1em;
    font-weight: bold;
    padding-top: 5.7em;
    text-align: center;
  }
}
.navbar-caret-coloring *{
  fill: @white;
  padding: 4px;
  display: inline;
  margin-bottom: -3px;
  margin-left: -3px;
}
.pencil-coloring *{
  fill: @pebble-long;
}

.application-info {
  margin-bottom: 2em;
}

.margin-top-025 {
  margin-top: 0.25em;
}

.btn-validate-url {
  background-color: transparent;
  border-color: #779f79; /* green */
  color: #779f79;
}

.btn-validate-url {
  border-color: #779f79; /* green */
  color: #779f79;
  background-color: transparent;
  width: auto;
}

.no-service .btn-validate-url { display: none; }

.btn-validate-url i { display: none; }
.btn-validate-url img { display: none; }
.invalid-url .btn-validate-url i { display: inline; }
.checking-url .btn-validate-url img { display: inline; }

.invalid-url .btn-validate-url {
  border-color: rgb(219,75,56);
  color: rgb(219,75,56);
  width: auto;
}

.validate-url-alert-icon {
  display: none;
  color: rgb(247,151,29);
  font-size: 20px;
  width: 20px;
  margin-right: 20px;
}
.validate-url-okay-icon {
  display: none;
  color: rgb(91,160,117);
  font-size: 20px;
  width: 20px;
  margin-right: 20px;
}
.validate-url-working-icon {
  display: none;
  color: rgb(91,160,117);
  font-size: 20px;
  width: 20px;
  margin-right: 20px;
}
.invalid-url .validate-url-alert-icon { display: block; }
.valid-url .validate-url-okay-icon { display: block; }
.checking-url .validate-url-working-icon { display: block; }
.no-service .validate-url-working-icon { display: none; }

.url-alert-top {
  display: none;
  color: rgb(247,151,29);
  font-size: 14px;
  margin-right: 0;
  margin-top: 2px;
}

#url-alert-top.invalid-url { display: block; margin-top: 2px; }

.url-validation-no-service-warning {
  font-size: 11px;
  font-style: italic;
  color: #9b9b9b;
  display: none;
  cursor: pointer;
}

.no-service .url-validation-no-service-warning { display: inline; }
.no-service #btn-validate-url-new { display: none; }

.margin-top-025- {
  margin-top: -0.25em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.app-channel-container {
  border:1px solid @pale-dark;
  margin-right: 1em;
}

.carets-apps {
  float: right;
  color: @mono-medium;
  margin-top: .2em;
  margin-right: .2em;
}

.manage-app-block {
  padding: 1em 1em .5em 1em !important;
  border-top: 1px solid @mono-light;
}

.app-block {
  .header-labeled {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    padding-left: 0;
    h3 {
      color: @mono-medium;
    }
  }
}
.app-lead-blocks {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  padding:0 !important;
  .app-label {
    color: @mono-medium;
    font-size: 1em;
  }
}

.app-lead-blocks-padding {
  padding-left: 0;
}

.app-instructions {
  color: @mono-medium;
  font-size: 11pt;
  line-height: 1em;
  border: 1px solid @mono-medium;
  padding: 0.5em;

  &.twitter {
    margin-top: 2.75em;
    min-height: 7.5em;
    word-wrap: break-word;
  }
}

.margin-top-05 {
  margin-top: 0.5em;
}

.member-container-padding {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.app-name-input {
  height: 2.5em;
}

.margin-top-app-name-input {
  margin-top: -1.5em;
}