<div>

  <div class="row" ng-show="combo.creativeList.length >= 1">

    <div class="event-log-pagination">
      <nav role="navigation">
        <ul class="paginated-blocks creatives-placement">
          <li ng-repeat="c in currentCreativeList track by $index">
            <a ng-class="{'current': $index + innerPage === page}" ng-click="goToPage($index + innerPage)">
              {{$index + innerPage}}
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="page-arrow-container" ng-show="combo.creativeList.length > pageLimit">
            <span ng-disabled="innerPage > 1"
                  ng-click="prev(page - 1)">
                  <span class="page-arrow-label"> Prev 10</span>
                  <span class="fa fa-arrow-left pointer"></span>
            </span>
            <span ng-disabled="innerPage + pageLimit < combo.creativeList.length"
                  ng-click="next(page + 1)">
                  <span class="fa fa-arrow-right pointer"></span>
                  <span class="page-arrow-label"> Next 10</span>
            </span>
    </div>

    <div class="row" ng-if="currentCreative && metadata.page === 2">
      <div class="col-md-24">
        <div class="fright">
          <i class="fa fa-trash-o action-icon"
             ng-click="combo.deleteCreative(currentCreative)"
             ng-attr-title="{{'label.act.DeleteCreative' | translate }}">
          </i>
          <i class="fa fa-edit action-icon"
             ng-click="editCreative(combo, currentCreative)"
             ng-attr-title="{{'label.act.EditCreative' | translate }}">
          </i>
        </div>
      </div>
    </div>

    <hr>
  </div>
  <!--     <div>
          Showing
          <a href="" ng-click="showPage(page.num)">{{ page }}</a> of
          <a href="" ng-click="showPage(page.num)">{{ combo.creativeList.length }}</a>
          creatives
          <span ng-click="previousPage()"><</span>
          <span ng-click="nextPage()">></span>
      </div> -->

  <div ng-if="currentCreative">
    <!--This is where the preview is displayed -->
    <!-- <div class="sp sp-bars" ng-show="currentCreative.previewLoading"></div>    ng-show="!currentCreative.previewLoading"    -->
    <div class="fb-preview-container" ng-repeat="preview in currentCreative.previewList track by $index">

      <div class="preview-error-container" ng-show="preview.error.value">
        {{ preview.error.label }}
        {{ preview.error.value }}
      </div>

      <div class="iframe-container" ng-repeat="iframe in preview.iframeList track by $index">
        <div ng-bind-html='iframe'></div>
      </div>
    </div>
  </div>
</div>
