<div class="modal-body modal-body-members">
  <h3>{{ 'label.navbar.switchTeam' | translate }}</h3>
  <div class="row" style="min-height: 16em;max-height: 28.5em;overflow-x:auto;">
    <div ng-repeat="team in activeTeams | filter:{ enabled: true }" >
      <div>
        <div class="col-md-12" style="height: 14.5em; margin-top: 5px;">
          <div ng-click="switchToTeam(team)" style="cursor: pointer;" ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-class="{'mark-current-team': team.id === currentTeam.id, 'check-others': team.id !== currentTeam.id }">
          <div ng-class="{'team-list-hover': hover}" style="height: 12.19em; display: block;">
            <div class="check-sign" ng-if="team.id === currentTeam.id">
              <iconic class="check-sign-coloring" static data-src="circle-check-lg.svg"></iconic>
            </div>
            <div ng-if="team.image" style="height: 12em; width: auto; background-color: #696969; border: 1px solid #000;">
              <img ng-if="team.image" ng-src="{{ apiUrl + '/api/v2/image/get?guid=' + team.image.fullGuid }}" style="height: 11.83em; width: 100%;" ng-file-drop="onFileSelect($files)" />
            </div>
            <div ng-if="!team.image" style="height: 12em; border: 1px solid #000; width: auto; background-color: #696969;">
            </div>
          </div>
          <div class="col-md-24 team-block-footer">
            <div class="col-md-22">
              <p class="team-label team-name-label">
                {{team.name}}
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer modal-members-footer">
  <button class="btn-solid btn-outline" ng-disabled="!teamSwitchProccess" ng-click="closeThisDialog()">{{ 'label.common.cancel' | translate}}</button>
</div>
