.mark-current-team {
  border: 2px solid @pebble-long;
  height: 14.65em;
  .check-sign {
    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
    text-align: center;
    .check-sign-coloring *{
      padding: 15px;
      fill: @pebble-long;
      fill-opacity: 0.85;
    }
  }
  .check-others {
    display: none;
  }
}
.team-list-hover {
  opacity: .7;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.1s;
}

