<div class="col-md-10 welcome-message">
    <h1>{{ 'label.login.Welcomeback' | translate }} </h1>
    <h3>{{ 'label.login.WithAccompliceyoucanoptimizeyourdigitalmarketingstrategyforsuccesswithuniqueintelligence&engagementtools' | translate }} </h3>
    <div>
        <h3>{{ 'label.login.WhathaveyouachievedwithAccomplice' | translate }} </h3>            
        <h3><a href="mailto:marketing@accomplice.io" target="_top">{{ 'label.login.Letusknow' | translate }} </a></h3>            
    </div>
</div>

<div class="col-md-12 container">
  <div class="forms">
    <form name="resetPasswordForm"  ng-submit="processReset()" novalidate>
        <div>
        <h4 class="fleft">{{'label.resetpassword.resetpassword' | translate}}</h4>
        <div ng-class="{ 'has-error' : resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine }">
          <div class="form-group">
            <!-- <label>{{'label.resetpassword.emailaddress' | translate}}</label> -->
            <span class="fright validation-message" ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine"><font>Please enter a valid email address</font></span>
            <input class="form-control" ng-model="resetPasswordemail" name="email" id="email-address" type="email" placeholder="{{'label.resetpassword.emailaddress' | translate}}" required/>
          </div>
        </div>
        <div vc-recaptcha tabindex="3" theme="clean" key="publicKey" lang="en" ng-show="publicKey"></div>
        <a href="#/login"><span>{{'label.resetpassword.Back' | translate}}</span></a>
        <button class="btn btn-solid btn-primary fright" type="submit" ng-disabled="!resetPasswordemail.trim() || resetPasswordForm.email.$invalid && !resetPasswordForm.email.$error.required || resetPasswordForm.email.$pristine" id="reset-button" name="login" type="submit">{{'label.resetpassword' | translate}}</button>
        </div>
    </form>
  </div>
</div>
