<!--tare: {{view.platforms}}-->
<!-- fs-variant -->
<fs-variant type="platforms" ng-model="view.platforms"></fs-variant>

<fs-accordion class="sub-accordion">
  <div class="row">
    <div class="col-md-24">


      <fs-accordion-group
        header="IOS Devices"
        is-open="accordion.platformOpenIos"
        is-disabled="accordion.platformDisabled"
        num-of-selected="platforms.iosDevices.selected"
        total-available="platforms.iosDevices.total"
        checkbox-id="ios"
        radio-btn-function="clickOnAccordionRadioBtn('iosDevices')"
        >

        <div class="row">
          <div class="col-md-24">
            <ul class="devices" style="-webkit-column-count: 4">
              <li ng-repeat="device in iosDevices">
                <input class="rounded" type="checkbox" ng-checked="device.selected" id="{{device.name}}" value="{{device.name}}" ng-click="toggleIosDevice(device)">
                <label class="full-width rounded" for="{{device.name}}">{{device.name}}</label>
              </li>
            </ul>
          </div>
        </div>
      </fs-accordion-group>

      <fs-accordion-group 
        header="Android Devices" 
        is-open="accordion.platformOpenAndroid" 
        is-disabled="accordion.platformDisabled" 
        num-of-selected="platforms.androidDevices.selected"
        checkbox-id="android"
        radio-btn-function="clickOnAccordionRadioBtn('androidDevices')">

        <div class="row">
          <div class="col-md-24">
            <fs-tabset tabs-type="vertical-tabs">
              <fs-tab ng-repeat="category in androidDeviceCategories" ng-click="browseDeviceCategory(category)">
                <tab-heading>
                  <h5>{{category}}</h5>
                </tab-heading>
                <div>
                  <b class="fa fa-spinner fa-spin" ng-if="browseAndroidLoading"></b>
                  <ul class="devices" ng-if="!browseAndroidLoading">
                    <li ng-repeat="device in androidDevices" >
                      <input class="rounded" type="checkbox" ng-checked="device.selected" id="{{device.name}}" value="{{device.name}}" ng-click="toggleAndroidDevice(device)">
                      <label class="full-width rounded" for="{{device.name}}">{{device.name}}</label>
                    </li>
                  </ul>
                </div>
              </fs-tab>
            </fs-tabset>
          </div>
        </div>
      </fs-accordion-group>

      <div class="radio-selection-container" style="margin-top: 0; margin-left: 0.6em;">
        <div class="row">
          <div class="radio-container col-md-24">
            <input type="radio" name="wifiRadio" id="wifiRadio" value="wifi" ng-model="wifiPlatform" ng-click="togglePlatform(wifiPlatform)"/>
                <label style="font-size: 0.79em;" for="wifiRadio">
                  Wifi Only IOS/Android Devices
                </label>
          </div>
          <div class="radio-container col-md-24">
              <input type="radio" name="blackberryRadio" id="blackberryRadio" value="blackberry" ng-model="blackberryPlatform" ng-click="togglePlatform(blackberryPlatform)"/>
              <label style="font-size: 0.79em;" for="blackberryRadio">
                BlackBerry Phones & Tablets
              </label>
          </div>             
          <div class="radio-container col-md-24">
            <input type="radio" name="desktopRadio" id="desktopRadio" value="desktop" ng-model="desktopPlatform" ng-click="togglePlatform(desktopPlatform)"/>
                <label style="font-size: 0.79em;" for="desktopRadio">
                  Desktop & Laptop Devices
                </label>
          </div>
          <div class="radio-container col-md-24">
            <input type="radio" name="otherRadio" id="otherRadio" value="other" ng-model="otherPlatform" ng-click="togglePlatform(otherPlatform)"/>
                <label style="font-size: 0.79em;" for="otherRadio">
                  Other Mobile
                </label>
          </div>
      </div>


    </div>
  </div>
</fs-accordion>
