<div class="event-log-pagination">
  <nav role="navigation">
    <ul class="paginated-blocks">
      <li ng-click="goToPage(view.currentPage - 1)"
          ng-show="view.numberOfPages > 1" class="button"
          ng-class="{'disabled': view.currentPage === 1}">
        <a></a>
      </li>
      <li ng-repeat="page in view.pagesArray track by $index">
        <a ng-class="{'current': page === view.currentPage}" ng-click="goToPage(page)">
          {{page}}
        </a>
      </li>
      <li ng-click="goToPage(view.currentPage + 1)"
          ng-show="view.numberOfPages > 1" class="button"
          ng-class="{'disabled': view.currentPage === view.numberOfPages}">
        <a></a>
      </li>
    </ul>
  </nav>
</div>
