// Define the colors
@update-color: @leaf-medium;
@notice-color: @citrus-medium;
@alert-color: @cherry-heavy;

.event-card {
  border-bottom: 1px solid @mono-light;

  &.update {
    border-left: 1em solid @update-color;
  }
  &.notice {
    border-left: 1em solid @notice-color;
  }
  &.alert {
    border-left: 1em solid @alert-color;
  }
}

.aligned-right {
  text-align: right;
}

.radio-toggle-right {
  float: right !important;
  margin-top: 1em;
}

.alerts-column {
  margin-top: 0.5em;
  font-size: 20px;
}

.centered {
  text-align: center;
}

.update-color {
  color: @update-color;
}

.notice-color {
  color: @notice-color;
}

.alert-color {
  color: @alert-color;
}

.status {
  margin-top: -1em;
  margin-bottom: -0.5em;
  word-wrap: break-word;
}

.metadata {
  color: @mono-medium;
  margin-bottom: -1.25em;
}

.metadata-info {
  .centered;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-height: @line / @unitem;

  &.narrow {
    width: 5em;
  }
  &.medium {
    width: 9em;
  }
  &.wide {
    width: 12em;

  }
}

.right-border {
  border-right: 1px solid @mono-medium;
}

.boxed {
  border: 1px solid @mono-light;
  padding: 0.25em;
  border-radius: 0.25em;
  color: @mono-medium;
}

.page-selected {
  font-weight: bold;
  border-radius: 50%;
  padding-left: 5px;
  margin-right: 3px;
  padding-bottom: 2px;
  height: 1em;

  border: 1px solid;
  text-align: center;
}

.align-right {
  text-align: right;
}

.event-log-pagination {
  a {
    color: @mono-heavy;
    text-decoration: none;
  }

  nav[role="navigation"] {
    text-align: center;
  }

  .paginated-blocks {
    width: 90%;
    max-width: 768px;
    text-align: center;
    margin: 4em auto 4em;

    &.creatives-placement {
      text-align: left;
      margin: 0;
      padding-left: 0;

      a {
        font-size: 0.85rem;
        padding: .25em .8em;
      }
    }
  }

  .paginated-blocks li {
    display: inline-block;
    margin: 0 .2em;
  }

  .paginated-blocks li.button {
    display: inline-block;
  }

  .paginated-blocks a, .paginated-blocks span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .4em .8em;
    font-size: 1.1rem;
  }

  .paginated-blocks a {
    border: 1px solid @mono-light;
    border-radius: 0.25em;
  }

  .paginated-blocks a:hover {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  .paginated-blocks a:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }

  .paginated-blocks a.disabled {
    color: rgba(46, 64, 87, 0.4);
    pointer-events: none;
  }

  .paginated-blocks a.disabled::before, .paginated-blocks a.disabled::after {
    opacity: .4;
  }

  .paginated-blocks .button:first-of-type a::before {
    font-family: FontAwesome;
    content: '\f104 ';
  }

  .paginated-blocks .button:last-of-type a::after {
    font-family: FontAwesome;
    content: ' \f105';
  }

  .paginated-blocks .current {
    background-color: @nature-heavy;
    border-color: @nature-heavy;
    color: @white;
    pointer-events: none;
  }
}

.week-dropdown {
  margin-top: 1em;
  float: right;


  @media screen and (max-width: 1300px) {
    fs-select {
      font-size: 13px;
    }
    margin-top: 1.1em;
  }

  @media screen and (max-width: 1200px) {
    fs-select {
      font-size: 11.5px;
    }
    margin-top: 1.25em;
  }

  @media screen and (min-width: 991px) and (max-width: 1041px) {
    min-width: 8em;
  }
  @media screen and (max-width: 991px) {
    min-width: 9em;
  }
}

.event-log-header {
  @media screen and (max-width: 991px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.week-and-sort-by {
  @media screen and (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }
}