<div class="col-md-23">
    <!------------------------ TOP ROW ------------------------>
    <div class="row content event-log-header">
        <div class="col-md-7">
            <h3><strong ng-if="view.numberOfLiveCampaigns <= 1">{{ 'label.eventLog.LiveCampaign' | translate }}: <span class="boxed">{{view.numberOfLiveCampaigns}}</span></strong></h3>
            <h3><strong ng-if="view.numberOfLiveCampaigns > 1">{{ 'label.eventLog.LiveCampaigns' | translate }}: <span class="boxed">{{view.numberOfLiveCampaigns}}</span></strong></h3>
        </div>
        <div class="col-md-7 centered alerts-column">
            <div class="col-md-8 inline-block">
                <div class="alert-color">{{view.priorityCount[3]}}</div>
                {{ 'label.eventLog.Alert' | translate }}
            </div>
            <div class="col-md-8 inline-block">
                <div class="notice-color">{{view.priorityCount[2]}}</div>
                {{ 'label.eventLog.Notice' | translate }}
            </div>
            <div class="col-md-8 inline-block">
                <div class="update-color">{{view.priorityCount[1]}}</div>
                {{ 'label.eventLog.Update' | translate }}
            </div>
        </div>
        <div class="week-and-sort-by">
            <div class="col-md-4 week-dropdown">
                <fs-select name=""
                           id="project"
                           ng-model="view.selectedWeek"
                           ng-change="onWeekChange()"
                           fs-options="week.value as week.display for week in view.weeks">
                </fs-select>
            </div>
            <div class="col-md-6">
                <fs-radio-toggle class="radio-toggle-right"
                                 ng-model="view.eventsSortedBy"
                                 option1="view.sortEventsBy.option1"
                                 option2="view.sortEventsBy.option2">
                </fs-radio-toggle>
            </div>
        </div>

    </div>
    <!------------------------ END TOP ROW ------------------------>
    <!------------------------ EVENTS ROWS ------------------------>
    <div class="row content event-card"
         ng-repeat="event in view.events"
         ng-class="{'update': event.priorityColor === 'update-color', 'notice': event.priorityColor === 'notice-color','alert': event.priorityColor === 'alert-color', 'pointer': event.section || event.externalLink }"
         ng-click="handleClickOnEvent(event)">

        <div class="col-md-24 status">
            <h3>{{event.message.preStatus}} <span ng-class="event.priorityColor">{{event.message.status}}</span> {{event.message.postStatus}}
                <span ng-if="event.error" class="error-message">
                    <i class="fa fa-warning"></i> ({{ 'label.eventLog.Clickheretoviewerrors' | translate }})
                </span>
            </h3>
        </div>
        <div class="col-md-24 aligned-right metadata">
            <span class="metadata-info right-border wide"> {{event.createdTime | date:'MMMM d'}} at {{event.createdTime | date:'h:mma' | lowercase}}</span>
            <span class="metadata-info right-border medium" title="{{event.projectName}}">{{event.projectName}} </span>
            <span class="metadata-info medium" ng-class="{'border-left': !event.projectName}" title="{{event.username}}">{{event.username}}</span>
        </div>
    </div>
    <!------------------------ END EVENTS ROWS ------------------------>
    <!------------------------ PAGINATION ROW ------------------------>
    <div class="event-log-pagination bottom" ng-include="'app/main/eventLog/eventLogPagination.html'"></div>
    <!------------------------ END PAGINATION ROW ------------------------>
</div>
