<div class="row">
  <form name="form" id="appForm" novalidate>
    <div class="col-md-24">
      <div class="row">
        <!-- 1st step-->
        <div class="col-md-1">
          <div class="number-bubble"
               ng-class="{'completed': app.name.length > 1}">
            1
          </div>
        </div>
        <div class="col-md-23">
          <fs-radio-toggle
              class="margin-top-025-"
              ng-model="view.facebook.newOrExistingApp"
              option1="view.newExisitingAppRadioToggle.option1"
              option2="view.newExisitingAppRadioToggle.option2"
              ng-change="getExistingApps(view.facebook.newOrExistingApp)"
              >
          </fs-radio-toggle>
        </div>
      </div>

      <div class="row margin-top-1">
        <div class="col-md-12">
          <input
              type="text"
              class="form-control"
              ng-model="app.name"
              placeholder="Name your app"
              ng-required="view.facebook.newOrExistingApp === 'new'"
              ng-show="view.facebook.newOrExistingApp === 'new'"
              />

          <div class="fs-dropdown default" ng-show="view.facebook.newOrExistingApp === 'existing'">
            <div class="fs-dropdown-link" on-state="click">
              <i class="fa fa-caret-down"></i>
              <span class="ng-binding">{{ app.name }}</span>
            </div>
            <ul class="fs-dropdown-menu">
              <li ng-repeat="app in view.existingApps" ng-click="chooseExistApp(app)">{{ app.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End 1st step-->

    <!-- 2nd Step-->
    <div class="row" ng-if="app.name.length > 1">
      <div class="col-md-16 margin-top-1">
        <div class="number-bubble"
             ng-class="{'completed': facebookApp.name}">
          2
        </div>
        <div>
          {{ 'label.align.appManagement.Selectoneormoreapptypes' | translate }}
        </div>
        <div class="row">
          <div class="col-md-8 app-channel-container">
            <div class="text-center">
              {{ 'label.align.appManagement.AppsregisteredonFacebook' | translate }}
              <strong class="text-error" ng-if="!hasFbAccount">({{ 'label.align.appManagement.notavailable' |
                translate }})</strong>
            </div>
            <div>
              <div class="col-md-12 text-center">
                <div><i class="fa fa-apple"></i></div>
                <div>iOS</div>
              </div>
              <div class="col-md-12 text-center">
                <div><i class="fa fa-android"></i></div>
                <div>Android</div>
              </div>
            </div>
            <div class="text-center">
              <input type="checkbox" ng-model="view.facebook.selected" id="facebook-app"
                     ng-disabled="view.facebook.disabled"/>
              <label for="facebook-app">
                {{view.facebook.selected && view.facebook.disabled ? ('label.align.appManagement.alreadyadded' |
                translate) : ''}}
              </label>
            </div>
          </div>

          <div class="col-md-12 app-channel-container" ng-if="false">
            <div class="text-center">
              {{ 'label.align.appManagement.AppstoadvertiseonTwitter' | translate }}
              <strong class="text-error" ng-if="!hasTwAccount">({{ 'label.align.appManagement.notavailable' |
                translate }})</strong>
            </div>
            <div>
              <div class="col-md-8 text-center">
                <div><i class="fa fa-apple"></i></div>
                <div>iPhone</div>
                <div>
                  <input type="checkbox" ng-model="view.twitter.iphone.selected" id="twitter-app-iphone"
                         ng-disabled="view.twitter.iphone.disabled"/>
                  <label for="twitter-app-iphone">
                    {{view.twitter.iphone.selected && view.twitter.iphone.disabled ? 'already added' : ''}}
                  </label>
                </div>
              </div>
              <div class="col-md-8 text-center">
                <div><i class="fa fa-apple"></i></div>
                <div>iPad</div>
                <div>
                  <input type="checkbox" ng-model="view.twitter.ipad.selected" id="twitter-app-ipad"
                         ng-disabled="view.twitter.ipad.disabled"/>
                  <label for="twitter-app-ipad">
                    {{view.twitter.ipad.selected && view.twitter.ipad.disabled ? 'already added' : ''}}
                  </label></div>
              </div>
              <div class="col-md-8 text-center">
                <div><i class="fa fa-android"></i></div>
                <div>Android</div>
                <div>
                  <input type="checkbox" ng-model="view.twitter.android.selected" id="twitter-app-android"
                         ng-disabled="view.twitter.android.disabled"/>
                  <label for="twitter-app-android">
                    {{view.twitter.android.selected && view.twitter.android.disabled ? 'already added' : ''}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 margin-top-1" ng-show="app.facebook.isValid">
        {{ 'label.align.appManagement.name' | translate }}: {{app.facebook.details.name}}
      </div>
    </div>
    <!--  End 2nd step-->

    <!-- 3rd step -->
    <div class="row margin-top-1"
         ng-if="view.facebook.selected || view.twitter.android.selected || view.twitter.iphone.selected || view.twitter.ipad.selected">
      <div class="col-md-1">
        <div class="number-bubble">
          3
        </div>
      </div>
      <div class="col-md-11">
        <div
            ng-show="view.facebook.selected || view.twitter.android.selected || view.twitter.iphone.selected || view.twitter.ipad.selected">
          <input
              type="text"
              class="form-control"
              ng-model="app.facebook.facebookApp.appId"
              placeholder="Paste Facebook App ID here"
              fs-focus-input="true"
              ng-required="app.facebook.facebookApp.name"
              ng-show="view.facebook.selected && !view.facebook.disabled">
          </input>

        </div>

        <div ng-if="view.twitter.android.selected || view.twitter.iphone.selected || view.twitter.ipad.selected">
          <!--Dropdown for AdAcount -->
          {{ 'label.align.appManagement.ChooseAdAccount' | translate }}
          <div class="fs-dropdown default">
            <div class="fs-dropdown-link" on-state="click">
              <i class="fa fa-caret-down"></i>
              <span class="ng-binding">{{ app.twitter.twitterApp.accountName }}</span>
            </div>
            <ul class="fs-dropdown-menu">
              <li ng-repeat="account in twAdAccounts" ng-click="chooseAdAcount(account)">{{ account.name }}</li>
            </ul>
          </div>
        </div>

        <!-- Select Country -->
        <div class="row"
             ng-if="!app.twitter.twitterApp.id && (view.twitter.android.selected || view.twitter.iphone.selected || view.twitter.ipad.selected)">
          <div>
            {{ 'label.align.appManagement.Country' | translate }} {{country}}
          </div>

          <div ng-atp="app.twitter.twitterApp.country" ng-atp-config="twCountryAtpConfig">
            <input
                id="country_value"
                placeholder="Search for countries and select from drop menu"
                ng-atp-input
                type="text"
                class="form-control form-control-small"
                />
            <ul ng-atp-suggestions></ul>
          </div>
        </div>


        <!-- iPhone App -->
        <div class="row" ng-show="view.twitter.iphone.selected">
          <div class="">
            {{ 'label.align.appManagement.EntertheiPhoneAppStoreURL' | translate }}
          </div>
          <input
              ng-show="!view.twitter.iphone.disabled"
              type="text"
              class="form-control"
              ng-model="app.twitter.twitterApp.iphoneAppId"
              ng-disabled="view.twitter.iphone.disabled"/>
          <input
              ng-show="view.twitter.iphone.disabled"
              type="text"
              class="form-control"
              ng-model="app.twitter.twitterApp.iphoneAppUrl"
              ng-disabled="view.twitter.iphone.disabled"/>
        </div>

        <!-- iPad App -->
        <div class="row" ng-show="view.twitter.ipad.selected">
          <div class="">
            {{ 'label.align.appManagement.EntertheiPadAppStoreURL' | translate }}
          </div>
          <input
              ng-show="!view.twitter.ipad.disabled"
              type="text"
              class="form-control"
              ng-model="app.twitter.twitterApp.ipadAppId"
              ng-disabled="view.twitter.ipad.disabled"
              />
          <input
              ng-show="view.twitter.ipad.disabled"
              type="text"
              class="form-control"
              ng-model="app.twitter.twitterApp.ipadAppUrl"
              ng-disabled="view.twitter.ipad.disabled"/>


        </div>

        <!-- Android app -->
        <div class="row" ng-show="view.twitter.android.selected">
          <div class="">
            {{ 'label.align.appManagement.EntertheGooglePlayAppStoreURL' | translate }}
          </div>
          <input
              ng-show="!view.twitter.android.disabled"
              type="text"
              class="form-control"
              ng-model="app.twitter.twitterApp.googleplayAppId"
              ng-disabled="view.twitter.android.disabled"/>
          <input
              ng-show="view.twitter.android.disabled"
              type="text"
              class="form-control"
              ng-model="app.twitter.twitterApp.googleplayAppUrl"
              ng-disabled="view.twitter.android.disabled"/>
        </div>

      </div>
    </div>
    <!-- End 3rd step -->

    <div class="col-md-16 col-md-offset-4 margin-top-2">
      <button type="button" class="btn btn-solid btn-outline full-width" ng-click="registerApp()">
        {{ 'label.align.appManagement.SaveMobileApp' | translate }}
      </button>
    </div>
  </form>
</div>





