<div class="row">
    <div class="col-md-6">
        <div class="fs-dropdown default">
            <div class="fs-dropdown-link" on-state="click" >
                <i class="fa fa-caret-down pull-right"></i>
                <Span>{{ filterMovement.value ? filterMovement.value : 'label.act.ChooseProject' | translate }}</span>
            </div>
            <ul class="fs-dropdown-menu">
                <li ng-repeat="opt in filterMovement.options" ng-click="filterMovement.value = opt">
                    {{ opt }}
                </li>
            </ul>
        </div>
    </div><!-- endo of col-md-4 -->

  <div class="col-md-6">
    <div class="fs-dropdown default">
        <div class="fs-dropdown-link" on-state="click" >
            <i class="fa fa-caret-down pull-right"></i>
            <Span ng-show="!filterGoal.value">{{ 'label.act.ChooseGoal' | translate }}</span>
            <Span ng-hide="!filterGoal.value">{{ filterGoal.value.label }}</span>
        </div>
        <ul class="fs-dropdown-menu">
            <li ng-click="filterGoal.value = null">
              {{ 'label.act.AllGoals' | translate }}
            </li>
            <li ng-repeat="opt in filterGoal.options" ng-click="filterGoal.value = opt">
              {{ opt.label }}
            </li>
        </ul>
    </div>
  </div><!-- end of col-md-4 -->

  <div class="col-md-4 col-md-push-12">
  </div><!-- end of col-md-4 -->
</div>
