<div class="row">
   <div class="col-sm-24 col-md-6">
       <fs-select
         ng-change = "onProjectChange()"
         ng-model = "campaignProject.currentProject"
         fs-options = "project as project.name for project in projects"
         default-text= "{{'Filter By Project'}}"
         unselect="false"
       >
       </fs-select>
   </div>
   <div class="col-sm-24 col-md-6 col-md-push-12">
       <a ui-sref="main.act.campaignCreation" class="act-cm-newcampaign-label label label-solid pull-right-md">
         <i class="fa fa-plus-circle"></i>
         {{ 'label.act.CreateNewCampaign' | translate }}
       </a>
   </div>
</div>
<div class="row row-push-1">
  <div class="col-md-24">
    <fs-tabset>
      <fs-tab ng-repeat="category in categories track by category.key"
              ng-click="changeCategory(category.key)"
              class="nav-item"
              is-open="::category.key === currentCategory" >
        <tab-heading ng-class="{ 'italic' : category.key === 'DRAFTS'}">{{ category.label | translate }}</tab-heading>
      </fs-tab>
    </fs-tabset>
  </div>
</div>

 <div class="row">

   <div class="col-md-8">
     <div class="row">
       <div class="col-sm-12 col-md-8 col-lg-5 col-hg-4"><h4 class="base" style="padding-top: 0.375em">Sort By</h4></div>
       <div class="col-sm-12 col-md-16 col-lg-19 col-hg-20">
         <fs-radio-toggle ng-model="sort.mode" option1="sortingModes.chronological" option2="sortingModes.name" ng-change="updateSort()"></fs-radio-toggle>
       </div>
     </div>
     <div class="clear-fix"></div>
   </div>

   <div class="col-md-24 row-pull-1">
     <div class="act-cm-nocampaign" ng-show="!((campaigns | filter: filterCampaignByProject | filter: filterCampaignByTab | filter: filterCampaignByNotHidden).length)">
       <span>{{ transitioning ? 'Loading campaigns...' : 'You have no campaigns of this category.' }}</span>
     </div>
     <div ng-repeat="campaign in campaigns | filter: filterCampaignByTab | filter: filterCampaignByNotHidden | limitTo: paging.limit track by campaign.superId" 
        class="row-push-1" 
        ng-class="{ editable : campaign.status !== 'draft' && campaign.status !== 'failed' && campaign.status !== 'pending', 'campaign-animate': true }"
        ng-click="campaign.status !== 'draft' && campaign.status !== 'failed' && campaign.status !== 'pending' && viewCampaign(campaign.superId)"
        ng-include="'app/main/act/campaignManager/templates/singleCampaignTable.html'"></div>
   </div>
   <div class="col-md-24">
      <ul class="dg-pagination pull-right">
        <li ng-click="loadPrevPage()" class="active" ng-show="paging.hasPrev()">
          <span><i class="fa fa-caret-left"></i> Previous Page</span>
        </li>
        <li ng-click="loadNextPage(paging.offset + paging.limit)" 
            class="spaced"
            ng-class="{ 'active': !pagin.busy, 'disabled': paging.busy }"
            ng-show="paging.hasNext === true">
          <span>Next Page 
            <b class="fa fa-spinner fa-spin" ng-show="paging.busy"></b>
            <i ng-show="!paging.busy" class="fa fa-caret-right"></i></span>
        </li>
      </ul>
   </div>
 </div><!-- end of inner row -->
