<div class="row">
  <div class="col-md-8">
    <daterange-picker class="campaign-daterangepicker" options="daterangePickerOptions" ng-model="currentRangeSetting.range" ng-change="updateTimeRange(currentRangeSetting)">
    </daterange-picker>
  </div>

</div>
