<div class="project-report-section" ng-if="campaign.tsCampaignStats && campaign.tsCampaignStats.impressions.length > 0">
<!-- all charts -->
<div class="row">
  <div class="col-md-8">
    <daterange-picker class="campaign-manager-daterangepicker" options="daterangePickerOptions" ng-model="currentRangeSetting.range" ng-change="updateTimeRange(currentRangeSetting)">
    </daterange-picker>
  </div>
</div>
<div class="act-cm-bordered-x row-push-1">
<div ng-show="metricsView.current === 'ctr'">
  <fs-vis-multiseries data='metricsView.getChartData("ctr")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'ctr'" 
    fs-vis-config 
    chart-title = "'Click Through Rate'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatRate" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-10">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-14">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('ctr') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('ctr') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('ctr'),
                           'disabled' : metricsView.isNormalizeDisabled('ctr')  }">
            <input type="checkbox" id="norm_ctr" 
                   ng-model="norm_ctr"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('ctr'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('ctr')" />
            <label for="norm_ctr"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-multiseries>
</div>
<div ng-show="metricsView.current === 'cvr'">
  <fs-vis-multiseries data='metricsView.getChartData("cvr")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'cvr'" 
    fs-vis-config 
    chart-title = "'Conversion Rate'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatRate" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-16">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('cvr') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('cvr') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('cvr'),
                           'disabled' : metricsView.isNormalizeDisabled('cvr')  }">
            <input type="checkbox" id="norm_cvr" 
                   ng-model="norm_cvr"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('cvr'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('cvr')" />
            <label for="norm_cvr"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-multiseries>
</div>
<div ng-show="metricsView.current === 'cpc'">
  <fs-vis-multiseries data='metricsView.getChartData("cpc")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'cpc'" 
    fs-vis-config 
    chart-title = "'Cost Per Click'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatCurrency" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-16">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('cpc') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('cpc') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('cpc'),
                           'disabled' : metricsView.isNormalizeDisabled('cpc')  }">
            <input type="checkbox" id="norm_cpc" 
                   ng-model="norm_cpc"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('cpc'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('cpc')" />
            <label for="norm_cpc"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-multiseries>
</div>
<div ng-show="metricsView.current === 'cpm'">
  <fs-vis-multiseries data='metricsView.getChartData("cpm")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'cpm'" 
    fs-vis-config 
    chart-title = "'Click Per Thousand Impressions'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatCurrency" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-16">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('cpm') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('cpm') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('cpm'),
                           'disabled' : metricsView.isNormalizeDisabled('cpm')  }">
            <input type="checkbox" id="norm_cpm" 
                   ng-model="norm_cpm"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('cpm'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('cpm')" />
            <label for="norm_cpm"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-multiseries>
</div>
<div ng-show="metricsView.current === 'cpa'">
  <fs-vis-multiseries data='metricsView.getChartData("cpa")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'cpa'" 
    fs-vis-config 
    chart-title = "'Cost Per Action'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatCurrency" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-16">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('cpa') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('cpa') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('cpa'),
                           'disabled' : metricsView.isNormalizeDisabled('cpa')  }">
            <input type="checkbox" id="norm_cpa" 
                   ng-model="norm_cpa"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('cpa'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('cpa')" />
            <label for="norm_cpa"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-multiseries>
</div>
<div ng-show="metricsView.current === 'roas'" ng-if="campaign.optimizeForRoas">
  <fs-vis-multiseries data='metricsView.getChartData("roas")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'roas'" 
    fs-vis-config 
    chart-title = "'Return on Ad Spend'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatRate" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-16">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('roas') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('roas') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('roas'),
                           'disabled' : metricsView.isNormalizeDisabled('roas')  }">
            <input type="checkbox" id="norm_roas" 
                   ng-model="norm_roas"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('roas'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('roas')" />
            <label for="norm_roas"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-multiseries>
</div>
<div ng-show="metricsView.current === 'impressions'"> 
  <fs-vis-stacked data='metricsView.getChartData("impressions")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'impressions'" 
    fs-vis-config 
    chart-title = "'Impressions'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    stack-mode="'STACK_ZERO'"
    value-fields="channelIds"  
    y-format = "formatVolume" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-10">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-14">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('impressions') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('impressions') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('impressions'),
                           'disabled' : metricsView.isNormalizeDisabled('impressions')  }">
            <input type="checkbox" id="norm_impressions" 
                   ng-model="norm_impressions"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('impressions'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('impressions')" />
            <label for="norm_impressions"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-stacked>
</div>
<div ng-show="metricsView.current === 'clicks'"> 
  <fs-vis-stacked data='metricsView.getChartData("clicks")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'clicks'" 
    fs-vis-config 
    chart-title = "'clicks'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    stack-mode="'STACK_ZERO'"
    y-format = "formatVolume" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-10">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-14">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('clicks') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('clicks') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('clicks'),
                           'disabled' : metricsView.isNormalizeDisabled('clicks')  }">
            <input type="checkbox" id="norm_clicks" 
                   ng-model="norm_clicks"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('clicks'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('clicks')" />
            <label for="norm_clicks"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-stacked>
</div>
<div ng-show="metricsView.current === 'conversions'"> 
  <fs-vis-stacked data='metricsView.getChartData("conversions")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'conversions'" 
    fs-vis-config 
    chart-title = "'conversions'"  
    labels = "channelLabels" 
    stack-mode="'STACK_ZERO'"
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatVolume" 
    time-field="'date'">
    <div class="row">
      <div class="col-md-10">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-14">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('conversions') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('conversions') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('conversions'),
                           'disabled' : metricsView.isNormalizeDisabled('conversions')  }">
            <input type="checkbox" id="norm_conversions" 
                   ng-model="norm_conversions"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('conversions'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('conversions')" />
            <label for="norm_conversions"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-stacked>
</div>
<div ng-show="metricsView.current === 'value'" ng-if="campaign.optimizeForRoas"> 
  <fs-vis-stacked data='metricsView.getChartData("value")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'value'" 
    fs-vis-config 
    chart-title = "'value'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatVolume" 
    stack-mode="'STACK_ZERO'"
    time-field="'date'">
    <div class="row">
      <div class="col-md-16">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('value') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('value') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('value'),
                           'disabled' : metricsView.isNormalizeDisabled('value')  }">
            <input type="checkbox" id="norm_value" 
                   ng-model="norm_value"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('value'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('value')" />
            <label for="norm_value"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-stacked>
</div>
<div ng-show="metricsView.current === 'spent'"> 
  <fs-vis-stacked data='metricsView.getChartData("spent")' 
    time-range = "currentRangeSetting.range"  
    transition="metricsView.current === 'spent'" 
    fs-vis-config 
    chart-title = "'spent'"  
    labels = "channelLabels" 
    colors = "channelColors" 
    value-fields="channelIds"  
    y-format = "formatCurrency" 
    stack-mode="'STACK_ZERO'"
    time-field="'date'">
    <div class="row">
      <div class="col-md-10">
        <div class="chart-legend">
          <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData">
            <div class="inline-block legend-label trim-top" style="color: {{ series.color }}">
              <div class="inline-block" line-chart-legend color="series.color"></div>
              {{ series.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-14">
        <div class="btn-group pull-right">
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : metricsView.isCumulative('spent') }" ng-click="metricsView.toggleCumulative(true, actionCreator)">
            <i class="fs-icon chart-line-overlap"></i> Cumulative
          </button>
          <button class="btn btn-solid" ng-class="{ 'btn-primary' : !metricsView.isCumulative('spent') }" ng-click="metricsView.toggleCumulative(false, actionCreator)">
            <i class="fs-icon chart-line-stack"></i> Timeseries
          </button>
          <div class="btn btn-solid inline-block" 
               ng-class="{ 'btn-outline': metricsView.isNormalized('spent'),
                           'disabled' : metricsView.isNormalizeDisabled('spent')  }">
            <input type="checkbox" id="norm_spent" 
                   ng-model="norm_spent"
                   ng-change="metricsView.toggleNormalize(!metricsView.isNormalized('spent'), actionCreator)"
                   ng-disabled="metricsView.isNormalizeDisabled('spent')" />
            <label for="norm_spent"> 
              <span>Normalize</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fs-vis-stacked>
</div>
<!-- bordered container -->
</div>
</div>

