<form name="campaignCsvConfig" ng-submit="campaignCsvConfig.$valid && download()" novalidate>
<div class="modal-header audience-modal-header">
  <h3>{{ 'label.act.DownloadCSV' | translate }}</h3>
</div>

<div class="modal-body">
  <div class="row form-group">
    <div class="col-md-8 col-lg-6 text-right">
      <b>{{ 'label.act.Name' | translate }}</b>
    </div>
    <div class="col-md-16 col-lg-18">
      <input type="text" 
             name="reportName"
             ng-model="csv.config.reportName"
             placeholder="Report Name" 
             required
             class="form-control capped-input"/>
    </div>
  </div><!-- end of name row -->
  <div class="row form-group">
    <div class="col-md-8 col-lg-6 text-right">
      <b>{{ 'label.act.DateRange' | translate }}</b>
    </div>
    <div class="col-md-16 col-lg-18">
      <daterange-picker class="project-report-daterangepicker capped-input" options="csv.daterangePickerOpts" ng-model="csv.config.dateRange" ng-required="true" name="dates"> 
      </daterange-picker>
    </div>
  </div><!-- end of dates row -->
  <div class="row form-group">
    <div class="col-md-8 col-lg-6 text-right">
      <b>{{ 'label.act.ReportOnChannels' | translate }}</b>
    </div>
    <div class="col-md-16 col-lg-18">
      <div ng-repeat="r in csv.config.reports track by r.index">
        <input type="checkbox" 
               ng-model="csv.config.reports[$index].checked" 
               id="csv-type-{{ $index}}" 
               ng-required="csv.noTypeChecked()"
               name="type-{{ $index }}"/>
        <label for="csv-type-{{ $index}}">{{ csv.reportTypes[$index].label | translate }}</label>
      </div>
    </div>
  </div><!-- end of interval row -->
  <div class="row form-group">
    <div class="col-md-8 col-lg-6 text-right">
      <b>{{ 'label.act.BreakdownBy' | translate }}</b>
    </div>
    <div class="col-md-16 col-lg-18">
      <div ng-repeat="interval in csv.intervalOpts">
        <input type="radio" ng-model="csv.config.interval" id="csv-interval-{{ $index}}" name="interval" value="{{ interval.key }}"/>
        <label for="csv-interval-{{$index}}">{{ interval.label | translate }}</label>
      </div>
    </div>
  </div><!-- end of interval row -->


  <div class="row">
    <div class="col-md-24 text-right">
      <input type="submit" 
             class="btn-solid btn-primary" 
             ng-class="{ disabled: !campaignCsvConfig.$valid }"
             value="{{ 'label.act.DownloadCSV' | translate }}" />
    </div>
  </div>
</div>
</form>
