<div ui-view="test"></div>
<div class="row">
  <div class="col-md-24">
     <div class="row">
       <div class="col-md-12">
         <a ui-sref="main.act.campaignManager.home" ui-sref-opts="reloadConfig" class="act-cm-backtocampaigns">
          <iconic data-src="chevron" data-direction="left" class="iconic-sm"></iconic>
          {{ 'label.act.BackToAllCampaigns' | translate }}
         </a>
       </div>
       <div class="col-md-12">
       </div>
     </div>
     <div>
       <div class="row">
         <div class="col-md-24 act-cm-campaigns-list">
            <div ng-include="'app/main/act/campaignManager/templates/singleCampaignTable.html'"></div>
         </div>
       </div><!-- end of campaign stats table row -->
       <div class="row row-push-1" ng-if="campaign.tsCampaignStats">
         <div class="col-md-24">
           <div ui-view="charts"></div>
         </div>
       </div><!-- end ts chart row -->
     </div>
     <div ui-view="subcampaigns" class="row row-push-1">
     </div><!-- end ts subcampaign table row -->
  </div>
</div>

