<div class="row">
  <div class="col-md-24">
     <div>
       <a ui-sref="main.act.campaignManager.home.single({ filter:category, superId : superCampaign.superId })" class="act-cm-backtocampaigns">
        <iconic data-src="chevron" data-direction="left" class="iconic-sm"></iconic>
        {{ 'label.act.BackToCampaign' | translate }}
      </a>
     </div>
     <div>
       <div class="row">
         <div class="col-md-24 act-cm-campaigns-list">
            <div ng-include="'app/main/act/campaignManager/templates/singleCampaignTable.html'"></div>
         </div>
       </div><!-- end of campaign stats table row -->
       <div class="row" ng-if="campaign.tsCampaignStats">
         <div class="col-md-24">
           <div ui-view="charts"></div>
         </div>
       </div><!-- end ts chart row -->
     </div>
  </div>
</div>

<div class="row row-push-1" ui-view="ad">
</div>

