<div class="generic-confirm">
  <h3> 
    <i class="fa fa-warning"></i>
    Warning
  </h3>
  <div class="fs-confirm-body">
    Are you sure you want to stop this campaign? This cannot be undone.
    <br />
    While Accomplice is stopping the campaign native platform behavior may vary:
    <ul>
      <li>Facebook: Ads can be found under "Manage Ads> Delivery> Filter> Delivery> Deleted"</li>
      <li>Twitter: Ads can be found under "Campaigns> filter by> Deleted Campaigns" option</li>
      <li>Adwords: Ads can be found under "Campaigns> All Campaigns" option</li>
    </ul>
    Stopped campaigns will be found under the Past tab.
  </div>
  <div class="fs-confirm-footer">
    <button class="no btn-solid btn-tertiary btn-fix-width" fs-deny>No</button>
    <button class="yes btn-solid btn-primary btn-fix-width" fs-confirm>Yes</button>
  </div>
</div>
