<div class="modal-header">
  <h2>{{'label.act.ManageBudget&Duration' | translate}}</h2>
</div>
<form name="form.editBudgetAndDate" id="editBudgetAndDateForm" novalidate>
  <div class="modal-container">
    <h3>{{'label.act.IncreaseBudget' | translate}}</h3>
    <!-- Cross Channel Budget -->
    <div ng-show="campaign.budgetPolicy === 'FLOATING'">
      <div class="row centered">
        <div class="col-md-6">
          <h4>{{'label.act.CampaignBudget' | translate}}</h4>
          <b>{{campaign.budget}}</b>
        </div>
        <div class="col-md-6">
          <h4>{{'label.act.TotalSpent' | translate}}</h4>
          <b>{{campaign.campaignStats.spent[0].super}}</b>
        </div>
        <div class="col-md-6">
          <h4>{{'label.act.IncreaseBudgetBy' | translate}}</h4>
          <input
              type="number"
              name="budget"
              ng-model="campaignInfo.budgetIncrease"
              min="0"
              class="form-control budget-input"
              ng-pattern="view.numberWithUpToTwoDecimals">
          <div class="error-message" ng-show="!form.editBudgetAndDate.budget.$error.number && !form.editBudgetAndDate.budget.$error.min && form.editBudgetAndDate.budget.$error.pattern"> {{'label.act.numberErrorDecimalsMessage' | translate}}</div>
          <div ng-messages="form.editBudgetAndDate.budget.$error" ng-messages-include="campaign-extension-messages"></div>
        </div>
        <div class="col-md-6">
          <h4>{{'label.act.NewTotalBudget' | translate}}</h4>
          <b>{{campaign.budget + campaignInfo.budgetIncrease | number:2}}</b>
        </div>
      </div>
    </div>
        <!-- Facebook-->
    <div class="row centered" ng-show="campaign.budgetPolicy === 'FIXED' && !!campaignInfo.channels.facebook">
      <div class="col-md-1">
        <span class="fa fa-facebook post-success-facebook-icon"></span>
      </div>
      <div class="col-md-5">
        <h4>Facebook {{'label.act.budget' | translate}}</h4>
        <b>{{campaign.budgetPerChannel.facebook}}</b>
      </div>
      <div class="col-md-6">
        <h4>Facebook {{'label.act.spent' | translate}}</h4>
        <b>{{campaign.campaignStats.spent[0].facebook}}</b>
      </div>
      <div class="col-md-6">
        <h4>{{'label.act.IncreaseBudgetBy' | translate }}</h4>
        <input
            type="number"
            name="fbBudget"
            ng-model="campaignInfo.channels.facebook.budgetIncrease"
            min="0"
            class="form-control budget-input"
            ng-pattern="view.numberWithUpToTwoDecimals">
        <div class="error-message" ng-show="form.editBudgetAndDate.fbBudget.$error.pattern"> {{'label.act.numberErrorDecimalsMessage' | translate}}</div>
      </div>
      <div class="col-md-6">
        <h4>{{'label.act.NewTotalBudget' | translate}}</h4>
        <b>{{campaign.budgetPerChannel.facebook + campaignInfo.channels.facebook.budgetIncrease | number:2}}</b>
      </div>
    </div>
        <!-- End Facebook-->
        <!-- Adwords -->
    <div class="row centered" ng-show="campaign.budgetPolicy === 'FIXED' && !!campaignInfo.channels.adwords">
      <div class="col-md-1">
        <span class="adwords-logo"></span>
      </div>
      <div class="col-md-5">
        <h4>Adwords {{'label.act.budget' | translate}}</h4>
        <b>{{campaign.budgetPerChannel.adwords}}</b>
      </div>
      <div class="col-md-6">
        <h4>Adwords {{'label.act.spent' | translate}}</h4>
        <b>{{campaign.campaignStats.spent[0].adwords}}</b>
      </div>
      <div class="col-md-6">
        <h4>{{'label.act.IncreaseBudgetBy' | translate }}</h4>
        <input
            type="number"
            name="awBudget"
            ng-model="campaignInfo.channels.adwords.budgetIncrease"
            min="0"
            class="form-control budget-input"
            ng-pattern="view.numberWithUpToTwoDecimals">
        <div class="error-message" ng-show="form.editBudgetAndDate.awBudget.$error.pattern"> {{'label.act.numberErrorDecimalsMessage' | translate}}</div>
      </div>
      <div class="col-md-6">
        <h4>{{'label.act.NewTotalBudget' | translate}}</h4>
        <b>{{campaign.budgetPerChannel.adwords + campaignInfo.channels.adwords.budgetIncrease | number:2 }}</b>
      </div>
    </div>
        <!-- End Adwords-->
        <!-- Twitter -->
    <div class="row centered" ng-show="campaign.budgetPolicy === 'FIXED' && !!campaignInfo.channels.twitter">
      <div class="col-md-1">
        <span class="fa fa-twitter post-success-twitter-icon"></span>
      </div>
      <div class="col-md-5">
        <h4>Twitter {{'label.act.budget' | translate}}</h4>
        <b>{{campaign.budgetPerChannel.twitter}}</b>
      </div>
      <div class="col-md-6">
        <h4>Twitter {{'label.act.spent' | translate}}</h4>
        <b>{{campaign.campaignStats.spent[0].twitter}}</b>
      </div>
      <div class="col-md-6">
        <h4>{{'label.act.IncreaseBudgetBy' | translate }}</h4>
        <input
            type="number"
            name="twBudget"
            ng-model="campaignInfo.channels.twitter.budgetIncrease"
            min="0"
            class="form-control budget-input"
            ng-pattern="view.numberWithUpToTwoDecimals">
        <div class="error-message" ng-show="form.editBudgetAndDate.twBudget.$error.pattern"> {{'label.act.numberErrorDecimalsMessage' | translate}}</div>
      </div>
      <div class="col-md-6">
        <h4>{{'label.act.NewTotalBudget' | translate}}</h4>
        <b>{{campaign.budgetPerChannel.twitter + campaignInfo.channels.twitter.budgetIncrease | number:2 }}</b>
      </div>
    </div>
        <!-- End Twitter-->
    <!-- End Multi Channel Budget-->

    <!-- Dates -->
    <hr class="margin-top-2">
    <h3>{{'label.act.ChangeEndDate' | translate}}</h3>

    <div class="row">
      <div class="col-md-12">
        <h4>{{'label.act.CurrentDuration' | translate}}</h4>
        <strong>{{ campaign.startDate | metricDatetime }} - {{ campaign.endDate | metricDatetime }}</strong>
      </div>

      <div class="col-md-12">
        <h4>{{'label.act.NewEndDate' | translate}}</h4>
        <daterange-picker class="" options="view.durationDateRangePickerOptions"
                          ng-change="commitCampaignDateRange(view.durationDateRangePickerModel)"
                          ng-model="view.durationDateRangePickerModel">
        </daterange-picker>
      </div>
    </div>
    <!-- End Dates-->

    <!-- Budget Recommendation -->
    <fs-budget-recommendation
        ng-show="budgetRecommendation.recommendationRequired"
        budget-policy="campaign.budgetPolicy"
        budget-recommendation="budgetRecommendation"
        currency="{{campaign.currency}}"
        apply-budget-recommendation="applyBudgetRecommendation(type)">
    </fs-budget-recommendation>
    <!-- End Budget Recommendation -->

    <div class="margin-bottom-1-"></div>

  </div>
  <!-- Footer -->
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-24 text-right">
        <button type="button"
                ng-disabled="view.saveButtonDisabled"
                ng-click="saveNewBudgetAndDateButton(form.editBudgetAndDate)"
                class="btn btn-solid btn-primary">{{ 'label.act.Save' | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- End footer-->
</form>


<script type="text/ng-template" id="campaign-extension-messages" class="error-message">
  <div ng-message="number" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
  <div ng-message="min" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
</script>


