<table class="table act-cm-campaign-list status-active act-cm-bordered" 
       ng-class="{ 'remove-bottom' : campaign.status !== 'pending' && campaign.status !== 'draft' && (!metricsView || !campaign.tsCampaignStats), 
                   'draft': campaign.status === 'draft' || campaign.status === 'pending' }">
  <tbody>
    <tr class="">
      <td colspan="3">
        <span title="{{campaign.name}}">{{ ::campaign.name | stringLimiter:max:42}}</span>
      </td>
      <td colspan="4">
        <i class="fa fa-bullseye g1"></i><span class="small"> {{ ::campaign.goal }}</span>
      </td>
      <td colspan="1">
        <div class="btn-group">
          <a href="#" ui-sref="main.act.campaignCreation({ id: campaign.superId, type: 'duplicate'})" ng-show="false && selectMetric && campaign.type !== 'subcampaign'" class="btn btn-sm btn-default btn-primary">
            <i class="fa fa-copy"></i> {{ ::'label.act.Duplicate' | translate}}
          </a>
        </div>
      </td>
      <td colspan="1" class="text-right">
        <span class="status-pill {{ campaign.interimStatus || campaign.status | lowercase }}">{{ (campaign.interimStatus || campaign.status) | campaignStatus | translate }}</span>
      </td>
    </tr>
    <tr class="campaign-info">
      <td colspan="2">
        <h4>{{ ::'label.act.Duration' | translate }}</h4>
        <strong>{{ campaign.startDate | metricDatetime }} - {{ campaign.endDate | metricDatetime }}</strong>
      </td>
      <td colspan="1">
        <h4 class="cmp-budget">{{ ::'label.act.Budget' | translate }}
          <i class="fa"
             ng-class="{ 'fa-bell-o': !cpaAlert.show, 'fa-bell' : cpaAlert.show }"
             ng-show="hasCpaAlert"
             ng-mouseover="cpaAlert.show = true"
             ng-mouseout="cpaAlert.show = false"></i>
          <div class="cpa-limit-container" ng-show="cpaAlert.show">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-24">
                  <b>CPA Alert</b>
                </div>
              </div><!-- endof row -->
              <div class="row" ng-repeat="chan in campaign.channels">
                <div class="col-md-12">
                  <span style="color : {{ chan.brandColor }}">{{ chan.label | translate }}</span>
                </div>
                <div class="col-md-12">
                  <span>{{ campaign.cpaLimits[chan.id] | metricCurrency }}</span>
                </div>
              </div><!-- endof row -->
            </div>
          </div><!-- endof cpa limit -->
        </h4>
        <strong>{{ campaign.budget | currency }}</strong>
      </td>
      <td colspan="1">
        <div ng-if="campaign.type !== 'subcampaign'"><!-- TO-DO: check if it is subcampaign -->
          <!-- Sinan: Replaced Sub-Campaigns by Ads-->
          <h4>{{ ::'label.act.Ads' | translate }}</h4>
          <strong>{{ ::campaign.subCampaignCounts | metricVolume }}</strong>
        </div>
      </td>
      <td colspan="3">
        <div ng-if="true"><!-- TO-DO: check if it is subcampaign -->
          <h4>{{ ::'label.act.Channels' | translate }}</h4>
          <strong ng-repeat="chan in campaign.channels" class="fs-{{ ::chan.id }}">
            <i class="fa small fa-{{ ::chan.faClass }}" style="color: {{ ::chan.brandColor }}"></i>
            {{ ::chan.label | translate }}
          </strong>
        </div>
      </td>
      <td colspan="2" class="text-right">
        <div ng-hide="!campaign.isPausable()" class="inline-block">
          <div class="act-cm-action" ng-show="campaign.status !== 'paused'" ng-click="$event.stopPropagation();campaign.status !== 'stopped' && CampaignEntirety.pauseSuper(campaign)">
            <div class="status-action pause">
              <i class="fab fs-icon pause-line"></i>
              <b>{{ ::'label.act.Pause' | translate }}</b>
            </div>
          </div>
          <div class="act-cm-action" ng-show="campaign.status === 'paused'" ng-click="$event.stopPropagation();CampaignEntirety.resumeSuper(campaign)">
            <div class="status-action run">
              <i class="fab fs-icon play-line"></i>
              <b>{{ ::'label.act.Run' | translate }}</b>
            </div>
          </div>
        </div>
        <div ng-hide="campaign.status === 'stopped' || !campaign.isStoppable()" class="inline-block">
          <div class="act-cm-action">
            <div class="status-action stop offset-left">
              <i class="fab fs-icon stop-line" ng-click="$event.stopPropagation();CampaignEntirety.stopSuper(campaign)"></i>
              <b>{{ ::'label.act.Stop' | translate }}</b>
            </div>
          </div>
        </div>
        <div>
          <!--<div class="act-cm-action" ng-show="campaign.status === 'draft'" ng-click="$event.stopPropagation();CampaignEntirety.deleteDraftSuper(campaign)">-->
            <!--<div class="status-action run">-->
              <!--<i class="fab fa fa-trash-o"></i>-->
              <!--<b>{{ 'label.act.Delete' | translate }}</b>-->
            <!--</div>-->
          <!--</div>-->
          <a href="#" ui-sref="main.act.campaignCreation({ id: campaign.superId, type: 'draft' })" ng-show="campaign.status === 'draft'" class="clear-underline">
            <i class="fa fa-2x fa-edit action-icon"
               ng-attr-title="{{ ::'label.act.Edit' | translate}}"></i>
          </a>
          <i class="fa fa-2x fa-trash-o action-icon"
             ng-show="campaign.status === 'draft'"
             ng-click="$event.stopPropagation();CampaignEntirety.deleteDraftSuper(campaign)"
             ng-attr-title="{{ ::'label.act.Delete' | translate }}">
          </i>
        </div>
        <!-- download report and duplicate -->
        <a href="#" ui-sref="main.act.campaignCreation({ id: campaign.superId, type: 'duplicate'})" ng-show="metricsView && campaign.type !== 'subcampaign' && campaign.status !== 'failed'" class="clear-underline">
          <icon class="fa fa-copy fa-2x action-icon"
                ng-attr-title="{{ ::'label.act.Duplicate' | translate }}">
          </icon>
        </a>
        <a ng-click="openCsvModal()" ng-show="metricsView && campaign.type !== '' && campaign.type !== 'subcampaign' && campaign.status !== 'failed'">
          <icon class="fa fa-download fa-2x action-icon"
                ng-attr-title="{{ ::'label.act.DownloadReport' | translate }}">
          </icon>
        </a>
        <a ng-click="openEditBudgetAndDurationModal()" ng-show="metricsView && campaign.type !== '' && campaign.type !== 'subcampaign' && (campaign.status === 'active' || campaign.status === 'scheduled')">
          <icon class="fa fa-pencil-square-o fa-2x action-icon"
                ng-attr-title="{{ ::'label.act.tooltip.CampaignExtensionMsg' | translate }}">
          </icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<table ng-if="campaign.status !== 'pending' && campaign.status !== 'failed' && campaign.status !== 'draft'" class="act-cm-campaign-stats full-width act-cm-bordered" ng-class="{ 'remove-top' : !metricsView || !campaign.tsCampaignStats, 'controllable' : metricsView && (!!campaign.tsCampaignStats) }">
  <tbody>
    <tr>
      <td class="stat-cell" 
        ng-repeat="statType in statTypes" 
        style="width: {{campaign.optimizeForRoas ? 1/11 + '%' : 1/9 + '%' }}"
        ng-if="statType.onCondition ? statType.onCondition(campaign) : true"
        ng-class="{ 'active' : statType.id === metricsView.current && (!!campaign.tsCampaignStats), 'clickable' : metricsView && (!!campaign.tsCampaignStats)  }" ng-click="$event.stopPropagation();metricsView.select(statType.id)">
        <div class="square-wrapper content" 
             ng-class="{ tooltipped : statType.tooltip, 'tooltipped-s' : statType.tooltip }" ng-attr-aria-label="{{ ::statType.tooltip | translate}}">
          <div class="square">
            <div class="square-cell act-cm-bordered">
              <div class="absolute-middle absolute-center">
                <span class="campaign-stat-value">
                  <!--

                     The following explains the complex expression to access stat values below

                     if we are on home page (no metricsView and tsCampaignStats avaiable), use getLifetimeAggregate method of campaign for stats
                     * statType.id is impressions/clicks etc.
                     * if campaign is subcampaign, use 'facebook' or 'adwords' (channels[0].id) to access stat values
                     * if campaign is super campaign (on home and super campaign page), user 'super' as a channel id to access campaign stat
                     * metricPciker is a filter that pickers the correct formatter for statType
                  -->
                  {{ campaign[metricsView && campaign.tsCampaignStats ? 'getAggregateStats' : 'getLifetimeAggregateStats']()[statType.id][campaign.type === 'subcampaign' ? campaign.channels[0].id : 'super' ] | metricPicker:statType.format }}
                </span>
                <span class="campaign-stat-label">{{ ::statType.label | translate }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center small stat-channel" ng-if="metricsView && campaign.type !== 'subcampaign'" ng-class="channel.id" ng-repeat="channel in campaign.channels">
          <i class="fa"
            style="color: {{ ::channel.brandColor }}"
            ng-class="
            {
              'fa-facebook' : channel.id === 'facebook',
              'fa-google' : channel.id === 'adwords',
              'fa-twitter' : channel.id === 'twitter'
            }
          "></i>
          <strong>
            {{ campaign.getAggregateStats()[statType.id][channel.id] | metricPicker:statType.format }}
          </strong>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="content act-cm-campaigns-failed act-cm-bordered remove-top" ng-if="campaign.status === 'failed'">
  <div class="msg-wrapper">
    <div>{{ ::'label.act.ThisCampaignHasFailedToLaunch' | translate }} <button class="btn btn-solid btn-primary cherry" ng-click="$event.stopPropagation();editCampaign(campaign.superId)"><i class="fa fa-pencil"></i> Edit Campaign</button></div>
  </div>
  <div class="msg-details" ng-if="campaign.goalObject.goal.name === 'MOBILE_APP_INSTALLS'">
    <div>{{'label.act.switchToOcpmRecommendationMessage' | translate}}</div>
    <ul>
      <li>{{'label.act.switchToOcpmInstructions1Message' | translate}}</li>
      <li>{{'label.act.switchToOcpmInstructions2Message' | translate}}</li>
      <li>{{'label.act.switchToOcpmInstructions3Message' | translate}}</li>
    </ul>
  </div>
</div>
