<div class="col-md-12" ng-if="campaign.channels[0].id === 'facebook'">

  <!-- This is the audience part -->
  <div  class="row">
      <div class="col-md-24">
          <!--Audience segments-->
          <div class="panel panel-default panel-combo">
              <!-- Display Audience info. User can edit by clicking on one of the values -->
              <div class="panel-body fixed-height">
                  <div ng-repeat="audience in audiences | toArray"
                       class="audience-label" ng-show="combo.audience !== null">
                      <h4>{{audience.$key | unCamelCase}}</h4>
                      <div ng-repeat="variant in audience" class="label-variant label-outline grey">
                          <span class="label grey" ng-repeat="label in variant.values">
                              {{label.displayValue || label.value}}
                          </span>
                      </div>
                  </div>
              </div>
              <!-- Display Audience info only for review page-->
              <div class="panel-body fixed-height" ng-if="metadata.page === 3">
                  <div ng-repeat="audience in combo.audience.audience | toArray | orderBy:audienceSort"
                       class="audience-label" ng-show="combo.audience !== null">
                      <h4>{{audience.$key | unCamelCase}}</h4>
                      <div ng-repeat="variant in audience" class="label-variant label-outline grey">
                          <span class="label grey" ng-repeat="label in variant.values">
                              {{label.value || label.displayValue}}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

<div class="col-md-12" ng-if="campaign.channels[0].id === 'facebook'">
  <!-- This is the creative part -->
      <div class="row">
          <div class="col-md-24">
              <div class="panel panel-default panel-combo">
                  <div class="panel-body fixed-height">
                      <div ng-repeat="preview in previews" class="fb-preview-container" ng-bind-html='preview'></div>
                  </div>
              </div>
          </div>
      </div>
</div>

<!-- Twitter contents -->
<div class="col-md-12" ng-if="campaign.channels[0].id === 'twitter'">

  <!-- This is the audience part -->
  <div  class="row">
      <div class="col-md-24">
          <!--Audience segments-->
          <div class="panel panel-default panel-combo">
              <!-- Display Audience info only for review page-->
              <div class="panel-body fixed-height">
                  <div ng-repeat="audience in audiences | toArray"
                       class="audience-label">
                      <h4>{{audience.$key | unCamelCase}}</h4>
                      <div class="label-variant label-outline grey">
                          <span class="label grey bold" ng-repeat="label in audience">
                              {{label.subSegment.value}}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="col-md-12" ng-if="campaign.channels[0].id === 'twitter'">

  <!-- This is the creative part -->
  <div  class="row">
    <div class="col-md-24">
      <div class="tw-creative-preview-wrapper manage pointer">
              <!-- Todo implement new tweet preview -->
          <!-- <div ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/tweetPreview.html'"></div> -->
          <div ng-if="creative.creative.tweetText === 'null' || !creative.creative.tweetText" class="tw-content" style="width: 100%; padding-left:1em; padding-right:1em;">Sorry, your ad was saved, but we are not able to display a tweet preview at this time.</div>
          <div class="tw-tweet-wrapper" ng-if="creative.creative.isCard && creative.creative.tweetCardHeadline  && (creative.creative.tweetText !== 'null' && creative.creative.tweetText)" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/websiteCard.html'"></div>
          <div class="tw-tweet-wrapper" ng-if="creative.creative.isCard && !creative.creative.tweetCardHeadline  && (creative.creative.tweetText !== 'null' && creative.creative.tweetText)" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/appCard.html'"></div>
          <div class="tw-tweet-wrapper" ng-if="!creative.creative.isCard && !creative.creative.image && (creative.creative.tweetText !== 'null' && creative.creative.tweetText)" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/textTweetEngagement.html'"></div>
          <div class="tw-tweet-wrapper" ng-if="!creative.creative.isCard && creative.creative.image && creative.creative.image !== 'null' && (creative.creative.tweetText !== 'null' && creative.creative.tweetText)" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/imageTweetEngagement.html'"></div>
      </div>
    </div>
  </div>
</div>

<!-- AdWords contents -->
<!-- audience -->
<div class="col-md-8" ng-if="campaign.channels[0].id === 'adwords'">
  <div class="panel panel-default panel-combo">
    <div class="panel-body fixed-height">
      <div ng-repeat="audience in audiences | toArray" class="audience-label">
        <h4>{{audience.$key | unCamelCase}}</h4>
        <div ng-repeat="datum in audience" class="label-variant label-outline grey">
          <span class="label grey bold">
            {{datum.subSegment.value}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- creative -->
<div class="col-md-8" ng-if="campaign.channels[0].id === 'adwords'">
  <div class="panel panel-default panel-combo">
    <div class="panel-body fixed-height">
      <!-- Creative previews -->
      <div>
          <p class="aw-headline">{{creatives.creativeHeadline}}</p>
          <p class="aw-url">{{creatives.creativeDisplayUrl}}</p>
          <p>{{creatives.creativeDescription1}}</p>
          <p>{{creatives.creativeDescription2}}</p>
      </div>
    </div>
  </div>
</div>
<!-- keywords -->
<div class="col-md-8" ng-if="campaign.channels[0].id === 'adwords'">
  <div class="panel panel-default panel-combo">
    <div class="panel-body fixed-height">
      <div ng-repeat="keyword in keywords" >
        <span class="label label-outline keyword-label">
          {{keyword.value}}
        </span>
      </div>
    </div>
  </div>
</div>
</div>
