<div class="col-md-12">
  <h3>Ads Breakdown</h3>
</div>
<div class="col-md-12">
  <button class="btn-outline btn-lg align-h3-md pull-right-md" ng-click="openColumnSettings()">
    <i class="fa fa-cog"></i>
    KPI Settings
  </button>
</div>
<div class="col-md-24">
  <fs-data-grid data="channelSummary" column-defs="customizedColumnDefs.parentCampaigns" class="sparse max-bid-table">
  </fs-data-grid>
</div>
<div class="col-md-24">
  <fs-data-grid data="subcampaigns" column-defs="customizedColumnDefs.subCampaigns" class="sparse subcampaigns">
  </fs-data-grid>
</div>
