<form name="subcampaignColumns" ng-submit="!noneSelected() && saveColumns()" novalidate>
<div class="modal-header">
  <h3>KPI Settings</h3>
</div>
<div class="modal-body">
  <div class="row form-group">
    <div class="col-md-24">
      <input type="checkbox" 
             id="subcol-type-all" 
             ng-model="isAll"
             name="type-all"/>
      <label for="subcol-type-all"
             ng-click="$event.preventDefault(); toggleAll()">All KPIs</label>
    </div>
    <div class="col-md-24">
      <div ng-repeat="(key, colSetting) in columns track by key">
        <input type="checkbox" 
               ng-model="colSetting.active" 
               id="subcol-type-{{ key }}" 
               name="type-{{key }}"/>
        <label for="subcol-type-{{ key }}">{{ colSetting.label }}</label>
      </div>
    </div>
  </div><!-- end of row -->
  <div class="modal-footer text-right">
    <input type="submit" 
           class="btn-solid btn-primary btn-lg" 
           ng-class="{ disabled: noneSelected() }"
           value="Apply" />
  </div>
</div>
</form>
