<div class="row">
  <div class="col-md-24 main-assets-block">
    <div class="col-md-4 assets-card" ng-click="openLibrary('Images')">
      <div class="assets-type-icon">
        <i class="fa fa-picture-o"></i>
      </div>
      <p>{{ 'label.act.assets.Images' | translate }}</p>
    </div>
    <div class="col-md-4 assets-card" ng-click="openLibrary('Videos')">
      <div class="assets-type-icon">
        <i class="fa fa-video-camera"></i>
      </div>
      <p>{{ 'label.act.assets.Videos' | translate }}</p>
    </div>
    <div class="col-md-4 assets-card" ng-click="openLibrary('Campaigns')">
      <div class="assets-type-icon">
        <i class="fa fa-file"></i>
      </div>
      <p>{{ 'label.act.assets.CampaignTemplates' | translate }}</p>
    </div>
    <div class="col-md-4 assets-card" ng-click="openLibrary('Combos')">
      <div class="assets-type-icon">
        <i class="fa fa-files-o"></i>
      </div>
      <p>{{ 'label.act.assets.ComboTemplates' | translate }}</p>
    </div>
    <div class="col-md-4 assets-card" ng-click="openLibrary('Audiences')">
      <div class="assets-type-icon">
        <i class="fa fa-users"></i>
      </div>
      <p>{{ 'label.act.assets.Audiences' | translate }}</p>
    </div>
  </div>
</div>
