.main-assets-block {
  padding-top: 1em;
  .assets-card {
    cursor: pointer;
    display: inline-block;
    background: @white;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    margin-right: 1em;
    width: 15%;
    padding-top: 3em;
    padding-bottom: 4em;
    text-align: center;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    height: 10em;
    background: -webkit-linear-gradient(45deg, @white, @mono);
    opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    outline: 1px solid @body-bg;
    background-color: @white;
    color: @tin-light;

    p {
      font-size: 1em;
    }

    &:hover{
      outline: 2px solid @nature-heavy;
    }
  }
  .assets-type-icon {
    font-size: 2em;
    margin-bottom: .5em;
  }
}
