<div class="row">
  <div class="col-md-24">
    <div style="clear:both">
      <div class="number-bubble" ng-class="{completed: usernameDataType }">
        1
      </div>

      <h3 class="add-audience-step-header">{{ 'label.act.twitter.audiences.Selectamethodtoaddusernames' | translate
        }}</h3>

      <div class="audience-header-child">
        <div class="radio-selection-container">
          <div class="row">
            <div class="radio-container col-md-23">
              <input type="radio" name="usernameSearchBar" id="usernameSearchBar" value="searchBar"
                     ng-model="usernameDataType" ng-click="selectUsernameDataType(usernameDataType)"/>
              <label style="font-size: 0.79em;" for="usernameSearchBar">
                {{ 'label.act.twitter.audiences.Typeinthesearchbar' | translate }}
              </label>
            </div>
            <!--<div class="radio-container col-md-23">-->
            <!--<input type="radio" name="usernameCsv" id="usernameCsv" value="csv" ng-model="usernameDataType" ng-click="selectUsernameDataType(usernameDataType)"/>-->
            <!--<label style="font-size: 0.79em;" for="usernameCsv">-->
            <!--Upload CSV-->
            <!--</label>-->
            <!--</div>-->
            <div class="radio-container col-md-23">
              <input type="radio" name="usernameCopyPaste" id="usernameCopyPaste" value="copyPaste"
                     ng-model="usernameDataType" ng-click="selectUsernameDataType(usernameDataType)"/>
              <label style="font-size: 0.79em;" for="usernameCopyPaste">
                {{ 'label.act.twitter.audiences.Copyandpastefromalist' | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Search bar -->
      <div ng-show="usernameDataType === 'searchBar' ">
        <div class="number-bubble" ng-class="{completed: true}">
          2
        </div>
        <h3 class="add-audience-step-header">{{ 'label.act.twitter.audiences.Typeinthesearchbartoaddusernames' |
          translate }}</h3>

        <div class="form-group">
          <div class="col-md-13 input-formating-follower">
            <div ng-atp="follower" ng-atp-config="twFollowerAtpConfig">
              <input id="follower_value" placeholder="Search for @usernames" ng-atp-input type="text"
                     class="form-control form-control-small"/>
              <ul ng-atp-suggestions></ul>
            </div>
          </div>
        </div>
      </div>

      <!-- CSV -->
      <!--<div ng-show="usernameDataType === 'csv' ">-->
      <!--<div class="number-bubble" ng-class="{completed: usernameDataType }">-->
      <!--2-->
      <!--</div>-->

      <!--<h3 class="add-audience-step-header">Upload CSV to add usernames</h3>-->
      <!--<div style="clear:both">-->
      <!--<fs-csv-import class="upload-button-container pull-left"-->
      <!--button-name="'Upload'"-->
      <!--on-change="onCsvFollowerImport"-->
      <!--header="'followerCsv'"-->
      <!--separator="','">-->
      <!--</fs-csv-import>-->
      <!--</div>-->
      <!--</div>-->

      <!-- Copy and Paste -->
      <div ng-show="usernameDataType === 'copyPaste' ">
        <div class="number-bubble" ng-class="{completed: usernameDataType }">
          2
        </div>
        <h3 class="add-audience-step-header">{{ 'label.act.twitter.audiences.Copyandpasteintheboxtoaddusernames' |
          translate }}</h3>

        <div class="form-group">
          <textarea name="data" class="paste-data-area form-control text-copy-paste"
                    placeholder="Paste your Followers here" ng-model="twFollowers.copyPaste"
                    ng-required="twFollowers.copyPaste"></textarea>

          <div class="btn btn-solid btn-tertiary btn-text-modal" ng-click="applyCopyPaste()">
            {{ 'label.act.Apply' | translate }}
          </div>
        </div>
      </div>

      <!-- Errors -->
      <div class="clearfix"></div>
      <div class="error-message" ng-show="noFollowersToRecommend">
        {{ 'label.act.twitter.Pleaseaddatleastonefollower' | translate }}
      </div>
      <div class="error-message" ng-show="failedScreenNames.length > 0">
        {{ 'label.act.twitter.Thefollowinguserswerenotfound' | translate }} {{failedScreenNames.join(", ")}}
      </div>
      <div class="error-message" ng-show="tooFewToRecommend">
        {{ 'label.act.twitter.Twitterishavingahardtimeproviding' | translate }}
      </div>
      <div class="error-message" ng-show="moreThan100">
        {{ 'label.act.twitter.TwitterlimitsthenumberofFollowers' | translate }}
      </div>

      <div class="" ng-if="campaign.settings.goal.goal.name !== 'GROW_FOLLOWERS'">
        <!-- <input type="checkbox" ng-checked="false" id="target_one" value="false" ng-model="newAudience.targetMyFollowers">
        <label class="full-width" for="target_one">{{ 'label.act.twitter.audiences.Alsotargetmyfollowers' | translate }}</label> -->
      </div>
      <div class="">
        <input type="checkbox" ng-checked="false" id="target_two" value="false" ng-model="targetUsersLikeMyFollowers.check" ng-click="toggleTargetUsersLikeMyFollowers(targetUsersLikeMyFollowers.check);">
        <label class="full-width" for="target_two">{{ 'label.act.twitter.audiences.Alsotargetuserslikemyfollowers' | translate }}</label>
      </div>

      <!-- Checkbox for suggestions -->
      <div class="">
        <input type="checkbox" id="recommended_users" ng-model="showFollowerRecs.check"
               ng-click="showFollowersClick(showFollowerRecs.check)"/>
        <label class="full-width" for="recommended_users">{{ 'label.act.twitter.audiences.Recommendedusernames' |
          translate }}
          <b class="fa fa-spinner fa-spin mar-left" ng-show="loadingFollowerRecs"></b>
        </label>
      </div>
      <div style="clear: both;" ng-if="showRadioList && showFollowerRecs.check">
        <div fs-radio-btn-list=""
             available-options="radioBtn.data"
             config="radioBtn.config"
             add-fn="addFn(allValues)"
             ng-model="follower.list"
             targeting-spec="follower"
            ></div>
      </div>
    </div>

    <div ng-if="twFollowers">
      <fs-variant type="follower" no-add-variant="true" ng-model="view.follower"></fs-variant>
    </div>
  </div>
</div>

