<div class="col-md-24">
    <div class="forms toc-container">
        <i ng-click="closeThisDialog()" class="fa fa-times pointer fright"></i>
        <h4>Privacy Policy</h4>
        <div class="scroll-area form-group">
            ABOUT
            <br><br>
            Accomplice, Inc. (“Accomplice”, “we”, “us”, or “our”) brings together in one system the essential tools for social monitoring, campaign management, measurement and analytics, optimization, and attribution. Accomplice technology automatically discovers behavioral patterns and complex correlations in prior campaign targeting specifications, ad content, and final campaign results and provides guided recommendations for new target audience specifications and ad content that enables advertisers to better tailor advertising to suit the interests of the consumer.
            <br><br>
            In this Privacy Policy we describe how we collect, use, and share information that we obtain about visitors to our website www.accomplice.io and the services available through our website (collectively, the “Services”).
            <br><br>
            By visiting our website or using any of our Services, you agree that your personal information will be handled as described in this Privacy Policy. Your use of our website or Services, and any dispute over privacy, is subject to this Privacy Policy and our <a ng-click="closeThisDialog();openTermsAndConditions()">Terms of Service</a>, including its applicable limitations on damages and the resolution of disputes. Our Terms of Service are incorporated by reference into this Privacy Policy.
            <br><br>
            <b>INFORMATION COLLECTION</b>
            <br><br>
            We collect information about you directly from you, automatically through your use of our website or Services, and from third parties (e.g., social media platforms). We may combine information automatically collected with other information that we have collected about you. Accomplice may collect personal information, including name and email address, directly from you. We will also collect any other information that you voluntarily provide to us, such as your address or demographic information. See our Cookies and Tracking section below to learn more about the types of information we collect automatically about you.
            <br><br>
            <b>INFORMATION USE</b>
            <br><br>
            We use the information we collect about you to respond to your requests and inquiries and for other customer service-related purposes; to operate our website, analyze use of our website, improve visitors’ experience on our website, identify or remediate possible threats to the website’s security, and for other operational and management purposes; to communicate with you, including about your use of our Services, with news or other updates, or with marketing or promotional materials; and to comply with applicable legal obligations.
            <br><br>
            <b>COOKIES AND TRACKING</b>
            <br><br>
            Accomplice may use cookies and other technologies. Cookies are small text files that are stored on an Internet browser and can be accessed by web servers when the browser returns to the website. We use cookies to gather information about visits to our website, such as the number of visits, average time spent, pages viewed, navigation history through the website, time and date of visits, browser type, and other statistics. We also use cookies to facilitate user preferences, such as selections made via our preference management tool. This information helps us improve user experience in many ways, such as by allowing us to monitor website performance and making it easier to use and tailor the website to better match a user’s interests and preferences. Accomplice also places cookies when users visit www.accomplice.io in order to remarket to visitors interested in our company.
            <br><br>
            We use service providers, such as Google Analytics and Optimizely, to evaluate the use of our website and our Services. We or our service providers use automated devices and applications to evaluate use of our website and Services and help us improve our website, Services, performance, and user experiences. These entities may use cookies and other tracking technologies, such as web beacons or Flash LSO, to perform their services.
            <br><br>
            Our Site does not respond to Do Not Track signals, and we may track your activities once you leave our Site. You may disable certain tracking as discussed in this section (e.g., by disabling cookies).
            <br><br>
            <b>INFORMATION SHARING</b>
            <br><br>
            Accomplice may share aggregate, non-personal information with advertisers, agencies, targeted publishers, display publishers, and networks in connection with reporting and accounting needs as well as with other unaffiliated third parties for various purposes such as statistical or educational analysis.
            <br><br>
            We may share personal information in the event Accomplice is merged into another company, or another company acquires all or substantially all of Accomplice’s assets, including, without limitation, in the event of bankruptcy; as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process; where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Service or this Privacy Policy, or as evidence in litigation in which we are involved; and with our vendors, service providers, agents, or others who perform functions on our behalf. We may also share your personal information with any affiliates or subsidiaries, as well as with unaffiliated third parties, including for those third parties’ own marketing purposes. Please see our Special Information for California Consumers section below with regard to disclosures to unaffiliated third parties.
            <br><br>
            <b>INFORMATION SHARING</b>
            <br><br>
            We use third parties such as network advertisers to assist us in displaying advertisements on third-party services and to evaluate the success of our advertising campaigns. Network advertisers are third parties that display advertisements based on your visits to our website as well as other websites. This enables us and these third parties to target advertisements by displaying ads for products and services in which you might be interested. Third-party ad network providers, advertisers, sponsors and/or traffic measurement services may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs, and other technologies to measure the effectiveness of their ads and to personalize advertising content to you. These third-party cookies and other technologies are governed by each third party’s specific privacy policy, not this one. We may provide these third-party advertisers with information about your usage of our website.
            <br><br>
            <b>THIRD-PARTY LINKS</b>
            <br><br>
            Our website and Services may contain links to third-party websites. Any access to and use of such linked websites is not governed by this Privacy Policy but instead is governed by the privacy policies of those third-party websites. We are not responsible for the information practices of such third-party websites.
            <br><br>
            <b>SECURITY</b>
            <br><br>
            We maintain physical, electronic, and administrative safeguards to help protect our data. No security measures, however thorough, are perfect and there can be no absolute assurance of security. We therefore cannot and do not offer a guarantee or warrant the security of the information we possess or receive.
            <br><br>
            <b>CHILDREN</b>
            <br><br>
            The Accomplice website and Services are not developed for or intended or direct to persons under 13 years of age. We do not knowingly solicit or collect any personal information from children under the age of 13.
            <br><br>
            <b>SPECIAL INFORMATION FOR CALIFORNIA CONSUMERS</b>
            <br><br>
            California residents may request a list of certain third parties to which we have disclosed personally identifiable information about you for their own direct marketing purposes. You may make one request per calendar year. In your request, please attest to the fact that you are a California resident and provide a current California address for your response. You may request this information in writing by contacting us at: privacy@accomplice.io. Please allow up to 30 days for a response.
            <br><br>
            <b>CHANGES TO OUR POLICY</b>
            <br><br>
            We may revise this Privacy Policy at any time. We encourage you to visit this page periodically to review our current Privacy Policy so that you may know what information we gather and how we may use that information.
            <br><br>
            <b>CONTACTING US</b>
            <br><br>
            If you have questions or concerns regarding this statement, you should first contact privacy@accomplice.io or by mail at: Accomplice 611 Mission St. Sixth Floor, San Francisco, CA 94105
            <br><br>
            Last Updated: 09/11/2015
        </div>
    </div>
</div>

