.negate-padding {
  margin-left : -@grid-gutter-width / 2;
  margin-right : -@grid-gutter-width / 2;
}

/**
 * Summary Cards
 */


.status-report-summary-card {
  background-color: @pale-medium;
  border: 1px solid @mono-light;
  padding: 1rem;
  height: 12rem;

  &.boost-post{
    &:hover{
      background-color: @nature-light;      
    }
    cursor: pointer;
  }

  > h3 {
    margin-top: @line / @unitem - 1em;
    margin-bottom: @line * 1.5 / @unitem;
    text-align: center;
    &.left {
      margin-bottom: @line  / @unitem / 2;
      text-align: left;
    }
  }
  > .stat {
    display: block;
    .huge();
    font-weight: bold;
    text-align: center;
  }
  .date, .time {
    display: block;
  }
  .time {
    font-weight: bold;
  }
  .slide-left, .slide-right {
    background-color: transparent!important;
    border-color: transparent!important;
    .fa {
      color: @tin-heavy!important;
    }
  }
  fs-gallery-item, .gallery-wrapper {
    overflow: visible!important;  
  }
  .best-time {
    overflow: hidden;  
    min-height: 5rem;
  }
}

.post-to-boost {
  .img-wrapper {
    max-height: 7rem;  
    overflow: hidden;
  }
  .post-body {
    min-height: @line * 3 * .8125 / @unitem;  
  }
}

/**
 * Engagement Breakdown
 */

// chart legends

.disabled {
  .legend-label {
    background-color: @pale-heavy!important;
    color: @tin-heavy!important;
  }  
}

.legend-label {
  &:extend(.small);
  display: inline-block;
  text-align: center;
  min-width: 6em;
  padding : 0.5rem;
  background-color: @pale-heavy;
  color: @pale-light;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-family: @font-family-headline;
  &.disabled {
    color : @tin-heavy;
  }
  &.trim-top {
    padding-top: 0.25em;
  }
}

/**
 * Activities Breakdown
 */


.no-pages-message {
  padding: 1em;
}
.cell-image {
  height: 35px;
  width: 35px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}

.activity-grid {
  height: 23em;
  .ui-grid-viewport {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
  .ui-grid-top-panel {
    background: none;
    background-color: @pale-heavy;
    height: 3.5em;
  }

  .ui-grid-icon-up-dir:before {
    color: @mono-medium;
    font-family: FontAwesome;
    content: '\f0d8' !important;
  }
  .ui-grid-icon-down-dir:before {
    color: @mono-medium;
    font-family: FontAwesome;
    content: '\f0d7' !important;
  }
  .ui-grid-row-header-cell {
    border: none;
  }
  .ui-grid-header-cell{
    font-size: 0.7em;
    color: @tin-light;
    text-align: center;
  }
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border: none;
    background-color: @white !important;
  }
  .ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: @pale-medium;
  }
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border: none;
  }
  .ui-grid-render-container-body .ui-grid-header-canvas {
    height: 3.5em;
  }
  .ui-grid-cell-contents {
    white-space: pre-line;
    padding-top: .7em;
  }
}
.activity-grid .ui-grid-row, .activity-grid .ui-grid-cell, .activity-grid .ui-grid-cell .ui-grid-vertical-bar {
  border-bottom: 1px solid @mono-light;
}

/*
 *  Location Breakdown
 */

.bordered {
  border: 1px solid @mono-light;
}
.clear-bottom-margin {
  margin-bottom: 0!important;
}

table.fix-header {
  thead tr {
    overflow: hidden;
  }
  thead th {
    color: transparent;
    white-space: nowrap;
  }
  thead th > .header-row-bg {
    background-color: @table-head-background-color;
    position: absolute;
    left: -1px; right: 0;
    top: -1px;
    border-bottom: ~"1px solid @{table-border-color}";
    border-bottom: ~"1px solid @{table-border-color}";
  }
  thead th > div {
    position: absolute;
    width: 100%;
    padding: @table-cell-padding;
    line-height: @line-height-base;
    color: @tin-medium;
    top: 2px;
  }
}

.top-location-table-header, .top-media-table-header {
  td {
    border : 0;
  }
  .left {
    width : 25%;
    background : #4c4c4c;
    color : @pale-light;
    vertical-align: middle;
  }
  .right {
    padding: 0;
    width: 75%;
    overflow: hidden;
  }
  margin: 0;
  thead > tr {
    border-bottom: 2px solid @nature-light;
  }
}
.top-media-table-header {
  .center {
    padding: 0;
    width: 65%;
    overflow: hidden;
  }
  .right {
    width: 10%;
    padding: 0 0.5em;
  }
  thead > tr {
    border-bottom: 0.5rem solid @pale-medium;
  }
}
.open {
  .top-location-table-header thead > tr{
    border-bottom: 2px solid @leaf-medium;
  }
}

.status-report-location {
  td.title {
    white-space: nowrap;
    width: 25%;
    text-overflow: ellipsis;
  }
}

.header-padding {
  padding : 0.5rem!important;
}
.header-toggle .fa {
  margin-top: 0.16rem;
}
.header-toggle .fa-caret-down{
  display: none;
}
.header-toggle .fa-caret-left, .header-toggle .fa-caret-right{
  display: inline;
}
.open {
  .header-toggle .fa-caret-down{
    display: inline;
  }
  .header-toggle .fa-caret-left, .header-toggle .fa-caret-right{
    display: none;
  }
}

.top-stat {
  @sup-size: 0.58em;
  sup {
    position: relative;
    top: -0.48em - @sup-size / 2;
    font-size: @sup-size;
  }
}
.top-location-wrapper {
  padding-right: 5rem;
  position: relative;
  .top-stat {
    position : absolute;
    right: 1rem;
    top: 0;
  }
  .meter-bar {
    position: relative;
    height: 6 / @unitem!important;
    top: 0.5em;
    left: -0.5em;
  }
}
.top-media-wrapper {
  padding-right: 5rem;
  position: relative;
  background: @pale-light;
  .meter-title {
    display: none;
  }
  .meter-bar {
    position: relative;
    height: 1em!important;
    top: 0.25em;
    left: -1px;
  }
}

/**
 * Top Media
 */

.media-wrapper {
  position: relative;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .media-hover {
    position: absolute;
    padding: 0.5em;
    left: 1em;
    right: 1em;
    top: 0.5em;
    bottom: 0.5em;
    background: rgba(0,0,0, .4);
    color: @pale-light;
    display: none;
  }
  &:hover .media-hover {
    display: block;
  }
}
.post-informations {
  padding-left: 0;
  padding-right: 0;
  .info-right-column {
    line-height: 1.5;
  }
}


/**
 * Audience Breakdown - Gender
 */

.audience-gender {
  margin-bottom: 0;
  thead {
    border-bottom: 2px solid  @mono-light;
  }
  th {
    height: 60px;
    vertical-align: middle !important;
    width: 50%;
    border-right: 1px solid  @mono-light;
    padding: 0.7em !important;
    &.uni-cells {
      width: 33.33%;
    }
    span {
      color: @mono-heavy;
      &.header-main {
        display: block;
        font-size: 1.35em;
        font-weight: normal;
      }
      &.header-description {
        font-size: 0.68em;
        font-weight: normal;
      }
      &.header-percentage {
        font-size: 1.5em;
        float: right;
        margin-top: -25px;
      }
    }
  }
}

