.fs-confirm-login {
  width: 100%;  
  z-index: 2009; 
}
@media (min-width: @screen-md) {
  .fs-confirm-login {
    width: 410px!important;
    margin-left: -205px!important;
  }
}

.forms.log-back-in {
  margin : 0 auto;
  float: none;
}
