// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@state; @color; @color-inverted) {
  & when (@state = 'primary'){
    color: @smoke-white;
    background-color: @@color;
  }

  & when(@state = 'secondary'){
    color: @@color;
    background-color: transparent;
  }
  border: 1px solid @@color;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    
    & when(@state = 'primary'){
      background-color: @@color-inverted;
      color: @smoke-white;
    }

    & when(@state = 'secondary'){
      background-color: @@color;
      color: @smoke-white;
    }
  }
  .badge {
    color: @smoke-white;
    background-color: @@color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size / @unitem;
  line-height: @line-height / @unitem;
  border-radius: @border-radius;
}