.convert2em(@amt) when (isem(@amt)) {
    @em: @amt;
}
.convert2em(@amt, @emInPx: @base-rem-size) when (ispixel(@amt)) {
    @em: unit((@amt / @emInPx), em);
}
.convert2px(@amt, @emInPx: @base-rem-size) when (isem(@amt)) {
    @px: unit((@amt * @emInPx), px);
}
.convert2px(@amt) when (ispixel(@amt)) {
    @px: @amt;
}

