.calc-row-push(@index, @push-unit, @class) when not (@class = normal) {
  .row-push-@{index}-@{class} {
    margin-top : @index * @push-unit;
  }
}

.calc-row-push(@index, @push-unit, @class) when (@class = normal) {
  .row-push-@{index} {
    margin-top : @index * @push-unit;
  }
}

.loop-pushed-rows(@index, @push-unit, @class:normal) when (@index > 0) {
  .calc-row-push(@index, @push-unit, @class);
  // next iteration
  .loop-pushed-rows((@index - 1), @push-unit, @class);
}

.calc-row-pull(@index, @pull-unit, @class) when not (@class = normal) {
  .row-pull-@{index}-@{class} {
    margin-top : @index * @pull-unit;
  }
}

.calc-row-pull(@index, @pull-unit, @class) when (@class = normal) {
  .row-pull-@{index} {
    margin-top : -@index * @pull-unit;
  }
}

.loop-pulled-rows(@index, @pull-unit, @class:normal) when (@index > 0) {
  .calc-row-pull(@index, @pull-unit, @class);
  // next iteration
  .loop-pulled-rows((@index - 1), @pull-unit, @class);
}
