.calc-colspan-width(@selector, @index, @total) {
  @{selector}[colspan="@{index}"] {
    width : percentage(@index / @total);  
  }
}


.loop-colspans(@selector, @index, @total) when (@index > 1) {
  .calc-colspan-width(@selector, @index, @total);
  // next iteration
  .loop-colspans(@selector, (@index - 1), @total);
}
