.slide-button-transition (@duration: .3s) {
  -webkit-transition: all @duration ease-out;
  -moz-transition: all @duration ease-out;
  transition: all @duration ease-out;
}

.links-input-fields {
  margin-top: 3em;
  margin-bottom: 1em;
}
.copy-url-block {
  height: 9.5em;
  margin-top: 15px;
  .btn-short-url {
    width: 110%;
    height: 100%;
    margin-left: -10%;
    font-size: 1.5em;
  }
}
.short-url-block {
  min-height: 9.5em;
  .short-inside {
    margin-top: 20px;
    margin-left: 15px;
  }
  .url-information {
    display: inline-block;
  }
  .shorten-url-info {
    display: inline-block;
    .organic-paid-selected {
      text-align: center;
      margin-top: 8px;
      min-width: 60px;
      background-color: mediumspringgreen;
      border: 1px solid @smoke-long-half;
      border-radius: 5px;
      span {
        color: @smoke-long;
      }
    }
  }
  .copy-button-block {
    float: right;
    margin-right: 5px;
  }
  .shorten-buttons-block {
    margin-top: 1.3em;
    .btn-short-url {
      width: 100%;
    }
    .buttons-or {
      text-align: center;
      margin-top: 5px;
    }
  }
}
.get-urls-block {
  margin-top: 20px;
  a {
    color: @facebook-blue;
    text-decoration: underline;
  }
  .get-urls-link-init {
    display: block;
  }
  .get-urls-link-hidden {
    display: none;
  }
}
.links-table {
  margin-top: 20px;
  input[type="checkbox"] {
    display: inherit;
  }
}

.circle-channel-coloring *{
  margin-bottom: -3px;
  margin-left: 5px;
  fill: @sage-long;
  cursor: pointer;
}
.copied-url-message {
  width: 98%;
  position: absolute;
  margin-top: 10px;
  margin-left: 4px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  height: 10em;
  .copy-message {
    margin-top: 60px;
    margin-left: -50px;
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    color: dodgerblue;
  }
  .saved-link-message {
    margin-top: 60px;
    margin-left: -200px;
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    color: dodgerblue;
  }
}

.close-link-dialog {
  cursor: pointer;
  margin-top: -0.4em;
  color: @smoke-long;
  font-size: 18px;
  float: right;
  &:hover {
    color: @smoke-mid;
  }
}
.selected-project-block {
  pointer-events: none;
  cursor: default;
}
.reload-input-coloring *{
  cursor: pointer;
  stroke: @smoke-long;
  position: absolute;
  top: 10px;
  right: 20px;
}

.short-url-coloring *{
  stroke: @smoke-long;
}

// NEW UI

.header-project-links {
  border-bottom: 1px solid @mono-light;
  .disabled-dropdown-edit {
    .fa-caret-down {
      visibility: hidden;
    }
    cursor: default;
  }
  h2 {
    float: left;
    margin: 0;
    font-weight: normal;
    color: @mono-medium;
  }
  .fs-dropdown.default {
    text-align: left;
    padding: 0.3em;
    background-color: transparent;
    outline: none;
    width: 28%;
    span {
      margin-left: 5px;
      font-size: 1.5em;
      color: @mono-medium;
      margin-top: -4.5px;
    }
  }
  .fs-dropdown .fs-dropdown-link i, .fs-dropdown .fs-dropdown-link iconic {
    margin-right: 5px;
  }
}
.project-links-footer {
  border-top: 1px solid @mono-light;
  .fs-dropdown-menu {
    left: inherit;
    right: 0;
  }
}
.body-project-links {
  .organic-paid-block {
    margin-top: 1.5em;
    margin-bottom: 1em;
    border: 1px solid @mono-medium;
    border-radius: 3px;
    background-color: @pale-light;
    padding: 1px;
    height: 2.5em;
    .organic-paid-selected {
      text-align: center;
      cursor: pointer;
      display: inline-block;
      width: 49.25%;
      background-color: @mono-medium;
      border-radius: 3px;
      height: 100%;
      padding: 4px;
      .slide-button-transition;
      span {
        font-size: 0.9em;
        text-transform: uppercase;
        color: @white;
      }
    }
    .organic-paid-disabled {
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      width: 49.25%;
      height: 100%;
      padding: 4px;
      span {
        font-size: 0.9em;
        text-transform: uppercase;
        color: @mono-heavy;
      }
    }
  }
  .question-mark-channel {
    margin-top: 10px;
    color: @mono-medium;
    i {
      cursor: pointer;
    }
  }
  .main-block-link-settings {
    margin-top: 1.5em;
    .btn-shorten-big {
      width: 100%;
      height: 50px;
      font-size: 1.2em;
      border-radius: 5px;
    }
    .btn-append-big {
      margin-top: 1.1em;
      width: 100%;
      border-radius: 5px;
    }
    .btn-copy-big {
      width: 100%;
      height: 70px;
      font-size: 1.2em;
      border-radius: 5px;
    }
    .fs-dropdown .fs-dropdown-link span {
      color: @mono-medium;
    }
  }
  .multiple-urls-block {
    margin-top: 1.5em;
  }
}
.main-block-link-shorten {
  margin-top: .5em;
  margin-bottom: .5em;
  .btn-copy-big {
    width: 100%;
    height: 80px;
    font-size: 1.2em;
    border-radius: 5px;
  }
  .shorten-url-block-view {
    .url-info-blocks {
      margin-top: 1.4em;
      &.link-icon {
        margin-top: 1.8em;
      }
      .url-shorten {
        font-weight: normal;
        font-size: 1.15em;
      }
      .url-original {
        color: @mono-light;
        margin-top: 5px;
      }
    }
  }
}
.social-paid-organic-info {
  margin-top: 1.5em;
  background-color: @mono-light;
  color: @white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  width: 40%;
}

.links-grid {
  height: 23em;
  .ui-grid-viewport {
    overflow-x: hidden !important;
  }
  .ui-grid-top-panel {
    background: none;
    background-color: @pale-light;
  }

  [class^="ui-grid-icon"]:before,
  [class*=" ui-grid-icon"]:before {
    color: @nature-heavy;
    font-family: FontAwesome;
    content: "\f058";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .25em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .15em;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
  .ui-grid-icon-up-dir:before {
    color: @mono-medium;
    font-family: FontAwesome;
    content: '\f0d8' !important;
  }
  .ui-grid-icon-down-dir:before {
    color: @mono-medium;
    font-family: FontAwesome;
    content: '\f0d7' !important;
  }
  .ui-grid-row-header-cell {
    border: none;
  }
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border: none;
    background-color: @white !important;
  }
  .ui-grid-cell {
    border: none;
  }
  .ui-grid-header-cell {
    border: none;
  }
  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border: none;
  }
}
.links-custom-footer {
  margin-top: 1em;
}
.links-header-grid-options {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .reselect-channel {
    margin-top: 1.5em;
    .fs-dropdown.default, .dropdown {
      padding: 0.285em;
    }
    .btn-set-new-entities {
      width: 100%;
    }
  }
}
.btn-download-csv {
  border: 1px solid transparent !important;
  margin-left: 10px;
  line-height: inherit  !important;
}
.tooltipped-links {
  position: relative;
}
.tooltipped-links:after {
  position: absolute;
  z-index: 1010;
  padding: 7px 15px;
  font-size: 13.5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: rgba(255,255,255,0.95);
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(54, 61, 67, 0.8);
  border-radius: 2px;
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 1;
}
.tooltipped-links:before {
  position: absolute;
  z-index: 1010;
  width: 0;
  height: 0;
  color: rgba(54, 61, 67, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
  opacity: 1;
}
