<div class="modal-header header-project-links">
  <div class="col-md-24" ng-class="{'disabled-dropdown': urlBlocks || initialTable, 'disabled-dropdown-edit': urlBlocks || initialTable}">
    <h2 ng-if="!urlBlocks && !initialTable">{{ 'label.act.createLinks.CreateLinkFor' | translate }}</h2>
    <h2 ng-if="urlBlocks || initialTable">{{ 'label.act.createLinks.LinksFor' | translate }}</h2>
    <div class="fs-dropdown default links new-project tooltipped tooltipped-e" aria-label="{{'label.act.tooltip.ThisIsRequired' | translate}}"
         ng-class="{'tooltipped-links': showMissingProject}">
      <div class="fs-dropdown-link" on-state="click">
        <i class="fa fa-caret-down"></i>
        <span>{{ selectedProject.name ? selectedProject.name : 'label.act.createLinks.ProjectName' | translate }}</span>
      </div>
      <ul class="fs-dropdown-menu projects-align-menu">
        <li ng-repeat="project in fractalAccountInfo.currentTeam.projects | orderBy:'name'" ng-click="onProjectChange(project)">{{ project.name }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="modal-body body-project-links">
  <div ng-show="!initialTable && !urlBlocks">
    <div class="row" style="margin-left: 0.5em; margin-right: 0.5em;">
      <div ng-form name="shortUrl" class="tooltipped-s" aria-label="{{'label.act.tooltip.ThisIsRequired' | translate}}"
           ng-class="{'tooltipped-links': showMissingLink}">
        <input fs-focus-input="{{!loadingUrl}}"
               class="form-control"
               autocomplete="off"
               name="urlForPreview" ng-model="urlForPreview" type="text"
               ng-pattern="pasteUrlRegex" required placeholder="Paste your URL to track"/>
      </div>
    </div>

    <div class="row main-block-link-settings">
      <div class="col-md-24">
        <div class="col-md-10">

          <div class="fs-dropdown default new-project tooltipped-s" ng-class="{'tooltipped-links': showMissingChannel}" aria-label="{{'label.act.tooltip.ThisIsRequired' | translate}}">
            <div class="fs-dropdown-link" on-state="click">
              <i class="fa fa-caret-down"></i>
              <span>{{ selectedChannel.name ? selectedChannel.name : 'label.act.createLinks.SelectChannel' | translate }}</span>
            </div>
            <ul class="fs-dropdown-menu projects-align-menu">
              <li ng-repeat="channel in availableChannels | orderBy:'name'" ng-click="selectChannel(channel)">{{ channel.name }}</li>
            </ul>
          </div>

          <div class="organic-paid-block">
            <div ng-init="switchTo('organic')" ng-click="switchTo('organic')" ng-class="{'organic-paid-selected': organicSwitcher, 'organic-paid-disabled': !organicSwitcher}">
              <span>{{ 'label.act.createLinks.Organic' | translate }}</span>
            </div>
            <div ng-click="switchTo('paid')" ng-class="{'organic-paid-selected': paidSwitcher, 'organic-paid-disabled': !paidSwitcher}">
              <span>{{ 'label.act.createLinks.Paid' | translate }}</span>
            </div>
          </div>

          <div class="multiple-urls-block">
            <div class="col-md-14" style="padding-left: 0;">
              <input type="checkbox" ng-model="getUrlShow" id="multiLink"/>
              <label for="multiLink"> {{ 'label.act.createLinks.MultiLinksCampaign' | translate }} </label>
            </div>
            <div ng-show="getUrlShow" class="col-md-10 tooltipped-e" style="padding-right: 0;"
                 ng-class="{'tooltipped-links': urlsNumbersError}" aria-label="{{'label.act.tooltip.EnterValidNumberOfLinks' | translate}}">
              <input fs-focus-input="{{getUrlShow}}"
                     class="form-control"
                     name="numberOfUrls" ng-model="numberOfUrls" type="text"
                     ng-pattern="urlCountRegex" required placeholder="99" ng-minlength="1" ng-maxlength="2"/>
            </div>
          </div>

        </div>

        <div class="col-md-9 col-md-offset-5">
          <button class="btn-solid btn-primary btn-shorten-big tooltipped tooltipped-n tooltipped-multiline" aria-label="{{ 'label.act.tooltip.UseShortenifyoudont' | translate }}" ng-click="shortenClicked()">{{ 'label.act.createLinks.Shorten' | translate }}</button>
          <button class="btn-solid btn-primary btn-shorten-big tooltipped tooltipped-s tooltipped-multiline" aria-label="{{ 'label.act.tooltip.AppendIDisonlyvalid' | translate }}" style="margin-top: 0.8em;" ng-click="shortenClicked('appendId')">{{ 'label.act.createLinks.AppendId' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="urlBlocks">
    <div class="row main-block-link-shorten">
      <div class="col-md-24">
        <div class="col-md-15">
          <div class="shorten-url-block-view">
            <input ng-blur="updateLink()" class="form-control" ng-model="shortenUrlPreview.urls[0].description" style="width: 100%;" type="text" name="description" placeholder="{{ shortenUrlPreview.shortUrlsMappings[0].description }}"/>
            <div class="col-md-3 url-info-blocks link-icon">
              <i class="fa fa-link fa-2x"></i>
            </div>
            <div class="col-md-21 url-info-blocks">
              <a class="url-shorten" ng-if="appendId" ng-href="{{ shortenUrlPreview.urls[0].url }}" target="_new">{{ shortenUrlPreview.urls[0].url }}</a>
              <a class="url-shorten" ng-if="!appendId" href>/{{ shortenUrlPreview.urls[0].id }}</a>
              <p class="url-original">{{ shortenUrlPreview.urls[0].originalUrl }}</p>
              <div class="social-paid-organic-info">
                <span ng-if="shortenUrlPreview.urls[0].paid">{{ 'label.act.createLinks.Paid' | translate }}, </span>
                <span ng-if="!shortenUrlPreview.urls[0].paid">{{ 'label.act.createLinks.Organic' | translate }}, </span>
                <span>{{ shortenUrlPreview.urls[0].channelType }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-1">
          <button ng-if="appendId" class="btn-solid btn-primary btn-copy-big" ng-click="copyToClipboard()" clip-copy="shortenUrlPreview.urls[0].url">{{ 'label.act.createLinks.Copy' | translate }}</button>
          <button ng-if="!appendId" class="btn-solid btn-primary btn-copy-big" ng-click="copyToClipboard()" clip-copy="shortenUrlPreview.urls[0].longUrl">{{ 'label.act.createLinks.Copy' | translate }}</button>
          <p ng-show="linkCopiedClipboard" class="fadein fadeout" style="text-align: center; margin-top: 1em;">{{ 'label.act.createLinks.LinkCopiedToClipboard' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="initialTable">
    <div class="links-header-grid-options">
      <input class="form-control" ng-model="shortenUrlPreview.urls[0].description" style="width: 83%;" type="text" name="description" placeholder="{{ shortenUrlPreview.urls[0].description }}"/>

      <div class="row">
        <div class="col-md-10">
          <div class="organic-paid-block">
            <div ng-init="switchTo(gridOptions.data[0].paidId.toLowerCase())" ng-click="switchTo('organic')" ng-class="{'organic-paid-selected': organicSwitcher, 'organic-paid-disabled': !organicSwitcher}">
              <span>{{ 'label.act.createLinks.Organic' | translate }}</span>
            </div>
            <div ng-click="switchTo('paid')" ng-class="{'organic-paid-selected': paidSwitcher, 'organic-paid-disabled': !paidSwitcher}">
              <span>{{ 'label.act.createLinks.Paid' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-10 reselect-channel">
          <div class="fs-dropdown default">
            <div class="fs-dropdown-link" on-state="click">
              <i class="fa fa-caret-down"></i>
              <span class="ng-binding">{{ updateChannel.name }}</span>
            </div>
            <ul class="fs-dropdown-menu">
              <li ng-repeat="channel in availableChannels" ng-click="changedChannelUpdate(channel)">{{ channel.name }}</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 reselect-channel">
          <button class="btn-solid btn-outline btn-set-new-entities" ng-click="setMultiLinkProperties()">{{ 'label.act.createLinks.Set' | translate }}</button>
        </div>
      </div>
    </div>
    <div ui-grid="gridOptions"
         ui-grid-selection
         ui-grid-edit
         ui-grid-row-edit
         ui-grid-exporter
         class="grid links-grid"></div>
    <div class="links-custom-footer">
      <span>{{ 'label.act.createLinks.TotalLinks' | translate }} {{gridOptions.data.length}} </span>
      <span ng-if="gridApi.selection.getSelectedRows().length > 0">({{ 'label.act.createLinks.SelectedLinks' | translate }} {{gridApi.selection.getSelectedRows().length}})</span>
    </div>
  </div>
</div>

<div class="modal-footer project-links-footer">
  <div class="fs-dropdown goal-dropdown" ng-if="initialTable">
    <button class="fs-dropdown-link btn-solid btn-primary btn-download-csv" on-state="click" style="float: right; color: white;">{{ 'label.act.createLinks.DownloadCSV' | translate }}</button>
    <ul class="fs-dropdown-menu goals-menu links-download" style="text-align: left;">
      <li ng-click="exportShortUrls('all')">{{ 'label.act.createLinks.DownloadAll' | translate }}</li>
      <li ng-class="{'disable-option': gridApi.selection.getSelectedRows().length < 1}" ng-click="exportShortUrls('selected')">{{ 'label.act.createLinks.DownloadSelected' | translate }}</li>
    </ul>
  </div>
  <button ng-click="closeThisDialog()" class="btn-outline btn-secondary" style="float: left;">
    <span>{{ 'label.act.createLinks.Done' | translate }}</span>
  </button>
  <button ng-if="initialTable || urlBlocks" ng-click="gotoLinksManager()" class="btn-solid btn-outline" style="margin-left: 5px;">{{ 'label.act.createLinks.ManageInLinksManager' | translate }}</button>
</div>
