<ul class="fs-dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" ng-keydown="keydown($event)">
	<li ng-transclude></li>
	<li ng-if="showButtonBar" style="padding:10px 9px 2px">
		<span class="btn-group pull-left">
			<button type="button" class="btn-solid btn-sm btn-primary" ng-click="select('today')">{{ getText('current') }}</button>
			<button type="button" class="btn-solid btn-sm btn-error" ng-click="select(null)">{{ getText('clear') }}</button>
		</span>
		<button type="button" class="btn-outline btn-sm btn-primary pull-right" ng-click="close()">{{ getText('close') }}</button>
	</li>
</ul>