<div ng-repeat="address in view.extensions.address track by $index">
	<div class="extension-container col-md-19">
		<div class="fright remove-ex" ng-click="removeExtension('address', $index)">x</div>
		<p class="ex-header">{{ address.businessName }}</p>
		<p>Address: {{ address.addressLine1 }}  {{ address.addressLine2 }}  {{ address.city }},  {{ address.stateProvince }} {{ address.postalCode }}</p>
		<p></p>
		<p>Phone Number: {{ address.phoneNumber }}</p>
	</div>
	<button class="btn-solid col-md-3 fright" ng-click="editExtension('address', $index)">
		Edit					
	</button>
</div>
<div class="extension-form-container col-md-24">
	<div class="form-group row">
		<h4>{{ 'label.act.BusinessName' | translate }}</h4>
		<input placeholder="Enter your business name" class="form-control" type="text" ng-model="address.businessName"/>
		<h4>{{ 'label.act.AddressLine1' | translate }}</h4>
		<input placeholder="Enter address line 1" class="form-control" type="text" ng-model="address.addressLine1"/>
		<h4>{{ 'label.act.AddressLine2Optional' | translate }}</h4>
		<input placeholder="Enter address line 2 (optional)" class="form-control" type="text" ng-model="address.addressLine2"/>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>{{ 'label.act.City' | translate }}</h4>
			<input placeholder="Enter your city" class="form-control" type="text" ng-model="address.city"/>
			<h4>{{ 'label.act.State/Province' | translate }}</h4>
			<input placeholder="Enter your State/Province" class="form-control" type="text" ng-model="address.stateProvince"/>
			<h4>{{ 'label.act.PhoneNumber' | translate }}</h4>
			<input placeholder="Enter your phone number" class="form-control" type="text" ng-model="address.phoneNumber"/>
		</div>
		<div class="col-md-12">
			<h4>{{ 'label.act.PostalCode' | translate }}</h4>
			<input placeholder="Enter your postal code" class="form-control" type="text" ng-model="address.postalCode"/>
			<h4>{{ 'label.act.CountryCode' | translate }}</h4>
			<input placeholder="Enter your country code" class="form-control" type="text" ng-model="address.countryCode"/>			
		</div>
	</div>
	<button class="btn-solid col-md-3 fright" ng-click="addExtension('address', address)">
		Add +					
	</button>
</div>