<div class="modal-header audience-modal-header">
	<h3>Audiences</h3>
</div>
<div class="modal-body audience-container">
	<div class="row">

		<form novalidate name="segmentForm">
			<!-- Left side of the form -->
			<div class="col-md-12">

				<!-- Location -->
				<div class="row">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/location.html'"></div>
						</div>
					</div>
				</div>

				<!-- Language -->
				<div class="row">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/language.html'"></div>
						</div>
					</div>
				</div>

				<!-- Gender  -->
				<div class="row" style="display:none">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/gender.html'"></div>
						</div>
					</div>
				</div>

				<!-- Device Type  -->
				<div class="row" style="display:none">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/deviceType.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</form>

			<!-- /////// Extensions ////// -->

		<!-- Right side of the form -->
		<div class="col-md-12">
			<h4>Google Extensions</h4>
			<fs-accordion>

				<!-- Address -->
				<!-- <div class="row">
					<div class="col-md-24">
						<fs-accordion-group header="Address" ng-class="{'ex-filled': view.extensions.address.length > 0 && !isAddressOpen }" is-open='isAddressOpen' is-disabled='false'>
							<div class="row">
								<div class="col-md-24">
									<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/address.html'"></div>
								</div>
							</div>
						</fs-accordion-group>
					</div>
				</div> -->

				<!-- Site Links -->
				<div class="row">
					<div class="col-md-24">
						<fs-accordion-group header="Site Links" ng-class="{'ex-filled': view.extensions.siteLink.length > 0 && !isSiteLinkOpen }" is-open='isSiteLinkOpen' is-disabled='false'>
							<div class="row">
								<div class="col-md-24">
									<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/siteLinks.html'"></div>
								</div>
							</div>
						</fs-accordion-group>
					</div>
				</div>

				<!-- Calls -->
				<div class="row">
					<div class="col-md-24">
						<fs-accordion-group header="Calls" ng-class="{'ex-filled': view.extensions.call.length > 0 && !isCallOpen }" is-open='isCallOpen' is-disabled='false'>
							<div class="row">
								<div class="col-md-24">
									<div ng-include="'app/main/act/campaignCreation/adwords/awAudience/templates/calls.html'"></div>
								</div>
							</div>
						</fs-accordion-group>
					</div>
				</div>
			</fs-accordion>
		</div>
	</div>
</div>

<div class="modal-footer audience-container">
	<div class="row">
        <!--<div class="col-md-24">-->
        <!--{{ newAudience }}-->
        <!--</div>-->
		<div class="col-md-24 text-right">
			<input id="save-to-library" ng-click="saveAudienceToLibraryCheckbox = !saveAudienceToLibraryCheckbox" type="checkbox"/>
			<label for="save-to-library">{{'label.act.SavetoLibrary' | translate }}</label>
			<button ng-click="loadAudienceFromLibrary()" class="btn-solid btn-tertiary">{{'label.act.LoadfromLibrary' | translate }}</button>
			<button ng-click="saveAudience(saveAudienceToLibraryCheckbox); newAudience.saveToLibrary(saveAudienceToLibraryCheckbox, campaign, finishSaveToLibrary);" class="btn-solid btn-primary">{{'label.act.SaveAudience' | translate}}</button>
		</div>
	</div>
</div>
