<div ng-repeat="call in view.extensions.call track by $index">
	<div class="extension-container col-md-19">
		<div class="fright remove-ex" ng-click="removeExtension('call', $index)">x</div>
		<p>{{ call.phoneNumber }}</p>
	</div>
	<button class="btn-solid col-md-3 fright" ng-click="editExtension('call', $index)">
		Edit
	</button>
</div>
<div class="extension-form-container col-md-24" ng-if="!newExtension.extension.call.length">
	<form name="form.call" id="callForm" ng-submit="addExtension('call', call)">
		<div class="form-group">
			<h4 class="inline-block">{{ 'label.act.PhoneNumber' | translate }}</h4>
			<span class="pull-right">{{11 - form.call.phoneNumber.$viewValue.length}}</span>
			<input class="form-control" placeholder="Enter phone number" ng-pattern="/^\d{3,11}$/"
             name="phoneNumber" type="text" ng-model="call.phoneNumber" minlength="3" maxlength="11"/>
<!-- 			<div ng-messages="form.call.phoneNumber.$error" ng-if="form.call.phoneNumber.$touched || form.call.submitted" ng-messages-include="siteLink-messages"></div> -->
		</div>
		<button type="submit" class="btn-solid col-md-3 fright">
			Add +
		</button>
	</form>
</div>

<script type="text/ng-template" id="call-messages">
    <div ng-message="required" class="error-message"> {{ 'label.act.Thisfieldisrequired' | translate }}</div>
    <div ng-message="url" class="error-message"> {{ 'label.act.Theurlisnotvalid' | translate }}</div>
    <div ng-message="minlength" class="error-message"> {{ 'label.act.Inputtooshort' | translate }}</div>
    <div ng-message="maxlength" class="error-message"> {{ 'label.act.Exceededmaxlength' | translate }}</div>
</script>
