<label for=""><h4>{{'label.act.Devices' | translate}}</h4></label>
<div class="row">
	<div class="col-md-24">
		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('devices', 'desktop')" ng-click="toggleTargetingSpec('devices', 'desktop')" id="desktop" value="desktop">
		<label for="desktop" button>{{ 'label.act.Desktop' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('devices', 'tablet')" ng-click="toggleTargetingSpec('devices', 'tablet')" id="tablet" value="tablet">
		<label for="tablet" button>{{ 'label.act.Tablet' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('devices', 'mobile')" ng-click="toggleTargetingSpec('devices', 'mobile')" id="mobile" value="mobile">
		<label for="mobile" button>{{ 'label.act.Mobile' | translate }}</label>
	</div>
</div>
<div class="form-group">
  <fs-variant type="devices" ng-model="view.devices"></fs-variant>
</div>
