<label for=""><h4>{{ 'label.act.language' | translate }}</h4></label>
<div class="form-group aw-audience-form-container">

	<div class="form-group">
		<div class="row">
			<div class="col-md-19">
				<div ng-atp="language" ng-atp-config="awLanguageAtpConfig">
                  <input id="language_value" placeholder="Search for languages and select" ng-atp-input type="text" class="form-control form-control-small" />
                  <ul ng-atp-suggestions></ul>
		  		</div>
			</div>
		</div>
	</div>

  <fs-variant type="language" ng-model="view.language"></fs-variant>
</div>
