<label for=""><h4>{{ 'label.act.location' | translate }} *</h4></label>
<div class="aw-audience-form-container" >
	<input type="radio" ng-click="focusInput('country')" id="country" ng-focus="true" ng-model="locationType" value="country"  ng-checked="true">
	<label for="country" button>{{ 'label.act.country' | translate }}</label>

	<input type="radio" ng-click="focusInput('region')" id="region" ng-model="locationType" value="region">
	<label for="region" button>{{ 'label.act.Region' | translate }}</label>

	<input type="radio" ng-click="focusInput('city')" id="city" ng-model="locationType" value="city">
	<label for="city" button>{{ 'label.act.city' | translate }}</label>

	<input type="radio" ng-click="focusInput('zipcode')" id="zipcode" ng-model="locationType" value="zipcode">
	<label for="zipcode" button>{{ 'label.act.zip' | translate }}</label>

	<div class="form-group">
		<div class="row">
			<div class="col-md-19" >
		  		<div ng-show="locationType === 'country'">
				   <div ng-atp="country" ng-atp-config="awCountryAtpConfig">
                      <input id="country_value" placeholder="Search for countries" ng-atp-input type="text" class="form-control form-control-small" />
                      <ul ng-atp-suggestions></ul>
			  		</div>
				</div>

			   <div ng-show="locationType === 'region'">
				    <div ng-atp="region" ng-atp-config="awRegionAtpConfig">
                      <input id="region_value" placeholder="Search for regions" ng-atp-input type="text" class="form-control form-control-small" />
                      <ul ng-atp-suggestions></ul>
					</div>
			   </div>

			   <div ng-show="locationType === 'city'">
					<div ng-atp="city" ng-atp-config="awCityAtpConfig">
                      <input id="city_value" placeholder="Search for cities" ng-atp-input type="text" class="form-control form-control-small" />
                      <ul ng-atp-suggestions></ul>
                    </div>
				</div>
				<div ng-show="locationType === 'zipcode'">
					<div ng-atp="zipcode" ng-atp-config="awZipcodeAtpConfig">
                      <input id="zipcode_value" placeholder="Search for zipcodes" ng-atp-input type="text" class="form-control form-control-small" />
                      <ul ng-atp-suggestions></ul>
				  	</div>
				</div>
			</div>
		</div>
	</div>

  <fs-variant type="location" ng-model="view.location"></fs-variant>
</div>
