<div ng-repeat="siteLink in view.extensions.siteLink track by $index">
	<div class="extension-container col-md-19">
		<div class="fright remove-ex" ng-click="removeExtension('siteLink', $index)">x</div>
		<p>Destination {{ siteLink.linkUrl }}</p>
		<p class="ex-header">{{ siteLink.linkText }} </p>
		<p class="site-link-desc">{{ siteLink.description1 }} </p>
		<p class="site-link-desc">{{ siteLink.description2 }} </p>
	</div>
	<button class="btn-solid col-md-3 fright" ng-click="editExtension('siteLink', $index)">
		Edit
	</button>
</div>
<div class="col-md-24 extension-form-container">
	<form name="form.siteLink" id="extensionSiteLinkForm" ng-submit="addExtension('siteLink', siteLink)">
		<div class="form-group">
			<h4 class="inline-block">{{ 'label.act.LinkText' | translate }}</h4>
			<span class="pull-right">{{25 - form.siteLink.linkText.$viewValue.length}}</span>
			<input type="text"
						 class="form-control"
						 name="linkText"
						 required
						 ng-model="siteLink.linkText"
						 placeholder="Enter your link text"
						 ng-maxlength="25" />
			<div ng-messages="form.siteLink.linkText.$error"
					 ng-if="form.siteLink.linkText.$pristine === false"
					 ng-messages-include="siteLink-messages">
			</div>
		</div>
		<div class="form-group">
			<h4 class="inline-block">{{ 'label.act.LinkURL' | translate }}</h4>
			<input type="text"
						 placeholder="Enter your link url"
						 class="form-control"
						 required
						 name="linkUrl"
						 ng-pattern="shortUrlRegex"
						 ng-model="siteLink.linkUrl"/>
			<div ng-messages="form.siteLink.linkUrl.$error"
					 ng-if="form.siteLink.linkUrl.$pristine === false"
					 ng-messages-include="siteLink-messages">
			</div>
		</div>
		<div class="form-group">
			<h4 class="inline-block">{{ 'label.act.Description1' | translate }}</h4>
			<span class="pull-right">{{35 - form.siteLink.description1.$viewValue.length}}</span>
			<input type="text"
						 placeholder="Enter your link description"
						 class="form-control"
						 name="description1"
						 ng-model="siteLink.description1"
						 ng-maxlength="35" />
			<div ng-messages="form.siteLink.description1.$error"
					 ng-if="form.siteLink.description1.$pristine === false"
					 ng-messages-include="siteLink-messages">

			</div>
		</div>
		<div class="form-group">
			<h4 class="inline-block">{{ 'label.act.Description2' | translate }}</h4>
			<span class="pull-right">{{35 - form.siteLink.description2.$viewValue.length}}</span>
			<input type="text"
						 placeholder="Enter your link description"
						 class="form-control"
						 name="description2"
						 ng-model="siteLink.description2"
						 ng-maxlength="35"/>
			<div ng-messages="form.siteLink.description2.$error"
					 ng-if="form.siteLink.description2.$pristine === false"
					 ng-messages-include="siteLink-messages">

			</div>
		</div>
		<button type="submit" class="btn-solid col-md-3 fright" ng-disabled="getSizeOfObject(form.siteLink.$error) > 0">
			Add +
		</button>
		<div ng-init="setForm(form.siteLink)"></div>
	</form>
</div>

<script type="text/ng-template" id="siteLink-messages">
	<div ng-message="required" class="error-message"> {{ 'label.act.Thisfieldisrequired' | translate }}</div>
	<div ng-message="url" class="error-message"> {{ 'label.act.Theurlisnotvalid' | translate }}</div>
	<div ng-message="minlength" class="error-message"> {{ 'label.act.Inputtooshort' | translate }}</div>
	<div ng-message="maxlength" class="error-message"> {{ 'label.act.Exceededmaxlength' | translate }}</div>
	<div ng-message="pattern" class="error-message"> {{ 'label.act.Theurlisnotvalid' | translate }}</div>

</script>