<div>
  <input class="importCsv" type="file" style="display: none;"/>
  <button type="button" ng-disabled="ngDisabled" class="btn-solid btn-outline" ng-click="delegateClick()">{{ buttonName }}</button>
</div>
