<section class="site-tracking" ng-if="selectedSite && selectedPeriod.length" ng-init="loadChartData()">
  <div class="chart-loading" ng-show="isLoading">
  </div>
  <!--<div class="row" ng-if="charts.traffic.config.valueFields && charts.traffic.config.valueFields.length == 0">No KPI's selected</div>-->
  <div class="row">
    <fs-vis-double-axis
      fs-vis-config
      data="charts.traffic.data"
      labels="charts.traffic.config.labels"
      time-field="'date'"
      value-fields="charts.traffic.config.valueFields"
      format-x="charts.traffic.config.dateFormat"
      y-format='charts.traffic.config.leftAxis'
      y1-format='charts.traffic.config.rightAxis'
      >
      <div>
        <span class="legend-label" ng-repeat="series in legendData"
              style="background: {{ series.color }}; color: {{ series.colorSecondary }}">{{ series.name }}</span>
      </div>
      <div>&nbsp;</div>
    </fs-vis-double-axis>
  </div>
</section>
