<section class="site-tracking" style="height: 564px;" ng-init="loadEventsData()">
  <div class="row">
    <h3  style="margin-top: 0">{{'label.siteTracking.eventsAndTopPages' | translate}}</h3>
    <div class="col-md-24 col-sm-24">
      <fs-tabset>
        <fs-tab is-open="eventTab">
          <tab-heading ng-click="EventTabOpened()">{{'label.siteTracking.ClickEvents' | translate}}</tab-heading>
          <div class="row">
            <div class="col-md-12" style="padding: 1em 1em 1em 0.5em">
              <div class="chart-loading" style="width: calc(100% - 12px); height: 350px; z-index: 100; position: absolute; text-align:center; padding:159px 0; margin-left: -4px;" ng-show="isLoadingFirst">
              </div>
              <div style="overflow-y: scroll; height: 350px; border: 1px solid #ccc">
                <table class="table">
                  <thead>
                  <tr>
                    <th>{{'label.siteTracking.name' | translate}}</th>
                    <th>{{'label.siteTracking.clicks' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-repeat="row in charts.events.eventTable"
                    ng-class="{'selected-table-row': currentDrilldown===row.eventname}"
                    style="cursor: pointer"
                    ng-click="eventClickFilter(row)">
                    <td class="drilldown">{{row.eventname | limitTo: 50}}</td>
                    <td>{{row.customeventcount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12" style="padding: 1em 1em 1em 0.5em">
              <div class="chart-loading" style="width: calc(100% - 12px); height: 350px; z-index: 100; position: absolute; text-align:center; padding:159px 0; margin-left: -4px;" ng-show="isLoadingSecond">
              </div>
              <div style="overflow-y: scroll; height: 350px; border: 1px solid #ccc" ng-if="!isLoadingFilter">
                <table class="table">
                  <thead>
                  <tr>
                    <th>{{'label.siteTracking.topReferal' | translate}}</th>
                    <th>{{'label.siteTracking.breakdown' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in charts.events.referalTable"
                      ng-class="{'selected-table-row': row.referal === currentDrilldown}">
                    <td class="drilldown">{{row.referalurl || 'direct' | limitTo: 65}}</td>
                    <td>{{row.customeventcount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fs-tab>
        <fs-tab is-open="!eventTab">
          <tab-heading ng-click="topPageTabOpened()">{{'label.siteTracking.topPages' | translate}}</tab-heading>
          <div class="row">
            <div class="col-md-12" style="padding: 1em 1em 1em 0.5em">
              <div style="width: calc(100% - 12px); height: 350px; z-index: 100; position: absolute; text-align:center; padding:159px 0; margin-left: -4px;" ng-show="isLoadingFirst">
                <img ng-src="assets/images/ajax-loader.gif">
              </div>
              <div style="overflow-y: scroll; height: 350px; border: 1px solid #ccc">
                <table class="table">
                  <thead>
                  <tr>
                    <th>{{'label.siteTracking.name' | translate}}</th>
                    <th>{{'label.siteTracking.clicks' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-repeat="row in charts.events.topPages"
                    ng-class="{'selected-table-row':currentDrilldown===row.page}"
                    style="cursor: pointer"
                    ng-click="topPageClickFilter(row)">
                    <td class="drilldown">{{row.page | limitTo: 65}}</td>
                    <td>{{row.pageviewcount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12" style="padding: 1em 1em 1em 0.5em">
              <div class="chart-loading" style="width: calc(100% - 12px); height: 350px; z-index: 100; position: absolute; text-align:center; padding:159px 0; margin-left: -4px;" ng-show="isLoadingSecond">
              </div>
              <div style="overflow-y: scroll; height: 350px; border: 1px solid #ccc">
                <table class="table">
                  <thead>
                  <tr>
                    <th>{{'label.siteTracking.topReferal' | translate}}</th>
                    <th>{{'label.siteTracking.breakdown' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in charts.events.referalTable">
                    <td>{{row.referalurl || 'direct' | limitTo: 65}}</td>
                    <td>{{row.pageviewcount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fs-tab>
      </fs-tabset>
    </div>
  </div>
</section>

