<section class="site-tracking" ng-init="loadGeoData()"> 
  <div class="row chart-loading" ng-show="isLoading">
  </div>
  <div class="row">
    <h3 style="margin: 0 0 1.5em 0">{{'label.siteTracking.trafficMetrics' | translate}}</h3>

    <div style="float:left; width: 50%; border: 1px solid #ccc /*margin-top: -200px*/"
         ng-if="charts.geographical.data.countries">
      <fs-map data="charts.geographical.data" selected-country="selectedCountry"></fs-map>
    </div>
    <div style="float:right; width: 50%">

      <fs-accordion close-others='true'>
        <div class="row">
          <div class="col-md-24">
            <fs-accordion-group
              header="Top Country"
              is-open="true"
              percentage="calculatePercentage(geographicalTable.countries[0].eventcount, geographicalTable.totalPageViews)"
              percentage-title="geographicalTable.countries[0].country">
              <div class="row">
                <div class="col-md-24">
                  <div style="overflow-y: scroll; height: 310px">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <td></td>
                        <td>PAGEVIEWS</td>
                        <td>%</td>
                        <td>NEW VISITORS</td>
                        <td>%</td>
                      </tr>
                      <tr>
                        <td>TOTAL</td>
                        <td>{{availableMetrics[0].amount}}</td>
                        <td>100%</td>
                        <td>{{geographicalTable.totalNewVisitors}}</td>
                        <td>100%</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="row in geographicalTable.countries"
                          class="filter-field"
                          ng-class="{'drilldown-field-active': row.country === currentDrilldown}"
                          ng-click="filterPageByCountry(row.country, row.countrycode)"
                        >
                        <td class="title">{{row.country}}</td>
                        <td class="others">{{row.eventcount}}</td>
                        <td class="others">{{calculatePercentage(row.eventcount, geographicalTable.totalPageViews) |
                          metricPercentage }}
                        </td>
                        <td class="others">{{row.newvisitorcount || 0}}</td>
                        <td class="others">{{calculatePercentage(row.newvisitorcount,
                          geographicalTable.totalNewVisitors) | metricPercentage }}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </fs-accordion-group>
          </div>
        </div>

        <!-- Site Links -->
        <div class="row">
          <div class="col-md-24">
            <fs-accordion-group
              header="Top City"
              is-open="false"
              percentage="calculatePercentage(geographicalTable.cities[0].eventcount, geographicalTable.totalPageViews)"
              percentage-title="geographicalTable.cities[0].city">
              <div class="row">
                <div class="col-md-24">
                  <div style="overflow-y: scroll; height: 310px">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <td></td>
                        <td>PAGEVIEWS</td>
                        <td>%</td>
                        <td>NEW VISITORS</td>
                        <td>%</td>
                      </tr>
                      <tr>
                        <td>TOTAL</td>
                        <td>{{geographicalTable.totalPageViews}}</td>
                        <td>100%</td>
                        <td>{{geographicalTable.totalNewVisitors}}</td>
                        <td>100%</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="row in geographicalTable.cities"
                          class="filter-field"
                          ng-class="{'drilldown-field-active': row.city === currentDrilldown}"
                          ng-click="filterPageByCity(row.city, row.countrycode)"
                        >
                        <td class="title">{{row.city}}</td>
                        <td class="others">{{row.eventcount}}</td>
                        <td class="others">{{calculatePercentage(row.eventcount, geographicalTable.totalPageViews) |
                          metricPercentage }}
                        </td>
                        <td class="others">{{row.newvisitorcount || 0}}</td>
                        <td class="others">{{calculatePercentage(row.newvisitorcount,
                          geographicalTable.totalNewVisitors) | metricPercentage }}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </fs-accordion-group>
          </div>
        </div>
      </fs-accordion>

    </div>
    <div class="clearfix"></div>
  </div>
</section>
