<section class="site-tracking" ng-if="selectedSite && selectedPeriod.length" ng-init="loadMetricsData()">
  <h3 style="margin: 0 0 1.5em 0">{{'label.siteTracking.trafficMetrics' | translate}}</h3>
  <div class="site-tracking-kpi-row">
    <div class="fs-kpi-row tight">
      <div fs-kpi-cell ng-repeat="kpi in availableMetricsRow1"
           label="kpi.label" kpi="kpi.amount"
           width-percentage="1 / availableMetricsRow1.length"
           loading="kpi.loading"
           ng-click = "!kpi.disabled && !kpi.loading && clickOnMetric(kpi)"
           ng-class="{ 'first-active':kpi.checked && kpi.first, 'second-active': kpi.checked && kpi.second, disabled : kpi.disabled }">
      </div>
    </div>
  </div>
  <div class="site-tracking-kpi-row">
    <div class="fs-kpi-row tight">
      <div fs-kpi-cell ng-repeat="kpi in availableMetricsRow2"
           label="kpi.label" kpi="kpi.amount"
           width-percentage="1 / availableMetricsRow2.length"
           loading="kpi.loading"
           ng-click = "!kpi.disabled && !kpi.loading && clickOnMetric(kpi)"
           ng-class="{ 'first-active':kpi.checked && kpi.first, 'second-active': kpi.checked && kpi.second, disabled : kpi.disabled }">
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>
</section>
