<section class="site-tracking" style="height: 24.5em" ng-init="loadPlatformData()">
  <div class="platform-loading" ng-show="isLoading">
  </div>
  <div class="row">
    <h3 style="margin-top: 0">{{'label.siteTracking.deviceBreakdown' | translate}}</h3>
    <div class="col-md-8 col-sm-24 filter-field"
         ng-class="{'filter-field-active': currentFilters.length !== 0 && isFilteredBy('Personal computer')===false}"
         ng-click="filterPage('Personal computer')">
      <div class="device-header">
        <div class="pull-left" ng-class="currentFilters.length !== 0 && isFilteredBy('Personal computer')===false ? 'device-icons-gray' : 'device-icons'">
          <i class="fa fa-desktop device-icons-size"></i>
        </div>
        <div class="pull-right device-percents">
          {{calculatePercentage(charts.platform.PersonalComputer.sumEventCounts,charts.platform.totalEvents) | metricPercentage }}
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="os-group">
        <div ng-repeat="row in charts.platform.PersonalComputer.data" ng-if="calculatePercentage(row.eventcount,charts.platform.PersonalComputer.sumEventCounts)">
          <div class="os-title-row">
            <div class="pull-left">{{row.os | limitTo:10}}</div>
            <div class="pull-right os-title-percentages">{{ calculatePercentage(row.eventcount,charts.platform.PersonalComputer.sumEventCounts) | metricPercentage}}</div>
            <div class="clearfix"></div>
          </div>
          <div style="border-bottom: 1px solid #c3c3c3">
            <div class="os-percenteges-bar"
              ng-style="{'width': calculatePercentage(row.eventcount,charts.platform.PersonalComputer.sumEventCounts)*100+'%'}"></div>
          </div>
        </div>
      </div>
      <button class="btn btn-device">{{'label.siteTracking.desktop' | translate}}</button>
    </div>

    <div class="col-md-8 col-sm-24 filter-field"
         ng-class="{'filter-field-active': currentFilters.length !== 0 && isFilteredBy('Tablet')===false}"
         ng-click="filterPage('Tablet')">
      <div class="device-header">
        <div class="pull-left" ng-class="currentFilters.length !== 0 && isFilteredBy('Tablet')===false ? 'device-icons-gray' : 'device-icons'">
          <i class="fa fa-tablet device-icons-size"></i>
        </div>
        <div class="pull-right device-percents">
          {{calculatePercentage(charts.platform.Tablet.sumEventCounts,charts.platform.totalEvents) | metricPercentage }}
        </div>
        <div class="clearfix"></div>
      </div>
      <div style="background-color: #ffffff; padding: 5px 0px; border:1px solid #c3c3c3; min-height:135px;">
        <div ng-repeat="row in charts.platform.Tablet.data" ng-if="calculatePercentage(row.eventcount,charts.platform.Tablet.sumEventCounts)">
          <div class="pull-left" style="padding-left:10px">{{row.os | limitTo:10}}</div>
            <div class="pull-right os-title-percentages">{{calculatePercentage(row.eventcount,charts.platform.Tablet.sumEventCounts) | metricPercentage }}</div>
          <div class="clearfix"></div>
          <div style="border-bottom: 1px solid #c3c3c3">
            <div class="os-percenteges-bar"
                 ng-style="{'width': calculatePercentage(row.eventcount,charts.platform.Tablet.sumEventCounts)*100+'%'}"></div>
          </div>
        </div>
      </div>
      <button class="btn btn-device">{{'label.siteTracking.tablet' | translate}}</button>
    </div>


    <div class="col-md-8 col-sm-24 filter-field"
         ng-class="{'filter-field-active': currentFilters.length !== 0 && isFilteredBy('Smartphone')===false}"
         ng-click="filterPage('Smartphone')">
      <div class="device-header">
        <div class="pull-left" ng-class="currentFilters.length !== 0 && isFilteredBy('Smartphone')===false ? 'device-icons-gray' : 'device-icons'">
          <i class="fa fa-mobile device-icons-size"></i>
        </div>
        <div class="pull-right device-percents">
          {{calculatePercentage(charts.platform.Smartphone.sumEventCounts,charts.platform.totalEvents) | metricPercentage }}
        </div>
        <div class="clearfix"></div>
      </div>
      <div style="background-color: #ffffff; padding: 5px 0px; border:1px solid #c3c3c3; min-height:135px;">
        <div ng-repeat="row in charts.platform.Smartphone.data" ng-if="calculatePercentage(row.eventcount,charts.platform.Smartphone.sumEventCounts)">
          <div class="pull-left" style="padding-left:10px">{{row.os | limitTo:10}}</div>
            <div class="pull-right os-title-percentages" style="padding-right:10px">{{calculatePercentage(row.eventcount,charts.platform.Smartphone.sumEventCounts) | metricPercentage }}</div>
          <div class="clearfix"></div>
          <div style="border-bottom: 1px solid #c3c3c3">
            <div class="os-percenteges-bar"
                 ng-style="{'width': calculatePercentage(row.eventcount,charts.platform.Smartphone.sumEventCounts)*100+'%'}"></div>
          </div>
        </div>
      </div>
      <button class="btn btn-device">{{'label.siteTracking.mobile' | translate}}</button>
    </div>
  </div>
</section>
