<section class="project-report-section row-push-1" ng-if="sites.length === 0">
  <h3><i class="fa fa-warning project-report-error-text"></i> Warning</h3>
  <span class="project-report-error-text">{{ 'label.siteTracking.ThereIsNoActivityForTheSite' | translate }}</span>
</section>

<div ng-if="sites.length">
  <section class="site-tracking">
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="fs-dropdown default">
          <div class="fs-dropdown-link" on-state="click">
            <i class="fa fa-caret-down"></i>
            <span class="ng-binding">{{ selectedSite.host }}</span>
          </div>
          <ul class="fs-dropdown-menu">
            <li ng-repeat="site in sites | orderBy:'host'" ng-click="changeSite(site)">{{ site.host }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-lg-8" ng-if="selectedSite">
        <daterange-picker class="site-report-daterangepicker" options="daterangePickerOpts" ng-change="changeDateRange(selectedPeriod)" ng-model="selectedPeriod"></daterange-picker>
      </div>
      <div class="col-md-6 col-lg-5 pull-right" ng-show="hasFilterOrDrilldown()">
        <button class="btn-solid btn-outline spacing-btn" style="width: 100%" ng-click="clearAllFiltersAndDrilldown()">{{'label.siteTracking.clearAll' | translate}}</button>
      </div>
    </div>
  </section>
  <div ui-view="metrics">
  </div>
  <div ui-view="chart">
  </div>
  <section class="row ">
    <div class="col-md-12 col-lg-12" ui-view="platform">
    </div>
    <div class="col-md-12 col-lg-12" ui-view="sources">
    </div>
  </section>
  <div ui-view="geographical" style="position: relative"></div>
  <div ui-view="events" style="position: relative"></div>
</div>
