<section class="site-tracking" style="height: 24.5em" ng-init="loadReferalData()">
  <div class="platform-loading" ng-show="isLoading">
  </div>
  <div class="row">
    <h3 style="margin-top: 0">{{'label.siteTracking.topSources' | translate}}</h3>
    <div class="col-md-24 col-lg-24">
      <div class="row pointer source-filter-field"
           ng-class="{'filter-field-active': currentFilters.length !== 0 &amp;&amp; isFilteredBy(row.referal)===false}"
           ng-click="filterPage(row.referal)"
           style="margin-bottom: .7em; padding: .7em .5em;" ng-repeat="row in charts.sources.data">
        <div class="col-md-1 col-lg-1 source-no-padding">
          <i class="fa" ng-class="getSourceIcon(row.referal)" style="font-size: 18pt"></i>
        </div>
        <div class="col-md-5 col-lg-5 source-no-padding">
          <button class="source" ng-class="row.referal.length > 20 ? ['tooltipped', 'tooltipped-e'] : null" aria-label="{{row.referal}}">
            {{row.referal.length > 20 ? row.referal.slice(0,17)+'...' : row.referal}}
          </button>
        </div>
        <div class="col-md-15 col-lg-15 source-no-padding">
          <div style="position: relative">
            <div style="border: 1px solid #ccc; border-width: 1px 1px 1px 0; float: left; width: 100%; background: #fff">
              <div class="source-meter-bar" ng-style="{'width': calculatePercentage(row.eventcount,charts.sources.totalEvents)*100+'%' }"></div>
              <div style="position: absolute; right: 0; font-size:17pt; padding: 0 .3em">{{row.eventcount}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 source-no-padding" style="font-size: 24pt; font-weight: lighter">
          <div class="text-center source-percentages">
            {{ Math.round(calculatePercentage(row.eventcount,charts.sources.totalEvents)*100)+'%' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
