.header-sidebar {
  .header-bussiness-name {
    border-bottom: 1px solid @mono-light;
    a {
      text-decoration: none;
    }
    h3 {
      margin: 0;
      display: inline;
      color: @tin-heavy;
    }
    i {
      float: right;
      display: inline;
      margin-right: 10px;
      color: @mono-medium;
      margin-top: 4px;
      cursor: pointer;
    }
  }
  .header-team-name {
    padding-top: 1em;
    h5 {
      color: @tin-heavy;
      font-size: 1em;
      font-weight: normal;
    }
    i {
      float: right;
      display: inline;
      margin-right: 5px;
      color: @mono-medium;
      margin-top: 4px;
      cursor: pointer;
    }
    p {
      float: right;
      display: inline;
      margin-right: 5px;
      color: @mono-medium;
      margin-top: 7px;
      cursor: pointer;
      text-decoration: underline;
      font-size: 0.7em;
    }
    .members-numbering {
      margin-left: 5px;
      color: @mono-medium;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 0.73em;
    }
  }

}

.sidebar-block {
  margin-top: 0.6em;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  &.first-block {
    margin-bottom: .5em;
    margin-top: .3em;
  }
  &.last-block {
    margin-bottom: 20px;
  }

  .trimed-block {
    height: 0;
  }

  .slide-container {
    overflow: hidden;
    position:relative;
  }
  .tooltip-hover {
    overflow: visible;
  }

  .tag-site-options {
    right: 0;
    position: absolute;
    margin-right: 7px;
    button {
      background-color: @pale-heavy;
      &:hover {
        color: @white;
        background-color: @nature-heavy;
      }
    }
  }

  .slider {
    height:100%;
    -webkit-transition:-webkit-transform .3s ease;
    -moz-transition:   -moz-transform .3s ease;
    -ms-transition:    -ms-transform .3s ease;
    transition:        transform .3s ease;
  }

  .slider.opened {
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }
  .slider.closed {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .slider {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
  }

  .sidebar-block-header {
    border: 1px solid @mono-light;
    height: 2.29em;
    padding: 0.25em;
    padding-left: 0.5em;
    background-color: @pale-medium;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover{
      background-color: @pale-light;
    }
    .sidebar-collapse-part {
      width: 90%;
      display: inline-block;
    }
    span {
      font-size: 0.8em;
      &.fa.fa-users {
        color: @citrus-medium-half;
      }
      &.fa.fa-facebook {
        color: @facebook-blue;
      }
      &.fa.fa-google {
        color: @adwords-heavy;
      }
      &.fa.fa-twitter {
        color: @twitter-blue;
      }
      &.fa.fa-desktop {
        color: #80B180;
      }
    }
    h4 {
      color: @tin-heavy;
      &.team-name {
        margin-left: 0;
      }
      margin-left: 0.8em;
      display: inline;
      font-weight: normal;
    }
    i {
      float: right;
      font-size: 1em;
      margin-top: 0.25em;
      margin-right: 0.3em;
      cursor: pointer;
      color: @mono-medium;
      display: inline-block;
    }
    &.library {
      text-align: center;
    }
    &.clickable {
      cursor: pointer;
    }
  }

  .sidebar-block-content {
    border: 1px solid @mono-light;
    padding: 1em;
    h6 {
      color: @mono-medium;
    }
    button {
      width: 100%;
    }
    .users-hovered {
      cursor: pointer;
    }
    .user-role {
      float: right;
      margin-right: 6px;
      color: @mono-medium;
      font-size: 0.8em;
    }
    .sidebar-pixel-block {
      padding: 0.5em;
      .btn-solid, .btn-outline {
        padding: 0.2rem;
      }
      button {
        margin-top: -5px;
      }
      a {
        font-weight: normal;
        text-decoration: none;
        display: inline-block;
      }
    }
    &.sidebar-library {
      .library-block {
        transition: all 0.3s ease 0s;
        background-color: @pale-medium;
        margin-top: 0.3em;
        cursor: pointer;
        border: 1px solid @mono-light;
        height: 2.5em;
        p {
          display: inline;
          margin-left: 0.8em;
          margin-top: 0.3em;
        }
        .library-type-icon {
          display: inline-table;
          height: 2.2em;
          width: 2.5em;
          background-color: @mono-medium;
          margin-top: 0.1em;
          margin-left: 0.15em;
          text-align: center;
          i {
            margin-top: 0.5em;
            color: @white;
          }
        }
        &:hover {
          background-color: @leaf-light;
        }
      }
    }
    &.facebook-block {
      .facebook-block-content {
        h6 {
          display: inline;
        }
        .ad-accounts-block {
          border-bottom: 1px solid @mono-light;
          .acc-block {
            padding: 0.5em;
          }
        }
        .pages-block {
          padding: 0.5em;
          img {
            width: 35px;
            height: 35px;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
          }
        }
        .facebook-toggler {
          cursor: pointer;
          margin-left: 5px;
          color: @mono-medium;
        }
      }
    }
    &.google-block {
      .google-block-content {
        .currency-google {
          margin-top: -7px;
        }
        .adwords-block {
          padding: 0.8em;
          clear: both;
        }
      }
    }
  }

}
.show-more-block {
  text-align: center;
  .show-more-sidebar {
    font-size: 0.725em;
    color: @mono-medium;
    font-weight: bold;
    &:hover,&:focus {
      color: @mono-heavy;
      text-decoration: none;
    }
  }
}

.social-account-warning {
  color: #363d43;
  background-color: #ccc;
  border: 1px solid #9b9b9b;

  .btn-primary {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .btn-outline {
    margin-top: 10px;
  }
}

.sidebar-block .sidebar-block-content button.validation-failed { width: auto; float: right; }

#url-alert-top, .url-alert-top {
  display: none;
  color: rgb(247,151,29);
  font-size: 14px;
  margin-right: 0;
  margin-top: 2px;
}

#url-alert-top.invalid-url { display: block; margin-top: 2px; }

.validation-failed { display: block; border-color: rgb(219,75,56); background-color: transparent; color: rgb(219,75,56); width: auto; }
.validation-failed:hover { border-color: rgb(231,145,135); background-color: rgb(231,145,135); color: white; }
.validation-failed i { display: none; }
.validation-failed img { display: none; }

.validation-okay { display: none; }

.invalid-url .validation-failed { display: block; }
.invalid-url .validation-failed i { display: inline; }

.invalid-url .validation-okay { display: none; }

.valid-url .validation-okay,
.no-service .validation-okay { display: block; }

.valid-url .validation-failed,
.no-service .validation-failed { display: none; }

.checking-url .validation-failed img { display: inline;}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.slide-container .tooltipped:before {
  color: rgba(54,61,67,0.9);
}

.slide-container .tooltipped-multiline:after {
  max-width: 220px;
}
.connect-options {
  padding-top: .5em;
  h5 {
    color: @tin-heavy;
    font-size: 1em;
    font-weight: normal;
  }
  h6 {
    color: @tin-heavy;
    font-size: 0.85em;
    font-weight: normal;
  }
}
