<div class="row">
  <div class="col-md-24 align-right-column">
    <div class="header-sidebar">
      <div class="header-bussiness-name" ng-click="accountSettings()">
        <a fs-permission="<MANAGE_BILLING_AND_ACCOUNT_INFO>" fs-permission-prevent-click><h3>{{
          fractalAccountInfo.fractalAccount.name }}</h3></a>
        <span class="pull-right" fs-permission="<MANAGE_BILLING_AND_ACCOUNT_INFO>" fs-permission-prevent-click>
          <i class="fa fa-cog"></i>
        </span>
      </div>
      <div class="header-team-name">
        <h5 class="tooltipped tooltipped-w tooltipped-multiline"
            aria-label="{{'label.alignProjects.TeamsHouseAllOfYourProjects' | translate}}">{{
          'label.alignRightColumn.ManageYourTeam' | translate }}</h5>
      </div>
    </div>

    <!-- Members -->
    <div class="sidebar-block first-block tooltipped tooltipped-w" aria-label="{{ 'label.alignRightColumn.InvitecolleaguesandassignthemtoTeams' | translate }}">
      <div class="sidebar-block-header clickable" ng-init="membersToggler = true;">

        <div class="sidebar-collapse-part" ng-click="membersToggler = !membersToggler; sidebarBlockCollapse('members')">
          <span class="fa fa-users"></span>
          <h4>{{ 'label.alignRightColumn.ManageMembers' | translate }}</h4>
        </div>
        <i class="fa fa-cog" fs-permission="<MANAGE_MEMBERS>" fs-permission-prevent-click
           ng-click="openTeamManagement()"></i>
      </div>
      <div class="slide-container" ng-class="{'trimed-block': trimMembers, 'tooltip-hover': tooltipMembers}">
        <div class="sidebar-block-content slider" ng-class="{'opened': !membersToggler, 'closed': membersToggler}">
          <div
              ng-repeat="member in fractalAccountInfo.currentTeam.activeMembers | limitTo: initMembersValue | orderBy:'userRole.name'">
            <div class="row sidebar-pixel-block tooltipped tooltipped-w users-hovered"
                 aria-label="{{'label.align.tooltip.ManageMember' | translate}}"
                 ng-mouseenter="$parent.tooltipMembers = true" ng-mouseleave="$parent.tooltipMembers = false"
                 ng-click="openTeamManagement(member)">
              <a href="">{{ member.firstName }} {{ member.lastName }}</a>
              <span class="user-role">
                {{member.userRole.name}}
              </span>
            </div>
          </div>

          <div class="show-more-block">
            <a href="" ng-click="showAllMembers(); toggleMembers = !toggleMembers" class="show-more-sidebar"
               ng-if="fractalAccountInfo.currentTeam.activeMembers.length > 3">
              <span ng-if="!toggleMembers">Show {{ (fractalAccountInfo.currentTeam.activeMembers.length - initMembersValue) }} more members </span>
              <span ng-if="toggleMembers">Hide </span>
              <i ng-if="!toggleMembers" class="fa fa-angle-left"></i>
              <i ng-if="toggleMembers" class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="connect-options">
      <h5>{{ 'label.alignRightColumn.ConnectYourProperties' | translate }}</h5>
      <h6>{{ 'label.alignRightColumn.ThePropertiesYouConnectWillExist' | translate }}</h6>
    </div>

    <!-- Sites -->
    <div class="sidebar-block">
      <div class="sidebar-block-header clickable tooltipped tooltipped-w" aria-label="{{'label.alignRightColumn.RegistersitestrackingScripts' | translate }}" ng-init="sitesToggler = true;">
        <div class="sidebar-collapse-part" ng-click="sitesToggler = !sitesToggler; sidebarBlockCollapse('sites')">

          <div id="url-alert-top" class="url-alert-top pull-right"
               ng-class="{'invalid-url': somethingIsInvalid==true}">
            <i class="fa fa-exclamation-triangle" style="color: rgb(247,151,29);">&nbsp;</i></div>

          <span class="fa fa-desktop"> </span>
          <h4>{{ 'label.alignRightColumn.ManageSites' | translate }}</h4>
        </div>

        <i fs-permission="<MANAGE_WEBSITES>" fs-permission-prevent-click
           ng-show="fractalAccountInfo.currentTeam.pixels.length >= 1 && fractalAccountInfo.currentTeam.pixels"
           class="fa fa-cog" ng-click="openTrackedSitesManagement()"></i>

      </div>
      <div class="slide-container" ng-class="{'trimed-block': trimSites, 'tooltip-hover': tooltipHover}">
        <div class="sidebar-block-content slider"
             ng-class="{'opened': !sitesToggler, 'closed': sitesToggler, 'no-service': noUrlValidationService==true}">

          <span class="url-validation-no-service-warning"
                title="Accomplice validates customer site URLs to make sure they are valid for use in campaigns and for event tagging. The platform that performs the validation service appears to be down at the moment. That's fine, if you know they are valid you can still use the sites below in campaigns, and you can use the tagging toolbar. But using an invalid site can lead to strange results so if you are not sure about the status of a site you should probably wait on using it until the validation service is running again."><i
              class="fa fa-exclamation-triangle"></i> The site validation service is currently not running.</span>

          <div ng-repeat="site in fractalAccountInfo.currentTeam.pixels | limitTo: initSitesValue | orderBy:'host'">
            <div class="row sidebar-pixel-block"
                 ng-mouseenter="$parent.tooltipHover = true" ng-mouseleave="$parent.tooltipHover = false"
                 ng-class="urlState[site.URLName].state"
                 urlIdx="{{$index}}"
                 style="white-space: nowrap" >

              <button id="btn-validate-sb-url-{{$index}}"
                      class="btn-solid btn-outline validation-failed btn-validate-sb-url tooltipped tooltipped-w tooltipped-multiline"
                      fs-permission="<MANAGE_WEBSITES>"
                      fs-permission-prevent-click
                      aria-label="{{ urlState[site.URLName].tooltip }}"
                      ng-class="urlState[site.URLName].state"
                      urlIdx="{{$index}}"
                      ng-click="validateURLInit({
                                host: site.host,
                                testUrl: site.URLName,
                                index: $index,
                                nowait: true,
                                nocache: true,
                                badurlonly: false
                              })">
                <i class="fa fa-exclamation-triangle"></i>
                <img ng-src="assets/images/busy_button.gif"> Validate
              </button>

              <a fs-permission="<MANAGE_WEBSITES>"
                 fs-permission-prevent-click
                 class="tag-site-options validation-okay"
                 ng-href="http://{{ site.host.split('.').length >= 3 ? site.host : 'www.' + site.host }}/?fractalToolbarKey={{token}}&teamId={{fractalAccountInfo.currentTeam.id}}"
                 target="_new">
                <button class="btn-solid btn-outline validation-okay tooltipped tooltipped-w tooltipped-multiline"
                        urlIdx="{{$index}}"
                        aria-label="{{ urlState[site.URLName].tooltip }}">
                  <i class="fa fa-external-link"></i> {{ 'label.alignRightColumn.TagSite' | translate }}
                </button>
              </a>

              <a href="" ng-click="openTrackedSitesManagement(site.host)" class="ellipsis" style="width: 13vw;">{{
                site.host }}</a>

            </div>
          </div>
          <div class="show-more-block">
            <a href="" ng-click="showAllSites(); toggleSites = !toggleSites" class="show-more-sidebar"
               ng-if="fractalAccountInfo.currentTeam.pixels.length > 3">
               <!-- if there are 'more' sites then go ahead and start URL validaton on them -->
              <span ng-if="!toggleSites">Show {{ (fractalAccountInfo.currentTeam.pixels.length - initSitesValue) }} more sites </span>
              <span ng-if="toggleSites">Hide </span>
              <i ng-if="!toggleSites" class="fa fa-angle-left"></i>
              <i ng-if="toggleSites" class="fa fa-angle-down"></i>
            </a>
          </div>

          <button ng-click="openTrackedSitesManagement()" ng-if="fractalAccountInfo.currentTeam.pixels.length < 1"
                  class="btn-solid btn-primary tooltipped tooltipped-w tooltipped-multiline"
                  aria-label="{{'label.align.tooltip.AddaWebsiteyouwant' | translate}}"
                  ng-mouseenter="$parent.tooltipHover = true" ng-mouseleave="$parent.tooltipHover = false">{{
            'label.alignRightColumn.AddNewTrackedSite' | translate }}
          </button>

        </div>
      </div>
    </div>

    <!-- Apps -->
    <div class="sidebar-block tooltipped tooltipped-w" aria-label="{{'label.alignRightColumn.Registermobileappsfromallchannels' | translate }}">
      <div class="sidebar-block-header clickable" ng-init="appsToggler = true;">
        <div class="sidebar-collapse-part" ng-click="appsToggler = !appsToggler; sidebarBlockCollapse('apps')">
          <span class="fa fa-mobile"> </span>
          <h4>{{ 'label.alignRightColumn.ManageApps' | translate }}</h4>
        </div>
        <i class="fa fa-cog" ng-click="openAppManagement()"></i>
      </div>
      <div class="slide-container" ng-class="{'trimed-block': trimApps}">
        <div class="sidebar-block-content slider" ng-class="{'opened': !appsToggler, 'closed': appsToggler}">
          <button ng-if="fractalAccountInfo.currentTeam.applications.length === 0" ng-click="openAppManagement()"
                  class="btn-solid btn-primary">{{ 'label.alignRightColumn.AddNewApplication' | translate }}
          </button>
          <div>
            <div ng-repeat="app in fractalAccountInfo.currentTeam.applications | orderBy:'name'" class="app-block" ng-click="openAppManagement(app)">
              <div class="row sidebar-pixel-block"
                   style="white-space: nowrap">
                {{app.name}}
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>

    <!-- Facebook -->
    <div class="sidebar-block tooltipped tooltipped-w" aria-label="{{'label.alignRightColumn.AddFacebookpagesadaccountsand' | translate }}">
      <div class="sidebar-block-header clickable" ng-init="facebookToggler = true;">
        <div class="sidebar-collapse-part"
             ng-click="facebookToggler = !facebookToggler; sidebarBlockCollapse('facebook')">
          <span class="fa fa-facebook"> </span>
          <h4>{{ 'label.alignRightColumn.ManageFacebook' | translate }}</h4>
        </div>
        <span ng-if="socialAccount.flagged" class="tooltipped tooltipped-w tooltip-icon pull-right"
              aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
           <i class="fa fa-info-circle"></i>
        </span>
        <i ng-if="facebookConnectOption" class="fa fa-cog" ng-click="addFacebook()"></i>
      </div>
      <div class="slide-container" ng-class="{'trimed-block': trimFacebook}">
        <div class="sidebar-block-content facebook-block slider"
             ng-class="{'opened': !facebookToggler, 'closed': facebookToggler}">
          <div class="facebook-block-content"
               ng-repeat="socialAccount in fractalAccountInfo.currentTeam.socialAccounts">
            <div ng-if="socialAccount.social.socialType === 'Facebook'">
              <div ng-if="socialAccount.flagged && !socialAccount.hideWarning"
                   class="col-md-24 centered social-account-warning">
                {{ 'label.alignRightColumn.AccessToSocialAccountExpired' | translate }}
                <button class="btn-solid btn-outline" ng-click="socialAccount.hideWarning = true;">
                  {{'label.alignRightColumn.Cancel' | translate}}
                </button>
                <button class="btn-solid btn-primary" ng-click="addFacebook()">{{'label.alignRightColumn.LogBackIn' |
                  translate}}
                </button>
              </div>
              <h6>Facebook Ad Accounts ({{ socialAccount.fbAccounts.length }})</h6>
              <span class="facebook-toggler" ng-click="toggleAdAccounts = !toggleAdAccounts">
                <i ng-if="toggleAdAccounts" class="fa fa-angle-left"></i>
                <i ng-if="!toggleAdAccounts" class="fa fa-angle-down"></i>
              </span>

              <div class="ad-accounts-block">
                <div ng-show="!toggleAdAccounts" class="acc-block"
                     ng-repeat="fbAccount in socialAccount.fbAccounts | limitTo:initFbAdValue | orderBy:'name'">
                  <p>{{fbAccount.accountId}} ({{fbAccount.name}}, {{fbAccount.currency}})
                  <span ng-if="fbAccount.flagged" class="tooltipped tooltipped-w tooltip-icon pull-right"
                        aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
                       <i class="fa fa-info-circle"></i>
                  </span>
                  </p>
                </div>
                <div class="show-more-block" ng-show="!toggleAdAccounts">
                  <a href="" ng-click="showAllFbAdAccounts(); toggleFbAds = !toggleFbAds" class="show-more-sidebar"
                     ng-if="fbAdsCounter > 3">
                    <span ng-if="!toggleFbAds">Show {{ (fbAdsCounter - initFbAdValue) }} more Ad Accounts </span>
                    <span ng-if="toggleFbAds">Hide </span>
                    <!-- <i ng-if="!toggleFbAds" class="fa fa-angle-left"></i>
                    <i ng-if="toggleFbAds" class="fa fa-angle-down"></i> -->
                  </a>
                </div>
              </div>
              <h6>Facebook Pages ({{ socialAccount.pages.length }})</h6>
              <span class="facebook-toggler" ng-click="togglePages = !togglePages">
                <i ng-if="togglePages" class="fa fa-angle-left"></i>
                <i ng-if="!togglePages" class="fa fa-angle-down"></i>
              </span>

              <div ng-show="!togglePages" class="pages-block"
                   ng-repeat="page in socialAccount.pages | limitTo:initFbPagesValue | orderBy:'pageName'">
                <div ng-if="!page.image" class="teams-facebook-no-team-image"></div>
                <div ng-if="page.image" style="display: inline-block;">
                  <img ng-src="{{ page.image }}">
                </div>
                <p style="display: inline-block; margin-left: 10px;">{{page.pageName}}</p>
                <span ng-if="page.flagged" class="tooltipped tooltipped-w tooltip-icon pull-right"
                      aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
                    <i class="fa fa-info-circle"></i>
                </span>
              </div>
              <div class="show-more-block" ng-show="!togglePages">
                <a href="" ng-click="showAllFbPages(); toggleFbPages = !toggleFbPages" class="show-more-sidebar"
                   ng-if="fbPagesCounter > 3">
                  <span ng-if="!toggleFbPages">Show {{ (fbPagesCounter - initFbPagesValue) }} more pages </span>
                  <span ng-if="toggleFbPages">Hide </span>
                  <!-- <i ng-if="!toggleFbPages" class="fa fa-angle-left"></i>
                  <i ng-if="toggleFbPages" class="fa fa-angle-down"></i> -->
                </a>
              </div>
            </div>
          </div>
          <button ng-if="!facebookConnectOption" class="btn-solid btn-facebook-account" ng-click="addFacebook()">
            <span class="fa fa-facebook"> </span> {{ 'label.alignRightColumn.ConnectToFacebook' | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- Twitter -->
    <div class="sidebar-block tooltipped tooltipped-w" aria-label="{{'label.alignRightColumn.AddTwitterprofilesandadaccounts' | translate }}">
      <div class="sidebar-block-header clickable" ng-init="twitterToggler = true;">
        <div class="sidebar-collapse-part"
             ng-click="twitterToggler = !twitterToggler; sidebarBlockCollapse('twitter')">
          <span class="fa fa-twitter"> </span>
          <h4>{{ 'label.alignRightColumn.ManageTwitter' | translate }}</h4>
        </div>
        <i ng-if="twitterConnectOption" class="fa fa-cog" ng-click="addTwitter()"></i>
      </div>
      <div class="slide-container" ng-class="{'trimed-block': trimTwitter}">
        <div class="sidebar-block-content facebook-block slider"
             ng-class="{'opened': !twitterToggler, 'closed': twitterToggler}">
          <div class="facebook-block-content"
               ng-repeat="socialAccount in fractalAccountInfo.currentTeam.socialAccounts">
            <div ng-if="socialAccount.social.socialType === 'Twitter'">
              <div>
                <h6>{{ 'label.alignRightColumn.TwitterAdAccounts' | translate }} ({{ socialAccount.twAccounts.length }})</h6>
                <span class="facebook-toggler" ng-click="toggleTwAdAccounts = !toggleTwAdAccounts">
                  <i ng-if="toggleTwAdAccounts" class="fa fa-angle-left"></i>
                  <i ng-if="!toggleTwAdAccounts" class="fa fa-angle-down"></i>
                </span>

                <div class="ad-accounts-block">
                  <div ng-show="!toggleTwAdAccounts" class="acc-block"
                       ng-repeat="account in socialAccount.twAccounts | orderBy:'name'">
                    <p>
                      {{ account.accountId }} ({{ account.name }})
                      <span ng-if="account.flagged" class="tooltipped tooltipped-w tooltip-icon pull-right"
                            aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
                         <i class="fa fa-info-circle"></i>
                      </span>
                    </p>
                  </div>
                </div>

              </div>
              <div>
                <h6>{{ 'label.alignRightColumn.TwitterPromotableUsers' | translate }} ({{ getNumTwitterPages(socialAccount.twAccounts) }}) </h6>
                <span class="facebook-toggler" ng-click="toggleTwPages = !toggleTwPages">
                  <i ng-if="toggleTwPages" class="fa fa-angle-left"></i>
                  <i ng-if="!toggleTwPages" class="fa fa-angle-down"></i>
                </span>

                <!-- <div ng-show="!toggleTwPages" class="pages-block">
                  <div ng-if="!socialAccount.social.image" class="teams-facebook-no-team-image"></div>
                  <div ng-if="socialAccount.social.image" style="display: inline-block;">
                    <img ng-src="{{ socialAccount.social.image }}">
                  </div>
                  <p style="display: inline-block; margin-left: 10px;">{{socialAccount.social.socialUsername}}</p>
                </div> -->
                <div class="pages-block">
                  <div ng-show="!toggleTwPages" class="acc-block"
                       ng-repeat="account in socialAccount.twAccounts | orderBy:'name'">
                    <p ng-repeat="user in account.promotableUsers track by $index">
                      @{{ user.screenName }}
                     <!--  <span ng-if="account.flagged" class="tooltipped tooltipped-w tooltip-icon pull-right"
                            aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
                         <i class="fa fa-info-circle"></i>
                      </span> -->
                    </p>
                  </div>
                </div>

                <!-- <div ng-repeat="account in socialAccount.social | orderBy:'name' | limitTo:initTwitterValue" class="twitter-block">
                  <p>{{ account.name }}</p>
                </div>               -->
              </div>
            </div>
          </div>
          <div class="show-more-block">
            <a href="" ng-click="showAllTwitters(); toggleTwitter = !toggleTwitter" class="show-more-sidebar"
               ng-if="twitterCounter > 3">
                <span
                  ng-if="!toggleTwitter">Show {{ (twitterCounter - initTwitterValue) }} more Twitter Accounts </span>
              <span ng-if="toggleTwitter">Hide </span>
            </a>
          </div>
          <button ng-if="!twitterConnectOption" class="btn-solid btn-twitter-account" ng-click="addTwitter()">
            <span class="fa fa-twitter"> </span> {{ 'label.alignRightColumn.ConnectToTwitter' | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- Adwords -->
    <div class="sidebar-block tooltipped tooltipped-w" aria-label="{{'label.alignRightColumn.AddGoogleadaccounts' | translate }}">
      <div class="sidebar-block-header clickable" ng-init="googleToggler = true;">
        <div class="sidebar-collapse-part" ng-click="googleToggler = !googleToggler; sidebarBlockCollapse('google')">
          <span class="fa fa-google"> </span>
          <h4>{{ 'label.alignRightColumn.ManageAdWords' | translate }}</h4>
        </div>
        <i ng-if="googleConnectOption" class="fa fa-cog" ng-click="addGoogle()"></i>
      </div>
      <div class="slide-container" ng-class="{'trimed-block': trimGoogle}">
        <div class="sidebar-block-content google-block slider"
             ng-class="{'opened': !googleToggler, 'closed': googleToggler}">
          <div class="google-block-content"
               ng-repeat="socialAccount in fractalAccountInfo.currentTeam.socialAccounts">
            <div ng-if="socialAccount.social.socialType === 'Google'">
              <div ng-if="socialAccount.flagged && !socialAccount.hideWarning"
                   class="col-md-24 centered social-account-warning">
                {{ 'label.alignRightColumn.AccessToSocialAccountExpired' | translate }}
                <button class="btn-solid btn-outline" ng-click="socialAccount.hideWarning = true;">
                  {{'label.alignRightColumn.Cancel' | translate}}
                </button>
                <button class="btn-solid btn-primary" ng-click="addGoogle()">{{'label.alignRightColumn.LogBackIn' |
                  translate}}
                </button>
              </div>
              <div ng-repeat="account in socialAccount.adwordsAccounts | orderBy:'name' | limitTo:initAdWordsValue"
                   class="adwords-block">
                <p>{{ account.name }}
                    <span ng-if="account.flagged" class="tooltipped tooltipped-w tooltip-icon pull-right"
                          aria-label="{{'label.align.addSocialAccount.RestrictedAccess' | translate}}">
                      <i class="fa fa-info-circle"></i>
                    </span>
                </p>
                <h6>Acct: {{ account.accountId }}</h6>
                <h6 class="currency-google">Currency: {{account.currency}}</h6>
              </div>
            </div>
            <div class="show-more-block">
              <a href="" ng-click="showAllAdwords(); toggleGoogle = !toggleGoogle" class="show-more-sidebar"
                 ng-if="adWordsCounter > 3">
                  <span
                      ng-if="!toggleGoogle">Show {{ (adWordsCounter - initAdWordsValue) }} more AdWords Accounts </span>
                <span ng-if="toggleGoogle">Hide </span>
                <!-- <i ng-if="!toggleGoogle" class="fa fa-angle-left"></i>
                <i ng-if="toggleGoogle" class="fa fa-angle-down"></i> -->
              </a>
            </div>
          </div>
          <button ng-if="!googleConnectOption" class="btn-solid btn-google-account" ng-click="addGoogle()">
            <span class="fa fa-google"> </span> {{ 'label.alignRightColumn.ConnectToGoogleAdWords' | translate }}
          </button>
        </div>
      </div>
    </div>


    <!-- Team Assets -->
    <div class="sidebar-block last-block">
      <div class="sidebar-block-header library">
        <h4 class="team-name tooltipped tooltipped-w"
            aria-label="{{'label.align.tooltip.Organizeyourcampaign' | translate}}">
            {{'label.alignRightColumn.TeamAssets' | translate }}</h4>
      </div>
      <div class="sidebar-block-content sidebar-library">
        <div class="library-block tooltipped tooltipped-w" ng-click="openLibrary('Images')"
             aria-label="{{'label.align.tooltip.CreativeImageAssets' | translate}}">
          <div class="library-type-icon">
            <i class="fa fa-picture-o"></i>
          </div>
          <p>{{ 'label.alignRightColumn.Images' | translate }}</p>
        </div>
        <div class="library-block tooltipped tooltipped-w" ng-click="openLibrary('Videos')"
             aria-label="{{'label.align.tooltip.CreativeVideoAssets' | translate}}">
          <div class="library-type-icon">
            <i class="fa fa-video-camera"></i>
          </div>
          <p>{{ 'label.alignRightColumn.Videos' | translate }}</p>
        </div>
        <div class="library-block tooltipped tooltipped-w" ng-click="openLibrary('Campaigns')"
             aria-label="{{'label.align.tooltip.Reloadapastcampaign' | translate}}">
          <div class="library-type-icon">
            <i class="fa fa-file"></i>
          </div>
          <p>{{ 'label.alignRightColumn.CampaignTemplates' | translate }}</p>
        </div>
        <div class="library-block tooltipped tooltipped-w" ng-click="openLibrary('Combos')"
             aria-label="{{'label.align.tooltip.ReloadadCombotemplates' | translate}}">
          <div class="library-type-icon">
            <i class="fa fa-files-o"></i>
          </div>
          <p>{{ 'label.alignRightColumn.ComboTemplates' | translate }}</p>
        </div>
        <div class="library-block tooltipped tooltipped-w" ng-click="openLibrary('Audiences')"
             aria-label="{{'label.align.tooltip.Addyourownlist' | translate}}">
          <div class="library-type-icon">
            <i class="fa fa-users"></i>
          </div>
          <p>{{ 'label.alignRightColumn.Audiences' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
