<form ng-submit="passwordCheck()" name="form.passwordCheck" id="checkPassword" novalidate>
  <div class="modal-body modal-body-members">
    <h3>{{'label.myUserSettings.ChangeEmail' | translate}}</h3>
    <br>
    <span>{{'label.myUserSettings.Youareabouttochangeyouremailfrom' | translate}}<b>{{user.email}}</b> {{'label.myUserSettings.to' | translate}} <b>{{changeEmailData.newEmailAddress}}</b>.</span>
    <br><br>
    <span>{{'label.myUserSettings.Pleaseconfirmthischangebyenteringyourpassword' | translate}}</span>
    <br><br>
    <span>{{'label.myUserSettings.Afterchangingyouremailyouwillbeloggedout' | translate}}</span>
    <div class="form-group">
      <h4>{{'label.myUserSettings.Password' | translate}}<font color="red">*</font></h4>
      <input fs-enter="passwordCheck()" fs-focus-input="{{focusPasswordInput}}" type="password" ng-minlength="6" placeholder="{{'label.myUserSettings.Password' | translate}}" ng-model="password" class="form-control" required>
    </div>
  </div>
  <div class="modal-footer modal-members-footer">
    <button class="btn-solid" type="submit" ng-disabled="processing || !form.passwordCheck.$valid">{{'label.myUserSettings.Check' | translate}}</button>
  </div>
</form>
