//daterangepicker

.fs-dropdown.fs-datepicker{
  .datetimepicker{
    margin-top: -18em;
    tbody{
      background-color: @pale;
    }
    thead{
      background-color: @tin-heavy;
      color: @pale;
      th{
        &:hover{
          background-color: @tin-light;
        }
      }
    }
    .table td, .table th{
      border-radius: 0;
      -webkit-border-radius: 0;
    }
    .table td{
      &:hover, &.active{
        // border-radius: 24px;
        // -webkit-border-radius: 24px;
        background-color: @nature-heavy;
        background-image: none;
        color: @pale;
      }
    }

    .hour-view, .minute-view{
      td{
        &:hover, &.active{
          border-radius: 0px;
          -webkit-border-radius: 0px;
          background-image: none;
          background-color: @pale;
          color: @tin-light;
          background-image: none;
        }

        span{
          &:hover{
            // -webkit-border-radius: 24px;
            background-color: @nature-heavy;
            background-image: none;
            color: @pale;
            // border-radius: 24px;
          }
        }
        color: @tin-light;
        background-color: @pale;
      }
    }

    .minute-view{
      margin-top: 4.5em;
    }

  }

  .fs-dropdown-menu{
    outline: none;
    border: none;
    background-color: inherit;
  }
}

.campaign-creation-summary-data-picker select.ampmselect{
  width: 3em !important;
}

.fb-preview-container{
  .iframe-container{
    margin-top: -2em;
  }
  iframe{
    transform: scale(0.8, 0.8);
    margin-left: -2.5em;
    display: block;
    width: 120%;
    height: 500px;
  }
}

.post-box{
  overflow: scroll;
}

.adv-dem-divider{
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.creative-preview-container{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
  display: inline-block;
}

.new-post-container{
  margin-top: 4em;
}

.raise-text{
  margin-top: -0.3em;
}

.tree-list{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.add-targeting-spec-button{
  padding: 0.4em 0.7em;
  font-size: 1em;
  line-height: 2em;
}

.audience-modal-header{
  border-bottom: 2px solid @mono-light;
  min-height: 3.5em;
}

.primary-targeting-header{
  padding-top: 13px;
  border-top: 2px solid @mono-light;
}

.age-range-slider-block{
  background-color: @pale;
  height: 2.3em;

  outline: 1px solid @pale-heavy;
}

input[type="checkbox"] + label.conversion-value:before {
  top: 4px;
}



.page-selected {
  // font-weight: bold;
  border-radius: 50%;
  background-color: @nature-light;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
  padding-bottom: 2px;
  height: 1em;

  border: 1px solid;
  border-color: darken(@nature-light, 10%);
  text-align: center;
}

.page-arrow-container{
  // float: left;
  // position: absolute;
  // top: 13px;
  // right: 230px;
  display: inline-block;
  float: right;
  .page-arrow-label{
    font-size: 0.75em;
  }
}

.tree-list-item{
  background-color: @pale;
  // padding: 1em;
  padding-left: 0.5em;
  outline: 1px solid @pale-heavy;
  color: darken(@mono-light, 15%);
  .expand-nodes{
    padding: 0.75em;
  }
  label{
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .tree-list-children{
    list-style-type: none;
    > li{
      padding-left: 0.5em;
      &.selectNode, &.nodeSelected{
        cursor: pointer;
        padding: 0.5em;
      }
      &.nodeSelected{
        background-color: @nature-light;
        &:hover{
          background-color: darken(@nature-light, 10%);
        }
      }
      &.selectNode:hover{
        background-color: @nature-light;
        &.nodeSelected:hover{
          background-color: darken(@nature-light, 10%);
        }
      }
    }
  }

  .behavior-description{
    font-size: 0.75em;
    clear: both;
    display: block;
    line-height: 1.5em;
  }
}

.project-selection{
  margin-top: 20vh;
}

.mar-left{
  margin-left: 1em;
}

.expand-nodes {
  cursor: pointer;
}

.preview-error-container{
  outline: 2px solid @cherry-dark;
  // background-color: @cherry-light;
  color: @cherry-dark;
  padding: 1em;
  margin-top: 1em;
}

.combo-creative-and-placement-button {
  position: relative;
  display: block !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  cursor: pointer;
  line-height: 8.75em;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid;
}

.btn-margin {
  margin-bottom: 1em;
}

.menu-indicator{
  font-size:1em;
}
.menu-indicator:before {
  content: '\25CB';
  position: absolute;
  left:3em;
}
.menu-indicator.active:before {
  content: '\25CF';
}

.add-placement-button {
   .combo-creative-and-placement-button;
}

.add-audience-button {
   .combo-creative-and-placement-button;
}
.add-audience-step-header {
  margin-bottom: 10px !important;
}

.audience-header-child {
  padding-bottom: 1.5em;
}

.input-formating-follower {
  padding-left: 0;
  margin-bottom: 1em;
  margin-top: .5em;
}

.combo-dropdown-options {
  width: 20em;
}

.panel-combo {
  background-color: @white-half;
  border: 0px;

  .manage{
    &:hover{
      outline: 2px solid @nature-heavy;
    }
  }
}

.editable{
  cursor: pointer;
  border: 2px solid transparent;
  &:hover{
    border: 2px solid @nature-heavy;
  }
}

.fs-dropdown{
  &.projects{
    margin-top: 0;
    height: 2.6em;
    font-size: 1.1em;
  }
}

.progress-header{
  background-color: @pale;
  h4{
    font-weight: normal;
    color: @tin-heavy;
  }
}

.no-mar{
  margin: 0;
}

.progress-container{
  padding: 0;
  padding-bottom: 1.5em;
  background-color: @pale-medium;
  margin-bottom: 1em;
  border-top: 1px solid @pale-heavy;
  .progress-indicator{
    padding: 0.4em;
    // text-align: center;
    // line-height: 20px;
    // height: 2.5em;
    width: 100%;
    // margin-top: 0.5em;
    &:hover{
      background-color: darken(@nature-light, 5%);
    }

    span{
      margin-left: 2em;
      vertical-align: middle;
    }

    &.progress-on-page{
      background-color: @nature-light;
      i{
        color: lighten(@nature-light, 5%);
      }
    }

    &.progress-not-on-page{
      .fa-check{
        color: darken(@nature-light, 10%)
      }
    }

    &.progress-valid{
      .fa-check{
        color: darken(@nature-light, 10%)
      }
    }

    i{
      color: @pale-heavy;
      text-align: left;
      margin-right: 0.75em;
      font-size: 1.25em;
      vertical-align: middle;
    }
  }
}

.roi-checkbox{
  margin-left: 0.5em;
}

.select-dropdown{
  font-size: 20px;
  width: 100%;
  height: 45px;
  background: @pale;
}

.variant-pill{
  border-radius: 2px;
  color: @mono-heavy;
  background-color: @pale-heavy;
  float: left;
  padding: 0.6em;
  margin-right: .4em;
  margin-bottom: .4em;
  .remove-pill{
    display: none;
  }
  &:hover{
    .remove-pill{
      display: block;
      float: right;
      margin-right: -0.5em;
      margin-top: -1.25em;
    }
  }
}

.accordion-body{
  .variant{
    margin-left: 0.5em;
  }
}

.variant {
  padding: 1em;
  cursor: pointer;
  outline: 2px solid @pale-heavy;
  margin-bottom: 1em;
}

.selectedVariant{
  background-color: @pale;
}

.variant:hover .remove-variant{
  display: block;
}

.accordion .accordion-group .accordion-header {
  border-top: 1px solid @mono-light;
  border-bottom: 1px solid @mono-light;
}
&.open .accordion-header{
  background-color: @nature-light;
}

.remove-variant{
  margin-right: -0.45em;
  float: right;
  margin-top: -0.6em;
  display: none;
  font-size: 1.5em;
}

.no-pills-label{
  float: left;
  font-size: .8em;
  font-style: italic;
  margin-left: 1em;
}

.remove-pill{
  float: right;
  margin-top: -1em;
  cursor: pointer;
  font-size: 1em;
  padding-top: 0.3em;
}

.variants-container{
  margin-top: 1em;
}

.suggestions-container, .selected-keywords-container{
  border: 1px solid @mono-light;

  &.placeholder{
    color: darken(@pale-dark, 20%);
  }
}

.variant-divider{
  clear: left;
}

.margin-top65 {
  margin-top: 65px;
}

.margin-top10{
  margin-top: 10px;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-1- {
  margin-top: -1em;
}

.margin-top-17px- {
  margin-top: -17px;
}

.audience-label {
  margin-bottom: 15px;
}

.keyword-label {
  margin-top: 0.5em;
}

//Keywords styles

.selected-keywords-container{
  border: 0;
  width: 100%;
  resize: none;
  border: 1px solid @mono-light;
}
.number-bubble{
  margin-right: 0.25em;
}

.selected-keywords-container,
.suggestions-container{
  min-height: 25em;
  background-color: @pale-light;
  padding: 1em;

  &:focus{
    background-color: @pale;
    border: 1px solid @mono-light;
    outline: none;
  }
  .suggestions-header{
    // border-bottom: 2px solid @pale-heavy;
    .add-all-container{
      i{
        padding-right: 1em;
        padding-bottom: 1em;
        color: @mono-light;
      }
    }
  }
  .keyword-suggestion{
    // margin: 0.2em;
    margin-bottom: 0.2em;
    cursor: pointer;
    &:hover{
      background-color: @nature-light;
    }
    i{
      color: @mono-light;
    }
  }

  .keyword-form{

    .keyword-search{
      width: 100%;
      border: 1px solid @pale-heavy;
      padding: 0.3em;
      margin-bottom: 0.5em;
       &:focus{
          background-color: @pale;
          outline: none;
        }
    }

    i{
      position: absolute;
        right: 40px;
        top: 50px;
        color: @mono-heavy;
        cursor: pointer;
        &:hover{
          color: @mono-medium;
        }
    }

  }

}

.keyword-error-container{
    line-height: 20px;
  padding: 0.5em;
  background-color: @pale;
  outline: 1px solid @cherry-heavy;
  // margin: 0 auto;
  // margin-bottom: 1em;
  font-size: 0.75em;
  margin-top: 2em;
}

.keywords-container{
  .apply-all{
    float: right;
  }

  .keyword-pill{
    border-radius: 2px;
    float: left;
    border: 1px solid lighten(@slate-short, 20%);
    color: lighten(@slate-short, 20%);
    padding: 0.25em;
    margin: 1em;
  }
}


.keywords-modal-footer{
  background-color: darken(@body-bg, 5%);
}

.ex-filled{
  .accordion-group{
    border-left: 4px solid @nature-heavy;
  }
}

.extension-container{
  border: 2px solid @pale-heavy;
  color: @mono-heavy;
  background-color: @pale;
  font-size: 1.1em;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  &:hover{
    .remove-ex{
      display: block;
    }
  }
  .ex-header{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
  }

  .remove-ex{
    display: none;
    cursor: pointer;
    margin-top: -0.5em;
  }

  .site-link-desc{
    color: @mono-light;
  }
}

.extension-form-container{
  input{
    width: 100%;
  }

  .footer{
    background-color: darken(@body-bg, 5%);
    padding: 1em 1em 3em 0;
    margin-top: 1em;
    .btn{
      margin-left: 1em;
    }
  }
}

.audience-container{
      .accordion-group{
        .accordion-header{
          border: 2px solid @pale-heavy;
          border-bottom: 1px solid @pale-heavy;
          border-top: 1px solid @pale-heavy;
          padding-left: 1em !important;
          font-size: 0.8125em;
          text-transform: uppercase;
          font-family: 'Raleway', Verdana;
          margin: 0;
          font-weight: normal;
          color: #9b9b9b;
          i{
            font-size: 1.5em;
            color: @mono-light;
          }
        }
        .accordion-body{
          border: 2px solid @pale-heavy;
          border-bottom: 1px solid @pale-heavy;
          border-top: 1px solid @pale-heavy;
        }
      }
    .accordion-group{
      &.open .accordion-header{
        background-color: @nature-light;
      }


      .closed-ca-accordion{
        .accordion-header{
          background-color: initial;
        }
      }

    }


    &.modal-footer{
      .btn-solid, .btn-outline{
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 3em;
        padding-right: 3em;
      }
    }

    // input[type="text"]{
    //   border: 2px solid @pale-heavy;
    //   border-radius: 2px;
    //   &:focus{
    //     outline: none;
    //   }
    // }

    input[type="radio"] + label[button]{
      padding-left: 1.2em;
      padding-right: 1.25em;
    }

    .age-range-dash{
      font-size: 4em;
      color: @mono-light;
    }
    .addCity{
      margin-top: 8.4em;
    }
}


// ng-atp styles

// .audience-form-container,
// .aw-audience-form-container {



// }
  [ng-atp]{
    input{
      background: white;
    }
  }

  [ng-atp]{
    input{
      background: white;
    }
  }

  [ng-atp-suggestions] {
    background: white;
    margin: 0;
    margin-top: 2px;
    padding: 1px 0 0 0;
    border: 1px solid  @smoke-mid;
    border-top: 1px solid  @smoke-long;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 17px 0px;
    z-index: @zindex-modal + 1;
  }
  [ng-atp-suggestions] li {
    list-style-type: none;
    border-bottom: 1px solid #efefef;
    padding: 0.25rem 0.5rem;
    margin-top: -1px;
    cursor: pointer;
  }
  [ng-atp-suggestions] li.selected {
    background: @nature-light;
    outline: none;
  }
  [ng-atp-suggestions] li:hover{
    border-bottom: 1px solid #eaeaef;
  }
  [ng-atp-suggestions] li:last-child {
    border: none;
  }
  input[disabled].tt-hint {
    &:extend(.form-control);
    &:extend(.form-control-small);
    position:absolute;
    background: transparent;
    width:100%!important;
    z-index: @zindex-modal;
    top: 0; left: 0;
    border: 1px solid transparent!important;
    outline:none;
    opacity: 0.75;
  }
// .form-control{
//  padding: 3px 8.2px;
//  resize: vertical;
// }

.vertical-line {
  border-left: 1px solid @mono-light;
  margin-left: 2.5em;
  padding-left: 2.5em;
  margin-top: 1em;
  padding-bottom: 2.5em;
}

.load-combo-button{
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.empty-settings-form-5 {
  margin-top: 5em;
}
.empty-settings-form-3 {
  margin-top: 3em;
}

.label-variant {
  .label;
  display: block;
  margin-bottom: 1em;
  padding: 0.75em;
  background-color: #808080;
  border: 1px solid #E2DFDC;
}

.centered {
  text-align: center;
}

.aw-headline {
  color: #403FCC;
  &.preview {
    margin-top: -25px;
  }
}

.aw-url {
  color: #629B60;
}

.fixed-height-less-50 {
  height: 350px;
}

.aw-creative-preview-wrapper {
  border-width: 1px;
  border-color: #E2DFDC;
  border-style: solid;
  padding: 0.75em;
  margin-top: 0.5em;
}

.tw-creative-preview-wrapper {
  border-width: 1px;
  border-color: #E2DFDC;
  border-style: solid;
  padding: 0.75em;
  margin-top: 0.5em;
  overflow: auto;
}

.tw-tweet-wrapper{
  iframe{
    width: 100%;
    border: none;
  }
}

.spec-type-button-container{
  background-color: @white;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  .btn-secondary{
    padding: 0.5em 1.5em;
    font-weight: bold;
    font-size: 1em;
    margin: 0.25em;
  }
}

.campaign-right-menu-left-button {
  padding-left:0;
}

.campaign-right-menu-right-button {
  padding-right:0;
}

.progress-indicator-triangle {
  .centered;
  display: block;
  margin-top: -1em;
}

.channel-settings-button {
  .btn-primary;
  .btn-outline;
  .btn-margin;
  .menu-indicator;
  .pointer;
}


.mar-left{
  margin-left: 1em;
}

.radio-toggle-container{
  .radio-toggle{
    margin-bottom: 1.25em;
  }
}

.radio-toggle{
  margin-bottom: 1.25em;
  .radio-toggle-value{
    color: @mono-medium;
    &.valueSelected{
      color: @white;
    }
  }
}

.toggle-container{
  .toggle{
    font-size: 1em;
    padding-bottom: 0.25em;
    margin-right: 1em;
  }
}

.date-time-picker-input {
  width: 18em;
}

.error-message {
  font-size: 12px;
  margin-left: 1em;
  color:@cherry-heavy;
  line-height: 1em;
  margin-top: 0.5em;
}

.warning-message {
  font-size: 12px;
  margin-left: 1em;
  color: @citrus-medium;
  line-height: 1em;
  margin-top: 0.5em;
}

.estimated-reach-title {
  margin-top: -0.75em;
}

.form-control.ng-invalid{
  border-color:@cherry-heavy;
}

.form-control.ng-pristine {
  border-color: @mono-light;
}

.overflow-auto {
  overflow: auto;
}

.one-hundred-percent {
  width: 100%;
}

.no-change-on-social-channel-warning {
  margin-top: 1em;
  color: @tin-heavy;
  background-color: @mono-light;
  border: 1px solid @mono-medium;
}

.confirmation-dialog-buttons{
  text-align: right;
  margin-top: 1em;

}
.combo-margin-bottom {
  margin-bottom: 2em;
}

.red-asterisk{
  color: red;
  font-size: 20px;
  display: inline-block;
}

.post-list-header{
  clear: both;
}
.note{
  font-size: 0.75em;
}
.post-list-container{
  height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid @mono-light;
  padding: 1em;
  clear: both;
  ul{
    padding-left: 0;
    list-style: none;
    li{
      margin-bottom: 0.5em;
      background-color: @white;
      padding: 0.5em;
      cursor: pointer;
      i{
        display: none;
      }
      &.post-selected{
        outline: 2px solid @nature-heavy;
        i{
          margin: 0.15em;
          display: block;
        }
      }
      &:hover{
        background-color: @nature-light;
      }
      img{
        width: 4em;
      }
    }
  }
}

.post-list-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  background-color: @pale-light;
}

.post-list-container::-webkit-scrollbar
{
  width: 8px;
  background-color: @pale-medium;
}

.post-list-container::-webkit-scrollbar-thumb
{
  background-color: @nature-heavy;
  border: 2px solid transparent;
}

.campaign-creation-budget-bold div {
  font-weight: bold;
}

.ad-account-currency-message {
  .bid-and-cpa-message;
  margin-top: 1em;
}

.bid-and-cpa-message {
  font-size: 10pt;
  line-height: 1.5em;
}

.campaign-info-title {
  line-height: 1em;
}

.header-btn {
  margin-right: 1vw;
  margin-top: -1vh;
}

.btn-text-modal {
  width: 5vw;
  float: right;
  margin-left: 2vw;
  margin-right: 6vw;
  margin-top: 1vh;
  min-width: 50px;
  &.fb-interest-button {
    margin-left: 0;
    margin-top: 0;
  }
}

.text-copy-paste {
  width: 25vw;
}

.campaign-settings-or-label {
  margin-top:.75rem;
  .text-center;
}

.product-card-container {
  border: 1px solid @mono-light;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.product-cards-container {
  border: 1px solid @mono-light;
  padding: 1em;

  height: 550px;
  overflow-y: scroll;
  margin-bottom:1em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}
.margin-top-4 {
  margin-top:4em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2- {
  margin-top: -2em;
}

.margin-top-075 {
  margin-top: 0.75em;
}

.campaign-settings-or-label {
  margin-top:.75rem;
  .text-center;
}


.load-combo-templates {
  .text-right;
  z-index:999;

}

.combos-tabs {
  .fs-tabset-nav {
    margin-left: -0.3em;
    margin-right: -0.5em;
    margin-bottom: 2em;
  }
}
.combo-header-description {
  margin-bottom: .5em;
  span {
    font-size: 0.9em;
  }
}

.campaign-date-message {
  line-height: 1em;
  margin-top: 0.5em;
  font-size: 12px;
  margin-left: 1em;
}

.tracking-in-url {

  font-size: 12px;
  float: right;

  &.found {
    color: @nature-heavy;
  }

  &.not-found {
    .error-container;
  }
}

.paste-data-area {
  height: 10em;
  resize: vertical;
}

.tracking-verify-loading {
  height: 50%;
  width: 50%;
}
.creative-image {
  display: inline-block;
  max-width: 100% !important;
  max-height: 60px !important;
}

.url-errors-list {
  margin: 0;
}

// Combo Animation
@keyframes combo-animation {
  from {max-height:0px; background-color: @mono-heavy;}
  to {max-height: 600px; background-color: @mono;}
}

/* The element to apply the animation to */
.combo-animation {
  animation-name: combo-animation;
  animation-duration: 1s;
  overflow: hidden;
}

// End Combo Animation

.absolute-right {
  position: absolute;
  right: 4em;
  z-index: 1;
}

.false-fs-select {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #ffffff;
  outline: 1px solid #dadbdb;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.add-variant-container {
  &.variant-right {
    float: right;
  }
  &.variant-right-two {
     float: right;
  }
  // padding: .25em;
  // margin-top: 1em;
  // vertical-align: middle;
  .add-variant {
    padding: 0.4em 0.7em;
    line-height: 2em;
  }
  a {
    color: @mono-heavy;
    font-size: 1em;
    text-decoration: none;
    &:hover {
      color: @mono-medium;
    }
  }
}

.allocation-strategy-container {
  margin-top: 2em;
  color: @mono-heavy;
  //font-size: 11pt;
  line-height: 1em;
  border: 1px solid @mono-light;
  padding: 0.5em;
  margin-left: 3.25%; // To have the right border of allocation stragety aligned with the right part of campaign name and goal inputs

  .text {
    color: @mono-heavy;
    font-size: 9pt;
    line-height: 1em;
  }
}

.campaign-summary-icon {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

.combo-buttons {
  margin-top: -0.5em;
  margin-left: -1em;
}

.campaign-breadcrumbs {
  margin-top: 1em;
  margin-bottom: 2.75em;

  div {
    position:relative;
    display: inline-block;
    background-color: #8D9194;
    color: white;
    height: 24px;
    font-size: 13px;
    margin-left: -0.25em;
    padding-left: 2.25em;
    padding-right: 0.5em;

  }

  div:after {
    color: #ffffff;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #8D9194;
    border-top: 12px solid transparent;
    content: " ";
    display: block;
    height: 0;
    left: 100%;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 2;
  }

  div.past {
    background-color: #D6D6D6;
    color:#8D9194;
    cursor: pointer;
    //background-color: red;
  }

  div.past:after {
    color: #ffffff;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #D6D6D6;
    border-top: 12px solid transparent;
    content: " ";
    display: block;
    height: 0;
    left: 100%;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 2;
  }
}

.budget-policy-container {
  margin-left: 0.05em;
  height: 4.5em;
}

.channel-budget-container {
  .btn.toggle {
    margin-left: 1.5em;
  }
}
.advance-settings-button {
  margin-left: 1.15em;
}

.radio-toggle-margin {
  margin-top: 0.30em;
  margin-bottom: 2.85em;
}

.hide-budget-in-input {
  color: @pale-heavy !important;
}
.warning-border {
  border: 1px solid @citrus-medium;
}

.error-panel {
  padding-top: 1em;
  padding-bottom: 1.25em;
  margin-right: 1em;
  margin-left: 1em;
  background-color: @cherry-light;
  border: 1px solid @cherry-medium;
}

.low-reach-cell {
  width: 50%;
  padding: 0.50em;
}
.facebook-suggestion-check {
  display: inline-block;
}
.facebook-suggestion-check-load {
  display: inline-block;
}

.instagram-radio-toggle {
  margin-top: -1.5em;
  margin-bottom: -2em;
}