<div fs-permission="<MANAGE_EXISTING_CAMPAIGNS>">
  <!-- Campaign Creation content -->
  <div class="col-md-18">
    <div ng-show="metadata.page === 1">
      <div ng-include="'app/main/act/campaignCreation/core/templates/settingsPage.html'"></div>
    </div>
    <div ng-show="metadata.page === 2">
      <div ng-include="'app/main/act/campaignCreation/core/templates/combosAndReviewPage.html'"></div>
    </div>
    <div ng-show="metadata.page === 3">
      <div ng-include="'app/main/act/campaignCreation/core/templates/combosAndReviewPage.html'"></div>
    </div>
  </div>
  <!-- End Campaign Creation content -->

  <!-- Right Menu-->
  <div sticky class="col-md-4 col-md-offset-1">
    <div class="row content-white progress-header">
      <h4 class="centered">{{ 'label.act.YourProgress' | translate }}</h4>
    </div>
    <div class="row content progress-container">
      <div class="margin-top10">
        <div ng-click="validateAndGoToPage(1)"
             ng-class="{ 'progress-valid' : campaign.isReadyForCombosPage, 'progress-on-page' : metadata.page === 1, 'progress-not-on-page' : metadata.page !== 1 }"
             class="progress-indicator pointer"
             ng-disabled="!campaign.settings.project">
                      <span>
                          <i class="fa"
                             ng-class="{'fa-circle':  !campaign.isReadyForCombosPage, 'fa-check': campaign.isReadyForCombosPage}"></i>
                          {{ 'label.act.Settings' | translate }}
                      </span>
        </div>
        <div ng-click="validateAndGoToPage(2)"
             ng-class="{ 'progress-valid' : campaign.areAllCombosValid() && metadata.page === 2, 'progress-on-page' : metadata.page === 2, 'progress-not-on-page' : metadata.page !==2 }"
             class="progress-indicator pointer tooltipped tooltipped-w"
             ng-disabled="!campaign.isReadyForCombosPage || metadata.isButtonToGoToCombosPageDisabled"
             aria-label="{{'label.act.tooltip.Asetoftargeting' | translate}}">
                    <span>
                        <i class="fa"
                           ng-class="{'fa-circle': !campaign.areAllCombosValid(), 'fa-check': campaign.areAllCombosValid()}"></i>
                        {{ 'label.act.Combos' | translate }}
                    </span>
        </div>
        <div ng-click="validateAndGoToPage(3)"
             ng-class="{ 'progress-valid' : campaign.areAllCombosValid() && metadata.page === 3, 'progress-on-page' : metadata.page === 3, 'progress-not-on-page' : metadata.page !== 3 }"
             class="progress-indicator pointer"
             ng-disabled="!campaign.isReadyForCombosPage || !campaign.areAllCombosValid() || metadata.isButtonToGoToSummaryPageDisabled">
                      <span>
                        <i class="fa fa-circle"></i>
                        {{ 'label.act.Summary' | translate }}
                      </span>
        </div>
      </div>
    </div>
    <!--  Page navigation menu-->
    <div class="">
      <!-- Settings page-->
      <div class="row" ng-show="metadata.page === 1">
        <button type="button"
             ng-click="validateAndGoToPage(2)"
             ng-disabled="!campaign.isReadyForCombosPage || metadata.isButtonToGoToCombosPageDisabled"
             class="btn-solid btn-primary btn-block">{{ 'label.act.Next' | translate }}
        </button>
      </div>
      <div class="row margin-top-1" ng-show="metadata.page === 1 && !campaign.settings.id ">
          <button class="btn btn-solid btn-block btn-primary"
                  ng-click="loadCampaignFromLibrary()">
            {{ 'label.act.LoadaSavedCampaign' | translate }}
          </button>
      </div>
      <!-- End Settings Page-->
      <!-- Combos page-->
      <div class="row" ng-show="metadata.page === 2">
        <div class="col-md-12 campaign-right-menu-left-button back">
          <a href
             ng-click="metadata.page = 1"
             class="btn-solid btn btn-block btn-tertiary">{{ 'label.act.Back' | translate }}
          </a>
        </div>
        <div class="col-md-12 campaign-right-menu-right-button">
          <a href
             ng-click="validateAndGoToPage(3)"
             ng-disabled="!campaign.areAllCombosValid() || metadata.isButtonToGoToSummaryPageDisabled"
             class="btn-solid btn-primary btn-block">{{ 'label.act.Next' | translate }}
          </a>
        </div>
      </div>
      <div class="row margin-top-1">
        <button class="btn btn-solid btn-block btn-primary"
                type="button"
                ng-show=" metadata.page === 2 "
                ng-click="campaign.addCombo(campaign.selectedChannel)">
          {{ 'label.act.AddaNewCombo' | translate }}
        </button>
      </div>
      <div class="row margin-top-1">
        <button ng-click="loadComboFromLibrary()"
                type="button"
                ng-show="metadata.page === 2"
                class="btn btn-solid btn-primary btn-block">{{ 'label.act.LoadSavedCombos' |
          translate }}
        </button>
      </div>
      <div class="row margin-top-1" ng-show="showBulkUpload">
        <button ng-click="openBulkUploadModal(campaign.selectedChannel, campaign.settings.goal.goalId)"
                type="button"
                ng-show="metadata.page === 2"
                class="btn btn-solid btn-primary btn-block">{{ 'label.act.BulkUpload' |
          translate }}
        </button>
      </div>
      <!-- End Combos page -->
      <!-- Summary page-->
      <div class="row" ng-show="metadata.page === 3">
        <button type="button"
                ng-click="metadata.page = 2"
                class="btn-solid btn btn-block btn-tertiary">{{ 'label.act.Back' | translate }}
        </button>
      </div>
      <div class="row margin-top-1" ng-show="metadata.page === 3">
        <button type="button"
                ng-click="campaign.saveToLibrary()"
                class="btn btn-solid btn-outline full-width">{{ 'label.act.SaveCampaignAsTemplate' | translate }}
        </button>
      </div>
      <!-- Launch Campaign -->
      <div class="row margin-top-1" ng-show="metadata.page === 3">
        <!-- If user has permission to launch campaign -->
        <button
            ng-disabled="campaign.isLaunchButtonDisabled || (campaign.estimatedReach && campaign.estimatedReach.facebook && campaign.estimatedReach.facebook < 1000) || campaign.overSubcampaignLimit"
            ng-click="publishCampaign()"
            type="button"
            fs-permission="<PRE_APPROVED_TO_LAUNCH_CAMPAIGNS>"
            class="btn btn-solid btn-primary btn-block">{{ 'label.act.LaunchCampaign' | translate }}
        </button>
        <!-- If user needs to ask for approval to launch campaign -->
        <button ng-click=""
                type="button"
                fs-permission="<REQUIRE_APPROVAL_BEFORE_LUNCHING>"
                class="btn btn-solid btn-primary btn-block">{{ 'label.act.Requesttolaunchcampaign' | translate }}
        </button>
      </div>
      <!-- End Launch Campaign -->
      <!-- End Summary page-->
    </div>
    <!--  END Right Menu-->
  </div>
</div>

<div class="row" fs-permission="!<MANAGE_EXISTING_CAMPAIGNS>">
  {{ 'label.act.Youdonthavethepermissiontomanagecampaigns' | translate }}
</div>

<fs-navigation-confirmation></fs-navigation-confirmation>
<!--{{campaign}}-->
<!--<div>----------------------------------</div>-->
<!--{{form}}-->

<script type="text/ng-template" id="campaign-creation-messages" class="error-message">
  <div ng-message="required" class="error-message"> {{ 'label.act.Thisfieldisrequired' | translate }}</div>
  <div ng-message="url" class="error-message"> {{ 'label.act.Theurlneedstobefullyformatted' | translate }}</div>
  <div ng-message="minlength" class="error-message"> {{ 'label.act.Inputtooshort' | translate }}</div>
  <div ng-message="maxlength" class="error-message"> {{ 'label.act.Exceededmaxlength' | translate }}</div>
  <div ng-message="number" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
  <div ng-message="min" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
</script>
