<div class="radio-toggle" ng-click="toggleValue()">
	<div class="radio-toggle-value" ng-class="{valueSelected: value === option1.value, notSelected: value !== option1.value}">
		{{ option1.label }}
	</div>

	<div class="radio-toggle-value" ng-class="{valueSelected: value === option2.value, notSelected: value !== option2.value}">
		{{ option2.label }}
	</div>
</div>
