<div class="card combos-card card-set-underline" sglclick="selectCard(card, $event)"
    ng-dblclick="loadOnDblClick(card, $event)" ng-class="{ selected:  containsObject(card, selectedCards) }">
	<div class="card-header">
		<i ng-show="containsObject(card, selectedCards)" class="selected-icon fa fa-check-circle"></i>
		<h4 title="{{ card.name }}">{{ card.name }}</h4>
		<!-- <hr></hr> -->
	</div>
	<div class="card-body campaign fleft" ng-repeat="channel in card.channels">
			<div>
				{{ channel.channelName }}
				<hr/>
			</div>
			<div>
				Combos: {{ channel.numberOfCombos }}
			</div>
			<div>
				Audiences: {{ channel.numberAudiences }}
			</div>
			<div>
				Creatives: {{ channel.numberCreatives }}
			</div>
	</div>
	<div class="card-footer-container">
		<p>Created: {{ card.modifiedOn | date: 'medium'  }}</p>
	  <i class="fa fa-trash-o fright" ng-click="deleteObject(card, $index); $event.stopPropagation();" title="Delete"></i>
	  <i class="fa fa-pencil-square-o" ng-click="editObjectName(card)" title="Edit Name"></i>
	</div>
</div>
