<confirmations-personal alert-data="libraryUploadingScreen"></confirmations-personal>
<div class="library-modal-container">
  <div class="modal-body">
    <div class="search-library-block" ng-show="!loadingLibraryCards">
      <i class="fa fa-search"></i>
      <input type="text" ng-model="query" class="form-control" placeholder="Search" ng-disabled="campaignCards.length < 1" ng-keypress="showResults()"/>
      <div class="fs-dropdown default library">
        <ul class="fs-dropdown-menu library-drop" ng-class="{'show-s': queryIn, 'hide-s': !queryIn || !query}">
          <li ng-repeat="card in campaignCards | filter:{name: query} | orderBy:name" ng-click="setQuery(card.name)">
            {{ card.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="lib-section-view">
        <div class="tabs-container">
          <div class="cards-container">
            <div class="col-md-8" ng-repeat="card in campaignCards | filter:{name: query} | orderBy:name track by $index">
              <div ng-include="'app/main/library/campaign/campaignsCard.html'"></div>
            </div>

            <div class="no-data-available" ng-show="campaignCards.length < 1 && !loadingLibraryCards">
              <h2>{{ 'label.library.No' | translate }} Campaigns {{'label.library.Available' | translate}}</h2>
            </div>

            <div class="no-data-available" ng-show="loadingLibraryCards">
              <div class="sp sp-bars"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lib-footer">
    <div ng-show="selectedCards.length > 0" >
      <div class="lib-button btn-solid btn-primary" ng-show="!disableLoadSelected" ng-click="loadSelectedCards(selectedCards)">
        {{ 'label.library.loadSelected' | translate}} ( {{ selectedCards.length }} )
      </div>
    </div>
  </div>
</div>
