<!-- Creative modal template for newsfeed placement -->
<div class="modal-body">
    <fs-tabset>
        <fs-tab is-open="newCreative.creative.adType === 'pagePost'"
                ng-click="switchCreativeAdType('pagePost')"
                class="product-tab">
            <tab-heading >{{ 'label.act.PagePostAd' | translate }}</tab-heading>
            <!-- We need the ng-if because all ad types share the same form: form.creative. If we remove it, the forms won't be validated properly-->
            <div class="product-tab-margin-bottom" ng-if="newCreative.creative.adType === 'pagePost'" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/mobileAppInstallsPagePost.html'"></div>
        </fs-tab>
        <fs-tab is-open="newCreative.creative.adType === 'videoAd'"
                ng-click="switchCreativeAdType('videoAd')"
                class="product-tab">
            <tab-heading>{{ 'label.act.VideoAd' | translate }}</tab-heading>
            <!-- We need the ng-if because all ad types share the same form: form.creative If we remove it, the forms won't be validated properly-->
            <div class="product-tab-margin-bottom" ng-if="newCreative.creative.adType === 'videoAd'" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/mobileAppInstallsVideo.html'"></div>
        </fs-tab>
    </fs-tabset>
</div>
