<!-- Creative modal template for mobile installs and mobile engagements -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-10"> <!-- Left part -->
            <!-- Select Facebook Page -->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/pageDropdown.html'"></div>
            <!-- Placement newsfeed only-->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div>
            <!-- Show the mobile platform selected -->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platformMobileOnly.html'"></div>
        </div>

        <div class="col-md-10 col-md-offset-2"> <!-- Right part -->
            <!-- Text -->
            <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
            <!-- Image -->
            <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Imagesscale1200x628' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/image.html'"></div>
            <!-- Headline -->
            <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Addaheadline' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/headline.html'"></div>
            <!-- Call To Action -->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/videoCallToAction.html'"></div>
            <!-- Deep Link -->
            <div class="form-group tooltipped tooltipped-e" aria-label="{{ 'label.act.Sendpeopletoaspecificlocation' | translate }}">
                <h4 class="inline-block">{{ 'label.act.DeepLink' | translate }} {{ 'label.act.(Optional)' | translate }}</h4>
                <input type="text" name="deepLink" ng-model="newCreative.creative.deepLink" placeholder="App Store Deep Link" class="form-control" ng-class="{'ng-pristine': !form.creative.submitted}"/>
                <div ng-messages="form.creative.deepLink.$error" ng-if='form.creative.deepLink.$touched || form.creative.submitted' ng-messages-include="campaign-creation-messages"></div>
            </div>
        </div>
    </div>
</div>