<!-- Creative modal template for newsfeed placement -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-10"> <!-- Left part -->
        
            <!-- Choose Placement -->
            <!-- <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placement.html'"></div> -->


            <!-- ONLY NEWSFEED UNTIL RIGHT COLUMN ISSUES FIXED -->
            <!-- Placement newsfeed only-->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div>

            <!-- Platform (Mobile & Desktop)-->
            <div ng-if="newCreative.placement ==='newsfeed'"
                ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platform.html'">
            </div>
            <!-- Show the Desktop platform selected -->
            <div ng-if="newCreative.placement ==='rightColumn'"
                 ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platformDesktopOnly.html'">
            </div>
        </div>

        <!-- Right part If Newsfeed -->
        <div class="col-md-12">
            <!-- Choose new or existing post -->
            <fs-radio-toggle ng-model="newCreative.creative.post" option1="newOrExistingPostRadioToggle.option1" option2="newOrExistingPostRadioToggle.option2"></fs-radio-toggle>
            <div class="clearfix"></div>
            <div ng-if="newCreative.creative.post === 'new'">
                <div ng-if="newCreative.placement === 'newsfeed'">
                    <!-- Text -->
                    <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
                    <!-- Image -->
                    <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Imagesscale1200x444' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/image.html'"></div>
                </div>
                <!-- Right part If Right Column-->
                <div ng-if="newCreative.placement === 'rightColumn'">
                    <!-- Image -->
                    <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Imagesscale1200x444' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/image.html'"></div>
                    <!-- Headline -->
                    <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Addaheadlinelong' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/headline.html'"></div>
                    <!-- Text -->
                    <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
                </div>
                
            </div>
            <div ng-if="newCreative.creative.post === 'existing'">
                <div class="form-group">
                    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/postDropdown.html'"></div>

                    <!-- Manual validation as fs-dropdown can't be validated with the required attribute -->
                    <div ng-if="form.creative.submitted && !selectedPost.feedId">{{
                        'label.act.PleaseselectaFacebookpost' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>