<!-- Creative modal template for Post Engagement -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-10"> <!-- Left part -->

            <!-- Placement newsfeed only-->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div>

            <!-- Platform (Mobile & Desktop)-->
            <div
                ng-if="newCreative.placement === 'newsfeed'"
                ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platform.html'">
            </div>
            <!-- Show the Desktop platform selected -->
            <div ng-if="newCreative.placement ==='rightColumn'"
                 ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platformDesktopOnly.html'">
            </div>
        </div>

        <div class="col-md-12"> <!-- Right part -->
            <!-- Choose new or existing post -->
            <fs-radio-toggle ng-model="newCreative.creative.post" option1="newOrExistingPostRadioToggle.option1" option2="newOrExistingPostRadioToggle.option2"></fs-radio-toggle>
            <div class="clearfix"></div>
            <div ng-if="newCreative.creative.post === 'new'">
                <!-- Image -->
                <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Imagesscale1200x900' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/image.html'"></div>
                <!-- Text -->
                <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
            </div>
            <div ng-if="newCreative.creative.post === 'existing'">
                <div class="form-group">
                    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/postDropdown.html'"></div>

                    <!-- Manual validation as fs-dropdown can't be validated with the required attribute -->
                    <div ng-if="form.creative.submitted && !selectedPost.feedId">{{
                        'label.act.PleaseselectaFacebookpost' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>