<!-- Creative modal template for video placement -->
<div class="modal-body">
    <div class="row">
        <div class="col-md-10"> <!-- Left part -->
            <!-- Choose new or existing post -->
            <!-- Placement newsfeed only-->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div>
            <!-- Platform (Mobile & Desktop)-->
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platform.html'"></div>
        </div>

        <div class="col-md-12"> <!-- Right part -->
            <fs-radio-toggle ng-model="newCreative.creative.post" option1="newOrExistingPostRadioToggle.option1" option2="newOrExistingPostRadioToggle.option2"></fs-radio-toggle>
            <div class="clearfix"></div>
            <!-- Text -->
            <div ng-if="newCreative.creative.post === 'new'">
                <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
                <!-- Video -->
                <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.DesignRecommendations' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/video.html'"></div>
                <!-- Call To Action -->
                <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/videoCallToAction.html'"></div>
                <!-- Call To Action URL-->
                <div ng-if="newCreative.creative.callToAction" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/callToActionURL.html'"></div>
                <!-- Call To Action Display URL-->
                <div ng-if="newCreative.creative.callToAction" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/callToActionDisplayURL.html'"></div>
            </div>
            <div ng-if="newCreative.creative.post === 'existing'">
                <div class="form-group">
                    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/postDropdown.html'"></div>

                    <!-- Manual validation as fs-dropdown can't be validated with the required attribute -->
                    <div ng-if="form.creative.submitted && !selectedPost.feedId">{{
                        'label.act.PleaseselectaFacebookpost' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>