<!-- Creative modal template for newsfeed placement -->
<div class="modal-body">
  <div ng-if="showInstagram"  class="row instagram-radio-toggle">
    <fs-radio-toggle ng-model="metadata.creativeChannelTargeted"
                     ng-change="toggleChannelInstagramFacebook()"
                     option1="creativeChannelsRadioToggle.option1"
                     option2="creativeChannelsRadioToggle.option2">
    </fs-radio-toggle>
  </div>
  <div class="row">
    <fs-tabset ng-if="newCreative.creative.pageTypes !== 'instagramstream'">
      <fs-tab is-open="newCreative.creative.adType === 'pagePost'"
              ng-click="switchCreativeAdType('pagePost')"
              class="product-tab">
        <tab-heading>{{ 'label.act.PagePostAd' | translate }}</tab-heading>
        <!-- We need the ng-if because all ad types share the same form: form.creative. If we remove it, the forms won't be validated properly-->
        <div class="product-tab-margin-bottom" ng-if="newCreative.creative.adType === 'pagePost'"
             ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/websiteConversionsPagePost.html'"></div>
      </fs-tab>
      <fs-tab is-open="newCreative.creative.adType === 'productCard'"
              ng-click="switchCreativeAdType('productCard')"
              class="aw-tab">
        <tab-heading>{{ 'label.act.MultiProductAd' | translate }}</tab-heading>
        <!-- We need the ng-if because all ad types share the same form: form.creative If we remove it, the forms won't be validated properly-->
        <div class="product-tab-margin-bottom" ng-if="newCreative.creative.adType === 'productCard'"
             ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/websiteConversionsMultiProduct.html'"></div>
      </fs-tab>
      <fs-tab is-open="newCreative.creative.adType === 'videoAd'"
              ng-click="switchCreativeAdType('videoAd')"
              class="product-tab">
        <tab-heading>{{ 'label.act.VideoAd' | translate }}</tab-heading>
        <!-- We need the ng-if because all ad types share the same form: form.creative If we remove it, the forms won't be validated properly-->
        <div class="product-tab-margin-bottom" ng-if="newCreative.creative.adType === 'videoAd'"
             ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/websiteConversionsVideo.html'"></div>
      </fs-tab>
    </fs-tabset>

    <!-- Instagram -->
    <fs-tabset ng-if="newCreative.creative.pageTypes === 'instagramstream'">
      <fs-tab is-open="newCreative.creative.adType === 'pagePost'"
              ng-click="switchInstagramCreativeAdType('pagePost')"
              class="product-tab">
        <tab-heading>{{ 'label.act.PagePostAd' | translate }}</tab-heading>
        <!-- We need the ng-if because all ad types share the same form: form.creative. If we remove it, the forms won't be validated properly-->
        <div class="product-tab-margin-bottom" ng-if="newCreative.creative.adType === 'pagePost'"
             ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/instagram/websiteConversionsPagePost.html'"></div>
      </fs-tab>
    </fs-tabset>
  </div>
</div>
