<!-- Creative modal template for newsfeed placement -->
<div class="modal-body">
  <div class="row">
    <div class="col-md-10"> <!-- Left part -->
      <!-- Select Facebook Page -->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/pageDropdown.html'"></div>
      <!-- Choose Placement -->
      <!-- <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placement.html'"></div> -->
      <!-- Platform (Mobile & Desktop)-->
      <!-- ONLY NEWSFEED UNTIL RIGHT COLUMN ISSUES FIXED -->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div>
      <div ng-if="newCreative.placement ==='newsfeed'"
           ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platform.html'">
      </div>
      <!-- Show the Desktop platform selected -->
      <div ng-if="newCreative.placement ==='rightColumn'"
           ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platformDesktopOnly.html'">
      </div>

    </div>

    <!-- Right part If Newsfeed -->
    <div class="col-md-10 col-md-offset-2" ng-if="newCreative.placement === 'newsfeed'">
      <div class="radio-toggle-container clear-fix">
            <fs-radio-toggle ng-model="newCreative.creative.post" option1="newOrExistingPostRadioToggle.option1" option2="newOrExistingPostRadioToggle.option2"></fs-radio-toggle>
      </div>
      <div ng-if="newCreative.creative.post === 'new'">
        <!-- Text -->
        <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
        <!-- Video -->
        <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/video.html'"></div>
        <!-- Headline -->
        <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Addaheadline' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/headline.html'"></div>
        <!-- Destination URL-->
        <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/url.html'"></div>
        <!-- Newsfeed Link Description-->
        <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/siteDescription.html'"></div>
        <!-- Call To Action -->
          <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/callToActionRequired.html'"></div>
      </div>
      <div ng-if="newCreative.creative.post === 'existing'">
          <div class="form-group">
              <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/postDropdown.html'"></div>
          </div>
      </div>
    </div>
    <!-- Right part If Right Column-->
    <div class="col-md-10 col-md-offset-2" ng-if="newCreative.placement === 'rightColumn'">
      <!-- Video -->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/video.html'"></div>
      <!-- Call To Action -->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/callToActionRequired.html'"></div>
      <!-- Text -->
      <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
      <!-- Headline -->
      <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Addaheadline' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/headline.html'"></div>
      <!-- Destination URL-->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/url.html'"></div>
    </div>
  </div>
</div>
