<div class="row margin-bottom-1">
  <div class="col-md-10"> <!-- Left part -->
    <!-- Select Facebook Page -->
    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/pageDropdown.html'"></div>
    <!-- Choose Placement -->
    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div>
    <!-- Platform (Mobile & Desktop)-->
    <div ng-if="newCreative.placement ==='newsfeed'"
         ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platform.html'">
    </div>
    <!-- Show the Desktop platform selected -->
    <div ng-if="newCreative.placement ==='rightColumn'"
         ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/platformDesktopOnly.html'">
    </div>

    <!-- ONLY NEWSFEED UNTIL RIGHT COLUMN ISSUES FIXED -->
    <!-- <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/placementNewsfeedOnly.html'"></div> -->
  </div>

  <!-- Right part -->
  <div class="col-md-10 col-md-offset-2" ng-if="newCreative.placement === 'newsfeed'">
    <!-- Text -->
    <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}"
         ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/text.html'"></div>
    <!-- See More Url -->
    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/seeMoreUrl.html'"></div>
    <!-- See More Display Url (optional) -->
    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/seeMoreDisplayUrl.html'"></div>
  </div>
</div>

<div class="row product-cards-container">
  <div class="col-md-23">
    <div class="row product-card-container" ng-repeat="productCard in newCreative.creative.multiProductCards" ng-controller="FbproductcardCtrl">
      <ng-form name="productCardForm">
        <div class="col-md-6">
          <!-- Image -->
          <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/image.html'"></div>
        </div>
        <div class="col-md-17">
          <!-- Destination URL-->
          <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/url.html'"></div>
          <!-- Product Name-->
          <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/name.html'"></div>
          <!-- Product Description -->
          <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/description.html'"></div>
        </div>
        <!-- Facebook requires a minimum of 2 products-->
        <div class="col-md-1" ng-if="newCreative.creative.multiProductCards.length > 2">
          <i ng-click="newCreative.deleteProductCard(productCard)" class="fa fa-times pointer"></i>
        </div>
      </ng-form>
    </div>
  </div>
</div>
<div class="row">
  <!-- Show Add Product button if we have between 2 and 4 products. -->
    <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/multiProduct/addProductButton.html'"></div>
</div>
