<div class="fs-dropdown select" tabindex="0">
  <div class="fs-dropdown-link" on-state="click">
    <span>{{ selection.active ? selection.active.label : defaultText }}</span>
    <i class="fa fa-caret-down pull-right"></i>
  </div>
  <ul class="fs-dropdown-menu">
    <li ng-if="unselect" ng-click="selection.select(null)">&nbsp;</li>
    <li ng-repeat="item in selection.items" ng-click="selection.select(item)">{{ item.label }}</li>
  </ul>
</div>
