<!-- Creative modal template for newsfeed placement -->
<div class="modal-body">
  <div class="row">
    <div class="col-md-10"> <!-- Left part -->
      <!-- Select Facebook Page -->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/pageDropdown.html'"></div>
      <!-- Select Instagram account -->
      <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/instagram/accountDropdown.html'"></div>
    </div>
    <!-- Right part If Newsfeed -->
    <div class="col-md-10 col-md-offset-2" ng-if="newCreative.placement === 'newsfeed'">
      <!-- Headline -->
      <div ng-if="newCreative.creative.post === 'new'">
        <!-- Text -->
        <div class="tooltipped tooltipped-e tooltipped-multiline" aria-label="{{ 'label.act.tooltip.Tellpeopleabitmore' | translate }}" ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/text.html'"></div>
        <!-- Image -->
        <div class="tooltipped tooltipped-e tooltipped-multiline"  ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/image.html'"></div>
        <!-- Destination URL-->
        <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/url.html'"></div>
        <!-- Call To Action -->
        <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/components/videoCallToAction.html'"></div>
      </div>
    </div>
  </div>
</div>
