<div class="personal-block fadein" ng-show="alertData.message">
  <i ng-if="alertData.uploading" class="fa fa-upload fa-5x fa-custom-animation"></i>
  <i ng-if="!alertData.uploading" class="fa fa-check-circle fa-5x"></i>
  <span>{{alertData.message}}</span><span ng-if="alertData.uploading">
    <span class="one">.</span><span class="two">.</span><span class="three">.</span>
  </span>

  <span class="clear-fix" ng-if="alertData.videoProgress">
  	{{alertData.videoProgress}} %
  </span>

</div>
