<div ui-view="left-column" class="left-column" ng-click="$event.stopPropagation()">
	<div ng-include="'app/main/navbar/navbar.html'"></div>
</div>
<div class="main">
  <div class="phone-header" ng-click="$event.stopPropagation()">
    <span class="menu pointer" ng-click="navState.open = !navState.open">
      <i class="fa fa-ellipsis-v large"></i>
    </span>
    <h1 class="pull-right">Accomplice</h1>
  </div>
  <div class="container-fluid" fs-debug-grid>
    <div ng-show="user.authorities && user.authorities.indexOf('MP') != -1" class="master-password-block col-md-24">
      <span>{{ 'label.common.WarningSupportPassword' | translate}}</span>
    </div>
		<div class="row" ng-class="{'pull-bottom-mp': user.authorities && user.authorities.indexOf('MP') != -1}">
      <div class="col-md-24 bread-positioning">
        <ui-breadcrumbs ng-hide="loggedInAsTeam" displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbState"></ui-breadcrumbs>
      </div>

			<div ng-class="{'col-md-{{toState.rightColumn.columns ? 24 - toState.rightColumn.columns : 20}}': toState.rightColumn.present, 'col-md-24': !toState.rightColumn.present}"
				 ui-view>
			</div>

			<div class="{{toState.rightColumn.columns ? 'col-md-'+toState.rightColumn.columns : 'col-md-4'}} right-column"
				 ng-class="{'fixed': toState.rightColumn.fixed }"
				 ui-view="right-column"
				 ng-if="toState.rightColumn.present">
			</div>

		</div>
	</div>

</div>
