@media (min-width: 0) {
  body {
    padding-left: 0;
    transition: padding-left 0.4s;
    &.open-nav {
      // padding-left: @left-column-width-sm;
      .left-column {
        left: 0;
      }
    }
  }
  .phone-header {
    width: 100%;
    background-color: @tin-heavy;
    padding-left: @grid-gutter-width / 2;
    padding-right: @grid-gutter-width / 2;
    padding-top: @line / 4 / @unitem;
    padding-bottom: @line / 4 / @unitem;
    height: @line * 2 / @unitem;
    position: fixed;
    top : 0;
    transition: top 0.8s;
    z-index: 1000;

    color: @pale-light;
    .menu {
      background: @tin-medium;
      display: inline-block;
      padding-left: @line / @unitem / 1.5;
      padding-right: @line / @unitem / 1.5;
      padding-top: @line / 4 / @unitem;
      padding-bottom: @line / 4 / @unitem;
    }
    h1 {
      margin: -0.5rem 0 0 0;
      display: inline-block;
      color: @nature-light;
      opacity: 0.1;
    }
  }
  .left-column{
    transition: left 0.25s;
    width: @left-column-width-sm;
    position: fixed;
    left: -@left-column-width-sm;
    top: 0;
    display: inline-block;
    z-index: 1000;
    .rotate-image-block {
      position: relative;
      @media ( max-height: 550px ){
        visibility: hidden;
      }
      .accomplice-logo {
        height: 50px;
        position: absolute;
        left: 1.1em;
        bottom: 2.5em;
      }
      .accomplice-logo *{
        fill: @mono-light;
      }
    }
    nav {
      opacity: 1;
      display: block;
      width: 100%;
      max-width: @nav-max-width;
      height: 100vh;
      padding: 0;
      position: relative;
      background-color: @tin-medium;
      ul{

        li {

          &.nav-childs {
            background-color: @tin-medium;
            font-size: 0.8em;
            text-transform: uppercase;
            z-index: 1180;
            box-sizing: border-box;
            vertical-align: middle;
            cursor: pointer;
            margin: 0;
            display: block;
            float: left;
            width: 100%;
            height: 3em;
            color: @mono-light;
            -o-transition: .350s;
            -ms-transition: .350s;
            -moz-transition: .350s;
            -webkit-transition: .350s;
            transition: .350s;
            position: relative;
            .child-text {
              margin-right: 0;
              margin-left: 0;
              height: inherit;
              .child-section-logo {
                padding-left: 0;
                padding-right: 0;
                height: 100%;
                .logo-coloring *{
                  fill: rgba(255, 255, 255, 0.5);
                  margin-left: .65em;
                  margin-top: .5em;
                  -webkit-filter: drop-shadow( 0px 1px 1px @mono-heavy );
                  filter: drop-shadow( 0px 1px 1px @mono-heavy );
                }
                @-moz-document url-prefix() {
                  .logo-coloring *{
                    fill: rgba(255, 255, 255, 0.5);
                    margin-left: .65em;
                    margin-top: .5em;
                    -webkit-filter: none !important;
                    filter: none !important;
                  }
                }

                .logo-coloring {
                  width: 25px;
                }
                i {
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 20px;
                  -webkit-filter: drop-shadow( 0px 1px 1px @mono-heavy );
                  filter: drop-shadow( 0px 1px 1px @mono-heavy );
                  margin-left: .6em;
                  margin-top: .45em;
                  &.fa-bolt {
                    margin-left: .75em;
                    margin-top: .45em;
                  }
                  &.fa-question {
                    margin-left: .7em;
                    margin-top: .45em;
                  }
                }
              }
              .child-section-label {
                padding-left: 0;
                padding-right: 0;
                margin-top: .55em;
                height: 100%;
                span {
                  margin-left: .7em;
                }
              }
            }
            &:hover {
              -webkit-box-shadow:inset 2.65rem 0 0 0 @nature-heavy;
              -moz-box-shadow:inset 2.65rem 0 0 0 @nature-heavy;
              box-shadow:inset 2.65rem 0 0 0 @nature-heavy;
              color: @white;
              .logo-coloring *{
                fill: rgba(255, 255, 255, 1) !important;
              }
              i {
                color: rgba(255, 255, 255, 1) !important;
              }
            }
            &.active {
              -webkit-box-shadow:inset 2.65rem 0 0 0 @nature-heavy, inset -6.9rem 0 0 0 @pale-heavy;
              -moz-box-shadow:inset 2.65rem 0 0 0 @nature-heavy, inset -6.9rem 0 0 0 @pale-heavy;
              box-shadow:inset 2.65rem 0 0 0 @nature-heavy, inset -6.9rem 0 0 0 @pale-heavy;
              color: @tin-medium;
              font-weight: 700;
              .logo-coloring *{
                fill: rgba(255, 255, 255, 1) !important;
              }
              i {
                color: rgba(255, 255, 255, 1) !important;
              }
            }
            &.setup-spacing {
              margin-top: 2em;
            }
          }
        }
        padding-left: 0;
        margin: 0;

        .navbar-caret-teams {
          color: @mono-light;
          display: inline;
          margin-top: 6px;
          position: absolute;
          right: .8em;
        }

        &.nav-pill-container{
          -o-transition: .05s;
          -ms-transition: .05s;
          -moz-transition: .05s;
          -webkit-transition: .05s;
          transition: .05s;
          opacity: 0.0;
          z-index: 0;
          margin: 0;
          left: 9.4em;
          float: left;
          visibility: hidden;
          position: relative;
          top: -3.4em;
          font-size: 0.8em;
          list-style: none;
          width: 12em;
          text-align: left;

          &.team-pill {
            visibility: visible;
            height: auto;
            overflow: hidden;
            width: 12em;
            .team-pill-scrolled {
              overflow-y: auto;
              max-height: 85vh;
              text-align: center;
              .set-first {
                margin-top: .4em;
              }
              .fa-plus {
                visibility: visible !important;
                font-size: 9px;
              }
              .input-control-add-team {
                color: black !important;
                height: 32px;
                font-size: 14px;
                padding: .5em;
              }
              input {
                width: inherit;
              }
              .save-team-block {
                background-color: @mono-light;
                border: 1px solid @mono-light;
                border-top: none;
                border-radius: 0 0 3px 3px;
                box-shadow: 0 3px 6px rgba(111,111,111,0.2);
                outline: none;
                padding: .1em;
                position: relative;
                right: 0;
                top: 100%;
                z-index: 1;
                margin-right: 2px;
                float: right;
                padding-top: 0;
                padding-bottom: 1px;
                .team-button {
                  box-sizing: border-box;
                  background: @pale-heavy;
                  border: 1px solid @mono-light;
                  border-radius: 3px;
                  cursor: pointer;
                  display: inline-block;
                  font-family: inherit;
                  font-size: 16px;
                  font-variant: normal;
                  font-weight: normal;
                  height: 1.35em;
                  width: 1.35em;
                  line-height: 0.5;
                  margin: 0;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: nowrap;
                  text-align: center;
                  padding-left: 0;
                  padding-right: 0;
                  span {
                    color: @mono-light;
                  }
                  &:hover {
                    background: @pale-light;
                  }
                }
              }
            }
            .team-pill-scrolled::-webkit-scrollbar-track
            {
              -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
              background-color: @pale-light;
            }

            .team-pill-scrolled::-webkit-scrollbar
            {
              width: 8px;
              background-color: @pale-medium;
            }

            .team-pill-scrolled::-webkit-scrollbar-thumb
            {
              background-color: @nature-heavy;
              border: 2px solid transparent;
            }
            i {
              padding-right: 5px;
            }
          }
          .nav-title-container{
            margin-left: 1em;
          }

          .nav-pill{
            &.add-team-pill {
              border-top: 1px solid @mono-medium;
            }
            position:relative;
            z-index: 1080;
            border-bottom: 1px solid;
            border-bottom-color: transparent;
            padding-top: 0.8em;
            padding-bottom: 0.5em;
            height: 50%;
            -o-transition: .145s;
            -ms-transition: .145s;
            -moz-transition: .145s;
            -webkit-transition: .145s;
            transition: .145s;
          }
        }

        &.top-nav .nav-section:hover .nav-pill-container{
          opacity: 1.0;
          visibility: visible;
        }
        &.nav-section
        &:focus,
        &.focus,
        &:active,
        &.active, .team-pill {
          opacity: 1.0;
          -o-transition: .0s;
          -ms-transition: .0s;
          -moz-transition: .0s;
          -webkit-transition: .0s;
          transition: .0s;
        }

        &.top-nav .nav-section{
          background-color: @tin-medium;
          &.plus-guide-blocks {
            background-color: @tin-light;
          }
          z-index: 1180;
          box-sizing: border-box;
          vertical-align: middle;
          cursor: pointer;
          margin: 0;
          display: block;
          float: left;
          width: 100%;
          height: 3em;
          color: @white;
          -o-transition: .650s;
          -ms-transition: .650s;
          -moz-transition: .650s;
          -webkit-transition: .650s;
          transition: .650s;
          position: relative;

          &.section-header {
            cursor: default;
            font-size: 0.9em;
            text-transform: uppercase;
            background-color: @tin-medium;
            padding-left: 0;
            padding-right: 0;
            padding-top: .7em;
            .menu-item-content {
              color: @mono-medium;
              margin-right: 0;
              margin-left: .55em;
              height: inherit;
              margin-top: .2em;
              i {
                margin-right: .3em;
                color: @mono-medium;
              }
              .reports-icon {
                height: 16px;
                width: 16px;
                margin-right: .3em;
                margin-top: -3px;
              }
            }

            &.setups {
              text-transform: none;
              cursor: pointer;
              &:hover {
                -webkit-box-shadow:inset 2.65rem 0 0 0 @nature-heavy;
                -moz-box-shadow:inset 2.65rem 0 0 0 @nature-heavy;
                box-shadow:inset 2.65rem 0 0 0 @nature-heavy;
              }
              &.active {
                -webkit-box-shadow:inset 2.65rem 0 0 0 @nature-heavy, inset -6.9rem 0 0 0 @pale-heavy;
                -moz-box-shadow:inset 2.65rem 0 0 0 @nature-heavy, inset -6.9rem 0 0 0 @pale-heavy;
                box-shadow:inset 2.65rem 0 0 0 @nature-heavy, inset -6.9rem 0 0 0 @pale-heavy;
                color: @nature-heavy;
              }
            }
          }
          &.select-team-nav {
            padding: 1.4em 1.5rem;
            text-align: center;
            span {
              color: @mono-light;
              font-weight: normal;
              font-size: 0.8em;
            }
            i {
              visibility: hidden;
              &.navbar-caret-teams {
                visibility: visible;
              }
            }
            background-color: @tin-medium-lighten;
            &:focus,
            &.focus,
            &:active,
            &.active, .nav-pill-container{
              background-color: @tin-medium-lighten;
            }
            .nav-pill:hover {
              background-color: @nature-heavy;
            }
          }
        }
        .menu-item-content {
          margin-top: -11px;
          margin-left: -25px;
        }

        &.bottom-nav {
          position: absolute;
          bottom: 0;
          font-size: 0.8em;
          text-align: center;
          box-sizing: border-box;
          vertical-align: middle;
          cursor: pointer;
          display: block;
          float: left;
          width: 100%;
          height: 4em;
          color: @mono-light;
          background-color: @tin-medium-lighten;
          z-index: 1180;
          margin: 0;
          -o-transition: .4s;
          -ms-transition: .4s;
          -moz-transition: .4s;
          -webkit-transition: .4s;
          transition: .4s;

          .user-infos {
            margin-top: -12px;
          }

          @-moz-document url-prefix() {
            .user-infos {
              margin-top: 0 !important;
            }
          }

          .nav-section{
            position: relative;
            -o-transition: .4s;
            -ms-transition: .4s;
            -moz-transition: .4s;
            -webkit-transition: .4s;
            transition: .4s;

            @-moz-document url-prefix() {
              &.user-nav-container {
                padding-top: 0.9em;
              }
            }

            &.user-nav-container{
              padding-left: 1em;
              height: 100%;
              span {
                margin-left: -10px;
                margin-right: 5px;
              }

              &:hover{
                background-color: @nature-heavy;
              }
            }
           .nav-pill{
            font-size: 0.9em;
            -o-transition: .4s;
            -ms-transition: .4s;
            -moz-transition: .4s;
            -webkit-transition: .4s;
            transition: .4s;
           }
           .team-nav{
            background-color: @nature-heavy;
            .nav-pill{
              border-bottom: 1px solid rgba(0, 0, 0, .5);
              background-color: @nature-heavy;
            }
            .nav-pill:hover{
              background-color: #51565B;
            }
          }
        }
      }

        &.top-header-nav{
          @media ( max-height: 550px ){
            position: relative;
          }
          top: 0;
          position: relative;
          font-size: 0.8em;
          text-align: center;
          box-sizing: border-box;
          vertical-align: middle;
          cursor: pointer;
          margin-top: 1.2em;
          display: block;
          float: left;
          width: 100%;
          height: 3.5em;
          color: @white;

          .nav-section{
            position: relative;
            -o-transition: .4s;
            -ms-transition: .4s;
            -moz-transition: .4s;
            -webkit-transition: .4s;
            transition: .4s;
            span {
              font-weight: bold;
              color: #D6D6D6;
            }

            &.team-nav-container{
              .team-nav-caret-container{
                float: right !important;
                margin-right: 0.8em;
              }

              .nav-pill:hover{
                background-color: @tin-light;
              }

            }

            .nav-pill{
              font-size: 0.9em;

              -o-transition: .4s;
              -ms-transition: .4s;
              -moz-transition: .4s;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .team-nav{
              background-color: @nature-heavy;

              .nav-pill{
                border-bottom: 1px solid rgba(0, 0, 0, .5);
              }

              .nav-pill:hover{
                background-color: #51565B;
              }
            }
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    height: 100%;

    .right-column{
      // use min-height rather than height, as for non-fixed right-column it should be able
      // to have height longer than viewport height
      min-height: 100vh;
      float: right;
      & > .fixed-content{
        position: fixed;
      }

      &.fixed{
        position: fixed;
        right: 0px;
        float: none;
        .generate-columns(@grid-columns);

        .generate-columns(@n, @i: 1) when (@i =< @n) {
          &.col-md-@{i} {
            width: @main-width/@grid-columns * @i;
          }
          .generate-columns(@n, (@i + 1));
        }
      }
    }
  }
}
// end of media query sm

@media (min-width: @screen-sm-min) {
  body { padding-left: @left-column-width; }
  .left-column{
    left: 0;
    width: @left-column-width;
  }
  .phone-header {
    top: -10em;
  }
}
// end of media query md

// For Large Desktops
// -------

@media (min-width: @screen-hg-min) {
  .left-column{
    width: @left-column-width-hg;
  }
  body {
    padding-left: @left-column-width-hg;
  }
}

.validation-message{
  color: @cherry-dark;
}

// -- end of media query -hg

#loading-bar .bar{
  background-color: lighten(@nature-heavy, 10%);
  height: 4px;
}

#grid-overlay {
  min-height: 100vh;
}

#loading-bar .bar{
  background: lighten(@nature-heavy, 10%);
}

.tab-title {
  padding: .5em 1em;
  border-bottom: 1px solid #888;
}
.v-tab {
  border: 1px solid #000;
  height: 40vh;
  margin-top: 3em;
}
.v-tab.empty {
  border: 1px dashed #888;
  background: #f6f6f6;
  height: 30vh;
  text-align: center;
}
.hoverEffect img
{
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
}
.hoverEffect div
{
  filter: brightness(35%);
  -webkit-filter: brightness(35%);
  -moz-filter: brightness(35%);
  -o-filter: brightness(35%);
}
.disableSelection {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: pointer;
}

.radio-toggle{
  cursor: pointer;
  padding: 0.1em;
  border-radius: 4px;
  border: 2px solid @mono-light;
  .radio-toggle-value{
    border-radius: 2px;
    padding: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    display: inline-block;
  }
  float: left;
}

.valueSelected{
  background-color: @mono-medium;
  color: @pale;
}

.notSelected{
  background-color: transparent;
  color: @mono-heavy;
}

.fright{
  float: right;
}

.fleft{
 float: left;
}

.nav-no-user-image {
  height: 28px;
  width: 28px;
  float: left;
  margin-left: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
}
.bread-positioning {
  margin: 0 !important;
}

#walkme-player {
  display: none !important;
}
#walkme-main {
  border-left: @nature-heavy 5px solid !important;
}

.master-password-block {
  border-bottom: 2px solid @mono-light;
  background-color: @citrus-medium-half;
  color: @white;
  height: 2.5em;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  padding: .3em;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  span {
    padding-left: 25px;
  }
}
.pull-bottom-mp {
  margin-top: 2em;
}


// ----------------------- ACTION ICONS (DELETE, DUPLICATE, SAVE ... --------------
.action-icon {
  // Define the zoom
  @zoom : 1.05;

  cursor: pointer;
  margin-left:0.5em;
  margin-right:0.5em;

  &:hover {
    -webkit-transform:scale(@zoom); /* Safari and Chrome */
    -moz-transform:scale(@zoom); /* Firefox */
    -ms-transform:scale(@zoom); /* IE 9 */
    -o-transform:scale(@zoom); /* Opera */
    transform:scale(@zoom);

    color:@nature-heavy;
  }
}
// ----------------------- ACTION ICONS (DELETE, DUPLICATE, SAVE ... --------------
.inline-block {
  display: inline-block;
}
.block {
  display:block;
}

.adwords-logo {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 13px;
  width: 13px;
  content: url(../assets/images/adwords-logo.jpg);

  &.logo-2x {
    height: 26px;
    width: 26px;
  }
}

.error-container{
  color: @cherry-heavy;
}

.error-border-container{
  border: 1px solid @cherry-heavy;
}

.underline {
  text-decoration: underline;
}

.position-relative {
  position: relative;
}

.form-control[disabled] {
  background-color: @pale-heavy;
  border: none;
  color: @mono-medium;
}

.fa.fa-facebook {
  color: @facebook-blue;
}

.fa.fa-google {
  color: @adwords-heavy;
}

.fa.fa-twitter {
  color: @twitter-blue;
}
