/*Angular Tooltips Customization*/
.tooltip-modal{
  z-index: @zindex-tooltip;
}

.tooltip-create-goals{
  left: 50%;
  margin-right: 30px;
}

/*Tooltips create their own Stacking Context,
so their z-index can never be higher than their parent's
this is to apply to parent elements. Z-index only applies
to elements with a position type set. */
.tooltip-overlap{
  position: relative;
  z-index:1;
}

.audiences-dropdown{
  overflow: auto !important;
  display: inline !important;
  width: auto !important;
}

.tooltip-icon{
  font-size: 13px;
  color: #9b9b9b;
}

.tooltip-icon-big{
  font-size: 20px;
  color: #9b9b9b;
}

.campaign-creation-icon-spacer{
  margin-right: 0.7em;
}


/*PRIMER TOOLTIPS*/

.tooltipped {
    position: relative;
}
.tooltipped:after {
    position: absolute;
    z-index: 1010;
    padding: 7px 15px;
    font-size: 13.5px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    color: rgba(255,255,255,0.95);
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label) !important;
    background: rgba(54, 61, 67, 0.8);
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    opacity: 0;
    transition: opacity 0ms;
}
.tooltipped:before {
    position: absolute;
    z-index: 1010;
    width: 0;
    height: 0;
    color: rgba(54, 61, 67, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
    opacity: 0;
    transition: opacity 0ms;
}

.tooltipped:hover:before, .tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
    opacity: 1;
    transition: opacity 450ms linear 400ms;

}
.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after {
    display: table-cell;
}
.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 10px;
}
.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(54, 61, 67, 0.8);
    margin-bottom: -5px;
}
.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-sw:after {
    margin-right: -15px;
}
.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 10px;
}
.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(54, 61, 67, 0.8);
    margin-top: -5px;
}
.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-nw:after {
    margin-right: -15px;
}
.tooltipped-s:after,.tooltipped-n:after {
    transform: translateX(50%);
}
.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 10px;
    transform: translateY(50%);
}
.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(54, 61, 67, 0.8);
    margin-left: -5px;
}
.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 10px;
    transform: translateY(50%);
}
.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(54, 61, 67, 0.8);
    margin-right: -5px;
}
.tooltipped-multiline:after {
    width: -moz-max-content;
    width: -webkit-max-content;
    max-width: 350px;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate;
}
.tooltipped-multiline.tooltipped-s:after, .tooltipped-multiline.tooltipped-n:after {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}
.tooltipped-multiline.tooltipped-w:after, .tooltipped-multiline.tooltipped-e:after {
    right: 100%;
}
/*@media {
    screen {
        and {
            (min-width: {
                0\0) {
                    .tooltipped-multiline:after;
                }
            }
        }
    }
}
width: {
    250px; {

    }
}*/
.tooltipped-sticky:before, .tooltipped-sticky:after {
    display: inline-block;
}
.tooltipped-sticky.tooltipped-multiline:after {
    display: table-cell;
}
.fullscreen-overlay-enabled.dark-theme {
    .tooltipped:after {
        color: #000;
        background: rgba(255, 255, 255, 0.8);
    }
    .tooltipped.tooltipped-e:before {
        border-right-color: rgba(255, 255, 255, 0.8);
    }
    .tooltipped.tooltipped-w:before {
        border-left-color: rgba(255, 255, 255, 0.8);
    }
}
.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-s:before,.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-se:before,.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-sw:before {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-n:before, .fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-ne:before, .fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-nw:before {
    border-top-color: rgba(255, 255, 255, 0.8);
}