<label for=""><h4>Platforms</h4></label>
<div class="row">
	<div class="col-md-24">
		<div>
			<!--TODO: Include Mobile Apps-->
			<!--<input type='checkbox' ng-disabled="isIphoneDisabled" ng-checked="view.isValueInSelectedVariant('platform', 'Iphone')" ng-click="toggleTargetingSpec('platform', 'Iphone')" id="iphone" value="iphone">-->
			<!--<label for="iphone" button>{{ 'label.act.iPhone' | translate }}</label>-->

			<!--<input type='checkbox' ng-disabled="isIpadDisabled" ng-checked="view.isValueInSelectedVariant('platform', 'Ipad')" ng-click="toggleTargetingSpec('platform', 'Ipad')" id="ipad" value="ipad">-->
			<!--<label for="ipad" button>{{ 'label.act.iPad' | translate }}-->
			<input type='checkbox' ng-disabled="isIosDisabled" ng-checked="view.isValueInSelectedVariant('platform', 'IOS')" ng-click="toggleTargetingSpec('platform', 'IOS')" id="ios" value="ios">
			<label for="ios" button>{{ 'label.act.iOS' | translate }}</label>

			<input type='checkbox' ng-disabled="isAndroidDisabled" ng-checked="view.isValueInSelectedVariant('platform', 'Android')" ng-click="toggleTargetingSpec('platform', 'Android')" id="android" value="android">
			<label for="android" button>Android</label>
		</div>

 		<div>
		<!-- Waiting for Twitter to support it, as promised by their docs... -->
<!-- 		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('platform', 'Wifi')" ng-click="toggleTargetingSpec('platform', 'Wifi')" id="wifi" value="wifi">
		<label for="wifi" button>Wifi Only</label>
 -->
			<input type='checkbox' ng-checked="view.isValueInSelectedVariant('platform', 'Blackberry')" ng-click="toggleTargetingSpec('platform', 'Blackberry')" id="blackberry" value="blackberry">
			<label for="blackberry" button>Blackberry</label>

			<input type='checkbox' ng-checked="view.isValueInSelectedVariant('platform', 'Desktop')" ng-click="toggleTargetingSpec('platform', 'Desktop')" id="desktop" value="desktop">
			<label for="desktop" button>Desktop</label>

			<input type='checkbox' ng-checked="view.isValueInSelectedVariant('platform', 'Other')" ng-click="toggleTargetingSpec('platform', 'Other')" id="other" value="other">
			<label for="other" button>Other Mobile</label>
		</div>
	</div>
</div>
<div class="form-group">
  <fs-variant type="platform" ng-model="view.platform"></fs-variant>
</div>
