.message-container .post-message{
	height: 6em;
	margin-left: 0.5em;
	margin-top: 1em;
}

.insert-container{
	position: absolute;
	top: 8.5em;
	right: 2em;
}

.remaining-chars-container{
	font-size: 0.7em;
	float: right;
	margin-right: 1.85em;
	margin-top: -2.5em;
}

.toggle-upcoming-posts-container {
	margin-top: 2em;
	i{
		cursor: pointer;
		// float: left;
		margin-left: 0.5em;
	}
	h4{
		float: left;
	}
}

.upcoming-posts-container{
	background-color: @white-half;
	padding: 1em;
	padding-left: 8em;
	h4{
		font-size: 0.5em;
		text-align: center;
	}

	.upcoming-post-button{
		padding-top: 0.5em;
		min-height: 2em;
		vertical-align: middle;
		font-size: 3em;
		cursor: pointer;
		
		&.new-post{
			padding-top: 0.7em;
		}
	}

}

.social-button{
	display: inline-block;
	cursor: pointer;

	&.on{
		background-color: #55acee;
		color: white;

		&:hover{
			background-color: #55acee;
			color: white;
		}
	}
}

.conversation-rule{
	color: @smoke-short;
}

.conversation-container{
	
	margin: 0.75em;	
}

.accordion-pill{
	padding: 0.5em;
	cursor: pointer;
	.profile-picture-container{
		border: 1px solid @slate-short;
		height: 2.75em;
		float: left;
		margin-right: 0.5em;	
		img{
			width: 2.5em;
		} 


	}

	&:hover{
		background-color: darken(@body-bg, 10%)
	}

	&.on{
		background-color: darken(@body-bg, 10%)	
	}
}

.feed-tabs-container{
	margin-left: 20.25em;
	margin-top: 1em;


	.feed-tab1{
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
	}
	.feed-tab3{
		border-top-right-radius: 2em;
		border-bottom-right-radius: 2em;
	}
	.feed-tab1, .feed-tab2, .feed-tab3{
		border: 1px solid @slate-short;
		float: left;
		border-right: 1px solid @slate-short;
		padding: 0.5em;
		padding-left: 0.9em;
		padding-right: 0.9em;		
		text-align: center;
		cursor: pointer;
		font-size: 0.8em;

		&:hover{
			background-color: @slate-short;
			color: @white;
		}
	}
	.feed-tab:last-child{
		border-right: none;
		padding-left: 1em;
	}
}

.conversation-message{
	width: 100%;
}

.no-posts-available{
	text-align: center;
}

.reply-container, .retweet-container, {

	padding: 1em;
	display: inline-block;
	width: 50%;
	textarea{
		height: 5em;
		width: 100%;
	}
}

.feed-container{
	margin-bottom: 10em;
}

.action-summary-container{
	.summary{
		span{
			display: inline-block;
			margin: 0.25em;
		}
	}
}

.tweet-card-container, .post-card-container{
	margin-top: 1em;
	clear: both;

	background-color: @white-half;
	.content-container{
		padding: 1em;
		min-height: 10em;
	}
	.tweet-header, .post-header{
		width: 100%;
		img{
			float: left;
			margin-right: 1em;
		}	
	}
	.profile-container{
		float: left;
	}
	.tweet-body, .post-body{		
		margin-top: 5em;
		clear: both;
	}

	.footer-container{
		padding: 1em;
		color: @slate-short;		
		.action-icon-container{
			display: inline-block;
			margin-right: 5em;
			font-weight: bold;

			i{
				&:hover{
					color: darken(@slate-short, 15%);
				}

			}

			span{
				margin-left: 1em;
				&:hover{
					color: darken(@slate-short, 15%);
				}
			}

		}
		.delete-tweet-container{
			display: inline-block;
			float: right;
			font-weight: normal;
			&:hover{
				color: darken(@slate-short, 15%);
			}
		}
	}

	&:hover{
		outline: 2px solid #55acee;
		cursor: pointer;
	}

}


.post-card-container{
	&:hover{
			outline: 2px solid darken(#55acee, 20%);
			cursor: pointer;
		}	
}

.tweet-color-bar{

	background-color: #55acee;
	color: @white;
	i{
		margin: 0.5em;
	}
}

.post-color-bar{
	background-color: darken(#55acee, 20%);
	color: @white;
	i{
		margin: 0.5em;
	}

}




.engage-right-column{
	border-left: 1px solid @black;
	height: 100vh;
}

.pub-account-dropdown .fs-dropdown-link span{
	margin-left: 1em;
}

.pub-footer-container{
	padding: 1em;	
	float: right;
	margin-left: -0.5em;
	margin-bottom: 0.5em;

	.btn-outline{
		margin-right: 1.25em;
	}	
	.fs-dropdown.button{
		margin-left: 0.1em;
	}	
}

.insert-container i{
	opacity: 0.4;
	cursor: pointer;
	margin-left: 0.4em;
}


.time-input-container{
	padding-right: 0;
	padding-left: 0.2em;
}

.timepicker-container{

	.time-menu{
		height: 15em;
		overflow: scroll;
	}

	.time-menu li a{
		padding: 0;
		font-weight: normal;
	}

	.apply-next-best-time{
		font-weight: normal;
		padding: 0.4em;
	}
}



.post-dropdown{
	outline: none;
	float: right;
	margin-top: 0;
	// width: 2em;
	.fs-dropdown-link{
	  padding: 1em;
	  float: right;
	  i{
	    margin: 0;
	    color: @white;
	  }
	}

	.fs-dropdown-menu{
	  // width: 250%;
	  font-size: 0.75em;
	  &.drop-right{
	    top: 0;
	    left: 105%;
	  }
	}
}


.schedule-container{
	padding: 0.8em;	
}

//.link-preview{
//	float: left;
//	background-color: @white;
//	padding: 1em;
//	margin: 1.85em;
//	font-size: 0.75em;
//
//	.thumbnail-container{
//		float: left;
//	}
//
//	.thumbnail-container:hover .remove-thumbnail{
//		display: block;
//	}
//
//	.remove-thumbnail:hover{
//		opacity: 0.3;
//	}
//
//	.remove-thumbnail{
//		left: 6.5em;
//		position: absolute;
//		background-color: @black;
//		color: @white;
//		padding-left: 0.3em;
//		padding-right: 0.3em;
//		opacity: 0.2;
//		display: none;
//		margin-top: 0.2em;
//		cursor: pointer;
//		height: 2em;
//	}
//
//	.remove-link:hover{
//		color: lighten(@black, 60%);
//	}
//
//	.remove-link{
//		float: right;
//		font-size: 1.7em;
//		margin-top: -0.4em;
//		cursor: pointer;
//
//	}
//
//	.metadata-preview-container{
//		.headline{
//			margin-bottom: 1em;
//			cursor: pointer;
//			padding: 0.5em;
//			&:hover{
//				background-color: darken(@white, 10%);
//			}
//		}
//
//
//
//		.description{
//			cursor: pointer;
//			padding: 0.5em;
//			&:hover{
//				background-color: darken(@white, 10%);
//			}
//		}
//	}
//
//	img{
//		width: 7em;
//	}
//
//}

.pub-image-preview {

	background-color: @white;
	margin: 1em;

	img{
		margin: 1em;
		width: 10em;		
	}

	.remove-image{
		float: right;
		position: absolute;
		margin-top: 0.75em;
		margin-left: 10.25em;
		cursor: pointer;
		color: @gray;
	}

	.remove-image:hover{
		color: lighten(@black, 60%);
	}

	.image-container{
		float: left;
	}
}

.publisher-body{
	padding: 1.25em;
}

.pub-entities{
	padding: 1em;
}

.entity{
	float: left;
	margin-right: 0.5em;

	a{		
		color: @slate-short;
	}
}

.imageActive{
	color: darken(@slate-short, 100%);
}

.select-image-container{
	margin-top: 1em;
	.main-selector{
		background-color: @white;
		color: @slate-short;
		margin: 0.25em;
		margin-left: 0.6em;
		padding-bottom: 2em;
		padding-top: 1.70em;
		cursor: pointer;
		outline: 1px solid @slate-short;
		text-align: center;
	}

	.sec-selector-container{

	}

	.sec-selector:hover{
		
	}

	.sec-selector{
		background-color: @white;
		text-align: center;
		cursor: pointer;
		outline: 1px solid @slate-short;
		color: @slate-short;
		padding: 0.5em;
		margin: 0.25em;
	}
}

.pub-drag-image{
	outline: 1px solid black;
}
