<div class="row">
	<div class="col-md-18">
		<fs-tabset>
			<fs-tab>
				<tab-heading><h5>Engage</h5></tab-heading>
				<div ng-include="'app/main/act/engage/feedView.html'"></div>
			</fs-tab>
			<fs-tab id="engage-scheduler">
				<tab-heading><h5>Schedule</h5></tab-heading>
				<div ng-controller="FrameCtrl">
					<div class="col-md-22" ng-controller="CalendarCtrl">			
						<div ng-include="'app/main/act/engage/scheduleView.html'"></div>
					</div>
				</div>
			</fs-tab>
		</fs-tabset>
	</div>
	<div class="col-md-6">
		<div ng-include="'app/main/act/engage/rightColumn.html'"></div>
	</div>
</div>

