<div class="post-card-container" ng-click="toggleConversation($index)">
	<div class="post-color-bar">
		<i class="fa fa-facebook"></i>
	</div>
	<div class="content-container">
		<div class="post-header">
			<div class="profile-pic-container">
				<img ng-src="{{ post.userProfileImage }}">								
			</div>
			<div class="profile-container">
				<div class="post-profile-name">
					{{ post.fromName }}
				</div>
				<div class="post-time">
					{{ getPostTimeFromNow(post.createdAt) }}
				</div>
			</div>
			
		</div>

		<div class="post-body">
			<div class="message-container">
				{{ post.message }}
			</div>
			
			<div class="media-container" ng-repeat="media in post.medias track by $mediaIndex">
				<img ng-src="{{ media.mediaUrl }}">
			</div>
		</div>
	</div>

	<div class="footer-container">
		<div class="action-icon-container">
			<i class="fa fa-comment" ng-click="toggleReplyView(post)"></i>
			<span ng-click="toggleActionSummary(post, 'comments')">{{ post.comments.length }}</span>
		</div>
		<div class="action-icon-container">
			<i class="fa fa-share" ng-click="toggleShareView(post)"></i>
			<span ng-click="toggleActionSummary(post, 'shares')">{{ post.sharesCount }}</span>
		</div>
		<div class="action-icon-container">
			<i class="fa fa-thumbs-up" ng-click="likePost(post)"></i>
			<span ng-click="toggleActionSummary(post, 'likes')">{{ post.likes.length }}</span>		
		</div>
		<div class="action-icon-container">
			<i class="fa fa-tag"></i>
			<span ng-click="toggleActionSummary(post, 'tags')">0</span>
		</div>
		<div class="reply-container" ng-show="isConversationReplyOpen(post)">
			<textarea class="post-message" ng-model="reply" placeholder="Reply to {{post.fromName }}"></textarea>
			<div class="btn-solid btn-primary" ng-click="commentOnPost(post, reply)">REPLY</div>
		</div>
		<div class="retweet-container" ng-show="isShareOpen(post)">
			<textarea class="post-message" ng-model="share.message"></textarea>
			<div class="btn-solid btn-primary" ng-click="sharePost(post, share)">Share</div>
		</div>			
		<!-- <div class="delete-post-container" ng-click="deletePost(post.postId)">
			<i class="fa fa-trash-o"></i>
		</div> -->
	</div>

	<div class="action-summary-container">
		<div class="summary" ng-if="post.showActionSummary === 'comments' && post.comments.length > 0">
			<span>comments: {{ post.comments.length }} </span>
			<span>Last reply: {{ formatDate(post.comments[0]) }}</span>			
			<span>
				Users: 
				<span ng-repeat="comment in post.comments track by $commentIndex">
					{{ comment.screenName }}
				</span>				
			</span>	
		</div>
		<div class="summary" ng-if="post.showActionSummary === 'shares' && post.sharesCount > 0">
			<span>shares: {{ post.shares.length }} </span>
			<span>Last repost: {{ formatDate(post.shares[0]) }}</span>			
			<span>
				Users: 
				<span ng-repeat="share in post.shares track by $repostIndex">
					{{ share.screenName }}
				</span>				
			</span>	
		</div>
		<div class="summary" ng-if="post.showActionSummary === 'favorites' && post.likes.length > 0">
			<span>Likes: {{ post.likes.length }} </span>
			<span>Last Like: {{ formatDate(post.likes[0]) }}</span>			
			<span>
				Users: 
				<span ng-repeat="like in post.likes track by $favIndex">
					{{ like.screenName }}
				</span>				
			</span>								
		</div>
	</div>




	<div class="conversation-container" ng-click="toggleConversation($index)" ng-show="isPostConversationOpen($index)">
		<hr class="conversation-rule"></hr>

		<div ng-show="post.comments.length === 0">
			No Conversations to Show
		</div>

		<div ng-repeat="conversation in post.comments" >
			<div class="post-container">
				<div class="post-header">
					<div class="profile-pic-container">
						<img ng-src="{{ conversation.userProfileImage }}">	
					</div>
					<div class="profile-container">
						<div class="post-profile-name">
							{{ conversation.fromName }}
						</div>
						<div class="post-time">
							{{ getPostTimeFromNow(conversation.createdAt) }}
						</div>
					</div>					
				</div>

				<div class="post-body">
					<div class="message-container">
						{{ conversation.message }}
					</div>
					
					<div class="media-container" ng-repeat="media in conversation.medias track by $mediaIndex">
						<img ng-src="{{media.mediaUrl}}">
					</div>
				</div>
				<div class="footer-container">
					<div class="action-icon-container">
						<i class="fa fa-comment" ng-click="toggleReplyView(conversation)"></i>
						<span ng-click="toggleActionSummary(conversation, 'comments')">{{ conversation.comments.length }}</span>
					</div>
					<div class="action-icon-container">
						<i class="fa fa-share" ng-click="toggleShareView(conversation)"></i>
						<span ng-click="toggleActionSummary(conversation, 'shares')">0</span>
					</div>
					<div class="action-icon-container">
						<i class="fa fa-thumbs-up" ng-click="likeComment(conversation)"></i>
						<span ng-click="toggleActionSummary(conversation, 'like')">{{ conversation.likesCount }}</span>		
					</div>
					<div class="action-icon-container">
						<i class="fa fa-tag"></i>
						<span ng-click="toggleActionSummary(conversation, 'tags')">0</span>
					</div>
					<div class="reply-container" ng-show="isConversationReplyOpen(conversation)">
						<textarea class="post-message" ng-model="comment" placeholder="Reply to {{conversation.fromName }}"></textarea>
						<div class="btn-solid btn-primary" ng-click="commentOnPost(conversation, reply)">REPLY</div>
					</div>
					<div class="retweet-container" ng-show="isRepostOpen(post)">
						<textarea class="post-message" ng-model="repost"></textarea>
						<div class="btn-solid btn-primary" ng-click="repostPost(post, repost)">Share</div>
					</div>			
					<!-- <div class="delete-post-container" ng-click="deletePost(post.postId)">
						<i class="fa fa-trash-o"></i>
					</div> -->
				</div>
				<div class="action-summary-container">
					<div class="summary" ng-if="conversation.showActionSummary === 'comments' && conversation.conversationposts.length > 0">
						<span>Comments: {{ conversation.comments.length }} </span>
						<span>Last Comment: {{ formatDate(conversation.comments[0]) }}</span>			
						<span>
							Users: 
							<span ng-repeat="comment in conversation.comments track by $replyIndex">
								{{ comment.screenName }}
							</span>				
						</span>	
					</div>
					<div class="summary" ng-if="conversation.showActionSummary === 'shares' && conversation.shares.length > 0">
						<span>shares: {{ conversation.shares.length }} </span>
						<span>Last repost: {{ formatDate(conversation.shares[0]) }}</span>			
						<span>
							Users: 
							<span ng-repeat="share in conversation.shares track by $repostIndex">
								{{ share.screenName }}
							</span>				
						</span>	
					</div>
					<div class="summary" ng-if="conversation.showActionSummary === 'likes' && conversation.likes.length > 0">
						<span>Likes: {{ conversation.likes.length }} </span>
						<span>Last Like: {{ formatDate(conversation.likes[0]) }}</span>			
						<span>
							Users: 
							<span ng-repeat="like in conversation.likes track by $likeIndex">
								{{ like.screenName }}
							</span>				
						</span>								
					</div>
				</div>

				<div class="reply-container" ng-show="isConversationReplyOpen(conversation)">
					<textarea class="conversation-message" ng-model="comment" placeholder="Reply to {{conversation.fromName }}"></textarea>
					<div class="btn-solid btn-primary" ng-click="commentOnComment(conversation, reply)">COMMENT</div>
				</div>
				<div class="retweet-container" ng-show="isShareOpen(conversation)">
					<textarea class="conversation-message" ng-model="repost"></textarea>
					<div class="btn-solid btn-primary" ng-click="sharePost(conversation, repost)">Share:</div>
				</div>
			</div>
		</div>
	</div>
</div>