<!-- <div class="row">
	<div class="col-md-24">
		<div class="feed-tabs-container col-md-15">
			<div class="feed-tab1" ng-click="switchFeedView('myPosts')">
				{{ 'label.act.myPosts' | translate }}
			</div>
			<div class="feed-tab2" ng-click="switchFeedView('hashtags')">
				{{ 'label.act.hashtags' | translate }}
			</div>
			<div class="feed-tab3" ng-click="switchFeedView('profiles')">
				{{ 'label.act.profiles' | translate }}
			</div>
		<div class="search-container">			
			<input type="search" class="form-control alt" placeholder="Search..." ng-model="search"/>
		</div>
	</div>
</div> -->


<div class="row">
	<div class="col-md-24 toggle-upcoming-posts-container">
		<h4>{{ 'label.act.upcomingPosts' | translate }}</h4>
		<i class="fa fa-caret-down" ng-show="showUpcomingPosts" ng-click="showUpcomingPosts = !showUpcomingPosts"></i>
		<i class="fa fa-caret-left" ng-show="!showUpcomingPosts" ng-click="showUpcomingPosts = !showUpcomingPosts"></i>
	</div>
	<div class="col-md-23 upcoming-posts-container" ng-show="showUpcomingPosts">
		<div class="upcoming-post-button-container col-md-4">
			<div class="upcoming-post-button btn-outline btn-primary new-post" ng-click="clickToOpenPublisher()">
				<span>+</span>				
			</div>
			<h4>{{'label.act.createNewPostTweet' | translate}}</h4>
		</div>
		<div class="upcoming-post-button-container col-md-4" ng-repeat="post in upcomingPosts">
			<div class="upcoming-post-button btn-outline btn-primary">			
			</div>
			<h4>{{ post.date }}</h4>
		</div>
		<div class="upcoming-post-button-container col-md-4">
			<div class="upcoming-post-button btn-outline btn-primary" ng-click="goToCalendar()">
				<i class="fa fa-calendar"></i>
			</div>
			<h4>{{'label.act.goToCalendar' | translate}}</h4>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-16 col-md-offset-4 feed-container">
		<div ng-repeat="post in pagePosts track by $index">
			<div ng-include="'app/main/act/engage/tweetCard.html'" ng-show="post.tweetId"></div>			
			<div ng-include="'app/main/act/engage/facebookPostCard.html'" ng-show="post.type"></div>	
		</div>

		<div class="no-posts-available" ng-show="!pagePosts.length > 0">
			<h2>No Posts To Show</h2>
		</div>
	</div>
</div>