<div class="row">
	<div class="col-md-24 engage-right-column">
		<fs-accordion>
			<fs-accordion-group header="Channels">
				<div class="social-button btn-outline btn-primary" ng-class="{ on: isChannelActive('facebook')}" ng-click="toggleChannel('facebook')">
					<i class="fa fa-facebook"></i>
				</div>
				<div class="social-button btn-outline btn-primary" ng-class="{ on: isChannelActive('twitter')}" ng-click="toggleChannel('twitter')">
					<i class="fa fa-twitter"></i>
				</div>
			</fs-accordion-group>
			<fs-accordion-group header="Team Pages">
				<div class="row accordion-pill" ng-class="{ on: isPageActive(page) }" ng-repeat="page in teamPages" ng-click="togglePage(page)">
					<div class="profile-picture-container">
						<img src="{{ page.image || page.social.image }}">
					</div>
					<span ng-show="page.channel === 'twitter'" style="float: left;"><h4>@</h4></span>	
					<h4>{{ page.pageName || page.name }}</h4>				
					<div>
						<h4>{{ page.channel }}</h4>						
					</div>
				</div>
			</fs-accordion-group>
			<fs-accordion-group header="Tracked">
				<div ng-repeat="tag in trackedTags">
					
				</div>
			</fs-accordion-group>
			<fs-accordion-group header="Twitter Lists"></fs-accordion-group>
		</fs-accordion>
	</div>
</div>