<div class="tweet-card-container" ng-click="toggleConversation($index)">
	<div class="tweet-color-bar">
		<i class="fa fa-twitter"></i>
	</div>
	<div class="content-container">
		<div class="tweet-header">
			<div class="profile-pic-container">
				<img ng-src="{{ post.userProfileImage }}">								
			</div>
			<div class="profile-container">
				<div class="tweet-profile-name">
					@{{ post.fromName }}
				</div>
				<div class="tweet-time">
					{{ getPostTimeFromNow(post.createdAt) }}
				</div>
			</div>
			
		</div>

		<div class="tweet-body">
			<div class="message-container">
				{{ post.message }}
			</div>
			
			<div class="media-container" ng-repeat="media in post.medias track by $mediaIndex">
				<img ng-src="{{ media.mediaUrl }}">
			</div>
		</div>
	</div>

	<div class="footer-container">
		<div class="action-icon-container">
			<i class="fa fa-reply" ng-click="toggleReplyView(post)"></i>
			<span ng-click="toggleActionSummary(post, 'replies')">{{ post.conversationTweets.length }}</span>
		</div>
		<div class="action-icon-container">
			<i class="fa fa-retweet" ng-click="toggleRetweetView(post)"></i>
			<span ng-click="toggleActionSummary(post, 'retweets')">{{ post.retweets.length }}</span>
		</div>
		<div class="action-icon-container">
			<i class="fa fa-star" ng-click="favoriteTweet(post)"></i>
			<span ng-click="toggleActionSummary(post, 'favorites')">{{ post.favs.length }}</span>		
		</div>
		<div class="action-icon-container">
			<i class="fa fa-tag"></i>
			<span ng-click="toggleActionSummary(post, 'tags')">0</span>
		</div>
		<div class="delete-tweet-container" ng-click="deletePost(post.tweetId)">
			<i class="fa fa-trash-o"></i>
		</div>
		<div class="reply-container" ng-show="isConversationReplyOpen(post)">
			<textarea class="post-message" ng-model="reply" placeholder="Reply to {{post.fromName }}"></textarea>
			<div class="btn-solid btn-primary" ng-click="replyToTweet(post, reply)">REPLY</div>
		</div>
		<div class="retweet-container" ng-show="isRetweetOpen(post)">
			<textarea class="post-message" ng-model="retweet"></textarea>
			<div class="btn-solid btn-primary" ng-click="retweetTweet(post, retweet)">RETWEET</div>
		</div>			
	</div>

	<div class="action-summary-container">
		<div class="summary" ng-if="post.showActionSummary === 'replies' && post.conversationTweets.length > 0">
			<span>Replies: {{ post.conversationTweets.length }} </span>
			<span>Last reply: {{ formatDate(post.conversationTweets[0]) }}</span>			
			<span>
				Users: 
				<span ng-repeat="reply in post.conversationTweets track by $replyIndex">
					@{{ reply.screenName }}
				</span>				
			</span>	
		</div>
		<div class="summary" ng-if="post.showActionSummary === 'retweets' && post.retweets.length > 0">
			<span>Retweets: {{ post.retweets.length }} </span>
			<span>Last retweet: {{ formatDate(post.retweets[0]) }}</span>			
			<span>
				Users: 
				<span ng-repeat="retweet in post.retweets track by $retweetIndex">
					@{{ retweet.screenName }}
				</span>				
			</span>	
		</div>
		<div class="summary" ng-if="post.showActionSummary === 'favorites' && post.favs.length > 0">
			<span>Favorites: {{ post.favs.length }} </span>
			<span>Last Fav: {{ formatDate(post.favs[0]) }}</span>			
			<span>
				Users: 
				<span ng-repeat="fav in post.favs track by $favIndex">
					@{{ fav.screenName }}
				</span>				
			</span>								
		</div>
	</div>




	<div class="conversation-container" ng-click="toggleConversation($index)" ng-show="isPostConversationOpen($index)">
		<hr class="conversation-rule"></hr>

		<div ng-show="post.conversationTweets.length === 0">
			No Conversations to Show
		</div>

		<div ng-repeat="conversation in post.conversationTweets" >
			<div class="tweet-container">
				<div class="tweet-header">
					<div class="profile-pic-container">
						<img ng-src="{{ conversation.userProfileImage }}">								
					</div>
					<div class="profile-container">
						<div class="tweet-profile-name">
							@{{ conversation.fromName }}
						</div>
						<div class="tweet-time">
							{{ getPostTimeFromNow(conversation.createdAt) }}
						</div>
					</div>					
				</div>

				<div class="tweet-body">
					<div class="message-container">
						{{ conversation.message }}
					</div>
					
					<div class="media-container" ng-repeat="media in conversation.medias track by $mediaIndex">
						<img ng-src="{{media.mediaUrl}}">
					</div>

				</div>
				<div class="footer-container">
					<div class="action-icon-container">
						<i class="fa fa-reply" ng-click="toggleReplyView(conversation)"></i>
						<span ng-click="toggleActionSummary(conversation, 'replies')">{{ conversation.conversationTweets.length }}</span>
					</div>
					<div class="action-icon-container">
						<i class="fa fa-retweet" ng-click="toggleRetweetView(conversation)"></i>
						<span ng-click="toggleActionSummary(conversation, 'retweets')">{{ conversation.retweets.length }}</span>
					</div>
					<div class="action-icon-container">
						<i class="fa fa-star" ng-click="favoriteTweet(conversation)"></i>
						<span ng-click="toggleActionSummary(conversation, 'favorites')">{{ conversation.favs.length }}</span>		
					</div>
					<div class="action-icon-container">
						<i ng-click="toggleActionSummary(conversation, 'tags')" class="fa fa-tag"></i>
						<span>0</span>
					</div>
					<div class="delete-tweet-container" ng-click="deletePost(conversation.tweetId)">
						<i class="fa fa-trash-o"></i>
					</div>	
				</div>
				<div class="action-summary-container">
					<div class="summary" ng-if="conversation.showActionSummary === 'replies' && conversation.conversationTweets.length > 0">
						<span>Replies: {{ conversation.conversationTweets.length }} </span>
						<span>Last reply: {{ formatDate(conversation.conversationTweets[0]) }}</span>			
						<span>
							Users: 
							<span ng-repeat="reply in conversation.conversationTweets track by $replyIndex">
								@{{ reply.screenName }}
							</span>				
						</span>	
					</div>
					<div class="summary" ng-if="conversation.showActionSummary === 'retweets' && conversation.retweets.length > 0">
						<span>Retweets: {{ conversation.retweets.length }} </span>
						<span>Last retweet: {{ formatDate(conversation.retweets[0]) }}</span>			
						<span>
							Users: 
							<span ng-repeat="retweet in conversation.retweets track by $retweetIndex">
								@{{ retweet.screenName }}
							</span>				
						</span>	
					</div>
					<div class="summary" ng-if="conversation.showActionSummary === 'favorites' && conversation.favs.length > 0">
						<span>Favorites: {{ conversation.favs.length }} </span>
						<span>Last Fav: {{ formatDate(conversation.favs[0]) }}</span>			
						<span>
							Users: 
							<span ng-repeat="fav in conversation.favs track by $favIndex">
								@{{ fav.screenName }}
							</span>				
						</span>								
					</div>
				</div>

				<div class="reply-container" ng-show="isConversationReplyOpen(conversation)">
					<textarea class="conversation-message" ng-model="reply" placeholder="Reply to {{conversation.fromName }}"></textarea>
					<div class="btn-solid btn-primary" ng-click="replyToTweet(conversation, reply)">REPLY</div>
				</div>
				<div class="retweet-container" ng-show="isRetweetOpen(conversation)">
					<textarea class="conversation-message" ng-model="retweet"></textarea>
					<div class="btn-solid btn-primary" ng-click="retweetTweet(conversation, retweet)">RETWEET</div>
				</div>
			</div>
		</div>
	</div>
</div>