<div class="col-md-24 main-child-tab">
  <h4>{{ 'label.trackedSites.TrackClickEventsAndConversionsUsingToolbar' | translate }}</h4>
  <div class="select-click-site">
    <a fs-permission="<MANAGE_WEBSITES>"
       fs-permission-prevent-click
       class="tag-site-options"
       ng-href="http://{{ site.host.split('.').length >= 3 ? site.host : 'www.' + site.host }}/?fractalToolbarKey={{token}}&teamId={{fractalAccountInfo.currentTeam.id}}"
       target="_new">
      <button class="btn-solid btn-outline btn-add-site" urlIdx="{{$index}}">{{ 'label.alignRightColumn.TagSite' | translate }}
      </button>
    </a>
    <button class="btn-solid btn-outline btn-add-site refresh" ng-click="getPixelEvents(site)">{{ 'label.trackedSites.RefreshEvents' | translate }}
    </button>
  </div>
  <div class="loading-script-manage" ng-if="site.refreshingEvents">
    <img ng-src="assets/images/ajax-loader.gif">
  </div>
  <div class="row list-click-events-block" ng-if="site.clickEvents.length > 0 && !site.refreshingEvents">
    <div class="col-md-6">
      <p class="sortable">{{ 'label.trackedSites.EventName' | translate }}</p><i class="fa fa-sort" ng-click="sortByEventName('eventModel.eventName')"></i>
    </div>
    <div class="col-md-8">
      <p>{{ 'label.trackedSites.EventID' | translate }}</p>
    </div>
    <div class="col-md-8">
      <p>{{ 'label.trackedSites.EventURL' | translate }}</p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row click-events-outline" ng-if="!site.refreshingEvents"
       ng-repeat="event in site.clickEvents | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:sort:reverse"
       ng-class="{'last': $last}">
    <div class="col-md-6">
      <p>{{event.eventModel.eventName}}</p>
    </div>
    <div class="col-md-8">
      <p class="click-event-id">{{event.eventModel.selector}}</p>
    </div>
    <div class="col-md-8">
      <p>{{event.eventModel.pageUrl}}</p>
    </div>
    <div class="col-md-2">
      <i class="fa fa-trash-o" ng-click="deactivateEvent(event, site, 'clicks')"></i>
    </div>
  </div>

  <div class="events-pagination bottom" ng-if="site.clickEvents.length > 10" ng-include="'app/main/align/siteManagement/siteTemplates/eventPagination.html'"></div>
</div>
