<div class="col-md-24 main-child-tab">
  <h4>{{ 'label.trackedSites.TrackEventsAndConversionOfSpecificEvents' | translate }}</h4>
  <form name="forms.trackingUrl" class="select-click-site conversion-pixel-add">
    <div class="form-group">

        <div class="col-md-19" style="padding-left: 0;">
          <input class="form-control step-one-input" required type="text" ng-model="site.newConversionPixel.name" name="newConversionPixelData"
                 placeholder="Name Your Conversion Pixel" ng-disabled="site.conversionCreationProcessing"/>
          <div ng-messages="forms.trackingUrl.newConversionPixelData.$error" ng-show="forms.trackingUrl.submitted">
            <div class="error-message" ng-message="required">{{'label.trackedSites.Pleaseenteranamefortheconversionpixel' | translate}}</div>
          </div>
        </div>
        <div class="col-md-5" style="padding-right: 0;">
          <button class="btn-solid btn-primary btn-add-site" ng-disabled="site.conversionCreationProcessing"
                  ng-click="createConversionPixel(site)">{{ 'label.trackedSites.AddConversionPixel' | translate }}</button>
        </div>
    </div>
  </form>

  <div class="row" style="margin: 0; margin-top: 15px; margin-bottom: 10px;"
       ng-repeat="conversionPixel in site.conversionPixels | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:'registeredAt':true">
    <div class="col-md-24">
      <div class="row member-container sites conversion-pixel-expanded">
        <div style="padding-top: 0.8em;padding-bottom: 0.8em; padding-left: 0.7em;"
             ng-class="{'header':true, 'col-md-24':true, expanded: conversionPixel.expanded}"
             ng-click="getConversionPixelScript(site, conversionPixel); conversionPixel.expanded = !conversionPixel.expanded;" >
          <div class="col-md-24"
               ng-class="urlStateClass($index)"
               urlIdx="{{$index}}"
               style="position: relative">
            {{conversionPixel.eventName}}

            <i class="fa fa-caret-left expanding-carets" ng-if="!conversionPixel.expanded"></i>
            <i class="fa fa-caret-down expanding-carets" ng-if="conversionPixel.expanded"></i>

            <i class="fa fa-trash-o" ng-if="conversionPixel.expanded && !conversionPixel.showScriptLoader && conversionPixel.script"
               ng-click="deactivateEvent(conversionPixel, site, 'pconv'); $event.stopPropagation();" urlIdx="{{$index}}"
               style="float: right; margin-right: 15px; margin-top: 3px;"></i>

          </div>
        </div>

        <div class="loading-script-manage" ng-if="conversionPixel.showScriptLoader">
          <img ng-src="assets/images/ajax-loader.gif">
        </div>

        <div class="body col-md-24 conversion-pixel-expanded" ng-if="conversionPixel.expanded && !conversionPixel.showScriptLoader">
          <div class="site-script-copy conversion">
            <p>{{conversionPixel.script}}</p>
          </div>
          <button class="btn-solid btn-primary btn-add-site" clip-copy="conversionPixel.script" ng-click="showCopiedToClipboard(conversionPixel)"
                  ng-class="{'copied-btn': conversionPixel.copiedToClipboard }">
            <span ng-show="!conversionPixel.copiedToClipboard">{{ 'label.trackedSites.CopyCode' | translate }}</span>
            <span ng-show="conversionPixel.copiedToClipboard">{{ 'label.trackedSites.CopiedToClipboard' | translate }}</span>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="events-pagination bottom" ng-if="site.conversionPixels.length > 10" ng-include="'app/main/align/siteManagement/siteTemplates/eventPagination.html'"></div>
</div>
