<div class="events-pagination">
  <nav role="navigation">
    <ul class="paginated-blocks">
      <li class="button" ng-class="{'disabled': currentPage === 0}" ng-click="prevPage()">
        <a></a>
      </li>
      <li>
        {{currentPage+1}} / {{numberOfPaginationPages(paginatedData)}}
      </li>
      <li class="button" ng-class="{'disabled': currentPage >= paginatedData.length/pageSize - 1}"
          ng-click="nextPage()">
        <a></a>
      </li>
    </ul>
  </nav>
</div>


