<form>
  <div class="col-md-24 main-child-tab">
    <h4 class="page-landing-header">{{ 'label.trackedSites.TrackPageLandingEventsAndConversionsUsingAccompliceTaggingToolbar' | translate }}</h4>
    <div class="select-click-site new-page-event">
      <div class="col-md-11 labelInputArea" style="padding-left: 0;">
        <label for="page-url">
          <p>{{ 'label.trackedSites.PageURL' | translate }}</p>
        </label>
        <span>
          <input type="text" name="page-url" id="page-url" class="form-control page-url" placeholder="{{ site.host }}/example.html" ng-model="site.newPageName"/>
        </span>
        <div class="clear"></div>
      </div>
      <div class="col-md-9 labelInputArea">
        <label for="event-name">
          <p>{{ 'label.trackedSites.EventNameLanding' | translate }}</p>
        </label>
        <span>
          <input type="text" name="event-name" id="event-name" class="form-control event-name" placeholder="Event Name"
                 ng-maxlength="64" ng-minlength="1" minlength="1" maxlength="64" ng-model="site.newEventName"/>
        </span>
        <div class="clear"></div>
      </div>
      <div class="col-md-4" style="padding-right: 0;">
        <button ng-if="!eventSaved" class="btn-solid btn-outline btn-add-site" ng-disabled="site.newPageName.trim().length < 1 || site.newEventName.trim().length < 1 || !site.newPageName || !site.newEventName"
                ng-click="saveEvent(site, site.newPageName, site.newEventName)">{{ 'label.trackedSites.SavePageEvent' | translate }}</button>

        <i class="fa fa-check-circle" ng-if="eventSaved"></i><span class="event-saved" ng-if="eventSaved">{{ 'label.trackedSites.EventSaved' | translate }}</span>
      </div>
    </div>
  </form>

  <div class="row list-click-events-block" ng-if="site.pageLandingEvents.length > 0">
    <div class="col-md-6">
      <p class="sortable">{{ 'label.trackedSites.EventName' | translate }}</p><i class="fa fa-sort" ng-click="sortByEventName('eventModel.eventName')"></i>
    </div>
    <div class="col-md-13">
      <p>{{ 'label.trackedSites.PageEventURL' | translate }}</p>
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="row click-events-outline" ng-repeat="event in site.pageLandingEvents | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:sort:reverse" ng-class="{'last': $last}">
    <div class="col-md-6">
      <p>{{event.eventModel.eventName}}</p>
    </div>
    <div class="col-md-13">
      <p>{{event.eventModel.selector}}</p>
    </div>
    <div class="col-md-5">
      <i class="fa fa-trash-o" ng-click="deactivateEvent(event, site, 'url')"></i>
      <!-- <button class="btn-solid btn-outline btn-add-site btn-validate-url" urlIdx="{{$index}}"
              id='btn-validate-url-{{$index}}'
              ng-class="urlStateClass($index)"
              ng-click="validateURLInit({
                      host: event.eventModel.selector,
                      testUrl: event.eventModel.selector,
                      index: $index,
                      nowait: true,
                      nocache: true,
                      badurlonly: false
                    })">{{ 'label.trackedSites.Validate' | translate }}</button>
      <div class="tooltipped tooltipped-w tooltipped-multiline validate-url-alert-icon pull-right"
           aria-label="{{ urlState[$index + 10].tooltip }}"
           ng-class="urlStateClass($index + 10)" >
        <i class="fa fa-exclamation-circle"></i></div>

      <div class="tooltipped tooltipped-w tooltipped-multiline validate-url-working-icon pull-right"
           aria-label="URL validation in progress"
           ng-class="urlStateClass($index + 10)" >
        <img ng-src="assets/images/busy_button.gif"></div>

      <div class="tooltipped tooltipped-w tooltipped-multiline validate-url-okay-icon pull-right"
           aria-label="{{ urlState[$index + 10].tooltip }}"
           ng-class="urlStateClass($index + 10)" >
        <i class="fa fa-check-circle"></i></div> -->
    </div>
  </div>

  <div class="events-pagination bottom" ng-if="site.pageLandingEvents.length > 10" ng-include="'app/main/align/siteManagement/siteTemplates/eventPagination.html'"></div>
