<div class="col-md-24 main-child-tab">
  <h4>{{ 'label.trackedSites.TrackingScript' | translate }}</h4>
  <div class="site-script-copy">
    <p>{{site.scriptForCopy}}</p>
  </div>
  <div class="site-script-copy-buttons">
    <button class="btn-solid btn-primary btn-add-site" clip-copy="site.scriptForCopy" ng-click="showCopiedToClipboard(site)"
      ng-class="{'copied-btn': site.copiedToClipboard }">
      <span ng-show="!site.copiedToClipboard">{{ 'label.trackedSites.CopyCode' | translate }}</span>
      <span ng-show="site.copiedToClipboard" class="fadein fadeout">{{ 'label.trackedSites.CopiedToClipboard' | translate }}</span>
    </button>

    <button id='btn-validate-url-{{$index}}'
            class="btn-solid btn-outline btn-add-site spacing btn-validate-url"
            ng-class="urlState[site.URLName].state"
            urlIdx="{{$index}}"
            ng-click="validateURLInit({
                      host: site.host,
                      testUrl: site.URLName,
                      index: $index,
                      nowait: true,
                      nocache: true,
                      badurlonly: false
                    })">{{ 'label.trackedSites.Validate' | translate }}</button>

  </div>
  <div class="site-script-info-counts">

    <div class="col-md-24 events-blocks">
      <div class="col-md-5">
        <h4>{{ 'label.trackedSites.ConversionPixelsLand' | translate }} </h4>
      </div>
      <div class="col-md-19">
        <span>{{site.conversionPixels.length}}</span>
      </div>
    </div>
    <div class="col-md-24 events-blocks">
      <div class="col-md-5">
        <h4>{{ 'label.trackedSites.ClickEventsLand' | translate }} </h4>
      </div>
      <div class="col-md-19">
        <span>{{site.clickEvents.length}}</span>
      </div>
    </div>
    <div class="col-md-24 events-blocks">
      <div class="col-md-5">
        <h4>{{ 'label.trackedSites.PageLandingEventsLand' | translate }} </h4>
      </div>
      <div class="col-md-19">
        <span>{{site.pageLandingEvents.length}}</span>
      </div>
    </div>

  </div>
</div>
