<div class="generic-confirm" ng-form="inputNameForm">
  <div class="fs-confirm-body">
    {{ body }}
    <input fs-focus-input="{{focusInput}}" type="text" name="inputName" ng-model="inputName" class="form-control dialog-input"
           ng-minlength="3" ng-maxlength="{{ maxLength || 64 }}" minlength="{{ minLength || 3 }}" maxlength="{{ maxLength || 64 }}" required placeholder="{{ title }}" autofocus/>
  </div>
  <div class="fs-confirm-footer">
    <button class="no btn-solid btn-tertiary btn-fix-width" fs-deny>{{ no || 'No' }}</button>
    <button class="yes btn-solid btn-primary btn-fix-width" fs-confirm ng-disabled="!inputNameForm.inputName.$valid">{{ yes || 'Yes' }}</button>
  </div>
</div>
