body.confirm-open {
  overflow: hidden;
  position: relative;
}

.fs-confirms {
  position: fixed;
  z-index: 65535;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background-color 1000ms linear;
}
.fs-confirms.dark {
  background-color: fade(@tin-heavy, 40%);
}
@media (min-width: 0) {
  .fs-confirms {
    margin-left: -@left-column-width-sm;
  }
}
@media (min-width: @screen-md) {
  .fs-confirms {
    margin-left: -@left-column-width;
  }
}
@media (min-width: @screen-hg) {
  .fs-confirms {
    margin-left: -@left-column-width-hg;
  }
}
.fs-confirm {
  display: none;
  position: fixed;
  border-radius: 2px;
  width: 100%;
  left: 50vw;
  margin-left: -50%;
  overflow: hidden;
  border: 1px solid @mono-light;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.04);
  margin-top: 30vh;
  word-wrap: break-word;
  outline: 0;
}
@media screen and (min-width: @screen-md) {
  @confirm-width : 48.32vw;
  .fs-confirm {
    width: @confirm-width;
    margin-left: -@confirm-width / 2;
  }
}
@media screen and (min-width: @screen-lg) {
  @confirm-width : 46.22vw;
  .fs-confirm {
    width: @confirm-width;
    margin-left: -@confirm-width / 2;
  }
}
@media screen and (min-width: @screen-hg) {
  @confirm-width : 36vw;
  .fs-confirm {
    width: @confirm-width;
    margin-left: -@confirm-width / 2;
  }
}
.generic-confirm {
  h3 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0;
    color: @tin-medium;
    > .fa-warning {
      color: @cherry-dark;
    }
  }
  background-color: @pale-medium;
  border: 1px solid @pale-heavy;
  .fs-confirm-body {
    margin-top: @line / @unitem;
    padding: 1em;
    padding-bottom: @line * 1.5 / @unitem;
    border-bottom: 1px solid @mono-light;
    overflow: auto;
    max-height: 20em;

  }
  .fs-confirm-footer {
    background-color: @pale-light;
    padding: 0.5em;
    padding-top: @line / 2 / @unitem;
    padding-bottom: @line / 2 / @unitem;
    text-align: right;
  }
}
.dialog-input {
  margin-top: 10px;
}
.fs-confirm-errors {
  h3 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0;
    color: @tin-medium;
    > .fa-warning {
      color: @cherry-dark;
    }
  }
  background-color: @pale-medium;
  border: 1px solid @pale-heavy;
  .fs-confirm-footer {
    background-color: @pale-light;
    padding: 0.5em;
    padding-top: @line / 2 / @unitem;
    padding-bottom: @line / 2 / @unitem;
    text-align: right;
  }
  .fs-confirm-body-errors {
    color: @cherry-dark;
    margin-top: @line / @unitem;
    padding: 1em;
    padding-bottom: @line * 1.5 / @unitem;
    border-bottom: 1px solid @mono-light;
    max-height: 35vh;
    overflow: auto;
  }
}
