<div class="generic-confirm">
  <h3 ng-show="title && title.length">{{ title }}</h3>
  <div class="fs-confirm-body">
    {{ notSupported }}<br/>
    {{ fileTypes }}<br/><br/>
    {{ contact }}<a href="mailto:{{ mailLink }}"> {{ mailLink }}.</a>
  </div>
  <div class="fs-confirm-footer">
    <button class="yes btn-solid btn-primary btn-fix-width" fs-confirm>{{ yes || 'OK' }}</button>
  </div>
</div>
