<div class="generic-confirm">
  <h3 ng-show="title && title.length">{{ title }}</h3>
  <div class="fs-confirm-body">
    {{body}}
    <ul>
      <li ng-repeat="msg in messages">
        {{ msg }}
      </li>
    </ul>
  </div>
  <div class="fs-confirm-footer">
    <button ng-show="false" class="no btn-solid btn-tertiary btn-fix-width" fs-deny>{{ no || 'No' }}</button>
    <button class="yes btn-solid btn-primary btn-fix-width" fs-confirm>{{ yes || 'OK' }}</button>
  </div>
</div>
