<table>
	<tbody>
		<tr class="text-center">
			<td><a ng-click="incrementHours()" class="btn btn-link"><span class="fa fa-chevron-up"></span></a></td>
			<td>&nbsp;</td>
			<td><a ng-click="incrementMinutes()" class="btn btn-link"><span class="fa fa-chevron-up"></span></a></td>
			<td ng-show="showMeridian"></td>
		</tr>
		<tr>
			<td class="form-group timepicker-element-width" ng-class="{'has-error': invalidHours}">
				<input type="text" ng-model="hours" ng-change="updateHours()" class="form-control no-padding text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
			</td>
			<td><strong>&nbsp;:&nbsp;</strong></td>
			<td class="form-group timepicker-element-width" ng-class="{'has-error': invalidMinutes}">
				<input type="text" ng-model="minutes" ng-change="updateMinutes()" class="form-control no-padding text-center" ng-readonly="readonlyInput" maxlength="2">
			</td>
			<td ng-show="showMeridian">&nbsp;<button type="button" class="btn-solid btn-primary text-center timepicker-am-pm no-padding" ng-click="toggleMeridian()">{{meridian}}</button></td>
		</tr>
		<tr class="text-center">
			<td><a ng-click="decrementHours()" class="btn btn-link"><span class="fa fa-chevron-down"></span></a></td>
			<td>&nbsp;</td>
			<td><a ng-click="decrementMinutes()" class="btn btn-link"><span class="fa fa-chevron-down"></span></a></td>
			<td ng-show="showMeridian"></td>
		</tr>
	</tbody>
</table>