
.project-report-section {
  background-color: @pale-medium;  
  &.white {
    background-color: @pale; 
  }
  &.margin-bottom {
    margin-bottom: 1em;  
  }
  border: 1px solid @mono-light;
  padding: 1rem;
  >.negate-padding {
    margin: 0 -1rem -1rem;  
  }
  > h3, >.row h3 {
    position: relative;
    margin-top: @line / @unitem - 1em;
  }
  .chart-wrapper {
    background-color: @pale-medium;  
    .chart-cover {
      &.left-cover, 
      &.right-cover {
        fill : @pale-medium;
      }  
    }
  }
}

.project-report-error-text {
  color: @cherry-medium;  
}

.goal-icon {
  color : @nature-heavy;  
  margin-right: 0.25em;
}

.project-report-goals-header {
  cursor: pointer;
  margin-bottom: 0.5em;
  .project-report-section {
    padding: 1.5em 1em;
    background: #fff;
  }
  .fa {
    position: relative;
    font-size: 1.2em;
    top: 0.25em;
  }
  .fa-caret-down {
    display: none;  
  }
  .fa-caret-left {
    display: inline;  
  }
  &.open {
    .fa-caret-down {
      display: inline;  
    }
    .fa-caret-left {
      display: none;  
    }
  }
}
.goal-conv, .goal-conv-stat {
  font-family: @font-family-headline; 
  font-size: 1.2rem;
  margin-right: 0.5em;
  text-transform: none;
  color: @tin-heavy;
}
.goal-conv-stat {
  color: @nature-heavy;
}


.report-accordion-goals {
  > .accordion {
    
  }
  .accordion-header {
    border: 1px solid @nature-light;  
    background-color: ~"@{nature-light} !important";
    margin-top: -1px;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    padding: 1.5em 1em!important;
    .fa-caret-down {
      display: none;  
    }
    .fa-caret-left {
      display: inline;  
    }
  }
  .accordion-group.open .accordion-header {
    background-color: ~"@{pale} !important";  
    border: 1px solid @mono-light;  
    .fa-caret-down {
      display: inline;  
    }
    .fa-caret-left {
      display: none;  
    }
  }
  .accordion-body {
    background-color: @pale-medium!important;  
    border: 1px solid @mono-light;  
    margin-top: -1px;
    .axis .tick {
      font-size: @font-size-small / @unitem;  
      text {
        fill: @tin-medium;  
      }
    }
    .axis line, .domain {
      stroke : ~"@{mono-light}!important";  
    }
  }
}

[ui-grid].activities {
  height : 28em;
  .ui-grid-top-panel  {
    background-color: @pale-light;
    color : @tin-heavy;
  }
  .ui-grid-row, .ui-grid-cell {
    height : 3em!important;
    background-color: #fff!important;
  }
  .ui-grid-row {
    border-bottom: 1px solid @pale-medium;
  }
  .ui-grid-row:nth-child(even) {
    background-color: ~"@{pale-light}!important"; 
  }
  .ui-grid-cell {
    padding-top: 0.5em;
    background-color: transparent!important;
    border-color: transparent!important;
  }
}

.kpi-group {
  cursor: pointer;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  height : 4.5em;
  border: 1px solid @mono-medium;
  background-color: @nature-light;
  color: @mono-heavy;
  border-radius: 2px;
  &.active {
    background-color: @nature-heavy;
    color: @pale; 
  }
}

.height-0 {
  height: 0!important;  
  overflow: hidden;
}

.activity-report-mode {
  float: right;  
}
.project-report-activity-table {
  .dg-table {
    border: 0!important;  
    border-top: 1px solid #ccc!important;
  }  
}
