<div>

	<!-- Target based on new devices checkbox-->
	<div>
      <input type="checkbox" ng-checked="false" id="newDeviceBool" ng-value="false" ng-model="newDeviceChecked" ng-change="toggleVariant('newDevices', newDeviceChecked)">
      <label for="newDeviceBool"> {{ 'label.act.twitter.audiences.Targetusersbasedon' | translate }} </label>
    </div>

    <div class="form-group">
      <fs-variant type="newDevices" ng-model="view.newDevices"></fs-variant>
    </div>

    <div ng-show="newDeviceChecked">

	    <!-- "Target users..." radio and dropdown -->
		<input type="radio" id="targetNewDevice" ng-model="newDevice.method" name="newDevice" ng-value="include" />
		<label for="targetNewDevice">{{ 'label.act.twitter.audiences.Targetpeoplewhofirstused' | translate }} </label>
		<div class="fs-dropdown default col-sm-2" >
			<div id="newDevice-howLong" class="fs-dropdown-link" on-state="click" ng-model="newDevice.method" ng-value="include">
		        <span>{{ (newDevice.howLong && newDevice.method === 'include') ? newDevice.howLong + newDevice.timePeriod : 'How long?'}}</span>
		        <i class="fa fa-caret-down"></i>
			</div>
		    <ul class="fs-dropdown-menu">
		        <li ng-repeat="item in newDeviceLengths track by $index" ng-model="newDevice.howLong" ng-value="item" ng-click="addNewDeviceTargeting(item, 'include')">{{item}} {{ 'label.act.twitter.audiences.months' | translate }}</li>
		    </ul>
		</div>

		<!-- "Exclude users..." radio and dropdown -->
		<input type="radio" id="excludeNewDevice" ng-model="newDevice.method" name="newDevice" ng-value="exclude" />
		<label for="excludeNewDevice">{{ 'label.act.twitter.audiences.Excludepeoplewhofirstused' | translate }} </label>
		<div class="fs-dropdown default" >
			<div id="newDevice-howLong" class="fs-dropdown-link" on-state="click" ng-model="newDevice.method" ng-value="exclude">
		        <span>{{ (newDevice.howLong && newDevice.method === 'exclude') ? newDevice.howLong + ' ' + ( 'label.act.twitter.audiences.months' | translate ) : 'How long?'}}</span>
		        <i class="fa fa-caret-down"></i>
			</div>
		    <ul class="fs-dropdown-menu">
		        <li ng-repeat="item in newDeviceLengths track by $index" ng-model="newDevice.howLong" ng-value="item" ng-click="addNewDeviceTargeting(item, 'exclude')">{{item}} {{ 'label.act.twitter.audiences.months' | translate }}</li>
		    </ul>
		</div>
		
	</div>
</div>

