<div class="application-info">
  <!------------- Facebook App Info ---------- -->
  <div class="row">
    <i class="fa fa-facebook facebook-heavy"></i>
    Facebook
  </div>
  <div class="row error-message margin-bottom-1"
      ng-if="!view.hasFbAccount">
    {{'label.align.appManagement.fbAccountMissingMessage' | translate}}
  </div>
  <div class="row">
    <div class="col-md-16">
      <div class="row">
        <div class="col-md-8">
          {{ 'label.align.appManagement.FacebookAppID' | translate }}:
        </div>
        <div class="col-md-15">
          <input
              type="text"
              class="form-control"
              ng-class="{'ng-invalid error-container': currentApp.facebook.facebookApp.appId> 0 && currentApp.facebook.isValid === false}"
              ng-model-options="view.urlModelOptions"
              ng-model="currentApp.facebook.facebookApp.appId"
              ng-disabled="currentApp.facebook.disabled"
              ng-change="getFacebookAppInfo(currentApp)"
              placeholder="{{ 'label.align.appManagement.FacebookAppId' | translate }}"
              />
      <span class="error-message"
            ng-if="currentApp.facebook.facebookApp.appId.length > 0 && currentApp.facebook.isValid === false">
        Facebook App Id invalid
      </span>
      <span ng-if="currentApp.facebook.facebookApp.appId.length > 0 && currentApp.facebook.isValid">
        {{currentApp.facebook.details.name}}
        <i class="fa"
           ng-class="{'fa-apple':currentApp.facebook.details.ios}">
        </i>
        <i class="fa"
           ng-class="{'fa-android':currentApp.facebook.details.android}">
        </i>
      </span>
        </div>
      </div>
    </div>
    <div class="col-md-8 app-instructions">
      {{'label.align.appManagement.findFbAppIdMessage' | translate}} <a href="https://developers.facebook.com/apps"
                                                   target="_blank">{{'label.align.appManagement.Dashboard' | translate}}</a>
    </div>
  </div>
  <div ng-if="false">
    <div class="row">
      <i class="fa fa-twitter"></i>
      Twitter
    </div>

    <div class="row">
      <!-- Labels and inputs for app ids-->
      <div class="col-md-16">
        <!-- Select Country -->
        <div class="row">
          <div class="col-md-8">
            {{ 'label.align.appManagement.Country' | translate }}:
          </div>
          <div class="col-md-15">
            <div ng-atp="currentApp.twitter.twitterApp.country" ng-atp-config="view.twCountryAtpConfig">
              <input
                  id="country_value"
                  placeholder="{{ 'label.align.appManagement.Searchforcountriesandselectfromdropmenu' | translate }}"
                  ng-atp-input
                  type="text"
                  class="form-control form-control-small"
                  />
              <ul ng-atp-suggestions></ul>
            </div>
          </div>
        </div>
        <!-- End Select Country -->
        <!-- iPhone App ID-->
        <div class="row margin-top-05">
          <div class="col-md-8">
            {{ 'label.align.appManagement.iPhone' | translate }}
            {{ 'label.align.appManagement.AppStoreID' | translate }}:
          </div>
          <div class="col-md-15">
            <input type="text"
                   ng-show="!currentApp.twitter.disabled.iphone"
                   class="form-control"
                   ng-model="currentApp.twitter.twitterApp.iphoneAppId"
                   ng-disabled="currentApp.twitter.disabled.iphone"/>
            <input type="text"
                   ng-show="currentApp.twitter.disabled.iphone"
                   class="form-control"
                   ng-model="currentApp.twitter.twitterApp.iphoneAppUrl"
                   ng-disabled="currentApp.twitter.disabled.iphone"/>
          </div>
        </div>
        <!-- End iPhone App ID-->
        <!-- iPad App ID -->
        <div class="row margin-top-05">
          <div class="col-md-8">
            {{ 'label.align.appManagement.iPad' | translate }}
            {{ 'label.align.appManagement.AppStoreID' | translate }}:
          </div>
          <div class="col-md-15">
            <input type="text"
                   ng-show="!currentApp.twitter.disabled.ipad"
                   class="form-control"
                   ng-model="currentApp.twitter.twitterApp.ipadAppId"
                   ng-disabled="currentApp.twitter.ipad.disabled"/>
            <input type="text"
                   ng-show="currentApp.twitter.disabled.ipad"
                   class="form-control"
                   ng-model="currentApp.twitter.twitterApp.ipadAppUrl"
                   ng-disabled="currentApp.twitter.disabled.ipad"/>
          </div>
        </div>
        <!-- End iPad App ID -->
        <!-- Android App Id-->
        <div class="row margin-top-05">
          <div class="col-md-8">
            {{ 'label.align.appManagement.PlayStoreID' | translate }}:
          </div>
          <div class="col-md-15">
            <input type="text"
                   ng-show="!currentApp.twitter.disabled.android"
                   class="form-control"
                   ng-model="currentApp.twitter.twitterApp.googleplayAppId"
                   ng-disabled="view.twitter.disabled.android"/>
            <input type="text"
                   ng-show="currentApp.twitter.disabled.android"
                   class="form-control"
                   ng-model="currentApp.twitter.twitterApp.googleplayAppUrl"
                   ng-disabled="currentApp.twitter.disabled.android"/>
          </div>
        </div>
        <!-- End Android App Id -->
      </div>
      <!-- Instructions box-->
      <div class="col-md-8 app-instructions twitter">
        <div class="underline">iOS</div>
        <div>{{'label.align.appManagement.findTwIosIdMessage' | translate}}</div>
        <br>
        <div class="underline">Android</div>
        <div>{{'label.align.appManagement.findTwAndroidIdMessage' | translate }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row fright margin-top-1" ng-show="!currentApp.id">
  <button type="button"
          ng-disabled="!view.hasFbAccount || view.isSaveButtonDisabled"
          ng-click="saveChanges(currentApp)"
          class="btn btn-solid btn-primary">{{ 'label.align.appManagement.SaveApp' | translate }}
  </button>
</div>




