<div class="modal-body modal-body-members check-box-initial-members-block app-block">
  <div class="header-labeled">
    <h3>{{ 'label.align.appManagement.MobileApps' | translate }}</h3>
  </div>

  <div class="row app-lead-blocks">
    <div class="col-md-24 app-lead-blocks-padding">
      <p class="app-label"> {{ 'label.align.appManagement.editAppMessage' | translate }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-20 margin-top-app-name-input">
      <span class="pull-right"
          ng-class="{'error-container':view.newAppName.length > view.nameMaxLength}">{{view.nameMaxLength - view.newAppName.length}}</span>
      <input name="name"
             type="text"
             placeholder="App Name"
             ng-model="view.newAppName"
             class="form-control app-name-input"
             max="2"
             ng-class="{'error-container ng-invalid': view.newAppName.length > view.nameMaxLength}">
      <div ng-show="view.newAppName.length > view.nameMaxLength"
          class="error-message">
        {{'label.align.appManagement.appNameLengthErrorMessage' | translate}}
      </div>
    </div>
    <div class="col-md-4">
      <button type="button"
              ng-click="createApp(view.newAppName)"
              class="btn btn-solid btn-primary"
              ng-disabled="view.newAppName.length > view.nameMaxLength">{{ 'label.align.appManagement.AddApp' | translate }}
      </button>
    </div>
  </div>

  <div class="row app-lead-blocks" ng-repeat="app in applications | orderBy:'-id'">
    <div class="col-md-24">
      <div class="row member-container" >
        <div class="member-container-padding"
             ng-class="{'header':true, 'col-md-24':true, expanded: app.isExpanded}"
             ng-click="app.isExpanded = !app.isExpanded;">

          <div class="col-md-21 position-relative">
            {{app.name}}
          </div>
          <div class="col-md-2">
            <button class="btn-solid btn-deactivate-links"
                    style="float: right; font-size: 14px;"
                    ng-if="app.isExpanded"
                    ng-click="deleteAccompliceApp(app)"><i class="fa fa-trash-o"></i></button>
          </div>
          <div class="col-md-1">
            <i class="fa fa-caret-left carets-apps" ng-if="!app.isExpanded"></i>
            <i class="fa fa-caret-down carets-apps" ng-if="app.isExpanded"></i>
          </div>
        </div>
        <div class="body col-md-24 manage-app-block" ng-if="app.isExpanded">
          <div ng-if="!app.isBeingEdited" ng-include="'app/main/align/appManagement/viewApp.html'"></div>
          <div ng-if="app.isBeingEdited" ng-include="'app/main/align/appManagement/editApp.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-24 text-right">
      <button type="button" ng-click="closeThisDialog()" class="btn btn-solid btn-primary">
      {{ 'label.align.appManagement.Done' | translate }}
      </button>
    </div>
  </div>
</div>
