<div class="application-info" ng-repeat="channelApp in app.channelApplications">
  <div ng-if="channelApp.type === 'Facebook'">
    <div class="row">
      <i class="fa fa-facebook facebook-heavy"></i>
      Facebook
    </div>
    <div class="row">
      <div class="col-md-7">
        {{ 'label.align.appManagement.FacebookAppID' | translate }}:
      </div>
      <div class="col-md-8">
        {{channelApp.appId || 'N/A'}}
      </div>
    </div>
  </div>
  <div ng-if="channelApp.type === 'Twitter'" ng-show="false">
    <div class="row">
      <i class="fa fa-twitter"></i>
      Twitter
    </div>
    <div class="row">
      <div class="col-md-7">
        {{ 'label.align.appManagement.Country' | translate }}:
      </div>
      <div class="col-md-8">
        {{channelApp.appCountryCode}}
      </div>
    </div>
    <div class="row" ng-repeat="nativeApp in channelApp.nativeApplications">
      <span ng-if="nativeApp.platform ==='IPHONE'">
        <span class="col-md-7">
          {{ 'label.align.appManagement.iPhone' | translate }}
          {{ 'label.align.appManagement.AppStoreID' | translate }}:
        </span>
      </span>
      <span ng-if="nativeApp.platform ==='IPAD'">
        <span class="col-md-7">
          {{ 'label.align.appManagement.iPad' | translate }}
          {{ 'label.align.appManagement.AppStoreID' | translate }}:
        </span>
      </span>
      <span ng-if="nativeApp.platform ==='ANDROID'">
        <span class="col-md-7">
          {{ 'label.align.appManagement.PlayStoreID' | translate }}:
        </span>
      </span>
      <!-- Showing the App Store id -->
      <span class="col-md-8">
        {{nativeApp.app_store_url}}
      </span>
    </div>
  </div>
</div>
<!-- Only show this the 1st time when the user is creating the app-->
<div class="row fright" ng-show="false">
  <button type="button"
          ng-click="deleteAccompliceApp(app)"
          class="btn btn-solid btn-outline">{{ 'label.align.appManagement.DeleteApp' | translate }}
  </button>
  <button type="button"
          ng-click="editApp(app)"
          class="btn btn-solid btn-primary">{{ 'label.align.appManagement.EditApp' | translate }}
  </button>
</div>




