
.file-upload {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 2em;
  width: 86%;
  margin: 2em auto;
  max-width: 30rem;
}
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 13rem;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bulk-vertical-line {
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  margin-top: -1px;
}
.modal-footer {
  .error-message{
    margin: 0 2em;
    text-align: left;
    line-height: 1.4em;
    font-size: 1em;
  }
  .bold {
    font-weight: bold;
    margin: 1em;
  }
  .bulk-footer {
    margin: 0 2em;
    text-align: left;
  }
  .success {
    color: @nature-heavy;
  }
  .spinner {
    margin-left: 28vw;
    font-size: xx-large;
  }
}

a:hover {
  text-decoration: none;
}

.file-download {
  width: 86%;
  margin: 2em auto;
  display: block;
  max-width: 30rem;
}