<div class="modal-header audience-modal-header">
    <h3 class="fleft">{{ 'label.act.bulkUpload.BulkUpload' | translate }}</h3>
</div>

<div class="modal-body">

  <!-- Left column (creatives) -->
  <div ng-class="{'col-md-12': campaign.selectedChannel === 'adwords', 'col-md-24': campaign.selectedChannel === 'facebook'}">
    <!-- better to wrap the file input in a label -->
    <div class="btn btn-primary file-upload">
      <span>{{ 'label.act.bulkUpload.UploadCreatives' | translate }}</span>
      <input type="file" fs-bulk-upload="onCsvImport($fileContent, 'creative')" class="upload" />
    </div>
    <a href="AdWordsCreativeBulkUploadTemplate-Accomplice.csv" class="btn btn-outline btn-secondary file-download">
      <span>{{ 'label.act.bulkUpload.DownloadCreativeTemplate' | translate }}</span>
    </a>
  </div>

  <!-- Right column (keywords) -->
  <div ng-if="campaign.selectedChannel === 'adwords'" class="col-md-12 bulk-vertical-line">
    <div class="btn btn-primary file-upload">
      <span>{{ 'label.act.bulkUpload.UploadKeywords' | translate }}</span>
      <input type="file" fs-bulk-upload="onCsvImport($fileContent, 'keyword')" class="upload" />
    </div>
    <a href="AdWordsKeywordBulkUploadTemplate-Accomplice.csv" class="btn btn-outline btn-secondary file-download">
      <span>{{ 'label.act.bulkUpload.DownloadKeywordTemplate' | translate }}</span>
    </a>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer">
  <div>

    <!-- Errors -->
    <div class="error-message bold" ng-show="!!uploadErrors.length || !!validateErrors.length">{{uploadErrors.length + validateErrors.length}} Error<span ng-show="(uploadErrors.length + validateErrors.length) > 1">s</span>:</div>
    <div class="error-message" ng-repeat="error in uploadErrors"><i class="fa fa-warning"></i>{{ 'label.act.bulkUpload.Errorinrow' | translate }} {{error.row + 1}}: {{error.message}}</div>
    <div class="error-message" ng-repeat="error in validateErrors"><i class="fa fa-warning"></i> {{error.message}}</div>
    <div class="error-message bold" ng-show="(uploadErrors.length + validateErrors.length) === 1">{{ 'label.act.bulkUpload.Pleaseresolvethiserror' | translate }}</div>
    <div class="error-message bold" ng-show="(uploadErrors.length + validateErrors.length) > 1">{{ 'label.act.bulkUpload.Pleaseresolvetheseerrors' | translate }}</div>

    <!-- Success -->
    <div ng-if="creatives" class="success bulk-footer">{{ 'label.act.bulkUpload.Successfullyuploaded' | translate }} {{creatives.length}} {{ 'label.act.bulkUpload.creatives' | translate }}</div>
    <!-- Processing -->
    <div ng-show="processing" class="bulk-footer spinner"><i class="fa fa-spin fa-spinner"></i></div>
  </div>
  <div ng-if="!uploadErrors && !validateErrors" class="bulk-footer">{{ 'label.act.bulkUpload.Fillouthefileaccordingtotheheaders' | translate }}</div>
</div>
      

