<form name="form.twPost" id="twPostForm" novalidate ng-controller="TwPostCtrl">

<!------------------------------------------------------ Top Part ------------------------------------------------------->
<div class="row">
    <!-- Facebook Page Selection-->
    <div class="col-md-12">
        <div class="form-group">
            <div class="fs-dropdown default page" ng-class="{'form-control ng-invalid' : form.twPostSubmitted  && !twPost.twitterPage}">
                <!-- Dropdown to allow the user to choose the page. Becomes hidden once the user has selected it -->
                <div class="fs-dropdown-link" on-state="click">
                    <div ng-hide="twPost.twitterPage">
                        <span class="pointer error-message" ng-click="redirectToAlign()">{{ 'label.act.post.PleaseClicktoRegisteraTwitterPromotableUserinSetup' | translate }}</span>
                    </div>
                </div>
                <ul class="fs-dropdown-menu">
                    <li ng-repeat="page in api.twitter.pages" ng-click="selectTwitterPage(page)">
                        <img ng-src="{{page.image || page.social.image}}" alt="facebook image">
                        {{ page.name || page.pageName || page.groupName }}
                    </li>
                </ul>
                <!-- When the user has selected a page, display the page chosen -->
                <div class="fs-dropdown-link" on-state="click">
                    <div ng-show="twPost.twitterPage">
                        <iconic data-src="caret" data-direction="bottom" class="iconic-sm goals-caret-coloring"></iconic>
                        <img ng-src="{{twPost.twitterPage.social.image}}" alt="facebook image">
                        <span>{{ twPost.twitterPage.name }}</span>

                    </div>
                </div>
            </div>
            <span class="error-message" ng-if="form.twPostSubmitted && !twPost.facebookPage">{{ 'label.act.Thisfieldisrequired' | translate }}</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div daterange-picker options="view.daterangePickerOpts" ng-change="changeDate(twPost.startDate)" ng-model="twPost.startDate"></div>
        </div>
    </div>
    <!--<div class="col-md-7 post-apply-best-time">-->
        <!--<input id="apply-best-time"-->
               <!--ng-click="toggleApplyBestTime()"-->
               <!--type="checkbox"-->
               <!--ng-model="view.isBestTimeApplied"-->
               <!--ng-if="view.errorApplyBestTime === false" />-->
        <!--<label for="apply-best-time" ng-if="view.errorApplyBestTime === false">{{ 'label.act.post.ApplyBestTime' | translate }}</label>-->
        <!--<label for="apply-best-time" ng-if="view.errorApplyBestTime === true">{{ 'label.act.post.ErrorApplyBestTime' | translate }}</label>-->
    <!--</div>-->
</div>
<div class="row">
    <div class="col-md-24">
        <div class="form-group">
            <span class="pull-right">{{140 - form.twPost.text.$viewValue.length}}</span>
            <textarea
                    class="post-textarea form-control"
                    ng-model="twPost.text"
                    ng-paste="checkForUrl($event.originalEvent)"
                    name="text"
                    placeholder="Type your content here"
                    ng-required="true"
                    ng-maxlength="140"
                    fs-focus-input="true"
                    ng-disabled="view.fetchingImages"
                    ng-class="{'ng-pristine': !form.twPostSubmitted, 'loading': view.fetchingImages}">
            </textarea>
            <div ng-messages="form.twPost.text.$error" ng-if='form.twPost.text.$pristine === false || form.text' ng-messages-include="twPost-messages"></div>
        </div>
        <!-- if facebook and url is present do link preview -->
        <div ng-show="twPost.preview.headline" class="preview-container">
            <div class="link-preview">
                <div class="row">
                    <i ng-click="removePreview()" class="fa fa-times pointer fright"></i>
                    <div ng-show="twPost.preview.thumbnail" class="thumbnail-container col-md-6">
                        <a target="_blank">
                            <img ng-if="!twPost.preview.thumbnail.id" ng-src="{{ twPost.preview.thumbnail }}"/>
                            <img ng-if="twPost.preview.thumbnail.id" ng-src="{{ apiUrl + '/api/v2/image/get?guid=' + twPost.preview.thumbnail.fullGuid }}"/>
                        </a>
                    </div>
                    <div class="metadata-preview-container col-md-18">
                        <div class="headline"> {{ twPost.preview.headline }} </div>
                        <div class="description" > {{ twPost.preview.description }} </div>
                        <h4>{{ twPost.preview.url }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pointer" ng-click="loadImageFromLibrary('Images')">
                    <i class="fa fa-image"></i>
                    {{ 'label.act.post.AddImage' | translate }}
                </div>
            </div>
            <div class="col-md-8 col-md-offset-10" ng-show="twPost.url">
                {{ 'label.act.post.URLTrackingApplied' | translate }}
            </div>
            <div ng-show="view.hasLoadMetadataFailed">
                <i class="fa fa-exclamation-triangle"></i>
                {{ 'label.act.post.loadingMetadaFailedMessage' | translate }}
            </div>

        </div>

        <!-- Image slider -->
        <div class="row" ng-if="twPost.images.length && twPost.url">
            <div class="col-md-24">
                <fs-image-slider images="twPost.images"></fs-image-slider>
            </div>
        </div>
        <div class="row post-image-margin-top" style="width: 150px" ng-if="twPost.image">
            <div fs-back-img url="apiUrl + '/api/v2/image/get?guid=' + twPost.image.fullGuid" class="card selected">
                <div class="card-header">
                    <i class="selected-icon fa fa-check-circle"></i>
                </div>
            </div>
            <!--            <div class="col-md-24">
                            <img height="150" width="150" class="card selected" ng-src="{{apiUrl + '/api/v2/image/get?guid=' + twPost.image.fullGuid}}" />
                        </div>-->
        </div>
    </div>
</div>
</form>


<script type="text/ng-template" id="twPost-messages" class="error-message">
    <div ng-message="required" class="error-message"> {{ 'label.act.Thisfieldisrequired' | translate }}</div>
    <div ng-message="url" class="error-message"> {{ 'label.act.Theurlneedstobefullyformatted' | translate }}</div>
    <div ng-message="minlength" class="error-message"> {{ 'label.act.Inputtooshort' | translate }}</div>
    <div ng-message="maxlength" class="error-message"> {{ 'label.act.Exceededmaxlength' | translate }}</div>
    <div ng-message="number" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
    <div ng-message="min" class="error-message"> {{ 'label.act.Budgetnotvalid' | translate }}</div>
</script>

