<label for=""><div><h4>{{ 'label.act.location' | translate }}<span class="red-asterisk">*</span></h4></div></label>
<div class="audience-form-container" >
	<input type="radio" ng-click="focusInput('countries')" id="country" ng-focus="true" ng-model="locationType" value="country"  ng-checked="true">
	<label for="country" button>{{ 'label.act.country' | translate }}</label>

	<input type="radio" ng-click="focusInput('region')" id="region" ng-model="locationType" value="region">
	<label for="region" button>{{ 'label.act.Region' | translate }}</label>

	<input type="radio" ng-click="focusInput('city')" id="city" ng-model="locationType" value="city">
	<label for="city" button>{{ 'label.act.city' | translate }}</label>

	<input type="radio" ng-click="focusInput('zipcode')" id="zip" ng-model="locationType" value="zipcode">
	<label for="zip" button>{{ 'label.act.zip' | translate }}</label>

		<div class="form-group">
			<div class="row">
				<div class="col-md-19" >
			  		<div ng-show="locationType === 'country'">
					   <div ng-atp="country" ng-atp-config="twCountryAtpConfig">
	                      <input id="country_value" placeholder="Search for countries and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
	                      <ul ng-atp-suggestions></ul>
				  		</div>
					</div>

				   <div ng-show="locationType === 'region'">
					    <div ng-atp="region" ng-atp-config="twRegionAtpConfig">
	                      <input id="region_value" placeholder="Search for regions and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
	                      <ul ng-atp-suggestions></ul>
						</div>
				   </div>

				   <div ng-show="locationType === 'city'">
						<div ng-atp="city" ng-atp-config="twCityAtpConfig">
	                      <input id="city_value" placeholder="Search for cities and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
	                      <ul ng-atp-suggestions></ul>
	                    </div>
					</div>
					<div ng-show="locationType === 'zipcode'">
						<div ng-atp="zipcode" ng-atp-config="twZipcodeAtpConfig">
	                      <input id="zipcode_value" placeholder="Search for zipcodes and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
	                      <ul ng-atp-suggestions></ul>
					  	</div>
					</div>
				</div>
			</div>
		</div>
    <fs-variant type="location" ng-model="view.location"></fs-variant>
</div>
