<div class="audience-form-container">
	<div class="row">
		<div class="col-md-24">
			<div class="form-group">
				<label for="advancedDemographics">
					<h4>{{ 'label.act.advancedDemographics' | translate }}</h4>
				</label>
				<div class="row">
					<div class="col-md-10">
						<div class="fs-dropdown default">
						    <div id="education-type" class="fs-dropdown-link" on-state="click">
						        <span>{{ demographicType ? demographicType : 'Choose Category'}}</span>
						        <i class="fa fa-caret-down"></i>
						    </div>
						    <ul class="fs-dropdown-menu">
						        <li ng-click="selectDemographicType('life_events', 'Life Events')">{{'label.act.LifeEvents' | translate }}</li>
						        <li ng-click="selectDemographicType('politics', 'Politics')">{{'label.act.Politics' | translate }}</li>
								<li ng-click="selectDemographicType('industries', 'Industries')">{{'label.act.Industries' | translate}}</li>
						        <li ng-click="selectDemographicType('income', 'Income')">{{'label.act.Income' | translate }}</li>
						        <li ng-click="selectDemographicType('net_worth', 'Net Worth')">{{'label.act.NetWorth' | translate }}</li>
						        <li ng-click="selectDemographicType('home_type', 'Home Type')">{{'label.act.HomeType' | translate}}</li>
						        <li ng-click="selectDemographicType('home_ownership', 'Home Ownership')">{{'label.act.HomeOwnership' | translate }}</li>
						        <li ng-click="selectDemographicType('ethnic_affinity', 'Ethnic Affinity')">{{'label.act.EthnicAffinity' | translate}}</li>
						        <li ng-click="selectDemographicType('generation', 'Generation')">{{'label.act.Generation' | translate }}</li>
						        <li ng-click="selectDemographicType('household_composition', 'Household Composition')">{{ 'label.act.HouseholdComposition' | translate }}</li>
						        <li ng-click="selectDemographicType('moms', 'Moms')">{{'label.act.Moms' | translate}}</li>
						        <li ng-click="selectDemographicType('office_type', 'Office Type')">{{'label.act.OfficeType' | translate}}</li>
						        <li ng-click="selectDemographicType('family_statuses', 'Family Statuses')">{{'label.act.FamilyStatuses' | translate}}</li>
						    </ul>
						</div>
					</div>
					<div class="col-md-10">
						<div class="fs-dropdown default">
						    <div id="education-type" class="fs-dropdown-link" on-state="click">
						    	<span ng-show="loadingDemographics"><b class="fa fa-spinner fa-spin"></b></span>
						        <span ng-show="!loadingDemographics">{{ selectedDemographicValue ? selectedDemographicValue : 'Choose Value'}}</span>
						        <i class="fa fa-caret-down"></i>
						    </div>
						    <ul class="fs-dropdown-menu">
						    	<li ng-show="!demographicType">Choose Category First</li>
						        <li ng-repeat="value in demographicValues" ng-click="addDemographicToVariant($event, value)">{{ value.name }}</li>
						    </ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-16 adv-dem-divider">
						Or
					</div>
				</div>
				<div class="row">
					<div class="col-md-19">
						<div ng-atp="advancedDemographics" ng-atp-config="advancedDemographicsAtpConfig">
	                      <input id="advancedDemographics_value" placeholder="Search advanced demographics" ng-atp-input type="text" class="form-control form-control-small" />
	                      <ul ng-atp-suggestions></ul>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <fs-variant type="advancedDemographics" ng-model="view.advancedDemographics"></fs-variant>
</div>


