<label for=""><h4>{{ 'label.act.age' | translate }}</h4></label>
<div class="form-group">

	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<input id="age-range-1" placeholder="Min Age" ng-model='ageRange.min' class="form-control"/>
				<!-- class col-md-15 age-range-slider-block -->
				<!-- <input ng-model="ageRange.value" type="text" id="ageRangeSlider" slider options="ageRangeSliderOptions" /> -->
			</div>
			<div class="col-md-3" style="text-align:center;">
				<span class="age-range-dash">-</span>
			</div>
			<div class="col-md-6">
				<input id="age-range-2" placeholder="Max Age" fs-enter="addAgeRangeValueToVariant(ageRange)" ng-model='ageRange.max' class="form-control"/>
			</div>
			<a href="" class="btn-outline btn-primary mar-left add-targeting-spec-button" ng-click="addAgeRangeValueToVariant(ageRange)">
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</div>

  <fs-variant type="ageRange" no-add-variant="true" ng-model="view.ageRange"></fs-variant>
</div>
