<label><h4>{{ 'label.act.audiencestoinclude' | translate }}</h4></label>
<div class="row">
  <div class="col-md-22">
      <fs-variant type="customAudiences" ng-model="view.customAudiences"></fs-variant>
  </div>
</div>  
<div class="row">
  <div class="col-md-24">                 
    <div class="form-group">


      <div class="fs-dropdown default check-box-initial-members-block" close-dropdown="closeDropdown">
        <div class="fs-dropdown-link" on-state="click" >
          <i class="fa fa-caret-down"></i>
          <span>Custom Audiences To Include</span>
        </div>
        <ul class="fs-dropdown-menu" click-stay>

          <li ng-repeat="audience in customAudiences | filter:filterCustomAudiences" ng-click="toggleTargetingSpec('customAudiences', audience)">             
            {{audience.audienceName}}   Size: {{audience.fbAudienceSize }}
          </li>

        </ul>
      </div>

      <div class="fs-dropdown default check-box-initial-members-block" close-dropdown="closeDropdown">
        <div class="fs-dropdown-link" on-state="click" >
          <i class="fa fa-caret-down"></i>
          <span>Lookalike Audiences To Include</span>
        </div>
        <ul class="fs-dropdown-menu" click-stay>

          <li ng-repeat="audience in lookalikeAudiences | filter:filterCustomAudiences" ng-click="toggleTargetingSpec('customAudiences', audience)">             
            {{audience.audienceName}}   Size: {{audience.fbAudienceSize }}
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>