
<div class="row">
	<div class="col-md-24">
		<div class="form-group">
			<fs-variant type="behavior" ng-model="view.behavior"></fs-variant>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-24">
		<!-- formally broad categories -->
		<script type="text/ng-template"  id="treeItemRenderer.html">
			<i class="fa fa-plus-circle fright" ng-show="behavior.id && !view.isValueInSelectedVariant('behavior', behavior.name)" id="{{behavior.id}}"></i>
			<i class="fa fa-minus-circle fright" ng-show="behavior.id && view.isValueInSelectedVariant('behavior', behavior.name)" id="{{behavior.id}}"></i>
			<label ng-click="toggleNode(behavior)" ng-show="behavior.guId" for="{{behavior.guId}}">{{behavior.name}}</label>
			<label  ng-show="behavior.id" for="{{behavior.id}}"> <div class="behavior-name"> {{behavior.name}} </div> <span class="behavior-description"> {{behavior.description}} </span> </label>
			<span ng-click="expandNode(behavior)" class="expand-nodes fa fa-caret-left" ng-show="!behavior.nodes && behavior.guId" ></span>
			<span ng-click="collapseNode(behavior)" class="expand-nodes fa fa-caret-down" ng-show="behavior.nodes && behavior.guId"></span>
			<ul class="tree-list-children">

				<li ng-repeat="behavior in behavior.nodes" ng-show="behavior.id" ng-click="selectNode('behavior', behavior)" ng-class="{selectNode: !behavior.nodes, nodeSelected: view.isValueInSelectedVariant('behavior', behavior.name)}" ng-include="'treeItemRenderer.html'"></li>

				<li ng-repeat="behavior in behavior.nodes" class="behavior-header" ng-show="!behavior.id" ng-include="'treeItemRenderer.html'"></li>
			</ul>
		</script>

		<ul class="tree-list">
			<li class="tree-list-item" ng-repeat="behavior in behaviorTree" ng-include="'treeItemRenderer.html'"></li>
		</ul>
	</div>
</div>
