
<div class="audience-form-container">
	<div class="form-group">
		<div class="row">
			<div class="col-md-12" >
			   <div class="fs-dropdown default">
					<div id="connectionType" class="fs-dropdown-link" on-state="click" >
					 	<span>{{ connectionType ? connectionType : 'Select Connection Type'}}</span>
					 	<i class="fa fa-caret-down"></i>
					</div>
					<ul class="fs-dropdown-menu">
					    <li ng-click="selectConnectionType('Include Users Connected To')">
					    	{{ 'label.act.includeUsersConnectedTo' | translate }}
					    </li>
					    <li ng-click="selectConnectionType('Exclude Users Connected To')">
					    	{{ 'label.act.excludeUsersConnectedTo' | translate }}
					    </li>
					    <li ng-click="selectConnectionType('Include Users Whose Friends are Connected To')">
					    	{{ 'label.act.includeUsersWhosFriendsAreConnectedTo' | translate }}
					    </li>
					</ul>
				</div>
			</div>
			<div class="col-md-12">
				<div class="fs-dropdown default">
					<div class="fs-dropdown-link" style="cursor: pointer;" on-state="click" >
					    <span>{{selectedFacebookPage ?  selectedFacebookPage : 'Choose Facebook Page' }}</span>
					    <i class="fa fa-caret-down"></i>
					</div>
					<ul class="fs-dropdown-menu">
					    <li ng-click="addConnection(connectionType, page)" ng-repeat="page in facebookPages">
					    	{{ page.pageName }}
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>

  <fs-variant type="connections" ng-model="view.connections"></fs-variant>
</div>
