<div class="audience-form-container" >
	<div class="row">
		<div class="col-md-12">
			<div class="fs-dropdown default">
			    <div id="education-type" class="fs-dropdown-link" on-state="click">
			        <span>{{ educationType ? educationType : 'Choose Education Status'}}</span>
			        <i class="fa fa-caret-down"></i>
			    </div>
			    <ul class="fs-dropdown-menu">
			        <li ng-click="selectEducationType('High School')">{{'label.act.highSchool' | translate }}</li>
			        <li ng-click="selectEducationType('High School Grad')">{{'label.act.highSchoolGrad' | translate }}</li>
			        <li ng-click="selectEducationType('Undergrad')">{{'label.act.undergrad' | translate }}</li>
					<li ng-click="selectEducationType('Alumni')">{{'label.act.Alumni' | translate }}</li>
			        <li ng-click="selectEducationType('Some High School')">{{'label.act.SomeHighSchool' | translate }}</li>
			        <li ng-click="selectEducationType('Some College')">{{'label.act.someCollege' | translate }}</li>
			        <li ng-click="selectEducationType('Associate Degree')">{{'label.act.associateDegree' | translate }}</li>
			        <li ng-click="selectEducationType('In Grad School')">{{'label.act.inGradSchool' | translate }}</li>
			        <li ng-click="selectEducationType('Some Grad School')">{{'label.act.someGradSchool' | translate }}</li>
			        <li ng-click="selectEducationType('Master Degree')">{{'label.act.masterDegree' | translate }}</li>
			        <li ng-click="selectEducationType('Professional Degree')">{{'label.act.professionalDegree' | translate }}</li>
			        <li ng-click="selectEducationType('Doctorate Degree')">{{'label.act.doctorateDegree' | translate }}</li>

			        <li ng-click="selectEducationType('Unspecified')">{{'label.act.Unspecified' | translate }}</li>
			    </ul>
			</div>
		</div>
		<div ng-show="educationType === 'Some College' || educationType === 'Undergrad' || educationType === 'Professional Degree' || educationType === 'Associate Degree' || educationType === 'Master Degree' || educationType === 'In Grad School' || educationType === 'Some Grad School' || educationType === 'Doctorate Degree' || educationType === 'Alumni'">
			<div class="col-md-5">
				<button class="btn-solid btn-tertiary" ng-click="addEducationValueToVariant('education')">
					Add +
				</button>
			</div>
		</div>
	</div>
	<div ng-show="educationType === 'Some College' || educationType === 'Undergrad' || educationType === 'Professional Degree' || educationType === 'Associate Degree' || educationType === 'Master Degree' || educationType === 'In Grad School' || educationType === 'Some Grad School' || educationType === 'Doctorate Degree' || educationType === 'Alumni' ">
		<div class="form-group">
			<div class="row">
				<div class="col-md-12">
					<div ng-atp="educationFieldsUncommitted.school" ng-atp-config="schoolAtpConfig">
		              <input id="school_value" placeholder="Search for schools" ng-atp-input type="text" class="form-control form-control-small" />
		              <ul ng-atp-suggestions></ul>
				  	</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-12">
					<div ng-atp="educationFieldsUncommitted.fieldOfStudy" ng-atp-config="fieldOfStudyAtpConfig">
		              <input id="fieldOfStudy_value" placeholder="Search for fields of study" ng-atp-input type="text" class="form-control form-control-small" />
		              <ul ng-atp-suggestions></ul>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="educationType === 'Some College' || educationType === 'Undergrad'">
		<div class="row" >
			<div class="col-md-6">
				<div class="fs-dropdown default">
				    <div id="minGradYear" class="fs-dropdown-link" on-state="mouseenter" >
				        <span>{{ educationFieldsUncommitted.minGradYear ? educationFieldsUncommitted.minGradYear : 'Min Grad Year'}}</span>
				    </div>
				    <ul class="fs-dropdown-menu">
				        <li ng-click="educationFieldsUncommitted.minGradYear = 2014">2014</li>
				        <li ng-click="educationFieldsUncommitted.minGradYear = 2015">2015</li>
				        <li ng-click="educationFieldsUncommitted.minGradYear = 2016">2016</li>
				        <li ng-click="educationFieldsUncommitted.minGradYear = 2017">2017</li>
				        <li ng-click="educationFieldsUncommitted.minGradYear = 2018">2018</li>
				    </ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="fs-dropdown default">
				    <div id="maxGradYear" class="fs-dropdown-link" on-state="mouseenter" >
				         <span>{{ educationFieldsUncommitted.maxGradYear ? educationFieldsUncommitted.maxGradYear : 'Max Grad Year'}}</span>
				    </div>
				    <ul class="fs-dropdown-menu">
				        <li ng-click="educationFieldsUncommitted.maxGradYear = 2014">2014</li>
				        <li ng-click="educationFieldsUncommitted.maxGradYear = 2015">2015</li>
				        <li ng-click="educationFieldsUncommitted.maxGradYear = 2016">2016</li>
				        <li ng-click="educationFieldsUncommitted.maxGradYear = 2017">2017</li>
				        <li ng-click="educationFieldsUncommitted.maxGradYear = 2018">2018</li>
				    </ul>
				</div>
			</div>
		</div>
	</div>

  <fs-variant type="education" ng-model="view.education"></fs-variant>
</div>
