<label for=""><h4>{{'label.act.gender' | translate}}</h4></label>
<div class="row">
	<div class="col-md-24">
		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('gender', 'Male')" ng-click="toggleTargetingSpec('gender', 'Male')" id="male" value="male">
		<label for="male" button>{{ 'label.act.male' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('gender', 'Female')" ng-click="toggleTargetingSpec('gender', 'Female')" id="female" value="female">
		<label for="female" button>{{ 'label.act.female' | translate }}</label>
	</div>
</div>
<div class="form-group">
  <fs-variant type="gender" ng-model="view.gender"></fs-variant>
</div>			
