<label for=""><h4>{{'label.act.interestedIn' | translate}}</h4></label>
<div class="row">
	<div class="col-md-24">
		<input type='checkbox' ng-click="toggleTargetingSpec('interestedIn', 'Men')" id="interested-in-men"  value="men" ng-checked="view.isValueInSelectedVariant('interestedIn', 'Men')">
		<label for="interested-in-men" button >{{ 'label.act.men' | translate }}</label>

		<input type='checkbox' ng-click="toggleTargetingSpec('interestedIn', 'Women')" ng-checked="view.isValueInSelectedVariant('interestedIn', 'Women')" id="interested-in-women"  value="women">

		<label for="interested-in-women" button >{{ 'label.act.women' | translate }}</label>

		<input type='checkbox' ng-click="toggleTargetingSpec('interestedIn', 'Men and Women')" ng-checked="view.isValueInSelectedVariant('interestedIn', 'Men and Women')" id="interested-in-men-and-women" value="menAndWomen">
		<label for="interested-in-men-and-women" button >{{'label.act.menAndWomen' | translate }}</label>

		<input type='checkbox' ng-click="toggleTargetingSpec('interestedIn', 'Not Specified')" ng-checked="view.isValueInSelectedVariant('interestedIn', 'Not Specified')" id="interested-in-not-specified"  value="notSpecified">
		<label for="interested-in-not-specified" button >{{'label.act.notSpecified' | translate }}</label>
	</div>
</div>
<div class="form-group">
  <fs-variant type="interestedIn" ng-model="view.interestedIn"></fs-variant>
</div>
