<label for=""><h4>{{ 'label.act.location' | translate }}<span class="red-asterisk">*</span></h4></label>
<div class="audience-form-container" >
	<input type="radio" ng-click="focusInput('countries')" id="country" ng-focus="true" ng-model="locationType" value="country"  ng-checked="true">
	<label for="country" button>{{ 'label.act.country' | translate }}</label>

	<input type="radio" ng-click="focusInput('region')" id="region" ng-model="locationType" value="region">
	<label for="region" button>{{ 'label.act.Region' | translate }}</label>

	<input type="radio" ng-click="focusInput('city')" id="city" ng-model="locationType" value="city">
	<label for="city" button>{{ 'label.act.city' | translate }}</label>

	<input type="radio" ng-click="focusInput('zipcode')" id="zip" ng-model="locationType" value="zipcode">
	<label for="zip" button>{{ 'label.act.zip' | translate }}</label>

	<div class="form-group">
		<div class="row">
			<div class="col-md-19" ng-show="locationType === 'country'">
			   <div ng-atp="country" ng-atp-config="countryAtpConfig">
                  <input id="country_value" placeholder="Search for countries" ng-atp-input type="text" class="form-control form-control-small" />
                  <ul ng-atp-suggestions></ul>
		  		</div>
			</div>

		   <div class="col-md-19" ng-show="locationType === 'region'">
			    <div ng-atp="region" ng-atp-config="regionAtpConfig">
                  <input id="region_value" placeholder="Search for regions" ng-atp-input type="text" class="form-control form-control-small" />
                  <ul ng-atp-suggestions></ul>
				</div>
		   </div>

		   <div class="col-md-19" ng-show="locationType === 'city'">
				<div class="row">
					<div class="col-md-24" style="margin-bottom: 1em;">
				   		<input type="checkbox" ng-model="cityDistance.checked" id="location-include-cities" ng-change="changeIncludeCitiesWithin()"/>
						<label for="location-include-cities" >
							{{'label.act.includeCitiesWithin' | translate}}
						</label>
					</div>
					<div class="col-md-12">
						<input id="radius" ng-if="cityDistanceUnit === 'miles'" placeholder="Number of..." type="number" ng-blur="roundMiles(cityDistance.value);" ng-change="changeCityDistance();" min="1" max="50" ng-model="cityDistance.value"  class="form-control"/>
						<input id="radius" ng-if="cityDistanceUnit === 'kilometers'" ng-change="changeCityDistance();" placeholder="Number of..." type="number" min="17" max="80" ng-model="cityDistance.value" class="form-control"/>
					</div>
					<div class="col-md-12" style="margin-bottom: 1em;">
						<div class="fs-dropdown default" style="padding-bottom: 0;">
						    <div class="fs-dropdown-link inherit-line-height" on-state="click" >
						         <span>{{ cityDistanceUnit }}</span>
						         <i class="fa fa-caret-down"></i>
						    </div>
						    <ul class="fs-dropdown-menu">
						        <li ng-click="selectDistanceUnit('miles')">miles</li>
						        <li ng-click="selectDistanceUnit('kilometers')">kilometers</li>
						    </ul>
						</div>
					</div>
					<div class="col-md-19">
				    	<div ng-atp="city" ng-atp-config="cityAtpConfig">
	                      <input id="city_value" placeholder="Search for cities" ng-atp-input type="text" class="form-control form-control-small" />
	                      <ul ng-atp-suggestions></ul>
					  	</div>
					</div>
				</div>
		   </div>

			<div class="col-md-19" ng-show="locationType === 'zipcode'">
				<div ng-atp="zipcode" ng-atp-config="zipcodeAtpConfig">
                  <input id="zipcode_value" placeholder="Search for zipcodes" ng-atp-input type="text" class="form-control form-control-small" />
                  <ul ng-atp-suggestions></ul>
			  	</div>
			</div>

		</div>
	</div>
  <!-- variants container -->
  <fs-variant type="location" ng-model="view.location"></fs-variant>

</div>
