<label for=""><h4>{{'label.act.MobileOperatingSystem' | translate}}<span class="red-asterisk">*</span></h4></label>
<div class="form-group">
	<fs-variant type="mobileOs" ng-model="view.mobileOs"></fs-variant>
</div>				
<div class="row">
	<div class="col-md-24">
		<input type='checkbox' ng-disabled="isIosDisabled" ng-checked="view.isValueInSelectedVariant('mobileOs', 'iOS')" ng-click="toggleTargetingSpec('mobileOs', 'iOS')" id="ios" value="ios">
		<label for="ios" button>{{ 'label.act.iOS' | translate }}</label>

		<input type='checkbox' ng-disabled="isAndroidDisabled" ng-checked="view.isValueInSelectedVariant('mobileOs', 'Android')" ng-click="toggleTargetingSpec('mobileOs', 'Android')" id="android" value="android">
		<label for="android" button>{{ 'label.act.Android' | translate }}</label>
	</div>
</div>	