<div class="audience-form-container">
	<div class="row">
		<div class="col-md-24">

      <div style="clear:both">
        <div class="number-bubble" ng-class="{completed: usernameDataType }">
          1
        </div>

        <h3 class="add-audience-step-header">{{ 'label.act.Selectamethodtoaddinterests' | translate
          }}</h3>

        <div class="audience-header-child">
          <div class="radio-selection-container">
            <div class="row">
              <div class="radio-container col-md-23">
                <input type="radio" name="usernameSearchBar" id="usernameSearchBar" value="searchBar"
                       ng-model="usernameDataType" ng-click="selectUsernameDataType(usernameDataType)"/>
                <label style="font-size: 0.79em;" for="usernameSearchBar">
                  {{ 'label.act.twitter.audiences.Typeinthesearchbar' | translate }}
                </label>
              </div>

              <div class="radio-container col-md-23">
                <input type="radio" name="usernameCopyPaste" id="usernameCopyPaste" value="copyPaste"
                       ng-model="usernameDataType" ng-click="selectUsernameDataType(usernameDataType)"/>
                <label style="font-size: 0.79em;" for="usernameCopyPaste">
                  {{ 'label.act.twitter.audiences.Copyandpastefromalist' | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Search bar -->
        <div ng-show="usernameDataType === 'searchBar' ">
          <div class="number-bubble" ng-class="{completed: true}">
            2
          </div>
          <h3 class="add-audience-step-header">{{ 'label.act.Typeinthesearchbartoaddinterests' |
            translate }}</h3>

          <div class="form-group">
            <div class="col-md-13 input-formating-follower">
              <div ng-atp="preciseInterests" ng-atp-config="preciseInterestsAtpConfig">
                <input id="preciseInterests_value" placeholder="Search interests" ng-atp-input type="text" class="form-control form-control-small" />
                <ul ng-atp-suggestions></ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Copy and Paste -->
        <div ng-show="usernameDataType === 'copyPaste' ">
          <div class="number-bubble" ng-class="{completed: usernameDataType }">
            2
          </div>
          <h3 class="add-audience-step-header">{{ 'label.act.Copyandpasteintheboxtoaddinterests' |
            translate }}</h3>

          <div class="form-group">
          <textarea name="data" class="paste-data-area form-control text-copy-paste"
                    placeholder="Paste your Interests here" ng-model="copyPaste"
                    ng-required="copyPaste"></textarea>

            <div class="btn btn-solid btn-tertiary btn-text-modal fb-interest-button" ng-click="applyCopyPasteInterests(copyPaste)">
              {{ 'label.act.Apply' | translate }}
            </div>
          </div>
        </div>

        <!-- Errors -->
        <div class="clearfix"></div>
        <div class="error-message" ng-show="noInterestsToSuggest">
          {{ 'label.act.Pleaseaddatleastoneinterest' | translate }}
        </div>
        <div class="error-message" ng-show="failedInterests.length > 0">
          {{ 'label.act.Thefollowinginterestswerenotfound' | translate }} {{failedInterests.join(", ")}}
        </div>

        <!-- Checkbox for suggestions -->
        <div class="facebook-suggestion-check">
          <input type="checkbox" id="recommended_users" ng-model="showInterests.check"
                 ng-click="getSuggestions(showInterests.check)"/>
          <label class="full-width" for="recommended_users">Get Suggested Interests</label>
        </div>
        <b class="fa fa-spinner fa-spin facebook-suggestion-check-load" ng-show="loadingInterestRecs"></b>

        <div ng-if="showRadioList && showInterests.check && radioBtn.data">
          <div fs-radio-btn-list=""
               available-options="radioBtn.data"
               config="radioBtn.config"
               add-fn="addSuggestionsToVariant(allValues)"
               ng-model="preciseInterests.list"
               targeting-spec="preciseInterests"
            ></div>
        </div>
      </div>

		</div>
	</div>

  <fs-variant type="preciseInterests" ng-model="view.preciseInterests"></fs-variant>
</div>
