<div class="clear-fix"></div>
<div class="form-group">
	<label for=""><h4>{{'label.act.relationshipStatus' | translate }}</h4></label>
</div>
<div class="row">
	<div class="col-md-24">
		<input type='checkbox' id="relationship-status-single" ng-click="toggleTargetingSpec('relationshipStatus', 'Single')" value="single" ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Single')">
		<label for="relationship-status-single" button >{{'label.act.single' | translate}}</label>

		<input type='checkbox' id="relationship-status-in-relationship" ng-click="toggleTargetingSpec('relationshipStatus', 'In Relationship')" value="inRelationship" ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'In Relationship')">
		<label for="relationship-status-in-relationship" button >{{'label.act.inRelationship' | translate}}</label>

		<input type='checkbox' id="relationship-status-married" ng-click="toggleTargetingSpec('relationshipStatus', 'Married')" value="married" ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Married')">
		<label for="relationship-status-married" button >{{'label.act.married' | translate}}</label>

		<input type='checkbox' id="relationship-status-engaged" ng-click="toggleTargetingSpec('relationshipStatus', 'Engaged')" value="engaged" ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Engaged')">

		<label for="relationship-status-engaged" button >{{'label.act.engaged' | translate}}</label>

		<input type='checkbox' id="relationship-status-civilUnion" ng-click="toggleTargetingSpec('relationshipStatus', 'Civil Union')" value="civilUnion" ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Civil Union')">
		<label for="relationship-status-civilUnion" button >{{'label.act.civilUnion' | translate}} </label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Domestic Partnership')" id="relationship-status-domestic-partnership" ng-click="toggleTargetingSpec('relationshipStatus', 'Domestic Partnership')" value="domesticPartnership">
		<label for="relationship-status-domestic-partnership" button >{{'label.act.domesticPartnership' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Not Specified')" id="relationship-status-not-specified" ng-click="toggleTargetingSpec('relationshipStatus', 'Not Specified')" value="relationship-status-not-specified">
		<label for="relationship-status-not-specified" button >{{'label.act.notSpecified' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Open Relationship')" id="relationship-status-open-relationship" ng-click="toggleTargetingSpec('relationshipStatus', 'Open Relationship')" value="openRelationship">
		<label for="relationship-status-open-relationship" button >{{'label.act.openRelationship' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Its Complicated')" id="relationship-status-its-complicated" ng-click="toggleTargetingSpec('relationshipStatus', 'Its Complicated')" value="Its Complicated">
		<label for="relationship-status-its-complicated" button >{{'label.act.itsComplicated' | translate}}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Separated')" id="relationship-status-separated" ng-click="toggleTargetingSpec('relationshipStatus', 'Separated')" value="separated">
		<label for="relationship-status-separated" button >{{'label.act.separated' | translate }}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Divorced')" id="relationship-status-divorced" ng-click="toggleTargetingSpec('relationshipStatus', 'Divorced')" value="divorced">
		<label for="relationship-status-divorced" button >{{'label.act.divorced' | translate}}</label>

		<input type='checkbox' ng-checked="view.isValueInSelectedVariant('relationshipStatus', 'Widowed')" id="relationship-status-widowed" ng-click="toggleTargetingSpec('relationshipStatus', 'Widowed')" value="widowed">
		<label for="relationship-status-widowed" button >{{'label.act.widowed' | translate }}</label>
	</div>
</div>
<fs-variant type="relationshipStatus" ng-model="view.relationshipStatus"></fs-variant>
