<div class="audience-form-container">
	<div class="row">
		<div class="col-md-24">
			<label for="">
				<h4>{{'label.act.WorkPosition' | translate }}</h4>
			</label>
			<div class="form-group">
				<div class="row">
					<div class="col-md-19">
						<div ng-atp="workPosition" ng-atp-config="workPositionAtpConfig">
                          <input id="workPosition_value" placeholder="Search for work positions" ng-atp-input type="text" class="form-control form-control-small" />
                          <ul ng-atp-suggestions></ul>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <fs-variant type="workPosition" ng-model="view.workPosition"></fs-variant>
</div>
