.breadcrumb {
  list-style: none;
  overflow: hidden;
  font-size: 0.8em;
  padding-left:0 !important;
}
.breadcrumb li:before {
  border-bottom: 15px solid transparent;
  border-left: 20px solid #dddddd;
  border-top: 15px solid transparent;
  content:" ";
  display: block;
  height: 0;
  left: 100%;
  margin-left: 1px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 1;
}
.breadcrumb li:after {
  color: #8D9194;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #D6D6D6;
  border-top: 15px solid transparent;
  content:" ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 2;
}
.breadcrumb li {
  a {
    text-decoration: none;
    color: #8D9194;
  }
  background: none repeat scroll 0 0 #D6D6D6;
  display: block;
  float: left;
  height: 24px;
  padding: 0 0 0 30px;
  position: relative;
}
.breadcrumb li:last-child {
  cursor: default;
  color: @white;
  background: none repeat scroll 0 0 #8D9194;
  display: block;
  float: left;
  height: 24px;
  padding: 0 0 0 30px;
  position: relative;
}
.breadcrumb li:last-child:after {
  color: @white;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #8D9194;
  border-top: 15px solid transparent;
  content:" ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 2;
}
