<confirmations-personal alert-data="libraryUploadingScreen"></confirmations-personal>
<div class="library-modal-container">
  <div class="modal-body" ng-class="{'blurred-bg': libraryUploadingScreen.message}">
    <div class="search-library-block" ng-show="!loadingLibraryCards">
      <i class="fa fa-search"></i>
      <input type="text" ng-model="query" class="form-control" placeholder="Search" ng-disabled="videoCards.length < 1" ng-keypress="showResults()"/>
      <div class="fs-dropdown default library">
        <ul class="fs-dropdown-menu library-drop" ng-class="{'show-s': queryIn, 'hide-s': !queryIn || !query}">
          <li ng-repeat="card in videoCards | filter:{originalName: query} | orderBy:originalName" ng-click="setQuery(card.originalName)">
            {{ card.originalName ? card.originalName : card.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="lib-section-view">

        <div class="tabs-container">
          <div class="cards-container">
            <div class="col-md-8" ng-repeat="card in videoCards | filter:{originalName: query} | orderBy:originalName track by $index">
              <div ng-include="'app/main/library/video/videosCard.html'"></div>
            </div>

            <div class="no-data-available" ng-show="videoCards.length < 1 && !loadingLibraryCards">
              <h2>{{ 'label.library.No' | translate }} Videos {{'label.library.Available' | translate}}</h2>
            </div>

            <div class="no-data-available" ng-show="loadingLibraryCards">
              <div class="sp sp-bars"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lib-footer">
    <div ng-show="selectedCards.length < 1 && !loadingLibraryCards">
      <div class="lib-button btn-solid btn-primary"
           ng-file-select="onFileSelect($files)" multiple="true" ngf-pattern="'video/mp4,video/x-m4v,video/*'" accept="video/mp4,video/x-m4v,video/*" onclick="this.value = null">
        + {{ 'label.library.upload' | translate}}
      </div>
    </div>
    <div ng-show="selectedCards.length > 0" >
      <div class="lib-button btn-solid btn-primary" ng-show="!disableLoadSelected" ng-click="loadSelectedCards(selectedCards)">
        {{ 'label.library.loadSelected' | translate}} ( {{ selectedCards.length }} )
      </div>
    </div>
  </div>
</div>
