<div class="card card-set-underline" ng-class="{ selected:  containsObject(card, selectedCards) }"
     sglclick="selectCard(card, $event)" ng-dblclick="loadOnDblClick(card, $event)">
  <i ng-show="containsObject(card, selectedCards)" class="selected-icon fa fa-check-circle"></i>
  <div fs-back-img url="getImageEndpoint + card.imageUrl"></div>
  <h4 title="{{ card.originalName ? card.originalName: card.name }}">{{ card.originalName ? card.originalName: card.name | stringLimiter:max:25}}</h4>
  <p>{{ 'label.library.createdOn' | translate }} {{ card.createdAt | date:'MM/dd/yyyy h:mma'}}</p>
  <i class="fa fa-trash-o fright" ng-click="deleteObject(card, $index); $event.stopPropagation();" title="Delete"></i>
  <i class="fa fa-pencil-square-o" ng-click="editObjectName(card)" title="Edit Name"></i>
</div>

