<div ng-controller="FacebookAdPreviewCtrl">
  <!-- repeat single ad previews for each creative -->
  <div ng-repeat="preview in previewHtmls">
    <div ng-class='preview.status' ng-bind-html='preview.html'></div>
  </div><!-- end of previews -->
</div>
