<div class="modal-header">
    <h2>{{campaign.settings.goal.formattedGoalName }} </h2>
</div>
<form name="form.creative" id="creativeForm" novalidate>

    <!-- Import creative template according to the choosen placement type -->
    <!-- remove 'PagePost' from the end of the goals that you want to enable Video Ad Type for. -->
    <div ng-switch on="campaign.settings.goal.goal.name">
        <div ng-switch-when="POST_ENGAGEMENT">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/postEngagement.html'"></div>
        </div>
        <div ng-switch-when="PAGE_LIKES">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/pageLikes.html'"></div>
        </div>
        <div ng-switch-when="WEBSITE_CLICKS">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/websiteClicks.html'"></div>
        </div>
        <div ng-switch-when="WEBSITE_CONVERSIONS">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/websiteConversions.html'"></div>
        </div>
        <div ng-switch-when="MOBILE_APP_INSTALLS">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/mobileAppInstalls.html'"></div>
        </div>
        <div ng-switch-when="MOBILE_APP_ENGAGEMENT">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/mobileAppEngagement.html'"></div>
        </div>
        <div ng-switch-when="VIDEO_VIEWS">
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/videoViews.html'"></div>
        </div>
        <div ng-switch-default>
            <div ng-include="'app/main/act/campaignCreation/facebook/fbCreative/templates/goal/pageLikesPagePost.html'"></div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-24 text-right">
                <!-- Show a message to let the user know the tracking validation is in progress-->
                <!-- DisplayWaitMessage is used when working with mutli product creatives-->
                <span ng-if="newCreative.trackingScriptStateInUrl === 'processing' || metadata.displayWaitMessage > 0">
                    {{ 'label.act.UrlValidationMessage' | translate }}
                </span>

                 <!-- <input id="save-to-library" ng-click="saveCreativeToLibraryCheckbox = !saveCreativeToLibraryCheckbox" type="checkbox"/>
                <label for="save-to-library">{{'label.act.SaveCreativeasTemplate' | translate }}</label> -->
                <!-- Save and Close Modal-->
                 <!-- <button ng-click="loadCreativeFromLibrary();" onclick="this.blur();" class="btn-solid btn-tertiary">Load Creative From Library</button> -->
                <button type="button"
                        ng-click="saveCreative(form.creative, saveCreativeToLibraryCheckbox);"
                        class="btn btn-solid btn-primary"
                        ng-disabled="newCreative.trackingScriptStateInUrl === 'processing' || metadata.displayWaitMessage > 0">
                    {{ 'label.act.SaveCreative' | translate }}
                </button>

                <!-- <button ng-click="newCreative.saveToLibrary(newCreative, campaign);" onclick="this.blur();" class="btn-solid btn-primary">Save to library</button> -->
            </div>
        </div>
    </div>
  <div ng-init="setForm(form.creative, newCreative.isValid);"></div>

</form>
<!--{{newCreative}}-->
