<div class="row">
  <div class="col-md-24" ng-if="behaviors.isLoading === true">
    loading
    <b class="fa fa-spinner fa-spin"></b>
  </div>

  <div class="col-md-24" ng-if="behaviors.isLoading === false">
    <!-- Variant box -->

    <!-- Seach bar -->
    <div class="form-group">
      <div class="row">
        <div class="col-md-19">
          <div ng-atp="behavior" ng-atp-config="twBehaviorAtpConfig">
              <input id="behavior_value" placeholder="Search for behaviors and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
              <ul ng-atp-suggestions></ul>
          </div>
        </div>
        <!-- <div class="col-md-4 browse-interests-button-block">
          <div class="btn btn-solid btn-outline" ng-click="showBehaviorInterest = !showBehaviorInterest">
            {{ 'label.act.twitter.interests.BrowseBehaviors' | translate }}
          </div>
        </div> -->
      </div>
    </div>

    <fs-variant type="behavior" no-add-variant="true" ng-model="view.behavior"></fs-variant>

     <!--Double tab browser -->
    <div style="clear: both;" ng-show="showBehaviorInterest">
       <fs-tabset tabs-type='vertical-tabs' multiple-columns='true'>
        <fs-tab ng-repeat="parentBehavior in behaviors.data" ng-click="getBehaviorChilds(parentBehavior)" ng-if="parentBehavior.parent_id === 'null'">
          <tab-heading>
            <h5>{{parentBehavior.name}}</h5>            
          </tab-heading>
          <div ng-if="behaviorChilds.length">
            <fs-tabset tabs-type='vertical-tabs' class="childs-child-behavior">
              <fs-tab ng-repeat="childBehavior in behaviorChilds" ng-click="getBehaviorChildsOfChild(childBehavior)">
                <tab-heading>
                  <h5>{{childBehavior.name}}</h5>
                </tab-heading>
                <div>
                  <input class="rounded" type="checkbox" ng-checked="selectAllInterest.checked" id="selectAllInterest" value="selectAllInterest" ng-click="selectAllInterest(interests); selectAllInterest.checked = !selectAllInterest.checked"/>
                  <label for="selectAllInterest">{{ 'label.act.twitter.interests.SelectAll' | translate }}</label>
                  <div class="btn btn-solid btn-tertiary fright header-btn" ng-click="applyInterests(interests)">
                    {{ 'label.act.twitter.interests.Apply' | translate }}
                </div>
                <div ng-repeat="behavior in childsOfChild" ng-if="childsOfChild.length > 0">
                  <input class="rounded" type="checkbox" ng-checked="behavior.selected" id="{{behavior.name}}" value="{{behavior.name}}" ng-click="toggleBehavior(behavior)">
                  <label class="full-width rounded" for="{{behavior.name}}">{{behavior.name}} </label>
                </div>
              </fs-tab>
            </fs-tabset>
          </div>

         </fs-tab>
      </fs-tabset>
    </div>
  </div>
</div>
