<div class="col-md-21 container">
  <div class="forms">
    <form name="confirmPasswordForm" ng-submit="processSubmitReset()" novalidate>
      <h4>{{'label.resetpasswordaction.resetpassword' | translate }}</h4>
      <div class="form-group">
        <label>{{'label.resetpasswordaction.newpassword' | translate }}</label>
        <input class="form-control" placeholder="{{'label.resetpasswordaction.newpassword' | translate}}" type="password" id="newPassword" name="newPassword" ng-model="newPassword" ng-minlength="6" ng-required="" />
      </div>
      <div class="form-group">
        <label>{{'label.resetpasswordaction.confirmpassword' | translate }}</label>
        <input class="form-control" placeholder="{{'label.resetpasswordaction.confirmpassword' | translate }}" type="password" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" ng-minlength="6" ng-required="" fs-pw-check="newPassword" />
      </div>
      <hr>
        <div ng-show="confirmPasswordForm.$error">
            <div ng-show="confirmPasswordForm.confirmPassword.$error.pwmatch"><font color="red">Passwords don't match.</font></div>
            <div ng-show="confirmPasswordForm.newPassword.$error.minlength"><font color="red">Password needs to be atleast 6 characters long.</font></div>
        </div>
        <button class="btn btn-solid btn-primary" type="submit" ng-disabled="confirmPasswordForm.confirmPassword.$error.pwmatch || confirmPasswordForm.newPassword.$error.minlength || !confirmPassword.trim()">{{'label.resetpasswordaction.resetpassword' | translate }}</button>
    </form>
  </div>
</div>
