<div class="modal-body modal-body-members">
  <h3>{{'label.align.accountSettings.Subscribe' | translate}}</h3>
  <div class="row">
    <div class="col-md-24 choose-plan-margin">
      {{'label.align.accountSettings.ChooseOneOfAvailablePlans' | translate}}
    </div>
  </div>

  <div class="row main-price">
    <div class="col-md-24">
      <div title="{{ !plan.enabled ? 'You must enter payment info to be able to choose this plan.' : '' }}" ng-click="selectPlan(plan)"
           ng-repeat="plan in availablePlans">

        <div class="price" ng-style="{'width': 100 / availablePlans.length + '%'}"  ng-class="{ 'plan-selected': plan.selected, disabled: !plan.enabled, beta: plan.planCode === 'b101' }">
          <ul>
            <li>{{ plan.planName }}</li>
            <!-- <li class="ad-item" ng-if="plan.adSpentLimit >= 0 && plan.planCode.substring(0,1) !== 'e'">{{'label.align.accountSettings.UpTo' | translate}} {{plan.adSpentLimit | currency:undefined:0 }}</li> -->
            <li class="ad-item" ng-if="plan.adSpentLimit >= 0 && plan.planCode.substring(0,1) === 'e'">{{'label.align.accountSettings.Over' | translate}} {{plan.adSpentLimit | currency:undefined:0 }}</li>
            <li class="ad-item" ng-if="plan.adSpentLimit < 0">{{'label.align.accountSettings.Unlimited' | translate}}</li>
            <!-- <li class="ad-spend-margin">{{'label.align.accountSettings.AdSpend' | translate}}</li> -->
            <li ng-bind-html="trustAsHtml(plan.description)"></li>
            <li ng-if="plan.amount > 0">{{plan.amount / 100 | currency:undefined:0}}</li>
            <li ng-if="plan.amount === 0 && plan.planCode.substring(0,1) !== 'e'">{{'label.align.accountSettings.Free' | translate}}</li>
            <li ng-if="plan.amount === 0 && plan.planCode.substring(0,1) === 'e'">{{'label.align.accountSettings.ContactUs' | translate}}</li>
          </ul>
        </div>

      </div>
    </div>

  </div>
  <div ng-if="account.pendingSubscription" class="row plan-switched-to">
    <div class="col-md-24">
      {{'label.align.accountSettings.Startingfromyouwillbeswitchedto' | translate:{ from: (account.activeSubscription.endsAt | date), planName: account.pendingSubscription.subscriptionPlan.planName } }}
    </div>
  </div>
  <div class="row plan-switched-to" ng-if="selectedPlan && account.activeSubscription && account.activeSubscription.endsAt">
    <div class="col-md-24">
      <input type="radio" id="subscribeToPlanNow" ng-model="$parent.subscribeOnRenewal" ng-value="false" ng-change="validateRenewalRadio()"/>
      <label for="subscribeToPlanNow">{{'label.align.accountSettings.SubscribeNow' | translate}}</label>
      <input type="radio" id="subscribeToPlanOnRenewal" ng-model="$parent.subscribeOnRenewal" ng-value="true" ng-change="validateRenewalRadio()"/>
      <label for="subscribeToPlanOnRenewal">{{'label.align.accountSettings.SubscribeOnNextRenewal' | translate}} ( {{ account.activeSubscription.endsAt | date }} )</label>
    </div>
  </div>
  <div class="login-error-block fadein" ng-if="errorMessage">
              <span class="error-plan-close" ng-click="clearErrorMessage();">x</span>
    <h4 class="error-message plan-message">{{errorMessage}}</h4><a href ng-click="updateInfo()"><h4 class="plan-message-update">{{'label.align.accountSettings.UpdateInfo' | translate}}</h4></a>
  </div>
</div>
<div class="modal-footer modal-members-footer">
  <button class="btn-solid btn-primary" ng-disabled="!selectedPlan || (!account.pendingSubscription && selectedPlan.planCode === account.activeSubscription.subscriptionPlan.planCode) || processing" ng-click="subscribeToPlan()">{{'label.align.accountSettings.Subscribe' | translate}}</button>
</div>
