 <div class="row">
    <div class="col-md-16">
      <h3>{{ 'label.align.support.Support' | translate }}</h3>
    </div>
    <div class="col-md-4 pull-right">
      <button ng-click="openSubscriptionPlans()" fs-permission="<SUPPORT>" class="btn-solid btn-primary pull-right">
        {{ 'label.align.support.SubscriptionPlans' | translate }}
      </button>
    </div>
    <div class="col-md-4 pull-right">
      <button ng-click="openEmailTemplates()" fs-permission="<SUPPORT>" class="btn-solid btn-primary pull-right">
        {{ 'label.align.support.EmailTemplates' | translate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-24">
      <div class="row dropdown-area-users">
        <fs-select class="col-md-6" name="" id="account" ng-model="selectedAccount" ng-change="onAccountChange()" fs-options="account as account.name for account in accounts">
          <li>{{ 'label.align.support.ChooseAccount' | translate }}</li>
        </fs-select>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-24">
          <button ng-click="openReportForAllAccounts()" fs-permission="<SUPPORT>" class="btn-solid btn-primary">
            {{ 'label.align.support.ShowReportforAllAccounts' | translate }}
          </button>

          <button style="margin-left: 5px;" ng-if="selectedAccount" ng-click="openReportForSelectedAccount()" fs-permission="<SUPPORT>" class="btn-solid btn-primary">
            {{ 'label.align.support.ShowReportforAccount' | translate:{ accountName: selectedAccount.name } }}
          </button>
        </div>
      </div>
    </div>
  </div>
