.subscription-plans-modal .ngdialog-content {
  width: 70% !important;
}

.subscription-plans-modal .checkbox-container {
  padding-top: 0.5em;
  padding-left: 2.2em;
}

.email-templates-modal .ngdialog-content {
  width: 70% !important;
}

.account-report-modal .ngdialog-content {
  width: 90% !important;

  .fs-dropdown-menu {
    background-color: #e4e3df;
  }
}
.scrolled-report-block {
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown-area-users {
  .fs-dropdown-menu {
    max-height: 25em;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .fs-dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: @pale-light;
  }

  .fs-dropdown-menu::-webkit-scrollbar {
    width: 8px;
    background-color: @pale-medium;
  }

  .fs-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: @nature-heavy;
    border: 2px solid transparent;
  }
}
.html-preview-block {
  overflow-x: hidden;
}
