
.fs-notifications {
  position: fixed;
  z-index: 1005;
  top: 1.5em;
  right: 1.5em;
  widht: 10em;
}
.fs-notification {
  overflow: hidden;
  margin-bottom: 1.5em;
  padding: .5em;

  &:extend(.small);

  width: 100%;
  transition-property: opacity, bottom, left, right, margin, border-radius;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  font-family: @font-family-metadata;
  min-height: 1em;
  background-color: @nature-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @tin-medium;
  border: 1px solid @nature-heavy;
  line-height: 22px;
  padding: 18px 24px;

  > .action {
    background: none;
    border: none;
    text-transform: uppercase;
    color: #ffeb3b;
    margin: 0px 0px 0px 24px;
    padding: 0px;
    min-width: min-content;
  }

  .fs-notify-line {
    display: block;
  }

}
.gone-in-200 {
  opacity: 0;
  margin-top: -1em;  
  height: .5em;
}
