<fs-accordion close-others='true'>
  <div class="row">
    <div class="col-md-24">

      <fs-accordion-group is-open="app.isOpened" ng-repeat="app in applications">
        <fs-accordion-heading>
          <div class="pull-left">
            {{app.name}}
          </div>
          <i class='fa fa-caret-down' ng-show="app.isOpened"></i><i class='fa fa-caret-left' ng-show="!app.isOpened"></i>
          <div ng-if="app.removable" class="fright">
            <i class="fa fa-trash-o fa action-icon"
               ng-click="deleteApp(app, null); $event.stopPropagation();"
               ng-attr-title="Delete Facebook App">
            </i>
          </div>
          <div class="clearfix"></div>

      <fs-accordion-group is-open="app.isOpened" ng-repeat="app in applications">
        <fs-accordion-heading>
          <div class="pull-left">
            {{app.name}}
          </div>
          <i class='fa fa-caret-down' ng-show="app.isOpened"></i><i class='fa fa-caret-left' ng-show="!app.isOpened"></i>
          <div ng-if="app.removable" class="fright">
            <i class="fa fa-trash-o fa action-icon"
               ng-click="deleteApp(app, null, $event)"
               ng-attr-title="Delete Facebook App">
            </i>
          </div>
          <div class="clearfix"></div>

        </fs-accordion-heading>
        <!-- Facebook App-->
        <div class="row application-info" ng-repeat="channelApp in app.channelApplications">
          <div class="col-md-16" ng-if="channelApp.type === 'Facebook'">
            {{ 'label.align.appManagement.FacebookAppID' | translate }}: {{channelApp.appId || 'N/A'}}
          </div>
          <div class="col-md-16" ng-if="channelApp.type === 'Twitter'">
            Twitter App ID: {{channelApp.appId || 'N/A'}}
          </div>
          <div ng-if="app.removable" class="fright">
            <i class="fa fa-trash-o fa-2x action-icon"
               ng-click="deleteApp(app, channelApp); $event.stopPropagation();"
               ng-attr-title="Delete Facebook App">
            </i>
          </div>
          <div class="col-md-23 col-md-offset-1">
            <div ng-repeat="nativeApp in channelApp.nativeApplications">
              <i class="fa"
                 ng-class="{'fa-apple':nativeApp.platform ==='IOS' || nativeApp.platform ==='IPHONE' || nativeApp.platform ==='IPAD', 'fa-android':nativeApp.platform === 'ANDROID'}">
              </i>
              <span ng-if="nativeApp.platform ==='IOS'">
                {{ 'label.align.appManagement.AppStoreURL' | translate }}: {{nativeApp.app_store_url}}
              </span>
              <span ng-if="nativeApp.platform ==='ANDROID'">
                {{ 'label.align.appManagement.PlayStoreURL' | translate }}: {{nativeApp.app_store_url}}
              </span>
              <span ng-if="nativeApp.platform ==='IPHONE'">
                {{ 'label.align.appManagement.iPhone' | translate }}
                {{ 'label.align.appManagement.AppStoreURL' | translate }}: {{nativeApp.app_store_url}}
              </span>
              <span ng-if="nativeApp.platform ==='IPAD'">
                {{ 'label.align.appManagement.iPhone' | translate }}
                {{ 'label.align.appManagement.AppStoreURL' | translate }}: {{nativeApp.app_store_url}}
              </span>
            </div>
            <div class="" ng-if="channelApp.appCountryCode">
              {{ 'label.align.appManagement.Country' | translate }}: {{channelApp.appCountryCode}}
            </div>
          </div>
        </div>
        <!-- End Facebook App-->
      </fs-accordion-group>
    </div>
  </div>
</fs-accordion>




