<section class="project-report-section row-push-1" ng-if="!!error && !transitioning()">
  <h3><i class="fa fa-warning project-report-error-text"></i> Warning</h3>
  <span class="project-report-error-text">{{ error.message }}</span>
</section>

<section class="project-report-section" ng-class="{ 'row-push-1' : !!error }" ng-if="activeEntities.project.goals.length">
  <h3>Goals</h3>
  <div class="project-report-goals-header" ng-click="toggleAllGoals()" ng-class="{ open: showGoals }">
      <section class="project-report-section">
        <h4>
          <span>ALL GOALS</span>
          <i class="fa large fa-caret-down pull-right"></i>
          <i class="fa large fa-caret-left pull-right"></i>
          <span class="pull-right goal-conv">Total Conversions</span> 
          <span class="pull-right goal-conv-stat">{{ convsTotal | metricVolumeCompact }}</span>
        </h4>
      </section>
    </div>
    <fs-accordion close-others='true' class="report-accordion-goals" ng-show="showGoals">
      <fs-accordion-group ng-repeat="goal in activeEntities.project.goals" is-open=":: !error && goal.id === activeEntities.goal.id" is-disabled="!!error || !activeEntities.goalHasReport[goal.id]">
         <fs-accordion-heading>
         <div ng-click="$event.stopPropagation(); !error && focusGoal(goal.id)" ng-class="{ disabled: error || !activeEntities.goalHasReport[goal.id] }">
            <b class="fa fa-bullseye goal-icon" ng-hide="activeEntities.transitionToGoal === goal.id"></b>
            <b class="fa fa-spinner fa-spin" ng-show="activeEntities.transitionToGoal === goal.id"></b>
            <span>{{ goal | fsGoalFmt }}</span>
            <i class="fa fa-caret-down" ng-if="activeEntities.goalHasReport[goal.id]"></i>
            <i class="fa fa-caret-left" ng-if="activeEntities.goalHasReport[goal.id]"></i>
            <span class="pull-right goal-conv" ng-show="activeEntities.goalHasReport[goal.id]">Conversions</span> 
            <span class="pull-right goal-conv-stat" ng-show="activeEntities.goalHasReport[goal.id]">{{ (goalConvsAggregate[goal.id] || 0) | metricVolumeCompact }}</span>
            <span class="pull-right" ng-hide="activeEntities.goalHasReport[goal.id]">
              <i class="small">No activities associated this goal. </i>
            </span>
          </div>
         </fs-accordion-heading>
         <div ng-if="goal.id === activeEntities.goal.id && goalConvs">
           <fs-vis-simple-ts
             data="goalConvs"
             fs-vis-config
             chart-title="'Goal Conv.'" 
             time-field="'time'"
             value-fields="'conv'"
           >
           </fs-vis-simple-ts>
         </div>
      </fs-accordion-group>
    </fs-accordion>
</section>

<section class="project-report-section row-push-1 channelBreakdown" ng-if="!error">
  <h3>Channel Breakdown</h3>
  <div style="max-width: {{ availableKpis.length * 9 }}em">
    <div fs-kpi-cell 
      ng-repeat="kpi in availableKpis" 
      label="kpi.label" kpi="kpiToDate[kpi.key] | metricPicker:kpi.format" 
      width-percentage="1 / (availableKpis.length > 9 ? 9 : availableKpis.length)"
      ng-click = "!kpi.disabled && selectKpi(kpi.key)"
      ng-class="{ active : kpi.key === activeKpi, disabled : kpi.disabled, tooltipped : kpi.tooltip, 'tooltipped-s' : kpi.tooltip }"
      ng-attr-aria-label="{{kpi.tooltip}}">
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row-push-1" ng-show="activeKpiIsVolume() && getChannelData().length === 0">
    <fs-vis-missing-data
     margin="{ top: 32, left: 0, right: 0, bottom: 0}"
     chart-type="'bar'"
     message="'There is no data for the selected time period'"
     fs-vis-config
     >
    </fs-vis-missing-data>
  </div>
  <div class="row-push-1" ng-show="!activeKpiIsVolume() && getChannelData().length === 0">
    <fs-vis-missing-data
     margin="{ top: 32, left: 0, right: 0, bottom: 0}"
     message="'There is no data for the selected time period'"
     fs-vis-config
     >
    </fs-vis-missing-data>
  </div>
  <div class="row-push-1" ng-if="activeKpiIsVolume() && getChannelData().length">
    <fs-vis-cohort
      fs-vis-config 
      chart-title="activeKpiLabel()" 
      data = "getChannelData()" 
      labels = "channelLabels" 
      time-field="'time'" 
      value-fields= "participatingChannels"
      x-format="formatDate"
      y-format="getChannelDataFormat(activeKpi)"
    >
      <div class="row">
        <div class="col-md-16">
          <div class="chart-legend">
            <div class="chart-legend-item" ng-class="{'disabled' : !series.active}" ng-repeat="series in legendData" ng-click="actionCreator.toggleCohort($index)">
              <span class="legend-label pointer" style="background: {{ series.color }}; color: {{ series.colorSecondary }}">{{ series.name }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="btn-group pull-right">
            <button class="btn btn-solid btn-lg tooltipped tooltipped-n" 
                    aria-label="Daily stats" 
                    ng-class="{ 'btn-primary' : dataStore.getAccumulativeMode() === 'NON_ACCUMULATIVE' }" 
                    ng-click="actionCreator.toggleAccumulative(false)"><i class="fa fa-bar-chart"></i></button>
            <button class="btn btn-solid btn-lg tooltipped tooltipped-n" 
                    aria-label="Cumulative stats" 
                    ng-class="{ 'btn-primary' : dataStore.getAccumulativeMode() === 'ACCUMULATIVE' }" 
                    ng-click="actionCreator.toggleAccumulative(true)"><i class="fa fa-line-chart"></i></button>
          </div>
          <div class="btn-group pull-right" style="margin-right: 1.2em;">
            <button class="btn btn-solid btn-lg tooltipped tooltipped-n" 
                    aria-label="Stack" 
                    ng-class="{ 'btn-primary' : dataStore.getStackMode() === 'STACK_ZERO' }" 
                    ng-click="actionCreator.stack()"><i class="fs-icon chart-bar"></i></button>
            <button class="btn btn-solid btn-lg tooltipped tooltipped-n" 
                    aria-label="Normalize" 
                    ng-class="{ 'btn-primary' : dataStore.getStackMode() === 'STACK_NORM' }" 
                    ng-click="actionCreator.normalize()"><i class="fs-icon chart-bar-normalize"></i></button>
          </div>
        </div>
      </div>
    </fs-vis-cohort>
  </div>
  <div class="row-push-1" ng-if="!activeKpiIsVolume() && getChannelData().length">
    <fs-vis-multiseries 
      data='activeKpiIsVolume() ? noData : getChannelData()' 
      fs-vis-config 
      chart-title = "activeKpiLabel()"  
      labels = "channelLabels" 
      value-fields= "participatingChannels"
      y-format = "getChannelDataFormat(activeKpi)" 
      time-field="'time'">
      <div class="row">
        <div class="col-md-16">
          <div class="chart-legend">
            <div class="chart-legend-item" ng-class="{'active' : series.active}" ng-repeat="series in legendData" ng-click="actionCreator.toggleCohort($index)">
              <span class="legend-label" style="background: {{ series.color }}; color: {{ series.colorSecondary }}">{{ series.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </fs-vis-multiseries>
  </div>
</section>
<section class="project-report-section row-push-1 white margin-bottom" ng-if="!error">
  <div class="row">
    <div class="col-md-20">
      <h3>Activity Breakdown</h3>
    </div>
    <div class="col-md-4">
      <div class="activity-report-mode">
        <fs-radio-toggle ng-model="gridMode.mode" option1="engageMode" option2="costMode"></fs-radio-toggle>
      </div>
    </div>
  </div>
  <div class="negate-padding project-report-activity-table">
    <div ng-class="{ 'height-0' : gridMode.mode === costMode.value }">
      <fs-data-grid data="activityData" column-defs="engageOpts.columnDefs" class="sparse">
      </fs-data-grid>
    </div>
    <div ng-class="{ 'height-0' : gridMode.mode === engageMode.value }">
      <fs-data-grid data="activityData" column-defs="costOpts.columnDefs" class="sparse">
      </fs-data-grid>
    </div>
  </div>
</section>
