<div class="row" ng-init="initProject()">
  <div class="col-md-24">
    <section class="project-report-section">
    <div class="row">
      <div class="col-md-8">
        <fs-select ng-model="activeEntities.project" fs-options="project as project.name for project in projects" ng-change="updateProject(activeEntities.project)" default-text="{{ 'Choose Project' }}">
        </fs-select>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-10">
        <daterange-picker class="project-report-daterangepicker" options="daterangePickerOpts" ng-model="activeEntities.timeFrame" ng-change="updateTimeframe(activeEntities.timeFrame)">
        </daterange-picker>
      </div>
    </div>
    </section>
    <div ui-view class="row-push-1"></div>
  </div>
</div>
