<!-- TODO: To be used when the api works as expected-->
<!-- <div class="tw-tweet-wrapper" ng-repeat="(platform, preview) in creative.previews">
	<div>
		{{ platform }}
	</div>
	<fs-tweet-preview content="preview"></preview>
</div> -->

<div class="tw-tweet-wrapper" ng-if="creative.creative.post === 'existing'" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/existingTweet.html'"></div>

<div ng-if="creative.creative.post === 'new'">
	<div class="tw-tweet-wrapper" ng-if="creative.creative.isCard && creative.creative.tweetCardHeadline" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/websiteCard.html'"></div>
	<div class="tw-tweet-wrapper" ng-if="creative.creative.isCard && !creative.creative.tweetCardHeadline" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/appCard.html'"></div>
	<div class="tw-tweet-wrapper" ng-if="!creative.creative.isCard && !creative.creative.image" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/textTweetEngagement.html'"></div>
	<div class="tw-tweet-wrapper" ng-if="!creative.creative.isCard && creative.creative.image" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/previewTemplates/imageTweetEngagement.html'"></div>
</div>
