<div class="col-md-14 container" >
  <div class="forms" ng-if="message">
    <div style="background-color: forestgreen">
      <span style="color: white;"></span>
    </div>
    <div class="login-error-block fadein activate-account-container">
      <span style="font-weight: bold; text-align: center;">
        <iconic class="activate-account-coloring" static data-src="circle-x-sm.svg"></iconic>
        <span ng-if="message">{{message}}</span>
      </span>
    </div>
  </div>
</div>
