.locked-coloring *{
  margin-right: 5px;
  fill: @pebble-long;
  stroke: @sage-short;
}

.login-button{
  float: right;
  font-size: 1em;
}

.login-error-block {
  background-color: @cherry-heavy;
  border: 1px solid darken(@cherry-heavy, 20%);
  border-radius: 2px;
  height: 4em;
  margin-top: 10px;
  .login-error-message {
    color: @white;
    margin-left: 6px;
    margin-top: 5px;
  }
}

