<div class="col-md-10 welcome-message" ng-show="!activateAccount">
    <h1>{{ 'label.login.Welcomeback' | translate }} </h1>
    <h3>{{ 'label.login.WithAccompliceyoucanoptimizeyourdigitalmarketingstrategyforsuccesswithuniqueintelligence&engagementtools' | translate }} </h3>
    <div>
        <h3>{{ 'label.login.WhathaveyouachievedwithAccomplice' | translate }} </h3>
        <h3><a href="mailto:marketing@accomplice.io" target="_top">{{ 'label.login.Letusknow' | translate }} </a></h3>
    </div>
</div>

<div class="col-md-10 welcome-message" ng-show="activateAccount">
    <h1>{{ 'label.login.Letsgetgoing' | translate }} </h1>
    <h3>{{ 'label.login.YouraccounthasbeensuccessfullyactivatedNowyoucanfindyourpathtomoreeffectivedigitalmarketingYourejustacoupleclicksawayfromconfidentlyfindingandengagingaudiencesacrosschannelsanddevices' | translate }} </h3>
</div>

<div class="col-md-12 container">

  <div class="forms">
    <h3 >{{'label.login.login' | translate}}</h3>

    <form ng-submit="processForm()" name="loginForm" novalidate>
            <div class="login-error-block fadein fadeout"  ng-show="errorCtr === true">
                <span style="cursor: pointer; font-weight: bold; float: right; color:white; margin-right: 8px; margin-top: 3px;" ng-click="closeError()">x</span>
                <h4 class="login-error-message">{{'label.login.problemLoginValidation' | translate}}</h4>
                <p class="login-error-message">{{'label.login.invalidEmailPassword' | translate}}</p>
            </div>
            <div class="form-group">
                <input required ng-model="email" type="email" name="j_username" placeholder="{{'label.login.email' | translate}}" class="form-control">
            </div>
            <div class="form-group">
                <input required ng-model="password" type="password"  name="j_password" placeholder="{{'label.login.password' | translate}}" class="form-control">
            </div>
            <div class="form-group">
                <button name="login" type="submit" class="btn-solid btn-primary login-button">{{'label.login.login' | translate}}</button>
            </div>
            <a href="#/resetPassword"><span>{{'label.login.forgotpassword' | translate}}</span></a>
            <br>
            <span>{{'label.login.donthaveaccount' | translate}} </span><a href="#/signup"> {{'label.login.signup' | translate}}</a>
    </form>
  </div>
</div>

