<div class="modal-body modal-body-members">
  <h3>{{ 'label.align.support.SubscriptionPlans' | translate }}</h3>
  <div ng-if="plans.length > 0">
    <div class="row">
      <div class="col-md-4">
        {{'label.align.support.PlanCode' | translate}}
      </div>
      <div class="col-md-6">
        {{'label.align.support.PlanName' | translate}}
      </div>
      <div class="col-md-4">
        {{'label.align.support.Amount' | translate}}
      </div>
      <div class="col-md-4">
        {{'label.align.support.AdSpendLimit' | translate}}
      </div>
      <div class="col-md-4">
        {{'label.align.support.TrackedEventsLimit' | translate}}
      </div>
      <div class="col-md-2">
        {{'label.align.support.Enabled' | translate}}
      </div>
    </div>
    <hr>
    <div class="row" ng-repeat="plan in plans">
      <div class="col-md-4">
        {{plan.planCode}}
      </div>
      <div class="col-md-6" title="{{plan.description}}">
        {{plan.planName}}
      </div>
      <div class="col-md-4">
        {{plan.amount / 100 | currency:undefined:0}}
      </div>
      <div fs-click-to-edit="plan.adSpentLimit" is-currency="true" unlimited="true" select-value="true" class="col-md-4">
        {{plan.adSpentLimit}}
      </div>
      <div class="col-md-4" fs-click-to-edit="plan.trackedEventsLimit" unlimited="true" select-value="true" is-integer="true">
        {{plan.trackedEventsLimit}}
      </div>
      <div class="col-md-2 checkbox-container">
        <input type="checkbox" id="plan-{{ $index }}" ng-model="plan.enabled"/><label for="plan-{{ $index }}"></label>
      </div>
    </div>
    <div>
      Note: Enter -1 for Unlimited value
    </div>
  </div>
  <div ng-if="plans.length === 0">
    {{ 'label.align.support.NoPlans' | translate }}
  </div>
</div>
<div class="modal-footer modal-members-footer">
    <div class="col-md-24">
      <button ng-disabled="processing" class="btn-solid btn-outline" class="pull-right" ng-click="closeThisDialog()">{{ 'label.common.cancel' | translate}}</button>
      <button ng-disabled="processing" class="btn-solid btn-outline" style="margin-left: 5px;" ng-click="syncPlans()">{{'label.align.support.SyncPlans' | translate}}</button>
      <button ng-disabled="processing" class="btn-solid btn-primary" style="margin-left: 5px;" ng-click="saveSubscriptionPlans()">{{'label.align.support.Save' | translate}}</button>
    </div>
</div>
