.budget-recommendation-panel {
  padding-top: 1em;
  padding-bottom: 1.25em;
  background-color: @cherry-light;
  border: 1px solid @cherry-medium;
}

.budget-recommendation-message {
  padding-top: 1em;
  padding-bottom: 1.25em;
  font-size: 9.6pt;
}

.budget-recommendation-title {
  font-size: 16pt;
}

.budget-recommendation-or {
  font-size: 12pt;
  color: @cherry-heavy;
  margin-top: 0.5em;
}

.one-hundred-percent {
  width: 100%;
}

.margin-top-1 {
  margin-top: 1em;
}