<div class="row margin-top-1">
  <div class="col-md-24 centered budget-recommendation-panel">
    <p class="budget-recommendation-title">{{ 'label.act.InsufficientBudget' | translate}}</p>

    <p class="budget-recommendation-message"> {{'label.act.budgetRecommendationWarning' | translate }}</p>

    <div ng-show="budgetRecommendation.decreaseNumberDays > 0" class="col-md-8 col-md-offset-3">
      <button type="button"
              ng-click="applyBudgetRecommendation({type:'duration'})"
              class="btn btn-outline cherry btn-block "> {{ 'label.act.DecreaseDurationby' | translate }}
        {{budgetRecommendation.decreaseNumberDays}}
        <span ng-show="budgetRecommendation.decreaseNumberDays > 1">{{ 'label.act.days' | translate }}</span>
        <span ng-show="budgetRecommendation.decreaseNumberDays === 1">{{ 'label.act.day' | translate }}</span>
      </button>
    </div>
    <div ng-show="budgetRecommendation.decreaseNumberDays > 0" class="col-md-2 text-center">
      <h5 class="budget-recommendation-or">{{ 'label.act.OR' | translate }}</h5>
    </div>
    <div ng-class="budgetRecommendation.decreaseNumberDays > 0 ? 'col-md-8' : 'col-md-10 col-md-offset-7'">
      <!-- Cross Channel Budget-->
      <button type="button"
              ng-if="budgetPolicy === 'FLOATING'"
              ng-click="applyBudgetRecommendation({type:'budget'})"
              class="btn btn-primary cherry btn-block one-hundred-percent">
        {{ 'label.act.IncreaseBudgetby' | translate }} {{budgetRecommendation.raiseCrossChannelBudget | number:2}} {{currency}}
      </button>
      <!-- Multi Channel Budget-->
      <button type="button"
              ng-if="budgetPolicy === 'FIXED'"
              ng-click="applyBudgetRecommendation({type:'budget'})"
              class="btn btn-primary cherry btn-block one-hundred-percent">{{ 'label.act.IncreaseBudgetby:' |
        translate }}
        <div ng-repeat="(channel, increase) in budgetRecommendation.mapRaiseMultiChannelBudget">
          <div>{{increase | number:2}} {{currency}} for {{channel | capitalize}}</div>
        </div>
      </button>
    </div>
  </div>
</div>