.full-width {
  width: 100%!important;
}

.act-cm-bordered {
  border: ~"1px solid @{mono-light}";
  &.remove-bottom {
    border-bottom: 0;
  }
  &.remove-top {
    border-top: 0;
  }
}

.fa.g1 {
  color: @nature-heavy;
}

.one-line-margin-bottom {
  margin-bottom: @line / @base-font-size * 1em;
}

.act-cm-nocampaign {
  @large-padding : @padding-base-vertical * 4;
  @large-margin : @line / @base-font-size * 1rem;
  padding : ~"@{large-padding} @{padding-base-horizontal}";
  margin: ~"@{large-margin} 0";
  background: @white-half;
  font-style: italic;
  color: @smoke-long-half;
}

.act-cm-view-config {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.act-cm-newcampaign-label {
  font-size: @font-size-small / @base-font-size * 1em;
  margin-right: 0;
  padding: 0.5rem 0.75rem;
  .fa {
    margin-right : @font-size-small / @base-font-size * 0.2em;  
    position: relative;
    top: 1 / @font-size-small * 1em;
  }
}


@media (min-width: @screen-md) {
  .align-h3-md {
    margin-top: (@line/@base-font-size-h3 * 1rem);
  }
  .pull-right-md {
    float: right;
  }
}
.act-cm-backtocampaigns {
  padding: 0.5em 0;
  color: @slate-short;
  iconic {
    position: relative;
    top: 0.1em;
    left: -0.1em;
    margin-right: 0.1em;
    path {
      stroke: @slate-short;
    }
  }
  border-bottom: 4px solid transparent;
}
.act-cm-backtocampaigns:hover {
  text-decoration: none;
  color: @slate-short;
  border-bottom: ~"4px solid @{slate-short}";
}


.act-cm-chart-tooltip {
  margin-right: 0;
  color: @slate-long;
  background: @sage-short;
  font-weight: bold;
}
.act-cm-newcampaign-label:hover {
  text-decoration: none;
  color: #fff;
  .iconic-property-fill {
    fill : #fff;
  }
}
.act-cm-viewmode {
  float: right;
}
.act-cm-campaigns-list {
  margin-top: @padding-base-vertical * 2;
}
.act-cm-campaigns-failed {
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  > .msg-wrapper {
    background-color: @cherry-light;
    color: @tin-medium;
    border: 2px solid @pale-light;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem 0.75rem;
    border-radius: @base-border-radius;
  }
  > .msg-details {
    border: 1px solid @cherry-light;
    margin: 0.75em 2px 2px 2px;
    padding: @padding-base-horizontal @padding-base-vertical; 
  }
}


// actions menu
.act-cm-action {
  cursor: pointer;
  display: inline-block;
  text-align: right;
  min-width: 1.5em;
  .fs-dropdown-menu > li > a {
    text-align: left;
    .fa { margin-right: 0.25rem; }
  }
}

.date-range-container {
  min-width: 225px;
}

// table styles

// table styles
.act-cm-campaign-list {
  // border: 1px solid @pebble-long;
  margin-bottom: 0;
  margin-top: 0;
  &.draft {
    margin-bottom: 1.5rem;
  }
  td {
    padding: @grid-gutter-width/2!important;
    background-color: @content-bg!important;
    border: 0!important;
    height: 4rem;
    > span {
      text-overflow : ellipsis;
    }
  }
  .campaign-title td{
    background: green!important;
    color: white;
    padding: 0 0.25rem!important;
  }
  .campaign-info td:last-child {
    text-align: right;
  }
  .campaign-highlight {
    font-size: 1.25em;
  }
  .loop-colspans(td, 9, 9);
}



.act-cm-campaign-stats {
  &:extend(.content);
  padding: 0;
  margin-top: 0;
  .campaign-stat-value,
  .campaign-stat-label {
    display: block;
    text-align: center;
  }
  .campaign-stat-value {
    font-size: 1.25em;
    font-weight: bold;
  }
  &.controllable {
    margin-top: @grid-gutter-width * 0.8;
    background-color: transparent;
    .clickable {
      cursor: pointer;
    }
  }
  table-layout: fixed;
}

.stat-cell {
  padding: @grid-gutter-width * 0.8;
  // width: percentage(1/9);
  background: transparent;
  &.active {
    background: @smoke-mid;
  }
  &.clickable {
    cursor: pointer;
  }
}
.square-wrapper {
  margin: 0;
  position: relative;
  padding: 1px;
}
.square:after {
  display: block;
  content : ' ';
  margin-top: 100%;
}
.square-cell {
  position: absolute;
  background: #fff;
  top: 0;
  bottom: 0;
  left : 0;
  right : 0;
}
.channelBreakdown .square-cell { font-size: 1.2vw; }
.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.absolute-center {
  position: absolute;
  left : 50%;
  transform : translateX(-50%);
}
.absolute-middle.absolute-center {
  transform : translate(-50%, -50%);
}
.stat-channel {
  padding: ~"@{padding-base-vertical} @{padding-small-horizontal}";
  margin-top: -1px;
  .fa {
    margin-right: 1em;
  }
  &.facebook {
    color: @facebook-blue;
    background: lighten(@facebook-blue, 53%);
    border-bottom: 1px solid lighten(@facebook-blue, 50%);
  }
  &.adwords {
    color: @adwords-heavy;
    background: lighten(@adwords-heavy, 43%);
    border-bottom: 1px solid lighten(@adwords-heavy, 40%);
  }
}
@media (max-width: @screen-md-max) {
  .act-cm-campaign-stats {
    display: block;  
    tbody, tr {
      display: block;
      width: 100%;
    }
    .clearfix();
  }
  .stat-cell {
    display: block;
    width: percentage(1/6)!important;
    float: left;
  }
  .act-cm-campaign-list, .act-cm-campaign-stats {
    // width: 28em!important;
  }
}
@media (max-width: @screen-sm-max) {
  .stat-cell {
    display: block;
    width: percentage(1/3)!important;
    float: left;
  }
}

.status-pill {
  @status-font-size: 12;
  display: inline-block;
  font-size: @status-font-size * 1px;
  min-width: 68px;
  text-align: center;
  height: (@status-font-size + 8) / @status-font-size * 1em;
  padding: 0 4/@status-font-size * 1em;
  line-height: 1.8em;
  font-family: @font-family-headline;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: @base-border-radius;
  background-color: @nature-heavy;
  &.processing {
    background-color: @tin-heavy;
  }
  &.active {
    background-color: @nature-heavy;
  }
  &.scheduled {
    background-color: @nature-heavy;
  }
  &.paused {
    background-color: @nature-light;
    color: @mono-medium;
  }
  &.stopped {
    background-color: @mono-heavy;
  }
  &.completed {
    background-color: @sage-short;
  }
  &.failed {
    background-color: @cherry-light;
    color: @pale-light;
  }
  &.pending {
    background-color: @tin-light;
  }
}

.status-action {
  @status-font-size: 10;
  width : (@status-font-size + 18) * 1px;
  &.offset-left {
    margin-left: 22px;
  }
  font-size: @status-font-size * 1px;
  text-align: center;
  display: inline-block;
  .fab {
    font-size: 14px;
    // 26px x 26px
    width : 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid @nature-heavy;
    padding: 5px;
    color: @nature-heavy;
    line-height: 1em;
    display: block;
    &:hover {
      background: @nature-heavy;
      color: #fff;
    }
  }
  &.stop {
    .fab {
      color: @R1;
      border-color: @R1;
      &:hover {
        background : @R1;
        color: #fff;
      }
    }
  }
  b {
    text-transform: uppercase;
  }
}

.capped-input {
  display: block;
  max-width: 24rem;  
}

.max-bid-table .dg-table-row,
.max-bid-table .dg-table-row:hover {
  background: #fff!important;
}
.max-bid-table .filter {
  display: none;  
}
.max-bid-table .dg-warning .border-grid,
.subcampaigns .dg-warning .border-grid {
  display: none!important; 
}

.editable-field {
  position: relative;
  margin: -4px -2px;  
  padding: 4px 2px;
  border: 1px solid @mono-medium;
  border-radius: @base-border-radius;
  .editable-input, .editable-input:focus, .editable-display {
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: 0;
    outline: 0;
  }
  .editable-display {
    display: none;
  }
  .editable-input {
    display: inline-block;
    background-color: @pale-medium; 
    width: 100%;
  } 
  .editable-buttons {
    position: absolute;
    top: 100%;
    right: 0.25em;
    z-index: 2015;
    background-color: @pale-medium; 
    border: 1px solid @mono-medium;
    border-top: 1px solid @pale-heavy;
    padding: 0.05em;
    border-radius: 0 0 2px 2px;
    span {
      &:extend(.large);
      cursor: pointer;
      color: @mono-heavy;
      padding: 0 0.25em;
      height: @line / @unitem;
      .fa:hover {
        color: @nature-heavy;
      }
      .fa-times:hover {
        color: @cherry-medium;
      }
      .fa-trash:hover {
        color: @cherry-dark;
      }
    }
  }
  .editable-edit {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: @line / @unitem;
    background: @pale-heavy;
    border-left: 1px solid @mono-medium;
    text-align: center;
    padding-top: 0.13em;
    color: @mono-heavy;
  } 
  &.inactive {
    border: 1px solid transparent;
    /*
    &:hover2 {
      border: 1px solid @mono-medium;
      .editable-edit {
        display: inline-block;
      }
    }
    */
    .editable-display {
      display: inline-block;
    }
    .editable-input, .editable-buttons {
      display: none;
    } 
  }
}

.budget-input {
  width: 8em;
}

.margin-bottom-1- {
  margin-bottom: 1em;
}

.modal-container {
  margin-left: 1em;
  margin-right: 1em;
}


// CPA Limit

.cmp-budget {
  position: relative;  
  .fa-bell-o { 
    cursor: cell; 
    &:hover { color: @nature-heavy; }
  }
}
.cpa-limit-container {
  padding: 0.5em;
  background: @pale-heavy;
  border: 1px solid @pale-dark;
  width: 100%;  
  min-width: 15em;
  position: absolute;
  left: 6em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3050;
  span {
    text-transform: none;  
    color: @mono-heavy;
  }
}


// Animation
.campaign-animate.ng-enter, 
.campaign-animate.ng-leave,
.campaign-animate.ng-move
{ 
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) height;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.campaign-animate.ng-leave.campaign-animate.ng-leave-active,
.campaign-animate.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.campaign-animate.ng-enter.campaign-animate.ng-enter-active, 
.campaign-animate.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}
 
