<div class='label-body form-control'>
    <ul>
	    <li class='label label-solid' ng-repeat='label in ngModel' ng-click='deleteLabel($index)'>{{toShow ? label[toShow] : label}}</li>
    	<li><input type='text' id="label-input" ng-model='currentLabel' ng-keypress='$event.preventDefault; $event.keyCode === 13 ? addLabel() : 0'></li>
    </ul>
</div>