
.label-body{
  border: 1px solid #c1c1c1;
  width: 100%;
  padding: 0 0.5em;
  cursor: text;
  
  ul{
    list-style-type: none;
    margin: 0 0 0.5em 0;
    -webkit-padding-start:0px;
    position: relave;
    li{
      display: inline-block;
      margin-top: 0.5em;
      input{
        outline: none !important;
        border: none !important;
        font-size: 14px !important;
        margin-top: 0.5em !important;
        background-color: transparent !important;

        &:focus{
          box-shadow: none !important;
        }
      }
      

    }
  }
}

.label-body-focus{
  box-shadow: 0px 0px 3px #d1d1d1;
}