<div class="fs-dropdown default page margin-top-1" ng-class="{'form-control ng-invalid' :form.creative.submitted  && !newCreative.instagramAccount}">
  <!-- Dropdown to allow the user to choose the the Instagram account. Becomes hidden once the user has selected it -->
  <div class="fs-dropdown-link" on-state="click">
    <div ng-hide="newCreative.instagramAccount">
      <i class="pull-right fa fa-caret-down"></i>
      <span>{{'label.act.PleaseselectanInstagramAccount' | translate }}</span>
    </div>
  </div>
  <ul class="fs-dropdown-menu">
    <li ng-repeat="account in campaign.settings.channels.facebook.adAccount.instagramAccounts" ng-click="selectInstagramAccountForCreative(account)">
      <img ng-src="{{account.profilePic}}" alt="facebook image">
      {{ account.name }}
    </li>
  </ul>
  <!-- When the user has selected a page, display the page chosen -->
  <div class="fs-dropdown-link" on-state="click">
    <div ng-show="newCreative.instagramAccount">
      <iconic data-src="caret" data-direction="bottom" class="iconic-sm goals-caret-coloring"></iconic>
      <img ng-src="{{newCreative.instagramAccount.profilePic}}" alt="facebook image">
      <span>{{ newCreative.instagramAccount.name }}</span>
    </div>
  </div>
</div>
<span class="error-message" ng-if="form.creative.submitted && !newCreative.instagramAccount">{{ 'label.act.Thisfieldisrequired' | translate }}</span>
<!--{{campaign.settings.channels.facebook.adAccount}}-->