.day-cell{
	float: left;
	padding: 10px;
	outline: 1px solid @white;	
	width: 13.5%;
}

.currentDay{
	color: red;
}

.month-container{
	text: align;
}

.nextMonth{
	opacity: 0.4;
}

.calendar-nav-container{
	margin-left: 50em;
}

.post-summary{	
	position: absolute;
	right: 8.5em;
	// top: 9.3em;
	background-color: @slate-short;
	padding: 1em;
}

.scheduled-post-container{
	width: 8em;
	background-color: @slate-short;
	height: 1.5em;
	padding-left: 0.5em;
}

.message-label{
	text-overflow: ellipsis;
}

.calendar{
	margin-top: 1em;
	thead{
	}
	tbody{
		background-color: darken(@body-bg, 5%);
	}
}

.calendar-header{
	float: left;
	margin-left: 7.2em;
	width: 88.4%;
	text-align: center;
	background-color: @slate-short;
	color: @white;
	th{		
		padding: 1em;
		margin-left: 15em;
		cursor: pointer;
	}

}

.toggle-calendar-button{
	float: right;
	padding: 8px;
	outline: 1px solid black;
}

.day-cell-week{
	float: left;
	padding: 10px;
	width: 12.64%;
	background-color: @slate-short;
	color: @white;
	border-top: 1px solid @white;
}

.hour-cell-label{
	float: left;
	padding: 12px;
	width: 11.5%;
	outline: 1px solid @body-bg;		
	background-color: @slate-short;
	color: @white;			
}

.hour-cell-week:hover{
	 outline: 1px solid @slate-short;
	 cursor: pointer;
}

.hour-cell-week{
	float: left;
	height: 1.5em;	
	width: 12.625%;
	background-color: darken(@body-bg, 5%);
	outline: 1px solid @body-bg;		
	color: @white;
}
.day-header{
	outline: 1px solid black;
	padding: 8px;

}

// .day-body{
// 	padding: 8px;
// }
.post-card{
	border-left: 1px solid black;
	padding: 8px;
}

.space-cell{
	float: left;
	padding: 10px;
	width: 11.35%;
}

.display-inline{
  display: inline;
}