<div ng-show="currentView == 'Week'">
  <table class="calendar col-md-24">
    <thead>
      <tr class="calendar-header">
        <th class="space-cell"></th>
        <th ng-click="prevWeek()"></th>
        <th class="week-container">{{ monthName }} {{ year }}</th>
        <th ng-click="nextWeek()"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="week-header">
        <td class="space-cell"></td>
        <td class="day-cell-week" ng-repeat="day in week">
          {{ day.weekDayName }} {{ day.date.getMonth() + 1 }} / {{ day.date.getDate() }}
        </td>
      </tr>
      <tr ng-repeat="hour in hours">
        <td rowspan="2" class="hour-cell-label"> {{ hour.label }} </td>        
        <td class="hour-cell-week" ng-repeat="cell in hour.cells track by $index" ng-class="{ postPresent: cell.scheduledPosts.length > 0 }"  >
          <div class="scheduled-post-container" ng-show="cell.scheduledPosts" ng-repeat="post in cell.scheduledPosts track by $index" ng-click="showPostSummary(post)">

            <i class="fa fa-facebook" ng-show="post.summary.page.channel === 'Facebook'"></i>
            <i class="fa fa-twitter" ng-show="post.summary.page.channel === 'Twitter'"></i>

            <span class="message-label">{{ post.message }}</span>

            <div class="post-summary" ng-show="post.summary.show">              
              <img ng-src="{{ post.summary.page.image }}"/>
              <div>{{ post.summary.pageName }}</div>
              <div>{{ post.summary.time }}</div>
              <div>{{ post.message }}</div>
              <img src="{{ post.image }}"/>
              <div>{{ post.headline }}</div>
            </div>
          </div>  
        </td>
      </tr>
    </tbody>
  </table>
</div>








<!-- MONTH VIEW TO IMPLEMENT LATER -->
<!-- <div class="button" ng-click="switchView('Month')">
  Month
</div>
<div class="button" ng-click="switchView('Week')">
  Week
</div>

<div ng-show="currentView == 'Month'">
  <table class="calendar">
    <thead>
      <tr>
        <td ng-click="prevMonth()"></td>
      	<td class="month-container">{{ monthName }} {{ year }}</td>
        <td ng-click="nextMonth()"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="day-cell" ng-repeat="d in weekDays">{{ d }}</td>
      </tr>
      <tr ng-repeat="arr in month">
        <td class="day-cell" ng-repeat="d in arr track by $index" ng-class="{currentDay: d == day}">
        	{{ d | blankIfNegative }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
 -->
