<nav ng-controller="NavbarCtrl">
    <ul class="top-nav">
        <li class="nav-section select-team-nav" ng-click="toggleMenu($event);">
            <div class="row menu-item-content">
                <span>{{ fractalAccountInfo.currentTeam.name | stringLimiter:max:12 }}</span>
                <i class="fa fa-caret-right navbar-caret-teams" ng-if="!showTeamsDropdown"></i>
                <i class="fa fa-caret-down navbar-caret-teams" ng-if="showTeamsDropdown"></i>
            </div>
            <ul ng-show="showTeamsDropdown" class="nav-pill-container team-pill">
                <div class="team-pill-scrolled">
                    <li class="nav-pill" ng-repeat="team in fractalAccountInfo.activeTeams | orderBy:'createdAt'" ng-click="setDefaultTeam(team)"
                        ng-class="{'set-first': $first}">
                        {{ team.name }}
                    </li>
                </div>
                <li class="nav-pill add-team-pill team-pill-scrolled" ng-form="teamNameForm">
                    <div ng-hide="showInputsNewTeam" class="label-add-team" ng-init="showInputsNewTeam = false;" ng-click="showInputsNewTeam = true;">
                      <i class="fa fa-plus"></i> Add New Team
                    </div>
                    <input ng-if="showInputsNewTeam" fs-focus-input="{{showInputsNewTeam}}" type="text" name="newTeamName"
                           class="form-control input-control-add-team tooltipped-s" placeholder="New Team Name" ng-model="$parent.newTeamName"
                           ng-minlength="3" ng-maxlength="16" ng-required="" fs-enter="createNewTeam(newTeamName)" ng-disabled="processingCreation"/>
                    <div class="save-team-block" ng-if="showInputsNewTeam && teamNameForm.newTeamName.$valid">
                      <button class="team-button" ng-click="cancelAddAction()" ng-disabled="processingCreation">
                        <span class="fa fa-times"></span>
                      </button>
                      <button class="team-button" ng-click="createNewTeam(newTeamName)" ng-disabled="processingCreation">
                        <span class="fa fa-check"></span>
                      </button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="top-nav">

        <!-- Act -->
        <li class="nav-section section-header" fs-permission="<ACT>" ng-style="parentStyle()" nav-resize>
          <div class="row menu-item-content">
            <span>{{'label.navbar.Manage' | translate}}</span>
          </div>
        </li>
        <li class="nav-childs" fs-permission="<CAMPAIGN_MANAGER>" ng-style="parentStyle()" nav-resize ng-click="openNavPill($event, '/manage/campaigns/active')" ng-class="isActive('campaign')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <navicon class="logo-coloring" static data-src="assets/images/navbar/icon_campaign-22.svg" ng-style="iconsStyle()"></navicon>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Campaigns' | translate}}</span>
            </div>
          </div>
        </li>
        <li class="nav-childs last-child" fs-permission="<ACT>" ng-style="parentStyle()" nav-resize ng-click="openNavPill($event, '/manage/links')" ng-class="isActive('links')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <navicon class="logo-coloring" static data-src="assets/images/navbar/icon_links-23.svg"></navicon>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Links' | translate}}</span>
            </div>
          </div>
        </li>
        <li class="nav-childs last-child" fs-permission="<ACT>" ng-style="parentStyle()" nav-resize ng-click="openNavPill($event, '/manage/assets')" ng-class="isActive('assets')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <navicon class="logo-coloring" static data-src="assets/images/navbar/icon_assets-24.svg"></navicon>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Assets' | translate}}</span>
            </div>
          </div>
        </li>

        <!-- Analyze -->
        <li class="nav-section section-header" fs-permission="<ANALYZE>" ng-style="parentStyle()" nav-resize>
          <div class="row menu-item-content">
            <span>{{'label.navbar.Reports' | translate}}</span>
          </div>
        </li>
        <li class="nav-childs" fs-permission="<ANALYZE>" ng-style="parentStyle()" nav-resize ng-class="isActive('project')" ng-click="openNavPill($event,'/reports/project/')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <navicon class="logo-coloring" static data-src="assets/images/navbar/icon_project-25.svg"></navicon>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Project' | translate}}</span>
            </div>
          </div>
        </li>
        <li class="nav-childs" fs-permission="<ANALYZE>" ng-style="parentStyle()" nav-resize ng-class="isActive('organic')" ng-click="openNavPill($event,'/reports/organic/')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <navicon class="logo-coloring" static data-src="assets/images/navbar/icon_organic-26.svg"></navicon>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Organic' | translate}}</span>
            </div>
          </div>
        </li>
        <li class="nav-childs last-child" fs-permission="<ANALYZE>" ng-style="parentStyle()" nav-resize ng-class="isActive('website')" ng-click="openNavPill($event,'/reports/website/')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <navicon class="logo-coloring" static data-src="assets/images/navbar/icon_web-analytics-27.svg"></navicon>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Website' | translate}}</span>
            </div>
          </div>
        </li>

        <li class="nav-section section-header" fs-permission="<ALIGN>" ng-style="parentStyle()" nav-resize>
          <div class="row menu-item-content">
            <span>{{'label.navbar.Account' | translate}}</span>
          </div>
        </li>

        <!-- Align-->
        <li class="nav-childs" fs-permission="<ALIGN>" ng-style="parentStyle()" nav-resize ng-class="isActive('align')" ng-click="openNavPill($event, '/setup/projects')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <i class="fa fa-cog" ng-style="iStyle()"></i>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Setup' | translate}}</span>
            </div>
          </div>
        </li>

        <!-- Event Log-->
        <li class="nav-childs" fs-permission="<ALIGN>" ng-style="parentStyle()" nav-resize ng-class="isActive('activity')" ng-click="openNavPill($event, '/activity')" ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <i class="fa fa-bolt"></i>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Activity' | translate}}</span>
            </div>
          </div>
        </li>

        <!-- Support -->
        <li class="nav-childs" ng-click="openSupportDashboard()" ng-style="parentStyle()" nav-resize ng-mouseenter="showTeamsDropdown = false;">
          <div class="row child-text">
            <div class="col-md-7 child-section-logo">
              <i class="fa fa-question"></i>
            </div>
            <div class="col-md-17 child-section-label" ng-style="childStyle()">
              <span>{{'label.navbar.Help' | translate}}</span>
            </div>
          </div>
        </li>
    </ul>

    <ul class="bottom-nav">
        <li class="nav-section user-nav-container" ng-click="myUserSettings()">
            <div class="row user-infos" style="text-align: center;">
                <img ng-if="fractalAccountInfo.image"
                     ng-src="{{ apiUrl + '/api/v2/image/get?guid=' + fractalAccountInfo.image.fullGuid }}"
                     class="nav-no-user-image"/>
                <img ng-if="!fractalAccountInfo.image" class="nav-no-user-image" ng-src="{{ 'assets/images/user-icon_100x100px.png' }}"/>
                <span style="vertical-align: middle;">{{ fractalAccountInfo.firstName | stringLimiter:max:11 }} {{ fractalAccountInfo.lastName | limitTo: 1}}.</span>
            </div>
        </li>
    </ul>
</nav>
<div class="rotate-image-block">
  <navicon class="accomplice-logo" static data-src="assets/images/navbar/Logo-02.svg" onmousedown="return false;"></navicon>
</div>
