<div class="row content"
     ng-repeat="combo in fbPaginatedCombos.currentList"
     ng-class="{'error-border-container': !combo.isValid && metadata.hasClickedToGoToSummaryPage, 'combo-animation': combo.hasJustBeenAdded}">
    <div class="col-md-24 combo-header-description" ng-if="$first">
      <span>{{ 'label.act.UploadYourAudiencesCreatives' | translate }}</span>
    </div>
    <div class="col-md-8">
        <form name="form.combo">
            <div class="form-group">
                <input name="name" ng-show="metadata.page === 2" type="text" placeholder="Combo Name" ng-model="combo.name" class="form-control" ng-keyup="combo.needsUpdate = true" ng-blur="combo.update()" required />
                <div ng-messages="form.combo.name.$error" ng-hide='combo.name.length > 0'>
                    <div ng-message="required" class="error-message">
                        {{ 'label.act.Pleaseenteracomboname' | translate }}
                    </div>
                </div>

                <b ng-show="metadata.page === 3"> {{combo.name}} </b>
            </div>
        </form>
    </div>
    <div class="fright margin-top-075">
      <div class="fleft tooltipped tooltipped-n" aria-label="{{'label.act.SaveComboasTemplate' | translate }}">
        <icon class="fa fa-save fa-2x action-icon"
              ng-show=" metadata.page === 2 "
              ng-click="combo.saveToLibrary()">
        </icon>
      </div>
      <div class="fleft tooltipped tooltipped-n" aria-label="{{'label.act.DuplicateCombo' | translate }}">
        <icon class="fa fa-copy fa-2x action-icon"
              ng-show=" metadata.page === 2 "
              ng-click="campaign.duplicateCombo(combo)">
        </icon>
      </div>
      <div class="fleft tooltipped tooltipped-n" aria-label="{{'label.act.DeleteCombo' | translate }}">
        <icon class="fa fa-trash-o fa-2x action-icon"
              ng-show=" metadata.page === 2 "
              ng-click="campaign.deleteCombo(combo)">
        </icon>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- This is the audience part -->
    <div class="col-md-12" ng-controller="FbAudienceCtrl">
        <h4 class="text-uppercase" ng-if="combo.numberOfAudienceVariants > 0">
            <span ng-if="combo.numberOfAudienceVariants <= 1">{{combo.numberOfAudienceVariants}} {{ 'label.act.Audiencevariant' | translate }}</span>
            <span ng-if="combo.numberOfAudienceVariants > 1">{{combo.numberOfAudienceVariants}} {{ 'label.act.Audiencevariants' | translate }}</span>
        </h4>
        <br ng-if="combo.numberOfAudienceVariants == 0">

        <div  class="row">
            <div class="col-md-24">
                <!--Audience segments-->
                <div class="panel panel-default panel-combo">
                    <!-- Add Audience button when the audience is empty -->
                    <div class="panel-body fixed-height" ng-show=" metadata.page === 2 && combo.audience === null">
                        <div class="btn btn-outline add-audience-button" ng-click="manageAudience(combo)">
                            {{ 'label.act.AddAudience' | translate }}
                        </div>
                    </div>
                    <!-- Display Audience info. User can edit by clicking on one of the values -->
                    <div class="panel-body manage fixed-height pointer" ng-click="manageAudience(combo)" ng-if="metadata.page === 2 && combo.audience !== null">
                        <div ng-repeat="audience in combo.audience.audience | toArray | orderBy:audienceSort"
                             class="audience-label" ng-show="combo.audience !== null">
                            <h4>{{audience.$key | unCamelCase}}</h4>
                            <div ng-repeat="variant in audience" class="label-variant label-outline grey">
                                <span class="label grey bold" ng-repeat="label in variant.values">
                                    <span>{{label.displayValue || label.value}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Display Audience info only for review page-->
                    <div class="panel-body fixed-height" ng-if="metadata.page === 3">
                        <div ng-repeat="audience in combo.audience.audience | toArray | orderBy:audienceSort"
                             class="audience-label" ng-show="combo.audience !== null">
                            <h4>{{audience.$key | unCamelCase}}</h4>
                            <div ng-repeat="variant in audience" class="label-variant label-outline grey">
                                <span class="label grey bold" ng-repeat="label in variant.values">
                                    <span>{{label.displayValue || label.value}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row error-panel" ng-if="combo.audience.lowReachAdsList.length > 0">
        <table>
          <tr>
            <td class="low-reach-cell">
              {{ 'label.act.adsLowReachMessage' | translate }}
            </td>
            <td class="low-reach-cell">
              <button class="btn btn-block btn-primary cherry one-hundred-percent"
                      ng-click="manageAudience(combo)"
                      type="button">
                {{ 'label.act.FixAudience' | translate }}
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- This is the creative part -->
    <div class="col-md-12" ng-controller="FbCreativeCtrl">
        <h4 class="text-uppercase" ng-if="combo.numberOfCreativeVariants > 0">
            <span ng-if="combo.numberOfCreativeVariants <= 1"> {{ combo.numberOfCreativeVariants }} {{ 'label.act.Creativeplacement' | translate }}</span>
            <span ng-if="combo.numberOfCreativeVariants > 1"> {{ combo.numberOfCreativeVariants }} {{ 'label.act.Creativeplacements' | translate }}</span>
        </h4>

        <br ng-if="combo.numberOfCreativeVariants == 0">

        <div class="row">
            <div class="col-md-24">
                <div class="panel panel-default panel-combo">
                    <!-- No Creative yet-->
                    <div class="panel-body fixed-height" ng-show="combo.creativeList.length === 0 && metadata.page === 2">
                        <div class="btn btn-outline add-placement-button"
                             ng-click="addCreative(combo)">{{ 'label.act.AddCreative' | translate }}
                        </div>
                    </div>
                    <!-- Creative previews -->
                    <div class="panel-body overflow-auto" ng-class="{'fixed-height-less-50': metadata.page === 2, 'fixed-height': metadata.page === 3}"  ng-if="combo.creativeList.length > 0 && (metadata.page === 2 || metadata.page === 3)">

                        <!-- <div ng-if="combo.creativeList.length > 0"> -->
                        <fs-creative-pagination creative-list="combo.creativeList"></fs-creative-pagination>
                        <!-- </div> -->

                    </div>
                    <div class=" panel-footer text-center" ng-click="addCreative(combo)" ng-show="metadata.page === 2 && combo.creativeList.length > 0">
                        {{ 'label.act.AddCreative' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Fix Creative -->
        <div class="row error-panel" ng-show="combo.invalidCreativeIndexList.length > 0">
            <div class="col-md-12">
                {{'label.act.Invalidcreatives' | translate}}
                <span ng-repeat="creativeIndexInComboCreativeList in combo.invalidCreativeIndexList"
                    ng-click="editCreative(combo, combo.creativeList[creativeIndexInComboCreativeList])"
                    class="pointer"
                    title="Click to fix creative">
                    {{creativeIndexInComboCreativeList + 1 }}
                    <!-- We need to use the index +1 as the page number because pagination starts at 1 instead of 0-->
                </span>
          </div>
          <div class="col-md-12">
            <button class="btn btn-block btn-primary cherry one-hundred-percent"
                    ng-click="editCreative(combo, combo.creativeList[combo.invalidCreativeIndexList[0]])"
                    type="button">
              {{'label.act.FixInvalidCreatives' | translate}}
            </button>
          </div>
        </div>
    </div>
</div>

<div class="event-log-pagination" ng-show="fbPaginatedCombos.initPagination">
  <nav role="navigation">
    <ul class="paginated-blocks">
      <li ng-click="fbPaginatedCombos.goToPage(fbPaginatedCombos.currentPage - 1)"
          ng-show="fbPaginatedCombos.numPages > 1" class="button"
          ng-class="{'disabled': fbPaginatedCombos.currentPage === 1}">
        <a></a>
      </li>
      <li ng-repeat="page in fbPaginatedCombos.pages track by $index">
        <a ng-class="{'current': page === fbPaginatedCombos.currentPage}" ng-click="fbPaginatedCombos.goToPage(page)">
          {{page}}
        </a>
      </li>
      <li ng-click="fbPaginatedCombos.goToPage(fbPaginatedCombos.currentPage + 1)"
          ng-show="fbPaginatedCombos.numberOfPages > 1" class="button"
          ng-class="{'disabled': fbPaginatedCombos.currentPage === fbPaginatedCombos.numPages}">
        <a></a>
      </li>
    </ul>
  </nav>
</div>


