<div class="row">
  <div ng-repeat="user in inviteUsersData track by $index">
    <div class="row" style="margin: 0;">
      <div class="col-md-23">
        <div ng-if="user.success || processing" class="disabled-layer" class="col-md-23">
        </div>
        <div class="row">
            <div class="col-md-8">
                <input class="form-control" type="text" ng-model="user.firstName" placeholder="{{'label.memberManagement.firstName' | translate}}"/>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" ng-model="user.lastName" placeholder="{{'label.memberManagement.lastName' | translate}}"/>
            </div>
            <div class="col-md-8" ng-form="emailFormPart">
                <input name="email" class="form-control" type="text" ng-pattern="emailRegex" ng-model="user.emailAddress" required placeholder="{{'label.memberManagement.email' | translate}}"/>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-md-8 tooltipped tooltipped-n" aria-label="{{'label.align.tooltip.DefineMemberspermissions' | translate}}">
            <div class="fs-dropdown default" close-dropdown="closeDropdown">
              <div class="fs-dropdown-link inherit-line-height" on-state="click">
                <i class="fa fa-caret-left"></i>
                {{ user.selectedRole ? user.selectedRole.name : 'ROLE' | stringLimiter:max:25}}
              </div>
              <ul class="fs-dropdown-menu" click-stay>
                <li ng-click="roleSelected(role, user)" ng-repeat="role in roles" > <!-- ng-if="role.accountId" -->
                  {{role.name | stringLimiter:max:25}} <a ng-show="role.accountId" href ng-click="removeCustomRole(role, user, $event)">({{'label.memberManagement.remove' | translate}})</a>
                </li>
                <li class="create-new-project-li">
                  <a fs-custom-role-inline="customRoleName" ng-model="customRoleName" href="" on-save="addCustomRole" user="user"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8 tooltipped tooltipped-n" aria-label="{{'label.align.tooltip.ManuallyselectAccess' | translate}}">
            <div disable-dropdown="!user.selectedRole" class="fs-dropdown default" close-dropdown="closeDropdown">
              <div class="permission-groups-dropdown fs-dropdown-link" on-state="click" >
                <i class="fa fa-caret-left"></i>
                <span ng-if="selectedPermissionGroupsCount(user) > 1" style="display: inline;">{{ selectedPermissionGroupsCount(user) }} Permissions selected</span>
                <span ng-if="selectedPermissionGroupsCount(user) === 1" style="display: inline;">{{ selectedPermissionGroupsCount(user) }} Permission selected</span>
                <span ng-if="selectedPermissionGroupsCount(user) === 0">PERMISSIONS</span>
              </div>
              <ul class="fs-dropdown-menu" click-stay>
                <li ng-repeat="group in user.permissionGroups" ng-if="group.groupId !== 6 && group.groupId !== 8">
                  <input ng-disabled="!user.selectedRole.accountId" ng-click="permissionGroupClicked(group, user)" type="checkbox" name="goals" id="permissionGroup{{group.groupId}}" value="group.selected" ng-model="group.selected" />
                  <label style="font-size: 0.79em; width: 100%;" for="permissionGroup{{group.groupId}}">{{group.groupName}}</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="fs-dropdown default" close-dropdown="closeDropdown">
              <div class="teams-dropdown fs-dropdown-link" on-state="click" >
                <i class="fa fa-caret-left"></i>
                <div style="overflow: hidden; width: 80%">
                  <span ng-repeat="team in user.selectedTeams">
                    {{team.name}}<span ng-if="!$last">,</span>
                  </span>
                </div>
                <span ng-if="user.selectedTeams.length === 0">ASSIGN TO TEAMS</span>
              </div>
              <ul class="fs-dropdown-menu" click-stay>
                <li ng-repeat="team in user.teamsList" >
                  <input ng-click="teamClicked(team, user)" type="checkbox" name="goals" id="userTeam{{team.id}}-{{user.identifier}}" value="team.selected" ng-model="team.selected" />
                  <label style="font-size: 0.79em; width: 100%;" for="userTeam{{team.id}}-{{user.identifier}}">{{team.name}}</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="login-error-block fadein" ng-if="user.error" style="height: inherit;">
              <span style="cursor: pointer; font-weight: bold; float: right; color:white; margin-right: 8px; margin-top: 3px;"
                    ng-click="user.error =! user.error">x</span>
            <h4 class="users-error-message" style="margin-right: 25px;">{{user.error}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <div ng-if="inviteUsersData.length > 1" class="row pull-right">
          <a ng-hide="processing" href="" ng-click="removeUser($index)">
            <h6 style="" title="{{'label.memberManagement.remove' | translate}}">
              <iconic class="delete-invite-coloring" static data-src="delete-sm.svg"></iconic>
            </h6>
          </a>
        </div>
      </div>
    </div>
    <hr ng-if="inviteUsersData.length > 1 && $index != inviteUsersData.length - 1">
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <button ng-disabled="processing" style="margin-left: 7px;" class="btn-solid btn-outline pull-left" ng-click="inviteMore()">+ {{'label.memberManagement.invMore' | translate}}</button>
</div>
