<form ng-class="{'scroll-members': inviteUsersData.length > 2}" name="inviteMembers" class="modal-body modal-body-members check-box-initial-members-block members-scrollable" fs-permission="<MANAGE_MEMBERS>" novalidate>
  <h3>{{'label.memberManagement.MemberManagement' | translate}}</h3>
  <fs-tabset update-parent-scope="true">
    <fs-tab class="invite-members-tab" is-open="tabs.inviteMembersTab" ng-click="tabs.inviteMembersTab =  true; tabs.manageMembersTab = false">
      <tab-heading>{{'label.memberManagement.InviteMembers' | translate}}</tab-heading>
      <span class="members-description info">*</span>
      <span class="members-description">{{ 'label.memberManagement.YouCanAssignRolesToYourTeamMembers' | translate }}</span>
      <span class="members-description">{{ 'label.memberManagement.YouCanAlsoShareReportedData' | translate }}</span>
      <div style="margin-top: 20px;" ng-include="'app/main/align/memberManagement/inviteMembers.html'"></div>
    </fs-tab>
    <fs-tab class="manage-members-tab" is-open="tabs.manageMembersTab" ng-click="tabs.inviteMembersTab =  false; tabs.manageMembersTab = true">
      <tab-heading>{{'label.memberManagement.Members' | translate}}</tab-heading>
      <div style="margin-top: 12px;" ng-include="'app/main/align/memberManagement/members.html'"></div>
    </fs-tab>
  </fs-tabset>
</form>
<div class="modal-footer modal-members-footer check-box-initial-members-block">
  <div class="row">
    <div ng-if="tabs.inviteMembersTab" class="col-md-15">
      <fs-csv-import ng-disabled="processing || !roles" class="pull-left"
        button-name="'label.memberManagement.uploadCsv' | translate"
        on-change="onCsvImport"
        header="'firstName,lastName,emailAddress,role,teams'"
        separator="','">
      </fs-csv-import>
      <a href="sample.csv">
        <button style="margin-left: 10px;" class="btn-solid btn-outline pull-left">{{'label.memberManagement.downloadCSVSample' | translate}}</button>
      </a>
    </div>
    <div ng-if="tabs.inviteMembersTab" class="pull-right" style="margin-right: 10px;">
      <button ng-disabled="processing || !inviteMembers.$valid" class="btn-solid btn-primary" ng-click="sendInvite()">{{'label.memberManagement.Send' | translate}}</button>
    </div>
    <div ng-if="tabs.manageMembersTab" class="pull-right" style="margin-right: 10px;">
      <button ng-disabled="processing" class="btn-solid btn-primary" ng-click="closeThisDialog()">{{'label.memberManagement.Done' | translate}}</button>
    </div>
  </div>
</div>
