<div class="row" style="margin: 0; margin-top: 10px; margin-bottom: 10px;">
  <div class="col-md-24">
    <div class="row member-container">
        <div ng-class="{'header':true, 'col-md-24':true, expanded: user.expanded}" ng-click="user.expanded = !user.expanded;">
          <div class="col-md-8">
              {{user.firstName}}
          </div>
          <div class="col-md-8">
              {{user.username}}
          </div>
          <div class="col-md-8 pending-member" ng-if="!user.enabled">
            {{'label.memberManagement.Pending' | translate}}
          </div>
          <div class="col-md-8 active-member" ng-if="user.enabled">
             {{'label.memberManagement.Active' | translate}}
          </div>
        </div>
        <div class="body col-md-24" ng-if="user.expanded">
          <div class="col-md-8">
            <div disable-dropdown="user.updateProcessing" class="fs-dropdown default" close-dropdown="closeDropdown">
              <div class="fs-dropdown-link inherit-line-height" on-state="click">
                <i class="fa fa-caret-left"></i>
                {{ user.userRole.name | stringLimiter:max:25}}
              </div>
              <ul class="fs-dropdown-menu" click-stay>
                <li ng-click="updateRoleForUser(role, user)" ng-repeat="role in roles" >
                  <span>{{role.name | stringLimiter:max:25}}</span> <a ng-show="role.accountId" href ng-click="removeCustomRole(role, user, $event)">({{'label.memberManagement.remove' | translate}})</a>
                </li>
                <li class="create-new-project-li">
                  <a fs-custom-role-inline="customRoleName" ng-model="customRoleName" href="" on-save="addCustomRole" user="user"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div disable-dropdown="!user.userRole" class="fs-dropdown default" close-dropdown="closeDropdown">
              <div class="permission-groups-dropdown fs-dropdown-link" on-state="click" >
                <i class="fa fa-caret-left"></i>
                <span ng-if="selectedPermissionGroupsCount(user) > 1" style="display: inline;">{{ selectedPermissionGroupsCount(user) }} Permissions selected</span>
                <span ng-if="selectedPermissionGroupsCount(user) === 1" style="display: inline;">{{ selectedPermissionGroupsCount(user) }} Permission selected</span>
                <span ng-if="selectedPermissionGroupsCount(user) === 0">PERMISSIONS</span>
              </div>
              <ul class="fs-dropdown-menu" click-stay>
                <li ng-repeat="group in user.permissionGroups" ng-if="group.groupId !== 6 && group.groupId !== 8">
                  <input ng-disabled="!user.userRole.accountId" ng-click="permissionGroupClicked(group, user)" type="checkbox" name="goals" id="permissionGroup2{{group.groupId}}" value="group.selected" ng-model="group.selected" />
                  <label style="font-size: 0.79em; width: 100%;" for="permissionGroup2{{group.groupId}}">{{group.groupName}}</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="fs-dropdown default" close-dropdown="closeDropdown">
              <div class="teams-dropdown fs-dropdown-link" on-state="click" >
                <i class="fa fa-caret-left"></i>
                <div style="overflow: hidden; width: 80%">
                  <span ng-repeat="team in user.selectedTeams">
                    {{team.name}}<span ng-if="!$last">,</span>
                  </span>
                </div>
                <span ng-if="user.selectedTeams.length === 0">ASSIGN TO TEAMS</span>
              </div>
              <ul class="fs-dropdown-menu" click-stay>
                <li ng-repeat="team in user.teamsList" >
                  <input ng-disabled="user.updateProcessing" ng-click="teamUpdated(team, user)" type="checkbox" name="goals" id="userTeam2{{team.id}}-{{user.userId}}" value="team.selected" ng-model="team.selected" />
                  <label style="font-size: 0.79em; width: 100%;" for="userTeam2{{team.id}}-{{user.userId}}">{{team.name}}</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
