.pill-body .tag {
  background-color: #3498db;
  border-radius: 0.5em;
  padding: 0.1% 1.5%;
  margin-right: 1%;
  color: white;
  transition: background-color 0.5s;
}
.pill-body .tag:hover {
  background-color: #e74c3c;
}
.highlight {
  color: #ff0000;
}
.disabled-layer {
	position: absolute;
	height: 100%;
	z-index: 1000;
	width: 100%;
	opacity: 0.5;
	background: white;
}
.scroll-members {
  max-height: 485px;
  overflow-y: scroll;
}
.delete-invite-coloring *{
  fill: @pebble-long;
  margin-top: 10px;
}

.active-member{
  color: @nature-heavy;
  font-size: 0.9em;

}
.pending-member{
  color: @cherry-light;
  font-size: 0.9em;
}

.member-management-modal .ngdialog-content{
  width: 70% !important;
}

.teams-dropdown span, .permission-groups-dropdown span {
  overflow: auto !important;
  display: inline !important;
  width: auto !important;
}

.check-box-initial-members-block {
  .fs-tabset-nav > li > a {
    margin: 0;
  }

  .ng-pristine .ng-invalid-required {
    box-shadow: none;
  }

  input[type=checkbox] + label {
    padding-left: 0;
    margin-right: 0;
  }
  input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 10px;
    bottom: 0;
    position: relative;
  }
  input[type=checkbox]:checked + label:before {
    font-family: FontAwesome;
    content: "\f058" ;
    color: @nature-heavy;
    background-color: transparent;
    border-color: @nature-light;
    font-size: 1.3em;
    text-align: left;
    //line-height: 15.5px;
  }
}

.member-container {
  border: 1px solid #ededed;

  .header {
    cursor: pointer;
    padding: 0.4em;

    background-color: #fcfcfc;

    &.expanded {
      background-color: #def3e2 !important;
    }
  }

  .body {
    padding: 0.4em;

    background-color: #fcfcfc;
    &.conversion-pixel-expanded {
      border-top: 1px solid @mono-light;
      .btn-add-site {
        padding-left: 3em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-right: 3em;
        margin-bottom: .3em;
        margin-right: .3em;
        float: right;
        &.spacing {
          margin-right: 1em;
        }
        &.zeroclipboard-is-hover {
          background-color: @tin-light;
          border-color: @tin-light;
          color: @white;
        }
      }
    }
  }
}
.members-area {
  margin-top: 0.3em;
  overflow-y: scroll;
  max-height: 11em;
  min-height: 6em;
}
.members-area::-webkit-scrollbar {
  display: none;
}
.no-member-image {
  height: 45px;
  width: 45px;
  background-color: @pebble-long;
  border: solid @pebble-long;
  border-width: 0.1em;
  margin-left: auto;
  margin-right: auto;
}
.no-member-image-label {
  color: @smoke-white;
  font-weight: bold;
  padding-top: 35%;
  text-align: center;
}
.ban-member-coloring *{
  stroke: @smoke-white;
  padding: 5px;
  margin: 5px;
  position: absolute;
}
.edit-member-no-image {
  height: 55px;
  width:55px;
  background-color: @pebble-long;
  border: solid @pebble-long;
  border-width: 0.1em;
  float: left;
}
.edit-member-no-image-label {
  color: @smoke-white;
  font-weight: bold;
  padding-top: 36%;
  text-align: center;
}
.modal-header-separator {
  border-bottom: 1.5px solid @pebble-long-half;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 15px;
  padding: 0;
}
.remove-team-coloring *{
  stroke: @white;
  padding: 4px;
  float: right;
  margin-right: -8px;
  margin-top: -0.8px;
}
.dropdown-coloring *{
  padding: 4px;
  margin-left: 1px;
  stroke: @white;
  margin-bottom: -4px;
}
.selected-role-coloring *{
  padding: 1px;
  stroke: @pebble-long-half;
  margin-bottom: -3px;
  margin-right: 4px;
  margin-left: -15px;
}
.permissions-coloring *{
  margin-bottom: -2px;
  padding: 4px;
  stroke: @pebble-long;
}
.subpermissions-coloring *{
  margin-left: -7px;
  margin-bottom: -2px;
  padding: 4px;
  stroke: @pebble-long;
}
.members-description {
  font-size: 18px;
  &.info {
    color: red;
  }
}

.users-error-message {
  font-size: 12px;
  margin-left: 1em;
  color: @white;
  margin-top: 0.5em;
}

.members-scrollable::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  background-color: @pale-light;
}

.members-scrollable::-webkit-scrollbar
{
  width: 8px;
  background-color: @pale-medium;
}

.members-scrollable::-webkit-scrollbar-thumb
{
  background-color: @nature-heavy;
  border: 2px solid transparent;
}
