<div class="row" style="margin: 0;">
  <h4 ng-if="membersPerRole.SUPPORT.length > 0">SUPPORT</h4>
  <div ng-repeat="user in membersPerRole.SUPPORT track by $index">
    <div ng-include="'app/main/align/memberManagement/memberContainer.html'"></div>
  </div>
  <h4 ng-if="membersPerRole.ADMIN.length > 0">ADMINS</h4>
  <div ng-repeat="user in membersPerRole.ADMIN track by $index">
    <div ng-include="'app/main/align/memberManagement/memberContainer.html'"></div>
  </div>
  <h4 ng-if="membersPerRole.COLLABORATOR.length > 0">COLLABORATORS</h4>
  <div ng-repeat="user in membersPerRole.COLLABORATOR track by $index">
    <div ng-include="'app/main/align/memberManagement/memberContainer.html'"></div>
  </div>
  <h4 ng-if="membersPerRole.VIEWER.length > 0">VIEWERS</h4>
  <div ng-repeat="user in membersPerRole.VIEWER track by $index">
    <div ng-include="'app/main/align/memberManagement/memberContainer.html'"></div>
  </div>
  <div ng-repeat="customRole in customRoleNames">
    <h4 ng-if="membersPerRole[customRole].length > 0">{{ customRole | uppercase }}</h4>
    <div ng-repeat="user in membersPerRole[customRole] track by $index">
      <div ng-include="'app/main/align/memberManagement/memberContainer.html'"></div>
    </div>
  </div>
</div>
