<div class="modal-header audience-modal-header">
	<h3>{{ 'label.act.twitter.audiences.AudienceDemographics' | translate }}</h3>
</div>
<div class="modal-body audience-container">
	<div class="row">

		<form novalidate name="segmentForm">
			<!-- Left side of the form -->
			<div class="col-md-10">

				<!-- Location -->
				<div class="row">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-controller="TwLocationCtrl">
								<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/location/location.html'"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Language -->
				<div class="row">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-controller="TwLanguageCtrl">
								<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/language/language.html'"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Gender  -->
				<div class="row">
					<div class="col-md-24">
						<div class="form-group">
							<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/gender/gender.html'"></div>
						</div>
					</div>
				</div>

				<!-- Platform -->
				<div class="row">
					<div class="col-md-24">
            <div ng-controller="TwPlatformCtrl">
              <div class="form-group">
                <div ng-include="'app/main/act/campaignCreation/twitter/twAudience/platform/platform.html'"></div>
              </div>
            </div>
					</div>
				</div>
			</div>

			<!-- Right side of the form -->
			<div class="col-md-14">
				<!-- Platforms and Devices -->
				<!-- <h4>{{ 'label.act.twitter.audiences.PlatformsDevicesandCarriers' | translate }}</h4> -->

					<!-- <div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{ 'label.act.twitter.audiences.PlatformsandDevices' | translate }}" ng-class="{'ex-filled': view.extensions.devices.length > 0 && !isDevicesOpen }" is-open='isDevicesOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">					<div ng-controller="TwPlatformAndDevicesCtrl">
											<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/platformAndDevices/platformAndDevices.html'"></div>
										</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div> -->

					<!-- Carriers -->
					<!-- <div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{ 'label.act.twitter.audiences.Carriers' | translate }}" ng-class="{'ex-filled': view.extensions.carriers.length > 0 && !isCarriersOpen }" is-open='isCarriersOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
										<div ng-controller="TwCarrierCtrl">
											<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/carriers/carriers.html'"></div>
										</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div> -->

					<!-- Target New Devices -->
					<!-- <div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{ 'label.act.twitter.audiences.TargetNewDevices' | translate }}" ng-class="{'ex-filled': view.extensions.newDevices.length > 0 && !isNewDevicesOpen }" is-open='isNewDevicesOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
										<div ng-controller="TwNewDevicesCtrl">
											<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/newDevices/newDevices.html'"></div>
										</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div> -->
				<fs-accordion>
					<h4>{{ 'label.act.twitter.audiences.PrimaryTargeting' | translate }}<span class="red-asterisk" ng-click="callReach();">*</span></h4>
					<p>{{ 'label.act.twitter.audiences.Selectonetypeofprimary' | translate }}</p>
					<br/>

					<!-- Keyword Targeting -->
					<div class="row" ng-if="campaign.settings.goal.goalId !== 51">
						<div class="col-md-24">
							<fs-accordion-group header="{{'label.act.twitter.interests.KeywordTargeting' | translate}}" ng-class="{'ex-filled': view['keyword'].variants[0].pills.length > 0 && !isKeywordOpen }" is-open='isKeywordOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
										<div ng-controller="TwKeywordCtrl">
											<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/keyword/keyword.html'"></div>
										</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div>

					<!-- Follower Targeting -->
					<div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{'label.act.twitter.interests.FollowerTargeting' | translate}}" ng-class="{'ex-filled': view['follower'].variants[0].pills.length > 0 && !isFollowerOpen }" is-open='isFollowerOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
                    					<div ng-controller="TwFollowerCtrl">
										  <div ng-include="'app/main/act/campaignCreation/twitter/twAudience/follower/follower.html'"></div>
                    					</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div>

					<!-- Interest Targeting -->
					<div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{'label.act.twitter.interests.InterestTargeting' | translate}}" ng-class="{'ex-filled': view['interest'].variants[0].pills.length > 0 && !isInterestOpen }" is-open='isInterestOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
										<div ng-controller="TwInterestCtrl">
											<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/interest/interest.html'"></div>
										</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div>

					<!-- TV Targeting -->
					<!-- <div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{'label.act.twitter.interests.TVTargeting' | translate}}" ng-class="{'ex-filled': view.extensions.tv.length > 0 && !isTvOpen }" is-open='isTvOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
										<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/tv/tv.html'"></div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div> -->

					<!-- Behavior Targeting -->
					<div class="row">
						<div class="col-md-24">
							<fs-accordion-group header="{{'label.act.twitter.interests.BehaviorTargeting' | translate}}" ng-class="{'ex-filled': view['behavior'].variants[0].pills.length > 0 && !isBehaviorOpen }" is-open='isBehaviorOpen' is-disabled='false'>
								<div class="row">
									<div class="col-md-24">
										<div ng-controller="TwBehaviorCtrl">
											<div ng-include="'app/main/act/campaignCreation/twitter/twAudience/behavior/behavior.html'"></div>
										</div>
									</div>
								</div>
							</fs-accordion-group>
						</div>
					</div>

				</fs-accordion>
			</div>
		</form>
	</div>
	<!-- Show ads with a reach estimate too small -->
	<!-- <div class="row" ng-if="metadata.currentCombo.audience.lowReachAdsList.length > 0">
	  <h4>{{'label.act.Adswithlowaudiencereach' | translate}}</h4> -->
	  <!-- Display Audience info only for review page-->
	  <!-- <div ng-repeat="ad in metadata.currentCombo.audience.lowReachAdsList" class="col-md-6 panel-body fixed-height warning-border">
	    <div ng-repeat="audience in ad.adInfo.audience | toArray | orderBy:audienceSort"
	         class="audience-label">
	      <h4>{{audience.$key | unCamelCase}}</h4>
	      <div class="label-variant label-outline grey">
	        <span class="label grey" ng-repeat="label in audience">
	            {{ label.subSegment.displayValue || label.subSegment.value }}
	        </span>
	      </div>
	    </div>
	  </div>
	</div> -->
</div>

<div class="modal-footer audience-container">
	<div class="row">
		<div class="col-md-24 text-right">
			<input id="save-to-library" ng-click="saveAudienceToLibraryCheckbox = !saveAudienceToLibraryCheckbox" type="checkbox"/>
			<label for="save-to-library">{{'label.act.SavetoLibrary' | translate }}</label>
			<button class="btn-outline btn-secondary fleft" ng-click="closeThisDialog()">{{'label.act.Cancel' | translate }}</button>
			<button ng-click="loadAudienceFromLibrary()" class="btn-solid btn-tertiary">{{'label.act.LoadfromLibrary' | translate }}</button>
			<button ng-click="saveAudience(saveAudienceToLibraryCheckbox)" class="btn-solid btn-primary">{{'label.act.SaveAudience' | translate}}</button>
		</div>
	</div>
</div>
