section.radio-btn-list {
  background: @pale-medium;
  border: 1px solid @mono-light;
  padding: 0;


  .header {
    padding: 0.5em;
  }

  .header ul {
    padding: 0.5em 0;
    margin: 0;
    & li {
      display: inline;
    }
    & input[type="checkbox"] + label {
      display: inline-block !important;
    }
  }

  ul.body {
    padding: 0.2em 0.5em;
    min-height: 150px;
    margin: 0;
    column-count:2;
    -webkit-column-count:2;
    -moz-column-count:2;
  }
  & li {
    padding: 0;
  }

  & input[type="checkbox"] + label {
    display: block !important;
  }

  .pagination {

  }

  a {
    text-decoration: none;
  }

  a.icon {
    font-size: 8pt;
    color:@mono-light
  }

  a.enabled {
    color:@mono-medium;
  }
  a.disabled {
    color:@mono-light;
  }
  a.icon.active {
    color:@mono-medium;
  }

  ul.pages li {
    display: inline;
    .fa-chevron-left, .fa-chevron-right{
      vertical-align: middle;
    }
  }
  .footer {
    margin-top: 0;
    padding: 1em;
    background-color: @pale-heavy;
  }
  & .current-page {
    color:@leaf-medium
  }
}
