<section class="radio-btn-list">
  <div class="header" style="background-image: none;" ng-if="config.showSelectAllBtn && config.showSelectNoneBtn">
    <ul>
      <li ng-if="config.showSelectAllBtn">
        <input type="checkbox"
               id="showSelectAllBtn"
               ng-checked="selectedItems===availableOptions.length"
               ng-click="selectAllOptions()">
        <label for="showSelectAllBtn">Select All</label>
      </li>
      <li ng-if="config.showSelectNoneBtn">
        <input type="checkbox"
               id="showSelectNoneBtn"
               ng-checked="selectedItems===0"
               ng-click="unselectAllOptions()">
        <label for="showSelectNoneBtn">Select None</label>
      </li>
      <div class="btn btn-solid btn-tertiary fright header-btn" ng-click="addFn({allValues: availableOptions})">
        Apply
      </div>
    </ul>
  </div>
  <ul class="body" ng-if="targetingSpec !== 'follower'" >
    <li class="" ng-repeat="opt in availableOptions.slice(currPage*10,(currPage+1)*10)" ng-click="selectOption(opt)">
      <input type="checkbox" ng-checked="opt.selected" id="{{opt.label}}" value="{{opt.label}}">
      <label class="full-width" for="{{opt.label}}">{{opt[config.valueField]}}</label>
    </li>
  </ul>
  <ul class="body" ng-if="targetingSpec === 'follower'" >
    <li class="" ng-repeat="opt in availableOptions.slice(currPage*10,(currPage+1)*10)" ng-click="selectOption(opt)">
      <input type="checkbox" ng-checked="opt.selected" id="{{opt.label}}" value="{{opt.label}}">
      <label class="full-width" for="{{opt.label}}">{{'@' + opt[config.valueField]}}</label>
    </li>
  </ul>
  <div class="pagination text-center">
    <ul class="pages">
      <li>
        <a href
           ng-click="prevPage()"
           ng-class="currPage === 0 ? 'disabled' : 'enabled'">
          <i class="fa fa-chevron-left"></i>
        </a>
      </li>
      <li ng-repeat="page in createPagesArray(totalPages) track by $index">
        <a href
           class="icon"
           ng-click="setPage($index)"
           ng-class="currPage === $index ? 'active' : null">
          <i class="fa fa-circle"></i>
        </a>
      </li>
      <li>
        <a href
           ng-click="nextPage()"
           ng-class="currPage === totalPages-1 ? 'disabled' : 'enabled'">
          <i class="fa fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer">
    <strong class="current-page">{{selectedItems}}</strong> of {{availableOptions.length}} selected
  </div>

</section>
