<div style="float:right;margin-top: -37px;">
  <button style="float:right; padding: 3px;" fs-permission="<SUPPORT>" class="btn-solid btn-primary"
    ui-sref="main.align.support">{{ 'label.align.Support' | translate }}</button>
</div>

<div class="row header-description-projects">
  <h3 class="started-project">{{ 'label.alignProjects.ManageYourProjects' | translate }}</h3>
  <span class="top-text">{{ 'label.alignProjects.ProjectHouseAllOfYourCampaigns' | translate }} </span>
  <a href="//support.accomplice.io/hc/en-us/articles/209280788" target="_blank" class="top-text read-more">{{ 'label.alignProjects.ReadMore' | translate }} </a>
</div>

<div class="row projects-main-block">
  <!-- New project header -->
  <div class="project-header" ng-if="!showProjectNameEdit" ng-init="showProjectNameEdit = false;">
    <div class="fs-dropdown default new-project" close-dropdown="closeDropdown" ng-style="{'width' : headerWidth }">
      <div class="fs-dropdown-link" on-state="click">
        <i class="fa fa-caret-down fa-2x"></i>
        <span class="ng-binding">{{ currentProject.name }}</span>
      </div>
      <ul class="fs-dropdown-menu projects-align-menu" click-stay>
        <li ng-repeat="project in fractalAccountInfo.currentTeam.projects | orderBy:'name'" ng-click="changeProject(project)">{{ project.name }}</li>
      </ul>
    </div>
    <a fs-project-inline="newProjectName" ng-model="newProjectName" on-enabling="trimDropdown"
       project-disabled="disabledInput" href on-save="createNewProject" input-placeholder="'+ New Project'"
       class="tooltipped tooltipped-s" aria-label="{{'label.align.tooltip.Startanewproject' | translate}}"></a>
    <button class="btn-solid btn-outline tooltipped tooltipped-n" aria-label="{{'label.align.EditProjectname' | translate }}" style="margin-right: .5em;" ng-click="openNameEdit()">{{ 'label.alignProjects.Edit' | translate }}</button>
  </div>
  <!-- Edit project name header -->
  <div class="project-header" ng-if="showProjectNameEdit">
    <div>
      <input class="editable-project-input" maxlength="64" ng-maxlength="64" fs-focus-input="{{loadedProject}}"
             type="text" ng-model="originalProjectName" ng-required placeholder="My Project" fs-enter="saveProjectName(originalProjectName)"/>
      <button class="btn-solid btn-primary" style="margin-right: 1em;" ng-click="saveProjectName(originalProjectName)">{{ 'label.alignProjects.SaveProject' | translate }}</button>
      <button class="btn-solid btn-outline spacing-btn" ng-click="openNameEdit()">{{ 'label.alignProjects.Cancel' | translate }}</button>
    </div>
  </div>

  <div class="project-content">

    <div class="row">
      <h4 class="started-project">{{ currentProject.name | uppercase}} | Started On {{currentProject.createdAt | date:"MM-dd-yyyy"}}</h4>
    </div>

    <div class="row goals-all-display-block">
      <div class="goals-display-child-block">
        <h4>{{ 'label.alignProjects.IdentifyTheGoalsYoureLookingToAccomplish' | translate }}
          <span class="tooltipped tooltipped-e tooltipped-multiline tooltip-icon" aria-label="{{'label.align.tooltip.ChooseGoalparameters' | translate}}">
            <i class="fa fa-info-circle"></i>
          </span>
        </h4>

        <div class="goals-selection-block">

          <!-- CHOOSE SITE -->

          <div class="goal-list-item">
            <input type="radio" name="goals" id="trackedSites" value="trackedSites" ng-model="radioOption" ng-click="selectedGoalType(radioOption)"/>
            <label style="font-size: 0.79em;" for="trackedSites"></label>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="siteDisable" ng-click="selectByText('trackedSites')">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedSiteGoal.host ? selectedSiteGoal.host : 'Choose Site' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="chooseProperty(site)" ng-repeat="site in fractalAccountInfo.currentTeam.pixels">
                  {{ site.host }}
                </li>
                <li class="create-new-property" ng-click="openAddSites()">
                  {{ 'label.alignProjects.AddSite' | translate }}
                </li>
              </ul>
            </div>
            <span style="margin-left: 8px;"> Increase </span>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="siteDisable" style="margin-left: 8px;" ng-click="selectByText('trackedSites')">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedSiteGoal.goal.displayName ? selectedSiteGoal.goal.displayName : 'KPI' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="chooseKPI(goal)" ng-repeat="goal in displayingGoalNames | filterMultiple:{ id: ['3', '4'] }">
                  {{ goal.displayName }}
                </li>
              </ul>
            </div>
            <span style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 4"> using </span>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="siteDisable" ng-click="selectByText('trackedSites')" style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 4">
              <span class="fs-dropdown-link link-dropdown-coloring tooltipped tooltipped-n tooltipped-multiline" aria-label="{{'label.align.tooltip.Trackwhathappensafteracustomer' | translate}}" on-state="click"  style="line-height: normal;">
                {{ selectedSiteGoal.tracker.displayName ? selectedSiteGoal.tracker.displayName : 'Choose Tracker' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="siteTrackerSelect(tracker)"
                    ng-repeat="tracker in displayConversionSiteTrackers | orderBy: 'key'">
                  {{ tracker.displayName }}
                  <span ng-bind-html="trust( scriptStateString[tracker.state] )" style="padding-left: 10px;"></span>
                </li>
              </ul>
            </div>

            <span style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 4 && selectedSiteGoal.tracker.displayName !== 'Facebook Conversion Pixel'"> on </span>

            <div class="fs-dropdown goal-dropdown" disable-dropdown="siteDisable" ng-click="selectByText('trackedSites')" style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 4  && selectedSiteGoal.tracker.displayName !== 'Facebook Conversion Pixel'">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">
                <font ng-if="selectedSiteGoal.eventName.event">"{{ selectedSiteGoal.eventName.event | stringLimiter:max:30 }}"</font>
                <font ng-if="!selectedSiteGoal.eventName.event">{{ 'label.alignProjects.Event' | translate }}</font>
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="siteEventSelect(event)" ng-if="selectedSiteGoal.tracker && selectedSiteGoal.tracker.displayName !== 'Accomplice Conversion Pixel'" ng-repeat="event in displayUrlEvents">
                  {{ event.event | stringLimiter:max:25}}
                </li>
                <li ng-click="siteEventSelect(event)" ng-if="selectedSiteGoal.tracker && selectedSiteGoal.tracker.displayName !== 'Accomplice Conversion Pixel'" ng-repeat="event in displayClickEvents">
                  {{ event.event | stringLimiter:max:25}}
                </li>
                <li ng-click="siteEventSelect(event)" ng-if="selectedSiteGoal.tracker && selectedSiteGoal.tracker.displayName === 'Accomplice Conversion Pixel'" ng-repeat="event in displayConversionEvents">
                  {{ event.event | stringLimiter:max:25}}
                </li>

                <li class="create-new-property" ng-click="openAddSites(selectedSiteGoal.host)">
                  {{ 'label.alignProjects.AddEvent' | translate }}
                </li>
              </ul>
            </div>

            <div class="fs-dropdown goal-dropdown" disable-dropdown="siteDisable" ng-click="selectByText('trackedSites')" style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 4 && selectedSiteGoal.tracker.displayName === 'Facebook Conversion Pixel'">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedSiteGoal.thirdPartyPixel.name ? selectedSiteGoal.thirdPartyPixel.name : 'Pixel' | stringLimiter:max:30 }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu conversion-pixels">
                <div class="conversion-scrollable">
                  <li class="custom-pixels" ng-click="thirdPartyPixelSelect(pixel)" ng-repeat="pixel in thirdPartyPixels track by $index">
                    <span ng-if="pixel.fbEventType === 'FB_CUSTOM_EVENT'">
                      {{ toTitleCase(pixel.customEventName) | stringLimiter:max:25 }}
                    </span>
                    <span ng-if="pixel.fbEventType !== 'FB_CUSTOM_EVENT'">
                      {{ toTitleCase(pixel.customEventType) | stringLimiter:max:25 }}
                    </span>
                    <p class="pixel-name">Pixel: {{ pixel.name | stringLimiter:max:25 }}</p>
                  </li>
                </div>
                <li class="create-new-property" ng-click="openFacebookPixelUrl()">
                  {{ 'label.alignProjects.CreatePixel' | translate }}
                </li>
              </ul>
            </div>

            <a style="display: none;" id="selectedSiteTagEvent" ng-href="http://{{ selectedSiteGoal.host.split('.').length >= 3 ? selectedSiteGoal.host : 'www.' + selectedSiteGoal.host }}/?fractalToolbarKey={{token}}&teamId={{fractalAccountInfo.currentTeam.id}}" target="_new"></a>

            <span style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 3"> tracked by </span>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="siteDisable" ng-click="selectByText('trackedSites')" style="margin-left: 8px;" ng-if="selectedSiteGoal.goal.id === 3">
              <span class="fs-dropdown-link link-dropdown-coloring tooltipped tooltipped-n tooltipped-multiline" aria-label="{{'label.align.tooltip.Trackwhathappensafteracustomer' | translate}}" on-state="click" style="line-height: normal;">{{ selectedSiteGoal.tracker.displayName ? selectedSiteGoal.tracker.displayName : 'Choose Tracker' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="siteTrackerSelect(tracker)" ng-repeat="tracker in displaySiteTrackers | orderBy: 'key'">
                  {{ tracker.displayName }}
                  <span ng-bind-html="trust( scriptStateString[tracker.state] )" style="padding-left: 10px;"></span>
                </li>
                <li class="create-new-property" ng-if="selectedSiteGoal.tracker.displayName === 'Accomplice Conversion Pixel'" ng-click="openAddSites(selectedSiteGoal.host)">
                  {{ 'label.alignProjects.AddEvent' | translate }}
                </li>
              </ul>
            </div>

          </div>

          <!-- SOCIAL CHANNEL -->

          <div class="goal-list-item">
            <input type="radio" name="goals" id="socialChannelGoals" value="socialChannelGoals" ng-model="radioOption" ng-click="selectedGoalType(radioOption)"/>
            <label style="font-size: 0.79em;" for="socialChannelGoals"></label>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="socialDisable" ng-click="selectByText('socialChannelGoals')">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedSocialGoal.socialChannel ? selectedSocialGoal.socialChannel : 'Social Channel' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="socialChannelSelect('Facebook')">
                  Facebook
                </li>
                <li ng-click="socialChannelSelect('Twitter')">
                  Twitter
                </li>
              </ul>
            </div>
            <span style="margin-left: 8px;"> Increase </span>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="socialDisable" style="margin-left: 8px;" ng-click="selectByText('socialChannelGoals')">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedSocialGoal.goal.displayName ? selectedSocialGoal.goal.displayName : 'Entity + KPI' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="chooseKPI(goal)" ng-show="selectedSocialGoal.socialChannel === 'Facebook'" ng-repeat="goal in displayingGoalNames | filterMultiple:{ name: ['POST_ENGAGEMENT', 'PAGE_LIKES', 'VIDEO_VIEWS'] } track by $index">
                  {{ goal.displayName }}
                </li>
                <li ng-click="chooseKPI(goal)" ng-show="selectedSocialGoal.socialChannel === 'Twitter'" ng-repeat="goal in displayingGoalNames | filterMultiple:{ name: ['TWEET_ENGAGEMENT', 'GROW_FOLLOWERS'] } track by $index">
                  {{ goal.displayName }}
                </li>
              </ul>
            </div>
            <span style="margin-left: 8px;"> on </span>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="socialDisable" style="margin-left: 8px;" ng-click="selectByText('socialChannelGoals')">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedSocialGoal.pageName ? selectedSocialGoal.pageName : 'Choose Property' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-if="!page.flagged" ng-click="chooseProperty(page)" ng-repeat="page in displaySocialPages">
                  {{ page.pageName || ('@' + page.screenName) }}
                </li>
                <li class="create-new-property" ng-show="selectedSocialGoal.socialChannel === 'Facebook'" ng-click="openAddFbPages()">
                  {{ 'label.alignProjects.AddFacebookPages' | translate }}
                </li>
                <li class="create-new-property" ng-show="selectedSocialGoal.socialChannel === 'Twitter'" ng-click="openAddTwPages()">
                  {{ 'label.alignProjects.AddPromotableUsers' | translate }}
                </li>
              </ul>
            </div>
          </div>

          <!-- CHOOSE APP ID -->

          <div class="goal-list-item">
            <input type="radio" name="goals" id="appIdsGoals" value="appIdsGoals" ng-model="radioOption" ng-click="selectedGoalType(radioOption)"/>
            <label style="font-size: 0.79em;" for="appIdsGoals"></label>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="appDisable" ng-click="selectByText('appIdsGoals')" close-dropdown="closeDropdown" ng-init="showHovered = false;">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedAppGoal.appName ? selectedAppGoal.appName : 'Choose Mobile App' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu choose-appid" click-stay>
                <li ng-click="chooseProperty(application)" ng-repeat="application in fractalAccountInfo.currentTeam.applications">
                  <div>{{ application.name }}</div>
                </li>
                <li class="create-new-property" ng-click="openAppManagement()">
                  {{ 'label.alignRightColumn.AddNewApplication' | translate }}
                </li>
              </ul>
            </div>
            <span style="margin-left: 8px;"> Increase </span>
            <div class="fs-dropdown goal-dropdown" disable-dropdown="appDisable" style="margin-left: 8px;" ng-click="selectByText('appIdsGoals')">
              <span class="fs-dropdown-link link-dropdown-coloring" on-state="click">{{ selectedAppGoal.goal.displayName ? selectedAppGoal.goal.displayName : 'KPI' }}
                <i class="fa fa-caret-down"></i>
              </span>
              <ul class="fs-dropdown-menu goals-menu">
                <li ng-click="chooseKPI(goal)" ng-repeat="goal in displayingGoalNames | filterMultiple:{ name: ['MOBILE_APP_INSTALLS', 'MOBILE_APP_ENGAGEMENT']} track by $index ">
                  {{ goal.displayName }}
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="add-to-goals">
          <button class="btn-solid btn-outline tooltipped tooltipped-n" ng-click="addToGoals()" ng-disabled="processing" aria-label="{{'label.align.tooltip.ProjectGoalscanberemoved' | translate}}">
            {{ 'label.alignProjects.AddSelectedGoal' | translate }}</button>
          <span ng-show="missingField" class="fadein fadeout">{{ 'label.alignProjects.PleaseReviewTheGoalFormAgain' | translate }}</span>
        </div>
      </div>
    </div>

    <!-- LIST CURRENT GOALS/ CREATE NEW CAMPAIGN -->

    <div class="row project-selected-goals" ng-if="currentProject.goals.length">
      <div class="project-list-goals">
        <h3>{{ 'label.alignProjects.CurrentGoals' | translate }}
          <span class="tooltipped tooltipped-e tooltipped-multiline tooltip-icon" aria-label="{{'label.align.tooltip.Measureyoursuccess' | translate}}">
            <i class="fa fa-info-circle"></i>
          </span>
        </h3>
        <div class="create-campaign-button">
          <a ui-sref="main.act.campaignCreation" ng-if="currentProject.goals.length">
            <button class="btn-solid btn-primary create-campaign-btn" ng-disabled="!currentProject.goals.length">
            {{ 'label.alignProjects.CreateNewCampaign' | translate }}</button>
          </a>
        </div>

        <div class="goals-list-block">
          <div ng-if="!goal.notReady" ng-repeat="goal in currentProject.goals | orderBy: '-id' ">
            <div class="row goal-display">
              <div class="col-md-23 select-goal-box" ng-click="selectGoalBox(goal)">
                <i class="fa fa-bullseye"></i>
                <h3>{{ goal.formattedGoalName }}</h3>
              </div>
              <div class="col-md-1">
                <icon class="fa fa-trash-o margin-top-025 action-icon pull-right"
                      ng-show=" goal.removable "
                      ng-click="removeProjectGoal(goal)"
                      ng-attr-title="{{ 'label.alignProjects.DeleteGoal' | translate }}">
                </icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
