.projects-main-block {
  background-color: @pale-medium;
  height: auto;
  margin-left: 0 !important;
  .fs-dropdown.default {
    height: 138.5%;
    margin: -8px;
  }
  .fs-dropdown .fs-dropdown-link {
    span {
      font-size: 1.4em;
      color: @mono-heavy;
    }
  }
}

.create-campaign-button{
  position: absolute;
  right: 40px;
  top: 476px;
}

.project-header {
  background-color: @white;
  height: 3.5em;
  border-bottom: 1px solid @mono-light;
  padding: 0.5em;
  .fs-project-inline {
    float: right;
    margin-right: .5em;
  }
  button {
    float: right;
  }
  .spacing-btn {
    margin-right: .5em;
  }
  .editable-project-input {
    height: 1.85em;
    width: 70%;
    font-size: 1.4em;
    padding-left: .41em;
    padding-bottom: .34em;
    color: @mono-heavy;
  }
}

.project-content {
  padding: 1.8em;
  padding-top: 0.8em;

  .edit-view-report {
    margin-bottom: 3.5em;
    margin-right: -.5em;
    button {
      float: right;
    }
    .spacing-btn {
      margin-right: .5em;
    }
  }

  .top-text {
    font-size: 0.8em;
     &.bold {
      font-weight: bold;
     }
  }

  .description-container{
    background-color: @pale;
    padding: 1em;
    outline: 1px solid @pale-dark;
  }

.description-text-block {
    overflow-wrap: break-word;
    padding: 10px;
  }

  .started-project {
    text-transform: inherit;
    font-size: .7em;
  }
  textarea {
    resize: none;
    width: 100%;
    height: 60px;
    color: @smoke-long;
    font-style: italic;
    border: 1px solid @smoke-mid;
  }

.attachment-area {
    margin-top: 15px;

    button {
      float: right;
      i {
        margin-right: 7px;
      }
    }
    .attachment-description-block {
      i {
        font-size: 1.5em;
        color: @mono-light;
        margin: 7px;
      }
      .attach-description-text {
        margin-left: 15px;
        h6 {
          color: @mono-medium;
          margin-top: -7px;
        }
        h5 {
          color: @mono-medium;
          font-size: 0.75em;
        }
      }
    }
    .attached-documents {
      .no-attached-documents{
        background-color: @pale;
        outline: 1px solid @pale-dark;
      }
      padding: 0;
      margin-bottom: 1.5em;
      // margin-top: -0.5em;
      // margin-top: 1em;
      .download-attach-style {
        a {
          text-decoration: none;
          font-weight: normal;
        }
      }
      .document-block {
        &.create-project-doc-block {
          cursor: default;
        }
        margin-top: 0.5em;
        cursor: pointer;
        background-color: @pale-light;
        padding: 0.7em;
        border: 1px solid @pale-medium;
        height: 3em;
        vertical-align: middle;
        width: 49.7%;
        margin-right: -1.9em;
        p {
          display: inline;
        }
        i {
          color: @mono-medium;
        }
        .doc-size {
          float: right;
          margin-top: 7px;
        }
        .doc-remove {
          cursor: pointer;
          float:right;
          margin-top: 4px;
        }
        .doc-naming {
          margin-left: 1.5em;
        }
        &:hover {
          border: 1px solid @pale-heavy;
        }
      }
    }
  }
  .project-selected-goals {
    padding: 0.5em;
    margin-top: 15px;
    background-color: @nature-light;
    .create-campaign-btn {
      float: right;
      margin-top: 1em;
    }
    .project-list-goals {
      padding: 1em;
      h3 {
        margin: 0;
        color: @nature-heavy;
      }
      .goals-list-block {
        margin-top: 1em;
        i {
          color: @nature-heavy;
        }
        .goal-display {
          margin-left: 0.3em;
          margin-top: 0.3em;
          h3 {
            display: inline;
            color: @tin-light;
            margin-left: 0.5em;
          }
          .fa.fa-remove {
            margin-top: 3px;
          }
          .select-goal-box {
            cursor: pointer;
          }
        }
      }
    }
  }

  .link-dropdown-coloring {
    i {
      float: none !important;
      color: @nature-heavy !important;
    }
    color: @nature-heavy !important;
    border-bottom: 1px dashed @mono-heavy;
  }

  .goals-all-display-block {
    padding: 0.5em;
    background-color: @pale-light;
    border: 1px solid @pale-dark;
    margin-top: 15px;
    .goals-display-child-block {
      padding: 1em;
      .add-to-goals {
        margin-top: 2em;
        text-align: center;
        span {
          color: red;
          display: block;
          margin-top: 20px;
        }
        button {
          float: right;
          margin-right: -1em;
          margin-bottom: .5em;
        }
      }
      .goals-selection-block {
        input[type=radio] + label {
          padding-left: 0;
          margin-right: 0;
        }
        input[type=radio] + label:before {
          content: "";
          display: inline-block;
          width: 19px;
          height: 19px;
          vertical-align: middle;
          margin-right: 8px;
          border-radius: 10px;
          bottom: 0;
          position: relative;
        }
        input[type=radio]:checked + label:before {
          font-family: FontAwesome;
          content: "\f058" ;
          color: @nature-heavy;
          background-color: transparent;
          font-size: 1.6em;
          text-align: center;
          line-height: 18px;
        }
        .goal-list-item {
          padding: 0.5em;
          .fs-dropdown {
            display: inline;
          }
        }
      }
    }
  }
}

.goal-removal {
  text-align: center;
  .goal-display-removal {
    margin-left: 0.3em;
    margin-top: 2em;
    text-align: left;
    i {
      color: @nature-heavy;
    }
    h3 {
      display: inline;
      color: @tin-light;
      margin-left: 0.15em;
      font-size: 0.83em;
    }
  }
  .goal-removal-footer {
    margin-top: 2em;
    text-align: left;
    button {
      &.btn-outline {
        //float: left;
      }
      &.btn-primary {
        float: right;
        &.no-float {
          float: none;
        }
      }
    }
  }
}

.header-description-projects {
  margin-left: 0 !important;
  padding-top: .5em;
  padding-bottom: 1em;
  .started-project {
    text-transform: inherit;
    font-size: 1.2em;
    margin: 0;
  }
  .top-text {
    font-size: 1em;
    &.read-more {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
