#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.privacy-modal,
.tos-modal{
  .ngdialog-content{
    border: none;
  }
}

.ngdialog-content{
  .toc-container{
    .scroll-area{
      border: 2px solid #666;
      height: 350px;
    }
  }
}

.login-picture{

}


.success-bg{
  background-color: #5F6164;
  color: #E2E2E2;
   background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("/assets/images/Mountain-background.gif");
  background-size: cover;
}

.toc-container{
  margin: 0 auto;
  margin-top: 2em !important;
  float: none !important;
  height: 28em;
}

.activate-account-container{
  border: 1px solid @tin-heavy !important;
  color: white;
  padding: 1em;
  margin-bottom: 0.5em;
}

.anonymous-footer-container{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  color: @white;
  font-size: 0.75em;
  background-color: @tin-heavy;
  padding: 0.25em;
  opacity: 0.8;
  padding-left: 1.25em;
  padding-right: 1.25em;
  a{
    color: @white;
  }
  .left-footer{
    float: left;
  }

  .right-footer{
    float: right;
  }
}

.welcome-message{
  float: left;
  margin-top: 2.5em;
  h1, h3, a{
    color: @white;
    font-weight: 100;
    font-family: @font-family-raleway;
  }
  h3 {
    // margin-top: 0.5em;
    // margin-bottom: 0.5em;
  }
  h1{
    font-size: 3em;
    font-weight: 100;
  }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.forms {
  position: relative;
  margin: 150px auto;
  &.signup{
    margin: 75px auto;
  }
  opacity: 0.9;
  display: block;
  padding: 20px 20px 20px;
  width: 410px;
  background: @tin-heavy;
  float: right;
  border-radius: 3px;
  color: @mono-light;
  a{
    color: @nature-heavy;
  }

  h3{
    text-transform: uppercase;
    color: @white;
    margin-top: 0em;
  }

  .form-group{
    ::-webkit-input-placeholder {
       color: @tin-heavy;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: @tin-heavy;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: @tin-heavy;
    }

    :-ms-input-placeholder {
       color: @tin-heavy;
    }
    input{
      color: @tin-heavy;
    }
  }
  // -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  // box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.forms:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: @tin-heavy;
  border-radius: 4px;
}

#recaptcha_logo {
  display: none;
}
#recaptcha_privacy {
  display: none;
}
.login-picture{
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("/assets/images/forest-midi.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
}
