<confirmations-personal alert-data="myUserNotification"></confirmations-personal>
<div class="modal-body modal-body-members" ng-class="{'blurred-bg': myUserNotification.message}">
    <h3>{{ 'label.myUserSettings.myUser' | translate}}</h3>
  <div class="row">
    <div class="col-md-2">
        <div ng-class="{hoverEffect: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
             ng-file-select="onFileSelect($files)" onclick="this.value = null">
          <img ng-if="!fractalAccountInfo.image" ng-src="{{ '/assets/images/user-icon_100x100px.png' }}" style="height: 55px;width:55px;float: left;" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported" />
          <img ng-if="fractalAccountInfo.image" ng-src="{{ apiUrl + '/api/v2/image/get?guid=' + fractalAccountInfo.image.fullGuid }}" style="height: 55px;width:55px;float: left;" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" />
          <div ng-file-drop-available="dropSupported=true"
               ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
          <p ng-show="hover" class="disableSelection" style="position: absolute; color:#ffffff; top: 13px; margin-left: 0.9em; font-weight: bold; text-align: center;">{{ 'label.myUserSettings.editPhoto1' | translate}}<br> {{ 'label.myUserSettings.editPhoto2' | translate}}</p>
        </div>
    </div>
    <div class="col-md-22">
      <div style="display: inline-block;">
        <h3 fs-click-to-edit="firstName" style="clear: both; font-size: 1.1875em; margin-top:10px;">{{ firstName }}</h3>
      </div>
      <div style="display: inline-block;">
        <h3 fs-click-to-edit="lastName" style="clear: both; font-size: 1.1875em; margin-top:10px;">{{ lastName }}</h3>
      </div>
      <div class="col-md-24" style="padding-left: 0;">
        <p fs-click-to-edit="myUserEmail" style="font-size: 0.8125em;">{{ myUserEmail }}</p>
      </div>
    </div>
  </div>

  <div class="row user-notifications-block">
    <h3>{{ 'label.myUserSettings.EmailNotifications' | translate}}: </h3>
    <h3 class="email-notif-label">{{ 'label.myUserSettings.BasedOnActivity' | translate}}</h3>

    <div class="notifications-checks">

      <div class="check-block">
        <input type="checkbox" name="red" id="red-notification" ng-model="notifications.red" ng-click="updateNotifications()"/>
        <label for="red-notification">
          <span class="red-notif">{{ 'label.myUserSettings.RedAlerts' | translate}}</span>
          <span>: {{ 'label.myUserSettings.MayRequireAnAction' | translate}}</span>
        </label>
      </div>

      <div class="check-block">
        <input type="checkbox" name="orange" id="orange-notification" ng-model="notifications.orange" ng-click="updateNotifications()"/>
        <label for="orange-notification">
          <span class="orange-notif">{{ 'label.myUserSettings.OrangeNotifications' | translate}}</span>
          <span>: {{ 'label.myUserSettings.MayRequireAttention' | translate}}</span>
        </label>
      </div>

      <div class="check-block">
        <input type="checkbox" name="green" id="green-notification" ng-model="notifications.green" ng-click="updateNotifications()"/>
        <label for="green-notification">
          <span class="green-notif">{{ 'label.myUserSettings.GreenUpdate' | translate}}</span>
          <span>: {{ 'label.myUserSettings.StatusUpdate' | translate}}</span>
        </label>
      </div>

    </div>

  </div>

  <div class="row user-setting-block">
    <h4>{{ 'label.myUserSettings.myTeams' | translate}}</h4>
    <div style="display:inline; margin-left:0.35em;" ng-repeat="team in myUserTeams">
      <p class="label label-default">{{team.name}}</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <h4>{{ 'label.myUserSettings.myRole' | translate}} {{ myUserRole }}</h4>
  </div>
  <div class="row user-setting-block">
    <h3>{{ 'label.myUserSettings.changePass' | translate}}</h3>
    <form name="changePasswordForm" novalidate>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-9">
          <span>{{ 'label.myUserSettings.currentPass' | translate}}</span>
        </div>
        <div class="col-md-14 col-md-offset-1">
          <input type="password" id="currentPassword" name="currentPassword" ng-model-options="{ updateOn: 'blur' }" ng-model="currentPassword" ng-minlength="6" ng-required=""/>
        </div>
      </div>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-9">
          <span>{{ 'label.myUserSettings.newPass' | translate}}</span>
        </div>
        <div class="col-md-14 col-md-offset-1">
          <input type="password" id="newPassword" name="newPassword" ng-model-options="{ updateOn: 'blur' }" ng-model="newPassword" ng-minlength="6" ng-required="" fs-pw-check="confirmPassword"/>
        </div>
      </div>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-9">
          <span>{{ 'label.myUserSettings.confPass' | translate}}</span>
        </div>
        <div class="col-md-14 col-md-offset-1">
          <input type="password" id="confirmPassword" name="confirmPassword" ng-model-options="{ updateOn: 'keypress' }" ng-model="confirmPassword" ng-minlength="6" ng-required="" />
        </div>
      </div>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-14 col-md-offset-10">
          <button class="btn-solid btn-outline" ng-click="changeUserSettingsForm()"
                  ng-disabled="changePasswordForm.newPassword.$error.minlength || changePasswordForm.confirmPassword.$error.pwmatch ||
          !confirmPassword.trim() || !newPassword.trim() || !currentPassword.trim() || changePasswordForm.newPassword.$error.pwmatch">{{ 'label.myUserSettings.SavePassword' | translate}}</button>
        </div>
      </div>
      <div ng-show="PasswordSuccess" class="mp-success fadein">
        <span>{{ 'label.myUserSettings.PasswordChanged' | translate}}</span>
      </div>
      <div ng-show="changePasswordForm.$error">
        <div ng-show="changePasswordForm.newPassword.$error.pwmatch"><font color="red">{{ 'label.myUserSettings.differentPass' | translate}}</font></div>
        <div ng-show="changePasswordForm.newPassword.$error.minlength"><font color="red">{{ 'label.myUserSettings.minLengthPass' | translate}}</font></div>
        <div ng-show="changePasswordForm.currentPassword.$error.minlength"><font color="red">{{ 'label.myUserSettings.minLengthPass' | translate}}</font></div>
      </div>
    </form>
  </div>
  <div class="row user-setting-block" fs-permission="<SUPPORT>">
    <h3>{{ 'label.myUserSettings.changeMPass' | translate}}</h3>
    <form name="changeMasterPasswordForm" novalidate>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-9">
          <span>{{ 'label.myUserSettings.newPass' | translate}}</span>
        </div>
        <div class="col-md-14 col-md-offset-1">
          <input type="password" id="newMasterPassword" name="newMasterPassword" ng-model-options="{ updateOn: 'blur' }" ng-model="newMasterPassword" ng-minlength="6" ng-required="" fs-pw-check="confirmMasterPassword"/>
        </div>
      </div>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-9">
          <span>{{ 'label.myUserSettings.confPass' | translate}}</span>
        </div>
        <div class="col-md-14 col-md-offset-1">
          <input type="password" id="confirmMasterPassword" name="confirmMasterPassword" ng-model-options="{ updateOn: 'keypress' }" ng-model="confirmMasterPassword" ng-minlength="6" ng-required="" />
        </div>
      </div>
      <div class="row" style="margin-bottom: 3px;">
        <div class="col-md-14 col-md-offset-10">
          <button fs-permission="<SUPPORT>" class="btn-solid btn-outline" ng-click="changeMasterPassword()"
                  ng-disabled="changeMasterPasswordForm.newMasterPassword.$error.minlength || changeMasterPasswordForm.newMasterPassword.$error.pwmatch ||
          !newMasterPassword.trim() || !confirmMasterPassword.trim()">{{ 'label.myUserSettings.SaveMP' | translate}}</button>
        </div>
      </div>
      <div ng-show="MPSuccess" class="mp-success fadein fadeout">
        <span>{{ 'label.myUserSettings.MPChanged' | translate}}</span>
      </div>
      <div ng-show="changeMasterPasswordForm.$error">
        <div ng-show="changeMasterPasswordForm.newMasterPassword.$error.pwmatch"><font color="red">{{ 'label.myUserSettings.differentPass' | translate}}</font></div>
        <div ng-show="changeMasterPasswordForm.newMasterPassword.$error.minlength"><font color="red">{{ 'label.myUserSettings.minLengthPass' | translate}}</font></div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer modal-members-footer">
  <button class="btn-solid btn-primary logout-button" ng-click="logOut()" style="float: left;">{{ 'label.myUserSettings.Logout' | translate}}</button>
  <button class="btn-solid btn-outline" ng-click="closeThisDialog()" style="float: right;">{{ 'label.myUserSettings.Done' | translate}}</button>
</div>
