.user-setting-block {
  border-top: 1px solid @mono-light;
  input[type=password] {
    width: 35%;
  }
  button {
    width: 35%;
  }
}
.mp-success {
  color: @nature-heavy;
}

.user-notifications-block {
  border-top:  1px solid @mono-light;
  h3 {
    display: inline;
    &.email-notif-label {
      font-size: 0.97em !important;
    }
  }

  .notifications-checks {
    margin-top: 1.5em;
    .check-block {
      margin-bottom: 1em;
      .red-notif {
        color: @alert-color;
      }
      .orange-notif {
        color: @notice-color;
      }
      .green-notif {
        color: @update-color;
      }
    }

    input[type=checkbox] + label {
      padding-left: 0;
      margin-right: 0;
    }
    input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 10px;
      bottom: 0;
      position: relative;
    }
    input[type=checkbox]:checked + label:before {
      font-family: FontAwesome;
      content: "\f046" ;
      color: @mono-heavy;
      background-color: transparent;
      border-color: @nature-light;
      font-size: 1.13em;
      text-align: left;
    }

  }
}
.logout-button {
  padding-left: 30px;
  padding-right: 30px;
}
