fs-data-grid {
  border-top: 1px solid #ccc;
  width: 100%!important;
  max-width: 100%!important;
  min-width: @screen-md - 9 - @grid-gutter-width;
}
.dg-table {
  position: relative;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: @font-family-metadata;
  &:extend(.small);
}
.dg-table-vbar {
  width: 2px;
  height: 100%;
  background-color: @nature-heavy;
  position: absolute;
  z-index: 2300;
}
.dg-table-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, .3);
  position: absolute;
  z-index: 2290;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dg-table-row {
  display: flex;
  flex-direction: row;
  flex-wrap : no-wrap;
  &:nth-child(odd) {
    background-color: @pale-medium;
  }
  &:nth-child(even) {
    background-color: @pale-light;
  }
  &:hover {
    background-color: @nature-light;
  }
  > .dg-table-cell.header > span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .dg-table-cell.header > span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.54);
  }  
  &.data {
    .dg-table-cell > span {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }  
  }
  &.filter {
    background: @pale;
    .dg-table-cell {
      border-bottom: 1px solid #ccc;
    }
    input { width: 100%; border: 0; background: transparent; outline: 0; }  
    input:focus { outline: none; }
    select {
      width: 100%;
      background: transparent;
      outline: none;
      border: 0;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }
  }
}
.dg-table-cell {
  text-overflow: clip ellipsis;
  position: relative;
  padding: 4px 2px;
  .border-grid {
    cursor: col-resize;
    position: absolute;
    height: 100%;
    left: -4px;
    width: 5px;
    margin-top: -4px;
    margin-bottom: -4px;
    // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAE0lEQVR42mNgAIIzZ878B2EQGwA5CwbHEz534QAAAABJRU5ErkJggg==);
    &:after {
      position: absolute;
      content: "";
      left: 2px;
      height: 100%;
      width: 1px;
      background-color: #ccc;
    }
  }
  &.header .border-grid:hover {
    background-color: #ccc;
  }
  &:first-child .border-grid{
    display: none;
  }
}
.sparse {
  .dg-table-cell {
    padding: 8px 5px;  
    .border-grid {
      margin-top: -8px;
      margin-bottom: -8px;
    }
  }  
}
.dg-table .header,
.header-extra,
.tablesorter-header {
  font-weight: bold;
  padding: 8px 4px;
  white-space: normal;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
  background: #f5f5f5 url(data:image/gif;base64,R0lGODlhBwAJAJEAAAAAAP///7u7u////yH5BAEAAAMALAAAAAAHAAkAAAINnGUpq8sOk4Ru0IZmKgA7) no-repeat right 5px center;
}
.header.no-sort {
  background-image: none;
  // cursor: auto;
}
.header.headerSortAsc {
  > span { color: rgba(0,0,0,.87)!important; }
  background: #f5f5f5 url(data:image/gif;base64,R0lGODlhBwAJAKIAAAAAAP///wADM7u7u////wAAAAAAAAAAACH5BAEAAAQALAAAAAAHAAkAAAMRSCra8u5BSZsdOA+it8oW1yQAOw==) no-repeat right 5px center;
}
.header.headerSortDesc {
  > span { color: rgba(0,0,0,.87)!important; }
  background: #f5f5f5 url(data:image/gif;base64,R0lGODlhBwAJAKIAAAAAAP///wADM7u7u////wAAAAAAAAAAACH5BAEAAAQALAAAAAAHAAkAAAMRSDra8+5BSZsVOAuit8oW1yQAOw==) no-repeat right 5px center;
}

.dg-pagination {
  padding: 0;
}
.dg-pagination li {
  float: left;
  padding: 0 0.5em;
  line-height: 1.5em;
  border-radius: 2px;
  text-align: center; 
  list-style-type: none;
  border: 1px solid @mono-medium;
  &.spaced {
    margin-left: 0.5em;  
  }
}
.dg-pagination li span {
  color: @tin-heavy; 
  cursor : pointer;
}
.dg-pagination li.active span {
  color: @pale; 
}
.dg-pagination li.active {
  background-color: @nature-heavy; 
}
.dg-pagination li.disabled span {
  cursor: default;
  color: @mono-medium; 
}
