<div class="add-site-block">

  <form name="forms.newSite"  class="row inputs-step" >
    <div class="col-md-21">
      <input class="form-control step-one-input"
             ng-class="{'ng-invalid': isUrlInvalid}"
             type="text"
             ng-model="newTrackedSiteData.url"
             name="newTrackedSiteData"
             ng-pattern="pasteUrlRegex"
             placeholder="Paste your site URL here"
             required
             ng-disabled="siteProcessing"/>
      <div class="error-message" ng-show="isUrlInvalid">Please enter a valid URL</div>

    </div>
    <div class="col-md-3" style="text-align: center;">
      <button class="btn-solid btn-primary btn-add-site"
              ng-click="getScriptAction()"
              ng-disabled="siteProcessing">{{ 'label.trackedSites.AddSite' | translate }}</button>
    </div>
    <div ng-messages="forms.newSite.newTrackedSiteData.$error" ng-show="forms.newSite.submitted">
        <div class="error-message" ng-message="required">{{'label.trackedSites.Pleaseentersitename' | translate}}</div>
    </div>
  </form>
  <h4>{{ 'label.trackedSites.ClickOnTheSiteYouWouldLikeToManage' | translate }}</h4>
</div>
<div class="row" style="margin: 0; margin-top: 15px; margin-bottom: 10px;" ng-repeat="site in fractalAccountInfo.currentTeam.pixels | orderBy:'-registeredAt'">
  <div class="col-md-24">
    <div class="row member-container sites" >
      <div style="padding-top: 0.8em;padding-bottom: 0.8em; padding-left: 0.7em;"
           ng-class="{'header':true, 'col-md-24':true, expanded: site.expanded}"
           ng-click="site.expanded = !site.expanded; loadScriptForSelected(site);" >
        <div class="col-md-24"
             ng-class="urlState[site.URLName].state"
             urlIdx="{{$index}}"
             style="position: relative">
          {{site.URLName}}

          <div class="tooltipped tooltipped-w tooltipped-multiline validate-url-alert-icon pull-right"
               aria-label="{{ urlState[site.URLName].tooltip }}"
               ng-class="(urlState[site.URLName].state=='valid-url'?'valid-url':'invalid-url')" >
            <i class="fa fa-exclamation-circle"></i></div>

          <div class="tooltipped tooltipped-w tooltipped-multiline validate-url-working-icon pull-right"
               aria-label="URL validation in progress"
               ng-class="urlState[site.URLName].state" >
            <img ng-src="assets/images/busy_button.gif"></div>

          <div class="tooltipped tooltipped-w tooltipped-multiline validate-url-okay-icon pull-right"
               aria-label="{{ urlState[site.URLName].tooltip }}"
               ng-class="urlState[site.URLName].state" >
            <i class="fa fa-check-circle"></i></div>

          <i ng-if="site.expanded && site.scriptForCopy" class="fa fa-trash-o"
             ng-click="deactivateTrackedSite(site); $event.stopPropagation();"
             style="float: right; margin-right: 15px; margin-top: 3px;"></i>

        </div>
      </div>
      <div class="body col-md-24 manage-block-scripts" ng-if="site.expanded">
        <div ng-include="'app/main/align/siteManagement/siteInformationBlock.html'"></div>
      </div>

    </div>
  </div>
</div>
