<div class="loading-script-manage" ng-if="site.showScriptLoader">
  <img ng-src="assets/images/ajax-loader.gif">
</div>
<fs-tabset update-parent-scope="true" ng-if="site.scriptForCopy">
  <fs-tab class="new-sites-tab" is-open="$parent.siteInfoTab"
          ng-click="$parent.siteInfoTab =  true; $parent.conversionPixelTab = false; $parent.clickEventsTab = false; $parent.pageLandingEvents = false">
    <tab-heading>{{ 'label.trackedSites.SiteInfo' | translate }}</tab-heading>
    <div class="site-tabs-spacing" ng-include="'app/main/align/siteManagement/siteTemplates/siteInfo.html'"></div>
  </fs-tab>
  <fs-tab class="manage-sites-tab" is-open="$parent.conversionPixelTab"
          ng-click="$parent.siteInfoTab =  false; $parent.conversionPixelTab = true; $parent.clickEventsTab = false; $parent.pageLandingEvents = false;
          setPagination(site.conversionPixels)">
    <tab-heading>{{ 'label.trackedSites.ConversionPixel' | translate }}</tab-heading>
    <div class="site-tabs-spacing" ng-include="'app/main/align/siteManagement/siteTemplates/conversionPixel.html'"></div>
  </fs-tab>

  <fs-tab class="new-sites-tab" is-open="$parent.clickEventsTab"
          ng-click="$parent.siteInfoTab =  false; $parent.conversionPixelTab = false; $parent.clickEventsTab = true; $parent.pageLandingEvents = false;
          setPagination(site.clickEvents)">
    <tab-heading>{{ 'label.trackedSites.ClickEvents' | translate }}</tab-heading>
    <div class="site-tabs-spacing" ng-include="'app/main/align/siteManagement/siteTemplates/clickEvents.html'"></div>
  </fs-tab>
  <fs-tab class="manage-sites-tab" is-open="$parent.pageLandingEvents"
          ng-click="$parent.siteInfoTab =  false; $parent.conversionPixelTab = false; $parent.clickEventsTab = false; $parent.pageLandingEvents = true;
          setPagination(site.pageLandingEvents)">
    <tab-heading>{{ 'label.trackedSites.PageLandingEvents' | translate }}</tab-heading>
    <div class="site-tabs-spacing" ng-include="'app/main/align/siteManagement/siteTemplates/pageLandingEvents.html'"></div>
  </fs-tab>
</fs-tabset>
