<div class="modal-body modal-body-members check-box-initial-members-block tracked-block">
  <div class="header-labeled">
    <h3>{{'label.trackedSites.TrackAndManageSites' | translate}}</h3>
  </div>
  <div ng-include="'app/main/align/siteManagement/rootManageSites.html'"></div>
</div>

<div class="modal-footer modal-members-footer check-box-initial-members-block">
  <div class="row" style="padding-right: 1.15em !important;">
    <div class="pull-right">
      <button class="btn-solid btn-outline" ng-click="closeThisDialog()">{{'label.trackedSites.Done' | translate}}</button>
    </div>
  </div>
</div>
