.tracked-block {
  .header-labeled {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    h3 {
      color: @mono-medium;
    }
  }
}

.add-site-block {
  h4 {
    text-transform: none;
  }
  .btn-add-site {
    // padding-left: 3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    // padding-right: 3em;
    margin-bottom: 10px;
  }
}

.member-container {
  &.sites {
    .expanding-carets {
      float: right;
      margin-right: .1em;
      margin-top: .25em;
      color: @mono-medium;
    }
    .expanded {
      background-color: #fcfcfc !important;
    }
  }
}

.site-tabs-spacing {
  margin-top: 0.5em;
  min-height: 16em;
}

.btn-copy-links {
  background-color: @nature-heavy;
  color: @white;
  padding: 1px 17px 1px 17px;
  border-radius: 5px;
  i {
    margin-right: 5px;
  }
  &:hover,
  .open > .dropdown-toggle& {
    background-color: @mono-heavy;
    opacity: .8;
    text-decoration: none;
  }
}

.remove-button-site {
  position: absolute !important;
  z-index: 1;
  right: 75px;
  margin-top: 11px;
}

.btn-deactivate-links {
  background-color: @mono-medium;
  color: @white;
  padding: 1px 15px 1px 15px;
  border-radius: 5px;
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-color: @mono-heavy;
    opacity: .8;
    text-decoration: none;
  }
}

.copy-script-block {
  min-height: 6.5em;
  border: 1px solid @pale-heavy;
  background-color: @pale-medium;
  .loading-script-site {
    text-align: center;
    margin-top: 2em;
  }
  .copy-block-inside {
    padding: 0.5em;
    p {
      color: @mono-medium;
      font-size: 0.77em;
    }
  }
}

.tracked-block {
  .header-labeled {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    h3 {
      color: @mono-medium;
    }
  }
}

.manage-block-scripts {
  padding-left: 0 !important;
  padding-right: 0 !important;
  p {
    color: @mono-medium;
    font-size: 0.77em;
  }
  .events-row {
    font-size: 0.81em;
    color: @black;
    margin-top: 5px;
    margin-bottom: 10px;
    span {
      cursor: pointer;
    }
  }

  .loading-script-manage {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .copy-block-manage-inside {
    margin-bottom: 15px;
  }

  .fs-tabset-nav {
    padding-left: 1.5em;
    font-size: 0.9em;
  }
  .fs-tab-content {
    padding-left: 1.3em;
    padding-right: 1.3em;
  }
}
.event-management-modal .ngdialog-content {
  width: 70% !important;
}

.event-management-modal .checkbox-container {
  padding-top: 0.5em;
  padding-left: 2.2em;
}

.main-child-tab {
  padding-left: 0;
  h4 {
    text-transform: none;
  }
  .page-landing-header {
    margin-bottom: 1em;
  }

  .loading-script-manage {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1.5em;
  }

  // site info
  .site-script-copy {
    padding: .6em;
    margin-top: .5em;
    margin-bottom: .3em;
    width: 80%;
    border: 1px solid @mono-light;
    &.conversion {
      border: none;
    }
    p {
      color: @mono-heavy;
    }
  }
  .site-script-copy-buttons {
    width: 80%;
    margin-top: .7em;
    .btn-add-site {
      padding-left: 3em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-right: 3em;
      margin-bottom: 10px;
      float: right;
      &.spacing {
        margin-right: 1em;
      }
      &.zeroclipboard-is-hover {
        background-color: @tin-light;
        border-color: @tin-light;
        color: @white;
      }
    }
  }
  .site-script-info-counts {
    margin-top: 3.5em;
    .events-blocks {
      margin-top: .5em;
      padding-left: 0;
    }
  }
  .copied-btn {
    background-color: @mono-medium;
  }

  // click events
  .select-click-site {
    &.conversion-pixel-add {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 4em;
      .btn-add-site {
        padding-top: 0.3em;
        padding-bottom: 0.25em;
        padding-left: 1em;
        padding-right: 1em;
        float: right;
      }
    }
    &.new-page-event {
      margin-bottom: 3.7em;
      .labelInputArea label {
        float: left;
        margin-right: 10px;
        padding: 9px 0;
      }

      .labelInputArea span {
        display: block;
        overflow: hidden;
      }

      .labelInputArea input {
        width:100%;
      }
      .clear {
        clear: both;
      }
      .btn-add-site {
        padding-top: 0.3em;
        padding-bottom: 0.25em;
        padding-left: 1em;
        padding-right: 1em;
        float: right;
      }
      .fa-check-circle {
        color: @nature-heavy;
        margin-left: .5em;
        margin-top: .5em;
      }
      .event-saved {
        color: @nature-heavy;
        font-size: .9em;
        margin-left: .5em;
      }
    }
    margin-top: .5em;
    p {
      color: @mono-heavy;
    }
    .btn-add-site {
      padding-left: 3em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-right: 3em;
      &.refresh {
        float: right;
      }
    }
  }
  .list-click-events-block {
    margin-top: 1.3em;
    margin-left: 0;
    margin-right: 0;
    p {
      color: @mono-heavy;
      line-height: 2;
      &.sortable {
        display: inline;
      }
    }
    .fa-sort {
      margin-left: .5em;
      margin-top: .2em;
      font-size: 0.8em;
      color: @mono-medium;
      cursor: pointer;
    }
  }
  .click-events-outline {
    margin-left: 0;
    margin-right: 0;
    margin-top: .8em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border: 1px solid @mono-light;
    p {
      color: @mono-heavy;
      line-height: 2;
    }
    &.last {
      margin-bottom: .8em;
    }
    .fa-trash {
      cursor: pointer;
      float: right;
      margin-right: .5em;
      margin-top: .3em;
    }
    .btn-add-site {
      padding-left: 2em;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 2em;
      float: right;
      margin-right: 1.5em;
      margin-top: -0.1em;
    }
    .click-event-id {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
    }
  }
}


.events-pagination {
  a {
    color: @mono-heavy;
    text-decoration: none;
  }

  nav[role="navigation"] {
    text-align: center;
  }

  .paginated-blocks {
    width: 90%;
    max-width: 768px;
    text-align: center;
    margin: 2em auto 1.5em;

    &.creatives-placement {
      text-align: left;
      margin: 0;
      padding-left: 0;

      a {
        font-size: 0.85rem;
        padding: .25em .8em;
      }
    }
  }

  .paginated-blocks li {
    display: inline-block;
    margin: 0 .2em;
  }

  .paginated-blocks li.button {
    display: inline-block;
  }

  .paginated-blocks a, .paginated-blocks span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .4em .8em;
    font-size: 1.1rem;
  }

  .paginated-blocks a {
    border: 1px solid @mono-light;
    border-radius: 0.25em;
  }

  .paginated-blocks a:hover {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }

  .paginated-blocks a:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }

  .paginated-blocks a.disabled {
    pointer-events: none;
  }

  .paginated-blocks li.disabled {
    pointer-events: none;
    a {
      color: @mono-light;
    }
  }

  .paginated-blocks a.disabled::before, .paginated-blocks a.disabled::after {
    opacity: .4;
  }

  .paginated-blocks .button:first-of-type a::before {
    font-family: FontAwesome;
    content: '\f104 ';
  }

  .paginated-blocks .button:last-of-type a::after {
    font-family: FontAwesome;
    content: ' \f105';
  }

  .paginated-blocks .current {
    background-color: @nature-heavy;
    border-color: @nature-heavy;
    color: @white;
    pointer-events: none;
  }
}
