input[type="checkbox"].rounded + label.rounded:before {
  border-radius: 12px;
}


ul.devices {
  padding: 0;
  margin: 0;
  column-count:3;
  -webkit-column-count:3;
  -moz-column-count:3;

  & input[type="checkbox"] + label {
    display: block !important;
  }
}


ul.devices li {
  // padding: 0;
  // height: 25px;
}

.browse-interests-button-block {
  .btn-outline {
    padding: .25em;
  }
}

.childs-child-behavior {
  .fs-tab-content.vertical-tabs .fs-tab-content.vertical-tabs, .fs-tab-content.vertical-tabs {
    padding: 10px 20px 10px 15% !important;
  }
}

.ng-hide {
  display: none !important;
}
