<div class="campaign-submitted-modal">
  <i class="fa fa-check-circle fa-5x post-success-check-circle"></i>
  <div class="post-success-message">{{ 'label.act.Yourcampaignhasbeensubmitted' | translate }}</div>
  <div class="post-success-social-networks"
       ng-class="{'one-channel':getSizeOfObject(campaign.settings.channels) === 1, 'two-channels':getSizeOfObject(campaign.settings.channels) === 2, 'three-channels':getSizeOfObject(campaign.settings.channels) === 3}">
    <i ng-show="campaign.settings.channels.facebook" class="fa fa-facebook post-success-facebook-icon fa-2x"></i>
    <i ng-show="campaign.settings.channels.twitter" class="fa fa-twitter post-success-twitter-icon fa-2x"></i>
    <i ng-show="campaign.settings.channels.adwords" class="adwords-logo logo-2x post-success-google-icon"></i>
  </div>
</div>
