<h4>{{ 'label.act.Duration' | translate }}</h4>

<!-- Start date - End Date-->
<div class="form-group">
    <daterange-picker options="metadata.durationDateRangePickerOptions"
                      ng-change="commitCampaignDateRange(metadata.durationDateRangePickerModel)"
                      ng-model="metadata.durationDateRangePickerModel"
                      class="campaign-creation-summary-data-picker">
    </daterange-picker>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-24 text-right">
            <!-- <input type="checkbox" id="checkboxDuplicate{{creative.id}}" ng-model="creative.isChecked">
            <label for="checkboxDuplicate{{creative.id}}">Duplicate</label> -->
            <button class="btn-outline btn-secondary fleft" ng-click="closeDateModal(false)">{{'label.act.Cancel' | translate }}</button>
            <button type="button" ng-click="closeDateModal(true)" class="btn btn-solid btn-primary">Save</button>
        </div>
    </div>
</div>