<!---------------- Campaign Name and date ---------------->
<div class="row content-white">
    <div class="col-md-12">
        <b title="{{campaign.settings.name}}">{{campaign.settings.name | stringLimiter:max:42}}</b>
    </div>
    <div class="col-md-12" align="right" ng-mouseenter="metadata.showEditDates = true" ng-mouseleave="metadata.showEditDates = false">
        {{campaign.settings.startDate | date:"EEEE, MM/dd/yy hh:mm a"}} - {{campaign.settings.endDate | date:"EEEE, MM/dd/yy hh:mm a"}}
        <span ng-if="metadata.page === 2"></span>
        <span ng-if="metadata.page === 3"ng-click="editDates()">
            <i ng-show="metadata.showEditDates" class="fa fa-pencil"></i>
        </span>
    </div>
</div>
<!--------------- End Campaign Name and date ---------------->
<!-------------------- Campaign Info ------------------------>
<div class="row content">
    <!-- Goal -->
    <div ng-class="{'col-md-12': 'campaign.settings.budgetPolicy === FLOATING', 'col-md-9': 'campaign.settings.budgetPolicy === FIXED'}">
        <h4 class="text-uppercase raise-text">{{ 'label.act.Goal' | translate }}</h4>
    </div>
    <!-- End Goal-->
    <!------------- Budget ------------------>
    <!-- Total Budget -->
    <div class="col-md-3 campaign-creation-budget-bold" ng-if="campaign.settings.budgetPolicy === 'FLOATING'">
        <h4 class="text-uppercase campaign-info-title">{{ 'label.act.totalbudget' | translate }}</h4>
    </div>
    <!-- Budget at the channel level -->
    <div class="col-md-3 campaign-creation-budget-bold" ng-if="campaign.settings.budgetPolicy === 'FIXED'">
        <h4 class="text-uppercase campaign-info-title"> {{campaign.selectedChannel}} {{ 'label.act.Budget' | translate }}</h4>
    </div>
    <!----------- End Budget --------------->
    <!-- # of combos-->
    <div class="col-md-3">
      <h4 class="text-uppercase campaign-info-title">{{ 'label.act.#Of' | translate }} {{campaign.selectedChannel}} {{
        'label.act.Combos' | translate }}</h4>
    </div>
    <!-- End # of combos-->
    <!-- # of Ads-->
    <div class="col-md-3" ng-show="metadata.page === 3">
      <h4 class="campaign-info-title">{{ 'label.act.#Of' | translate }} {{campaign.selectedChannel}} {{ 'label.act.Ads'
        | translate }}</h4>
    </div>
    <!-- End # of Ads-->
    <!-- Facebook Estimated Reach-->
    <div class="col-md-3" ng-show="metadata.page === 3 && (campaign.selectedChannel === 'facebook' || (campaign.selectedChannel === 'twitter' && campaign.estimatedReach.twitter))">
        <h4 class="text-uppercase campaign-info-title">{{campaign.selectedChannel}} {{ 'label.act.EstReach' | translate }}</h4>
    </div>
    <!-- End Facebook Estimated Reach-->
</div>
<div class="row content margin-top-2-">
    <!-- Goal -->
    <div ng-class="{'col-md-12': 'campaign.settings.budgetPolicy === FLOATING', 'col-md-9': 'campaign.settings.budgetPolicy === FIXED'}">
        <div><b>{{campaign.settings.goal.formattedGoalName}}</b></div>
    </div>
    <!-- End Goal-->
    <!------------- Budget ------------------>
    <!-- Total Budget -->
    <div class="col-md-3 campaign-creation-budget-bold" ng-if="campaign.settings.budgetPolicy === 'FLOATING'">
        <div>
            {{campaign.settings.budget | number:2}} {{campaign.currency}}
        </div>
    </div>
    <!-- Budget at the channel level -->
    <div class="col-md-3 campaign-creation-budget-bold" ng-if="campaign.settings.budgetPolicy === 'FIXED'">
        <div>
            <b>{{campaign.settings.channels[campaign.selectedChannel].budget | number:2}} {{campaign.currency}}</b>
        </div>
    </div>
    <!----------- End Budget --------------->
    <!-- # of combos-->
    <div class="col-md-3">
        <div><b>{{campaign.getNumberOfCombosForChannel(campaign.selectedChannel)}}</b></div>
    </div>
    <!--  End # of combos -->
    <!-- # of Ads-->
    <div class="col-md-3" ng-show="metadata.page === 3">
        <h5 class="text-wrap"> {{campaign.numberOfSubcampaigns[campaign.selectedChannel]}} </h5>
    </div>
    <!-- End # of Ads-->
    <!-- Estimated Reach-->
    <div class="col-md-3" ng-show="metadata.page === 3 && (campaign.selectedChannel === 'facebook' || (campaign.selectedChannel === 'twitter' && campaign.estimatedReach.twitter))">
        <h5 class="text-wrap" ng-class="{'error-message':campaign.estimatedReach[campaign.selectedChannel].narrowAudiences > 0}">
            <!-- <b>{{campaign.facebookEstimatedReach.totalReach | number}}</b> -->
            <b>{{(campaign.estimatedReach[campaign.selectedChannel].totalReach || campaign.facebookEstimatedReach.totalReach) | number}}</b>
        </h5>
    </div>
    <!-- End Facebook Estimated Reach-->
</div>
<!-------------------- End Campaign Info ------------------------>
<!-------------------- Budget Recommendation ------------------------>
<fs-budget-recommendation
    ng-show="metadata.page === 3 && campaign.budgetRecommendation.recommendationRequired"
    budget-policy="campaign.settings.budgetPolicy"
    budget-recommendation="campaign.budgetRecommendation"
    currency="{{campaign.currency}}"
    apply-budget-recommendation="campaign.applyBudgetRecommendation(type)">
</fs-budget-recommendation>
<!-------------------- End Budget Recommendation ------------------------>

<!-------------------- Warning to not make changes in the social channel ------------------------>
<div class="row" ng-show="metadata.page === 3">
    <div class="col-md-24 centered no-change-on-social-channel-warning">
        <strong>{{ 'label.act.NOTE:' | translate }}</strong> {{ 'label.act.doNotMakeEditsWarning' | translate }}
    </div>
</div>
<!-------------------- End Warning to not make changes in the social channel ------------------------>
<!-------------------- Channel Combos tab ---------------------->
<div class="row margin-top-1em">
    <div class="col-md-24 combos-tabs">
        <fs-tabset>
            <!-- Facebook Tab -->
            <fs-tab ng-show="campaign.settings.channels.facebook"
                    is-open="campaign.selectedChannel === 'facebook'"
                    ng-click="campaign.selectedChannel = 'facebook'"
                    is-removed="!campaign.settings.channels.facebook"
                    class="fb-tab">
                <tab-heading >{{ 'label.act.Facebook' | translate }}</tab-heading>
                <div class="margin-top-2-">
                    <div class="combo-margin-bottom" ng-include="'app/main/act/campaignCreation/facebook/fbCombo/templates/fbCombosPage.html'"></div>
                </div>
            </fs-tab>
            <!-- Twitter Tab -->
            <fs-tab ng-show="campaign.settings.channels.twitter"
                    is-open="campaign.selectedChannel === 'twitter'"
                    ng-click="campaign.selectedChannel = 'twitter'"
                    is-removed="!campaign.settings.channels.twitter"
                    class="tw-tab">
                <tab-heading>{{ 'label.act.twitter.Twitter' | translate }}</tab-heading>
              <div class="margin-top-2-">
                  <div class="combo-margin-bottom" ng-include="'app/main/act/campaignCreation/twitter/twCombo/templates/twCombosPage.html'"></div>
              </div>
            </fs-tab>
            <!-- Adwords Tab -->
            <fs-tab ng-show="campaign.settings.channels.adwords"
                    is-open="campaign.selectedChannel === 'adwords'"
                    ng-click="campaign.selectedChannel = 'adwords'"
                    is-removed="!campaign.settings.channels.adwords"
                    class="aw-tab">
                <tab-heading>{{ 'label.act.Adwords' | translate }}</tab-heading>
              <div class="margin-top-2-">
                  <div class="combo-margin-bottom" ng-include="'app/main/act/campaignCreation/adwords/awCombo/templates/awCombosPage.html'"></div>
              </div>
            </fs-tab>
        </fs-tabset>
    </div>
</div>
<!-------------------- End Channel Combos tab --------------------->

