<div>
    <div>{{ngDialogData.message}}</div>
    <div class="confirmation-dialog-buttons">
        <button ng-show="ngDialogData.cancel !== null" ng-click="closeThisDialog()">{{ngDialogData.cancel || 'No'}}</button>
        <button ng-click="confirm()">{{ngDialogData.submit || 'Yes'}}</button>
    </div>
</div>