<form name="form.settings" id="settingsForm" novalidate>
  <!-- Campaign Project -->
  <div class="row content-white no-padding" ng-show="!campaign.settings.id">
    <fs-select name=""
               id="project"
               ng-model="campaign.settings.project"
               ng-change="campaign.onProjectChange()"
               fs-options="project as project.name for project in campaign.api.projects"
               default-text="{{ 'label.act.ChooseProject' | translate }}">
    </fs-select>
  </div>

  <!-- TODO: AWAITING INDICATIONS FROM IDAN-->
  <div class="row content-white" ng-show="campaign.settings.id">
    {{campaign.settings.project.name}}
  </div>
  <!-- End Campaign Project -->
  <div class="row content" ng-show="campaign.settings.project">
    <!-- Campaign Name -->
    <div class="row form-group">
      <div class="col-md-24">
        <h4>{{ 'label.act.CampaignName' | translate }}</h4>
        <input name="campaignName"
               type="text"
               placeholder="Type Campaign Name"
               ng-model="campaign.settings.name"
               class="form-control"
               ng-class="{'ng-pristine': !form.settingsSubmitted}"
               fs-focus-input="true"
               required
               ng-maxlength="180">

        <div ng-messages="form.settings.campaignName.$error"
             ng-if='!form.settings.campaignName.$pristine || form.settingsSubmitted'
             ng-messages-include="campaign-creation-messages">
        </div>
      </div>
    </div>
    <!-- End Campaign Name -->
    <!-- Optimization Goal -->
    <div class="row form-group tooltipped tooltipped-n"
         aria-label="{{ 'label.act.tooltip.ACampaigncanonlyhaveoneGoal' | translate }}">
      <div class="col-md-24">
        <h4>{{ 'label.act.OptimizationGoal' | translate }}</h4>
        <fs-select
            name="goal"
            fs-options="goal as goal.formattedGoalName for goal in campaign.settings.project.goals"
            ng-model="campaign.newGoal"
            ng-change="campaign.onGoalChange()"
            ng-required="true"
            default-text="{{ 'label.act.ChooseGoal' | translate }}">
        </fs-select>
        <div ng-messages="form.settings.goal.$error"
             ng-if='form.settings.goal.$pristine === false || form.settingsSubmitted'
             ng-messages-include="campaign-creation-messages">
        </div>
      </div>
    </div>
    <!-- End Optimization Goal -->

    <!-- Campaign Duration -->
    <div class="row form-group">
      <div class="col-md-12 margin-top-05">
        <h4>{{ 'label.act.CampaignDuration' | translate }}</h4>
        <daterange-picker class="campaign-creation-daterangepicker"
                          options="metadata.durationDateRangePickerOptions"
                          ng-change="commitCampaignDateRange(metadata.durationDateRangePickerModel)"
                          ng-model="metadata.durationDateRangePickerModel"></daterange-picker>
        <div class="campaign-date-message">{{ 'label.act.accountTimezoneMessage' | translate }}</div>
        <div ng-if="metadata.isCampaignStartDateToday && campaign.settings.channels.adwords"
             class="campaign-date-message">{{ 'label.act.campaignStartDateAdwordsTodayMessage' | translate }}
        </div>
        <div ng-if="!metadata.isCampaignStartDateToday && campaign.settings.channels.adwords"
             class="campaign-date-message">{{ 'label.act.campaignStartDateAdwordsFutureMessage' | translate }}
        </div>
      </div>
    </div>
    <!-- End Campaign Duration -->

    <!-- Allocation Strategy -->
    <!-- Budget policy, total budget and budget per channel fields-->
    <div class="row form-group">
      <div class="col-md-14">
        <h4>{{ 'label.act.AllocationStrategy' | translate }}</h4>
        <!-- Budget Policy and Total Budget-->
        <div class="row content-white-2 budget-policy-container">
          <!-- Toggle to switch between one budget per channel (multi) and one budget for the whole campaign (cross) -->
          <div class="col-md-12">
            <div class="form-group radio-toggle-margin">
              <div class="tooltipped tooltipped-n tooltipped-multiline"
                   aria-label="{{ 'label.act.tooltip.InCrossChannelalgorithms' | translate }}">
                <fs-radio-toggle locked="getSizeOfObject(campaign.settings.channels) < 2"
                                 ng-model="campaign.settings.budgetPolicy"
                                 option1="budgetPolicyRadioToggle.option1"
                                 option2="budgetPolicyRadioToggle.option2">
                </fs-radio-toggle>
              </div>
            </div>
          </div>
          <!-- End Toggle switch -->
          <!-- Total Budget -->
          <div class="col-md-12 margin-top-05">
            <input name="budget"
                   type="number"
                   placeholder="{{campaign.settings.budgetPolicy === 'FLOATING' ? campaign.currency : ''}}"
                   ng-model="campaign.settings.budget"
                   class="form-control placeholder-right"
                   ng-class="{'ng-pristine': !form.settingsSubmitted, 'hide-budget-in-input': campaign.settings.budgetPolicy === 'FIXED'}"
                   min="0"
                   ng-disabled="campaign.settings.budgetPolicy === 'FIXED'"
                   ng-pattern="metadata.numberWithUpToTwoDecimals"
                   ng-required="campaign.settings.budgetPolicy === 'FLOATING'">

            <div class="error-message" ng-show="form.settings.budget.$error.pattern">
              {{'label.act.numberErrorDecimalsMessage' | translate}}
            </div>
            <div ng-messages="form.settings.budget.$error"
                 ng-if='form.settings.budget.$pristine === false || form.settingsSubmitted'
                 ng-messages-include="campaign-creation-messages">
            </div>
            <div class="roi-checkbox" ng-if="campaign.settings.goal.thirdPartyPixel || campaign.settings.goal.tracker === 'ACCOMPLICE_CONVERSION_PIXEL'">
              <input id="toggleROASOptimization"
                     type="checkbox"
                     ng-model="campaign.settings.optimizeForRoas"/>
              <label for="toggleROASOptimization">
                <h4>{{ 'label.act.OptimizeForROAS' | translate }}</h4>
              </label>
            </div>
          </div>
          <!-- End Total Budget-->
        </div>
        <!-- End Budget Policy & Total Budget -->
        <!--  Facebook -->
        <div class="row channel-budget-container">
          <div class="col-md-12 form-group">
            <span class="btn toggle facebook off"
                  ng-show="!campaign.settings.channels.facebook"
                  ng-click="campaign.activateChannel('facebook')">
              <iconic static></iconic>
            </span>
            <span class="btn toggle facebook on"
                  ng-show="campaign.settings.channels.facebook"
                  ng-click="campaign.deactivateChannel('facebook')">
              <iconic static></iconic>
            </span>
            <span>Facebook</span>
          </div>
          <div class="col-md-12">
            <input name="fbBudget"
                   type="number"
                   placeholder="{{ campaign.settings.channels.facebook && campaign.settings.budgetPolicy === 'FIXED' ? campaign.currency : ''}}"
                   ng-model="campaign.settings.channels.facebook.budget"
                   class="form-control placeholder-right margin-top-05"
                   ng-class="{'ng-pristine': !form.settingsSubmitted, 'hide-budget-in-input': campaign.settings.budgetPolicy === 'FLOATING'}"
                   min="0"
                   ng-pattern="metadata.numberWithUpToTwoDecimals"
                   ng-disabled="!campaign.settings.channels.facebook || campaign.settings.budgetPolicy !== 'FIXED'"
                   ng-required="campaign.settings.channels.facebook && campaign.settings.budgetPolicy === 'FIXED'">

            <div ng-messages="form.settings.fbBudget.$error"
                 ng-if='form.settings.fbBudget.$pristine === false || form.settingsSubmitted'
                 ng-messages-include="campaign-creation-messages">
            </div>
          </div>
        </div>
        <!-- End Facebook -->
        <!-- Twitter -->
        <div class="row channel-budget-container">
          <div class="col-md-12 form-group">
            <span class="btn toggle twitter off" ng-show="!campaign.settings.channels.twitter"
                  ng-click="campaign.activateChannel('twitter')">
              <iconic static></iconic>
            </span>
            <span class="btn toggle twitter on" ng-show="campaign.settings.channels.twitter"
                  ng-click="campaign.deactivateChannel('twitter')">
              <iconic static></iconic>
            </span>
            <span>Twitter</span>
          </div>
          <div class="col-md-12">
            <input name="twBudget"
                   type="number"
                   placeholder="{{campaign.settings.channels.twitter && campaign.settings.budgetPolicy === 'FIXED' ? campaign.currency : ''}}"
                   ng-model="campaign.settings.channels.twitter.budget"
                   class="form-control placeholder-right margin-top-05"
                   ng-class="{'ng-pristine': !form.settingsSubmitted, 'hide-budget-in-input': campaign.settings.budgetPolicy === 'FLOATING'}"
                   min="0"
                   ng-pattern="metadata.numberWithUpToTwoDecimals"
                   ng-disabled="!campaign.settings.channels.twitter || campaign.settings.budgetPolicy !== 'FIXED'"
                   ng-required="campaign.settings.channels.twitter && campaign.settings.budgetPolicy === 'FIXED'">

            <div ng-messages="form.settings.twBudget.$error"
                 ng-if='form.settings.twBudget.$pristine === false || form.settingsSubmitted'
                 ng-messages-include="campaign-creation-messages">
            </div>
          </div>
        </div>
        <!-- End Twitter -->
        <!-- Adwords -->
        <div class="row channel-budget-container">
          <div class="col-md-12 form-group">
              <span class="btn toggle google off" ng-show="!campaign.settings.channels.adwords"
                    ng-click="campaign.activateChannel('adwords')">
                <iconic static></iconic></span>
              <span class="btn toggle google on" ng-show="campaign.settings.channels.adwords"
                    ng-click="campaign.deactivateChannel('adwords')">
                <iconic static></iconic>
              </span>
            <span>AdWords</span>
          </div>
          <div class="col-md-12">
            <input name="awBudget"
                   type="number"
                   placeholder="{{ campaign.settings.channels.adwords && campaign.settings.budgetPolicy === 'FIXED' ? campaign.currency : ''}}"
                   ng-model="campaign.settings.channels.adwords.budget"
                   class="form-control placeholder-right margin-top-05"
                   ng-class="{'ng-pristine': !form.settingsSubmitted, 'hide-budget-in-input': campaign.settings.budgetPolicy === 'FLOATING'}"
                   min="0"
                   ng-pattern="metadata.numberWithUpToTwoDecimals"
                   ng-disabled="!campaign.settings.channels.adwords || campaign.settings.budgetPolicy !== 'FIXED'"
                   ng-required="campaign.settings.channels.adwords && campaign.settings.budgetPolicy === 'FIXED'">

            <div ng-messages="form.settings.awBudget.$error"
                 ng-if='form.settings.awBudget.$pristine === false || form.settingsSubmitted'
                 ng-messages-include="campaign-creation-messages">
            </div>
          </div>
        </div>
        <!-- End Adwords -->
        <!-- Advanced Settings button-->
        <div class="row advance-settings-button">
          <div class="form-group">
            <button ng-click="manageChannelSettings()"
                    class="btn btn-outline tooltipped tooltipped-n tooltipped-multiline channel-settings-button"
                    aria-label="{{ 'label.act.tooltip.Chooseyoursourceoffunding' | translate }}">
              <i class="fa fa-cog gear"></i>
              <!-- Formerly called Channel Settings-->
              {{ 'label.act.AdvancedSettings' | translate }}
            </button>
            <div ng-if='metadata.areChannelsValid === false && form.settingsSubmitted' class="error-message">{{
              'label.act.budgetInfoMissingMessage' | translate }}
            </div>
          </div>
        </div>
        <!-- End Advanced Settings button-->
      </div>
      <!-- End budget policy, total budget and budget per channel fields-->
      <!-- Allocation Strategy instructions -->
      <div class="col-md-9 col-md-offset-1 allocation-strategy-container">
        <div>
          {{ 'label.act.AllocationStrategy' | translate }}
        </div>
        <div class="margin-top-1" ng-show="campaign.settings.goal.thirdPartyPixel">
          <h4>{{ 'label.act.ROAS' | translate }}</h4>
          <span class="text">{{ 'label.act.roasInstructionsMessage' | translate }}</span>
        </div>
        <div class="margin-top-1">
          <h4>{{ 'label.act.Cross' | translate }}:</h4>
          <span class="text">{{ 'label.act.crossInstructionsMessage' | translate }}</span>
        </div>
        <div class="margin-top-1">
          <h4>{{ 'label.act.Multi' | translate }}:</h4>
          <span class="text">{{ 'label.act.multiInstructionsMessage' | translate }}</span>
        </div>
      </div>
      <!-- End Allocation Strategy instructions -->
    </div>
    <!-- End Allocation Strategy -->
  </div>
</form>

