<div class="new-site-top-description">
  <span>{{ 'label.trackedSites.AddYourSiteIn3Steps' | translate }}</span>
</div>
<div class="site-step-one">
  <div class="number-circled">1</div>
  <span class="step-description">{{ 'label.trackedSites.PasteYourSiteURLBelow' | translate }}</span>
  <span class="step-description duplicate-note">{{ 'label.trackedSites.DontAddSameSiteMoreThanOnce' | translate }}</span>

  <ul style="margin-left: 50px">
  <li><b>mysite.com</b> <i style="color: green; padding-left: 20px" class="fa fa-check"> do</i></li>
  <li><b>mysite.com</b>/blog <i style="color: red; padding-left: 20px" class="fa fa-times"> don't</i></li>
  </ul>

  <form name="forms.trackingUrl"  class="row inputs-step" >
    <div class="col-md-21">
      <input class="form-control step-one-input" type="text" ng-model="newTrackedSiteData.url" name="newTrackedSiteData"
             ng-pattern="pasteUrlRegex" placeholder="Paste your site URL here" required
             ng-disabled="newTrackedSiteData.scriptForCopy"/>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <button class="btn-solid btn-primary btn-tracked-sites"
              ng-click="getScriptAction()"
              ng-disabled="newTrackedSiteData.scriptForCopy">{{ 'label.trackedSites.Submit' | translate }}</button>
    </div>
  </form>
</div>
<div class="error-message" ng-show="!!forms.trackingUrl.newTrackedSiteData.$error.pattern && !!forms.trackingUrl.submitted">{{ 'label.trackedSites.PleaseenteravalidURL' | translate }}</div>

<div class="site-step-two" ng-class="{'faded-step': fadeStep2 }">
  <div class="number-circled">2</div>
  <span class="step-description">{{ 'label.trackedSites.CopyTheTrackingScript' | translate }}</span>

  <div class="row inputs-step">
    <div class="col-md-21">
      <div class="copy-script-block">
        <div class="copy-block-inside">
          <p ng-if="newTrackedSiteData.scriptForCopy">{{newTrackedSiteData.scriptForCopy}}</p>
          <p ng-if="!newTrackedSiteData.scriptForCopy">{{defaultScriptExample}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <button class="btn-solid btn-primary btn-tracked-sites"
              clip-copy="newTrackedSiteData.scriptForCopy"
              ng-click="showCopiedToClipboard(newTrackedSiteData, true)"><i class="fa fa-clipboard"></i> {{ 'label.trackedSites.Copy' | translate }}</button>
      <p ng-show="newTrackedSiteData.copiedToClipboard" class="fadein fadeout"
         style="float: right; margin-top: 10px;">{{ 'label.trackedSites.CopiedToClipboard' | translate }}</p>
    </div>
  </div>

</div>

<div class="site-step-three" ng-class="{'faded-step': fadeStep3 }">
  <div class="number-circled">3</div>
  <span class="step-description">{{ 'label.trackedSites.PlaceItIntoTheHeaderOrFooterToSite' | translate }}</span>

  <!-- adding state class here via 'urlStateClass' allows us to change the display as the URL is validated -->
  <div class="row" ng-class="urlStateClass(100)">
    <div class="col-md-21">

      <span class="step-description knowledge-link">{{ 'label.trackedSites.IfYouDontHaveAccessToYourSite' | translate }}</span>
      <br /><br />

      <span class="step-description knowledge-link">{{ 'label.trackedSites.LearnMoreInOurKnowledgeBaseArticle' | translate }}
      <span class="add-tracking-script" ng-click="addTracking()"> {{ 'label.trackedSites.AddTrackingScript' | translate }}</span>
      </span>
      <br />

      <span class="step-description step-error knowledge-link"
          ng-show="urlState[100].state==='fail'" style="color: red;">
          Oops: {{ urlState[100].tooltip }}</span>

      <span class="step-description step-success knowledge-link"
          ng-show="urlState[100].state==='pass'" style="color: green;">That URL is validating as correct. </span>

      <span class="step-description step-success knowledge-link"
          ng-show="updateUrlState(100)==='valid-url'" style="color: green;">That URL is validating as correct. </span>

    </div>
    <div class="col-md-3" style="text-align: center;"
        ng-class="{'no-service': noUrlValidationService==true}">

        <span class="url-validation-no-service-warning" title="Accomplice validates customer site URLs to make sure they are valid for use in campaigns and for event tagging. The platform that performs the validation service appears to be down at the moment. That's fine, if you know they are valid you can still use the sites below in campaigns, and you can use the tagging toolbar. But using an invalid site can lead to strange results so if you are not sure about the status of a site you should probably wait on using it until the validation service is running again."><i class="fa fa-exclamation-triangle"></i> The site validation service is currently not running.</span>

      <!-- index=100 is a high random but useful value with which to track the state of this URL -->
      <button id='btn-validate-url-new' class="btn-solid btn-primary btn-validate-url"
              title="{{ urlState[100].tooltip }}"
              ng-class="urlStateClass(100)"
              ng-click="validateURLInit({
                    host: 'na',
                    testUrl: newTrackedSiteData.url,
                    index: 100,
                    nowait: true,
                    nocache: true,
                    badurlonly: false
                  })">
        <i class="fa fa-exclamation-triangle"></i>
        <img ng-src="assets/images/busy_button.gif"> Validate
      </button>
      <!--<p ng-show="" class="fadein fadeout"
         style="float: right; margin-top: 10px;">{{ 'label.trackedSites.CopiedToClipboard' | translate }}</p>-->
    </div>
  </div>
</div>
