<div class="row">
  <div class="col-md-24">
    <!-- Seach bar -->
    <div class="form-group">
      <div class="row">
        <div class="col-md-19">
          <div ng-atp="interest" ng-atp-config="twInterestAtpConfig">
                    <input id="interest_value" placeholder="Search for interests and select from drop menu" ng-atp-input type="text" class="form-control form-control-small" />
                    <ul ng-atp-suggestions></ul>
            </div>
        </div>
        <div class="col-md-4 browse-interests-button-block">
          <div class="btn btn-solid btn-outline" ng-click="showBrowseInterest = !showBrowseInterest">
            {{ 'label.act.twitter.interests.BrowseInterests' | translate }}
          </div>
        </div>
      </div>
    </div>

    <!-- Errors -->
    <div class="error-message" ng-show="moreThan100">
      {{ 'label.act.twitter.TwitterlimitsthenumberofInterests' | translate }}
    </div>

    <!-- Browse tabs -->
    <div style="clear: both;" ng-show="showBrowseInterest">
      <fs-tabset tabs-type='vertical-tabs'>
          <fs-tab ng-repeat="category in interestCategories" ng-click="browseCategory(category); selectAllInterest.checked = false;">
            <tab-heading>
              <h5>{{category}}</h5>
            </tab-heading>
            <div>
                <input class="rounded" type="checkbox" ng-checked="selectAllInterest.checked" id="selectAllInterest" value="selectAllInterest" ng-click="selectAllInterest(interests); selectAllInterest.checked = !selectAllInterest.checked"/>
                <label for="selectAllInterest">{{ 'label.act.twitter.interests.SelectAll' | translate }}</label>
                <div>
                  <div class="btn btn-solid btn-tertiary absolute-right header-btn" ng-click="applyInterests(interests)">
                    {{ 'label.act.twitter.interests.Apply' | translate }}
                  </div>
                </div>
              <!-- <ul class="devices"> -->
                <b class="fa fa-spinner fa-spin" ng-if="browseInterestLoading"></b>

                <div ng-repeat="interest in interests" ng-if="!browseInterestLoading">
                  <input class="rounded" type="checkbox" ng-checked="interest.selected" id="{{interest.name}}" value="{{interest.name}}" ng-click="toggleInterest(interest)">
                  <label class="full-width rounded" for="{{interest.name}}">{{parseInterestLabel(interest.name)}}</label>
                </div>
              </ul>
            </div>
          </fs-tab>
      </fs-tabset>
    </div>

    <!-- Variant box -->
    <fs-variant type="interest" no-add-variant="true" ng-model="view.interest"></fs-variant>
  </div>
</div>
