<div class="modal-body modal-body-members">
  <h3>{{ 'label.align.support.EmailTemplates' | translate }}</h3>

  <div class="row">
    <fs-select class="col-md-6" name="" id="language" ng-model="selectedLanguage" fs-options="language as language.name for language in languages">
      <li>{{ 'label.align.support.emailTemplates.ChooseLanguage' | translate }}</li>
    </fs-select>
    <fs-select style="width: 325px;" class="col-md-6" name="" id="template" ng-change="onTemplateChange()" ng-model="selectedTemplate" fs-options="template as template.type for template in templates[selectedLanguage.code]">
      <li>{{ 'label.align.support.emailTemplates.ChooseTemplate' | translate }}</li>
    </fs-select>
    <div class="col-md-6" ng-show="selectedTemplate">
      <h4>{{'label.align.support.emailTemplates.Params' | translate}}</h4>
      {{selectedTemplate.params}}
    </div>
  </div>
  <div class="row" ng-show="selectedTemplate">
    <div class="form-group">
      <h4>{{'label.align.support.emailTemplates.Subject' | translate}}</h4>
      <input type="text" ng-model="selectedTemplate.subject" class="form-control" style="resize: none;">
    </div>
    <div class="form-group">
        <h4>{{'label.align.support.emailTemplates.TextBody' | translate}}</h4>
        <textarea ng-model="selectedTemplate.text" class="form-control" style="resize: none; height: 8em;"></textarea>
    </div>
    <div class="form-group">
      <h4>{{'label.align.support.emailTemplates.HtmlBody' | translate}}</h4>
      <textarea ng-model="selectedTemplate.html" class="form-control" style="resize: none; height: 8em;"></textarea>
    </div>
    <div class="form-group">
      <h4>{{'label.align.support.emailTemplates.HtmlBodyPreview' | translate}}</h4>
      <div data-ng-bind-html="selectedTemplate.html" class="html-preview-block"></div>
    </div>
  </div>
</div>
<div class="modal-footer modal-members-footer">
    <div class="col-md-24">
      <button ng-disabled="processing || !selectedTemplate" class="btn-solid btn-primary" style="margin-left: 5px;" ng-click="updateTemplate()">{{'label.align.support.Update' | translate}}</button>
    </div>
</div>
