<div class="modal-header audience-modal-header">
    <h3 class="fleft">{{ 'label.act.AdvancedSettings' | translate }}</h3>
</div>

<div class="modal-body">
    <form name="form.channelSettings" id="channelSettingsForm" ng-init="setFormScope(this)" novalidate>
        <!-- Facebook -->
        <div class="row">
            <div class="col-md-24">
                <fs-accordion>
                    <fs-accordion-group header='Facebook' is-open="::newChannelSettings.facebook" is-disabled="::!newChannelSettings.facebook">
                        <!-- Choose Ad Account -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>{{ 'label.act.ChooseAdAccount' | translate }}</h4>
                                </div>
                                <div class="col-md-8">
                                    <fs-select
                                            name="fbAdAccount"
                                            ng-model="newChannelSettings.facebook.adAccount"
                                            ng-change="onFbAdAccountChange()"
                                            fs-options="facebookAdAccount as facebookAdAccount.name for facebookAdAccount in campaign.api.facebook.adAccounts"
                                            ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                            ng-required="newChannelSettings.facebook"
                                            disable-dropdown="campaign.settings.goal.thirdPartyPixel"
                                            default-text="{{ 'label.act.ChooseAdAccount' | translate }}">
                                    </fs-select>
                                </div>
                                <div class="col-md-6 ad-account-currency-message">
                                    {{ 'label.act.AdAccountcurrency:' | translate }} <b>{{newChannelSettings.facebook.adAccount.currency}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="error-message" ng-if="!newChannelSettings.facebook.adAccount">
                            {{'label.act.Pleaseselectanadaccount' | translate}}
                        </div>
                        <!-- END Choose Ad Account -->
                        <!-- Choose Bid Type -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>{{ 'label.act.ChooseBiddingType' | translate }}</h4>
                                </div>
                                <div class="col-md-8">
                                  <fs-select
                                          name="bidType"
                                          ng-model="newChannelSettings.facebook.bidType"
                                          fs-options="bidType.value as bidType.label for bidType in metadata.facebookBidTypeOptions"
                                          disable-dropdown="campaign.settings.goal.goal.name === 'VIDEO_VIEWS'"
                                          ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                          default-text="{{ metadata.facebookBidTypeViewValue }}">
                                  </fs-select>

                                </div>
                                <div class="col-md-8" ng-if="campaign.settings.goal.goal.name === 'VIDEO_VIEWS'">
                                        {{ 'label.act.FacebookonlysupportsanoCPMbiddingtype' | translate }}
                                </div>
                            </div>
                        </div>
                        <!-- END Choose Bid Type -->
                        <!-- Set Max Bid -->
                        <div class="row" ng-if="newChannelSettings.facebook.bidType !== 'absolute_ocpm'">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="toggleFbMaxBid"
                                           type="checkbox"
                                           ng-click="setFocusOnElementIfCheckboxIsChecked('fbMaxBid', newChannelSettings.facebook.isMaxBid)"
                                           ng-model="newChannelSettings.facebook.isMaxBid"/>
                                    <label for="toggleFbMaxBid">
                                        <h4>{{ 'label.act.SetMaxBid' | translate }}</h4>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input name="fbMaxBid"
                                           id="fbMaxBid"
                                           type="number"
                                           placeholder="4.35 {{newChannelSettings.facebook.adAccount.currency}}"
                                           ng-model="newChannelSettings.facebook.maxBid"
                                           class="form-control"
                                           ng-class="{'ng-dirty': newChannelSettings.facebook.isMaxBid}"
                                           min="0"
                                           ng-pattern="metadata.numberWithUpToTwoDecimals"
                                           ng-required="newChannelSettings.facebook.maxBid">
                                    <div ng-messages="form.channelSettings.fbMaxBid.$error" ng-if='form.channelSettings.fbMaxBid.$pristine === false || form.channelSettingsSubmitted' ng-messages-include="channel-settings-messages"></div>
                                </div>
                                <div class="col-md-10">
                                    <div class="bid-and-cpa-message">{{ 'label.act.maxBidMessage' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Set Max Bid -->
                      <!-- Set Conversion Value -->
                      <div class="row" ng-if="newChannelSettings.facebook.bidType === 'absolute_ocpm'">
                        <div class="form-group">
                          <div class="col-md-6">
                            <input id="toggleFbConversionValue"
                                   type="checkbox"
                                   ng-click="setFocusOnElementIfCheckboxIsChecked('fbConversionValue', newChannelSettings.facebook.isConversionValue)"
                                   ng-model="newChannelSettings.facebook.isConversionValue"/>
                            <label for="toggleFbConversionValue" class="conversion-value">
                              <h4>{{ 'label.act.SetConversionValue' | translate }}</h4>
                            </label>
                          </div>
                          <div class="col-md-8">
                            <!-- ocpm  conversion value/max bid logic - if conversion value toggle not selected and ocpm selected, show auto placeholder, otherwise show other-->
                            <input name="fbConversionValue"
                                   id="fbConversionValue"
                                   type="number"
                                   placeholder="{{ newChannelSettings.facebook.isConversionValue ? 4.35 +' '+newChannelSettings.facebook.adAccount.currency : 'label.act.AutoBid' | translate}}"
                                   ng-model="newChannelSettings.facebook.conversionValue"
                                   class="form-control"
                                   ng-class="{'ng-dirty': newChannelSettings.facebook.isConversionValue}"
                                   min="0"
                                   ng-pattern="metadata.numberWithUpToTwoDecimals"
                                   ng-required="newChannelSettings.facebook.conversionValue">
                            <div ng-messages="form.channelSettings.fbConversionValue.$error" ng-if='form.channelSettings.fbConversionValue.$pristine === false || form.channelSettingsSubmitted' ng-messages-include="channel-settings-messages"></div>
                          </div>
                          <!-- Regular Bid-->
                          <div class="col-md-10" ng-if="newChannelSettings.facebook.isConversionValue">
                            <div class="bid-and-cpa-message">{{ 'label.act.Setthevalueyouplaceonthegoal' | translate }}</div>
                          </div>
                          <!-- Auto Bid-->
                          <div class="col-md-10" ng-if="!newChannelSettings.facebook.isConversionValue">
                            <div class="bid-and-cpa-message">{{ 'label.act.Facebookwillsetaconversionvalueforyourgoal' | translate }}</div>
                          </div>
                        </div>
                      </div>
                      <!-- End Set Conversion Value -->
                        <!-- Set CPA Alert -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="toggleFbCpaLimit"
                                           type="checkbox"
                                           ng-click="setFocusOnElementIfCheckboxIsChecked('fbCpaLimit', newChannelSettings.facebook.isCpaLimit)"
                                           ng-model="newChannelSettings.facebook.isCpaLimit"/>
                                    <label for="toggleFbCpaLimit">
                                        <h4>{{ 'label.act.SetCPALimitAlert' | translate }}</h4>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input name="fbCpaLimit"
                                           id="fbCpaLimit"
                                           type="number"
                                           placeholder="4.35 {{newChannelSettings.facebook.adAccount.currency}}"
                                           ng-model="newChannelSettings.facebook.cpaLimit"
                                           class="form-control"
                                           ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                           min="0"
                                           ng-pattern="metadata.numberWithUpToTwoDecimals"
                                           ng-required="newChannelSettings.facebook.cpaLimit">
                                    <div ng-messages="form.channelSettings.fbCpaLimit.$error" ng-if='form.channelSettings.fbCpaLimit.$pristine === false || form.channelSettingsSubmitted' ng-messages-include="channel-settings-messages"></div>
                                </div>
                                <div class="col-md-10">
                                    <div class="bid-and-cpa-message">{{ 'label.act.cpaLimitMessage' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Set CPA Alert -->
                    </fs-accordion-group>
                    <!-- End Facebook -->

                    <!-- Twitter -->
                    <fs-accordion-group header='Twitter' is-open="::campaign.settings.channels.twitter" is-disabled="::!campaign.settings.channels.twitter">
                        <!-- Choose Ad Account -->
                         <div class="row">
                             <div class="form-group">
                                 <div class="col-md-6">
                                     <h4>{{ 'label.act.ChooseAdAccount' | translate }}</h4>
                                 </div>
                                 <div ng-if="!twitterSpecificGoal" class="col-md-8">
                                     <fs-select
                                         name="twAdAccount"
                                         ng-model="newChannelSettings.twitter.adAccount"
                                         fs-options="twitterAdAccount as twitterAdAccount.name for twitterAdAccount in campaign.api.twitter.adAccounts"
                                         ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                         ng-required="newChannelSettings.twitter"
                                         ng-change="onTwAdAccountChange()"
                                         default-text="{{ 'label.act.ChooseAdAccount' | translate }}">
                                     </fs-select>
                                     <div ng-messages="form.settings.twAdAccount.$error" ng-if='form.settings.twAdAccount.$pristine === false || form.settingsSubmitted' ng-messages-include="settings-messages"></div>
                                 </div>
                                 <div ng-if="twitterSpecificGoal" class="col-md-8 tooltipped tooltipped-n tooltipped-multiline" aria-label="{{ 'label.act.tooltip.OnlytheAdAccountassociatedwiththehandle' | translate }}">
                                   <div class="false-fs-select">
                                      {{newChannelSettings.twitter.adAccount.name}}
                                   </div>
                                 </div>
                                 <div class="col-md-6 ad-account-currency-message">
                                     {{ 'label.act.AdAccountcurrency:' | translate }} <b>{{newChannelSettings.twitter.adAccount.currency}}</b>
                                 </div>
                             </div>
                          </div>
                          <div class="error-message" ng-if="!newChannelSettings.twitter.adAccount">
                              {{'label.act.Pleaseselectanadaccount' | translate}}
                          </div>
                          <div class="row">
                             <div class="col-md-12">
                                 <div class="form-group">
                                 </div>
                             </div>
                         </div>
                         <!-- Choose Bid Type -->
                         <div class="row">
                             <div class="form-group">
                                 <div class="col-md-6">
                                     <h4>{{ 'label.act.ChooseBiddingType' | translate }}</h4>
                                 </div>
                                 <div class="col-md-8">
                                     {{ 'label.act.TwitteronlysupportsaCPCbiddingtype' | translate }}
                                 </div>
                             </div>
                         </div>
                          <!-- Set Max Bid -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="toggleTwMaxBid"
                                           ng-click="setFocusOnElementIfCheckboxIsChecked('twMaxBid', newChannelSettings.twitter.isMaxBid)"
                                           type="checkbox"
                                           ng-model="newChannelSettings.twitter.isMaxBid"/>
                                    <label for="toggleTwMaxBid">
                                        <h4>{{ 'label.act.SetMaxBid' | translate }}</h4>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input name="twMaxBid"
                                           id="twMaxBid"
                                           type="number"
                                           placeholder="4.35 {{newChannelSettings.twitter.adAccount.currency}}"
                                           ng-model="newChannelSettings.twitter.maxBid"
                                           class="form-control"
                                           ng-class="{'ng-dirty': newChannelSettings.twitter.isMaxBid}"
                                           min="0"
                                           ng-pattern="metadata.numberWithUpToTwoDecimals"
                                           ng-required="newChannelSettings.twitter.maxBid">
                                    <div ng-messages="form.channelSettings.twMaxBid.$error" ng-if='form.channelSettings.twMaxBid.$viewValue.length > 0' ng-messages-include="channel-settings-messages"></div>
                                </div>
                                <div class="col-md-10">
                                    <div class="bid-and-cpa-message">{{ 'label.act.maxBidMessage' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Set Max Bid -->
                        <!-- Set CPA Alert -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="toggleTwCpaLimit"
                                           ng-click="setFocusOnElementIfCheckboxIsChecked('twCpaLimit', newChannelSettings.twitter.isCpaLimit)"
                                           type="checkbox"
                                           ng-model="newChannelSettings.twitter.isCpaLimit"/>
                                    <label for="toggleTwCpaLimit">
                                        <h4>{{ 'label.act.SetCPALimitAlert' | translate }}</h4>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input name="twCpaLimit"
                                           id="twCpaLimit"
                                           type="number"
                                           placeholder="4.35 {{newChannelSettings.twitter.adAccount.currency}}"
                                           ng-model="newChannelSettings.twitter.cpaLimit"
                                           class="form-control"
                                           ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                           min="0"
                                           ng-pattern="metadata.numberWithUpToTwoDecimals"
                                           ng-required="newChannelSettings.twitter.cpaLimit">
                                    <div ng-messages="form.channelSettings.twCpaLimit.$error" ng-if='form.channelSettings.twCpaLimit.$pristine === false || form.channelSettingsSubmitted' ng-messages-include="channel-settings-messages"></div>
                                </div>
                                <div class="col-md-10">
                                    <div class="bid-and-cpa-message">{{ 'label.act.cpaLimitMessage' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Set CPA Alert -->
                     </fs-accordion-group>
                     <!-- End Twitter -->

                    <!-- Adwords -->
                    <fs-accordion-group header='AdWords' is-open="::newChannelSettings.adwords" is-disabled="::!newChannelSettings.adwords">
                        <!-- Choose Ad Account -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>{{ 'label.act.ChooseAdAccount' | translate }}</h4>
                                </div>
                                <div class="col-md-8">
                                    <fs-select
                                            name="awAdAccount"
                                            ng-model="newChannelSettings.adwords.adAccount"
                                            fs-options="adwordsAdAccount as adwordsAdAccount.name for adwordsAdAccount in campaign.api.adwords.adAccounts"
                                            ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                            ng-required="newChannelSettings.adwords"
                                            default-text="{{ 'label.act.ChooseAccount' | translate }}">
                                    </fs-select>
                                </div>
                                <div class="col-md-6 ad-account-currency-message">
                                    {{ 'label.act.AdAccountcurrency:' | translate }} <b>{{newChannelSettings.adwords.adAccount.currency}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="error-message" ng-if="!newChannelSettings.adwords.adAccount">
                            {{'label.act.Pleaseselectanadaccount' | translate}}
                        </div>
                        <!-- END Choose Ad Account -->
                        <!-- Choose Bid Type -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h4>{{ 'label.act.ChooseBiddingType' | translate }}</h4>
                                </div>
                                <div class="col-md-8">
                                    {{ 'label.act.AdwordsonlysupportsaCPCbiddingtype' | translate }}
                                </div>
                            </div>
                        </div>
                        <!-- End Choose Bid Type -->
                        <!-- Choose Max Bid -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="awToggleMaxBid"
                                           type="checkbox"
                                           ng-click="setFocusOnElementIfCheckboxIsChecked('awMaxBid', newChannelSettings.adwords.isMaxBid)"
                                           ng-model="newChannelSettings.adwords.isMaxBid"/>
                                    <label for="awToggleMaxBid">
                                        <h4>{{ 'label.act.SetMaxBid' | translate }}</h4>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input name="awMaxBid"
                                           id="awMaxBid"
                                           type="number"
                                           placeholder="4.35 {{newChannelSettings.adwords.adAccount.currency}}"
                                           ng-model="newChannelSettings.adwords.maxBid"
                                           class="form-control"
                                           ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                           min="0"
                                           ng-pattern="metadata.numberWithUpToTwoDecimals"
                                           ng-required="newChannelSettings.adwords.maxBid">
                                    <div ng-messages="form.channelSettings.awMaxBid.$error" ng-if='form.channelSettings.awMaxBid.$pristine === false || form.channelSettingsSubmitted' ng-messages-include="channel-settings-messages"></div>
                                </div>
                                <div class="col-md-10">
                                    <div class="bid-and-cpa-message">{{ 'label.act.maxBidMessage' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Choose Max Bid -->
                        <!-- Choose CPA Alert -->
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="toggleAwCpaLimit"
                                           type="checkbox"
                                           ng-click="setFocusOnElementIfCheckboxIsChecked('awCpaLimit', newChannelSettings.adwords.isCpaLimit)"
                                           ng-model="newChannelSettings.adwords.isCpaLimit"/>
                                    <label for="toggleAwCpaLimit">
                                        <h4>{{ 'label.act.SetCPALimitAlert' | translate }}</h4>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input name="awCpaLimit"
                                           id="awCpaLimit"
                                           type="number"
                                           placeholder="4.35 {{newChannelSettings.adwords.adAccount.currency}}"
                                           ng-model="newChannelSettings.adwords.cpaLimit"
                                           class="form-control"
                                           ng-class="{'ng-pristine': !form.settingsSubmitted}"
                                           min="0"
                                           ng-pattern="metadata.numberWithUpToTwoDecimals"
                                           ng-required="newChannelSettings.adwords.cpaLimit">
                                    <div ng-messages="form.channelSettings.awCpaLimit.$error" ng-if='form.channelSettings.awCpaLimit.$pristine === false || form.channelSettingsSubmitted' ng-messages-include="channel-settings-messages"></div>
                                </div>
                                <div class="col-md-10">
                                    <div class="bid-and-cpa-message">{{ 'label.act.cpaLimitMessage' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- End Choose CPA Alert -->
                    </fs-accordion-group>
                    <!-- End AdWords-->

                </fs-accordion>
            </div>
        </div>
    </form>
</div>



<div class="modal-footer">
    <div class="row">
        <div class="col-md-24 text-right">
            <button type="button" ng-click="closeChannelSettingsModal(true)" class="btn btn-solid btn-primary">{{ 'label.act.SaveSettings' | translate }}</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="channel-settings-messages" class="error-message">
    <div ng-message="required" class="error-message"> {{ 'label.act.Thisfieldisrequired' | translate }}</div>
    <div ng-message="number" class="error-message"> {{ 'label.act.Numbernotvalid' | translate }}</div>
    <div ng-message="pattern" class="error-message"> {{ 'label.act.Youcanenteruptotwodecimalsonly' | translate }}</div>
</script>
