<div class="modal-header">
    <h2>{{campaign.settings.goal.formattedGoalName }} </h2>
</div>
<form name="form.creative" id="creativeForm" novalidate>

    <div class="row">
        <!-------------------------------------- LEFT PART ------------------------------------------->
        <div class="col-md-10 col-md-offset-1">
            <!-- Headline-->
            <div class="form-group">
                <h4 class="inline-block">{{ 'label.act.headline' | translate }}</h4><span class="pull-right">{{25 - form.creative.headline.$viewValue.length}}</span>
                <input type="text" name="headline" ng-model="newCreative.creative.headline"
                       placeholder="Enter your headline" required ng-maxlength="25" class="form-control"
                       ng-class="{'ng-pristine': !form.creative.submitted}">

                <div ng-messages="form.creative.headline.$error"
                     ng-if="form.creative.headline.$touched || form.creative.submitted"
                     ng-messages-include="campaign-creation-messages"></div>
            </div>
            <!-- Description Line 1-->
            <div class="form-group">
                <h4 class="inline-block">{{ 'label.act.DescriptionLine1' | translate }}</h4><span class="pull-right">{{35 - form.creative.descriptionLine1.$viewValue.length}}</span>
                <input type="text" name="descriptionLine1" ng-model="newCreative.creative.descriptionLine1"
                       placeholder="Enter your description" required ng-maxlength="35" class="form-control"
                       ng-class="{'ng-pristine': !form.creative.submitted}">

                <div ng-messages="form.creative.descriptionLine1.$error"
                     ng-if="form.creative.descriptionLine1.$touched || form.creative.submitted"
                     ng-messages-include="campaign-creation-messages"></div>
            </div>
            <!-- Description Line 2-->
            <div class="form-group">
                <h4 class="inline-block">{{ 'label.act.DescriptionLine2' | translate }}</h4><span class="pull-right">{{35 - form.creative.descriptionLine2.$viewValue.length}}</span>
                <input type="text" name="descriptionLine2" ng-model="newCreative.creative.descriptionLine2"
                       placeholder="Enter your description" required ng-maxlength="35" class="form-control"
                       ng-class="{'ng-pristine': !form.creative.submitted}">

                <div ng-messages="form.creative.descriptionLine2.$error"
                     ng-if="form.creative.descriptionLine2.$touched || form.creative.submitted"
                     ng-messages-include="campaign-creation-messages"></div>
            </div>
            <!-- Display URL-->
            <div class="form-group">
                <h4 class="inline-block">{{ 'label.act.DisplayUrl' | translate }}</h4><span class="pull-right">{{35 - form.creative.displayUrl.$viewValue.length}}</span>
                <input type="text"
                       name="displayUrl"
                       ng-model="newCreative.creative.displayUrl"
                       ng-model-options= "urlModelOptions"
                       placeholder="mysite.com"
                       ng-maxlength="35"
                       required
                       class="form-control"
                       ng-change="validateDisplayUrl(); checkDisplayUrlFormat()"
                       ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid': newCreative.isDisplayUrlWronglyFormatted || newCreative.isDisplayUrlInvalid || newCreative.isDisplayDomainTypedDifferentFromGoalDomain }"/>

                <div ng-messages="form.creative.displayUrl.$error"
                     ng-if='form.creative.url.$touched || form.creative.submitted'
                     ng-messages-include="campaign-creation-messages">
                </div>
                <div class="error-message"
                    ng-if="newCreative.isDisplayUrlWronglyFormatted">
                  {{'label.act.displayUrlProtocolErrorMessage' | translate}}
                </div>
                <div class="error-message"
                   ng-if="newCreative.isDisplayUrlInvalid">
                {{'label.act.Theurlisnotvalid' | translate}}
                </div>
                <div
                        class="error-message"
                        ng-if="form.creative.displayUrl.$touched && form.creative.displayUrl.$invalid &&
                        form.creative.displayUrl.$viewValue.length > 0 ">
                    {{ 'label.act.Theurlisnotvalid' | translate }}
                </div>
                <div class="error-message"
                     ng-if="!form.creative.displayUrl.$invalid && newCreative.isDisplayDomainTypedDifferentFromGoalDomain && form.creative.displayUrl.$viewValue.length > 0">
                  {{ 'label.act.urlDomaintoGoalDomainValidationMessage' | translate }}
                </div>
            </div>
            <!-- Destination URL-->
            <div class="form-group">
                <h4 class="inline-block">{{ 'label.act.DestinationUrl' | translate }}</h4>
                <span class="tracking-in-url"
                      ng-if="newCreative.trackingScriptStateInUrl === 'processing'">
                  <img class="tracking-verify-loading" ng-src="assets/images/ajax-loader.gif">
                </span>
                <span class="tracking-in-url found"
                      ng-if="newCreative.trackingScriptStateInUrl === 'pass' && !form.creative.destinationUrl.$invalid">
                  {{ 'label.act.TrackingValidated' | translate }}
                </span>
                <input type="text"
                       name="destinationUrl"
                       ng-model="newCreative.creative.destinationUrl"
                       ng-model-options= "urlModelOptions"
                       placeholder="http://www.mysite.com"
                       required class="form-control"
                       ng-pattern="fullUrlRegex"
                       ng-change="validateDestinationUrl(); checkIfUrlContainsTrackingScript()"
                       ng-class="{'ng-pristine': !form.creative.submitted, 'ng-invalid': newCreative.isDestinationDomainTypedDifferentFromGoalDomain || newCreative.trackingScriptStateInUrl === 'fail'}"/>

                <div ng-messages="form.creative.destinationUrl.$error"
                     ng-if='form.creative.destinationUrl.$touched || form.creative.submitted'
                     ng-messages-include="campaign-creation-messages">

                </div>
                <div class="error-message"
                    ng-if="
                  form.creative.destinationUrl.$invalid &&
                  form.creative.destinationUrl.$viewValue.length > 0 ">
                {{ 'label.act.Theurlisnotvalid' | translate }}
                </div>
                <div class="error-message"
                    ng-if="!form.creative.destinationUrl.$invalid && newCreative.isDestinationDomainTypedDifferentFromGoalDomain && form.creative.destinationUrl.$viewValue.length > 0">
                    {{ 'label.act.urlDomaintoGoalDomainValidationMessage' | translate }}
                </div>
                <div class="error-message"
                    ng-if="newCreative.trackingScriptStateInUrl === 'fail'">
                    {{ 'label.act.Unabletovalidatetracking' | translate }}
                </div>
            </div>
        </div>
        <!-------------------------------------- END LEFT PART ------------------------------------------->
        <!-------------------------------------- RIGHT PART ------------------------------------------->
        <div class="col-md-10 col-md-offset-1">
            <!-- Site Ad -->
            <div class="form-group">
                <h4 class="inline-block">{{ 'label.act.SideAd' | translate }}</h4>

                <div class="content-white">
                    <p class="aw-headline">{{newCreative.creative.headline}}</p>

                    <p class="aw-url">{{form.creative.displayUrl.$viewValue}}</p>
                    <!-- Display the view value because when the user starts typing, the url isn't valid and therefore isn't binded -->
                    <p>{{newCreative.creative.descriptionLine1}}</p>

                    <p>{{newCreative.creative.descriptionLine2}}</p>
                </div>
            </div>
            <!-- Top & Bottom Ad-->
            <div class="form-group empty-settings-form-3">
                <h4 class="inline-block">{{ 'label.act.Top&BottomAd' | translate }}</h4>

                <div class="content-white">
                    <p class="aw-headline">{{newCreative.creative.headline}} <span
                            ng-if="displayDescriptionNextToHeadline">- {{newCreative.creative.descriptionLine1}}</span>
                    </p>

                    <p class="aw-url">{{form.creative.displayUrl.$viewValue}}</p>
                    <!-- Display the view value because when the user starts typing, the url isn't valid and therefore isn't binded -->
                    <p ng-if="!displayDescriptionNextToHeadline">{{newCreative.creative.descriptionLine1}}</p>

                    <p>{{newCreative.creative.descriptionLine2}}</p>
                </div>
            </div>
            <div class="form-group empty-settings-form-3">
                {{ 'label.act.Pleaserefertothe' | translate }} <a
                    href="https://support.google.com/adwordspolicy/answer/6008942" target="_blank">{{
                'label.act.AdWordspolicies' | translate }}</a> {{ 'label.act.andmakesureyouradiscompliant' | translate
                }}
            </div>
        </div>
        <!-------------------------------------- END RIGHT PART ------------------------------------------->
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-24 text-right">
              <!-- Show a message to let the user know the tracking validation is in progress-->
                <span ng-if="newCreative.trackingScriptStateInUrl === 'processing'">
                    {{ 'label.act.UrlValidationMessage' | translate }}
                </span>
                 <!-- <input id="save-to-library" ng-click="saveCreativeToLibraryCheckbox = !saveCreativeToLibraryCheckbox" type="checkbox"/>
                <label for="save-to-library">{{'label.act.SaveCreativeasTemplate' | translate }}</label> -->
                <!-- Save and Close Modal-->
                <!--  <button ng-click="loadCreativeFromLibrary();" onclick="this.blur();" class="btn-solid btn-tertiary">Load Creative From Library</button> -->
                <button type="button"
                        ng-click="saveCreative(form.creative, saveCreativeToLibraryCheckbox);"
                        class="btn btn-solid btn-primary"
                        ng-disabled="newCreative.trackingScriptStateInUrl === 'processing' || metadata.displayWaitMessage > 0">
                    {{ 'label.act.SaveCreative' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div ng-init="setForm(form.creative, newCreative.isValid);"></div>
</form>
<!--{{newCreative}}-->
