<div class="fs-slide">
  <div class="fs-slide-component fs-slide-bar fs-slide-bar-bg"
       ng-class="{ active: active }"></div>
  <div class="fs-slide-component fs-slide-bar fs-slide-bar-fg"
       style="width: {{ x }}%"
       ng-class="{ animate : !drag && active, active: active }"></div>
  <div class="fs-slide-component fs-slide-circ shadow"
       style="left: {{ x }}%"
       ng-class="{ animate : !drag && active, active: active }"></div>
  <div class="fs-slide-component fs-slide-circ dot"
       style="left: {{ x }}%"
       ng-class="{ animate : !drag && active, active: active, disabled: x === 0 }">
    <span class="dot-inner"></span>
  </div>
</div>
