
.fs-slide {
  position: relative;
  height: 3rem;
}

.fs-slide-component {
  position: absolute;
}

.fs-slide-bar {
  height: 0.25rem;
  background: #eee;
  top: 50%;
  margin-top: -0.125rem;
}

.fs-slide-bar-bg {
  width: 100%;
  background: @pale-light;
}
.fs-slide-bar-bg.active {
  height: 0.375rem;
  top: 50%;
  background: #fff;
  margin-top: -0.1875rem;
  box-shadow: 0 1px 5px -4px #000;
}

.fs-slide-bar-fg {
  width: 46%;
  background: @nature-heavy;
}
.fs-slide-bar-fg.active {
  width: 46%;
  background: @leaf-medium;
}
.fs-slide-bar-fg.animate {
  transition: width 0.5s cubic-bezier(.55,0,.1,1);
}

.fs-slide-circ {
  width: 1rem;
  height: 1rem;
  background: @nature-heavy;
  top: 50%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  border-radius: 50%;
  left: 10%;
}
.fs-slide-circ.animate {
  transition: left  0.5s cubic-bezier(.55,0,.1,1);
}
.fs-slide-circ.shadow {
  transition: margin-left  0.4s cubic-bezier(.55,0,.1,1),
    margin-top  0.4s cubic-bezier(.55,0,.1,1),
    width  0.4s cubic-bezier(.55,0,.1,1),
    height 0.4s cubic-bezier(.55,0,.1,1);
  background: rgba(23,25,44, 0.1);
}
.fs-slide-circ.active.shadow {
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
}
.fs-slide-circ.dot.active {
  background: @leaf-medium;
  .dot-inner {
    display: inline;
  }
}
.fs-slide-circ.disabled {
  background: #aeaeae;
}
.fs-slide-circ.dot {
  cursor: move;
}
.dot-inner {
  display: none;
  width: 0.125rem;
  height: 50%;
  position: absolute;
  background: lighten(@leaf-medium, 8%);
  left: 50%;
  top: 25%;
  border-radius: 50%;
  margin-left: -0.0625rem;
}
