.fs-tabset-nav.vertical-tabs {
  /*border-bottom: 0;*/
}

ul.vertical-tabs {
  width: 25%;
  direction: rtl;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-width: 1px 0px 1px 1px;
  position: absolute;
  margin-left: -3px;
  height: 370px;
}
ul.vertical-tabs li {
  display: block;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 0px;
  margin-left: 0;
}

ul.vertical-tabs li a {
  padding: 0;
  margin: 0;
  text-align: left;
}

ul.vertical-tabs li:last-child {
  border-bottom: 0 !important;
}

.vertical-tabs > li.active {
  /*border-bottom: 0;*/
  border-right-width: 0;
  background-color: transparent;
  border-bottom: 1px solid #ccc !important;
  border-right: 1px solid #fff !important;
}

.vertical-tabs.fs-tab-content  {
  width: 75%;
  float:right;
  padding: 10px;
  height: 370px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

.vertical-tabs-wrapper {
  float: left;
}

.fs-tab-content.vertical-tabs .fs-tab-content.vertical-tabs, .fs-tab-content.vertical-tabs ul{
  border: 0;

}

.fs-tab-content.vertical-tabs .fs-tab-content.vertical-tabs, .fs-tab-content.vertical-tabs {
  padding: 10px 20px;
}

.fs-tab-content-for-columns {
  padding: 0 .5rem !important;

}

