<div>
  <div ng-if="tabsType ==='horizontal-tabs'">
    <ul class="fs-tabset-nav" ng-class="{'vertical': vertical, 'justified': justified}" ng-transclude></ul>
    <div class="fs-tab-content">
      <div class="tab-pane"
           ng-repeat="tab in tabs"
           ng-class="{active: tab.active, hidden: !tab.active}"
           type="{{tabsType}}"
           tab-content-transclude="tab">
      </div>
    </div>
  </div>
  <div ng-if="tabsType ==='vertical-tabs'">
    <div class="fs-tab-content vertical-tabs" ng-class="{'fs-tab-content-for-columns': multipleColumns == 'true' }">
      <div class="tab-pane"
           ng-repeat="tab in tabs"
           ng-class="{active: tab.active, hidden: !tab.active}"
           type="{{tabsType}}"
           tab-content-transclude="tab">
      </div>
    </div>
    <div class="vertical-tabs-wrapper">
      <ul class="fs-tabset-nav vertical-tabs" ng-transclude></ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
