<div class="fs-click-to-edit">
  <div ng-mouseenter="hoverEdit = true" ng-mouseleave="hoverEdit = false">
    <div ng-if="!view.editorEnabled && view.showEditButton">
        <span class="clicktoedit-value"></span>
        <a class="button" ng-click="internalEnableEditor()">Edit</a>
    </div>
    <div ng-if="!view.editorEnabled && !view.showEditButton">
        <!-- If the value is a currency, add the currency filter-->
      <span ng-if="!isCurrency && view.unlimited && value < 0" ng-click="internalEnableEditor()">Unlimited</span>
      <span ng-if="!isCurrency && !(view.unlimited && value < 0)" ng-click="internalEnableEditor()" class="clicktoedit-value"></span>
      <span ng-if="isCurrency && view.unlimited && value < 0" ng-click="internalEnableEditor()">Unlimited</span>
      <span ng-if="isCurrency && !(view.unlimited && value < 0)" ng-click="internalEnableEditor()" class="clicktoedit-value"></span>
      <span ng-click="internalEnableEditor()" ng-show="hoverEdit" class="disableSelection" style="display: inline;">
        <iconic class="pencil-coloring" static data-src="pencil-sm.svg"></iconic>
      </span>
    </div>
    <div ng-if="view.editorEnabled">
        <input ng-blur="save()" type="text" class="small-12.columns form-control" placeholder="{{view.placeholder}}" ng-model="view.editableValue">
        <div ng-if="view.showSaveCancel">
          <a class="button" href ng-click="save()">Save</a>
          <a class="button" ng-click="cancel()">Cancel</a>
        </div>
    </div>
    </div>
</div>
