<div class="tw-app-content">
    <div class="tw-header" ng-if="tweetPreviewImage">
        <img class="tw-avatar" ng-src="{{tweetPreviewImage}}">
        <strong class="tw-fullname">{{tweetPreviewName}}</strong>
        <span class="tw-username">@{{tweetPreviewHandle}}</span>
    </div>
    <p class="tw-tweet-text">{{creative.creative.tweetText}}</p>
    <div class="tw-app-card-container">
        <div class="tw-app-image" fs-back-img url="getImageEndpoint + creative.creative.image">
        </div>
        <div class="tw-app-card-content-container">
            <div class="tw-app-card-button"><span><b>{{creative.creative.tweetCardCallToAction | formatCallToAction:'twitter'}}</b></span></div>
            <div class="tw-app-name">{{selectedApp}}</div>
            <div class="tw-ratings">Ratings/pricing not available for preview</div>
        </div>
    </div>
    <div class="tw-footer"></div>
    <div class="tw-grey-arrow"></div>

</div>
