<div class="tw-content">
  <div class="tw-header" ng-if="tweetPreviewImage">
    <img class="tw-avatar" ng-src="{{tweetPreviewImage}}">
    <strong class="tw-fullname">{{tweetPreviewName}}</strong>
    <span class="tw-username">@{{tweetPreviewHandle}}</span>
    <small class="tw-time">{{creative.selectedTweet.createdAt | date:'MMM d' }}</small>
  </div>
  <p class="tw-tweet-text">{{creative.selectedTweet.tweetText}}</p>
  <div class="tw-card-container" ng-if="creative.selectedTweet.listMedia">
    <img class="tw-card-image" ng-src="{{creative.selectedTweet.listMedia[0].mediaUrl}}">
  </div>
  <div class="tw-footer"></div>
  <div class="tw-grey-arrow"></div>
</div>

