<div class="tw-content">
    <div class="tw-header" ng-if="tweetPreviewImage">
        <img class="tw-avatar" ng-src="{{tweetPreviewImage}}">
        <strong class="tw-fullname">{{tweetPreviewName}}</strong>
        <span class="tw-username">@{{tweetPreviewHandle}}</span>
        <small class="tw-time">{{tweetPreviewDate}}</small>
    </div>
    <p class="tw-tweet-text">{{creative.creative.tweetText}}</p>

    <div class="tw-context"> <img src="/assets/images/twPromotedY.png" class="tw-yellow-arrow" />  Promoted</div>
</div>