<div class="tw-content">
    <div class="tw-header" ng-if="tweetPreviewImage">
        <img class="tw-avatar" ng-src="{{tweetPreviewImage}}">
        <strong class="tw-fullname">{{tweetPreviewName}}</strong>
        <span class="tw-username">@{{tweetPreviewHandle}}</span>
        <small class="tw-time">{{tweetPreviewDate}}</small>
    </div>
    <p class="tw-tweet-text">{{creative.creative.tweetText}}</p>
    <div class="tw-card-container">
        <div class="tw-card-image" fs-back-img url="getImageEndpoint + creative.creative.image">
        </div>
        <div class="tw-card-content-container">
            <div class="tw-card-button"><span><b>{{creative.creative.tweetCardCallToAction | formatCallToAction:'twitter'}}</b></span></div>
            <strong class="tw-card-title">{{creative.creative.tweetCardHeadline}}</strong>
            <span class="tw-card-destination">{{creative.creative.tweetCardURL}}</span>
        </div>
    </div>
    <div class="tw-footer"></div>
    <div class="tw-grey-arrow"></div>
</div>