<form ng-submit="passwordCheck()" name="form.passwordCheck" id="passwordCheck" novalidate>
  <div class="modal-body modal-body-members">
    <h3>{{'label.align.accountSettings.PasswordCheck' | translate}}</h3>
    <div class="form-group">
      <h4>{{'label.align.accountSettings.Password' | translate}}<font color="red">*</font></h4>
      <input fs-enter="passwordCheck()" fs-focus-input="{{focusPasswordInput}}" type="password" ng-minlength="6" placeholder="{{'label.align.accountSettings.Password' | translate}}" ng-model="password" class="form-control" required>
    </div>
  </div>
  <div class="modal-footer modal-members-footer">
    <button class="btn-solid" type="submit" ng-disabled="processing || !form.passwordCheck.$valid">{{'label.align.accountSettings.Check' | translate}}</button>
  </div>
</form>
