.fs-meter {
  .meter-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: ellipse;
  }
  .meter-bar {
    display: block;
    height : 4 / @unitem;  
    background-color: @leaf-medium;
  } 
}
