
fs-vis-multiseries {
  display: inline;
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  > svg {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }
}


line.guideline {
  stroke : #334;
  stroke-width: 1px;
  stroke-dasharray: 5, 5; 
}

path.bubble {
  fill: white;
  stroke: #000;
  stroke-width: 1px;
}

path.line {
  fill : none;
}

.voronoi{
  fill: none;
  stroke-width: 0;
}

.area {
  stroke-width: 0;  
}

