.fix-ratio-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  > .contents {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@slide-control-width : 2em;
@gallery-padding: @slide-control-width - @grid-gutter-width/2;
.gallery-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 @gallery-padding;
}
.gallery-container {
  .gallery-everything {
    position: absolute;
    top: 0;
    left : 0;
    height: 100%;
    min-width: 1px;
  }
  .slide-left, .slide-right {
    height: 100%;
    width: @slide-control-width;
    background: @tin-heavy;
    position: absolute;
    cursor: pointer;
    .fa {
      position: absolute;
      top: 50%;
      left: 0.5em;
      transform: translateY(-50%);
      color: @pale-light;
    }
  }
  .slide-left {
    left: -@gallery-padding + 2 / @unitem;
    border-right: 2px solid @nature-heavy;
  }
  .slide-right {
    right: -@gallery-padding + 1 / @unitem;
    border-left: 2px solid @nature-heavy;
  }
}
[fs-gallery-item], fs-gallery-item, .fs-gallery-item {
  display: block;
  float : left;
  height: 100%;
  overflow: hidden;
}

.gallery-pagers {
  text-align: center;
  margin: 0 -0.5em;
  font-size: 0.8125em;
  .pager {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid @leaf-light;
    color: @nature-heavy;
    margin: 0.5em;
    padding: 0.75em 0 0 0;
    line-height: 100%;
    width: 2.5em;
    height: 2.5em;
    sup {
      left: -0.25em;
    }
    &.active {
      background-color: @leaf-light;
      color: @nature-heavy;
      border-color: @leaf-medium;
    }
    &.active-2 {
      border-color: @leaf-soft;
    }
    &.active-3 {
      border-color: @leaf-light;
    }
  }
}
