.uploadOverlayContainer{
  position: relative;
}

.library-modal-container{
  background-color: @mono;
}

.library-header{
  top: 0;
  margin-left: 0.75em;
  //margin-top: -.5em;
}

.open-custom-aud {
  position: absolute;
  top: 1.5em;
  right: 5%;
}

.cards-container{
  min-height: 19.4em;
  margin-top: 3em;
}

.card-footer-container{
  clear: both;
  margin-top: 0.5em;
}

.drag-file{
  padding: 1.5em;
  text-align: center;
  .lib-button{
    width: 15%;
    margin: 0 auto;
    cursor: pointer;
    &:hover{
      h3{
        color: @body-bg;
      }
    }
  }
}
.upload-progress-indicator{
  top: 133px;
  position: absolute;
  left: 17px;
}

.no-data-available{
  text-align: center;
  padding-top: 5em;
}

// .lib-section .iconic svg{
//   transform: scale(.45);
// }

.uploadOverlayContainer .lib-body{
  opacity: 0.8;
}

.file-dragged{
  display: none;
}

.lib-drag-image{
  // display: block;
  // padding: 0.5em;
  outline: 2px dashed black;
}

.tabs-container{
  // min-height: 19.9em;
}

.tab-content{
  clear: both;
  margin-top: 1em;
  // min-height: 15em;
}

.item-container {
  padding: 4px;
  outline: 1px solid black;
}

.lib-button-large{
  width: 2em;
  height: 2em;

}

.card-set-underline {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.card-set-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  // background: @nature-heavy;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  // -webkit-transition-duration: 0.2s;
  // transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.card-set-underline:hover:before, .card-set-underline:focus:before, .card-set-underline:active:before {
  left: 0;
  right: 0;
}

.card {
  cursor: pointer;
  display: inline-block;
  background: @white;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  width: 90%;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, @white, @mono);
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  outline: 1px solid @body-bg;
  background-color: @white;
  color: @tin-light;

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @pale-dark;
    // margin: 1em 0;
    padding: 0;
    // background-color: @pale-heavy;
  }

  &:hover{
    // outline: 2px solid @nature-heavy;
    background-color: @nature-light;
  }

  img {
    width: 100%;
    border-bottom: 1px solid @mono-light;
    padding-bottom: 15px;
    margin-bottom: 5px;
    &.lib-creative-image{
      width: 50%;
      float: right;
      margin-top: -6em;
    }
  }

  p {
    color: @tin-medium;
    margin-bottom: .5em;
    width: 95%;
  }
  .card-body{
    &.campaign{
      float: left;
      margin-right: 0.5em;
    }
  }

  &.audience-card{
    h4 {
      text-align: center;
      border-bottom: 1px solid @mono-light;
      margin-bottom: .5em;
      width: 97%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .card-body-segments{
      height: 10em;
      overflow: auto;
      margin-top: .5em;
      padding-bottom: 2em;
    }
  }

  &.combos-card {
    h4 {
      text-align: center;
      border-bottom: 1px solid @mono-light;
      margin-bottom: .5em;
      width: 97%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .card-body {
      height: 8em;
      .card-goal {
        font-size: 0.7em;
        bottom: 2.5em;
        position: absolute;
        width: 85%;
      }
    }
  }

  .fa-trash-o{
    position: absolute;
    right: 15px;
    bottom: 5px;
    padding: 0.25em;
    opacity: 0.7;
    color: @tin-heavy;
    &:hover{
      opacity: 1;
      transform: scale(1.1);
    }
  }

  .fa-pencil-square-o{
    position: absolute;
    right: 40px;
    bottom: 4px;
    padding: 0.25em;
    opacity: 0.7;
    color: @tin-heavy;
    &:hover{
      opacity: 1;
      transform: scale(1.1);
    }
  }

  .card-body,
  .card-body-2{
    height: 7em;
  }

}

.image-files-container{
  font-size: 1em;
  padding: 1em;
  background-color: @body-bg;
  opacity: 1;
  .files-header{
    border-bottom: 1px solid darken(@body-bg, 10%);
    margin-bottom: 0.25em;

  }
  .file-name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover{
      text-overflow: initial;
      overflow: visible;
      white-space: pre-line;
    }
  }
  .remove-file{
    cursor: pointer;
    &:hover{
      color: darken(@body-bg, 20%);
    }
  }
}

.card:hover .expand{
  display: block;
}

.lib-section{
  background-color: @body-bg;
  padding: 2em;
  padding-bottom: 5em;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  div{
    margin: 1em;
  }
  /*outline: 1px solid black;*/
}

.lib-section:hover{
  opacity: 0.8;
}

.back-button{
  padding: 4px;
  float: right;
  cursor: pointer;
  border: 1px solid black;
}

.back-button:hover{
  background-color: black;
  color: #fff;
}
.expand{
  float: right;
  display: none;
}
.audience-card {
  max-height: 240px;
  i {
    &.name-icon-position {
      position: absolute;
      right: 32px;
    }
  }
  h4 {
    &.display-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      color: @tin-heavy;
      text-transform: none;
      font-size: 0.9em;
      border-bottom: 1px solid @mono-light;
    }
  }
}

.creative-card {
  height: 240px;
  max-height: 260px;
  .card-separate {
    padding-left: 0;
    padding-right: 0;
    .page-name {
      margin-bottom: 1.5em;
    }
    .existing-post {
      margin-top: 1em;
    }
  }
  .card-creative-image{
     max-width: 64px;
     display: inline;
     border: none;
  }
  .creative-main-block {
    .header-name {
      margin-bottom: 1em;
      text-align: center;
      border-bottom: 1px solid @mono-light;
    }
    .fa {
      position: absolute;
      bottom: .5em;
      left: .5em;
    }
  }
}

.card-header h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div[fs-back-img]{
  height: 8em;
  // width: 15em;
}

.card-footer{
  background-color: #EFEFEF;
  color: black;
}
.go-home{
  cursor: pointer;
}
.go-home:hover{
  text-decoration: underline;
}

.audienceLabels{
  margin-right: 4em;
}

.search-container{
  float: right;
  margin: 1em;
  input{
    float: right;
  }
}

.segment{
  border-radius: 6px;
  padding: 4px;
  background-color: #EFEFEF;
  margin: 2px;
  display: inline-block;
}

.search-input{
  border-radius: 2px;
}

.remove-label{
  font-size: 11px;
  float: right;
  margin-top: -8px;
}

.selected{
  outline: 1px solid @nature-heavy;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.selected .expand{
  background-color: white;
}

.lib-footer{
  background-color: @pale;
  padding: 1em;
  min-height: 5em;

  // margin-bottom: 0;
  .lib-button{
    float: right;
    padding: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
  }
  .back-button{
    float: left;
    padding: 0.5em;
    cursor: pointer;
  }
}

.lib-body{
  /*height: 500px;
   overflow: scroll;*/
   border-top: 1px solid black;
}

.fake-link {
    color: #2D84D2;
    cursor: pointer;
}

.fake-link:hover{
  text-decoration: underline;
}

.lib-button:hover{
  background-color: black;
  color: white;
}

.card-details{
  display: none;
  margin-top: 4.8em;

}

.card:hover{
  .card-details{
    display: block;
  }
}

.layer {
    background-color: @nature-light;
    opacity: 0.5;
    position: absolute;
    font-size: 0.85em;
    top: 0.85em;
    left: 1.3em;
    text-align: center;
    width: auto;
    height: 41%;
    color: @tin-heavy;
    font-weight: bold;
}

.selected-icon{
  float: right;
  margin-top: -10px;
  color: @nature-heavy;
  margin-right: -10px;
}

.segment-container{
  overflow: hidden;
}
.paginate-button{
  font-size: 10px;
}

.image-files-container{
  padding: 5em;
  height: 22.2em;
}

.search-library-block {
  width: 31%;
  margin-bottom: -4em;
  position: relative;
  .fa-search {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    right: 0;
    padding-right: 1.8em;
  }
  input {
    padding-right: 2em;
  }
}
